[2022-05-31 05:28] #7269 closed

[2022-05-31 05:34] InfRandomness commented on #6080
@camsteffen is this still something to be fixed ?

[2022-05-31 11:58] hellow554 opened #8919 "`match_same_arms` does not take lifetimes into account"
### Summary

Taken from this real-world example: https://github.com/rust-lang/log/blob/7fb28c36c7a418912612ab37ab49bd4ca1a3a7f5/src/lib.rs#L812-L826

### Lint Name

match_same_arms

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

Problem is, that if I do that:

[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-05-31 12:23] jplatte opened #8920 "Lint request: filter(is_some).map(unwrap)"
### What it does

Lint about usage of `.filter(/* ... */).map(/* ... */)` calls that could be simplified to `.filter_map(/* ... */)`.

### Lint Name

filter_then_map

### Category

_No response_

### Advantage

- Removes an unnecessary `.unwrap()`
  - … or `.expect()`
  - … or `.unwrap_or*` with a never-used default value / expression
- Makes the code easier to read and shorter

### Drawbacks

_No

[2022-05-31 12:58] mikerite commented on #8920
This looks like a [manual_filter_map](https://rust-lang.github.io/rust-clippy/master/index.html#manual_filter_map) false negative to me.

[2022-05-31 13:22] c410-f3r commented on #8903
Like @llogiq said, types should be configurable. Built-in types that don't panic would then be listed as allowed somehow.

I was thinking about creating an `arithmetic` lint that could suppress `integer_arithmetic` in the long run.

[2022-05-31 15:57] #8873 closed

[2022-05-31 16:13] #6356 closed

[2022-05-31 16:13] #2906 closed

[2022-05-31 16:33] #8745 closed

[2022-05-31 18:05] #7381 closed

[2022-05-31 18:56] SKyletoft commented on #7975
This still affects me

[code]

[2022-06-01 10:12] leonardo-m opened #8922 "Duplicated sub-conditions in boolean expression lint"
### What it does

In this code below the test contains two repeated expressions. This could be a mistake (a bug) so I think it's a good idea for Clippy to spot it with a lint similar to "ifs_same_cond".

### Lint Name

redundant_sub_cond

### Category

suspicious

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

[2022-06-01 10:14] leonardo-m opened #8923 "Redundant if test lint"
### What it does

Here the first if test contains a return so the second if can't be true. This is usually a coding mistake that could hide a bug, so I think a lint that spots such situations is good. This lint could be complex (like firing even if the first test contains "< 3") but even basic cases like this with repeated conditions should be useful.

### Lint Name

impossibile_if_branch

### Cat

[2022-06-01 12:44] Alexendoo opened #8924 "`transmute_ptr_to_ref` false positive for types containing differing lifetimes"
### Summary

There's one last FP in #2906 that wasn't fixed

### Lint Name

transmute_ptr_to_ref

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

It shouldn't lint, as `&*ptr` would fail to compile

### Version

_No response_

### Additional Labels

_No response_

[2022-06-01 12:48] AlphaCodingPilot opened #8925 "clippy bug report"

[2022-06-01 13:41] bstrie commented on #8867
Same here, I suggest that this lint should be removed from `clippy::all` while this bug exists.

[2022-06-01 16:01] Jarcho commented on #8925
Looks like `redundant_clone` isn't taking into account that `Term::solve` requires a mutable reference. It should be suggest making the binding mutable as well.

e.g.
[code]
should be
[code]

[2022-06-01 16:29] Jarcho commented on #8346
It might be doable. I can't think of a reason why it couldn't work, but it has to be done as least somewhat separately for each lint.

You might need changes on the rustc side to make that work. It might be worth waiting until [polonius](https://github.com/rust-lang/polonius) is ready, but that could be years.

[2022-06-01 17:53] dhardy opened #8926 "if_same_then_else should ignore empty bodies"
### Summary

Example:
[code]
Yes, this is just a chained `if` expression. There are different ways to write it; as a single expression with/without brackets, via `let` bindings (though it's less clear if these take advantage of lazy evaluation), even via a `match` expression.

This is all about style (which, in my opinion, Clippy does not deserve a say in) and nothing about efficiency or redundanc

[2022-06-01 18:32] tamaroning opened #8927 "redundant_clone does not take `as_...()` into account"
### Summary

redundant_clone does not take as_mut and as_ref into account

### Reproducer

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0164bff1d54db170c27d2921c8f881d7
I tried this code:

[code]

I expected to see this happen:
clippy warns needless clone in line 4

Instead, this happened:
no error

### Version

_No response_

### Additional Labels

@rustbot label +I-fal

[2022-06-01 18:33] yeputons opened #8928 "`single_match` should lint exhaustive `match` on standard types"
### Summary

After #8282 was closed via #8322 (in Rust 1.60) the example below is no longer linting.

The original rationale was that Clippy should not lint `match`es on user-defined enums which explicitly list all possible options. Otherwise extending the enum later would break the original code, but not the fixed one, which may be unexpected for the author.

However, there is little reason to be

[2022-06-01 23:49] Starwort opened #8929 "unnecessary_to_owned causes type mismatch"
### Summary

Clippy will suggest turning `.to_vec().into_iter()` into `.iter().copied()` even when doing so causes a type mismatch later in the function

### Lint Name

unnecessary_to_owned

### Reproducer

I tried this code:

[full code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c69de5dd76445484f6df942e958006bb)
[code]

I saw this happen:

[code]

I expected to see t

[2022-06-01 23:50] Starwort commented on #8929
(why is this mentioned in the form field then?)

[2022-06-02 06:34] hellow554 commented on #8929
@Starwort it's an uppercase i, not a lowercase L (:

@rustbot modify labels: I-suggestion-causes-error

[2022-06-02 08:08] Starwort commented on #8929
Ah, of course

[2022-06-02 09:19] smoelius commented on #8929
Not long ago, we changed the suggestion to `MaybeIncorrect` because of [a similar problem](https://github.com/rust-lang/rust-clippy/issues/8148): https://github.com/rust-lang/rust-clippy/blob/0d5ace3ed22fdd6ee25ee1dda42139d36c0aeec4/clippy_lints/src/methods/unnecessary_to_owned.rs#L221-L223

[2022-06-02 09:54] laralove143 opened #8931 "Test function name starts with `test_`"
### What it does

None of the examples in [Rust guidelines](https://doc.rust-lang.org/book/ch11-01-writing-tests.html) on writing tests start functions with `test_`, which makes for better code quality since `tests::foo` is more readable than `tests::test_foo`

Somewhat related to: [clippy::module_name_repetitions](https://rust-lang.github.io/rust-clippy/master/#module_name_repetitions)

### Lint

[2022-06-02 10:54] DevAccentor commented on #8847
@rustbot claim

[2022-06-02 13:14] kyoto7250 commented on #8927
Hello.

I thought we should not lint.

[code]

The code above is not the same as the code below.

[code]

 As far as I know `let _ = r;` does not move ownership.

[code]

To implement this, we need to check ownership does not move in the end.

[2022-06-02 14:04] tamaroning commented on #8927
Oh thank you. I have little thought of that.

[2022-06-02 16:52] #8894 closed

[2022-06-02 17:50] Alexendoo commented on #3866
No longer linted: #8204

[2022-06-03 00:17] #8879 closed

[2022-06-03 05:20] mikerite commented on #8931
I've seen that sometimes the test functions are directly in the module that gets tested and not a nested module. I guess the lint isn't applicable in that case.

[2022-06-03 10:52] #7147 closed

[2022-06-03 11:04] #8750 closed

[2022-06-03 19:31] Will-Low opened #8936 "Discourage evaluation in log macros"
### What it does

This lint would suggest not to perform evaluations in [log macro](https://docs.rs/log/latest/log/#macros) parameters. This is because an expression can panic within the log macro, but it wouldn't be evaluated if a logger implementation is not already configured.

### Lint Name

Evaluation in Log Macro

### Category

_No response_

### Advantage

- Reduces the possibility of an un

[2022-06-03 19:41] #8847 closed

[2022-06-03 23:26] Jarcho commented on #8924
This should lint, but the suggestion should be `&*(ptr as *const &())`

[2022-06-03 23:40] matthiaskrgr opened #8938 "conditions that are always true or false"
### What it does

It would be great if clippy could somehow try to const-eval expressions in conditions and warn if they always return true/false.

### Lint Name

?

### Category

suspicious, complexity

### Advantage

This could find logic bugs for example

### Drawbacks

_No response_

### Example

[code]

[2022-06-04 07:09] DevAccentor commented on #5794
@rustbot claim

[2022-06-04 07:13] DevAccentor commented on #5352
@rustbot claim

[2022-06-04 07:48] DevAccentor commented on #5352
The lint already exists and does that. The issue can be closed.

[2022-06-04 07:52] DevAccentor commented on #6762
@rustbot claim

[2022-06-04 08:45] Kage-Yami opened #8940 "`needless_pass_by_value` FP that errors once actioned because of trait bounds (Bevy)"
### Summary

When using the Bevy ECS game engine, "systems" are defined as a function with parameters. Bevy also has wrapper types around `&` references: `Res<T>` (at least, that's how I understand it), that are used as parameters to systems.

The `needless_pass_by_value` lint is triggered by the `Res<T>` type; however, actioning the lint by making it `&Res<T>` will result in compilation errors be

[2022-06-04 08:48] Kage-Yami commented on #8940
Given the issue is around trait bounds, I assume this is not specific to Bevy, but I absolutely do not understand the internals of Bevy enough to be able to create a minimal reproduction without dependencies.

[2022-06-04 09:25] DevAccentor commented on #8151
@rustbot claim

[2022-06-04 11:20] matthiaskrgr opened #8943 "make `unnecessary_mut_passed` machine applicable"
### Description

Would be cool if this lint was machineapplicable. In theory I think we just need to take the current code and remove the `mut ` from it or something like that?

### Version

[code]

### Additional Labels

_No response_

[2022-06-04 11:24] xFrednet commented on #8877
This should hopefully be simple (Famous last words xD)

@rustbot claim

[2022-06-04 12:59] Jarcho commented on #8940
Minimal repro:
[code]

The problem here is `f2` on it's own doesn't need a reference, but as a parameter to `f` it does need one.

[2022-06-04 13:21] #8920 closed

[2022-06-04 15:39] laralove143 commented on #8931
Could you elaborate? Maybe showing a module tree

[2022-06-04 15:50] asomers opened #8946 "unsound trait impl on union"
### What it does

Warns if a trait is manually implemented on a union type, if it's not safe to do so.

For example
[code]
A common pattern for using unions is to initialize only the fields one intends to use.  But there's no way for most trait impls to know which fields those are.  Accessing an uninitialized field is undefined behavior.  Even if the entire object was zero-initialized like `let mu

[2022-06-04 16:05] RalfJung opened #8948 "manual_flatten: help texts are in the wrong order"
### Description

Running clippy on [this file](https://github.com/rust-lang/miri/blob/master/cargo-miri/bin.rs), I get the following suggestion:
[code]
The two `help` seem to be in the wrong order. At least, it seems to start a sentence with `..and`, which is rather confusing. ;) It took me a while to parse this lint.

### Version

[code]

### Additional Labels

_No response_

[2022-06-04 18:12] #8904 closed

[2022-06-04 20:08] Jarcho commented on #8946
The category should be `suspicious` rather than `correctness` unless the implementation is examined. There are enough cases where it is sound.

[2022-06-04 22:51] mvolfik opened #8949 "`drop(not_send_value)` ignored for future_not_send"
### Summary

`drop(not_send_value)` seems to be ignored for the future_not_send lint (from nursery)

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d7ea993360f421f4521c95100ae5e385)

### Lint Name

future_not_send

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected the lint to not be shown, as the code is (at least I belie

[2022-06-04 22:53] mvolfik commented on #8949
Oops, didn't search for MCVE enough, the branch isn't even necessary, this is flagged too:

[code]

[2022-06-05 00:33] Jarcho commented on #8949
The future doesn't implement send in that example. This fails to compile:
[code]

[2022-06-05 07:12] DevAccentor commented on #8800
@rustbot claim

[2022-06-05 09:27] DevAccentor commented on #8581
@rustbot claim

[2022-06-05 11:34] #6762 closed

[2022-06-05 23:18] kyoto7250 commented on #8097
@rustbot  claim

[2022-06-06 07:35] mvolfik commented on #8949
Hmm, but why?

[2022-06-06 09:16] leonardo-m opened #8955 "Unnecessary match sub-argument lint"
### What it does

Clippy could spot situations similar to this one, where the second input (b) is unnecessary.

This is a very simple example, easy to spot visually. Clippy should be able to spot all similar situations.

### Lint Name

unnecessary_match_argument

### Category

suspicious

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

test1 is equivalent to test2:

[2022-06-06 13:38] tamaroning commented on #8886
@rustbot claim

[2022-06-06 14:56] mladedav opened #8956 "Compiler error with `Option<&Option<T>>`"
I was able to isolate minimal example:
[code]

If `o2` is `Option<Option<String>>` (and `cloned` is not used) instead of `Option<&Option<String>>` everything works.
`cargo build` works for the project, only clippy fails.
<details>
<summary>Output with backtrace</summary>

[code]
</details>

[2022-06-06 16:11] Jarcho commented on #8949
I'm going to assume the the compiler uses everything in scope at the await point when creating the generator (which `a` is, even though it's been dropped).

[2022-06-06 16:51] #8877 closed

[2022-06-06 17:04] daprilik commented on #8847
Thanks @DevAccentor :tada:

[2022-06-06 17:40] tamaroning commented on #8886
Hi, now I am trying to cover as many cases as possible.
Here are some of the cases:
[code]

I am trying to catch all uses of such `read`s by pattern matching but I think it is almost impossible.
Does clippy or rustc have any useful util for this?

[2022-06-06 19:42] matthiaskrgr commented on #8956
Hi, could you check a nighty version/nightly clippy?
I can't reproduce this with `clippy 0.1.63 (a6b8c69 2022-06-03)`.

[2022-06-07 00:05] joshtriplett commented on #8886
From a dataflow perspective, all of those have the same structure: there's a call to `read` (or to `read_exact`) whose argument is a `Vec` known to be zero-size (because it hasn't been changed since a call to `Vec::new()` or `Vec::with_capacity(...)` or `vec![]`).

[2022-06-07 04:56] xFrednet commented on #8886
Hey @tamaroning, as mentioned by joshtriplett, these examples are almost the same from a dataflow perspective, the question is now how we can catch these. The simple approach would be to first find a vector initialization and then just check the next statement. Alternatively, you can take a look at a [`Visitor`](https://doc.rust-lang.org/stable/nightly-rustc/rustc_hir/intravisit/trait.Visitor.html

[2022-06-07 07:27] dtolnay opened #8961 "doc_link_with_quotes false postive for code inside code block"
### Summary

The `doc_link_with_quotes` lint is documented as:

However it is incorrectly triggering on code inside of code blocks.

### Lint Name

doc_link_with_quotes

### Reproducer

[code]

[code]

It is indeed a code block though.

![Screenshot from 2022-06-07 00-27-18](https://user-images.githubusercontent.com/1940490/172321239-6d87fec0-230b-4cee-8f46-ba61ecf47947.png)

Mentioning @cameron10

[2022-06-07 07:29] mladedav commented on #8956
@matthiaskrgr You're right, I have updated the toolchains but tried just stable. Nightly toolchain works.

[2022-06-07 07:29] #8956 closed

[2022-06-07 07:35] cameron1024 commented on #8961
Hmm this looks pretty bad, I'll have a look at this. I'm pretty new to clippy so I'm not sure how long it will take 😅

[2022-06-07 07:40] dtolnay opened #8962 "mismatching_type_param_order false positive when preceded by nontrivial generic argument"
### Lint Name

mismatching_type_param_order

### Reproducer

[code]

[code]

The `R` is in the correct position though. I think this code is correct as written.

### Version

[code]

### Additional Labels

_No response_

[2022-06-07 07:41] dtolnay commented on #8962
Mentioning @arieluy @dswij since this lint was recently added in #8831.

[2022-06-07 08:29] cameron1024 commented on #8961
Hmm this looks pretty bad, I'll have a look at this. I'm pretty new to clippy though so I'm not sure how long it will take 😅

[2022-06-07 08:58] aviramha opened #8963 "significant-drop-in-scrutinee when false positive"
### Summary

Last version of clippy seems to have false positive on the lint
happens in our CI
https://github.com/metalbear-co/mirrord/runs/6770432194?check_suite_focus=true

### Lint Name

significant-drop-in-scrutinee

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-06-07 15:03] tamaroning commented on #8886
@joshtriplett @xFrednet
thank you!

[2022-06-07 20:08] arieluy commented on #8962
@rustbot claim

[2022-06-07 20:24] 1Dragoon opened #8965 "Clippy makes a broken correction to bad collect()"
### Summary

Playground to the sample working code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f728413bb6ef3793b4075f6b51fc8a2a

Clippy suggest changing the main function from this:

[code]

To this:

[code]
(Note it also inserts an extra unneeded whitespace, not sure what for, but that isn't the main issue)

This won't compile though:

![image](https://user-images.gi

[2022-06-07 21:47] nrempel opened #8966 "unnecessary_find_map false positive"
### Summary

Hi there,

I seem to encounter a false positive with the following code. I don't think it's possible to replace this `find_map` with `find`.

Thanks!

CC: @djc

### Lint Name

unnecessary_find_map

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-06-08 00:14] Jarcho commented on #8966
You can do:
[code]

[2022-06-08 00:42] OliveIsAWord opened #8967 "`option_if_let_else` misses lint on `mut` version of function"
### Summary

The nursery lint `option_if_let_else` will correctly catch a function working with `Option<&T>` but will not catch a nearly identical function working with `Option<&mut T>`.

### Lint Name

option_if_let_else

### Reproducer

I tried this code:

[code]

The lint warns on the first method, and suggests this fix:
[code]
However, it does not warn on the second method. I expected it to wa

[2022-06-08 00:52] Jarcho commented on #8965
Minimal repro:
[code]

Similar to #7526 and #7512.

In this case an the iterator is borrowing a temporary which is dropped at the end of the statement.

[2022-06-08 01:02] #8494 closed

[2022-06-08 09:59] Chralt98 opened #8968 "Clippy misses integer arithmetic error for a specific type"
### Summary

I expected an clippy error when using a specific type, which resolves to be an integer (`u128`).

### Reproducer

I tried this code:

[code]

When running with `-Dclippy::integer_arithmetic`

I expected to see this happen:

`error: integer arithmetic detected`

Instead, this happened:

No error.

### Version

[code]

### Additional Labels

_No response_

[2022-06-08 11:29] bingcicle opened #8969 "Single match arm not causing `single_match` warning"
### Summary

Was writing code as seen below, ran `cargo clippy` with no warnings. (note: this is just a short version of what I actually wrote)

Is there a reason clippy is lenient with this particular check not warning for `single_match`, or is this simply the case of an uncaught lint?

### Reproducer

I tried this code:

[code]

I expected to see the `single_match` lint warning ([Clippy Lints pa

[2022-06-08 11:43] Alexendoo commented on #8968
It appears to trigger the lint for https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5ae8ae28263bb35ccc1987355557aa80

Is there some other context needed?

[2022-06-08 12:05] zeenix opened #8970 "derive_partial_eq_without_eq triger for types that can't implement Eq"
### Summary

On [this struct](https://gitlab.freedesktop.org/dbus/zbus/-/blob/5e7968fb21a4cf468a86d16c801437d41c65a86a/zvariant/src/array.rs#L18), I get a warning:

[code]
Now if I add `Eq` on this `Array` struct, I've to also add it on the[ `Value` enum](https://gitlab.freedesktop.org/dbus/zbus/-/blob/5e7968fb21a4cf468a86d16c801437d41c65a86a/zvariant/src/value.rs#L73) but that can't derive `Eq` b

[2022-06-08 14:19] #8875 closed

[2022-06-08 14:55] tokatoka opened #8971 "Can't ignore clippy::borrow_deref_ref"
### Summary

We have this function in our crate https://github.com/AFLplusplus/LibAFL/tree/main/libafl
https://github.com/AFLplusplus/LibAFL/blob/main/libafl/src/observers/mod.rs#L816

[code]

and clippy gives this warning
[code]

We actually have allow(clippy::all) on this function, but still the clippy gives this error and it's not ignored.

### Lint Name

borrow_deref_ref

### Reproducer

You c

[2022-06-08 15:31] andreafioraldi commented on #8971
Related to https://github.com/rust-lang/rust-clippy/pull/7930 I guess

[2022-06-08 16:05] ijackson opened #8973 "Not possible to silence new lint about dbg in tests without editing tree"
### Summary

In our project we want to allow use of `dbg!` in tests.  I filed issues about this #8481 and #8758 and kind contributors implemented my request.  However, this turned out to be controversial - #8838.  To deal with this a new configuration file item was introduced, `allow-dbg-in-tests`, #8897.

However, it is not possible to use this in an to re-allow `dbg!` in tests (which are allowed

[2022-06-08 16:22] nrempel commented on #8966
Ah, thank you! This seems very obvious with fresh eyes 😅

[2022-06-08 16:22] #8966 closed

[2022-06-09 00:02] Serial-ATA opened #8975 "Lint list has missing meta tags"
### Description

The [lint list](https://rust-lang.github.io/rust-clippy/master/) currently has no description [meta tag](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name).

That produces some less than desirable results from search engines :smile::

![image](https://user-images.githubusercontent.com/69764315/172736021-a882054e-df2f-4b2f-8c14-2a4fdbfe1d41.png)

![image](https://

[2022-06-09 00:04] Jarcho commented on #8971
Fixing this is waiting on #8694.

In the meantime you can allow at the module or crate level.

[2022-06-09 00:23] #8898 closed

[2022-06-09 04:30] xFrednet commented on #8971
https://github.com/rust-lang/rust/issues/97660 is also related to this, as the lint is currently not emitted at the correct location.

[2022-06-09 11:09] Jerrody opened #8977 "Unexpected compiler panic."
Rust Metadata (everything is updated):
[code]

[code]

Full code:
[code]

[2022-06-09 11:15] Jerrody commented on #8977
P.S.
I will try to check with `clippy` via stable version of Rust, also I will send a `RUST_BACKTRACE`.

[2022-06-09 11:17] Jerrody commented on #8977
The first part of the Update:
I changed the toolchain to the stable version. Now I don't get an unexpected compiler panic.
[code]
Only an error that is a problem in my code.

[2022-06-09 12:08] J-ZhengLi commented on #8919
@rustbot claim

[2022-06-09 13:12] kyoto7250 opened #8978 "`needless_return` has false negative pattern"
### Summary

There is a pattern that does not work even though needless_return is enabled.

[playground is here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9f84d1d415ac46d0e0fdb123b4a46462).

### Lint Name

needless_return

### Reproducer

I tried this code:

[code]

I expected to see this happen: There should be a suggestion as above follows.

[code]

Instead, this ha

[2022-06-09 15:49] Jarcho commented on #8968
`integer_arithmetic` can't lint on generic types as other types could be substituted there.

[2022-06-09 16:01] Chralt98 commented on #8968
Thank you for your answer. What a pitty!

[2022-06-09 16:06] Jarcho commented on #8968
There should be a lint for using any arithmetic operators soonish.

[2022-06-09 17:40] matthiaskrgr commented on #8977
This is a rustc bug: https://github.com/rust-lang/rust/issues/97698

[2022-06-09 20:40] botahamec commented on #8928
So I think I got this working, but I noticed an interesting side effect with the ``[`single_match_else`]`` lint:
[code]

I'm not sure if this is something we want or not. I know this is a pedantic lint though, so let me know if I'm being silly.

[2022-06-09 20:43] matthiaskrgr opened #8980 "useless destructive match"
### What it does

[code]

[2022-06-09 20:50] botahamec commented on #8928
Actually, that fix would result in a compiler error, so yeah, that's definitely not what we want. I'll try fixing it

[2022-06-10 01:38] hbina commented on #6636
@ChrisJefferson One use-case I've experience (albeit a bit contrived) is when the program is a running in a black box and the only way to know something bad happen is to propagate this error all the way out of the system. Otherwise, it will just panic and you have to restart it. For example, an HTTP server that's running in a machine for which I don't have access to (so no logging or anything).

[2022-06-10 08:09] leonardo-m opened #8982 "Unnecessary Vec/VecDeque reserve lint"
### What it does

Inspired by:
https://github.com/rust-lang/rust/pull/97922

In a basic case like this Clippy could suggest to remove the call to reserve() because it's unnecessary:

### Lint Name

unnecessary_reserve

### Category

perf

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]
The same for VecDeque.

[2022-06-10 08:31] SpriteOvO commented on #8963
Same problem:

[code]

Warning:

[code]

[2022-06-10 09:40] xFrednet commented on #8131
Hey, @bsimon12, I've unassigned you from this issue, since it has been a long time since you've claimed it. If you want to continue work on this or select another good-first-issue you can always claim it again :upside_down_face:

[2022-06-10 15:43] Jarcho commented on #8970
Does this still occur on the latest nightly? I haven't been able to get it on the playground.

[2022-06-10 17:19] zeenix commented on #8970
Actually you're right. I can't reproduce anymore. Thanks.

[2022-06-10 17:19] #8970 closed

[2022-06-11 07:45] tamaroning opened #8986 "blacklisted_name should not tbe triggered in tests"
### Summary

blacklisted_name should toralate use of such name as `foo`.
As far as I see the source code, it tries to allow `foo` in tests, but it doesn't.

Similar to https://github.com/rust-lang/rust-clippy/issues/8758

### Lint Name

blacklisted_name

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
No warning

### Version

[code]

### Addit

[2022-06-11 18:25] Kixiron commented on #8963
The false positives also appear in for loops
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=317855c1762c498b102cd4ff3da6cb51)
[code]
[code]
[code]

[2022-06-12 08:26] crumblingstatue opened #8987 "significant_drop_in_scrutinee is confusing and not very useful for for loops"
### Description

The following code
[code]
produces this clippy output:
[code]
The first confusing thing is the name. Scrutinee only makes sense for match, it's not used in the context of for loops.
If one visits the lint page, it doesn't talk about for loops at all, and what the ideal code would look like for for loops.

The naive thing to do here would be to bind the guard before the for loop (i

[2022-06-12 11:30] tamaroning commented on #8961
@cameron1024
Hi, this lint seems not to deal with code blocks (` ``` ... ``` `) for now.
You should add `in_code_block: bool` field  to `DocLinkWithQuotes` struct and a logic which change its value when bumping into ` ``` `. (do not forget to add tests for it)
(See https://github.com/rust-lang/rust-clippy/blob/master/book/src/development/adding_lints.md#adding-configuration-to-a-lint)

If you do n

[2022-06-12 12:15] Alexendoo commented on #8961
`doc.rs` contains code that reassembles + parses markdown from doc comments, the lint could be down by replacing `fake_broken_link_callback` with a closure that checks if the link is enclosed in `'`. That would also avoid any weird behaviour with backticks appearing in code blocks

https://github.com/rust-lang/rust-clippy/blob/b3c94c0828c3746437304e8bc26547486c7a5699/clippy_lints/src/doc.rs#L470-L

[2022-06-12 12:24] kyoto7250 commented on #8915
@rustbot  claim

[2022-06-12 18:46] yeputons commented on #8928
Seems weird to me. These two lines of code look exactly the same, would you mind showing the compiler error? Probably some lifetime issues, if I were to guess.

[2022-06-12 21:19] botahamec commented on #8928
@yeptuons The problem is that the `Err` arm creates a variable called `errs`, which is being used in the block

I don't have the clippy source code on my laptop, but in the playground it looks something like this:
[code]

[2022-06-13 00:24] giraffate commented on #8977
Thanks for the report!

I'm closing this because of https://github.com/rust-lang/rust-clippy/issues/8977#issuecomment-1151415225.

[2022-06-13 00:24] #8977 closed

[2022-06-13 00:28] #7861 closed

[2022-06-13 00:28] #5939 closed

[2022-06-13 05:04] kyoto7250 commented on #8753
@rustbot  claim

[2022-06-13 09:08] aminya opened #8991 "Cache invalidation with `cargo clippy --fix --allow-dirty --allow-staged`"
### Summary

Every time I run `cargo clippy --fix --allow-dirty --allow-staged`, the command builds the packages are checked and built without respecting the cache. If I simply run `cargo clippy`, then the caching starts to work again.

### Reproducer

_No response_

### Version

[code]

### Additional Labels

@rustbot L-perf

[2022-06-13 15:36] e-rhodes opened #8993 "`or_fun_call` doesn't suggest `map_or_else`"
### Summary

When calling `map_or` with a function call as the default value, clippy does not suggest writing it with `map_or_else` instead as it does for the other `or` methods.

This may be related to #5821.

### Lint Name

or_fun_call

### Reproducer

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=293d1a5b84a6b15c55f3822d187f049a)

I expected t

[2022-06-13 16:37] e-rhodes opened #8994 "Unnecessary use of `.ok()` followed by method equivalently defined on both `Option` and `Result`"
### What it does

There is an existing lint, `ok_expect`, that warns against the following code:

`res.ok().expect("msg")`

saying that the `.ok()` can be removed and expect called directly. This can be generalized to other methods that can be called on both `Option` and `Result`.

The methods I could find that this could apply to include:
 - `expect`
 - `unwrap`, `unwrap_or`, `unwrap_or_default`,

[2022-06-13 22:18] Alexendoo opened #8995 "`ptr_arg` false negative when `ImplIterator` is used"
### Summary

When the `IntoIterator` impl of a `&Vec` is used the lint doesn't fire

### Lint Name

ptr_arg

### Reproducer

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=045036269cc6a1a1399da4154c1a65d1)

### Version

_No response_

[2022-06-14 04:58] dswij commented on #8978
@rustbot claim

[2022-06-14 05:06] madsmtm opened #8998 "`let_unit_value` triggers on generic return value"
### Summary

When using [`objc`](https://github.com/SSheldon/rust-objc), a library commonly used when dealing with Objective-C, you often have to use `let _: () = ...` to tell the compiler what the return type, since the return type is generic.

This triggers the lint. Trying to apply the lint's suggestion results in a compilation error. The lint doesn't trigger on Rust `1.61.0`.

### Lint Name

`

[2022-06-14 05:36] Jarcho commented on #8998
I assume the `msg_send` macro is similar to what you have on the playground. i.e. it doesn't call the function directly, but wraps it in a block of code. Functions returning a generic type should be handled already, but only when the function result is assigned more directly.

[2022-06-14 05:51] madsmtm commented on #8998
Yup, that's why I wrote the playground example as such

[2022-06-14 09:16] #7378 closed

[2022-06-14 18:03] rodrimati1992 opened #9000 "double_parens"
### Summary

The double_parens lint triggers when a macro that returns a parenthesized expression is wrapped in parentheses.

Presumably, this is not the "double parentheses" that the lint is trying to prevent, since there are no textual double parentheses (`((` and `))` being literally in the source code, ignoring spaces).

### Lint Name

double_parens

### Reproducer

I tried this code:

[code]

[2022-06-15 06:35] #8886 closed

[2022-06-15 10:02] andylizi opened #9001 "`never_loop` false positive with struct expressions"
### Summary

`never_loop` does not pick up `continue` in struct expression fields.

### Lint Name

`never_loop`

### Reproducer

I tried this code:

[code]

[(playground)](https://play.rust-lang.org/?version=nightly&gist=255863740fc6fdd83f84cfa30eddb23a)

I saw this happen:

[code]

I expected no error, since it will loop forever.

### Version

[code]

[2022-06-15 18:51] Alexhuszagh opened #9003 "Suggest `and_then`"
### What it does

If there is a callback that takes a type `T` and returns `Option<U>` (or `Cb: Fn(T) -> Option<U>`), if we have type `Option<T>`, we should prefer `opt_t.and_then(cb)`, and not `opt_t.map(cb)`. This means the result will be `Option<U>` and not `Option<Option<U>>`.

### Lint Name

option_map_option

### Category

style

### Advantage

It avoids nested pattern matching to resolve th

[2022-06-15 18:54] #9001 closed

[2022-06-15 19:10] Emilgardis commented on #9003
Specifically, I think this makes the most sense only when used in pattern matching.

We already have the `pedantic` lint `option_option` which should catch if the type is used used in a typedef or fn signature

[code]

[2022-06-16 02:11] kyoto7250 commented on #8836
@rustbot  claim

[2022-06-16 04:46] mikerite commented on #9003
`map` and `and_then` don't do the same thing. This lint _only_ makes sense if the return from `map` is immediately unwrapped somehow.

[2022-06-16 05:30] Jarcho commented on #8998
@rustbot claim

[2022-06-16 09:44] Xuanwo opened #9004 "Add lint for match `io::ErrorKind::Other`"
### What it does

`io::ErrorKind::Other` is not recommended to be used in the match:

But `Other` is easy to be used wrongly.

It's better for us to warn of this usage.

As proposed in https://github.com/rust-lang/rust/issues/86442#issuecomment-1157442038

### Lint Name

match_io_error_other

### Category

correctness

### Advantage

- Avoid breaking after the new `ErrorKind` variant introduced

#

[2022-06-17 06:54] xmo-odoo opened #9009 "Large enum variant: print size of all other variants?"
### Description

For enums where all variants are quite large, the lint seems pretty misfirey e.g. I've an enum where the largest member is 7200 bytes, but the second largest is 6800, and the third is probably 6500.

The lint currently only prints the first and second, which is less informative than it could be.

An other option would be to suggest boxing the entire enum if many / most variants ar

[2022-06-17 08:55] jplatte opened #9010 "New lint: ref_pattern, for disallowing the ref keyword"
### What it does

I would like to have a lint that fires on any use of the `ref` keyword.

### Lint Name

ref_pattern

### Category

restriction

### Advantage

Code that doesn't use it is easier to read for newcomers since they're unlikely to be aware of what it does.

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-06-17 12:11] Kinrany commented on #1136
Perhaps CamelCase words should have their own separate lint. It feels sufficiently more pedantic and less consequential than other parts of `doc_markdown` that actually protect Markdown rendering from being broken.

[2022-06-17 14:23] ThibaudDauce opened #9011 "redundant_clone: breaks compilation when removing clone"
### Summary

When using the result of `split_once()` to mutate the original string, you need to clone the original string (because `split_once()` return references). But Clippy wants me to remove the `clone()` breaking the compilation.

### Lint Name

redundant_clone

### Reproducer

I tried this code (https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b08b645802c1cf4110647263

[2022-06-17 18:26] B-Reif commented on #8643
The documentation in https://doc.rust-lang.org/std/fmt/#fillalignment specifically _suggests doing this_ to work around these kinds of alignment issues:

Then if you actually do this, clippy complains about it.

[2022-06-17 21:25] #8915 closed

[2022-06-17 22:54] kevinaboos opened #9012 "`cargo clippy` fails to run if the `-- -A warnings` suffix is provided"
### Summary

When running the following on the Theseus OS code base
[code]
We encounter the following output:
<details>
  <summary>Click to expand the output</summary>

[code]
</details>

Note that when _removing_ the `-- -A warnings`, it works as expected. Funnily enough, it also works with `-- -D warnings`. Quite strange.

### Reproducer

Check out Theseus:
[code]
Then run the above command
[cod

[2022-06-18 00:13] wainwrightmark opened #9013 "Incorrect fix for variable being used as a loop counter"
### Summary

I think the automatic fix for an index being used as a loop counter is broken. My guess is that it ought to be removing the original variable declaration and the increment statement. I'm getting the same error on both stable and nightly.

### Reproducer

I tried this code:

[code]

I ran `cargo clippy --fix` expecting either no change or refactoring to use `.into_iter().enumerate()`

[2022-06-18 06:46] kyp44 commented on #8132
Having the same issue in commit `34a576b2be14289d6b95928508e557dcf217594c` of my project here: [https://github.com/kyp44/advent-of-code](https://github.com/kyp44/advent-of-code).

It seems that this lint should probably not flag if `.rev()` is used and the original iterator does not implement `DoubleEndedIterator`.

[2022-06-18 11:00] JohnTitor opened #9014 "[FP] `extra_unused_lifetimes` can be triggered by a derive macro"
### Summary

Consider this code:
[code]

(The code is from the [crates.io source code](https://github.com/rust-lang/crates.io/blob/3122f53068d5b677f4cfaca95aebc45d5f705a95/src/models/user.rs#L25-L34))

The struct itself needs the `'a` lifetime, but notice we use the `Insertable` derive macro from the Diesel.
`Insertable` will trigger `extra_unused_lifetimes` and cause the below warning:
[code]

Bu

[2022-06-18 11:31] yuk1ty commented on #9010
@rustbot claim

[2022-06-18 17:47] Ralith commented on #6353
Bump. This is still breaking my CI. Can we get it rolled back?

[2022-06-18 18:06] Aaron1011 commented on #8998
For what it's worth, I think that would be a false positive even if the suggestion didn't cause a compilation error. Writing `let _: () = some_expr` can also be used to assert that an expression produces `()`.

[2022-06-18 21:05] c410-f3r opened #9018 "`enum_variant_names` shouldn't trigger when all prefixes are `_`"
`_` is a special case contrary to any other user-defined prefix.

[code]

[2022-06-19 05:32] matthiaskrgr opened #9019 "expect_fun_call: should not suggest using format arg capture if edition != 2021"
### Summary

If compiled with edition 2018, clippy will suggest the third line for the second line, but the third line will cause the warning about unused format arg... since this is only feature of edition 2021 apparently :/

### Lint Name

expect_fun_call

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-06-19 08:57] SylvainDe opened #9020 "Find unused/irelevant clippy annotations"
### What it does

Here is the use case:

1. I define an entity which causes a defect found by clippy
2. I add a temporary annotation to to be able to run clippy and ensure that new defects are quickly found and fixed
3. I fix the original defect and I completely forget about remove the clippy annotation

-> The clippy annotation is useless but on top of that:

- can be confusing
- can hide issues

[2022-06-19 10:15] SOF3 opened #9021 "Unname method-only trait imports"
### What it does

If a trait is imported only for its methods but not its name directly, append `as _` to the import

### Lint Name

unname_method_only_trait_imports

### Category

style

### Advantage

- The imported name isn't actually used. Keeping it would result in conflicts in the future when other items with the same identifier are imported, at which point developers have to corrupt the com

[2022-06-19 15:17] unvalley commented on #8975
@rustbot claim

[2022-06-19 15:29] Jarcho commented on #9020
This is being added to rust as `#[expect(...)]` rust-lang/rust#54503

[2022-06-19 19:39] david-perez opened #9024 "`unused_async` lint does not work for methods"
### Summary

This program:

[code]

Makes `cargo clippy -- --deny clippy::unused_async` yield:

[code]

However, I see no reason why it should not lint against `method`.

Lint introduced in https://github.com/rust-lang/rust-clippy/pull/7225.

### Version

[code]

[2022-06-19 21:05] SylvainDe commented on #9020
Great! Thanks for the quick answer :)

[2022-06-20 04:14] kyoto7250 commented on #8798
@rustbot claim

[2022-06-20 06:47] SylvainDe commented on #9020
Duplicate of:

- https://github.com/rust-lang/rust-clippy/issues/4636
- https://github.com/rust-lang/rust-clippy/issues/3122

[2022-06-20 06:47] #9020 closed

[2022-06-20 10:40] #8975 closed

[2022-06-20 13:29] #9024 closed

[2022-06-20 23:37] miam-miam100 opened #9027 "Warn about unused named parameter in format strings"
### What it does

Very few beginners know that named parameters can be used in format strings. (https://doc.rust-lang.org/std/fmt/index.html#named-parameters) This can often lead to great confusion as it looks like you are setting the variable to that value.

Additionally since you can now capture identifiers in format strings, named parameters will become less and less common. As such this new li

[2022-06-20 23:42] miam-miam100 commented on #9027
@rustbot claim

[2022-06-21 00:00] jimblandy commented on #7290
This makes Clippy hard to use with generated files, like lalrpop output, because the offending patterns may occur hundreds of times, and the legitimate warnings are hard to find.

Here's another case, with a single source file:

[code]

Output:

[code]

[2022-06-21 12:24] laralove143 commented on #8931
Is anyone looking into this?

[2022-06-21 13:55] kyoto7250 commented on #8986
@tamaroning

Hello.

I tried your code, but the following two cases cannot be reproduced. ([rust playrground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=63161d42dca77cd2c51a5f5f37946a8b))

[code]

last case, I think we should not lint.
They should be ignored in test cases only.

`#[cfg(test)]` and `#[test]` are codes that are ignored except when the test is run,   but

[2022-06-21 15:50] jplatte opened #9029 "derive_partial_eq_without_eq triggers for test-only PartialEq derives"
### Summary

The `derive_partial_eq_without_eq` lint triggers on `#[cfg_attr(test, derive(PartialEq))]`, I think it shouldn't.

### Lint Name

derive_partial_eq_without_eq

### Reproducer

I tried this code:

[code]

I saw this happen with `cargo clippy --tests`:

[code]

I expected to see this happen: no warnings

### Version

[code]

### Additional Labels

_No response_

[2022-06-21 15:58] jplatte commented on #9029
Additionally, the lint also still fires for types that are public within their module, but not part of the crate API (I noticed this in a proc-macro crate and a binary crate).

[2022-06-22 02:06] tamaroning commented on #8986
@kyoto7250

Playground seems not to pass --tests flag to the compiler so I ran clippy in local enviroment.

Yes. I reconsider this and agree with you. But the lint has been fixed in PR https://github.com/rust-lang/rust-clippy/pull/7379 in order to trigger on `fn test`.

[2022-06-22 03:34] kyoto7250 commented on #8986
@tamaroning

I can reproduce now, thanks!

 It doesn't seem urgent, so I hope someone interested will do it.

[2022-06-22 08:15] flip1995 opened #9033 "Improve span of `or_fun_call` lint"
### Description

The lint message currently spans through the entire method chain expression:

[code]

It would be enough to just point to the `unwrap_or`.

_Originally posted by @flip1995 in https://github.com/rust-lang/rust/pull/98261#discussion_r903425629_

### Version

_No response_

### Additional Labels

_No response_

[2022-06-22 17:24] jo-so opened #9035 "mut_mut suggests invalid code"
### Summary

Clippy suggests to re-borrow a struct field which leads to invalid code. The field is of type `&mut dyn …`

### Lint Name

mut_mut

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

The reborrowing `let hlp = &mut *self.inner;` doesn't compile:

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-06-22 22:53] #8798 closed

[2022-06-23 11:08] unvalley commented on #6705
@rustbot claim

[2022-06-23 15:01] crumblingstatue opened #9038 "Weird trigger condition for wrong_self_convention"
### Description

The following code triggers `wrong_self_convention`
[code]

[code]

However, if it's not in a module, or the module is public, the lint doesn't trigger.

### Version

[code]

[2022-06-23 15:56] kyoto7250 commented on #8982
@rustbot  claim

[2022-06-23 20:51] ComputerDruid opened #9041 "ICE when using .find().is_some() which calls a named closure"
### Summary

Minimized repro:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0f7381dbd8881803b9673d26f7000867

gives error:

[code]

### Version

[code]

Locally:

[code]
[code]
error: internal compiler error: compiler/rustc_middle/src/ty/sty.rs:2049:28: to get the signature of a closure, use `substs.as_closure().sig()` not `fn_sig()`

thread 'rustc' panicked at

[2022-06-23 21:08] kwi-dk commented on #8044
Not sure if time has overtaken this ticket, but at least as of
[code]
I get the following results:

1. `cargo --color always clippy` → `color` option is ignored.
2. `cargo clippy --color always` → `color` option is respected and colors are preserved even when redirecting.
3. `cargo clippy -- --color always` → ``error: cannot specify the `--color` option with `--json` ``

So (now, at least) there i

[2022-06-23 23:44] sharifhsn opened #9042 "Stack overflow warning when array is too large."
### What it does

Arrays always allocate on the stack, not on the heap. If an array is declared which is too large for the stack, it will cause a stack overflow at runtime. This can be confusing behavior because it is an unexpected abort in an opaque operation.

This lint detects when the size of an array will/is likely to overflow the stack and warn the user that this type is likely to overflow t

[2022-06-24 08:57] #9014 closed

[2022-06-24 20:39] RalfJung opened #9044 "Lint against RefCell::borrow/borrow_mut on &mut RefCell"
### What it does

On this code:
[code]
the lint would suggest to use `get_mut()` rather than `borrow_mut()`. (Same for `borrow()`, of course.)

### Lint Name

unnecessary_runtime_borrow

### Category

perf

### Advantage

- Removes unnecessary run-time borrow tracking of `RefCell`

### Drawbacks

None that I know if

### Example

See above.

`Mutex` and `RwLock` also have `get_mut` functions, so t

[2022-06-25 12:45] xFrednet opened #9047 "Fix lint attributes/emission location for `await_holding_*` lints"
### Description

The lints: `await_holding_lock`, `await_holding_refcell` and `await_holding_invalid_type`. Are currently emitted at the function they are in, while the diagnostic highlights an expression inside the function. This means that lint attributes only work on the function and not on the displayed expression. This also affects the `#[expect]` attribute, which will not be fulfilled, if ad

[2022-06-25 13:34] safinaskar opened #9048 "let_unit_value should be allowed when I explicitly write "let () = ...""
### Summary

Sometimes I write code like this: `let () = some_function_call()`. I do this to make sure that this function returns unit value, i. e. to make sure that I didn't miss any return value. But let_unit_value warns on this code. So, please, make it not to warn on this code

### Lint Name

let_unit_value

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to

[2022-06-25 14:25] 5225225 opened #9049 "`needless_borrow` suggestion causes error when removing `ref` in match"
### Summary

I was running clippy on rustc and ended up with this error

### Lint Name

needless_borrow

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Nothing. You can't remove the `ref` here without causing a compile error. (Or, suggest the correct thing to do here, I'm not too familiar with `ref` patterns so there might be a correct thing

[2022-06-25 14:35] tschuett opened #9050 "Workspace-level lints"
### Description

https://reviews.llvm.org/D124447

clang-tidy introduces infrastructure to create project-level diagnostics. They write a summary file per source file. In the diagnostic phase, they read all the summaries.

* You could tell me which crate in my workspace is of the lowest quality.
* With a global-view you could find new diagnostics that you cannot find with a local view
*  get creat

[2022-06-25 17:05] #8928 closed

[2022-06-25 20:38] matthiaskrgr opened #9051 "lint use if/else on to match enum when we could use match"
### What it does

lint if-else chains on enums that could be more compact and idiomatic matches.
We might want to bail out of the if/else also includes conditions that are unrelated to the enum variant (if x = 2 && E == E::A)

[code]

There might be other subtle differences regarding lifetimes/peformance or whatever that I'm not aware of right now

### Lint Name

?

### Category

style

### Advant

[2022-06-25 21:36] AaronC81 opened #9052 "redundant_closure_call gives invalid suggestion for an async closure"
### Summary

I was creating an async closure and calling it immediately to get an opaque object I could pass to `impl Future`. Clippy suggested I replace this with a non-async block, which gave a compile error.

### Reproducer

Running Clippy on this minimal example:

[code]

Gives this lint:

[code]

But using this suggestion gives a compile error:

[code]

Whereas this suggestion would have work

[2022-06-26 10:24] alex-semenyuk commented on #9033
@rustbot claim

[2022-06-26 16:29] #9018 closed

[2022-06-27 00:20] #8924 closed

[2022-06-27 11:37] hellow554 commented on #9048
Related to #8998

Here are my two cents:

If you can miss a return value, e.g. it's crucial that you use that return value, than that function should be attributed with `must_use`, which is a seperate clippy lint: [`muse_use_candidate`](https://rust-lang.github.io/rust-clippy/master/index.html#must_use_candidate).
I don't think that assigning to the unit value is a good thing in your case.

On the

[2022-06-27 13:58] #8486 closed

[2022-06-27 14:13] #8097 closed

[2022-06-27 16:42] Jarcho commented on #7757
Probably due to whatever `tracing::instrument` outputs. Detecting whether something is the output of a proc macro isn't always straightforward.

[2022-06-27 16:44] Bunch-of-cells opened #9057 "Clippy doesnt see that value has been moved before suggesting"
### Summary

Basically it didn't see that a value is moved when it suggested and the suggested code doesn't work

### Lint Name

map_entry

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
I didn't expect it to give me wrong code, but I made some changes and it now no longer complains:
[code]

### Version

[code]

### Additional Labels

@rustbo

[2022-06-27 23:48] kyoto7250 opened #9059 "want to lint `binary_heap` in `manual_retain` when API is stabilized"
### Description

I created [manual_retain](https://github.com/rust-lang/rust-clippy/pull/8972), but  `binary_heap_retain` method is nightly API now, so we do not lint.

When this API is stabilized, we should lint `binary_heap_retain` as well.
It will work if we rewrite the process a little and add some tests.

If you have any questions, please ask me.

ref:
- [code](https://github.com/rust-lang/ru

[2022-06-28 00:28] carlomilanesi opened #9060 "dbg! should be removed"
### What it does

Checks that the code does not contains any call to the dbg macro, except in comments. This macro is not suited for production code.

### Lint Name

dbg_should_be_removed

### Category

correctness

### Advantage

If this macro is not removed, some debug lines may be printed to stderr.

### Drawbacks

Some developers may prefer to print debug info in error messages printed to stde

[2022-06-28 00:58] giraffate commented on #9060
We've already have the [`dbg_macro`](https://rust-lang.github.io/rust-clippy/master/index.html#dbg_macro) lint.

[2022-06-28 07:26] #5953 closed

[2022-06-28 07:26] #2961 closed

[2022-06-28 07:42] #7765 closed

[2022-06-28 08:40] Kile-Asmussen opened #9061 "Implicit Copy Lint"
### What it does

An allow-by-default lint to highlight implicit uses of the Copy trait, which has relevance in some kinds of unsafe code. Using it in deny mode would force the programmer to write `.clone()` everywhere they want to copy a value.

### Lint Name

implicit_copy

### Category

_No response_

### Advantage

Among other things, I suggested it in [ UnsafeCell should implement the Copy tr

[2022-06-28 09:18] carlomilanesi commented on #9060
It is allow-ed. In my opinion, it should be deny-ed by default, or at least warn-ed.

[2022-06-28 17:09] tamaroning commented on #8969
This is not a bug.
Please see https://github.com/rust-lang/rust-clippy/issues/8282

[2022-06-28 17:24] matthiaskrgr commented on #9060
If you want this to be linted you can always allow the lint in your projects.
I looked at 841 different crate-versions and only 3 of them opted in to have `dbg!()` linted, 42 used the `dbg!()` macro and 799 didn't use `dbg!()`.

So warning about this by default would make 0.3% of the crates "happy" while 95% probably don't care about having `dbg!()` linted and 4.99% would be annoyed, assuming that

[2022-06-28 19:14] oxarbitrage opened #9062 "`allow-unwrap-in-tests` lint configuration option not working"
### Summary

I added the `unwrap_used` lint to my project but i want to allow this in test code. When i add the configuration variable to clippy.lint i get the following error:

[code]

Any help is appreciated, i might be configuring it wrongly.

### Reproducer

In my .cargo.config.toml i have:

[code]

Then in my clippy.toml i have:

[code]

I expected this to work and don't warn if unwrap() is u

[2022-06-28 21:39] carlomilanesi commented on #9060
OK. I added
#![deny(clippy::dbg_macro)]
as I don't consider good practice to keep dbg calls in production code.
I suspect some of those 799+42 don't know this lint exists, and some of those 42 don't actually need the dbg call in their current code.

[2022-06-28 21:39] #9060 closed

[2022-06-28 23:21] smoelius commented on #9062
That's stable `rustc`, right? I don't think this feature has made it into the version comes with stable `rustc` yet.

[2022-06-29 01:12] kpreid commented on #9048
It looks like #9056 will fix this.

[2022-06-29 01:28] kpreid opened #9063 "derive_partial_eq_without_eq should acknowledge the constraint it adds"
### Summary

The `derive_partial_eq_without_eq` lint and its documentation recommends deriving `Eq` whenever `PartialEq` is implemented on a public type. However, doing so may constrain the evolution of a library: adding `derive(Eq)` prevents later adding a private field, or public field or variant in a `non_exhaustive` enum or struct, which contains an `!Eq` type such as `f64`.

Notably, Clippy r

[2022-06-29 01:44] Jarcho commented on #9048
#9056 will allow it when used for inference, not in general.

[2022-06-29 02:26] kpreid commented on #9048
Oh. Then I think it ought to be changed to also allow `let () =`. The situation in which I met this lint is when the value was _an associated type returned from a method_ — so the `()` pattern won't help inference, but it _does_ serve the role of statically asserting that the type must be `()`. Minimized:

[code]

Note that **`#[must_use]` annotations cannot help here,** since the associated type

[2022-06-29 06:23] tomers opened #9064 "Detect complex way to clone Option<String>"
### What it does

Detect too complex way to clone `Option<String>`:
[code]

### Lint Name

clone_option_string

### Category

complexity

### Advantage

- More consice
- More readable
- Better reflects the purpose of the statement

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-06-29 06:39] tomers opened #9065 "Detect hidden malloc in comparison of Option<String>"
### What it does

When comparing `Option<String>`, we may create an intermediate object for the sole purpose of the comparison, and for that we allocate the inner `String` object. Instead we can compare the inner `str` object without allocation:
[code]

### Lint Name

string-allocation-during-comparison

### Category

perf

### Advantage

- Saves redundant allocation
- Faster

### Drawbacks

None

[2022-06-29 07:55] matthiaskrgr commented on #9065
mmh looks like cmp_owned doesn't look inside options...?

[2022-06-29 09:11] daxpedda opened #9066 "False Positive `equatable_if_let` in macro"
### Summary

`equatable_if_let` is triggered from inside an external macro.

### Lint Name

equatable_if_let

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
No warning. Obviously this example code has to be split up into different crates, personally I'm fine with this lint triggering for internal macros.

### Version

[code]

### Additional L

[2022-06-29 13:51] jorgecarleitao opened #9067 "ptr_arg with multiple `&mut Vec<u8>` sometimes has false positives."
### Summary

Passing multiple `&mut Vec<u8>` and using Vec-only functions sometimes causes the linter to incorrectly warn that a slice could be passed.

things like

[code]

will warn on `b` and `c` but not `a` (despite every one of them being required as Vec).

### Lint Name

ptr_arg

### Reproducer

I tried this code:

[code]

I saw this happen:

<img width="593" alt="Screenshot 2022-06-29 at 06

[2022-06-29 14:05] jorgecarleitao commented on #9067
confirmed. Sorry for the noise :/

[2022-06-29 15:03] oxarbitrage commented on #9062
Ah, ok, thanks. I guess i will have to do this manually if i want to introduce the lint. Thanks.

[2022-06-29 15:03] #9062 closed

[2022-06-30 04:22] #7226 closed

[2022-06-30 04:22] #5717 closed

[2022-06-30 04:22] #7913 closed

[2022-06-30 10:59] #8734 closed

[2022-06-30 11:35] sdroege opened #9072 "False positive `significant_drop_in_scrutinee` if matching on a `MutexGuard` even if it is still used afterwards"
### Summary

See reproducer below

### Lint Name

significant_drop_in_scrutinee

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: No warning

### Version

[code]

### Additional Labels

@rustbot label +I-false-positive

[2022-06-30 11:36] sdroege commented on #9072
Arguably even without the later usage this shouldn't produce a warning because the `MutexGuard` is not only temporary during the `match` but outlives it.

[2022-06-30 13:33] Jarcho commented on #9049
Either matching on `self` or using `ItemKind::Impl(&Impl { generics })` the second pattern would work. The suggestion should include one of those.

[2022-06-30 13:37] Jarcho commented on #8482
This should be fixed in `1.61`

[2022-06-30 15:08] kyoto7250 commented on #9066
@rustbot  claim

[2022-06-30 15:11] daxpedda commented on #9066
@kyoto7250 I'm already working on it, sorry, didn't know about this claim system.

[2022-06-30 15:36] kyoto7250 commented on #9066
Okay, I understood 👍🏻

[2022-06-30 16:28] sharifhsn commented on #9042
I just checked lints again, and the `large-stack-arrays` lint already does the same thing.

[2022-06-30 17:10] Licenser opened #9076 "`trait_duplication_in_bounds` false positive for complex trait bounds"
### Summary

When having complex trait bounds `trait_duplication_in_bounds` warns incorrectly

### Lint Name

trait_duplication_in_bounds

### Reproducer

I tried [this code](https://github.com/tremor-rs/tremor-runtime/blob/main/tremor-influx/src/decoder.rs#L31-L73):

[code]

I saw this happen:

[code]

I expected to see this happen:

No error

### Version

[code]

### Additional Labels

_No respo

[2022-06-30 18:10] jst-r commented on #8131
I've mostly finished working on it.

It's not quite clear to me whether to include both `as` and `from` as suggestions?

Also, it seem like dealing with parenthesis around condition in `as` coercion is not trivial. Is it okay to always include them?
Exsample
[code]

[2022-06-30 18:57] xFrednet commented on #8131
Hey @jst-r, thanks for picking this up!

It depends on if you want to make the suggestion automatically applicable. Then it would be better to only emit one suggestion. I would suggest only using `from()` as that would also solve the parenthesis problem. `<ty>::from(<expr>)` should always work, while `<expr> as <ty>` might require parenthesis, as you've mentioned.

If you want to take the extra st

[2022-06-30 19:09] yoav-lavi opened #9077 "format_push_string could use some more information"
### Description

`clippy::format_push_string` currently outputs the following:

(the following is part of a fork of [`human_panic`](https://github.com/rust-cli/human-panic))

[code]

I think this description could use a bit more information regarding the difference between `format!` and `write!`, as `write!` returns a `Result`, which the [linked example](https://rust-lang.github.io/rust-clippy/mas

[2022-06-30 19:33] lilyball commented on #1502
This fix for this doesn't work for me. Approximate code:

[code]

This triggers the lint in 1.62.0 (now that it defaults to warn). Using `let _: () = …` also triggers it. The let-binding here is most certainly required for type inference.

[2022-06-30 19:35] lilyball commented on #1502
It sounds like https://github.com/rust-lang/rust-clippy/issues/8998 might cover my case, though I don't know how that is different from the issue described here.

[2022-06-30 19:37] lilyball commented on #8998
I'm running into this with a channel. Approximate code looks like

[code]

(the context here is a test case for abortion behavior on the `spawn` function in question, which is why the sender is never used and therefore no other constraints are placed on the channel type)

[2022-06-30 19:40] lilyball commented on #9048
I agree that `let () = …` should be allowed. The static assertion that the type is unit is useful for the reader even if the compiler doesn't need it. Similarly `() = …` (no `let` keyword) should be allowed, which is also currently tripping `let_unit_value` (despite not actually being a let-binding).

[2022-06-30 19:40] jst-r commented on #8131
Thanks for suggestion, @xFrednet !

I've already implemented automatically applicable version (I hate when I can't just ctrl+. to fix something). To do so I've commented `as` suggestion out.

I feel like trying to decide if parenthesis are needed would have a lot of edge cases. And as a consequence possible bugs.

After running dogfood test, I think `.into()` conversion would be more concise and (

[2022-06-30 20:21] willbuckner opened #9079 "`cargo clippy` invocation fails to properly parse arguments: `error: Unrecognized option: 'all-packages'`"
### Summary

After updating to Rust 1.62 stable (Clippy 0.1.62), `cargo clippy` fails to execute under multiple scenarios:

[code]

[code]

[code]

The project was originally compiled with Rust 1.61 stable toolchain, and all targets had previously been built with 1.61. After the `rustup update`, I initially ran a simple `cargo clippy` which recompiled and ran clippy successfully.

However, attempt

[2022-06-30 22:24] jst-r commented on #8131
I get why why you prefer `as <ty>`. After giving it a little more thought, `as` feels both as explicit as `from` and isn't too noisy.

I haven't thought about it. It's definitely not too hard.

I'll implement version with `as`. And, hopefully, will open a PR tomorrow.

[2022-07-01 05:10] tamaroning commented on #9038
This is not a bug. If `fn to_bar` in first comment is exported to other crates, changing its argument causes breakages for other crates. If you want to lint it despite that, please try add `avoid_breaking_exported_api = true` to your clippy.toml.

Ref: https://github.com/rust-lang/rust-clippy/pull/7187

[2022-07-01 07:03] arxanas commented on #9048
Just ran into this today. Agreed that `let () = ...` should be allowed. Furthermore, the justification at https://rust-lang.github.io/rust-clippy/master/index.html#let_unit_value is confusing:

because there are no actual variable bindings in the form `let () = ...`. It took me a moment to realize why this check was triggering on my code.

[2022-07-01 07:51] unvalley commented on #6705
@NieDzejkob (cc: @xFrednet )
This may already be implemented (ref: https://rust-lang.github.io/rust-clippy/master/#print_in_format_impl).
Please tell me if I'm incorrect.

[2022-07-01 09:08] xobs opened #9080 "let_unit_value when using constants to limit values of `const usize`"
### Summary

The pattern `let _ = CONSTANT_VALUE` is used to ensure that various consts conform to expected values. For example, I have a const that I need to be aligned to 4096 bytes.

This check is done by using the `CONSTANT_VALUE` during some const constructor and throwing away the result. However, Clippy reports that this code is unused, and needs to be discarded.

Furthermore, clippy appears

[2022-07-01 09:21] yoav-lavi opened #9081 "`format_push_string` has an incorrect "Added in" version"
### Description

The lint [states](https://rust-lang.github.io/rust-clippy/master/index.html#format_push_string) `Added in: 1.61.0`, but the [1.62 changelog](https://github.com/rust-lang/rust-clippy/blob/master/CHANGELOG.md#rust-162) shows it as added in that version and in my anecdotal experience it only started to work in that version.

(This is my second issue regarding this lint, that's by cha

[2022-07-01 10:34] Thomasdezeeuw commented on #9048
I have another use case were `let () = ...` can be useful: purposefully overshadowing a variable (name). We have a case where we have a SQL transaction and a SQL pool in the same code block, so it's very easy to use the SQL pool instead of the SQL transaction. To avoid using the pool instead of the transaction we overshadow the variable name so it can't be used any more.

[code]

[2022-07-01 11:26] jst-r commented on #8131
Looks like it was even simpler than that. After looking at precedence, I found that all the operators/expressions that have higher precedence can't have `if` statement in them. Well, it can be, if is const expression and is wrapped in generic paremeter.

[code]
Seems to work correctly.

[2022-07-01 12:13] alice-i-cecile commented on #8963
We're hitting a false positive here too: https://github.com/bevyengine/bevy/pull/5160.

[2022-07-01 12:41] giraffate commented on #1725
Did the `#[warn(clippy::get_unwrap)]` be added? The [`get_unwrap`](https://rust-lang.github.io/rust-clippy/master/index.html#get_unwrap) is allow-by-default now.

[2022-07-01 13:00] remlse opened #9084 "needless_match false positive"
### Summary

In the following snipped, clippy marks the match statement as needless and provides an incorrect quick fix.
[code]

### Lint Name

needless_match

### Reproducer

I tried this code: (advent of code, year 21 day 20)

[code]

I saw this happen:

[code]

I expected to see this happen:

no warning

### Version

[code]

this is weird though, I'm pretty sure this bug was introduced with 1.6

[2022-07-01 14:55] Jasperav commented on #9077
I am curious why this change landed on Rust stable and has preference over the `&format` way of appending a `&str` to a `String`. Now I can either ignore an error with `let _ = ` which is ugly, or call `unwrap`, which isn't much better. `&format` didn't had both.

[2022-07-01 15:43] jst-r commented on #8131
Looks like it was even simpler than that. After looking at precedence, I found that all the operators/expressions that have higher precedence can't have `if` statement in them. Well, it can be, if is const expression and is wrapped in generic paremeter.

[code]
Seems to work correctly.

But `cast_lossless` lints the result.
In my opinion it is a problem with cast_lossless, since bool already holds

[2022-07-01 15:47] xFrednet commented on #6705
The lint looked familiar. Guess this was a duplicate issue. Thank you for pointing that out @unvalley! :upside_down_face:

[2022-07-01 15:47] #6705 closed

[2022-07-01 15:55] xFrednet commented on #8131
Perfect, I didn't know that rustc offers something like this directly :+1:

Agreed, that sounds like a FP in `cast_lossless`. Well, as long as `cast_lossless` isn't fixed, I would suggest using `from`. If you have the time and want to fix `cast_lossless` as well, that would also be cool.

I don't actually know if there is a consensus, if `as` is better than `from` or the other way around :sweat_sm

[2022-07-01 16:03] xFrednet commented on #9081
@rustbot claim

[2022-07-01 16:43] unvalley commented on #7419
@rustbot claim

[2022-07-01 17:07] #9081 closed

[2022-07-01 17:12] jst-r commented on #8131
I've opened PR with `from` suggestion.

Should I open a issue about `cast_lossless`?

[2022-07-01 19:01] xFrednet commented on #8131
Awesome!

If you have the time that would be good. I believe it works for other numeric types, like `u8 as u32` is fine. At least I remember seeing a PR like that some time ago. :upside_down_face:

[2022-07-01 19:32] yoav-lavi commented on #9077
@Jasperav seems like a choice of performance over style:

I'm not necessarily opposed to the idea, but if `write!` to a `String` is truly infallible and equivalent to `format!` + `push` without an allocation, maybe an additional macro or method could be created to not return a `Result`, which would be the best of both worlds. Wouldn't be an issue for Clippy though.

[2022-07-01 20:05] yoav-lavi opened #9088 "More lints from 1.62 with an incorrect "added in" version"
This is a continuation of https://github.com/rust-lang/rust-clippy/issues/9081 (cc @xFrednet)

I'm on mobile so hopefully this comes out formatted properly.

The following lints from `1.62` have an incorrect "added in" version:

- [cast_abs_to_unsigned](https://rust-lang.github.io/rust-clippy/master/index.html#cast_abs_to_unsigned)
- [err_expect](https://rust-lang.github.io/rust-clippy/master/inde

[2022-07-01 20:23] xFrednet commented on #9088
This is very helpful. I guess that I'll add reviewing this as a part of writing the changelog :sweat_smile:. I'll fix these tomorrow if nobody else got to it beforehand

[2022-07-01 20:45] matthiaskrgr opened #9089 "ICE: compiler/rustc_typeck/src/collect.rs:1896:13: to get the signature of a closure, use `substs.as_closure().sig()` not `fn_sig()`"
### Summary

This happens when running clippy on the rustc_errors crate

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-07-01 20:46] matthiaskrgr commented on #9089
The problem might be
[code]
in clippy_lints/src/dereference.rs

[2022-07-01 23:33] sffc opened #9090 "Add clippy::exposed_private_fields for macros that generate constructors"
### What it does

Various derive macros, most famously `serde::Deserialize`, generate constructors for objects. These constructors expose a vector to set arbitrary values on the fields of the struct, including private fields.

I propose an annotation: `#[clippy::check_for_private_fields]`. Throughout the Rust ecosystem, macros that generate constructors will add this lint to structs. When Clippy e

[2022-07-02 00:39] i509VCB commented on #7724
Maybe if there were a way to programmatically get what crate a symbol belongs to? something like `std_instead_of_alloc` and `alloc_instead_of_core` as subset could make sense and that would require knowing what liballoc also provides.

[2022-07-02 03:25] tamaroning commented on #9084
@rustbot claim

[2022-07-02 03:27] dtolnay commented on #9089
Minimal repro minimized from `async_trait` crate's test suite:

[code]

[code]

[code]

[2022-07-02 05:12] Jarcho commented on #9080
`path_statements` is the incorrect lint here. It definitely has an effect.

[2022-07-02 10:29] InfRandomness opened #9094 "none_else_block"
### What it does

transform if else block into then_some() call if else block returns None

### Lint Name

none_else_block

### Category

pedantic

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

[2022-07-02 10:29] InfRandomness commented on #9094
@rustbot claim

[2022-07-02 10:36] u32i64 opened #9095 "Suggestion for `needless_borrow` can cause infinite recursion"
### Summary

According to https://rust-lang.github.io/rust-clippy/master/index.html#needless_borrow, this lint is `MachineApplicable`, but it appears that it can cause infinite recursion when applied.

### Lint Name

needless_borrow

### Reproducer

The following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8d441748284503b19c331f49719b81fc)):

[code]

[2022-07-02 11:37] u32i64 commented on #9095
I forgot to mention, it looks like this may be a regression. For example, on `nightly-x86_64-unknown-linux-gnu` in GitHub Actions:

- `rustc 1.64.0-nightly (7425fb293 2022-06-30)` didn't produce this clippy warning ([log](https://github.com/u32i64/signalupdates-bot/runs/7157550084?check_suite_focus=true)).

- `rustc 1.64.0-nightly (46b8c23f3 2022-07-01)` does produce the warning ([log](https://git

[2022-07-02 19:44] joshtriplett opened #9097 "`bool::then` with trivial body should use `bool::then_some`"
### What it does

With `bool::then_some` stabilized in Rust 1.62, uses of `bool::then` with a closure consisting of a simple body without side effects should become `bool::then_some`.

This should be part of the existing `unnecessary_lazy_evaluations`.

### Lint Name

unnecessary_lazy_evaluations

### Category

style

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

[2022-07-02 19:55] joshtriplett opened #9098 "Check for filter_map combined with `bool::then`, suggest `filter` then `map`"
### What it does

The combination of `filter_map` with `bool::then` can often be more readably written as a `filter` followed by a `map`, which avoids multiple levels of closure nesting and reduces indentation.

### Lint Name

filter_then_map

### Category

style

### Advantage

- Avoids multiple levels of closure and parenthesis nesting.
- Reduces indentation.

### Drawbacks

- While the compiler

[2022-07-02 22:25] botahamec commented on #5
@rustbot claim

[2022-07-02 22:40] joshtriplett opened #9100 "Warn about using `bool::then_some` followed by `unwrap_or`, suggest `if`/`else` instead"
### What it does

Detects the combination of `then_some` followed by `unwrap_or` in place of a more clear `if`/`else`.

### Lint Name

bool_if_else

### Category

style

### Advantage

- Clarity at a glance

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-07-02 22:41] joshtriplett commented on #9100
This should also apply with any combination of `then`/`then_some` and `unwrap_or`/`unwrap_or_else`.

[2022-07-02 23:12] jonasbb opened #9101 "`explicit_auto_deref` suggestion leads to non compiling code"
### Summary

The new `explicit_auto_deref` creates suggestions which do not compile. The lint already got ignored in serde <https://github.com/serde-rs/serde/commit/0ee71c70af8e0b6f29c1c696538fb2ebc081e2d2>.

### Lint Name

explicit_auto_deref

### Reproducer

I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5eb1c6ab8a5702ff4b90b26004

[2022-07-03 01:59] Serial-ATA commented on #629
@rustbot claim

[2022-07-03 02:18] i509VCB opened #9104 "Lint path or import used in macro"
### What it does

Lint any instances of paths to items or use statements which do not use `$crate` or global paths (such as `::std::vec::Vec`)

### Lint Name

macro_use_path

### Category

correctness

### Advantage

- Since imports and paths in macros are unhygienic, you should use `$crate` or global paths.
- This will make macros used by other crates less likely to fail to compile.

### Drawback

[2022-07-03 03:46] tamaroning commented on #9101
@rustbot claim

[2022-07-03 11:57] shuoli84 opened #9107 "Warn if str.parse if no explicit type specified"
### What it does

Warn for `&str.parse()` if the inferred type is i32 without explicit specify.

### Lint Name

STR_PARSE_INFER_TO_I32

### Category

suspicious

### Advantage

Hint developer that the parse actually only process i32, if the value is larger, the code fails.

### Drawbacks

None

### Example

[code]

Could be written as:

[code]

[code]

outputs

[code]

[2022-07-03 12:23] Serial-ATA opened #9108 "Non standard trailing commas in vscode tasks"
### Description

The [vscode tasks file](https://github.com/rust-lang/rust-clippy/blob/master/util/etc/vscode-tasks.json) has trailing commas, which are not allowed by the JSON standard.

### Version

[code]

### Additional Labels

@rustbot label +good-first-issue

[2022-07-03 12:39] matthiaskrgr opened #9109 "explicit_auto_deref could suggest variale with borrows"
### Description

The `op_ref` lint already does this:
[code]

IMO its easier to understand if the span and the suggestion includes the borrows

so

[code]

could become
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-07-03 13:24] tamaroning commented on #9101
According to [RFC](https://github.com/rust-lang/rfcs/blob/73ee34aada32725bda1401dbd1f251e72f5d00d6/text/0401-coercions.md), I think clippy's suggestion is correct.
But rustc does not support all transitive type coercion for now (https://github.com/rust-lang/rust/issues/18602)

In code below, changing line 3 to `let _: &[u8] = a;` is fine because of auto deref and unsized coercion.
`&&[u8;2] -> &[u

[2022-07-03 14:12] msfjarvis commented on #9109
I think I have a similar case (let me know if it should be a separate issue), but I'm not sure if it's actually a bad diagnostic or just me holding it wrong. Given this code:

[code]

The emitted diagnostic is this:

[code]

At a first glance one might change this invocation to `function(BASE_URL)` which obviously fails, because when you do a double take you'll see what is _really_ being suggested

[2022-07-03 14:26] alex-semenyuk commented on #9108
@rustbot claim

[2022-07-03 15:09] xFrednet commented on #9088
@rustbot claim

[2022-07-03 15:11] leighmcculloch opened #9111 "needless_borrow false positive in case when compiler does not automatically borrow"
### Summary

The needless_borrow lint has a false positive where the suggested fix results in code that won't compile, because the compiler doesn't automatically borrow, even though the lint says it does.

### Lint Name

needless_borrow

### Reproducer

I tried this code:

[code]

[code]

Making the change that clippy suggests, results in the following and the following compiler error:

[code]

[c

[2022-07-03 15:15] Alexendoo commented on #9108
It won't hurt anything to remove them, but vscode's configuration/task/etc files aren't required to be standard JSON. The files also typically contain comments for example

[2022-07-03 17:05] Serial-ATA commented on #9108
@Alexendoo I just make issues for small things like this to get new contributors interested 😄.

[2022-07-03 18:49] Jarcho commented on #9111
Looks to be the same as #9095. Checking if a generic trait is implemented by a reference type isn't working correctly.

[2022-07-03 19:01] #9088 closed

[2022-07-03 19:50] #9108 closed

[2022-07-03 20:19] #629 closed

[2022-07-03 22:22] obeis commented on #9077
@rustbot claim

[2022-07-04 00:32] SohumB commented on #8887
I'd like to add that this applies to `mod_module_files` too.

[2022-07-04 00:37] #9089 closed

[2022-07-04 07:57] Victor-N-Suadicani commented on #9077
I'm not a huge fan of this lint. `format!` being infallible and `write!` returning a result is quite a difference in API and I don't think switching between them should be suggested so lightly.

Also, I haven't checked but I'd be curious if the extra allocation by `format!` is optimized away by the compiler anyway in release mode.

[2022-07-04 08:15] shuoli84 commented on #9107
@rustbot claim

[2022-07-04 09:22] bugadani opened #9113 "Clippy's Default implementation suggestion does not take const generics into account"
### Summary

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a41d1a552a1e2c14f1a1eb5262a4f934)

I have a struct with `new` function that has a const generic parameter. Clippy complains and suggests implementing `Default` by calling `new` without any parameters.

The suggestion does not compile because the const generic parameter - no suriprises - can't be

[2022-07-04 13:42] poliorcetics opened #9114 "`undocumented-unsafe-blocks` is too strict"
### Summary

Since Rust 1.62.0 the `undocumented-unsafe-blocks` lint is too strict, failing to detect safety comments when they are just a line above the `unsafe` block

### Reproducer

I tried this code:

[code]

Run

[code]

I expected to see this happen:

No warning

Instead, this happened:

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-07-04 15:28] KPC1992 opened #9116 "HTTPS"
### What it does

HTTP://email@example.com

### Lint Name

_No response_

### Category

_No response_

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-07-04 16:09] #9116 closed

[2022-07-04 18:05] SylvainDe opened #9118 "Lints (result_unit_err and missing_errors_doc) not emitted for function in "impl for" block"
### Summary

Disclaimer: I'm not quite sure yet if this is a feature but the behavior got me pretty surprised.

Implementing a from_str function returning Result<Self, ()>, I get a different set of warnings depending on whether I am in a "impl for" block:

- impl for block: not lint warnings
- impl block: lint warnings

### Lint Name

result_unit_err

### Reproducer

Context: Trying to implement a

[2022-07-04 18:33] Jarcho commented on #9118
Lints about function signatures don't lint on trait impls as there's nothing the implementer can do about them. Documentation is also ignored for them as it would be basically the same as the trait's documentation.

[2022-07-04 18:33] anall commented on #9041
@rustbot claim

[2022-07-04 18:43] #9113 closed

[2022-07-04 18:43] Dentosal opened #9119 "iter_cloned_collect false positive with custom From/IntoIterator impl"
### Summary

When `FromIterator` is implemented for a type inside an another iterator, `.collect()`  is able to do run the inner iterator as well. Clippy doesn't recognize this case, and instead assumes that `.iter().cloned().collect()` to a `Vec<_>` always has the same resulting type than `to_vec()`.  This also occurs with `.iter().copied().collect()`.

### Lint Name

iter_cloned_collect and iter

[2022-07-05 00:37] #9114 closed

[2022-07-05 01:46] Jarcho commented on #9109
I originally had it that way and I don't remember why I switched it. It had something to do with how the lint pass was implemented.

Related question, how does the suggestion look with `&mut *x` just suggesting `x`. e.g.
[code]
This one looks fine to me unlike a immutable borrow.

[2022-07-05 04:55] SylvainDe commented on #9118
This makes a lot of sense. Thank you very much!

[2022-07-05 04:55] #9118 closed

[2022-07-05 09:35] djc opened #9122 "False positive in map_identity"
### Summary

With the code below, clippy suggests removing the `map_err()` call. However, in this case `map_err()` is the only thing telling the compiler the type of the `E` in the relevant  `Result<T, E>`, so removing it will result in an error. This lint is machine-applicable, so that generates an error.

I guess this regressed from when #8478 was fixed.

### Lint Name

map_identity

### Reprodu

[2022-07-05 13:07] bachue opened #9123 "explicit_auto_deref gives a wrong advise"
### Summary

I have this code

[code]

This code can be compiled now, but `cargo clippy` gives a warning:

[code]

But if I replace `&*returns_a_wrapper()` by `&returns_a_wrapper()`，then code is failed to be compiled, the error message is

[code]

### Reproducer

I tried this code:

[code]

I expected this code has no warning, but `cargo clippy` gives wrong advise.

### Version

[code]

### Additi

[2022-07-05 13:09] safinaskar commented on #9048
@Thomasdezeeuw , I would recommend `drop(pool)` instead

[2022-07-05 13:10] safinaskar commented on #9048
@Thomasdezeeuw , oops, this would have different semantics

[2022-07-05 15:36] Jarcho commented on #9123
Related rust issue rust_lang/rust#23014

[2022-07-05 19:57] pcd1193182 opened #9125 "Use is_some_and when appropriate"
### What it does

The lint would detect cases where the new Option function is_some_and would be appropriate. Examples would be places where `map()` converts an `Option<T>` into an `Option<bool>` and then `unwrap_or(false)` is used. The library function is still experimental, but once it's stable, this would be a useful modernization suggestion.

### Lint Name

option_is_some_with

### Category

c

[2022-07-05 20:56] asomers opened #9127 "explicit_auto_deref gives wrong advise for Boxed types"
### Summary

The explicit_auto_deref warning suggests a code change that does not compile when trying to get a mutable pointer to the inside of a Box.

Possibly related to #9123

### Lint Name

explicit_auto_deref

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

But when I apply Clippy's advise I get this error:
[code]

I expected to see this happen:
No error.

### Version

[2022-07-06 00:30] giraffate commented on #9125
There is no method `is_some_with` on `Option`. Do you mean [`is_some_and`](https://doc.rust-lang.org/std/option/enum.Option.html#method.is_some_and)?

[2022-07-06 01:53] asomers commented on #9127
Ahh, I'm stupid.  I'm just so used to seeing this warning flag expressions like `&*xxx` that I didn't read this one closely enough.

[2022-07-06 01:53] #9127 closed

[2022-07-06 04:42] wildwestrom opened #9128 "Clippy says an implicit clone is happening when it probably isn't"
### Summary

When doing an implicit clone, clippy will give a warning when `pedantic` is on.
[code]
This is fine, but as soon as I add that clone, it gives the warning again and asks me to put another `clone()`. When I do this, the error doesn't go away, it just keeps asking me to clone.

I think this shows it all.
[code]

### Reproducer

I tried this code:

[code]

I expected to see this happen:

[2022-07-06 05:59] mikerite commented on #9128
The lint wants you to replace`target_path.to_path_buf()` with `target.clone()`. That's exactly what the error message is telling you to do.

[2022-07-06 07:09] #9128 closed

[2022-07-06 09:38] #9097 closed

[2022-07-06 17:33] pcd1193182 commented on #9125
Sorry, that's correct. The *feature* is called `is_some_with`, which is what confused me.

[2022-07-06 21:42] #9095 closed

[2022-07-06 23:34] garentyler opened #9129 "Clippy matches redundant closure to Option creation"
### Summary

Clippy thinks that the option creation syntax `Some(x)` is a function when it shouldn't.

### Lint Name

_No response_

### Reproducer

I tried this code (context is irrelevant):

[code]

I saw this happen:

[code]

I expected to see this happen:
No output.

### Version

[code]

### Additional Labels

_No response_

[2022-07-07 00:54] Jarcho commented on #9129
All tuple constructors are functions. `.map(Some)` works just fine.

[2022-07-07 09:21] hellow554 commented on #9076
I have two more testcases for this from the itertools project:

[code]

[code]

[2022-07-07 09:25] hellow554 opened #9131 "False positive on used_underscore_binding"
### Summary

Maybe that lint should check for the `#[automatically_derived]` attribute on impls to fix this?

### Lint Name

used_underscore_binding

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Nothing

### Version

[code]

### Additional Labels

_No response_

[2022-07-07 15:44] #8770 closed

[2022-07-08 00:52] richlowe opened #9135 "false positive in simple example of io::stdin::lines()"
### Summary

Taking the basic example from the io::stdin::lines() documentation, I get clippy warnings about significant drops.  I'm not sure if I understand certainly that it's a false positive, but it seems likely since I took the example from the rust documentation here: https://doc.rust-lang.org/std/io/struct.Stdin.html#method.lines

Sorry If I've mis-filed this, or just become overly confused

[2022-07-08 08:46] robertbastian commented on #8202
What about the first part of my comment?

[2022-07-08 16:32] #8288 closed

[2022-07-08 19:08] Jarcho commented on #9135
The for loop in that example is lowered to (roughly):
[code]

It probably shouldn't warn as the drop order is exactly as one would expect.

[2022-07-08 21:15] Logarithmus commented on #5546
@flip1995 can't you just replace `&mut` with `&` and if it still compiles, then suggest a lint?

[2022-07-09 10:24] dhardy opened #9139 "single_component_path_imports should respect #[allow(unused_imports)]"
### Summary

To achieve dynamic linking, I use this:
[code]
Without this import, built executables do not dynamically link this library.
Bevy [does the same](https://github.com/bevyengine/bevy/blob/main/src/lib.rs#L48).

Clippy complains:
[code]

Since this import already has `#[allow(unused_imports)]` I would expect Clippy to ignore it.

### Lint Name

single_component_path_imports

### Reproduce

[2022-07-09 11:04] flip1995 commented on #5546
Sadly not.

[2022-07-09 12:50] #9135 closed

[2022-07-09 21:38] shssoichiro opened #9142 "False positive in undocumented_unsafe_blocks (stable-to-stable regression)"
### Summary

When defining a variable using an unsafe block, if the unsafe block is not on the same line as the variable definition, the undocumented_unsafe_blocks triggers a warning when enabled. This did not trigger the lint in Rust 1.61. It does trigger the lint in Rust 1.62 as well as the latest nightly.

### Lint Name

undocumented_unsafe_blocks

### Reproducer

I tried this code:

[code]

I

[2022-07-10 01:01] anall commented on #9142
Regressed in 65f96e2b53369f6b403b655b2212272c2ae13d42

[2022-07-10 01:18] ezrosent opened #9143 "`explicit_auto_deref` overeager with `Any`"
### Summary

My read is that this is a separate bug to those fixed in #9126, apologies if it is actually the same.

### Lint Name

explicit_auto_deref

### Reproducer

I tried this code, which completes successfully:

[code]
Clippy gives the following output

[code]

But replacing `as_any` with the suggestion:
[code]
Causes the program to fail (`downcast_ref` now returns `None`). This is (presumab

[2022-07-10 14:10] kyoto7250 commented on #9013
@rustbot  claim

[2022-07-10 14:38] leonardo-m commented on #1594
Is the example in #1594 not spotted by this lint?

[code]

[2022-07-10 16:19] matthiaskrgr commented on #8245
Fixed by https://github.com/rust-lang/rust-clippy/pull/8913

[2022-07-10 16:19] #8245 closed

[2022-07-10 19:00] ArneCode opened #9147 "comparison_chain warning even though being exhaustive is not desired"
### Summary

I think clippy shouldn't give me a warning in this case.

### Lint Name

comparison_chain

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
I wouldn't want to be exhaustive in this case. Of course I could rewrite the code to be exhaustive but I only want a certain actions executed in these two cases.
I am still kind of new to rust

[2022-07-10 19:08] Jarcho commented on #9147
The equivalent match would be
[code]

[2022-07-10 19:13] #8998 closed

[2022-07-10 20:33] arieluy commented on #9100
@rustbot claim

[2022-07-10 22:46] Logarithmus commented on #5546
@flip1995 why? Sorry, I'm not familiar with clippy's internals.

[2022-07-11 07:18] flip1995 commented on #5546
Maybe a relevant info before the explanation: Clippy doesn't do the compilation. Clippy just calls rustc programmatically and uses the `rustc` queries to do the analysis. But all the heavy lifting, like parsing, type checking, ... is done by `rustc`

Clippy can only run one compiler pass. Doing something like this would mean that Clippy has to modify a file on disk and then run the compiler again,

[2022-07-11 07:40] Logarithmus commented on #5546
@flip1995 thanks for a detailed explanation. You are concerned that modifying source code files might confuse the user. What prevents `clippy` from copying them to a temp directory or loading into RAM and passing to `rustc`?

[2022-07-11 07:46] RealKC opened #9150 "let_and_return false positive in presence of `[cfg]`ed out blocks"
### Summary

clippy emits a `let_and_return` warning when between the let and return there is only a `cfg`ed out block

### Lint Name

let_and_return

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
clippy shouldn't emit a warning here

### Version

[code]

### Additional Labels

_No response_

[2022-07-11 08:01] alex-semenyuk commented on #9150
It has the same behaviour if there is no `cfg` block. Why do you think it's false positive?

[2022-07-11 08:05] flip1995 commented on #5546
Clippy would still create files on disk (in `/tmp`) or would use more RAM. You can't really compile a single file in Rust, like you do in C++. In Rust the smallest compilation unit is a `crate` (in simplified terms). So you'd have to copy the whole crate. And then you still need the context of the dependencies. At this point we'd almost be rebuilding `cargo` into Clippy.

I like to be strict here

[2022-07-11 08:26] RealKC commented on #9150
I think it's a false positive because only removing the `#[cfg(feature="owo")]` line stops the warning from being emitted.

[2022-07-11 08:41] xFrednet commented on #9150
I believe that the idea of the lint suggestion is, that you move the variable value to the return statement like this:

[code]

or to notify the user that it hasn't been modified. Maybe we could add a note to the lint message to explain this better :upside_down_face:

[2022-07-11 08:55] RealKC commented on #9150
I do understand the idea of the lint and generally agree with it, but IMO either clippy should emit a lint for this code too

[code]

which it currently doesn't, or not emit a lint for the code in the OP.

[2022-07-11 09:19] #9033 closed

[2022-07-11 13:03] aldhsu opened #9151 "trait_duplication_in_bounds lint has misleading message"
### Summary

TRAIT_DUPLICATION_IN_BOUNDS lint.
Trait duplications within bounds raises a lint that refers to where clauses that don't exist.

### Reproducer

I tried this code:
[code]
I expected to see this happen:
The error message to warn about trait duplication within bounds or alternatively no error.

Instead, this happened:
[code]

Error refers to a where clause that doesn't exist.

### Versi

[2022-07-11 13:40] Rqnsom commented on #8948
@rustbot claim

[2022-07-11 13:57] Rqnsom commented on #8948
Hi,

So this strange output with the wrong order of `help` messages happens only when the suggestion does not fit in one line.
If it fits in one line, then the suggestion is shown inline as a part of `warning` message, and then we have only one `help` message which then makes sense (is not out of order).

I tried to fix this by doing some tweaking and this is the output my solution would provide (

[2022-07-11 15:05] JonathanWoollett-Light opened #9153 "macro should be const fn"
### What it does

Checks macros which should instead be `const fn`s.

### Lint Name

declarative_macro_should_be_const_fn

### Category

correctness

### Advantage

A significant improvement to code readability & documentation.

I do not believe there are performance differences when compiled with optimizations although I think it may be worth evaluating.

### Drawbacks

It makes the typing more e

[2022-07-11 16:58] alex-semenyuk commented on #8993
@claim alex-semenyuk

[2022-07-11 20:33] gregparsons commented on #8055
Same here...I think...

[2022-07-12 00:18] shepmaster opened #9155 "Warn on redundant / needless type annotations"
### What it does

Warns about needless / redundant type annotations.

### Lint Name

redundant_type_annotation

### Category

style, pedantic

### Advantage

Code is more idiomatic, shorter, and easier to modify.

### Drawbacks

Types may be added by some novice Rust developers as hints to help remember what type is present.

### Example

[code]

Could be written as:

[code]

[2022-07-12 00:59] #7198 closed

[2022-07-12 00:59] #7452 closed

[2022-07-12 00:59] #7555 closed

[2022-07-12 00:59] #7589 closed

[2022-07-12 02:18] JoelMon commented on #9125
Is there a hurry to get this done? I would love to learn how to implement lint's.

If this is a good match for a beginner I would love to learn how to implement this.

[2022-07-12 07:02] #9013 closed

[2022-07-12 08:17] flip1995 commented on #6729
Just noticed that the original example still triggers the lint.

[2022-07-12 10:22] smoelius commented on #9155
Related: https://github.com/rust-lang/rust-clippy/issues/7081

[2022-07-12 10:38] Logarithmus opened #9158 "Replace `if s.split('.').count() == 1` with `if s.contains('.')`"
### What it does

I've found this "ingenious" snippet in a big Rust codebase, and Clippy didn't catch it.

### Lint Name

str-split-count-1

### Category

_No response_

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-07-12 11:44] Rqnsom commented on #9125
I'm also looking for `good-first-issue`s since I'm also a beginner, but I feel that a `good-first-issue` items are never supposed to be urgent. So that we **the beginners** could take our time to do it at our pace - since learning should not be stressful. So, I think you are free to claim it and see how it goes! :-)

Clippy veterans can correct me if I said anything wrong.

[2022-07-12 11:50] klensy commented on #9158
But this not equal code? In first example you want exactly one separator, where in second you want >= 1.

[2022-07-12 11:54] Logarithmus commented on #9158
@klensy sorry, I forgot `!` before the second snippet. Now it should do the same thing perhaps?

[2022-07-12 11:58] Rqnsom commented on #5352
Can confirm. This is covered by `clippy::items-after-statements`. We can close this issue

[2022-07-12 12:35] klensy commented on #9158
Ah, yes.

[2022-07-12 13:23] xFrednet commented on #9125
Hey, welcome to Clippy 👋. This issue is not urgent, so you're welcome to claim it and take your time. If you have questions, you're also welcome to ask. Please don't hesitate to ping anyone of us (sometimes we miss questions in issues, if nobody mentions us)

Some more context, about what is urgent, in case you're interested: A new version of Clippy is released every 6 weeks. There are only very f

[2022-07-12 13:30] xFrednet commented on #5352
So, this lint proposal is basically just a lighter version of `clippy::items-after-statements`. Adding a new lint for this SGTM. Though I would suggest a different name, since `clippy::declare-items-before-usage` doesn't work too well with lint attributes: `#[deny(clippy::declare-items-before-usage)]` does exactly the opposite of what it says. `clippy::items-before-usage` would be good IMO. Also,

[2022-07-12 13:32] xFrednet commented on #9125
For that, we have our lovely rustbot. Just include `@rustbot claim` in a comment, to asking an issue to you. See https://rustc-dev-guide.rust-lang.org/rustbot.html in case you're interested in what else you can do with `@rustbot` :upside_down_face:

[2022-07-12 13:40] JoelMon commented on #9125
I'm noticing that the documentation is pretty fragmented... That looks like a good easy (non technical) project to look at next. lol

[2022-07-12 13:47] xFrednet commented on #9125
Yeah, Clippy sadly also has some areas which are not documented at all. We're recently made some good progress on that, but documentation improvements are always good and welcome!

[2022-07-12 14:00] joshtriplett commented on #1848
`$(,)?` allows an optional comma without allowing several.

Also, even a simple version of this that *just* looks for macros that end in `$(something),*` would help.

[2022-07-12 14:32] smoelius commented on #9158
In the example, `split('|')` should be `split('.')`, I think(?).

[2022-07-12 14:38] flip1995 commented on #5352
I would extend this lint with a configuration option, to only warn if the item is used before. This configuration should be turned off by default to keep the current behavior.

[2022-07-12 16:44] ghost opened #9160 "`needless_borrow` bad suggestion - removing needed parens"
### Summary

`needless_borrow` suggests removing parenthesis when calling a function stored in a field with a needless borrow. The warning is valid but removing the parenthesis causes a compiler error. This is only really a problem when using `cargo clippy --fix`.

### Reproducer

I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2bfc1e

[2022-07-12 19:37] intgr commented on #9077
Recommending to switch clear infallible code to code that *ignores errors* certainly seems like a step backwards to me, even if it is faster. If people get into the habit of ignoring errors, it will eventually bite them, likely in a hard to debug way.

Surely `unwrap()` is better than totally ignoring the error?

[2022-07-13 04:48] tabokie opened #9162 "Deny `assert!(res.is_ok())` in tests"
### What it does

It denies any form of `assert!(r.is_ok())`. Instead, it suggests to use `r.unwrap()` directly.

### Lint Name

_No response_

### Category

style

### Advantage

- In tests, using an `unwrap()` displays the specific offending error and helps diagnosis.

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-07-13 04:56] lopopolo opened #9163 "`match_like_matches_macro` does not trigger when one arm contains contains a block with only a bool literal"
### Summary

Looking into the past discussions of `match_like_matches_macro`, it is intended for this lint to trigger when all arms contain `bool` literals. If one match arm is very long, rustfmt will wrap the `bool` literal in a block. This formatting prevents the lint from triggering

### Lint Name

match_like_matches_macro

### Reproducer

I tried this code:

[code]

I expected to see this happ

[2022-07-13 05:00] lopopolo opened #9164 "`match_like_matches_macro` should not trigger if match arms have comments"
### Summary

`match_like_matches_macro` suggests turning match expressions to a `matches!` expression even if doing so results in the loss of comments and documentation on each match arm.

### Lint Name

match_like_matches_macro

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: comments are preserved or the lint is not triggered.

### Version

[2022-07-13 05:51] mikerite commented on #9077
As I understand it, this is the source for the the Write impl used by string: https://doc.rust-lang.org/src/std/io/impls.rs.html#380-412. No `Err`s are ever returned.

[2022-07-13 10:45] greenhandatsjtu opened #9165 "`explicit_auto_deref` gives wrong suggestions on `Box`+trait"
### Summary

When I want to get the reference of a struct which implements a trait from `Box`, clippy will give wrong suggestions about `explicit_auto_deref`

### Lint Name

explicit_auto_deref

### Reproducer

Today build workflow of my repository failed (view details via: https://github.com/greenhandatsjtu/casbin-rs/runs/7314989421?check_suite_focus=true), I found it's cargo clippy that failed a

[2022-07-13 11:20] yoav-lavi opened #9166 "Updated at for lints"
### Description

Clippy currently has an "Added in" field for lints, I think it'd be a good idea to introduce an updated at field for fixes / improvements / moving lints between categories, so someone experiencing an issue or change can know if it's relevant to a change.

Of course since it wouldn't necessarily make sense to retroactively add it to existing lints, it could be an `Option`

### Vers

[2022-07-13 11:28] Victor-N-Suadicani commented on #9077
I don't think it matters if `Err` are ever returned or not, the API is fallible and it's not obvious that it never fails. I wouldn't mind the lint if it suggested a hypothetical infallible `write_format!` macro or something but unfortunately that doesn't exist.

[2022-07-13 11:29] yoav-lavi commented on #9077
@Victor-N-Suadicani that's what I meant here: https://github.com/rust-lang/rust-clippy/issues/9077#issuecomment-1172657625, I agree that it would make sense as a separate macro that doesn't return an `Err`

[2022-07-13 11:56] aldhsu commented on #8674
Closed by #8703.

[2022-07-13 11:56] #8674 closed

[2022-07-13 13:13] #9147 closed

[2022-07-13 13:14] ArneCode commented on #9147
Ok, thanks

[2022-07-13 13:50] azzamsa opened #9168 "thread 'rustc' panicked at 'assertion failed: `(left == right)`"
[code]

[code]
[code]

[2022-07-13 15:03] greenhandatsjtu commented on #9165
Oh I see, thank you!

[2022-07-13 16:25] xFrednet commented on #9166
Hmm, this was something I considered, but decided against it at first, since I don't see a good use case for it unless we add information, what has been fixed/updated. Also related, currently it requires a bit of maintenance work, to keep the added version correct, having a field with updated sounds difficult to keep correct.

This is not a direct no, just my though on the matter :)

[2022-07-13 16:26] xFrednet commented on #9168
This could be an incremental compilation problem. Does the same thing happen if you run `cargo clean` and then `cargo clippy`?

[2022-07-13 16:29] alex-semenyuk commented on #9164
@rustbot alex-semenyuk

[2022-07-13 22:14] kaimast commented on #6904
Probably related to #8777 ?

[2022-07-14 02:07] azzamsa commented on #9168
Yes. solved with `cargo clean`.

[2022-07-14 02:07] #9168 closed

[2022-07-14 10:04] Rqnsom commented on #6628
What about picking 2-3 lints that are already implemented in Clippy and then try to document every implementation step for those lints in their respective files within the codebase?

If anything changes, we can accordingly update the code documentation within the same commit that makes a change for those lints. So then those "more-than-well" documented lints are always kept up-to-date. Of course,

[2022-07-14 10:17] flip1995 commented on #6628
The ["adding lints"](https://doc.rust-lang.org/nightly/clippy/development/adding_lints.html) documentation already goes through a step by step instruction of adding lints. Everything that has to be implemented in addition of this is already lint specific.

And documenting something like this in code is not a good solution IMO. This will get outdated over time and we can't enforce updating it. Func

[2022-07-14 10:41] xFrednet commented on #6628
I would like to see some documentation for our `methods` and `types` module. For context, lints which only focus on specific methods or type checks are combined into one lint pass in the modules `clippy_lints::methods` and `clippy_lints::types` respectively. Currently, we have no good documentation how new lints are added in those modules and new contributors usually start by implementing them in

[2022-07-14 12:27] #9077 closed

[2022-07-14 13:12] urben1680 opened #9175 "question-mark usage suggested in const fn"
### Summary

Clippy suggests to use the `?` operator in a `const fn` where that operator is not allowed.

I hope I did this correctly, it is my first issue I fill in. Thanks for the great work on Clippy!

### Lint Name

question_mark

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to not see this to happen as the `?` operator is not allowed in a `const fn`. Tryi

[2022-07-14 14:03] Epacnoss commented on #8874
I'm also experiencing this issue - the code that triggers it follows:

[code]

error as follows:

[code]
Error line is incorrect due to removed code - not clippy's fault.

[2022-07-14 18:47] yoav-lavi commented on #9166
Hey @xFrednet !

Yes, I remember we discussed the maintenance issue in a different issue recently, and I understand the reasoning for not adding it at the moment.

I do think it'd be helpful if you run into a change or issue with an existing codebase (since currently you'll see the creation version which won't validate your assumption that something changed), and perhaps it could be automated at s

[2022-07-14 19:04] xFrednet commented on #9166
I recall, the workload is currently manageable, due to our new team members and the summer time :upside_down_face:.

I believe that the most common use case would be, to look if a lint was updated in the hope that a false positive was fixed. When I see that a lint in question was updated, I would then check the changelog. I hope that we can soon stabilize the `#[expect]` attribute and `reason` fie

[2022-07-14 19:18] yoav-lavi commented on #9166
Interesting, do more people contribute in the summer? Students / teachers specifically or in general?

Regarding the suggestion - I understand, as I said this was more of an idea / suggestion than something I personally have a need for, sounds good!

Theoretically it could also be possible to store this data outside of the Clippy
codebase (either manually or by detecting changes to files), but it'

[2022-07-14 19:39] alex-semenyuk commented on #9163
@rustbot claim

[2022-07-14 20:33] alex-semenyuk commented on #9163
@lopopolo if you apply rustfmt on `x` it will be transfomed to `y` - [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f6d7f4958e241e2dc486a7d2baf6a8ce)
So I think it doesn't make sense to fix it at all.

[2022-07-14 21:08] lopopolo commented on #9163
@alex-semenyuk I was being lazy when crafting the example because I was on mobile. If you add 10 or 15 more characters to the pattern, rustfmt will add the block.

[2022-07-15 07:23] alexkazik opened #9179 "Unable to disable warning when using derive"
### Summary

I want to silence a clippy warning.

I did stick the allow to all places I thought possible.

It is silenced without the derive.

### Lint Name

type_complexity

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
_nothing_

### Version

[code]

### Additional Labels

_No response_

[2022-07-15 08:28] sigh opened #9180 "assign_op_pattern suggested change is a compiler error for non-primitive vector elements"
### Summary

In the repro case below, the borrow checker disallows a direct use of the assign operator when attempting to add two elements of a vector. I'm not sure what the necessary requirements are on the vector element types, but a wrapped `i32` suffices. If I split it out into the long form pattern, then clippy says to change it back even though that would be a compile error.

Specifically, i

[2022-07-15 10:19] dalance opened #9181 "ICE: compiler/rustc_middle/src/ty/sty.rs:2216:18: Ty::fn_sig() called on non-fn type: F"
### Summary

A minimal verifiable example is below:

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-07-15 11:15] Alexendoo commented on #9180
Interesting, I wonder why this only seems to work for primitive integers, not e.g. `Wrapping<u32>` either

[2022-07-15 12:02] #7724 closed

[2022-07-15 12:08] xFrednet commented on #9166
This is only my second year contributing to an open-source project, so take this with a grain of salt. I have the impression, that most contributors are less active in summer. On the other hand, it feels like we have more new contributors lately.

Not at all, my past few months have been super full, due to RL stuff. Luckily, it worked out so far.

That's a cool idea. I would prefer that solution,

[2022-07-15 12:49] Jarcho commented on #9181
Looks like it's the same as #9041

[2022-07-15 13:41] #9181 closed

[2022-07-15 14:13] #9163 closed

[2022-07-15 15:21] #7307 closed

[2022-07-15 17:55] lucy opened #9183 "unusual_byte_groupings triggers inconsistently for byte-grouped binary literals"
### Summary

See title. Personally I don't think grouping binary literals by byte is unusual.

### Lint Name

unusual_byte_groupings

### Reproducer

[code]
Outputs:
[code]

While this doesn't give any warnings:
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-07-15 23:48] d-e-s-o commented on #7724
Many thanks for getting these lints implemented, @i509VCB!

[2022-07-16 00:47] HoLLy-HaCKeR opened #9184 "Detect manual re-implementations of `Ordering::then_with` and similar APIs"
### What it does

Clippy could detect (more) manual re-implementations of built-in functions such as `Ordering::then_with`. Existing lints such as `manual_ok_or` and `manual_unwrap_or` already exist and do the same thing.

### Lint Name

manual_ordering_then

### Category

style, complexity

### Advantage

- Helps new rust users discover new APIs
- Reduces code complexity for users that are famili

[2022-07-16 05:45] shssoichiro opened #9185 "cast_abs_to_unsigned generates non-compiling code when original code is in parens"
### Summary

When there is an expression using `.abs()` which requires parens, the suggestion generated by `cast_abs_to_unsigned` does not preserve those parens, resulting in code that does not compile.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

(note the lack of parens in the suggestion)

### Version

[code]

### Additiona

[2022-07-16 09:45] alex-semenyuk commented on #9185
@rustbot claim

[2022-07-16 11:16] sgued opened #9186 "Lints recommeding to use `std::iter::once` and `std::iter::empty`"
### What it does

It seems suitable to separate it in two lints, one for `iter::once` and one for `iter::empty`. They'd look at patterns such as `[foo].into_iter()` and `[].into_iter()` and suggest using `once` and  `empty` instead.

### Lint Name

iter_once and iter_empty

### Category

pedantic

### Advantage

`once` and `empty` take less memory than their the arrays or slice iterators for the c

[2022-07-16 12:13] lquenti commented on #1209
Why is this issue still open? Seems pretty fixed to me

[2022-07-16 13:04] jyn514 commented on #1209
This still doesn't work between crates in a workspace, only within individual crates. Doing it for the whole workspace requires cargo support: https://github.com/rust-lang/rust/issues/82761#issuecomment-883820233

[2022-07-16 16:01] rossmacarthur opened #9188 "ICE when compiling `time::macros::format_description`"
### Summary

I haven't delved deeper as to what about this macro triggers the ICE but I am consistently able to replicate using the following.

Using the `time` crate version `0.3.11`.

[code]

Error

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-07-16 16:04] rossmacarthur commented on #9188
Nvm just realized this isn't just clippy will move to the Rust repository

[2022-07-16 16:05] #9188 closed

[2022-07-16 16:05] rossmacarthur commented on #9188
See https://github.com/rust-lang/rust/issues/99261

[2022-07-16 16:06] dhardy opened #9189 "ICE: Failed to extract DefId: local_def_id_to_hir_id 2eb608b14b8dc825-dcf9a16422f9b6d4"
### Summary

[code]
Code is: https://github.com/kas-gui/kas/pull/336/commits/173dd399d6847f46b9ae90b3e91f55847c6615ff

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
<p>

[code]
</p>
</details>

[2022-07-16 17:27] Alexendoo commented on #8513
fixed by #8738

[2022-07-16 17:27] #8513 closed

[2022-07-16 23:55] Guilherme-Vasconcelos opened #9190 "Clippy stops working after printing its version unless I modify the source code"
### Summary

I realized that if I run `cargo clippy` with `-- -Vv` flag, clippy completely stops working until I either change my source code, or `cargo clean`.

### Reproducer

I tried this code:

[code]

Then I ran `cargo clippy` and got a warning:

[code]

Then I ran `cargo clippy -- -Vv` and got my clippy version:

[code]

And when I ran `cargo clippy` again, it no longer emits that warning:

[2022-07-17 08:42] Seeker14491 opened #9192 "`cargo clippy --fix` fails to fix unneeded return"
Running `cargo clippy --fix` fails to fix the following code:

[code]

It tries to convert the `return 0;` into an implicit return, but it fails to remove the semicolon on the following line, which causes the error.

<details><summary>Full Output</summary>
<p>

[code]

</p>
</details>

### Meta

`rustc --version --verbose`:
[code]

[2022-07-17 09:13] drwadu opened #9191 "clippy::needless_collect although collect is needed"
### Summary

suppose we have the following code snippet where `ys` is of type `std::collections::HashSet`:
[code]
we want to try to remove **every element** in `xs` from `ys`; if  `x` is in `ys`, then `ys.remove()` returns `true`, otherwise `false`. now, clippy suggests:
[code]
However, as far as I understand, using `any` will cause the iterator not only to stop, whenever the first `true` is found

[2022-07-17 16:34] Dzejkop opened #9193 "`if_let_mutex` doesn't trigger if operating on a reference to a mutex"
### Summary

Lint doesn't trigger when operating on a reference to a mutex, even though such code is functionally the same and incorrect in the same way (causes a deadlock).

### Lint Name

if_let_mutex

### Reproducer

For the following code:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7fcc496458d492422969d3dc8e0c6f27)

After running `cargo c

[2022-07-17 18:30] Dzejkop opened #9194 "`clippy::invalid_regex` example doesn't actually trigger the lint"
### Description

On https://rust-lang.github.io/rust-clippy/master/#invalid_regex the example provided for this lint is `Regex::new("|")`.

And this doesn't actually trigger the lint, it looks like this is a "correct" regex.

[Playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c5f98060f4063e494be4cf7ffd11bf78)

### Version

[code]

### Additional Labels

_N

[2022-07-17 18:50] alex-semenyuk commented on #9194
@rustbot claim

[2022-07-17 19:21] yerke commented on #9175
@rustbot claim

[2022-07-17 19:28] yerke commented on #8986
@rustbot claim

[2022-07-17 19:45] Xiretza opened #9195 "unused_self: respect avoid-breaking-exported-api"
### Description

`unused_self` currently suggests converting methods to associated functions even for public APIs:

[code]

[code]

`unused_self` should instead respect the `avoid-breaking-exported-api` option like several other lints and only trigger for public APIs if the option is set to `false`.

### Version

[code]

### Additional Labels

@rustbot label +C-enhancement

[2022-07-17 21:51] droogmic commented on #9111
https://github.com/rust-lang/rust-clippy/issues/9095 is fixed, but I still have this issue in 2022-07-17.

[2022-07-17 22:30] TheIronBorn opened #9197 "useless_attribute with unsafe_rename"
### Summary

allowing `unsafe_removed_from_name` on imports produces a false positive on `useless_attribute`

### Lint Name

useless_attribute

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
No output

### Version

[code]

### Additional Labels

_No response_

[2022-07-17 22:36] Dzejkop opened #9198 "It's impossible to trigger the `wrong_transmute` example"
### Description

The example is listed as follows:

[code]

however, it'll fail at compilation time, before even getting to Clippy.

[Proof](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a29264f0550437b3a01e2d6dedbebf7c)

In that case shouldn't this lint be deprecated?

### Version

[code]

### Additional Labels

_No response_

[2022-07-17 23:04] Jarcho commented on #9111
The fix hasn't been merged into the main rustc repo yet.

[2022-07-17 23:06] Jarcho commented on #9198
The example does compile on targets with 32-bit pointers

[2022-07-17 23:22] #9194 closed

[2022-07-17 23:52] Dzejkop commented on #9198
@Jarcho correct, but then it won't trigger the lint. Same if instead of `'x'` we use a `2u64` on 64-bit architectures.

As a matter of fact [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bdaad181d7e6f68ee864a91ca0c3b7f9) it'll trigger the `useless_transmute` lint instead.

[2022-07-18 00:12] Jarcho commented on #9198
It triggers fine when I tested it locally for a 32-bit target. It will also trigger on f32/f64->ref/ptr conversions.

`wrong_transmute` doesn't trigger on integers.

[2022-07-18 00:21] Guilherme-Vasconcelos commented on #2972
@rustbot claim

[2022-07-18 07:42] dhardy commented on #9189
I also got a similar error with `rustdoc`. After `cargo clean` the error reported here no longer happens, so it's probably an incremental build error like in https://github.com/rust-lang/rust/issues/99233.

[2022-07-18 07:42] #9189 closed

[2022-07-18 08:35] Xiretza commented on #9195
@rustbot claim

[2022-07-18 10:25] Kixunil opened #9200 "New lint: potentially unwinding caller-supplied operators in `unsafe` code"
### What it does

If a non-`unsafe` generic function containing `unsafe` block uses an operator that is implemented by the caller (via `core::ops::*`) the lint warns that the operator may unwind and suggests `catch_unwind` or calling the method explicitly to signal the programmer thought about it.

Related: #3915
See also: https://github.com/rust-lang/rfcs/pull/3288#discussion_r922871828

### Lint

[2022-07-18 10:27] Dzejkop commented on #9198
Ok, yeah. Indeed it works for `f64`. Thanks!

[2022-07-18 10:27] #9198 closed

[2022-07-18 10:27] #8962 closed

[2022-07-18 10:34] jendrikw commented on #9191
Could it be that clippy assumes closures inside `map` don't have any side effects.

The [documentation for `Iterator::map`](https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#method.map) also recommends a loop in these cases: "If you’re doing some sort of side effect, prefer [for](https://doc.rust-lang.org/stable/book/ch03-05-control-flow.html#looping-through-a-collection-with-for) to `

[2022-07-18 10:40] ojeda commented on #9200
Would the lint need to consider `-Cpanic=abort`?

[2022-07-18 10:48] kornelski commented on #9200
Libraries typically can't choose their panicking mode (even if a crate had `panic=abort`, the library part could be used as a dependency in a `panic=unwind` binary), so I think it's fair to expect libraries to always consider unwinding.

[2022-07-18 11:25] leonardo-m opened #9201 "Use cube root function lint"
### What it does

The lint suggest to replace a FP::powf() call with a different method call.

### Lint Name

use_cube_root_function

### Category

perf

### Advantage

It's more precise, shorter and simpler.

### Drawbacks

None, I think.

### Example

[code]

Could be written as:

[code]
Also note that they output slightly different results. cbrt is more precise.

[2022-07-18 12:08] kornelski commented on #9200
`panic=abort` has been available since Rust 1.10, and I haven't seen an abort-only library. I guess your concern is related to Rust in Linux environment? But I hope Rust isn't getting fragmented into two dialects that work by different rules.

I do not think that a library that only supports `panic=abort` could be considered *sound* in Rust. This isn't a guarantee that Rust gives. Libraries can't

[2022-07-18 12:45] #9195 closed

[2022-07-18 13:33] alex-semenyuk commented on #9197
You can achieve the result:

[code]

or

[code]

[2022-07-18 16:04] droogmic commented on #9111
ah true, I thought I had seen a release go out.

[2022-07-18 16:27] kornelski commented on #9200
Removal of unwind from `Drop` is insufficient to remove the risks of unwinding that this lint addresses. `Deref` can unwind. `Index` can unwind. All other overloaded operators can unwind. Closures can unwind. I don't think there are any plans to remove all of these other risks.

Current Rust semantics are that unwind *may* happen, but is *not guaranteed* to happen. Note that it's different from a

[2022-07-18 16:46] jendrikw opened #9203 "Fp with nonsense suggestion from type_repetition_in_bounds when using #[derivative]"
### Summary

When using derivative to generate a Clone impl, clippy produces a FP. Also, the suggestion is nonsense:

`"I: Clone, I::Item: Clone": Iterator + "I: Clone, I::Item: Clone"`

### Lint Name

type_repetition_in_bounds

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No warning.

### Version

[code]

### Additional Labels

@rustbot l

[2022-07-18 16:52] CAD97 commented on #9200
That's a big stronger than I intended; I more meant that while I'm arguing against `-Zpanic-in-drop=abort` being mandatory, I would not argue against `-Cpanic=abort` being the default. It's a (my own) overstatement to say I'm *in favor* of `-Cpanic=abort` being the default. If nothing else, it's a breaking change.

-----

So in general I'm in favor of more allow-by-default `clippy::restriction` li

[2022-07-18 19:04] ojeda commented on #9200
Not sure why you bring all this up -- nobody has argued otherwise.

*Correctness* is all about the requirements. If some Rust code is only ever going to be used under a `-Cpanic=abort` setting, and does what is expected of it, it is *correct* even if it does not handle unwinding, because that was not a requirement to begin with.

Rust's *soundness*: if we take the definition from https://doc.rust-

[2022-07-18 22:53] CAD97 commented on #9200
<details><summary>off-topic</summary>

The terminology I have seen used the most is that a library is e.g. "sound under `-Cpanic=abort`" when relying on certain flags for soundness. A library *is* sound (by the letter of the law, if not the spirit) if it fails to compile when compiled with flags that would make it unsound.

This is in practice the case for more library crates than you'd expect! A

[2022-07-18 23:08] leighmcculloch opened #9204 "match_same_arms reports multiple todo! arms"
### Summary

The `match_same_arms` reports multiple arms that all contain `todo!` but I think it should ignore this case. IDEs powered by rust-analyzer will pre-populate a `match` statement with arms that contain `todo!` and it is inconvenient that clippy immediately warms/errors on this. This is especially the case since warning on multiple `todo!` is unlikely to address the intent of the lint.

[2022-07-19 01:00] lopopolo commented on #9164
I think this usability paper cut also applies to the match same arms lint.

[2022-07-19 04:16] alex-semenyuk commented on #9204
@leighmcculloch if the main point is rust analyzer generation, can we consider creating issue for it instead? If there is a valid optimization then we should do it.

[2022-07-19 04:44] leighmcculloch commented on #9204
Code generated by rust-analyzer is an example, but I think in general match statements with `todo!` variants are often unnested because the intent is to fill them out over time with unique arms and so the intent is somewhat lost.

Considering the route of addressing this in rust-analyzer: If rust-analyzer generated a block with a single arm, that would be very inconvenient.

[2022-07-19 08:41] J-ZhengLi opened #9205 "`or_fn_call` suggestion causing error on temporary value"
### Summary

I found this error when using a reference of function return as optb in `or()` method, which was fine, but clippy suggesting me to use `or_else` but applying the suggestion will breaks the code.

### Lint Name

or_fn_call

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

but if I use the suggestion my code won't compile and gives below error:

[code]

I expected

[2022-07-19 12:08] Kixunil commented on #9200
@ojeda additional message will bring noise either way. Maybe not too bad but maybe `clippy` could detect `#[cfg(not(panic="abort"))] compile_error!()` (and perhaps also warn if you do it the other way around). The problem with encouraging this practice (and I think this is what @kornelski is trying to say) is that it makes the libraries less useful, potentially forcing people to set `panic = abort

[2022-07-19 13:41] Kixunil commented on #9200
@kornelski I believe @ojeda claims that `compile_error!` behind `cfg` testing for `panic = abort` is sound which seems to match what you say and what I believe to be true. I guess the difference is that @ojeda suggested checking compiler flag while the correct behavior would be to detect `compile_error` behind (correct) cfg.

[2022-07-19 13:49] tijsvd opened #9206 "while_let_loop fails to see that temporary value needs to be dropped"
### Summary

There may be important temporary values in the if/while expression, like a mutex lock guard. In case of an if-statement-with-break, these are dropped after the statement. In case of a while-let loop, these are retained for the whole loop body.

I would expect that the lint might recognise this kind of thing and not warn. Seems hard though. But blindly "fixing" can lead to bad errors.

[2022-07-19 14:11] peterjoel opened #9208 "`await_holding_lock` lint is erroneously triggered when the guard is explicitly dropped before the await."
### Summary

The code below triggers `await_holding_lock`. However, the guards are dropped explicitly before each `.await` so there should not be a problem.

### Lint Name

await_holding_lock

### Reproducer

I tried this code:

[code]
I saw this happen:

[code]

I expected to see this happen:

We expected no errors because the guards are explicitly dropped before each await point.

### Version

[

[2022-07-19 14:45] tijsvd commented on #9206
Right. If that's deliberate and not accidental, then I guess this can be closed.

[2022-07-19 16:29] peterjoel opened #9209 "Lint incorrectly fires when an anoymous mutex guard is used in a block inside an if..let statement"
### Summary

The code below can be fixed by adding a local binding. But this looks to me like Clippy has misunderstood the flow of data.

[code]

### Lint Name

await_holding_lock

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

I did not expect to see an error because the guard returned from `self.ids.read()` (`id`) is dropped at the end of

[2022-07-19 16:30] peterjoel commented on #9209
This may be the same issue as #9208 but it feels a little bit different so I'm logging it additionally just in case.

[2022-07-19 21:31] #9160 closed, assigned to nobody

[2022-07-19 21:54] xFrednet commented on #9164
Comments are sadly a bit harder to deal with. I remember other lints having a problem with them as well. I've added the E-hard label for now. Solving this probably requires a look at rustc's [`SourceMap`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/source_map/struct.SourceMap.html) If somebody attempts this, it might be cool to have a general util function like `contains_comment(cx,

[2022-07-19 23:48] fanatid opened #9211 "Move data outside of `.filter_map` and false positve `unnecessary_filter_map`"
### Summary

Clippy propose to use `.filter` instead of `.filter_map` but in `.filter` we have an item reference while in `.filter_map` item itself and can move this item to some outside variable.

### Lint Name

unnecessary_filter_map

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

### Version

[code]

### Additional Labels

_No response_

[2022-07-20 01:52] #9204 closed, assigned to nobody

[2022-07-20 02:03] Jarcho commented on #9206
Was changed in #8666.

[2022-07-20 10:06] tijsvd commented on #9206
Thank you, closing.

[2022-07-20 10:06] #9206 closed

[2022-07-20 10:21] peterjoel commented on #9209
This appears to be a duplicate of #8777.

[2022-07-20 10:21] #9209 closed

[2022-07-20 13:19] alice-i-cecile opened #9212 "Lint for 4 / (////) to help detect broken doc comments"
### What it does

Detects four consecutive forward slash characters.

This is almost always indicative of a broken doc comment.

### Lint Name

four-forward-slashes

### Category

suspicious

### Advantage

- The doc comment appears as expected.

### Drawbacks

Users may have a non-standard style that uses 4 forward slashes semantically.

### Example

[code]

Was likely intended to be:

[code]

[2022-07-20 13:28] alice-i-cecile opened #9213 "Suspicious comment (//) adjacent to doc comment (///)"
### What it does

If a `//` comment is found adjacent to a doc comment, warn, as it may have been intended to be part of the doc comment.

Some cases that definitely should be warned about:
- a `//` comment above a `///` doc comment empty line
- a `//` comment (either single or multi-line) surrounded by doc comment lines

Some edge cases:
- a `//` comment before a doc comment
- a `// comment after

[2022-07-21 01:38] dtolnay opened #9218 "ptr_arg false positive when Cow's lifetime appears in return type"
### Summary

Clippy's warn-by-default `ptr_arg` lint is displeased about function arguments with the type `&Cow<T>`. That's fine, but `&Cow<'lifetime, T>` should be exempt from this lint when the Cow's lifetime is not elided.

I hit this false positive in serde_yaml code that deals with deserializing borrowed &amp;str. Since YAML deserializers can be constructed from either a `&'de str` as input (

[2022-07-21 07:37] awused opened #9219 "`needless_collect` has no understanding of lifetimes"
### Summary

`needless_collect` doesn't consider if the iterator is borrowing values that are moved between the `collect` call and where the collected values are used.

### Lint Name

needless_collect

### Reproducer

I tried this code:

[code]

I saw this happen:

`needless_collect` suggests this code, which references `original` after I explicitly move it and the suggestion does not compile.

[c

[2022-07-21 11:23] kadiwa4 opened #9220 "Wrong use of str::rsplit in case_sensitive_file_extension_comparisons example"
This is the current example for `case_sensitive_file_extension_comparisons`:
[code]
Use instead:
[code]

The suggested replacement is wrong and misleading. `filename.rsplit('.').next()` will _always_ return `Some(_)`. If there is no `.` in filename, this function will instead check if the entire input string is equal to `"rs"`. Thus, this returns `true`: `is_rust_file("rs")`

My suggested replacem

[2022-07-21 11:55] kadiwa4 commented on #9125
This should also trigger on `.map_or(false, …)`, `.map(…).unwrap_or_default()` and `.map(…) == Some(true)`.

[2022-07-21 14:17] dswij opened #9221 "lint matchable `if let` for pattern"
### What it does

Checks for `if let` for `pattern`s that can be re-written with `matches!`

This can be an improvement to [`equatable_if_let`](https://rust-lang.github.io/rust-clippy/master/#equatable_if_let) lint.

For background see https://github.com/rust-lang/rust-clippy/pull/9102#discussion_r924363140

### Lint Name

_No response_

### Category

_No response_

### Advantage

Similar to `equa

[2022-07-21 14:19] dswij commented on #9221
We can use `equatable_if_let` as a starting point, this should be a good first issue

[2022-07-21 16:13] kadiwa4 commented on #6425
That usage of `str::rsplit` is misleading, see #9220.

[2022-07-21 16:21] flip1995 commented on #9220
I don't think `split` should be used here, but rather `Path`, like it was suggested in the original issue:

[code]

Both `rsplit_once` and `eq_ignore_ascii_case` will need a MSRV on the lint.

[2022-07-21 17:13] #9180 closed

[2022-07-21 19:39] xFrednet commented on #9125
It would be cool if all of these causes would be caught. For the start, it might be better to focus on one and add the others later :)

[2022-07-21 20:09] sgued opened #9222 "`unwrap_used` recommends using `expect` even when the `expect_used` lint is also enabled"
### Description

# Short description

When both the `unwrap_used` and `expect_used` lints are opted in (with `#![warn(clippy::unwrap_used, clippy::expect_used)]`) the unwrap_used lint still recommend using `expect`, even though it would still cause an error.

# Example
With this:
[code]

The error message looks like:

[code]

The help message recommends using `expect` though it would still raise a

[2022-07-21 20:11] sgued commented on #9222
@rustbot label +L-suggestion

[2022-07-21 23:40] eaglgenes101 commented on #9200
There exist more than a few clippy lints that are only applicable most of the time, so not including this one on the basis of a possible particular setup that we don't know even exists in practice seems strange.

[2022-07-22 01:05] rukai opened #9224 "declare_interior_mutable_const triggered in tokio::task_local"
### Summary

@kyoto7250 this might be of interest to you given you solved a similar issue before.

as of tokio 1.20.0, `tokio::task_local!` triggers this lint.

I thought that https://github.com/rust-lang/rust-clippy/pull/9015 might have resolved the issue but it should be in the latest nightly and the issue is still occurring in the latest nightly.

### Lint Name

declare_interior_mutable_const

[2022-07-22 01:56] nyurik commented on #8368
I began av implementation of this lint based on the https://github.com/rust-lang/rust-clippy/pull/8518 by @Alexendoo. So far I got it to identify most cases, but I am still struggling with the internal API -- for some reason the suggestions do not modify the source code. I am also not certain how to parse the structs in case the same value is used multiple times, i.e. `("{0} {0}", var)` case.  Any

[2022-07-22 04:04] tabokie commented on #9162
@rustbot claim

[2022-07-22 05:07] yerke commented on #4530
`let_chains` is riding the train to stable and is expected to be in Rust 1.64 🚀 : https://github.com/rust-lang/rust/pull/94927

[2022-07-22 07:01] hellow554 commented on #8493
The problem seems, that #9015 only covers an unexpanded `thread_local`, so here's a MCVE that still triggers the lint:

[code]

@kyoto7250 may I ask you to have another look at this?

[2022-07-22 07:57] Kixunil opened #9226 "`unused_io_amount` doesn't fire when UFCS is used"
### Summary

When UFCS is used - `std::io::Read::read()` or `std::io::Write::write()` instead of a method call the lint doesn't fire even though it should for exactly the same reasons it fires for method call.

### Lint Name

unused_io_amount

### Reproducer

I tried [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5dd4c8e9f33f9268a03e57cec3bdec84):

[code]

[wri

[2022-07-22 08:12] Kixunil commented on #1370
Oh, it's already implemented, I thought it wasn't because I hit a false negative: #9226. :sweat_smile:

[2022-07-22 09:50] kadiwa4 opened #9227 "The lint docs misrepresent trait `Drop`"
The reason why `Drop` is a trait is because adding a `drop` method to a type is similar to implementing a trait on it.
Other than that, `Drop` does not really behave like a trait. If a type doesn’t implement `Drop`, then that doesn’t mean it lacks destructor code. For instance, `String` and `HashMap` currently don’t implement it.

Instead, `core::mem::needs_drop::<T>()` is used to check if droppin

[2022-07-22 11:18] Alexendoo commented on #8368
You could do the same as in `check_literal`, using a map to only consider arguments that are used once

https://github.com/rust-lang/rust-clippy/blob/818a91e8c83b5acd040594bb03199966f6394f1a/clippy_lints/src/write.rs#L423-L430

[2022-07-22 13:20] jendrikw opened #9228 "New lint suggestion: doctest doesn't use documented item"
### What it does

It happened to me a few times that I was copy-pasting a method to make some light changes. I then renamed the method in the  pasted code, but forget to change the name in the doctest. I then had a duplicated doctest on an unrelated method.

Similarly, i think the lint should fire if a doctest on a `struct S` doesn't use `S`, and on a module `m` if it doesn't use `m`.

### Lint Na

[2022-07-22 14:28] Jarcho commented on #9226
This is true for a lot of lints on methods, not just `unused_io_amount`.

[2022-07-22 17:34] ojeda commented on #9200
No, I didn't suggest that. In fact, I was the one that suggested the `#[cfg(not(panic = "abort"))] compile_error!` approach...

[2022-07-22 17:47] ojeda commented on #9200
There is no extra verbosity for the common case with what I suggested.

`unsafe` code gets compiled under `-Cpanic=abort` all the time and there are abort-only projects out there. I would say chances are quite high that people see this if the lint ends up being enabled by default (which is mentioned as a possibility in OP).

Being less confusing and more correct does not seem like a *"strange"* re

[2022-07-22 18:20] Kixunil commented on #9200
@ojeda I mean for clippy to detect that pattern as opposed to flag being set. If that's what you had in mind, then fine, just your repeated `-Cpanic=abort` made me think you want to detect the flag, not the code.

[2022-07-22 19:13] ojeda commented on #9200
So there is the lint discussion and the soundness discussion (which is why we were all hiding the latter as off-topic). For the former, yes, my suggestion was about the flag (more precisely, the panic strategy of the session), i.e. if `panic=abort`, append something like *"...under `panic=unwind`"* to the message for clarity.

[2022-07-23 02:56] Gankra commented on #8987
Even better, it complains about idiomatic Vec::drain usage!

![image](https://user-images.githubusercontent.com/1136864/180588009-b31ee927-3e6f-4efe-930e-9618a4ef9452.png)

[2022-07-23 04:12] taiki-e commented on #8017
Does this seem implemented as https://rust-lang.github.io/rust-clippy/master/index.html#ptr_as_ptr?

[2022-07-23 08:46] Rqnsom commented on #8600
Is it okay if I take over this one?

[2022-07-23 12:55] RalfJung opened #9231 "Have a lint against usize-to-u64 casts (or, against *all* integer casts)"
### What it does

I would like clippy to lint against *all* integer casts. So I have set:
[code]
However, I just by accident noticed that this does *not* lint against usize-to-u64 casts. I guess `cast_possible_truncation` says "this cannot truncate because we don't have more than 64bit pointer size", and "cast_lossless" says "ah this might be lossy on platforms with pointers larger than 64bit", an

[2022-07-23 13:22] e00E opened #9232 "collapsible_if lint is confused by comments and sometimes deletes them with --fix"
### Summary

[code]

v1, v3, v4 trigger the collapsible_if lint with the suggestion

[code]

Bug 1: It is inconsistent that v2 does not trigger the lint while v3, v4 do.
Bug 2: When automatically applying the suggestion in v3, v4 through `clippy --fix` the comment is removed. It is not acceptable for the suggestion to remove comments.

### Reproducer

_No response_

### Version

[code]

### Additi

[2022-07-23 13:37] FoseFx commented on #9220
Fixed via #9229

[2022-07-23 20:01] #9220 closed

[2022-07-24 01:21] tgross35 commented on #8971
Is there a reason this lint tends to be emitted with pyO3 projects? I am running in to the same thing on a python crate and scratching my head a bit

Even simpler for me, I don't even use the `*` operator

[code]

[2022-07-24 02:56] nyurik commented on #8368
I added some more implementation code, and some of it even works (kinda).  Any feedback is welcome - probably best to do it on the #9233 PR.  Thanks!

[2022-07-24 04:02] CAD97 opened #9234 "`clippy::useless_format` slices `{name}` to `am.to_string()`"
### Summary

Fun with off-by-ones.

cc @compiler-errors didn't you just fix something similar to this in rustc or am I imagining things

### Reproducer

I tried [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4ab15bad491f442ae8917d6c124acc05):

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

Note the suggestions: they've mangled

[2022-07-24 06:43] yerke commented on #8986
I think the lint is working as intended right now.

For the following input:
[code]

I get only 1 warning:
[code]

Which is expected, since the function `_test` is a standalone function and is not part of any tests.
`mod tests` is ignored, since it contains `tests` in it.

The `is_test_module_or_function` function this lint relies on seems to work according to its description:
https://github.com/r

[2022-07-24 10:01] SichangHe opened #9236 "`use anyhow::Result;`treated as unused import if only tests use it"
### Summary

If I add
[code]
and use `Result<T>` only in my tests, clippy thinks this import is unused.

### Lint Name

unused_imports

### Reproducer

This is all the code you need to have this false warning:
[code]

The warning:
[code]

To show that this import is used, remove it:
[code]

If you run the test, it shows an error:
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-07-24 12:04] Alexendoo commented on #9236
This warning is from rustc itself rather than Clippy.  `#[test] fn`s have `#[cfg(test)]` applied to them, so when not compiled in test mode the `Result` import is unused. The usual way to do tests is within a `#[cfg(test)]` module, with the imports also in the test module

[code]

[2022-07-24 12:07] SichangHe commented on #9236
So, it is a bug from rustc I guess.

[2022-07-24 12:23] Alexendoo commented on #9236
It's not a bug, the program when not compiling tests is essentially

[code]

Where the `anyhow::Result` import is unused. Test only imports should only be enabled when the tests themselves are enabled

[2022-07-24 12:30] SichangHe commented on #9236
Good point. The import is unused from the point of building. It still looks wonky I guess.

Also, why are we not suggesting people to separate tests to a module? Is that too much restriction?

[2022-07-24 15:15] Alexendoo commented on #9236
It's a reasonable suggestion, we don't have a lint for it probably because of some combination of it being difficult (due to how clippy works with conditional compilation) and nobody taking the time to implement it

[2022-07-24 17:30] xMAC94x opened #9238 "Cargo clippy crashes on veloren with `nightly-2022-07-19`"
### Summary

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-07-24 17:37] #9234 closed

[2022-07-24 17:47] alexschrod commented on #9076
Here's another test case if you want/need one; just came across this false positive today: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9cddc1fe2df2b270406da614a3090de2>

[2022-07-24 21:43] c410-f3r opened #9239 "Plain wrong `std_instead_of_core` suggestion"
### Summary

`std_instead_of_core` thinks that `std::env` is referring the `core::env` macro but the snippet is in fact referring the std-only `std::env` module.

### Lint Name

std_instead_of_core

### Reproducer

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-07-24 22:04] mkrasnitski opened #9240 "Lint for unused type parameters on functions"
### What it does

Similar to `extra_unused_lifetimes`, checks for unused type parameters on functions and warns that this is likely unintended, suggesting that they be removed. (Note: should this only apply to functions, or are there other places it could be run?)

### Lint Name

extra_unused_type_parameters

### Category

complexity

### Advantage

- Calling functions with unused type parameters

[2022-07-25 00:35] macovedj commented on #9240
@rustbot claim

[2022-07-25 00:55] mkrasnitski commented on #9240
@macovedj If it's alright, I'd like to try implementing this myself (since I'd like to start contributing), would you mind unclaiming?

[2022-07-25 00:59] macovedj commented on #9240
@rustbot release-assignment

[2022-07-25 01:12] mkrasnitski commented on #9240
I appreciate it!

[2022-07-25 01:13] mkrasnitski commented on #9240
@rustbot claim

[2022-07-25 03:00] eranfu opened #9242 "Crash when `cargo clippy --all --tests`"
# The output:
thread 'rustc' panicked at 'index out of bounds: the len is 0 but the index is 0', src\tools\clippy\clippy_lints\src\question_mark.rs:127:61
stack backtrace:
note: Some details are omitted, run with `RUST_BACKTRACE=full` for a verbose backtrace.

error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug

[2022-07-25 04:13] kyoto7250 commented on #8493
@hellow554
Thank you for your comment.

I was able to reproduce it.

---

@Jarcho

I would like to hear your thought.

Should we expand `MacroCall` and check everything out?

[2022-07-25 04:24] Jarcho commented on #8493
You'll have to check every item in the macro backtrace since it will be somewhere in the middle.

[2022-07-25 08:27] #9242 closed

[2022-07-25 09:05] jakubkosno commented on #9231
@rustbot claim

[2022-07-25 13:17] kyoto7250 commented on #9224
@rustbot  claim

[2022-07-25 13:20] GnomedDev commented on #6947
This is stopping this lint being used in https://github.com/serenity-rs/serenity because a lot of methods take `impl Into<T>`, and it would take a lot of unnecessary change to add `+ Send` to all of these. There should at least be a setting to allow this lint not to trigger for generics.

[2022-07-25 14:42] #8493 closed

[2022-07-25 14:42] #9224 closed

[2022-07-25 15:17] #9162 closed

[2022-07-25 15:35] #9239 closed

[2022-07-25 17:43] kangalioo commented on #6947
That means users with a runtime that doesn't require Send (i.e. single threaded runtime) can no longer use the function for no good reason.

I believe this lint should only lint async functions whose future is **unconditionally** `!Send`. Because library authors want to verify "does my function _support_ Send values", not "does my function _force_ Send values"

[2022-07-25 21:42] #8903 closed

[2022-07-25 22:06] xFrednet commented on #8971
That is most likely a problem originating from the `#[pyfunction]` macro, we have a pr to improve detection of these. Hopefully, this case should be covered by that PR #8694 :upside_down_face:

[2022-07-25 22:30] #9238 closed

[2022-07-26 22:58] asze17 opened #9513 "Clippy Error during auto fix"
Clippy reported error during auto fix

[code]

Original code is
[code]
Clippy attempted to change it to
[code]
which leads to an error

Note: `data` is `&[u8]`

`rustc --version --verbose`
[code]

The lint that likely caused it
[code]

[2022-07-27 04:43] tcharding opened #9248 "`wrong_self_convention` does not fire"
### Summary

`wrong_self_convention` does not fire when clippy is run on code from the lint example.

### Lint Name

wrong_self_convention

### Reproducer

I tried this code:

[code]

I expected to see this happen:

`clippy` to warn about the wrong use of self.

Instead, this happened:

No lint warnings.

### Version

[code]

[2022-07-27 09:57] yoav-lavi opened #9250 "`cast_possible_wrap` could use a suggestion"
### Description

[`cast_possible_wrap`](https://rust-lang.github.io/rust-clippy/master/index.html#cast_possible_wrap)'s docs currently have an explanation of why this isn't desirable, but do not give the user an alternative to use.

I'd like to suggest adding a mention of a safe method of converting between numeric types where the target is of a smaller size than the origin:

[code]

[Example Play

[2022-07-27 11:02] tobiasvl opened #9251 "`match-same-arms` doesn't delete the old arm when merging"
### Description

[`match_same_arms`](https://rust-lang.github.io/rust-clippy/master/index.html#match_same_arms) can suggest merging two `match` arms with identical bodies. If this is done, the fixed arm will merge the other arm into itself, but the old arm will not be deleted, leading to `rustc` warning about `unreachable_patterns`.

### Version

[code]

### Additional Labels

_No response_

[2022-07-27 12:37] Blub commented on #8987
Using an existing guard in a match statement also triggers it, even if it's still used later on and held on purpose.

[code]

[2022-07-27 21:26] xFrednet commented on #8987
Hey @Blub, thank you for the report. This seems like a second issue, then it linting in a `for`-loop. Would you mind creating a new issue for it? :upside_down_face:

[2022-07-28 01:22] arieluy commented on #9100
My commit adds the lint for `then_some`/`unwrap_or`, more commits needed to address other cases. I'll get to them at some point, but anyone can feel free to take them before me.

[2022-07-28 05:44] Serial-ATA commented on #9197
@rustbot label +good-first-issue

[2022-07-28 05:55] Serial-ATA commented on #9094
@rustbot label +good-first-issue

[2022-07-28 07:12] Blub commented on #8987
Ah sorry, my original case had the `match` inside a loop and I kind of missed that it diverged away from this issue when minimizing the reproducer.
In fact, it now looks like #9072 actually.

[2022-07-28 11:19] Nemo157 opened #9255 "Lint to ensure all variants of an enum are used"
### What it does

Check that all variants of an enum are used inside a function.

This is similar to standard exhaustiveness checking of a `match`, and the [`non-exhaustive-omitted-patterns`](https://github.com/rust-lang/rust/issues/89554) lint for non-exhaustive enums; but generalized to usecases that are not using `match`.

### Lint Name

_No response_

### Category

restriction

### Advantage

[2022-07-28 14:38] RosieBaish opened #9256 "Incorrect suggested removal of to_string on slice"
### Summary

`clippy::to_string_in_format_args` gives incorrect output when you call to_string on a str slice.
The code it suggests doesn't compile.

### Reproducer

I tried this code:

[code]

I expected to see this happen:
Clippy would either produce no error, or offer a valid correction

Instead, this happened:
It offered this alternative, which doesn't compile.
original[..10] doesn't have a kn

[2022-07-28 16:21] smoelius commented on #9256
I should have a fix within a day or so.

[2022-07-28 21:31] Serial-ATA commented on #653
@rustbot label +good-first-issue -E-medium

[2022-07-29 02:08] Serial-ATA commented on #854
@rustbot claim

[2022-07-29 14:19] cgwalters opened #9260 "lint against `todo!()` and `dbg!()`"
### What it does

I heavily use the `todo!()` and `dbg!()` macros during development.  However, I think most projects never actually want to have these in production code committed to the repository.

In one project, I actually did commit `dbg!()` and was embarrassed to find it later; I added a manual check for `dbg!()`: https://github.com/ostreedev/ostree-rs-ext/pull/329

But, does everyone agree

[2022-07-29 14:30] 5225225 commented on #9260
https://rust-lang.github.io/rust-clippy/master/index.html#todo and https://rust-lang.github.io/rust-clippy/master/index.html#dbg_macro both already exist, so I suppose the question is should they be on by default?

[2022-07-29 15:35] 5225225 commented on #9255
I wonder if you could have an attribute like `#[all_constructed(Intensity)]` that goes on some block, and then *all* variants of that enum must be constructed inside that scope, or a warning is fired.

That would solve the "how do you know what to lint on" issue nicely. But that wouldn't quite be a lint, because it needs an argument.

And, as I understand it, all lints are always emitted, but allo

[2022-07-29 16:52] matthiaskrgr commented on #9260
I use `dbg!()` in tests and I find that very useful.
`dbg!()` and `eprintln!("{:?}", val)` are not the same, as dbg! will still return the value while eprintln!() won't so its much more versatile, you can't do this with eprintln!() for example:
[code]
output:
`[src/main.rs:2] truthiness = true`

`todo!()` is nice for indicating "I know I still have to add some code here, but I don't want a compile

[2022-07-29 18:34] Robbepop opened #9261 "slice_into_boxed_slice: Lint against boxing slices via iterators"
### What it does

Given a slice like
[code]
When users write something like
[code]
Then `clippy` should propose to replace `x.iter().copied().collect()` with `x.into()`.
This is not only shorter and more readable but also more efficient according to my benchmarks since `x.iter()` can make use of `memset`.
So users should write
[code]
instead.

I often come across this anti-pattern of boxing up a s

[2022-07-29 19:07] leonardo-m opened #9262 "Use slices or arrays instead of vecs lint"
### What it does

The lint suggests to replace an allocated vec![] with a slice. In test blocks I see lot of vecs that aren't necessary.

### Lint Name

use_slice_or_array

### Category

perf

### Advantage

It's more efficient.

### Drawbacks

None, I think.

### Example

[code]

Could be written as:

[code]
This lint should suggest to use slices or arrays instead of probably-heap-allocated vecs.

[2022-07-30 08:11] Nemo157 opened #9263 "`assertions_on_result_states` leads to less clear tests"
### Summary

IMO using `assert!(foo().is_err())` is clearer within a test to imply that the assertion is the point of the test rather than `foo().unwrap_err()`.

### Lint Name

assertions_on_result_states

### Reproducer

I tried [this code](https://github.com/Nullus157/stylish-rs/blob/e92b0bc2e223f9d6c40affc31e9b6744b327dd92/tests/tests.rs#L58-L71):

[code]

I [saw this happen](https://github.com

[2022-07-30 09:20] Nemo157 commented on #9263
Alternatively, in this sort of situation maybe it'd be better to recommend `.expect_err(..)`.

[2022-07-30 12:39] cgwalters commented on #9260
I'm sorry I completely forgot there was a set of not-on-by-default lints.  I'll enable them in my repositories - sorry for the noise!

I personally don't have a strong opinion.  As always with these things I think it's interesting to try a search:

- https://cs.github.com/?scopeName=All+repos&scope=&q=%22%23%21%5Bdeny%28clippy%3A%3Adbg_macro%29%5D%22
- https://sourcegraph.com/search?q=context:glob

[2022-07-30 12:40] cgwalters commented on #9260
Eh, if we want to consider enabling them by default I think it should probably be a new issue, so closing.

[2022-07-30 12:40] #9260 closed

[2022-07-30 15:42] Jarcho commented on #9263
Assuming `stylish::writeln` has a unit type for `Result::Ok` then the reasoning for the lint doesn't apply.

[2022-07-30 17:00] nyurik opened #9265 "Unable to enable some pedantic lints using clippy.toml"
### Summary

I was unable to configure `clippy.toml` to include some pedantic lints as described in the main readme.  It seems clippy.toml only supports a subset of the all available clippy lints.

### Reproducer

I created a `clippy.toml` in the root of the crate with this content:

[code]

I expected to see this happen:

`cargo clippy` should have produced some lint suggestions.

Instead, this h

[2022-07-30 18:34] Nemo157 commented on #9263
It is indeed, `Result<(), std::fmt::Error>`.

For comparison here's the two outputs if the test fails:

[code]

[2022-07-30 21:10] xFrednet commented on #9265
Hey :wave:, the config file is only for config values and not lints themselves. There is an issue #6625 for having a config file which allows the configuration of lint levels.

[2022-07-30 23:58] nyurik commented on #9265
Oh, thx @xFrednet , that's really confusing, I think we should update the readme (and wherever else the clippy.toml is mentiond)

[2022-07-31 00:10] nyurik commented on #9265
I updated this ticket to be a docs improvement ticket instead. Hopefully others won't get so confused :)

[2022-07-31 11:53] schubart opened #9267 "Lint idea: Collection is only added to, never read"
### What it does

Adding to a collection and never using it is pointless and might indicate that the developer forgot to do something with the collection.

Currently this does not raise warnings:

[code]

The new lint would point out that `numbers` is never read.

To fix the warning, one could delete all code in `main` or do something with `numbers`, such as printing it:

[code]

What do people th

[2022-07-31 12:59] matthiaskrgr opened #9268 "int_plus_one changes program behavior in regards of overflows"
### Summary

`int_plus_one` suggestions prevent overflows from happening because it removes a potential case where we could run into `T::max() + 1`

### Reproducer

I tried this code:

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-07-31 14:59] Jarcho commented on #9268
If the overflow check is needed it should be using `checked_add`. The docs could be updated to note this.

[2022-07-31 19:33] llogiq commented on #9267
Note that this lint should only apply to sets if the `insert` result is unused.

[2022-07-31 20:35] alex-semenyuk commented on #9248
The issue with `pub` at `pub struct Wrong {`. It works without `pub` [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=26898b4974c04a7a03fb0afe6c43272f)

[2022-07-31 21:26] schubart commented on #9267
@rustbot claim

[2022-08-01 00:23] tcharding commented on #9248
Oh wow, thanks for the response. Do you have any idea _why_ the lint does not fire for public types? Public types are the ones I most want to be idiomatic.

[2022-08-01 00:38] botahamec opened #9271 "`[missing_const_for_fn]` is triggered when a function uses a `Drop` parameter"
### Summary

The lint says that the function below could be made into a `const fn`. Following this suggestion results in a compiler error, which points at x and says, "destructors cannot be evaluated at compile-time"

### Lint Name

``[`missing_const_for_fn`]``

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: No output

### Version

[code]

##

[2022-08-01 02:33] yerke commented on #7582
I think this issue can be closed now that https://github.com/rust-lang/rust-clippy/pull/8974 is merged.

[2022-08-01 04:04] ndd7xv opened #9272 "`clone_double_ref` erroneously triggered when using `once_cell`'s `Lazy`"
### Summary

The code below triggers `clone_double_ref`, which makes Clippy state it can not compile.  The compiler, however does not complain and successfully builds the program - some of Clippy's suggestions actually prevent the compiler from sucessfully building. Could it potentially have something to do with `Lazy` implementing `Deref`? Hovering over `STRS` when its highlighted in the code bel

[2022-08-01 05:18] tabokie commented on #9263
Disabling it here: #9273

[2022-08-01 07:21] xFrednet commented on #7582
Agreed. @yerke thank you for pointing that out and everyone else that participated. :upside_down_face:

[2022-08-01 07:21] #7582 closed

[2022-08-01 08:27] unrealhoang opened #9274 "`read_zero_byte_vec` emitted when `read` is in the next block"
### Summary

As the heuristic is checking if the next statement of an empty vec includes `read(&mut v)`, if the next statement/expression is a block with `resize` before `read`, the lint is still fired.

### Lint Name

read_zero_byte_vec

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to not seeing this lint fired off.

### Version

[code]

### Additional Labels

[2022-08-01 10:42] xFrednet commented on #9248
We want to avoid linting code which can't be changed by the user. Clippy has a config value `avoid-breaking-exported-api` to avoid breaking items from the public API. You can set the value to `false` in `clippy.toml` to enable this and other lints on public items.

Ignoring public items is not always ideal, sadly it's hard to determine if an item can actually be seen outside the crate. (Unless `pu

[2022-08-01 11:11] lukaslueg opened #9275 "Don't use PartialEq to check if an Option is None"
### What it does

I've seen people use `foo == None` or `foo != None` to check if `Option<T>::is_none()` / `is_some()`. This works fine as long as `T` is `PartialEq`, yet is unnecessary and may lead to surprising type errors later on in the programmer's life when the `T` is not `PartialEq`. The pattern most likely stems from other programming languages, where checking for null is expressed as `foo

[2022-08-01 11:13] xFrednet commented on #9275
@rustbot label +good-frist-issue

[2022-08-01 11:27] lukaslueg commented on #854
@birkenfeld FWIW I've seen this in the wild, too

[2022-08-01 12:23] jmj0502 commented on #9275
@xFrednet Hey! Hope you're doing great. I'm a Rust newbie and would like to make a contribution. Can I take this issue (I may need some guidance along the way)?

[2022-08-01 12:31] #9263 closed

[2022-08-01 13:15] xFrednet commented on #9275
@jmj0502 hey I'm doing great, hopefully you as well and welcome to Clippy! Sure you can claim it with `@rustbot claim`.

If you need any help feel free to ping me! To get started you might want to look at our documentation. `CONTRIBUTING.md` should contain links to it 🙃

[2022-08-01 14:37] jmj0502 commented on #9275
@xFrednet I'm glad you're doing cool! I'm doing great as well! c:
Thanks for all the support! Do have any idea of what files should I check to start working on this specific issue (aside from the `CONTRIBUTING.md` of course)?

[2022-08-01 14:37] jmj0502 commented on #9275
@rustbot claim

[2022-08-01 14:41] dswij commented on #9221
Also, the logic would also be similar to [`match_like_matches_macro`](https://rust-lang.github.io/rust-clippy/master/#match_like_matches_macro).

[2022-08-01 16:01] xFrednet commented on #9275
Good question, after some searching I found [`clippy::redundant_pattern_matching`](https://github.com/rust-lang/rust-clippy/blob/58434ae38514222ba03f99183391e56323970243/clippy_lints/src/matches/redundant_pattern_match.rs#L89-L96) which does a check for `if let None = <expr>`. While I wouldn't add it to that file, it might give you some pointers.

Now, I'm debating if this should actually be an ad

[2022-08-01 19:22] SillyFreak opened #9277 "clippy::clone_on_copy fix on code with `?` leads to code with wrong operator precedence"
### Summary

`?` has higher precedence than `*` (dereference), but `cargo clippy --fix` will not parenthesize an expression when it introduces a `*` in an expression ending in `?`, at least for the `clone_on_copy` lint, leading to broken code.

The correct fix requiring explicit parentheses could be seen as the lint being a false positive in that case  - that's subjective of course.

### Reproduce

[2022-08-01 21:13] i509VCB opened #9278 "Add disallowed_fields lint"
### What it does

Like disallowed_methods and disallowed_types, this lint warns when a field on a type is used.

### Lint Name

disallowed_fields

### Category

style

### Advantage

- Using some field on some type may be discouraged in some library.

### Drawbacks

- Might be a niche lint.

### Example

Could use a better type as an example:

[code]

[2022-08-01 22:19] tcharding commented on #9248
Awesome, thanks for the explanation. Closing as this is fully resolved now. Thanks again.

[2022-08-01 22:19] #9248 closed

[2022-08-01 22:46] macovedj commented on #9277
@rustbot claim

[2022-08-02 06:24] nahuakang commented on #9221
@rustbot claim

[2022-08-02 07:42] Rqnsom commented on #8600
@brleinad Ping me when you continue working on this. I've prepared a draft commit (for my learning purposes) which is partially done. I can share it with you since maybe it can help you.

[2022-08-02 10:09] human-0 opened #9280 "False positive in `map_identity` with lifetimes"
### Summary

Mapping with an identity closure (`|x| x`) is sometimes required to fix lifetimes.

### Lint Name

map_identity

### Reproducer

I tried this code:

[code]
Removing the `map` results in a compile error.
I saw this happen:

[code]

I expected to see this happen:
No warning, as the `map` cannot be removed without causing a compile error. This happens on both stable and nightly.

### Ver

[2022-08-02 11:33] #8603 closed

[2022-08-02 12:54] #9052 closed

[2022-08-02 16:39] vvv opened #9281 "Redundant allocations not detected"
### Summary

[`REDUNDANT_ALLOCATION`] lint should warn about expressions like `Arc<Box<T>>`.  It doesn't.

[`REDUNDANT_ALLOCATION`]: https://github.com/rust-lang/rust-clippy/blob/e17b97c8e02c7de0230466ec36bb9cceef9c774f/clippy_lints/src/types/mod.rs#L190-L213

### Lint Name

REDUNDANT_ALLOCATION

### Reproducer

I tried this code:

[code]

`cargo clippy` issued no warnings.

### Version

[code]

[2022-08-02 18:36] MrPiao commented on #8895
Duplicate of #9014 right?

[2022-08-03 05:12] lengyijun commented on #9281
`redundant_allocation` only lints on field in struct and parameters in functions.

[2022-08-03 07:33] vvv commented on #9281
Ah, I see.  Indeed.

What about expressions like `Arc<Box<dyn Trait>>` in struct fields?  Shouldn't clippy report them?  (As of now [it doesn't](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e9341b373ee6ca4319a511e84a020c83).)

[2022-08-03 07:51] dswij commented on #8895
Fixed by #9014. `extra-unused-lifetimes` does not lint the example code anymore in nightly.

Thanks @MrPiao for taking a look

[2022-08-03 07:51] #8895 closed

[2022-08-03 07:54] #9277 closed

[2022-08-03 09:20] lengyijun commented on #9281
Due to https://github.com/rust-lang/rust-clippy/issues/7487

[2022-08-03 09:26] dswij commented on #9281
We should at least update the documentation for the lint, it currently says that it checks "*anywhere*"

https://github.com/rust-lang/rust-clippy/blob/2038084cf2253b57cf8b405ab000a92b68346f43/clippy_lints/src/types/mod.rs#L191-L193

[2022-08-03 13:40] akabinds opened #9285 "clippy thinks a tuple enum variant is a function call, leading it to think a closure is redundant"
### Summary

While calling `map_err` on the `io::Result` returned by `fs::read_to_string`, I map it to an `IoError` variant provided by my custom error type. This is what the error type looks like at the moment:

[code]

As you can see, `IoError` is an enum variant, not a function like the Clippy lint warning suggests. I am of course able to silence the Clippy lint warning using an outer attribute

[2022-08-03 13:50] Jarcho commented on #9285
Tuple structs and enum variants are also functions and can be used as suggested. The message could be reworded to say constructor instead of function.

[2022-08-03 14:18] akabinds commented on #9285
I was not aware that tuple structs and enum variants were identified/classified as functions. In that case, is it impossible to alleviate this problem without explicitly using `#[allow(clippy::redundant_closure)]`?

[2022-08-03 14:20] Jarcho commented on #9285
Is there a reason to not use `.map_err(SectorError::IoError)`? The behaviour of the lint is unlikely to be changed.

[2022-08-03 14:25] akabinds commented on #9285
Seems like that did the trick. I could have sworn I tried that before and it didn't work. Thank you for your time.

[2022-08-03 14:31] #9285 closed

[2022-08-03 16:04] application-developer-DA opened #9286 "Weid behavior on M1/ARM machines"
### Summary

An attempt to run `cargo clippy` on a certain open-source repository triggers some non-obvious (weird) errors. I have never experienced such an issue before and am not sure what causes it, but it seems like other `cargo` tools (like `build`, `test` or `check`) don't exhibit such a behavior.

Basically, `cargo clippy` issues lots of errors like this:

[code]

Note that the version of t

[2022-08-03 22:39] vvv commented on #9281
I don't know how to extend the documentation with `Add<Box<dyn Trait>>` caveat without confusing the reader.

https://github.com/rust-lang/rust-clippy/blob/71777465cc71b365ca08db8afd5c25eb99bd3f08/clippy_lints/src/types/mod.rs#L191-L208

TWIMC: https://www.reddit.com/r/rust/comments/jxykva/sizeof_box_dyn_is_weird/

[2022-08-03 22:39] #9281 closed

[2022-08-04 09:33] xFrednet commented on #9286
This sounds like a rustc problem, does the same thing happen with `cargo check` or is this Clippy specific?

[2022-08-04 10:10] application-developer-DA commented on #9286
I've tried `cargo check`, `cargo build`, `cargo test` (exectuing `cargo clean` in advance when needed), but they all worked fine (as described in the issue 😉), that's why I assumed that it might be related to `clippy` (my initial idea was that it's indeed something related to `rustc`, but I could not reproduce the issue with other `cargo` commands).

[2022-08-04 10:21] xFrednet commented on #9286
Sorry, I've only skimmed over that part. :sweat_smile: Hmm, so Clippy uses rustc internally so the problem probably arises from Clippy's usage of rustc which doesn't makes it hard to figure out where this comes from. Could you check to see if the problem remains in the current nightly version? :upside_down_face:

[2022-08-04 14:28] application-developer-DA commented on #9286
Sure.

I've tried installing `nightly` along with clippy and running it on `nightly`, but unfortunately the problem seem to persist.

Interesting enough, I can easily reproduce this issue with the aforementioned open-source repository, but not when I create a new empty repository. There must be something in `tungstenite` that confuses `clippy` I reckon 🤔 (and that "something" for some reason only

[2022-08-04 17:35] leonardo-m opened #9290 "Suggest using is_ascii_lowercase / is_ascii_uppercase"
### What it does

This simple lint suggests to replace matches!() on full upper/lower case ranges with the built-in methods.

### Lint Name

use_is_ascii_lower_upper_case

### Category

style

### Advantage

The code is simpler, it contains less tokens.

### Drawbacks

None, I think.

### Example

[code]

Could be written as:

[code]

[2022-08-04 18:44] xFrednet opened #9291 "Support `avoid-breaking-exported-api` config for `trivially_copy_pass_by_ref`"
### Description

[`trivially_copy_pass_by_ref`](https://rust-lang.github.io/rust-clippy/master/index.html#trivially_copy_pass_by_ref) suggests changing the type of function arguments. This can potentially break the public ABI and should therefore respect the `avoid-breaking-exported-api` config value

This is a good first issue, see: [Adding configuration to a lint](https://doc.rust-lang.org/night

[2022-08-04 19:01] #9185 closed

[2022-08-04 21:54] mkrasnitski commented on #9291
Doesn't this already happen, if you take a look at [the code](https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/pass_by_ref_or_value.rs#L142)? I tried doing a Git blame to find when it was added, but it's all jumbled for some reason, I think because of auto-merge commits.

[2022-08-04 23:30] xFrednet commented on #9291
You're right. I just had it trigger on a public item. Weird. I'll close it issue and create a bug if that happens again. Thank you for pointing that out :upside_down_face:

[2022-08-04 23:30] #9291 closed

[2022-08-05 09:59] alex-semenyuk commented on #9139
@dhardy Is it still issue?
Can't reproduce it [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b614bb8c2525c3e91fd45388d585996e)

[2022-08-05 14:20] dhardy commented on #9139
Yes. On [kas master](https://github.com/kas-gui/kas/commit/6a99b5fe8dcdf1385b091dad00fc97e98d0556e3):
[code]

[2022-08-05 20:28] feds01 opened #9293 "False positive in `needless_collect` with borrowing error"
### Summary

Inlining an iterator to a later call site whilst the iterator is accessed causes a compile error and potentially different program behaviour.

### Lint Name

needless_collect

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No warning, applying the lint causes a compiler error and further fixing the error causes the program's log

[2022-08-06 15:51] jmj0502 commented on #9275
@xFrednet Hey! Hope you're doing great! Sorry for the late reply (I was sick 🤕). Everything sounds interesting, but I see that @lukaslueg is already working on the issue. Thanks for all the guidance 👍! Looking forward to contribute in the future!

[2022-08-06 17:57] guerinoni commented on #1916
What is the status of this? Can I rename to `non_minimized_bool_expr`?

[2022-08-06 19:57] jendrikw commented on #4980
This is still an issues when using other crates to derive trait. Here is an example using `derivative` to derive `Debug`, which fires a FP.

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f5968f5fb935c2f918c7c71542c74a23)

[code]

Output from clippy:

[code]

[2022-08-06 20:05] ssokolow opened #9296 "string_add is overly sensitive when a String is constructed purely to be passed as an argument"
### Summary

The `string_add` lint triggers in situations where it makes no sense to put a `push_str` on a separate line because the String's only purpose is to be fed as an argument.

At the very least, I think this deserves to be acknowledged in the docs.

### Lint Name

string_add

### Reproducer

I tried this code:

[code]

(it's part of an HTML form spam pre-filter that normalizes loose domai

[2022-08-06 23:43] ssokolow commented on #2597
I just ran into this with a newtype I defined:

[code]

[code]

Granted, I'll implement `Mul` after posting this, but I'm sure there are situations where that's not an option.

[2022-08-07 04:35] mayfieldiv opened #9297 "ICE around enum discriminant with custom derive macro"
### Summary

A small derive macro crate at https://github.com/mayfieldiv/clippy-crash causes clippy to panic when run against the simple included test `cargo clippy --tests` (it also reproduces against non-test code).

This reliably reproduces on stable Rust on Windows and macOS.

In the repo:

[code]

The `Message` derive macro generates this:
[code]

Clippy doesn't like something about the `u32`

[2022-08-07 11:35] DesmondWillowbrook commented on #7397
Also ran into this while looking at Rust Analyzer. Is there any progress on fixing this? I'd be happy to try my hand.

[2022-08-07 13:34] xFrednet commented on #1916
I think there is no real status. If we find a better name we can just rename the lint. (We have a command for that in `clippy dev`)

The suggested lint name sounds like a double negotiation with `non_minimalized..` what do you think about `overly_complex_bool_expr`. Even if that's not perfect jet. It might be good to ask the on our zulip, there are some magicians  when to comes to finding lint nam

[2022-08-07 13:36] xFrednet commented on #9275
Hey @jmj0502, there is no reason to apologies. hope you have fully recovered again. If you want to work on another issue feel free to ping me if you need some assistance 🙂

[2022-08-07 18:09] kadiwa4 opened #9298 "`mem_forget` checks if a type implements `Drop`"
### Description

`mem_forget` [currently only triggers][code] if the type passed to `mem::forget` implements `Drop`.

However, if a type doesn't implement `Drop`, then that doesn't mean it lacks destructor code. For instance, `String` and `HashMap` currently don't implement it.

Instead, `core::mem::needs_drop::<T>()` is usually used to check if dropping a `T` invokes a destructor (the compiler-in

[2022-08-07 18:29] kpreid opened #9299 "`clippy::type_complexity` has become more sensitive"
### Summary

The following code (an excerpt from my actual code) produces a `clippy::type_complexity` warning on nightly, but not on stable 1.62.1. I think this should be considered a regression, because the type does not really have very much nesting to it, and would not be made clearer by introducing a type alias — it's “just” a boxed function.

### Lint Name

type_complexity

### Reproducer

[c

[2022-08-07 18:47] kpreid commented on #8987
Can this lint be moved to nursery or something (and backported, since it's already hit 1.63 beta) soon?

It's quite noisy (9 occurrences in my code), and I think it would be bad for the Rust ecosystem if this hits stable as-is and people started moving things to variables just to silence this lint (as noted in the first comment, such changes would increase the scope of lock guards, and there reall

[2022-08-07 21:30] JosuGZ opened #9300 "Cognitive complexity doesn't work for async"
### Summary

I've been trying the cognitive complexity lint and I have found that on async functions it doesn't work. Here is an example, clippy will complain about `complex`, but not about `complex_async`:

[code]

### Reproducer

I tried this code:

[code]

I expected to see this happen:

Instead, this happened:

### Version

_No response_

### Additional Labels

_No response_

[2022-08-07 22:12] Jarcho commented on #8496
Results on running on more crates https://gist.github.com/Jarcho/6890efe9c9f051aef943f1dedbbbb02d

[2022-08-08 01:27] i509VCB commented on #9104
Discussion on zulip about this lint is going to be a challenge given the macro is not enough information (you need to look at the expanded macro to determine the AST.

[2022-08-08 05:57] lengyijun commented on #9299
`PolyTraitRef.bound_generic_params` changed.
Used to be [].
Now [GenericParam; GenericParam].

[2022-08-08 09:40] chitoyuu opened #9304 "unsafe_derive_deserialize should ignore types that use #[serde(from)] or #[serde(try_from)]"
### Summary

When deriving `Deserialize` for a type with `#[serde(from)]` or `#[serde(try_from)]`, serde only generates wrapper code that invokes the safe interface of standard conversion traits. As such, there is no risk of it invalidating unsafe invariants, provided that the impls are correct.

### Lint Name

unsafe_derive_deserialize

### Reproducer

I tried this code:

[code]

I saw this happe

[2022-08-08 09:43] #6514 closed

[2022-08-08 11:03] xFrednet commented on #8987
The lint was moved to nursery on the current master in #9302, as said in the PR, we will try to do a backport for it :upside_down_face:

[2022-08-08 11:51] #9297 closed

[2022-08-08 12:50] xFrednet commented on #9286
I've been thinking about this the last couple of days, but I sadly don't know how to approach this. I'm still sure that this is an issue in rustc or how Clippy interacts with the rustc API. But that's sadly it. I also don't have a M1 or Mac to investigate this :sweat_smile:. I think the best option would be to create an issue in rustc and describe the problem. It would be ideal if it could be narr

[2022-08-08 14:10] Freyskeyd opened #9305 "map_entry with else if and hashmap produce uncompilable code"
### Summary

The generated suggestion can't be compiled when using `else if` and a `HashMap`.
I created a playground to reproduce the issue: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=acfee3c8c6ac5f68248d2317f17a1b46

### Lint Name

map_entry

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected a compilation ready suggestion

### Version

[2022-08-08 15:39] #9109 closed

[2022-08-08 15:39] #9123 closed

[2022-08-08 15:39] #9143 closed

[2022-08-08 15:39] #9101 closed

[2022-08-08 16:29] poliorcetics commented on #9089
I saw it again recently:

[code]

[2022-08-08 17:06] xFrednet commented on #7397
There isn't any progress AFAIK and nobody is assigned to the issue. So if you'd like to, you can claim it (`@rustbot claim`)

[2022-08-08 18:18] #1916 closed

[2022-08-08 20:59] DrSloth opened #9307 "Allowing `clippy::arithmetic` in const contexts"
### Description

The new `clippy::arithmetic` lint always lints against usage of arithmetic operators. Would it be feasible to not lint in const contexts? The reasoning for the lint is the overflow/panic behavior, there are a lot of scenarios which could be statically checked.

For instance:
[code]

Would it be feasible to disallow arithmetic only in scenarios which may actually overflow/panic?

#

[2022-08-09 00:30] #9275 closed

[2022-08-09 04:02] #8854 closed

[2022-08-09 08:55] Swatinem opened #9309 "`explicit_auto_deref` gives wrong advice related to anyhow::Error"
### Summary

Trying to cast an `anyhow::Error` to a `std::error::Error` via `let stderr: &dyn std::error::Error = &*err;` is being wrongly flagged. The provided suggestion does not work, neither does a straight-up borrow.

### Lint Name

explicit_auto_deref

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

essentially nothing, as applying the

[2022-08-09 09:01] Swatinem opened #9310 "`explicit_auto_deref` gives wrong suggestion when using `Arc`"
### Summary

I have some weird looking code which has a reborrow pattern for reasons I don’t understand but which seem to be wrong anyways: It uses `&*arc` to turn an `Arc<T>` into a `&T`, which is weird but the rustc compiler never seemed to mind.

Clippy now suggests to remove the `&*` entirely, which seems wrong.

### Lint Name

explicit_auto_deref

### Reproducer

I tried this code:

[code]

I

[2022-08-09 10:02] kalabukdima commented on #6711
I can reproduce it like this: `std::mem::replace(&mut *x, None)`, which doesn't make much sense if `x` is just `&mut Option` (though clippy doesn't warn about it either), but can be used on types with overloaded `DerefMut`. For example:
[code]
Clippy doesn't warn about anything here. Should I report a new issue?

[2022-08-09 14:36] Jarcho commented on #9310
The suggestion is to replace `*arc` with `arc`, leaving the code as `&arc`. The suggestion was changed to be clearer in #9126.

[2022-08-09 14:42] Jarcho commented on #9309
Fixed in #9126

[2022-08-09 15:18] xFrednet opened #9311 "Update docs and tooling to focus on `LateLintPasses`"
Our documentation, how to add a lint, uses an `EarlyLintPass` for the example lint. However, most new lints use the `LateLintPass` since they need type information from rustc. Since the `LateLintPass` is the main one used for new lint, I suggest updating the documentation to focus on that pass and to update the `cargo dev new_lint` tool to use the `LateLintPass` by default.

Related discussion on

[2022-08-09 16:38] application-developer-DA commented on #9286
Yeah, agree, this is quite likely I would say.

Sounds like an option, I've described the issue here: https://github.com/rust-lang/rust/issues/100329

[2022-08-09 17:22] uselessgoddess opened #9313 "Conflicting with rustc lints"
I tried use `unreachable_pub` from rustc and `redundant_pub_crate` from clippy. I get a cyclical contradiction.

[code]

[code]
rustc suggest use `pub fn foo`
clippy suggest use `pub(crate) fn foo`

#### Who should I believe?

### Version

[code]

[2022-08-09 17:36] uselessgoddess opened #9314 "`let_underscore_drop` and ignoring error"
I ignore some errors with `try` block. I annotate type via `let _: Result<...> = try { ... }`. But clippy:
[code]
How can I fix this

[2022-08-09 18:47] Swatinem commented on #9310
Wow, that indeed was very hard to spot.

[2022-08-09 18:47] #9310 closed

[2022-08-09 20:26] nahuakang opened #9315 "Bug: `clippy::from-iter-instead-of-collect` for `FxHashSet`"
### Description

# Potential Bug

While trying to create a new lint, I wrote [this line](https://github.com/rust-lang/rust-clippy/blob/812db454b862b3604d6dca812cdc3c7bc740f635/clippy_lints/src/methods/collapsible_str_replace.rs#L197):

[code]

The feedback I received was:

[code]

Unfortunately that's not how `FxHashSet` works: https://doc.rust-lang.org/beta/nightly-rustc/rustc_data_structures/fx/

[2022-08-10 01:51] taufik-rama opened #9316 "new lint: Unused trait bound(s)"
### What it does

For any trait bounds that's not used on the function body, create an "unused" warning

### Lint Name

unused_trait_bound

### Category

pedantic

### Advantage

- More "tight" code, we can be sure that each bounds will be used
  - and maybe in other words: more cleaner code since unused bound can be safely deleted

### Drawbacks

- Might not be suitable for library APIs, since re

[2022-08-10 03:03] #9165 closed

[2022-08-10 13:49] xphoniex opened #9317 "unnecessary use of `to_string` for a type with custom `ToString` trait"
### Summary

I'm programmatically commiting a patch to a git repo and then writing the hash (a [`git2::Oid`](https://docs.rs/git2/latest/git2/struct.Oid.html)) in a file:

[code]

if I use above code, I'll get bytes written to the file whereas I wanted the string of hash, so naturally I change it to `fs::write(path, commit.to_string())`, however that's throwing a lint error:

[code]

solution is t

[2022-08-10 13:51] DesmondWillowbrook commented on #7397
The progress on https://github.com/rust-lang/rust/issues/48594#issuecomment-1201531228 seems to be nearly finished, so I don't think working on temporarily allowing a hacky workaround around a feature that seems it's going to be stabilized very soon seems like a good idea. I would be happy to revisit this in case the stabilization is delayed though.

[2022-08-10 14:56] Jarcho commented on #9317
Note to anyone working on this. `to_string` should only be linted when the type is string-like. e.g. implements `Deref<Target=str/String>` or `AsRef<str/String>`.

[2022-08-10 17:14] lukaslueg commented on #9158
Can this be generalized to `if the result of std::iter::Iterator::count() is compared to 1 or 0, it can *always* be replaced by *some* variant of std::iter::Iterator::any()`?

[2022-08-11 02:32] tamaroning commented on #9274
I added this lint. (#8964)
For now, this lint checks reads immidiately after creating `Vec`s and dosen't catch other many cases.
e.g.
[code]

[2022-08-11 07:44] nahuakang commented on #9311
I missed that Zulip chat but I think this update would make perfect sense.

On the documentation side, could we maybe keep the `EarlyLintPass` as a chapter and have another `LateLintPass` as a chapter. Then newcomers can read whichever one that suits the ticket they take up?

Fully agree that `cargo dev new_lint` could use `LateLintPass` by default (or have `--early` and `--late` flags)?

[2022-08-11 08:08] kyoto7250 commented on #8890
@rustbot release-assignment

[2022-08-11 08:10] xFrednet commented on #9311
That would also be an option, i think the important part is, that we clearly indicate when which version is better. And in the big majority the LateLintPass is even reauired. My goal with this suggestions is to simplify contributing a bit and prevent information overload. so if we find a way to simplify everything and keep both chapters that would be even better :)

[2022-08-11 14:54] benwh1 opened #9319 "`derive_partial_eq_without_eq` false positive on struct containing a `T: Fn()`"
### Summary

Haven't been able to trigger it when using any struct that doesn't contain some sort of function.

On stable, doesn't occur on 1.62.1, does occur on 1.63.0.

[Playground link](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=d18231800c492b67abda23e9d258a409)

### Lint Name

derive_partial_eq_without_eq

### Reproducer

I tried this code:

[code]

I saw this happen

[2022-08-11 15:48] yoav-lavi opened #9320 "`derive_partial_eq_without_eq` will trigger for third party crate derives"
### Summary

[code]
`derive_partial_eq_without_eq` seems to trigger for proc macro derives from third party crates which add `PartialEq` but not `Eq`, which while a user can theoretically add `Eq` as well, it could cause breakage when the crate author updates and adds the missing derive.

### Reproducer

I tried this code:

[code]

I expected to see this happen: No lint error

Instead, this happen

[2022-08-11 16:01] brleinad commented on #8600
Thanks for that @Rqnsom! Life has been too busy in the last few weeks to work on any Rust projects 😢 so feel free to take this over. I'm sorry for the late reply.

[2022-08-11 16:46] lopopolo opened #9321 "`doc_link_with_quotes` does not ignore code blocks"
### Summary

Triple backtick code blocks are not ignored by this lint.

### Lint Name

doc_link_with_quotes

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: These docs are inside a "triple backtick" code block with a `ruby` language tag. I expect this lint to ignore this text.

### Version

[code]

### Additional Labels

_No response_

[2022-08-11 16:59] application-developer-DA commented on #9286
**UPD.** I found a way simpler reproduction scenario. It looks like it's enough to have a dependency (external crate) used in a project in order to trigger the error.

Reproduction steps:

[code]

Then it's enough to just add something like this to `main()`:

[code]

And then run `cargo check` or `cargo build` that work fine, but an attempt to run `cargo clippy` result in:

[code]

[2022-08-11 17:00] lopopolo opened #9322 "Faster release cadence for bug fixes to stable"
### Description

I my projects I upgrade to the latest Rust toolchain quickly after release. It is fairly common to have to work around bugs in clippy as part of this process. From browsing the issue tracker, false positives and bad suggestions tend to get reported in batched when a new stable compiler hits.

Here are some such issues that I have filed or been interested in:

- https://github.com/

[2022-08-11 20:07] c410-f3r commented on #8968
With https://github.com/rust-lang/rust-clippy/pull/9130 merged, this issue can be closed.

[2022-08-11 20:08] c410-f3r commented on #9307
Yes, it is in my TODO list. I will probably provide a PR in the following days.

[2022-08-11 22:09] xFrednet commented on #9322
This is a problem we're trying to tackle and is part of Clippy's roadmap. See https://github.com/rust-lang/rust-clippy/issues/6623

Currently, there are some initiatives/ideas floating around that we want to implement.
1. We hope to add a new testing period to new lints where they are only enabled on the nightly tool chain for one or two releases. (This will hopefully be my next project after `#[e

[2022-08-11 22:25] lopopolo commented on #9322
In the absence of having nightly only lints, might we consider a policy that all new lints are placed in nursery? It's hard for me to tell what the nursery lint group is for, but this might be an easy way to stop the bleeding in the short term.

[2022-08-11 22:42] xFrednet commented on #9322
This was something we thought about before. The problem is, that we also add restriction lints and others that shouldn't be warn-by-default. Therefore, users couldn't say `#![warn(nursery)]` which would mean that we still don't get any feedback until we enable them. It just pushes the problem down the road.

(`#![warn(nursery)]` might be bad style anyways, but some few crates use it as most lints

[2022-08-11 23:47] darnuria commented on #8281
Still present on:
[code]

Minimal reproduction:

[2022-08-12 06:43] #9094 closed

[2022-08-12 08:29] Rikorose commented on #8971
I can still confirm on latest rust 1.63.0 stable clippy that fucntions implmented within a `#[pymethods]` `impl` still result in this lint:
[code]

[code]

[2022-08-12 11:32] #8968 closed

[2022-08-12 16:17] jendrikw commented on #9321
Dupe of #8961.

[2022-08-12 18:02] DesmondWillowbrook commented on #9317
@rustbot claim

[2022-08-12 18:34] est31 commented on #9322
@lopopolo you could try using nightly clippy at least for local development. Then a) the bug fixes will arrive to you in particular more quickly, and b) stable users might not even notice that a bug has existed at all.

[2022-08-12 18:55] DesmondWillowbrook commented on #9317
I wasn't able to replicate your report with rust v1.61.0 locally nor v1.63.0 ([playground for v1.63.0 - Tools - Clippy ](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8dd84082d027d82a1cc197f115b8d469))
Am I perhaps missing any relevant trait implementations of `Oid`?

[2022-08-12 19:07] lopopolo commented on #9322
I'm not sure how that would help since it looks like in some case bugs are reported on nightly and don't get fixed by the time the lint makes it to stable:

- https://github.com/rust-lang/rust-clippy/issues/8961

@est31 In theory I could run a weekly job against nightly clippy but my preference would be for clippy to do its own testing.

[2022-08-12 20:58] xFrednet commented on #9322
Running nightly builds on a schedule would definitely help. If we noticed that new lint's produce several FPs we try fixing or moving them to an allow by default category (often nursery). For moves we also often Backport the change to the beta branch if required.

[2022-08-13 09:45] xFrednet commented on #8971
The PR #8694 took a longer time to review. It should hit stable in two releases, so by 1.65. The lint mentioned didn't get an extra check, though. Adding it should be simple with the new util functions from of the PR. :upside_down_face:

@rustbot label +good-first-issue

[2022-08-13 15:13] WalterSmuts opened #9330 "Enforce `unsafe` blocks to have comments explaining why the required invariants hold"
### What it does
This is the users side of the [`missing_safety_doc` lint](https://rust-lang.github.io/rust-clippy/master/index.html#missing_safety_doc).  Enforce each block of `unsafe` to have a corresponding comment explaining why all the calls to `unsafe` meet the invariants required by the `Safety` section of the `unsafe fn`.

### Motivation
`unsafe` rust relaxes some of the invariant that saf

[2022-08-13 16:45] repi commented on #6902
The `use_self` lint is fantastic and we've run it multiple times manually to fix up our code with it, but even as of 1.63 these false positives on enums that use serde Serialize/Deserialize prevent us from enabling and enforcing use of the lint.

[2022-08-13 17:29] daxpedda commented on #6902
I believe this should now be fixable with the help of #8694.

[2022-08-13 18:30] Jarcho commented on #9330
This is covered by [`undocumented_unsafe_blocks`](https://rust-lang.github.io/rust-clippy/master/#undocumented_unsafe_blocks).

[2022-08-13 19:58] sgued commented on #8399
Should this still be open? I can't reproduce it with any clippy version > 1.60

[2022-08-13 20:34] sgued opened #9331 "unwrap-used and expect-used don't trigger on unwrap_err/expect_err"
### Summary

The `unwrap_used` and `expect_used` lints forbid the use of `unwrap` and `expect`. It seems to me that these lints should also lint `unwrap_err` and `expect_err` as they have essentially the same behavior. I believe people who want to not use unwrap to avoid panic probably don't want a panic to be caused by `unwrap_err` either.

### Reproducer

This does not produce any error related

[2022-08-13 21:36] WalterSmuts commented on #9330
Wow, this is almost exactly what I had in mind. And kudos to @Serial-ATA for implementing it!

I do have a couple of questions regarding some of the choices made:
1. Why the discrepancy between the style of `missing_safety_doc` and `undocumented_unsafe_blocks`?
[code]
I understand one is meant for documentations `///` and one is meant for comments `//` so the `#` in `missing_safety_doc` represents

[2022-08-13 22:51] Jarcho commented on #9330
`missing_safety_doc` matches the formatting for markdown headers. `undocumented_unsafe_blocks` matches other comment markers like `TODO`, `FIXME` and such.

`undocumented_unsafe_blocks` was conservatively placed as a restriction lint. I don't think there's been any discussion about using a different category.

A structured version could be interesting, but also far from trivial. The `Safety` secti

[2022-08-13 23:56] rcgoodfellow commented on #9317
Hitting this too. A simple repro is

main.rs
[code]
Cargo.toml
[code]
Demo
[code]
[code]
[code]