[2022-08-14 02:51] xphoniex commented on #9317
@DesmondWillowbrook

Hey, I'd already done the preliminary work and prepared a fix. You can skip this issue.

[2022-08-14 02:52] xphoniex commented on #9317
@rcgoodfellow

Yes, this is the same exact issue. PR https://github.com/rust-lang/rust-clippy/pull/9329 fixes this.

[2022-08-14 03:47] DesmondWillowbrook commented on #9317
@rustbot release

[2022-08-14 09:01] yvt opened #9332 "`drop_non_drop` should not conditionally trigger depending on target-specific implementations of `Mutex`"
### Summary

Starting from rust-lang/rust#95035, `std::sync::Mutex` and other similar synchronization primitives have trivial destructors on some but not all platforms, causing the `drop_non_drop` lint to conditionally trigger on `drop(mutex)` depending on current build targets.

Since this makes `#[expect(...)]` harder to use and might lead programmers to incorrectly generalize the behavior from

[2022-08-14 09:37] yvt commented on #9316
It's the other way around - adding bounds is the breaking change. Removing bounds is a non-breaking change but might impose design constraints in future semver-compatible versions of the libraries.

[2022-08-14 14:26] jendrikw opened #9333 "Ensure panic docs are correct"
### What it does

Functions with a heading `# Panics` in their documentation [as described in RFC 1574](https://github.com/rust-lang/rfcs/blob/master/text/1574-more-api-documentation-conventions.md) should have at least one doctest with `should_panic` or at least one `#[test] #[should_panic]` referencing it.

This lint would trigger if that is not the case.

### Lint Name

panic_doc_untested

###

[2022-08-14 15:02] guerinoni commented on #9300
If I look a good view of code the problem is in `visit_expr`, for some reasons it doesn't count the real complexity but return `1` as complexity for `async` version

[2022-08-14 15:02] #8757 closed

[2022-08-14 15:02] #8771 closed

[2022-08-14 15:02] #9076 closed

[2022-08-14 15:02] #9151 closed

[2022-08-14 16:00] #9186 closed

[2022-08-14 16:14] ViridiFox opened #9334 "manual_memcpy false positive"
### Summary

Copying the diagonal from a 2d Matrix/Vec to a 1d Vec gives the false positive that it can be replaced by a `copy_from_slice`.

### Lint Name

manual_memcpy

### Reproducer

the minimal code:
[code]
gives the warning:
[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-08-14 17:46] rsmantini commented on #7459
I play a bit with this one but it is way above my current knowledge. This what I got https://github.com/rsmantini/rust-clippy/pull/2
It works for some simple cases but fails to things like:
[code]
The code very naive, probably inefficient and might have reinvented the wheel in some dumb ways.

Also I think this is way too complicated from a good-first-issue although I had fun with it :)

[2022-08-14 20:53] SpriteOvO commented on #8963
For me, this false positive no longer occurs in the latest version.

[code]

[2022-08-14 21:39] xFrednet commented on #7459
Hey @rsmantini, sorry, I missed your first comment. These things sadly sometimes get lost. If you get stuck and no one answers you, please ping us directly or ask on Zulip :upside_down_face:

Anyway, I labeled this as a good first issue, my rough idea was outlined in [this comment](https://github.com/rust-lang/rust-clippy/issues/7459#issuecomment-879286235). The idea had these steps:
1. Find occur

[2022-08-14 23:20] rsmantini commented on #7459
Hi @xFrednet no worries :)

About the implementation, I had trouble with step 4. Maybe I'm over complicating things, but I think it's analogous to what the borrow checker does, so it needs to be done at the mir level.
For instance in the example I gave above:

[code]
The collection `v` is not used anymore after `iter` is called but it's still invalid to change it to into iter.
So there is one more

[2022-08-15 00:31] fmease opened #9335 "`redundant_closure_for_method_calls` does not respect certain lifetime requirements"
### Summary

Clippy wrongly identifies a closure as redundant when higher-ranked lifetimes are involved.

This happens on

* **stable** 1.63.0 (clippy **0.1.65** (2022-08-13 75b7e52)) (playground) and on
* **nightly** 1.65.0 (29e4a9ee0 2022-08-10) (clippy **0.1.64** (29e4a9e 2022-08-10)) (my local setup)

### Lint Name

redundant_closure_for_method_calls

### Reproducer

I tried this code:

[code]

[2022-08-15 00:32] taufik-rama commented on #9316
Yeah, for more common trait constraints I would guess removing it would means more code should be accepted. I was thinking of stuff like `!Sized` and the like, though it might be too pessimistic in my part haha

[2022-08-15 08:59] xFrednet commented on #7459
Ohh, I didn't think about the fact that the new target value could still reference the old one from `iter()`. In that case, this issue becomes a lot harder. You're right :sweat_smile:

In Clippy we rarely interact with the borrow checker. I can't think of a lint where we actually do that. Often we just check for these rules by checking ownership based on types. But I'm unsure how that would be don

[2022-08-15 09:04] jplatte commented on #7459
As a cheap solution in this case, the lint could only trigger when the item type of the iterator before `collect()` (or the output type of `collect()`) is `'static`? That would result in false negatives when lifetimes captured by the output type refer to something outside the input of `.iter()`, but still be better than not having this lint at all.

[2022-08-15 10:27] benwh1 opened #9336 "`type_repetition_in_bounds` misses `for<'a>` when combining higher-rank trait bounds"
### Summary

Clippy omits the `for<'a>` part of a higher-rank trait bound when trying to combine two trait bounds.

Also happens on 1.63.0 stable.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

[code]

or maybe,

[code]

Instead, this happened:

[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-08-15 10:40] rsmantini commented on #7459
I think [redundant_clone](https://rust-lang.github.io/rust-clippy/master/index.html#redundant_clone) does something similar. I took some inspiration there but I still don't quite understand how the GenKillAnalysis work :(

Interesting idea, shouldn't be too hard to do. I wonder if there are methods other than `collect` that can get us into trouble. I'll try to add that check and see what dogfood s

[2022-08-15 10:48] jplatte commented on #7459
Ah, my idea doesn't actually work.. This (silly) example compiles fine, but breaks with `into_iter`:

[code]

[2022-08-15 13:58] quarthex opened #9337 "`cast_possible_wrap` for convertion from `u8` to `isize`"
### Summary

The lint `cast_possible_wrap` is triggered by a conversion from `u8` to `isize`.

The displayed message is:

    casting `u8` to `isize` may wrap around the value on targets with 32-bit wide pointers

On 16/32/64-bits platforms, the message is wrong. An 8-bit unsigned value fits in a 16/32/64-bits signed register.

### Reproducer

[code]

### Version

[code]

### Additional Labels

@r

[2022-08-15 14:01] quarthex commented on #9337
The lint applies on 8-bits platforms, though.

[2022-08-15 19:46] jkelleyrtp commented on #6842
Just chiming in that I just ran into this an our codebase with a future whose result I didn't care about.

We did a let binding

[code]

But since the let binding swallows the must_use on the future, we never got the proper lint about futures needing to be polled.

It would be great to have at the bare minimum, a lint `let_underscore_future` to prevent swallowing unpolled futures since it's a very

[2022-08-15 19:46] tommythorn commented on #7397
I literally just hit this [1] and was appalled that Clippy complained *and* didn't offer a workaround.  The message "The loop is useless" is technically false as without the "loop" the code doesn't work.  I'm glad to see a better solution is forthcoming, but regardless the Clippy message is wrong and unhelpful.
[1] https://users.rust-lang.org/t/breaking-out-of-for/79893/5

[2022-08-15 21:49] #9193 closed

[2022-08-16 02:40] arnolddevos commented on #1781
I think there is a problem with assuming a type should derive `Eq` just because its fields do.  It depends on the intended semantics of the type.   Imagine a type `Id` with a special value `NULLID` that is by design not equal to itself.  `Id` should derive `PartialEq` but not `Eq`.   However, it might happen that the fields of `Id` derive `Eq`.

[code]

[2022-08-16 02:45] philpax opened #9339 "new lint: `vec.drain(..)` instead of `vec.clear()`"
### What it does

Checks for usage of `vec.drain(..)` (iterator dropped immediately) which can be replaced with `vec.clear()`

### Lint Name

unnecessary_vec_drain

### Category

style

### Advantage

- Makes intent clearer
- Marginally more efficient, especially in debug builds

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-08-16 03:00] Jarcho commented on #1781
If `PartialEq` were derived there then that assert would fail. Deriving is the same as structural equality.

[2022-08-16 03:36] arnolddevos commented on #1781
Oops I think I deleted the comment you responded to.  But yes, I checked that the lint is not triggered for a hand written `PartialEq`.  So all good.

[2022-08-16 03:45] xStrom commented on #9299
I'm also seeing a bunch of clippy warnings for rather basic types now, with 1.63.0.

[code]

What's more, the docs claim that `type-complexity-threshold` is a configuration value, but even changing that to `18446744073709551615` has no effect on the warnings.

[2022-08-16 16:02] gilescope commented on #8098
The `&mut` and `&` fix suggestions would be good as they are (as pointed out above) things that would not usually occur to rust devs so it's helpful to have that as a suggestion.

[2022-08-16 16:46] MaeIsBad commented on #8371
For reference here is the implementation of this feature in the godot go linter.
https://github.com/tetafro/godot/blob/9f0a33a7278c1b0746a5c41dfb8ff2344bd73baa/checks.go#L147

It simply checks that the last line in a block of comments ends with one of the following characters:

`".", "?", "!", ".)", "?)", "!)", "。", "？", "！", "。）", "？）", "！）"`

they are considered valid. There is a bit more code r

[2022-08-16 20:04] Rqnsom commented on #8600
@brleinad No worries, I feel ya!

I'll see if I can do it during the next week maybe.

@rustbot claim

[2022-08-16 20:40] #7739 closed

[2022-08-16 20:40] #8263 closed

[2022-08-17 01:04] Jarcho commented on #9313
Duplicate of #8005

[2022-08-17 01:04] #9313 closed

[2022-08-17 16:07] Kixunil opened #9346 "New lint: types implementing `Deref` should impl `AsRef<Self::Target>` and `Borrow<Self::Target>` (same with mut versions)"
### What it does

If a type implements `Deref` but does not implement `AsRef<<Self as Deref>::Target>` and `Borrow<<Self as Deref>::Target>` or the type implements `DerefMut` and is missing `AsMut` or `BorrowMut` for `Target` the lint warns about the missing implementations.

The lint suggestion should be machine-applicable.

### Lint Name

deref_missing_as_ref_borrow

### Category

style

### Adv

[2022-08-17 23:49] #9331 closed

[2022-08-18 00:59] Jarcho commented on #9346
`Borrow` is probably too strong to suggest by default. The constraint it places on the `Hash` impl is easy to accidentally break. `AsRef` on publicly visible types should be fine.

[2022-08-18 11:26] carloosaf commented on #9339
@rustbot claim

[2022-08-18 11:45] conradludgate opened #9347 "false positive for clippy::question_mark"
### Summary

Clippy wrongly suggests I can use the question mark operator when returning an error which matches a deep pattern.

The idea is that I'm manually matching an error and then returning, but my match is more specific than what `?` does, so it's a false positive

### Lint Name

question_mark

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this ha

[2022-08-18 18:29] #9347 closed

[2022-08-18 18:56] ericseppanen opened #9350 "clippy handles vendored dependencies differently from crates.io dependencies"
### Summary

I have noticed that one of my dependencies has compiler warnings. This doesn't usually affect how I use Clippy, because those warnings are suppressed.

However, when I tried to vendor that dependency (checking it in to git in a path outside my project [^1], and changing Cargo.toml to use `some_crate = { path = "../vendored/that_crate" }`), I find that now Clippy is reporting the compi

[2022-08-18 19:38] ericseppanen commented on #9350
`cargo check` has the same behavior. Perhaps this is a dupe of [cargo bug #8546](https://github.com/rust-lang/cargo/issues/8546)?

[2022-08-18 22:02] Alexendoo commented on #9350
It is behaviour from `cargo` yeah, it's which crates `RUSTC_WORKSPACE_WRAPPER` apply to.

For vendoring dependencies usually `[source]` is used (as output by `cargo vendor`), but on the clippy side if you do want to ignore path dependencies/workspace members `--no-deps` should work

[2022-08-19 03:49] mikerite opened #9351 "`unnecessary_to_owned` doesn't take type changes into account"
### Summary

`unnecessary_to_owned` suggests changing the type of an input but doesn't check if this type is used in other places. This can lead to suggestions that won't compile due to mismatched type errors.

### Lint Name

unnecessary_to_owned

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

Applying the suggestion results in this error
[code]

[Playground](https://play.

[2022-08-19 11:36] #2972 closed

[2022-08-19 16:11] #8643 closed

[2022-08-19 16:29] #8629 closed

[2022-08-19 16:29] #8782 closed

[2022-08-19 16:29] #8556 closed

[2022-08-19 16:29] #8560 closed

[2022-08-19 18:49] #854 closed

[2022-08-20 01:06] Ryan1729 opened #9352 "needless_range_loop suggests loop that stops earlier"
### Summary

I ran clippy on some code that included a loop over a range of the form `for i in start ..= end`, which indexed into a slice of bytes, (`bytes[i]`) where `end` happened to be the length of the slice. Note that the original code includes an iteration of the loop where `i` is equal to `bytes.len()`, but that there was an additional condition checking for that case, preventing the out of

[2022-08-20 04:11] nyurik opened #9353 "Remove all `if_chain!` macros"
### Description

Current Clippy code has a lot of legacy `if_chain!` macros even though the nightly [if let chains](https://rust-lang.github.io/rfcs/2497-if-let-chains.html) is already in use. I would like to remove all `if_chain!` macro usage, replacing it with the regular if statement, unless of course there is any reason to avoid that?

One thing to note is that `cargo fmt` still hasn't been de

[2022-08-20 04:46] nyurik opened #9354 "Convert if_chain! macros to the regular if statement"
### What it does

The if-let chains are getting very close to stabilization (they were [stabilized](https://github.com/rust-lang/rust/issues/53667) but later reverted due to a [bug](https://github.com/rust-lang/rust/issues/99938)).  There are nearly 500 if_chain! usages in this repo alone, so converting them by hand might prove too error-prone. Plus, there are other projects using the same [if_cha

[2022-08-20 13:15] nahuakang commented on #9311
@xFrednet @flip1995 👋 Hey everyone, I'm happy to help with iterating over the docs aspect of this issue, i.e. editing and revamping the existing documentation for adding lints, especially switching to emphasis on `LateLintPass`.

Below is a draft outline I organized. Please review it and give your suggestions:

[code]

**Note:** Per suggestion from @xFrednet, we should also update `CONTRIBUTING.md

[2022-08-20 13:34] flip1995 commented on #9311
I would make the adding lints section as short as possible. Instead of a big chapter about adding lints, I would introduce multiple chapters on how to do certain things and then link there. E.g. One chapter about testing, one about type checking, one about lint passes, and so on.

The adding lints chapter should then only consist of the shortest "happy path" on how to add lints. All details and in

[2022-08-20 13:55] nahuakang commented on #9311
@flip1995 I like your suggestion :) How does this look? Did I miss any important bullets?

[code]

[2022-08-20 13:59] #6651 closed

[2022-08-20 14:18] flip1995 commented on #9311
I didn't really have complaints about the first ToC you s'ent.

My issue is that this is grouped under the adding lints chapter. Maybe my plan becomes clearer with a concrete example:

Let's look at testing: there should be one chapter about all that exists for testing:

- ui tests
- rust fix
- ui cargo
- ui toml
- cargo dev commands
- ...

(not necessarily in that order)

This chapter should be o

[2022-08-20 14:30] yotamofek opened #9356 "never_loop misses `continue` stmt inside `let..else` terminator"
### Summary

Seems like the `never_loop` lint ignores any `continue` statements that are inside the `else` blocks in `let..else` statements. This produces a false positive.

### Lint Name

never_loop

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
`never_loop` should not be triggered.

### Version

[code]

### Additional Labels

_No response_

[2022-08-20 15:16] nahuakang commented on #9311
Ah yes we're on the same page: I actually wanted to eliminate that `Adding lints` umbrella and flatten it out but forgot to do so 😆 Updated [the message above](https://github.com/rust-lang/rust-clippy/issues/9311#issuecomment-1221319231) now.

[2022-08-20 15:31] xFrednet commented on #9311
I like @flip1995's suggestion as well. Thank you for working on the documentation :heart:

[2022-08-20 17:24] xFrednet opened #9357 "Lint to detect non `#[repr(C)]` type in `#[repr(C)]` struct"
### What it does

Rust doesn't have a stable ABI, to still allow the exchange of data with external code an ABI can be defined per type. This is done with the `#[repr(abi)]` attribute. However, (AFAIK), the attribute only affects the type itself, meaning that the user has to ensure that all fields in the type also have `#[repr(abi)]`.

The lint should warn, if a struct has an `#[repr(abi)]` attrib

[2022-08-20 18:00] flip1995 commented on #9311
Ah ok, some of the things are still a bit too fine grained I think. But we can figure this out once the actual documentation is written. I wouldn't write two examples for both lint passes though. Just one for late lint passes and then link to the early vs late documentation.

Content LGTM. Though, I would be careful not to duplicate things that already exist in the rustc-dev-guide. We can also jus

[2022-08-20 18:19] #8855 closed

[2022-08-20 21:46] nahuakang commented on #9221
@dswij 👋 May I ask if you meant that we should add the new linting within `equatable_if_let`, i.e. expanding the logic of the existing `equatable_if_let` lint to include this new pattern? Thanks :)

[2022-08-21 05:53] joshuef opened #9358 "panic w/ clippy 0.1.63 (4b91a6ea 2022-08-08)"
Running clipy against my Wip branch (excuse the mess! :P ): [here's the specific commit](https://github.com/maidsafe/safe_network/pull/1490/commits/d7cc0aff8e2d52548c29233f37c535ed958f5af1)

This is on my m1 air. Let me know if more details are needed!

(And thanks for all the clippy work so far! 🙇 )

[code]

[2022-08-21 06:34] xFrednet commented on #9358
Hey, thank you for the report. The error seems to originate from rustc, but it could be that clippy influences this somehow. We had an issue like that recently.

Could you try our the latest nightly to see if it still happens? And does `cargo check` also Panik?

[2022-08-21 08:06] joshuef commented on #9358
`cargo check` is fine.

How does one use clippy nightly? Just use rust nightly or is there more to it

[2022-08-21 08:47] #8492 closed

[2022-08-21 08:55] royrustdev commented on #6576
@rustbot claim

[2022-08-21 10:13] #8753 closed

[2022-08-21 12:18] lukaslueg commented on #3884
@oli-obk Could you point out wrt https://github.com/rust-lang/rust-clippy/issues/3884#issuecomment-473523714 why we need to walk locals and arguments at all - I'm missing the point. Isn't it enough to walk the `E` in a `Result<_, E>` as far as we can, and come up with an `at least size`, e.g. for `Result<(), (T, [u8; 512])>`, by simply summing up fields as far as we can determine? The size will be

[2022-08-21 13:20] lukaslueg commented on #9358
@joshuef `cargo +nightly clippy` or `cargo +nightly check` after you `rustup update nightly`

[2022-08-21 13:36] #9084 closed

[2022-08-21 13:42] n0rmaliz opened #9359 "unused_async emitted when trait bounds where function is used require it to be async"
### Summary

When using actix-web, Clippy warned me that the `async` on one of my handler functions was unused as there was no await. It turned out that the trait bounds on the `.to()` method of `actix-web::route::Route` required that the handler function implemented `Handler<Args>` which requires an async function.

### Lint Name

unused_async

### Reproducer

I tried this code:

[code]

I saw th

[2022-08-21 15:29] dswij commented on #9221
I haven't taken a deep look into it, but if we plan to add this to a new lint, we can factor out reusable logic from `equatable_if_let`. Alternatively, we can just add this case to be linted by `equatable_if_let` and update the lint's docs.

[2022-08-21 16:00] nahuakang commented on #9221
Thanks. I'll take a deeper look at the 2 lints that you've written down and circle back when I have a clearer picture :)

[2022-08-21 22:29] justinmoon commented on #9286
We're experiencing a similar issue in our project: https://github.com/fedimint/fedimint/issues/436

We use [Nix to pin dependencies](https://github.com/fedimint/fedimint/blob/master/flake.nix) in our developer environment. Interestingly, I can replicate @application-developer-DA's minimal reproduction with the `1.62.1 (a748cf5a3 2022-06-08)` cargo version installed in our Nix environment. But if I

[2022-08-21 22:40] justinmoon commented on #9286
When I uninstalled my global `cargo-clippy` in `~/.cargo/bin/` the problem went away.

[2022-08-21 23:27] giraffate commented on #9358
It seems to be a duplicate of https://github.com/rust-lang/rust/issues/91015.

[2022-08-22 05:57] joshuef commented on #9358
Okay, nightly does _not_ panic 🎉

I get the error out ```error: unnecessary closure used with `bool::then`
   --> testnet/bin.rs:150:21
    |
150 | /                     result
151 | |                         .status
152 | |                         .success()
153 | |                         .then(|| ())
    | |__________________________----------^
    |                            |
    |

[2022-08-22 10:33] oli-obk commented on #3884
I don't remember and can't make much sense of my own comment. Your explanation for a plan sounds good

[2022-08-22 10:58] #9256 closed

[2022-08-22 12:14] matklad opened #9360 "needless_lifetimes false positive, which leads to unsound code"
### Summary

See https://github.com/jeromefroe/lru-rs/pull/153

### Reproducer

_No response_

### Version

_No response_

### Additional Labels

_No response_

[2022-08-22 12:34] est31 commented on #9354
Note that it's not a 1:1 transition if you want to avoid warnings from the rust compiler. If there are suggestions, they should suggest moving any irrefutable patterns that the chain starts with outside of the chain, and any irrefutable pattern that the chain ends with into the body. Because otherwise there would be a lint as per https://github.com/rust-lang/rust/pull/94951 .

[2022-08-22 13:16] Jarcho commented on #9360
Is there a reason `pub fn peek_lru(&self) -> Option<(&K, &V)>` is wrong? The lint could use a suggestion.

[2022-08-22 13:41] robertbastian commented on #6616
Enum variants have to be tagged as `#[non_exhaustive]` separately from the enum itself, and this lint doesn't enforce that:

[code]

should/could be
[code]

Is this something that should be done by this lint, or by a new `exhaustive_enum_variants` lint?

[2022-08-22 14:00] RalfJung opened #9361 "'unneeded return' fires when return is needed due to attribute"
### Description

Consider code like this:
[code]
The `return` is needed here because attributes can only be applied to statements, not expressions. But nevertheless clippy says I should remove the `return`...

### Version

[code]

### Additional Labels

_No response_

[2022-08-22 14:04] koka831 commented on #9339
@rustbot claim

[2022-08-22 17:23] ph04 opened #9362 "Missing parenthesis on lint"
### Summary

The lint is wrong because it's missing necessary parenthesis.

### Reproducer

I tried this code:

[code]
and I got this lint

[code]

which is wrong because it should be `(*f as isize - *s as isize).unsigned_abs()` instead.

### Version

[code]

[2022-08-22 18:14] #8399 closed

[2022-08-22 19:30] jgoerzen opened #9363 "broken code after cargo clippy --fix"
### Summary

After upgrading Rust from 1.61.0 to 1.63.0, new Clippy errors started to occur.

The first was in this code:

[code]

It produced this:

[code]

As you can see, it incorrectly removed the parens, causing a compilation error.

The second issue was this one:

[code]

Which triggered this compilation error:

[code]

In other words, the warning about a redundant clone was incorrect.

###

[2022-08-22 20:05] ericseppanen commented on #9350
That doesn't work in this case because the warnings are actually compiler warnings, not clippy lints. Feel free to try the "reproducer" example above to demonstrate this.

[2022-08-22 21:13] nahuakang commented on #9221
@dswij It seems that `equatable_if_let` [already takes care of the case](https://github.com/rust-lang/rust-clippy/blob/5735a3bef6db84156d78d05fdd43e6332687cf2c/tests/ui/equatable_if_let.stderr#L39-L62) you mentioned (I wonder if dogfood would have caught it). In this case, do we prefer: `if foo == Foo::Baz` or `if matches!(foo, Foo::Baz)`?

[2022-08-23 00:25] giraffate commented on #9363
Thanks for the report!

This has been fixed by https://github.com/rust-lang/rust-clippy/pull/9266, so I'm closing this.

[2022-08-23 00:26] giraffate commented on #9362
Thanks for the report!

This has been fixed by https://github.com/rust-lang/rust-clippy/pull/9266, so I'm closing this.

[2022-08-23 00:26] #9362 closed

[2022-08-23 00:36] jgoerzen commented on #9363
Thank you.  9266 looks relevant to the first issue, but I don't think it's relevant to the second (with the incorrect clone removal)

[2022-08-23 00:42] Jarcho commented on #9363
Can you give more context for the redundant_clone error.

[2022-08-23 00:44] giraffate commented on #9363
Oh, I missed it. Thanks for catching it.

[2022-08-23 00:55] jgoerzen commented on #9363
Sorry, I wasn't sure if these are related or separate.  Sounds like they are separate; my apologies for causing confusion with that.

[2022-08-23 03:29] ericseppanen commented on #9350
Closing in favor of  [cargo bug #8546](https://github.com/rust-lang/cargo/issues/8546).

[2022-08-23 03:29] #9350 closed

[2022-08-23 08:52] mickvangelderen commented on #9063
I do not think that the benefit of having people consider also implementing `Eq` outweighs everyone making deliberate design choices around their public API having to disable this linting rule.

At the very least, it should not suggest adding `Eq` for public types.

[2022-08-23 09:19] junglie85 opened #9364 "Clippy 1.63 fails to detect vec-init-then-push"
### Summary

Clippy 1.63 fails to detect _vec-init-then-push_ but it is detected with 1.62. This seems to only happen when there is an `if` statement after the initial push that conditionally pushes a subsequent element to the vec.

### Lint Name

vec-init-then-push

### Reproducer

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

### Version

Fa

[2022-08-23 09:31] junglie85 commented on #9364
I swear https://github.com/rust-lang/rust-clippy/issues/7071 didn't come up when I first searched. But it makes sense and I see the fix was merged a couple of months ago. The new behaviour is preferable and my false positive bug is only really a bug if the behavious is supposed to be unchanged. I'll close.

[2022-08-23 09:31] #9364 closed

[2022-08-23 14:17] reitermarkus commented on #9183
I group my `u16` `bitflags` by byte, i.e. `0b00000000_01000000`, so I also encountered this.

[2022-08-23 14:35] dswij commented on #9221
@nahuakang

it seems like it won't fire if `PartialEq` is not implemented. See ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2d6cadfff9f95c52799ed27409769df6)). The test cases for this lint seems to agree.

Makes sense since if `PartialEq` is not implemented, then you can't suggest `if foo == Foo::Baz`

So I think this is more of an improvement - if it does

[2022-08-23 14:45] nahuakang commented on #9221
@dswij Thanks for the tip. I was trying to understand this lint but had some trouble yesterday. Does your suggestion mean that if [is_structural_partial_eq](https://github.com/rust-lang/rust-clippy/blob/5735a3bef6db84156d78d05fdd43e6332687cf2c/clippy_lints/src/equatable_if_let.rs#L76) returns `false`, we could consider suggesting `matches`?

[2022-08-23 15:02] nahuakang commented on #9221
Will do! I'll start adding some new test cases and do the improvement. Maybe by the time of review we'd think of more edge cases.

[2022-08-23 17:19] ecton opened #9367 "False positive in mismatching_type_param_order with hardcoded type"
### Summary

I enabled `clippy::pedantic` for a project this morning that showed a false positive I hadn't encountered before. The minimal example is below -- the definition is skipping `B` by using `()` for `B`, but I get a warning about how `C` is out of order even though the generic `C` is in the correct position.

### Lint Name

mismatching_type_param_order

### Reproducer

I tried this code:

[2022-08-23 17:29] #8590 closed

[2022-08-23 18:14] alice-i-cecile commented on #8325
Some manual cleanup of this in https://github.com/bevyengine/bevy/pull/5775 :)

[2022-08-23 18:28] nahuakang commented on #9221
@dswij Feel free to take a look at [the PR](https://github.com/rust-lang/rust-clippy/pull/9368) :) I'm still not familiar with things on this level so might miss some edge cases.

[2022-08-23 18:31] JoJoJet opened #9369 "redundant_closure lint incorrectly emitted when using a `FnMut` as a `FnOnce`"
### Summary

When passing a `FnMut` closure to a function that expects a `FnOnce`, you must wrap it in a new closure to avoid moving the original. Clippy incorrectly emits a redundant_closure lint when doing this.

### Lint Name

redundant_closure

### Reproducer

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9e821a26232ffb0e3cf5f90511c56c6b

[code]

I saw this happen:

[

[2022-08-23 19:08] JoJoJet commented on #9369
std has `impl<F: FnMut> FnOnce for &mut F`, so it would be better for clippy to suggest

[code]

[2022-08-24 04:20] butabara commented on #9286
This still seems to be an issue on M1 macs, I am using `rustc 1.63`

[2022-08-24 05:33] danieleades commented on #8556
this false positive is still occurring. Can this ticket be reopened? Or is there another ticket that's more appropriate?

[2022-08-24 09:53] kangalioo opened #9371 "Warn against subtracting a constant Duration from Instant::now()"
### What it does

I'm not sure how large the scope of this lint should be, so here's the most conservative approach first:

This lint finds patterns of the form `std::time::Instant::now() - std::time::Duration::from_secs(...)` (or from_millis, from_secs_f32, whatever) and warns against potential underflow panics on certain platforms. Maybe there should also be a check that the duration exceeds a c

[2022-08-24 10:17] eastfisher opened #9372 "incorrect result of #![deny(unused_qualifications)] in match block"
### Summary

#![deny(unused_qualifications)] does not work in match block.

### Lint Name

#![deny(unused_qualifications)]

### Reproducer

I tried this code:

tree:

|- main.rs
|- status.rs

[code]

[code]

run the following cmd:

[code]

I expected to see this happen:

Instead, this happened:

### Version

[code]

[2022-08-24 13:23] leonardo-m commented on #9357
Sounds important.

[2022-08-24 13:29] leonardo-m commented on #9316
See also:
https://github.com/rust-lang/rust-clippy/issues/3216

[2022-08-24 15:45] Xuanwo commented on #9372
I can't find `unused-qualifications` in https://rust-lang.github.io/rust-clippy/master/index.html.

I'm guessing it's a `rustc` lint?

[2022-08-24 16:34] kalcutter commented on #6455
This clippy lint does change the semantics of the code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=97a03cef8ebac2954dd60777656da949

[2022-08-24 17:06] satvikpendem commented on #9271
I get this often for some basic `String` conversion methods I have, so I have to do this each time:

[code]

[2022-08-25 00:27] giraffate commented on #9372
The `unused_qualifications` is the rustc's lint: https://doc.rust-lang.org/stable/nightly-rustc/rustc_lint/builtin/static.UNUSED_QUALIFICATIONS.html, so it would be better that this issue is moved to [rust-lang/rust](https://github.com/rust-lang/rust).

The `main.rs` bring `status::StatusCode` in that scope, but it doesn't use `status::StatusCode` as it is. It uses `status::StatusCode::Ok` and `st

[2022-08-25 00:45] skondrashov commented on #6631
Is it clippy's responsibility to enforce these kinds of formatting guidelines? I don't see any other rules concerning camel or snake case enforcement, and I would expect this to be a rustfmt warning in similar situations (eg "structure field `FIELD` should have a snake case name" for struct fields). I am getting this warning for enum variants, which is not only confusing since I am also not using

[2022-08-25 02:21] eastfisher commented on #9372
@giraffate Thanks for answer! I start another [issue](https://github.com/rust-lang/rust/issues/100979) in rust-lang/rust.

[2022-08-25 02:21] #9372 closed

[2022-08-25 13:43] mwkmwkmwk opened #9375 "collapsible_if fix suggestion breaks in the presence of `match!`"
### Summary

When the outer `if` condition involves a `match!` (but the `match!` is not the whole condition), the `collapsible_if` fix suggestion will replace it with the macro definition (quite badly), completely breaking the output.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

suggestion changing the function body to:

[code]

Instead, this happened:

[code]

When

[2022-08-25 15:36] hotate29 opened #9376 "Lint `map.iter().map(|(_,v)| v)`"
### What it does

Warning to iterator operations that are equivalent to `.keys()` and `.values()`.

Similar lint: https://rust-lang.github.io/rust-clippy/stable/index.html#for_kv_map

### Lint Name

iter_kv_map

### Category

style

### Advantage

Simpler and readable than the original code.

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-08-25 20:13] scottmcm opened #9377 "`filter_map_identity` is arguably overzealous"
### Description

lint: https://rust-lang.github.io/rust-clippy/master/index.html#filter_map_identity

This was originally added as being like `flat_map_identity` (https://github.com/rust-lang/rust-clippy/pull/6685), but they're not quite analogous.  `.flatten()` is unambiguously better than `.flat_map(identity)`, but the same isn't true for `.filter_map(identity)`.

The problem is that (as I was r

[2022-08-26 00:21] giraffate commented on #9375
I don't know why it is, but it looks like that the suggestion changes from beta:
[code]

[2022-08-26 00:48] skondrashov commented on #6631
Sorry, naming - but that's my question, is it clippy's responsibility to enforce naming conventions if it's usually rustc's responsibility?

[2022-08-26 04:14] tgross35 opened #9378 "False pattern_type_mismatch positive: suggests reference when not allowed (appears when unpacking)"
### Summary

When unpacking tuples that cannot be moved, `pattern_type_mismatch` is raised and comes with a suggestion that is not valid.

The example in the section below shows the full setup, but basically the following causes this error:

[code]

and clippy suggests adding a reference to get `|&(a_item, b_item)|`. However, this is not allowed if the tuple cannot be moved and a reference cannot

[2022-08-26 08:54] 64kramsystem opened #9380 "`unnecessary_cast` lint suggestion causes error"
### Summary

In some cases, the `unnecessary_cast` lint suggestion causes error.

p.s. Rust rocks 😁

### Reproducer

I tried this code:

[code]

This happened:

[code]

### Version

[code]

### Additional Labels

@rustbot label + l-suggestion-causes-error

[2022-08-26 08:56] 64kramsystem commented on #9380
@rustbot label + I-suggestion-causes-error

[2022-08-26 08:57] 64kramsystem commented on #9380
@rustbot label +I-suggestion-causes-error

[2022-08-26 12:20] #6576 closed

[2022-08-26 14:58] DidiBear commented on #9376
Just mentioning that the lint also works when the `key` or `value` is used to create another value.

For example, these two lines are equivalent:
[code]

[2022-08-26 20:22] ahmed-masud commented on #2627
Another use case for this is a situation where we have a subset of fields that define equality and there should only be exactly one of those instances (in a HashSet e.g.) despite other non-important fields being unequal.

[2022-08-26 21:57] geeklint opened #9382 "allow(single_component_path_imports) does not apply to imports in annotated modules."
### Summary

This might be somewhat similar to some existing issues so if it would be preferable to comment on one of them and close this one that's fine, but I didn't see it specifically.

I have some automatically generated code which triggers the `single_component_path_imports` lint.  I'm not opposed to the lint in general, but I'd rather keep the automatically generated code unedited by hand.

[2022-08-26 22:49] Arc-blroth opened #9383 "`needless_borrow` and `explicit_auto_deref` false positive with unions"
### Summary

Clippy suggests removing explicit `&mut` and `*` derefs that are required by [RFC 2514][2514] when working with union fields.

[2514]: https://rust-lang.github.io/rfcs/2514-union-initialization-and-drop.html#potential-pitfalls-around-derefmut

### Lint Name

needless_borrow and explicit_auto_deref

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to s

[2022-08-27 08:51] DidiBear opened #9384 "False positive on only_used_in_recursion"
### Summary

The lint `only_used_in_recursion` is raising an error but I cannot figure out why.
You can check [this Rust Playground here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=84dc61570c57dc01d0478af6d7698154).

### Lint Name

only_used_in_recursion

### Reproducer

I tried this code ([Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=

[2022-08-27 08:54] #9361 closed

[2022-08-27 09:57] llogiq commented on #9380
@rustbot claim

[2022-08-27 15:20] SoryRawyer commented on #9155
hi folks, is this issue ready to be picked up? I was thinking of looking into this issue as my first opportunity to cross the clippy user/clippy contributor barrier but before I do I wanted to see (1) if I'd be stepping on anyone's toes, (2) if there were any outstanding questions about this issue, and (3) if you all had any tips for where to look to get started. thanks!

[2022-08-27 23:56] Jarcho commented on #9384
This should be fixed in #8804

[2022-08-28 07:25] #9164 closed

[2022-08-28 07:26] dswij commented on #9375
Took a quick look at this, we have a [test case that covers `matches!`](https://github.com/rust-lang/rust-clippy/blob/2d4d8e16cd390a6a4fd2f249e2e15116f363f681/tests/ui/collapsible_if.rs#L153-L156).

[2022-08-28 07:44] dswij commented on #9358
Thanks for the report, will be closing this since it seems to be resolved in nightly.

[2022-08-28 07:44] #9358 closed

[2022-08-28 08:02] schubart opened #9387 "Writing lint: How to detect access to a local from a closure?"
(I hope it's OK to open an issue to ask a questions. If not, please tell me where I should ask the question instead.)

I'm trying to find all usages of a local, but I fail to find cases where a local is accessed from a closure.

Simplified code that tries to find *any* access to *each* local:

[code]

Test program:

[code]

My lint only finds "first usage" and "third usage".

How do I make it find

[2022-08-28 08:04] llogiq commented on #9155
Just comment `<at>`rustbot claim, but with the `<at>` replaced by @ to claim the issue.

If you are unsure how to proceed, feel free to comment your questions on the issue or in the clippy channel on the rust-lang zulip.

[2022-08-28 08:07] llogiq commented on #9155
As for open questions, I'd suggest picking the `pedantic` lint group first, and start with linting on (method) calls with a non-generic return type.

[2022-08-28 10:46] mwkmwkmwk commented on #9375
The issue only happens when the condition is `match!(..) && something`, not when the condition is a lone `match!`

[2022-08-28 11:11] llogiq commented on #9387
You'll have to check closure bodies. `ExprKind::Closure(..)` has a body ID, which you can use to get the body (using cx.tcx, sorry, I'm on mobile right now), which you can then walk.

[2022-08-28 11:45] lukaslueg commented on #9387
https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/unused_peekable.rs might be of use

[2022-08-28 12:07] llogiq commented on #9375
So we should add a test case with a let chain containing a `matches!(..)` invocation.

[2022-08-28 14:16] SoryRawyer commented on #9155
@rustbot claim

[2022-08-28 15:05] taufik-rama commented on #9316
Ah, I didn't find that issue when I searched about this, but I did expect this to already be suggested before

I don't know how to proceed, should I close this issue?

[2022-08-28 15:08] DesmondWillowbrook commented on #9376
@rustbot claim

[2022-08-28 16:06] Darksonn opened #9390 "Extension traits should not be used as trait bounds"
### What it does

It detects when an extension trait is used as a trait bound. The base trait should be used instead. For example:
[code]
In this case, it should suggest writing `R: AsyncRead` instead.

To define "extension trait", one possibility is any trait of the following form:
[code]

### Lint Name

extension-trait-as-trait-bound

### Category

suspicious

### Advantage

- It is strictly mor

[2022-08-28 16:51] lukaslueg commented on #9390
It's not clear to me why a trait bound like this should be considered bad practice. `AsyncReadExt: AsyncRead`, and `takes_async_read` may require both.

[2022-08-28 16:59] Darksonn commented on #9390
Due to the blanket impl, `R: AsyncRead` implies `R: AsyncReadExt`, so they are equivalent mechanically. I suppose "bad style" would be a better category.

Here's another example:
[code]
However, people tend to do this more often with `AsyncRead`.

[2022-08-28 17:29] lukaslueg commented on #9390
Ah, now I see your point. As any `R` that is `R: AsyncReadExt` has to be `R: AsyncRead` (due to `pub trait AsyncReadExt: AsyncRead`), and as all `R: AsyncRead + ?Sized` are `AsyncReadExt` due to `impl<R: AsyncRead + ?Sized> AsyncReadExt for R`, a trait bound `R: AsyncReadExt` is never more powerful than a `R: AsyncRead`.

[2022-08-28 17:40] Darksonn commented on #9390
I've only ever seen people make the mistake with traits called `StreamExt`, `AsyncReadExt`, and `AsyncWriteExt`. (Though note that all of those names have multiple instances of them in different crates.)

[2022-08-28 19:03] schubart commented on #9387
Thanks @llogiq that worked:

[code]

It seems a bit surprising that the visitor does not walk into closure bodies.

Thanks @lukaslueg for the pointer, but I failed to see how this code relates to my problem. Thanks anyhow!

[2022-08-28 19:03] #9387 closed

[2022-08-28 21:48] xFrednet commented on #9316
If it's a duplicate, then it would be nice to close one of them. This one seems more details and has an example. Therefore, I'll close the older one. @leonardo-m you can ping me or reopen it if you believe that there is a difference in the suggested lints :upside_down_face:

[2022-08-28 21:48] xFrednet commented on #3216
Closed in favor of #9316

[2022-08-28 21:48] #3216 closed

[2022-08-28 23:35] Jarcho commented on #9387
Visitors don't enter bodies (e.g. closures, const blocks) or items by default. You can make them do so by setting the `NestedFilter` associated type appropriately. You can look at the `clippy_utils::visitors` module for various examples.

[2022-08-29 00:20] giraffate commented on #9382
It looks like that this lint can't be enabled or disabled per module, so it would need to be set up as follows:
[code]

[2022-08-29 01:55] ijijn opened #9391 "Clippy fix doesn't add required parentheses to cast"
### Summary

Hi team!

Clippy fix fails to add parentheses around an existing cast when the newer code requires it, resulting in an error and subsequent rollback. It's similar to #9380, but kind of the opposite. 😄

### Reproducer

I tried this code with `cargo clippy --fix`:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

### Version

[code]

### Additional Labels

[2022-08-29 03:14] ileixe commented on #6671
I encountered same error and wonder it can occur actual bad effect or not. I also was trying to save `Future` in RefCell.

Here is MRE which I could not make a panic.

[code]

Honestly, I could not understand how exactly "holding the RefMut at await" is harmful. Is it coming from the fact that when async fn yields, the save their captured variable (so `RefMut`) and it may cause other async task to

[2022-08-29 04:04] Lokathor opened #9392 "(pedantic) The `box_collection` docs are not quite correct."
### Description

Currently the docs for [box_collection](https://rust-lang.github.io/rust-clippy/master/index.html#box_collection) state:
[code]

However, there is one clear benefit: Box<Collection> is one non-null pointer big instead of being 2-3 (or more!) pointers big. Particularly for error data, the extra layer of boxing to keep the error variant small outweighs the mild speed penalty.

### V

[2022-08-29 08:18] alex-semenyuk opened #9393 "Add lint `IMPLICIT_SATURATING_ADD`"
### What it does

Add lint similar to `IMPLICIT_SATURATING_SUB`, but for `ADD`. So it will be `IMPLICIT_SATURATING_ADD`

### Lint Name

IMPLICIT_SATURATING_ADD

### Category

pedantic

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-08-29 08:20] leonardo-m commented on #9316
Closing the old one is right.
That one was from 2018, I felt it was a basic warning to have, so it was surprising to see it open for so much time. I remove useless bounds all the time, and I remember sevaral rustc pull requests to remove post-facto trait bounds in the stdlib. So I still think it's going to be a quite useful lint (perhaps worth having in rusts itself).

[2022-08-29 08:43] schubart commented on #9387
Thanks @Jarcho. `clippy_utils::visitors::expr_visitor` works well and I no longer have to implement `Visitor` myself:

[code]

[2022-08-29 10:23] dswij commented on #9375
Makes sense. Will take a look at this issue when I have the time.

@rustbot claim

[2022-08-29 12:04] #9380 closed

[2022-08-29 14:47] Enet4 commented on #1781
This suggestion has been contested in #9063.

[2022-08-29 14:48] Enet4 commented on #9063
I came here after hearing criticism over this lint. I have to agree that it feels like a mistake having it as _warn_ by default. It introduces unnecessary noise to packages choosing to be more conservative about what impls to expose.

Part of me suspects that the [C-COMMON-TRAITS](https://rust-lang.github.io/api-guidelines/interoperability.html#c-common-traits) had some influence on how it was rai

[2022-08-29 21:48] MitchelPaulin opened #9396 "Rust clippy throws compiler error when trying to fix an uneeded loop variable"
### Summary

Getting a weird error where rust is trying to remove the erroneous loop variable but gets caught on removing `mut`, likely because I don't use `i` to index into the array even though it seems like what I would be doing.

I got this error in a larger project but managed to reproduce it with pretty minimal code below

### Reproducer

I tried this code:

[code]

I expected to see this ha

[2022-08-30 00:50] #9391 closed

[2022-08-30 03:17] categulario commented on #5858
I just found a possible instance of this with clippy `0.1.63 (4b91a6e 2022-08-08)` and the following snippet:

[code]

Which gives this result:

[code]

If the suggestion is used the code fails to compile:

[code]

and of course the suggested code is the code that clippy complained about in the first place.

[2022-08-30 05:37] Jarcho commented on #9393
I'm assume you mean `if i !=MAX { i += 1 }` -> `i = i.saturating_add(1)`.

[2022-08-30 10:17] bjeanes opened #9398 "`error: Unrecognized option: 'fix'` in workspace"
### Summary

I learned of the `--fix` option from `--help` but when trying it, it says unrecognized option 🤨

[code]

I can't seem to find anything which seems to be the same issue. https://github.com/rust-lang/rust-clippy/issues/2765 looks similar but there is no custom wrapper here, that I am aware of:

[code]

Rust and cargo are installed with rustup, so as far as I know it's a pretty standard

[2022-08-30 10:26] bjeanes commented on #9398
Huh, weird. Simply `cargo build` and then `cargo clippy --fix` worked again. I'm not sure what it was caching but it must have been user error on my part somewhere...

[2022-08-30 10:26] #9398 closed

[2022-08-30 16:12] c410-f3r opened #9399 "[New Lint Request] Suggest explict `drop` call for every sync lock"
### What it does

Is there a lint that already does such thing or at least a similar issue?

## Problem

Code that heavily depends on synchronous primitives like `Mutex` can suffer unnecessary resource contention if the lock is only released and the end of its scope through `Drop` but could in fact be released early.

[code]

## Implementation

It is trivial to detect synchronous primitives of the

[2022-08-30 18:06] llogiq commented on #9333
Shouldn't that be

[code]

[2022-08-30 18:33] jendrikw commented on #9333
Are you talking about the heading `# Examples`? Yes, that is recommended as per [RFC 505](https://github.com/rust-lang/rfcs/blob/ff29887f5ef12faaf0a0a60777a0c30aa5ee2014/text/0505-api-comment-conventions.md#using-markdown), but I tend to leave it off as all my doctests are examples.

[2022-08-30 18:34] #3884 closed

[2022-08-30 18:34] #4652 closed

[2022-08-30 18:45] llogiq commented on #9333
Yes. Our docs should follow the recommended style.

[2022-08-30 19:36] jendrikw commented on #9333
Ok, I updated the code.

[2022-08-31 01:05] lopopolo opened #9401 "`useless_attribute` does not permit `module_name_repetitions` on `use` statements"
### Summary

With `#![warn(clippy::module_name_repetitions)]`, clippy will emit a lint warning when `pub use` items start with the same prefix as the module with the `pub use` statement. This lint can be suppressed by adding an `allow` pragma on the `use` statement. However, once adding the allow, clippy emits a deny-by-default lint for `useless_attribute`.

`useless_attribute` does not permit `mo

[2022-08-31 06:59] royrustdev commented on #9393
@rustbot claim

[2022-08-31 07:13] schubart commented on #9353
`#[clippy::author]` should probably also be updated to produce if let chains instead of if_chain!.

This utility (recommended by the [Clippy Book](https://doc.rust-lang.org/nightly/clippy/development/adding_lints.html#author-lint)) currently produces code that uses `if_chain!`, so new lint developers are still being steered towards this old style.

[2022-08-31 12:04] nerdypepper commented on #9290
this should be applicable to `'a'..='z'.contains(&c)` as well.

[2022-08-31 12:28] nerdypepper commented on #9201
this is already implemented in the `imprecise_flops` lint:

[code]

however, the lint does not seem to fire on:

[code]

which seems to be a separate issue.

[2022-08-31 12:54] nerdypepper opened #9402 "`imprecise_flops` not raised in some situations"
### Summary

The lint `imprecise_flops` is not raised when a literal is used in combination with `powf` (and maybe other functions as well). Discovered in https://github.com/rust-lang/rust-clippy/issues/9201.

### Reproducer

I tried this code:

[code]

**I expected to see this happen:**

The lint `imprecise_flops` is raised on the line with a message such as "cube-root of a number can be computed

[2022-09-01 03:05] Jarcho opened #9405 "ICE checking `cargo-xbuild-0.6.6`"
### Description

Built on x86-64 debian using latest master.

[code]

[2022-09-01 04:24] #9405 closed

[2022-09-01 08:33] timongh opened #9407 "`manual_map` does not consider the borrowing relationship"
### Summary

In the example below, the suggestion given by clippy is wrong. Because of the conflicting borrows in the Scrutinee and Arm of the match.

### Lint Name

manual_map

### Reproducer

I tried this code (try it in [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=25cfdb210fcdf97a3e9b623701f08ef9)):

[code]

I saw this happen:

[code]

I expected to see t

[2022-09-01 10:26] tdkt opened #9408 "Functional constructs tend to silently drop errors when iterating `Result`."
### Description

I recently found several bugs in production code. They are due to `iter`/`into_iter` being called on results.

Examples:
[code]

will let us blissfully iterate our `Vec` and early return (intentionally?) on the `Result`s inside the `Vec`. When the outside `Result` is an error, it becomes an empty iterator, dropping the error silently and collecting into `Ok(vec![])`.

[code]

This

[2022-09-01 13:31] #9402 closed

[2022-09-01 13:31] #9201 closed

[2022-09-01 14:37] xFrednet commented on #9353
There have been multiple discussions about it on Zulip and in PRs (See https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/removing.20if_chain.20dependency/near/292061902). The consensus is, that we want to move to `if let chains` but until rustfmt supports their formatting we'll not convert our codebase. There are already some tools to automatically migrate from `if_chain!` to let

[2022-09-01 14:41] xFrednet commented on #9311
Our documentation currently still references the `if_chain!` macro, while we slowly want to move towards if let chains. @nahuakang If possible, it would be cool to also use the new let chains in the documentation. Keeping a reference to the `if_chain!` macro might still be good for bug fixes etc. :upside_down_face:

[2022-09-01 14:43] nahuakang commented on #9311
Yes great point :) @flip1995 has already corrected me twice on using `if_chain!` and I edited the `if_chain!` into the `let_chain` [here](https://github.com/rust-lang/rust-clippy/pull/9368) so it's great to document it and save people some time (since `if_chain!` exists everywhere and people might think it's the standard way).

[2022-09-01 17:25] nfejzic commented on #9371
I would like to try this one 👀

@rustbot claim

[2022-09-01 18:43] jakob-lilliemarck opened #9411 "Bug "Failed to extract DefId""
Hey,
I got across this compiler error that asked me to post this bug - please let me know what other information you may need

[code]

[2022-09-01 19:04] Jarcho commented on #9411
This will need at least a backtrace.

[2022-09-01 21:42] conradoplg opened #9413 "`derive_partial_eq_without_eq` false positive in struct using traits"
### Summary

This is a somewhat convoluted scenario for which I can't provide a concise textual explanation and I couldn't make the reproducer any simpler. But it wrongly emits `derive_partial_eq_without_eq` when it clearly already has `Eq`.

### Lint Name

derive_partial_eq_without_eq

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No warni

[2022-09-01 21:53] #8131 closed

[2022-09-02 01:27] yonip23 opened #9414 "internal compiler error: unexpected panic"
Hey all, I get this message when running clippy nightly on my project:
[code]

### Info
1. clippy version (shown in the log): 0.1.65 (2e35f95 2022-09-01)
2. rustc version: rustc 1.65.0-nightly (2e35f954a 2022-09-01)
3. cargo version: cargo 1.65.0-nightly (4ed54cecc 2022-08-27)
4. The command I'm using to run clippy:
[code]
5. About my crate:
    1. It has 0 external dependencies, and is really sma

[2022-09-02 03:40] teor2345 opened #9415 "False positive mut_mutex_lock on &mut Arc<Mutex<_>>"
### Summary

Clippy lints a mut_mutex_lock lint on `&mut Arc<Mutex<_>>`, which is obviously incorrect.

Applying the suggestion causes the error:

### Lint Name

mut_mutex_lock

### Reproducer

I tried this code:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bc5728f0494a32c7483c0d2f6fc9dc00

I saw this happen:

[code]

I expected to see this happen:

No warnings

[2022-09-02 05:06] Jarcho commented on #9414
I can't make a repro off just that. Can you share the code? It's failing on a `Result` type for some function.

[2022-09-02 05:33] jakob-lilliemarck commented on #9411
Good morning, yes, sorry about that - this is my first time reporting a bug like this. I didn't notice the text in the message at first. Below is the output with backtrace.

If it's of any help - this issue happens after reverting a diesel migration, removing a column of a table from the migration file, and then running the migration again. If i put the column back in the migration, it ends up in

[2022-09-02 07:13] Jarcho commented on #9411
It's possibly an incremental compilation bug. You can see if it works after running `cargo clean`.

[2022-09-02 08:50] yonip23 commented on #9414
The `Result` hint allowed me to trim down chunks of my code and being able to reproduce with this minimal example:
[code]

[2022-09-02 10:11] 64kramsystem opened #9416 "Fix for `needless_return` replaces no-value returns with blank lines"
### Description

When fixing `needless_return`, if the `return` statement has no value, clippy will fix it by replacing it with a blank line. Specifically, the blank line is a series of spaces whose ending matches the start of <where a value would be if the return had a value>.
I guess clippy is not considering such case, so it prepares the leading space for the value, but then it doesn't add anyt

[2022-09-02 14:03] yonip23 commented on #9414
My clippy version is 09-01 🤔

[2022-09-02 17:46] Jarcho commented on #9414
I guess the playground hadn't updated by the time I checked.

[2022-09-02 18:18] #9414 closed

[2022-09-02 19:07] #9415 closed

[2022-09-02 19:08] yonip23 commented on #9414
Thank you so much for the quick response and fix!👏

[2022-09-02 20:39] #8291 closed

[2022-09-02 22:24] Jarcho commented on #9414
The change will be in nightly about a week from now.

[2022-09-02 23:51] thomcc opened #9419 "Lint for `cfg` usage which would provide a misleading result in a build script."
### What it does

Lints for uses of `cfg!`, `#[cfg]`, `#[cfg_attr]` with keys which will have misleading[^1] values when used inside build scripts (e.g. `build.rs` files), such as `windows`, `unix`, and the ones that begin with `target_*`.

This is a restriction lint, as I'm assuming Clippy has no way of figuring out if we're in a build script on it's own (it seems completely impossible). The idea

[2022-09-03 00:01] thomcc commented on #9419
I'm not sure if this is too niche, and will understand if it is. I've wanted it for a long time, though.

[2022-09-03 01:17] smoelius commented on #9419
I think this is still true(?): https://github.com/rust-lang/rust-clippy/issues/2802

[2022-09-03 06:44] jakob-lilliemarck commented on #9411
That seems correct, after running `cargo clean` it magically compiles again. Before we close this I'd like to ask what parts of the log made you realize it's an "incremental compilation bug"? Would be great to know what to look for
Many thanks!

[2022-09-03 08:24] xphoniex opened #9420 "Suggest `unwrap_or_default` when returning empty `String` in closure"
### Description

Clippy accepts this atm:
[code]

It should suggest `unwrap_or_default` for this case, which is more concise:
[code]

### Version

_No response_

### Additional Labels

@rustbot claim

[2022-09-03 09:05] barryfam opened #9422 "`unnecessary_lazy_evaluations` suggestion causes panic on `bool::then`"
### Summary

Clippy does not consider the possibility of arithmetic underflow in the non-lazy suggestion

### Lint Name

unnecessary_lazy_evaluations

### Reproducer

[code]

clippy output:
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-09-03 23:13] softmoth commented on #8829
Here's a similar example, also involving `strip_prefix`:

[code]

[code]

[2022-09-04 14:45] balanceglove2 commented on #2457
I also have a case where clippy marks:
[code]
But if I replace this with the following, as Clippy suggests:
[code]
It actually changes the logic.

So yeah. I think something's wrong here.

[2022-09-04 14:47] balanceglove2 commented on #2457
I also have a case where clippy marks:
[code]
But if I replace this with the following, as Clippy suggests:
[code]
It actually changes the logic.

So yeah. I think something's wrong here.

[2022-09-04 15:21] nahuakang commented on #9311
@flip1995 @xFrednet I edited/wrote a `define_lints.md` chapter here: https://github.com/nahuakang/rust-clippy/blob/book-latelint-updates/book/src/development/define_lints.md. Would like to know if you think the tone and the writing style is within your expectation/vision? Please give some feedback so I can continue the updates with a consistent style 🙏 😄 Cheers!

[2022-09-04 15:28] #9351 closed

[2022-09-04 15:33] xFrednet commented on #9311
Hey @nahuakang awesome, looking forward to reading it! Do you maybe want to create a draft PR, so we can point out specific things, or do you just want feedback on the general style? :upside_down_face:

[2022-09-04 16:43] nahuakang commented on #9311
Just did :) It's just a short chapter because I want to know if the writing is in line with your preference before I write more 👍

[2022-09-04 20:00] kraktus commented on #7362
This is basically the same issue as https://github.com/rust-lang/rust-clippy/issues/675, and that is why ellipsis are used in the first place

[2022-09-05 05:06] #3812 closed

[2022-09-05 06:56] poliorcetics commented on #9414
Thanks for the very fast fix, we hit that too in our CI !

[2022-09-05 07:47] butabara commented on #9286
@application-developer-DA  the problem seems to be with using `cargo` that was installed by brew. Make sure you are running `cargo clippy` using the cargo located at `~.cargo/bin/cargo`.

[2022-09-05 08:39] dswij commented on #9416
I believe this is because when we make the suggestion, we use only the span for `return`. So the spaces before it is a different span, and still persists after removing it.

Not sure if this would be a trivial fix.

[2022-09-05 09:14] sdroege opened #9427 "`unnecessary_lazy_evaluations`: Shouldn't warn about values with significant `Drop` impl"
### Summary

The case in question that was wrongly reported is the following

[code]

`Self` here has a significant `Drop` impl, specifically it will close the `isize` there (it's basically like a `fd` and closing `-1` is UB).

### Lint Name

unnecessary_lazy_evaluations

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: nothing because the sugg

[2022-09-05 09:15] dswij opened #9428 "`nonminimal_bool` suggestion is inaccurate for macros"
### Summary

Suggestion produced by `nonminimal_bool` is broken when it handles macros. It replaces the macro callsite with macro definition instead.

### Reproducer

I tried this code:

[code]

I expected to see this happen:
Suggestion does not expand macros

Instead, this happened:
It replace macros with its definition.

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-09-05 09:15] dswij commented on #9428
This won't be fixed by #9410, since the lint is not using `Sugg` helper when creating the suggestion.

[2022-09-05 12:09] kraktus commented on #8931
Something like that
[code]

[2022-09-05 18:14] llogiq commented on #9416
I think it's not exactly trivial, but the two steps are

1. Detect if we return unit (get the type, check if unit)
2. Get the Span `.lo`, go backwards while encountering whitespace, extend the lint `Span` to the new `.lo`

[2022-09-05 19:36] kraktus commented on #8822
@rustbot claim

[2022-09-05 20:01] kraktus opened #9430 "Useless match"
### What it does

I have seen many times useless matches on option/result, most of the time resulting from refactoring:

[code]

Or the with an `Option`
[code]

This could even be generalised to all enums:

[code]

[Real example (more involved, not sure if it can be caught)](https://github.com/hubblo-org/scaphandre/blob/50fea42ebd1f8bda9d98e8d27b348c626ed3055d/src/exporters/utils.rs#L86)
[code]

#

[2022-09-05 20:23] #9430 closed

[2022-09-05 21:06] kraktus commented on #8822
Another example while I can think about it

[code]

[2022-09-06 03:43] mikerite opened #9431 "`range_plus_one` doesn't handle macros correctly"
### Summary

When a macro contains this item, Clippy suggests removing the macro call with the correction.

### Reproducer

I tried this code:

[code]

I expected to see this happen:
A warning on the code inside the macro.

Instead, this happened:
[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9a31cfc1c95cfcf916e59baa11da572c)

### Version

[code]

###

[2022-09-06 13:36] Legorooj opened #9432 "Clippy crashes on ariadne"
This error is reproducible for me by cloning https://github.com/zesterer/ariadne/commit/12759f0b5caa3963de73b899a6bbd9010d0a76f1 and running `cargo clippy` in the project root.

I'm running nightly `1.65.0-nightly (b44197abb 2022-09-05)` on `x86_64-pc-windows-msvc`. This appears to be a regression - neither the current stable (`rustc 1.63.0 (4b91a6ea7 2022-08-08)`) or the current beta (`rustc 1.64

[2022-09-06 13:38] Legorooj commented on #9432
@rustbot label +C-bug

[2022-09-06 15:12] Jarcho commented on #9432
Looks like the same as #9414

[2022-09-06 15:20] Jarcho commented on #9411
A few things:
* The crash is during the analysis phase, which is before clippy runs.
* `local_def_id_to_hir_id` shouldn't fail. `LocalDefId`s are created from `HirId`s, or loaded from cache.
* incremental compilation bugs are a frequent source of crashes

[2022-09-06 23:57] #9420 closed

[2022-09-07 06:05] matthiaskrgr opened #9433 "clippy hangs"
### Summary

clippy seems to hang with this code:
[code]

### Version

[code]

### Error output

_No response_

[2022-09-07 06:05] matthiaskrgr commented on #9433
[code]

[2022-09-07 08:53] lana99 commented on #9339
@rustbot claim

[2022-09-07 10:24] xphoniex opened #9435 "Using `unwrap_or_default()` in place of `unwrap_or(<default>)`"
### Description

Currently this is used:

[code]

This is ok for non-default values, but I propose we suggest `unwrap_or_default` instead for default values of [primitive types](https://doc.rust-lang.org/rust-by-example/primitives.html), which all happen to be 0, and `false` for bools.

So instead we'd write:

[code]

Our syntax is longer, but it'd hard to come up with a case where default value h

[2022-09-07 10:34] xphoniex opened #9437 ""should lint" comments should always be on the same line as test"
### Description

There are a lot of "should lint" / "should not lint" comments inside the tests but their placement is not uniform.

Some are like this:

[code]

and others:

[code]

Since adding new rules/lints will potentially change behavior in future, I suggest we stick to second format, thus when a change is introduced, we can see it in the same line, e.g. using `git diff`, without having to

[2022-09-07 12:48] gilescope opened #9438 "suspicious lint: functions ending in _unchecked that are not marked as unsafe"
### What it does

check function names that end _unchecked and then squark if they are not marked as unsafe.

Maybe I'm totally out of line here but I think if you're saying 'trust me' it should be marked unsafe so you can say why it's safe to use the unchecked version.

### Lint Name

safe_unchecked

### Category

correctness, suspicious

### Advantage

The suggestion would be to add unsafe to th

[2022-09-07 14:53] laralove143 commented on #8931
Oh I didn't know you could do that, we could just limit this lint for items in a module containing `test` in its name

[2022-09-07 15:08] kraktus commented on #9438
If a function breaks the business logic but does not joepardize the memory safety, should it still be marked as unsafe? Many _unchecked functions are in that case.

[2022-09-07 17:33] matthiaskrgr commented on #9433
reduced a bit:
[code]
when I inline the `vec.push()` via `let data = vec![..]`, the hang goes away :thinking:

[2022-09-07 18:19] griffi-gh opened #9439 "`unnecessary_lazy_evaluations` gets triggered by a derive macro"
### Summary

`unnecessary_lazy_evaluations` gets triggered by a `FromForm` macro (`rocket` `0.5-rc.2`)

### Lint Name

`unnecessary_lazy_evaluations`

### Reproducer

[code]
...Or any other struct with `#[derive(FromForm)]`

![VSCodium_Lxazpouwme](https://user-images.githubusercontent.com/45996170/188950081-4f9e4f26-69ba-4cdd-a06c-9c2fc9465a9d.png)

### Version

[code]

### Additional Labels

_No

[2022-09-07 19:10] laralove143 opened #9440 "use_self False positive on enums that derive Serialize"
### Summary

When an enum has `#[derive(Serialize)]`, it triggers the `use_self` lint

### Lint Name

use_self

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
No warnings

### Version

[code]

### Additional Labels

_No response_

[2022-09-07 19:53] #9433 closed

[2022-09-07 20:07] #9307 closed

[2022-09-08 02:42] mimoo opened #9442 "unnecessary iter()"
### What it does

I have a lot of these in the current codebase I'm working in:

[code]

and pretty much all of them could be replaced with:

[code]

the same might be true for `into_iter()`

### Lint Name

unnecessary_iter

### Category

style

### Advantage

- I think this works because the types in what I'm seeing mostly implement `IntoIter`? So if they don't implement it perhaps it wouldn't wo

[2022-09-08 06:57] giraffate commented on #9442
Does it mean the [`explicit_iter_loop`](https://rust-lang.github.io/rust-clippy/master/index.html#explicit_iter_loop) lint?

[2022-09-08 17:57] bradjc opened #9445 "ICE: thread 'rustc' panicked at 'normalization works on validated constants...'"
I tried updating [Tock](github.com/tock/tock) to today's nightly and got the following clippy internal error:

[code]

The full CI output is here: https://github.com/tock/tock/runs/8251506744?check_suite_focus=true

The pull request to update the nightly is here: https://github.com/tock/tock/pull/3168

The crate it appears to be failing on is here: https://github.com/tock/tock/tree/master/boards/n

[2022-09-08 20:17] Jarcho commented on #9445
Could be an incremental compilation issue. Try running `cargo clean` first.

[2022-09-08 20:26] mimoo commented on #9442
ah yes it does seem like it!

[2022-09-08 20:26] #9442 closed

[2022-09-08 20:59] hudson-ayers commented on #9445
The problem occurs even after running `cargo clean`, and even if clippy is run to build only a single binary (as opposed to this example, where it is being run on the full workspace)

[2022-09-08 21:10] matthiaskrgr commented on #9445
Hmm, cc https://github.com/rust-lang/rust/issues/101113

[2022-09-08 22:13] rsalmei commented on #9063
I was just caught by this.
I don't derive _any_ traits I don't strictly need, so I can keep track of the changes that force each derive, and also to always have the fastest possible compiling experience, even the slightest increase adds up.

[2022-09-09 00:01] #9431 closed

[2022-09-09 09:57] yshui commented on #9111
Has this been released? I am still seeing this with rustup 2022-09-08 toolchain.

[2022-09-09 14:36] peku33 opened #9449 "Should ever const arrays be concidered okay?"
### Summary

In one of my recent projects I was in dilemma about declaring constant lookup table (for CRC) as const or static. The table has `256` elements of `u8`/`u16`/`u32` depending on checksum size. The app was meant to run on embedded micro-controller (`thumbv6m-none-eabi`) platform with constrained resources (eg. 4KB of RAM memory).

The code usually looks as follows:
`static/const LUT: [u1

[2022-09-09 19:09] llogiq commented on #9438
This could still be a pedantic lint, I feel it fits perfectly in that category.

[2022-09-09 20:20] glittershark opened #9450 "Fix for `assertions_on_result_states` incorrectly changes return type"
### Summary

`assert!(res.is_err())` always returns `()`, but `res.unwrap_err()` returns the err type itself - this can cause auto-fixed code to fail to compile if there's a missing semicolon at the end of a test, for example.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:
[code]

causing a type error

### Version

[code]

### Additiona

[2022-09-09 20:20] glittershark commented on #9450
@rustbot label +I-suggestion-causes-error

[2022-09-10 08:50] kraktus commented on #9440
duplicate of https://github.com/rust-lang/rust-clippy/issues/6902

[2022-09-10 12:08] kangalio opened #9455 "`.clone().takes_self_ref()` isn't caught by clippy::redundant_clone"
### Summary

Code of the form `.clone().method()`, where `method` takes `&self`, has a redundant clone. Clippy should catch this

### Lint Name

redundant_clone

### Reproducer

I tried this code:

[code]

I expected to see this happen: a warning that the `.clone()` call is redundant

Instead, this happened: no such warning

### Version

[code]

[2022-09-10 13:31] trinity-1686a opened #9456 "unused-peekable can trigger when peek() is used"
### Summary

In some cases `unused-peekable` triggers when having a `Peekable<_>` is required to satisfy the interface of some other function

### Lint Name

unused-peekable

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No error: having a `Peekable` is required to satisfy `PauseAt::from_peekable` interface (and `peek()` is called, indirect

[2022-09-10 13:33] #9450 closed

[2022-09-10 19:25] #9428 closed

[2022-09-10 19:36] nahuakang commented on #9311
@flip1995 @xFrednet 👋 Hope weekend is going well! I just pushed the [`late vs early lint pass`](https://github.com/rust-lang/rust-clippy/pull/9426/commits/336baf28be08eac1404c291f95b4fcd95da1e65c) chapter and I think it could use some feedback early on because my knowledge is limited and maybe you can come up with feedback/examples to make it great :) Thanks!

[2022-09-10 19:39] matthiaskrgr opened #9459 "ICE: type parameter `Args/#1` (Args/1) out of range when substituting, substs=[dyn std::ops::FnOnce()]"
### Summary

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-09-10 21:57] tokatoka opened #9460 "Clippy wrongly reports clippy::large_stack_arrays on static struct"
### Summary

Hello, I have a problem with clippy::large_stack_arrays lint.

Clippy reports clippy::large_stack_arrays on a `public static mut` struct defined like

[code]
and here's the short output from clippy
[code]
clippy suggests to put this on heap, but it is not possible because it's a static struct.

Thank you!

### Lint Name

clippy::large_stack_arrays

### Reproducer

1. Clone this reposi

[2022-09-11 00:52] nikomatsakis opened #9462 "clippy::unused_peekable triggers when `peek` is called in a closure"
### Description

Example code that triggers `clippy::unused_peekable` (but ought not to):

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cbae95874ef8c841d6cfc65f117680be)

### Version

_No response_

### Additional Labels

_No response_

[2022-09-11 05:32] matthiaskrgr opened #9463 "ICE: invalid shift: TryFromIntError(())', src/tools/clippy/clippy_utils/src/consts.rs:504:70"
### Summary

[code]

### Version

No crash:
[code]
Crash:
[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-09-11 09:17] AlecGhost commented on #9286
I was able to fix the problem by removing all cargo packages installed via `brew` and running `brew autoremove` afterwards. That uninstalled `/opt/homebrew/Cellar/rust/1.63.0...`, which seemed to be the root of the problem.

[2022-09-11 09:43] oren0e commented on #8895
@dswij do you know when this is going to get to stable?

[2022-09-11 10:28] king-11 commented on #7763
@camsteffen sorry for the long delay I was working on the code and now am writing some tests but am facing issue can you give me some sort of test case example that I can test with

[2022-09-11 11:21] taquangtrung commented on #9179
I also encountered the same error when clippy reported errors on the auto-generated code by the [Pest parser generator](https://github.com/pest-parser/pest).

Here is my code:
[code]

and the lining rules:
[code]

And below is the error reported by Clippy.  How is it possible to disable Clippy from checking linting rules for the code generated by `#[derive(Parser)]`?

[code]

[2022-09-11 15:22] #9375 closed

[2022-09-11 16:35] xfix commented on #1822
I think I would rather go the other way around, warning about `last` when iterator implements `DoubleEndedIterator`. The problem with `last` is that it doesn't require `DoubleEndedIterator` to be implemented which means that in general case it's going to be slow, and while this can be dealt with manual implementation of that trait, most iterators in standard library don't bother to do so.

[2022-09-12 02:29] nyurik opened #9468 "[regression] Some format expressions no longer parsed by FormatArgsExpn::parse"
### Summary

After #9458, some complex format expressions no longer return a value from `FormatArgsExpn::parse(...)`.

### Reproducer

To test, add this to [tests/ui/explicit_write.rs](https://github.com/rust-lang/rust-clippy/blob/master/tests/ui/explicit_write.rs) (e.g. around line 39).

[code]

I expected it to produce a suggestion `eprintln!("{:w$}", val, w = width);`, but instead it now silent

[2022-09-12 12:36] Sciencentistguy opened #9470 "map_entry false positives with lifetimes"
### Summary

This code:
[code]

triggers the following response from clippy:
[code]

The suggestion does not compile:
[code]

This is because `self.stack_top()` borrows `self`, which also contains the map.

### Lint Name

map_entry

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
No suggestion, this is the only way to do this.

### Version

[c

[2022-09-12 13:59] giraffate commented on #9468
Nice catch, thanks!

[2022-09-12 14:15] #9468 closed

[2022-09-12 16:48] #9460 closed

[2022-09-12 17:08] #9463 closed

[2022-09-12 17:09] dswij commented on #8895
@oren0e the fix is in beta. So, we should be getting this in the next stable release

[2022-09-12 17:53] application-developer-DA commented on #9286
Indeed, I've followed the suggestions that you guys mentioned and it works fine again. Basically I had to remove `rustup` (that I was installed with `brew` back then) and re-install it again with the "official" method (i.e. with `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`), after which the problem looks to be solved.

Not sure if I understand the root cause of it though 🙂

[2022-09-12 19:13] hudson-ayers commented on #9445
I created an MCVE for this bug: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c5643cbd7ce11d350c914088429b6e2e . It builds fine, but running clippy leads to this ICE.

[2022-09-13 02:05] WiSaGaN commented on #9029
This also potentially warns on type in binary crates, where the type will not be used elsewhere. https://github.com/rust-lang/rust/issues/74970 may help with the fix, but I think the number of false positives now is worth a quicker fix.

[2022-09-13 10:04] jplatte commented on #7547
I think this can be closed as fixed by #7431 given it can't be reproduced and the issue creator doesn't reply.

[2022-09-13 13:01] #8910 closed

[2022-09-13 13:01] #9440 closed

[2022-09-13 13:01] #6902 closed

[2022-09-13 13:13] orenbenkiki opened #9472 "Nested track_caller"
### What it does

Given a top-level function annotated by `track_caller`, which invokes intermediate function(s) without `track_caller`, which invoke low-level function(s) with `track_caller`, then warn that the intermediate functions should probably have `track_caller` annotation as well.

### Lint Name

intermediate_track_caller

### Category

suspicious

### Advantage

The above scenario is lik

[2022-09-13 18:19] kpreid opened #9473 "`doc_markdown` should accept `<code>` as equivalent to backticks"
### Summary

If one wishes to include links to a type with parameters, or within a code snippet, then to ensure that the code fragment is spanned by one entire `<code>` element (which is important particularly when stylesheets add whitespace or borders around `<code>` elements), one must deviate from the typical Markdown pattern of <code>\[\`SomeIdentifier\`\]</code> and use explicit HTML (that Ma

[2022-09-13 23:50] #7547 closed

[2022-09-14 06:00] Xaeroxe commented on #8131
I'm enhancing this lint in #9476 such that it will also catch code like

[code]

[2022-09-14 07:26] Xaeroxe opened #9477 "Suggest usage of `Ord::clamp`, `f32::clamp`, and `f64::clamp` to simplify code"
### What it does

Identifies good opportunities for a `clamp` function from `std` or `core`, and suggests using it.

`clamp` functions

[`f32::clamp`](https://doc.rust-lang.org/std/primitive.f32.html#method.clamp)
[`f64::clamp`](https://doc.rust-lang.org/std/primitive.f64.html#method.clamp)
[`Ord::clamp`](https://doc.rust-lang.org/std/cmp/trait.Ord.html#method.clamp)

### Lint Name

clamping_witho

[2022-09-14 10:34] BusyJay commented on #8987
How about only making this lint work on `if let/else`? In most cases, it's easy to understand the lock will exist during the loop or in `match` block. But it's quite a common mistake that assuming lock only exists in `if matching`.
[code]

[2022-09-14 15:15] #9456 closed

[2022-09-14 15:15] #9462 closed

[2022-09-14 16:10] #5721 closed

[2022-09-14 16:10] #7195 closed

[2022-09-14 16:10] #8615 closed

[2022-09-14 17:00] trinity-1686a opened #9480 "struct with accessor to a Peekable field can cause unused_peekable to trigger"
### Summary

I'm not sure whether this count as FP, so I'm reporting just in case. If it doesn't, feel free to close the issue

A struct containing a `Peekable`, and giving an accessor to it  causes `unused_peekable` to be raised if the consumer of the accessor only use it as an iterator, without peeking.
I think this lint should only trigger following a call to `.peekable()`

### Lint Name

unuse

[2022-09-14 22:57] Xaeroxe commented on #9477
Another clamp anti-pattern

[code]

Should be

[code]

[2022-09-15 00:00] giraffate commented on #7763
What issue are you having trouble with? Feel free to ask it here or on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy).

[2022-09-15 13:42] ia0 opened #9482 "drop_copy should not trigger when drop is used in a match branch"
### Summary

The lint description says:

This is wrong, drop can be used to forget that a function returns a non-unit type when the result value is sometimes useless.

### Lint Name

drop_copy

### Reproducer

I tried [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=06a56b6a3ad4b2bb610a3e8b557f6885):

[code]

I saw this happen:

[code]

I expected to see this hap

[2022-09-15 20:41] king-11 commented on #7763
I am not able to figure out how can I make a proper suggestion for this lint rule going from `|n| n * 2` to just `* 2`

[2022-09-16 00:01] giraffate commented on #9179
This was fixed by https://github.com/rust-lang/rust-clippy/pull/9467, so I'm closing this.

[2022-09-16 00:01] #9179 closed

[2022-09-16 08:59] #9376 closed

[2022-09-16 09:14] xerenahmed opened #9485 "unnecessary closure used with `bool::then` in field definition"
### Summary

....

### Lint Name

unnecessary_lazy_evaluations

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: nothing

### Version

[code]

### Additional Labels

_No response_

[2022-09-16 12:23] xerenahmed commented on #9482
No, if value is Copy then not.

[2022-09-16 14:27] kraktus commented on #9482
I don't think this use of `drop` is idiomatic, do you have any reference or example in "canonical" code? You would do ` => {foo();}` or `let _ = foo();` which the common way to discard unused return values

[2022-09-16 15:25] ia0 commented on #9482
That's a fair point. See below for a solution if we go in that direction.

- [wasmtime](https://github.com/bytecodealliance/wasmtime/blob/27435ae398bcce74bf990b9683e5c47c3f6c5d51/crates/fuzzing/src/oracles.rs#L58)
- [rust-analyzer](https://github.com/rust-lang/rust-analyzer/blob/b6e3f41c2a8dc2559e3cd22fddadc505556aa1fa/crates/hir-def/src/nameres/tests/incremental.rs#L217-L226) (the types are not c

[2022-09-16 15:53] ia0 commented on #9482
Sounds good to me. I also think that silencing the lint at top-level of match branches (i.e. `<pat> => drop(<expr>),` pattern) should be enough indeed.

[2022-09-17 06:53] kraktus commented on #9396
Hey, thanks for reporting!

`explicit_counter_loop` applicability has been switched to `MaybeIncorrect` since, meaning the suggestion need to be manually applied by the programmer. Considering the suggestion is correct I'd say this issue is fixed 👍

[2022-09-17 08:18] kraktus commented on #9272
The fix is not easy. In this case the suggestion should be to remove the `.clone()` call, but had `Lazy`  implemented the `Display` trait this would have changed the code behaviour!

[2022-09-17 10:38] Alexendoo commented on #9272
A solution might be to ignore any cases where the [`Adjustment`s](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/context/struct.TypeckResults.html#method.expr_adjustments) of the receiver contains a [`Deref`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/adjustment/enum.Adjust.html#variant.Deref)

[2022-09-17 11:00] xxchan opened #9489 "New lint: disallowed_module"
### What it does

similar to disallowed_methods & disallowed_type

### Lint Name

disallowed_module

### Category

style

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-09-17 12:08] kraktus commented on #9111
The issue is fixed on the 2022-09-16 toolchain (tested on playground)

[2022-09-17 12:11] poliorcetics commented on #9111
Do you know in which PR/commit ?

[2022-09-17 12:15] kraktus commented on #9111
I'd assume https://github.com/rust-lang/rust-clippy/pull/9096

[2022-09-17 12:20] kraktus commented on #9049
Strangely (to my eyes), this work too:
[code]
Which I'd have assumed is the same as an `Or` match

[2022-09-17 14:29] kraktus commented on #9413
This is the faulty line: https://github.com/rust-lang/rust-clippy/blob/e120fb10c60a27670c72e7ec99e93d16c045f493/clippy_lints/src/derive.rs#L472, so either https://github.com/rust-lang/rust-clippy/blob/e120fb10c60a27670c72e7ec99e93d16c045f493/clippy_lints/src/derive.rs#L493 gives wrong envs or some type parameters needs to be given in that case. Maybe @Jarcho you have an idea of what could be wrong

[2022-09-17 17:04] Xaeroxe commented on #6751
Implemented in https://github.com/rust-lang/rust-clippy/pull/9484

[2022-09-17 23:29] schteve opened #9514 "Unable to allow clippy::similar_names"
I am unable to disable (allow) the `clippy::similar_names` lint the way I expect. Usually I would place `#[allow(clippy::x)]` before the offending line, and the lint error would go away. In this case the allow seems to have no effect.

For example, this code shows the lint error being given despite being allowed on the `testb` line ([playground](https://play.rust-lang.org/?version=stable&mode=debu

[2022-09-18 00:23] HMPerson1 commented on #9261
@rustbot claim

[2022-09-18 09:50] chansuke commented on #9489
@rustbot claim

[2022-09-18 10:25] blyxyas commented on #9438
@rustbot claim

[2022-09-18 10:39] blyxyas commented on #9438
What would be the "Why is this bad" field?

[2022-09-18 12:21] blyxyas commented on #4205
Really impressed this isn't solved yet, I got a lucky one!
@rustbot claim

[2022-09-18 14:44] Rudxain opened #9492 "`missing_const_for_fn` not triggered on non-`const` fn with dependency on a `const fn`"
### Summary

My `xorsum` crate has a userland implementation of `div_ceil` and `next_multiple_of` (named `next_multiple` in my `module.rs`). Clippy correctly detected that `div_ceil` should be `const`, but it didn't show a warning for `next_multiple` (even after declaring `div_ceil` as `const`).

Maybe it's `match`'s fault?

### Lint Name

missing_const_for_fn

### Reproducer

I tried this code:

[2022-09-18 14:52] Rudxain opened #9493 "`format_push_string` doesn't trigger "indirectly""
### Summary

My `xorsum` crate has a fn to convert a byte-vector to its hex-encoded form, it repeatedly calls `format!` appending its result to a `String`, but Clippy didn't show a warning

### Lint Name

format_push_string

### Reproducer

I tried this code:

[code]

I expected to see this happen: Warning

Instead, this happened: Nothing

### Version

[code]

[2022-09-18 16:20] kraktus commented on #9192
This should be catch by `unused_braces` compiler lint in the first place

[2022-09-18 18:14] kraktus opened #9494 "`s` shortcut to focus on lint filter"
### Description

Similar to how `s` allow to focus the search bar on docs.rs, it would be nice if pressing `s` would focus the filter bar.

### Version

_No response_

### Additional Labels

@rustbot +label A-website

[2022-09-18 18:15] kraktus commented on #9494
@rustbot +label A-website

[2022-09-18 19:39] kraktus commented on #8336
@rustbot claim

[2022-09-18 20:09] kraktus commented on #9438
Something like that

[2022-09-18 22:19] kornelski commented on #6835
Idea for a simple function heuristic: suggest track_caller if `assert!` is the first statement in the function. These check function's arguments or other preconditions that are typically caller's responsibility.

[2022-09-19 07:17] llogiq commented on #6835
Also to implement @camsteffen 's suggestion, adding a plain `Index::index` call to a known-panicky type such as slice.

[2022-09-19 10:44] lukaslueg commented on #9492
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f62d12f1d2f9af249ad01657752117b7) lints on `next_multiple` with the example above.

It won't trigger on `next_multiple` unless `div_ceil` has already been made `const` first, as it does not take into account that `div_ceil` _could_ be `const` when analyzing `next_multiple`.

[2022-09-19 11:29] Rudxain commented on #9492
I know, I've read the docs (thanks for the info anyways). The actual problem is that it doesn't trigger (on `next_multiple`) **even after** declaring `div_ceil` as `const`

[2022-09-19 11:36] lukaslueg commented on #9492
Excuse me if I still misunderstand: Clippy's version on the playground (see link above) correctly triggers on `next_multiple`... ?!

[2022-09-19 12:05] Rudxain commented on #9492
Oh right, I'm sorry, I forgot to open Tools then Clippy. That's true, it does trigger in the playground, but not on my machine when I have [this file](https://github.com/Rudxain/xorsum/blob/main/src/module.rs) opened\*

\* The link isn't a permalink, it points to the most recent commit, which already has both fns declared as const. I can't remember which commit corresponds to the playground, but i

[2022-09-19 14:28] kraktus opened #9498 "`nonstandard_macro_braces` replacing braces in the macro argument"
### Summary

`nonstandard_macro_braces` also replace braces/brackets/parenthesis that are in the macro arguments. This issue is there from initial implementation https://github.com/rust-lang/rust-clippy/pull/7299, which even included a test with `format!` displaying the issue.

### Lint Name

nonstandard_macro_braces

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

Notice t

[2022-09-19 15:07] lukaslueg commented on #9492
Correct me if I'm wrong, but the lint seems to work as expected. Maybe you can provide another reproducible example?

[2022-09-19 20:29] kraktus commented on #9384
[rust playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cf88df1a2dd8db7206e5d7c78c9556f2) This is indeed fixed on the latest nightly clippy, can be closed 👍

[2022-09-20 00:19] #9384 closed

[2022-09-20 02:06] Rudxain commented on #9492
I'm going to attempt to recreate the bug in another repo branch. I'll share the link when it's ready.

BTW, I forgot to mention that I'm using `cargo clippy` via VScode, and I'm also using the `rust-analyzer` extension, so maybe one of them is causing some conflict? I also didn't run `cargo clean`, which means that the cache may prevent clippy from noticing changes (I guess? Please correct me if I

[2022-09-20 02:20] Rudxain commented on #9492
This is the branch: https://github.com/Rudxain/xorsum/tree/Clippy-MCFF-test

But the bug is fixed now, I guess I had to run `cargo clean`. I'm sorry for any inconvenience. I'll close the issue.

[2022-09-20 02:20] #9492 closed

[2022-09-20 02:47] Rudxain opened #9500 "Unknown lint `arithmetic_side_effects` (`rustc` warning)"
### Description

I'm not sure if I should report this issue here or at `/rust-lang/rust/`. I was reading the docs, and found `clippy::arithmetic_side_effects`, set it to level `warn`, and `rustc` says that it can't recognize it. Why does this happen?

### Version

[code]

### Additional Labels

_No response_

[2022-09-20 06:52] kraktus commented on #9500
`arithmetic_side_effects` was added in [rust 1.64](https://rust-lang.github.io/rust-clippy/master/index.html#redundant_clone), I assume this is the issue, but a reproducible example would be needed.

[2022-09-20 09:33] Rudxain commented on #9500
Oh right, I'm gonna close the issue then. Sorry for the inconvenience.

BTW, I ran `rustup update && rustup upgrade`, but it didn't update the version. Am I doing something wrong?

[2022-09-20 10:24] lukaslueg commented on #9492
No worries, feel free to reopen if this is reproducible

[2022-09-20 19:55] #9396 closed

[2022-09-20 22:31] Shadlock0133 opened #9503 "`cargo clippy --fix` with `unnecessary_return` inside unsafe block with semicolon after the block results in broken code"
### Summary

Additional problems were that, because of amount of generated warnings, message about broken code got scrolled outside console's buffer. Maybe there should be extra, short message about broken code at the end?
[code]
Also, actual error was without colors, and in the middle of all warnings, making it hard to notice. Maybe don't emit warnings in that case? (with flag to turn them back o

[2022-09-21 03:17] djkoloski opened #9504 "Generic parameter to async function causes ICE"
### Summary

Minimal repro:

[code]

Output:

[code]

`cargo +nightly build` succeeds with the same input, as does `cargo clippy` (on stable).

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-09-21 06:05] #9504 closed

[2022-09-21 08:20] kraktus commented on #9503
should be fixed by https://github.com/rust-lang/rust-clippy/pull/9497

[2022-09-21 17:58] morenol opened #9508 "note: the compiler unexpectedly panicked. this is a bug."
[code]

## Minimal reproduction:

Cargo.toml
[code]

src/lib.rs
[code]

[2022-09-21 20:25] lukaslueg commented on #9508
Full stack trace:

[code]

[2022-09-21 23:21] laralove143 opened #9512 "Use of a = b.clone() instead of a.clone_from(&b)"
### What it does

Catches the places where `clone_from` could be used instead

### Lint Name

clone_from_candidate

### Category

pedantic

### Advantage

From the [docs](https://doc.rust-lang.org/std/clone/trait.Clone.html#method.clone_from)
- `a.clone_from(&b)` is equivalent to `a = b.clone()` in functionality, but can be overridden to reuse the resources of a to avoid unnecessary allocations.

[2022-09-21 23:30] danielrab commented on #9512
the snippet of code provided doesn't exactly work, but using `b.clone_into(&mut a);` instead of `a.clone_from(b);` does.

[2022-09-22 10:15] Alexendoo commented on #9512
It would be good if the lint could check if the type has a provided `fn clone_from`, if it's using the default from `Clone` the suggestion wouldn't change anything

[2022-09-22 14:22] c410-f3r opened #9515 "`std_instead_of_core` always lint `std::error::Error`"
[code]

The same behaviour does not happen with other `std` structures.

[code]

[2022-09-22 14:29] morenol commented on #9508
It looks like it was solved in  stable release: 1.64.0

[2022-09-22 14:29] #9508 closed

[2022-09-22 14:39] #9498 closed

[2022-09-22 17:35] Aaron1011 opened #9517 "New lint: Performing arithmetic on numeric value of function pointer"
### What it does

This lints on any expression of the form `some_arithmetic_expr(function_pointer as NumericType, other_type)`.

For example (note the lack of parenthesis - all of the function used here are *function pointers*)

[code]

### Lint Name

function_pointer_arithmetic

### Category

correctness

### Advantage

Performing arithmetic on a function pointer value (cast as a numeric type) is

[2022-09-22 18:46] laralove143 commented on #9512
Fixed it

[2022-09-22 22:11] divagant-martian opened #9518 "question_mark suggestion changed code semantics"
### Summary

If let expression that produces a result is suggested to change to `?`, changing the semantics of the code

### Lint Name

question_mark

### Reproducer

**I tried [this](https://play.integer32.com/?version=stable&mode=debug&edition=2021&gist=9959851def574b60f276213e7dc01c6e) code:**

[code]

**I saw this happen:**

[code]

I **expected to see this happen:**
There should be no warning

[2022-09-22 23:14] Alexendoo commented on #9515
`std::error::Error` is a re-export of `core::error::Error` now so that'll be why it's linting, however you can't actually use `core::error::Error` without `#![feature(error_in_core)]` so we'd definitely want to handle that somehow

[2022-09-23 01:56] lopopolo opened #9520 "`len_without_is_empty` triggers when both `len` and `is_empty` have non-standard signatures"
### Summary

I have a proxy type (a symbol from a string interner) which has `len` and `is_empty` method which:

- are fallible
- take the interner as a method parameter

`len_without_is_empty` triggers with these methods, which is unexpected since neither method matches the method signature the lint looks for.

### Lint Name

len_without_is_empty

### Reproducer

I tried this code:

[code]

I saw

[2022-09-23 03:32] mkrasnitski opened #9521 "The `manual_find` lint provides a wrong suggestion if the try operator is used"
### Summary

Because the try operator cannot be used in closures, replacing a manual implementation of find with an actual function call results in changed semantics that are not simple to resolve.

### Lint Name

manual_find

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Either the help text should appear with no suggestion or a modified s

[2022-09-23 09:37] nikomatsakis commented on #8574
I ran into this same issue! It's not just `Vec::new`, I think the same would be true of `HashMap::new` and other standard library collections.

[2022-09-23 09:41] nikomatsakis opened #9522 "Lint cycle: `clippy::or_fun_call` doesn't like `.or_insert(vec![])`, but `clippy::redundant_closure` doesn't like `or_insert_with(|| vec![])`"
### Description

I was getting this warning

[code]

Per https://github.com/rust-lang/rust-clippy/issues/8574, it's a false warning, but I thought "meh, whatever, I'll do what it suggests." But then I get this...

[code]

This is annoying!

### Version

_No response_

### Additional Labels

_No response_

[2022-09-23 10:21] Rudxain commented on #9500
I've updated to `rustc` 1.64, yet I still get the warning, even after `cargo clean`

[2022-09-23 10:57] strohel opened #9524 "New lint: suggest transforming `[T, ...].into_iter().collect()` to `[T, ...].into()`"
### What it does

These collection types implement [`From<[T; N]>`](https://doc.rust-lang.org/std/convert/trait.From.html#impl-From%3C%5BT%3B%20N%5D%3E-for-HashSet%3CT%2C%20RandomState%3E): `HashSet`, `BTreeSet`, `BinaryHeap`, `LinkedList`, `VecDeque` (and `Vec`).
These collection types implement [`From<[(K, V); N]>`](https://doc.rust-lang.org/std/convert/trait.From.html#impl-From%3C%5B(K%2C%20V)%

[2022-09-23 11:29] c410-f3r commented on #9517
`arithmetic-side-effects` is intended to warn any kind of arithmetic operation that can cause any kind of possible side effect. As such, I will incorporate this use case in the upcoming days but anyone is free to extract the internal logic to create a standalone lint.

[2022-09-23 11:44] schteve commented on #9514
Addressed the confusion with https://github.com/rust-lang/rust/pull/102123

[2022-09-23 11:59] kraktus commented on #9500
What is your clippy version?

[2022-09-23 12:12] Alexendoo commented on #9514
I'd say we can still fix this to not fire a lint if there's an allow on the relevant binding

[2022-09-23 16:23] #9356 closed

[2022-09-23 17:41] kraktus commented on #9522
What about `.or_insert_with(Vec::new)`?

[2022-09-23 21:14] clarkmoody commented on #9422
I was hit by this bug as well.

[2022-09-24 02:19] shssoichiro opened #9526 "suboptimal_flops does not capture expressions using subtraction"
### Summary

If I have the following code:

[code]

And I have the `suboptimal_flops` lint enabled, I expect to receive a warning with a suggestion to use the following code instead:

[code]

Currently this code does not produce any warning.

### Lint Name

suboptimal_flops

### Reproducer

_No response_

### Version

[code]

[2022-09-24 03:32] Aaron1011 commented on #9517
I don't think this related to `arithmetic-side-effects`. Multiplying or adding to a function-pointer-derive number doesn't produce any side effects (beyond the overflow behavior that `arithmetic-side-effects`) already captures. The issue is that it's a completely meaningless operation, and can be written accidentally by leaving off the parenthesis in a function call.

[2022-09-24 10:33] tbu- commented on #9435
It only makes sense if it makes the intent clearer. I don't see that for most default values, `.unwrap_or(false)`, `.unwrap_or(0)`, `.unwrap_or(None)` all seem clearer (and shorter!) than `.unwrap_or_default()`.

[2022-09-24 11:00] c410-f3r commented on #9517
The "side effect" here would be a wrong or surprising arithmetic result that can produce wrong final outputs but regardless of the merit, I honestly don't want to ride the ol' debate train. As such, I withdraw my participation in the use case.

[2022-09-24 11:14] leonardo-m commented on #4205
In Haskell:

    Prelude> 2 ^^ 5
    32.0
    Prelude> 2 ^ 5
    32

In Python ** is used. D language uses ^^.

[2022-09-24 11:39] matthiaskrgr commented on #6663
Weird, this only happens when clippy is trying to do codegen (??) but I wasn't able to reproduce with rustc alone :|

[2022-09-24 13:28] kraktus commented on #9489
To anyone looking at implementing this lint, maybe better to wait or base it on https://github.com/rust-lang/rust-clippy/pull/9495, which factors out other `disallowed_type` and `disallowed_macro` lints

[2022-09-24 14:18] kraktus commented on #9517
Seem it’s already implemented with clippy::fn_to_numeric_cast_any

[2022-09-24 14:25] kraktus commented on #5921
I think this can be closed as implemented by https://github.com/rust-lang/rust-clippy/pull/7705

[2022-09-24 15:43] kraktus commented on #8609
Running the snippet on [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=64007b53de295d03806c57464e170c2d), the compiler fires a warning. Note that this is `rustc` warning, not a clippy one.

[2022-09-24 15:46] kraktus commented on #8550
@rustbot claim

[2022-09-24 20:22] Rudxain commented on #9500
Output of `cargo clippy -V`
[code]

[2022-09-24 20:39] jplatte opened #9529 "`derive_partial_eq_without_eq` triggers inside binary crates"
### Summary

I don't think it should.

### Lint Name

derive_partial_eq_without_eq

### Reproducer

I tried this code:

[code]

in a binary crate: I saw the `derive_partial_eq_without_eq` being triggered. I expected to not have it trigger.

### Version

[code]

### Additional Labels

_No response_

[2022-09-24 20:40] jplatte opened #9530 "Please move `derive_partial_eq_without_eq` to nursery"
### Description

There's still a large number of false positives with `derive_partial_eq_without_eq`, can you please move it to nursery?

[2022-09-24 23:51] lopopolo opened #9532 "new lint: unnecessary `ref` in match pattern"
### What it does

Detects unnecessary usage of `ref` in match patterns, for example, making the changes in this diff:

[code]

https://github.com/artichoke/artichoke/pull/2192

### Lint Name

unnecessary_ref_pattern

### Category

style, complexity

### Advantage

- Removes unnecessary syntax.
- Removes autoref / autoderef behavior.
- Ensures consistency of patterns in a match expression.

### Dra

[2022-09-25 05:26] Wilfred opened #9534 "Clippy errors in build.rs suppress errors in the crate itself"
### Summary

When there are clippy errors in build.rs, `cargo clippy` no longer reports any errors in the rest of the crate.

This is confusing when using `rust-analyzer` with clippy as the check command. If there are any clippy errors in build.rs, you lose all red underlines in the other files you're editing.

### Reproducer

I had a main.rs with a type error

[code]

and a build.rs with a clippy

[2022-09-25 06:04] traviscross commented on #7397
The problem here is that this is a *correctness* lint.  If we wanted to express that this pattern is simply *ugly*, then that would need to be a *style* lint (farcically, `clippy-hates-break-with-label`).  Even after `label-break-value` is stabilized in Rust 1.65, this correctness lint will remain *incorrect*.

People who write `#![allow(clippy::style)]` should be able to ignore Clippy's opinion a

[2022-09-25 08:20] #9459 closed

[2022-09-25 08:25] b-n commented on #9532
Very nice catch. I can't entirely remember why, but I assume it was due to trying to rethrow one of the error messages, and then I just didn't clean it up afterwards. This lint rule would definitely help catching this.

[2022-09-25 08:39] kraktus commented on #9532
Should be an extension of https://rust-lang.github.io/rust-clippy/master/#needless_borrow

[2022-09-25 09:57] xFrednet commented on #9530
@rustbot claim

[2022-09-25 09:59] xFrednet commented on #9529
I would actually expect it to trigger in binary crates as well. Adding a config value might be a good solution.

[2022-09-25 10:02] jplatte commented on #9529
Why is that?

[2022-09-25 10:08] xFrednet commented on #9529
Mainly because I see this as a best practice. Even if the bound is not required, adding it is simple. If it's later required, you don't have to change a different file.

[2022-09-25 10:10] alex-semenyuk commented on #9530
@xFrednet oops, sorry forget to send claims:(

[2022-09-25 10:13] xFrednet commented on #9530
No worries, now you're assigned to it :upside_down_face:

[2022-09-25 10:51] #9530 closed

[2022-09-25 15:28] ikopysov commented on #8961
@rustbot claim

[2022-09-25 17:14] matthiaskrgr opened #9537 "identity_op: span could point at the redundant expression instead of the rest of it?"
### Description

[code]

warning:
[code]

it's a bit weird that clippy says "this operation has no effect" and then underlines everything BUT the operation that has no effect... :sweat_smile:

would it make sense to underline the `* 1 ` instead?

Perhaps this newer fancier diff-like diagnostic format could be used here?

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-09-25 17:22] ikopysov commented on #8961
Sorry, came here because  #9321 tagged as "good-first-issue" but this markdown parser seems too complex for me to understand how it should be implemented.
Maybe it was tagged as such with first change in ming (ignoring everything in the ``` code block), but with parser I don't believe it's actually good issue to start with.

[2022-09-25 17:23] alex-semenyuk commented on #9537
Maybe, current suggestion is ok, if read it like
`(1 + 2) * 1` consider reducing it to: `(1 + 2)`

[2022-09-25 17:27] matthiaskrgr commented on #9537
If you have several redundant subexpressions, clippy will also output several different suggestions for the same code which is not really optimal :laughing:

[code]

[2022-09-25 17:43] matthiaskrgr commented on #7162
I was unable to reproduce this with an up-to-date clippy, also the upstream issue has been fixed :tada: , closing.

[2022-09-25 17:43] #7162 closed

[2022-09-25 18:30] #9321 closed

[2022-09-25 18:31] Alexendoo commented on #8961
That's fair, I'll close that one as a duplicate

[2022-09-25 21:13] andrewgazelka opened #9538 "result_large_err include largest enum variant"
### What it does

Right now `clippy::result_large_err` returns something along the following lines

[code]

However, it does not specify which variant of `Error` contributes to the large size. This can make finding the variant to include Box'd fields annoying.

### Advantage

- Improves code refactoring speed

### Drawbacks

- A larger error message

[2022-09-25 22:40] Alexendoo commented on #9534
That would be confusing indeed. As a workaround you could downgrade the errors to warnings just for the build script, `#![warn(clippy::correctness)]`

[2022-09-26 02:16] nyurik opened #9540 "Incorrect fix for to_string_in_format_args"
~I just discovered another bug in the format args parser `FormatArgsExpn::parse` while creating more tests for #9233.~

Add this test case to the [tests/ui/format_args.rs](https://github.com/rust-lang/rust-clippy/blob/master/tests/ui/format_args.rs) `main()` to see it fail:

[code]

~The resulting `format_args.args[0].param.value` has a span does NOT include the surrounding parenthesis, which mean

[2022-09-26 08:37] DesmondWillowbrook commented on #7397
Hmm, from what I understand it's labelled correctness as never looping in `for` loop (i.e. breaking out unconditionally) is far more likely to be an outright error (someone forgot to write the condition for breaking) instead of being a workaround for `label-break-value` not being stabilized yet,

Though now that it _is_ stabilized, it might be a good idea to add a properly worded suggestion for co

[2022-09-26 09:39] #8368 closed

[2022-09-26 21:38] luke-biel opened #9542 "Clippy wrongly suggests replacing `&mut String` with `&mut str`"
### Summary

In `egui` crate the `TextEdit` widget constructor signature is as follows:
[code]
`TextBuffer` is implemented as modifiable for `String` and as non-modifiable for `&'_ str`.

I want to have modifiable text buffer but in my project I have to use indirection to use `singleline` method. Clippy seems to trigger false positive for my use case, as changing `&mut String` to `&mut str` doesn'

[2022-09-27 01:26] #9175 closed

[2022-09-27 06:33] alexkazik commented on #9179
At lest clippy 0.1.65 (2022-09-26) does not fix my issue:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=779725236b9bfeccf85248c64f8acd49

[2022-09-27 07:10] ivan-aksamentov commented on #8094
@DevinR528 This rule emits false positives for files in `src/bin/`. If a bin crate "foo" has `src/bin/foo.rs` or `src/bin/bar.rs` it should not cause any warnings, because this is totally normal.

And no, `mod.rs` files are not "required" in any case. I would soften the language of the warning, it is currently too aggressive and opinionated.

[2022-09-27 07:41] Nemo157 commented on #8094
I thought the point of this lint is that by activating it _you_ require usage of `mod.rs` files. That at least is my intended usecase, I find `mod.rs` files much easier to work with and want to ensure that both contributors and myself do not accidentally try to use the "new" module style.

[2022-09-27 08:11] ivan-aksamentov commented on #8094
@Nemo157 Surely. I use `mod.rs` style everywhere too.

But if you get this warning, and it's not you who enabled it, the message does not make much sense. It has only 4 words and aggressively imposes something, without teaching why, and what to do with all that. This is the most frustrating type of lints and compiler errors. All combined with the fact that Rust module system is not a strike of a g

[2022-09-27 13:11] #9445 closed

[2022-09-27 13:31] Alexendoo opened #9544 "`arithmetic_side_effects` misses `T / integral`, `T * float` and similar"
### Summary

`has_valid_op` doesn't check that the other side of the operation is also integral. There's a similar issue for types present in `HARD_CODED_ALLOWED`

cc @c410-f3r

### Lint Name

arithmetic_side_effects

### Reproducer

The following panics at runtime but isn't linted [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=03993e2273a32c9b0e8f6e0e152ea5

[2022-09-27 14:38] #8156 closed

[2022-09-27 14:38] #7358 closed

[2022-09-27 14:38] #9192 closed

[2022-09-27 14:38] #9503 closed

[2022-09-27 16:25] llogiq commented on #8961
I've written some of the code in that module, I can take it.

@rustbot claim

[2022-09-27 19:27] KizzyCode commented on #9500
Can confirm – same versions as OP, also running VSCode with `rust-analyzer`. I'm on macOS if it makes any difference.

[2022-09-27 19:34] #9482 closed

[2022-09-27 20:05] nikomatsakis commented on #8987
I believe the key thing to look for is match guards that are *temporaries*. For example, it is surprising to many people that `some_ref_cell` remains "locked" in this example...

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=48b9c9d4fed456e277c7c8069e5545dc)

...I think this applies equally well to for loops as well...

[code]

Basically, I think when

[2022-09-27 20:23] kraktus commented on #6752
I guess this can be closed then? No longer a FP

[2022-09-27 20:26] #9515 closed

[2022-09-28 06:44] kraktus commented on #9521
@rustbot claim

[2022-09-28 08:36] kraktus commented on #9521
For some reasons `clippy_utils::can_move_expr_to_closure` is overly conservative and using It would create more false negative, such as

[code]

[2022-09-28 11:13] #8550 closed

[2022-09-28 15:11] #9383 closed

[2022-09-28 20:40] matthiaskrgr opened #9552 "lint redundant continue in loop"
### What it does

suggest replacing `if cond { continue } <code>`  inside a loop with just  `if !cond { <code> }`

### Lint Name

?

### Category

suspicious, complexity

### Advantage

simplify code

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-09-28 21:04] kraktus commented on #9517
Did you wanted to say related? I tried on the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=916a0e70ed4c570cba7dbdf8bebf6c54) and `fn_to_numeric_cast_any` is rightly triggered.

[2022-09-28 22:31] nyurik commented on #9552
I am not sure this is a good lint - in many cases I do this to reduce the level of nesting. Also, having early breaks/continues makes the code easier to follow.

[2022-09-29 09:08] akshay1992kalbhor commented on #9520
I want to take this up as my first issue. Can I?

[2022-09-29 09:10] akshay1992kalbhor commented on #9520
@rustbot claim

[2022-09-29 10:38] matthiaskrgr commented on #9552
Right the situation is different if you have a lot of code afterwards, but if the loop-body is very short, having the one statement inside the if or outside of it makes no difference in regards of the amount of nesting imo. ^^

[2022-09-29 11:13] RalfJung opened #9553 "Status of rustc_tools_util?"
vergen is causing some licensing pain in Miri, so I checked what clippy does to determine the git commit for version information. Looks like clippy has an in-tree crate `rustc_tools_util` for that. An old version of that crate exists on crates.io but clippy uses a path dependency of a more up-to-date version of that crate.

Would it make sense for clippy and Miri to share that crate? clippy should

[2022-09-29 11:18] c410-f3r commented on #9544
I will investigate these use-cases. Thanks @Alexendoo

[2022-09-29 11:40] kraktus commented on #9552
I feel this would be the kind of lint easily ignored by users since it's hard to nail down what's a "big" loop (even if we make the number of line a user setting)

[2022-09-29 13:20] AurelienFT opened #9554 "Match return option followed by return in case of None"
### What it does

This lint can flag `match` that return option and that are directly followed by a return in case of `None` with/without error mapping. They could be factorized to not return an option and return directly the error he is mapped to.

### Lint Name

match_return_too_complex

### Category

style, complexity

### Advantage

- Simplify the code by removing a combinator call

### Drawba

[2022-09-29 13:55] michalfita opened #9555 "`cargo-clippy` doesn't seem to support `--exclude` option like `check`"
### Summary

Calling command on repository with `[workspace]` in root's `Cargo.toml`:
[code]
ends up with following error message:
[code]
which contradicts what the command says.

I really need exclusion to work as I have one package where I cannot use `--all-features`.

### Reproducer

No Rust code specific to reproduce, just workspace is required.

### Version

[code]

### Additional Labels

_No

[2022-09-29 16:52] niluxv commented on #9517
Sorry, with "that" I meant the `lossy_provenance_casts` lint stuff, not the question of the OP. I completely agree with you that the [`clippy::fn_to_numeric_cast_any` lint](https://rust-lang.github.io/rust-clippy/master/#fn_to_numeric_cast_any) is what the OP asks for (so maybe the issue can be closed, unless the request is to make the lint warn by default?).

[2022-09-29 19:35] matthiaskrgr commented on #9553
I could do another clippy repo -> cratess.io sync (aka release) and we could switch clippy to also use the crates-io version while keeping the source in tree, I guess?

[2022-09-29 19:52] RalfJung commented on #9553
Yeah I think that would be good. :)

[2022-09-30 07:48] vnermolaev commented on #9079
Same here
[code]

[code]

[2022-09-30 08:10] #9439 closed

[2022-09-30 08:34] Aaron1011 commented on #9517
This is not the same thing as `[clippy::fn_to_numeric_cast_any](https://rust-lang.github.io/rust-clippy/master/#fn_to_numeric_cast_any)`. There are legitimate usecases for casting a function pointer to a numeric type (even if those eventually turn into explicit provenance-api calls in new editions). However, *multiply* or *dividing* by that value (or any pointer-derived numeric value) is pretty mu

[2022-09-30 14:06] xxchan opened #9558 "false negative for disallowed-methods"
### Summary

[code]
with `clippy.toml`
[code]
produces no warnings.

Since `futures::stream` is re-export of `futures_util::stream`, I also tried that but clippy didn't work neither.

### Lint Name

disallowed-methods

### Reproducer

_No response_

### Version

[code]

[2022-09-30 16:59] #9369 closed

[2022-09-30 20:04] jorendorff opened #9560 "Clippy can run the wrong rustc, leading to "incompatible version of rustc" errors"
### Summary

I had several versions of Rust installed (via rustup) and was surprised that Clippy would sometimes give errors like the one below.

The surprise came when I did `rustup toolchain remove 1.63.0` and *still* got the same error.

It turns out I had yet another copy of Rust 1.63.0 installed, via Homebrew, as `/usr/local/bin/rustc`.
I think I must have done `brew install rust-analyzer` at

[2022-10-01 01:23] frewsxcv opened #9562 "clippy::unnecessary_cast does not warn on basic usage"
### Summary

When casting the result of a function to the same type, `clippy::unnecessary_cast` doesn't warn

### Lint Name

clippy::unnecessary_cast

### Reproducer

I tried this code:

[code]

I expected to see this happen: Warning that the cast is unnecessary

Instead, this happened: No warning

### Version

_No response_

[2022-10-01 03:38] eblocha opened #9563 "Change in code behavior/values from linting (-8.0 as f64).exp() -> -8.0_f64.exp()"
### Summary

`(-<num> as f64).exp()` is linted to `-<num>_f64.exp()` instead of `(-<num>_f64).exp()`, which changes its value.

### Reproducer

I had some f64's set in some tests in the form:

[code]

When I run `cargo clippy --fix`, this gets changed to:

[code]

Which should be:

[code]

This also happens for `<num> as f32`.

### Version

[code]

### Additional Labels

_No response_

[2022-10-01 05:06] Mythra opened #9564 "missing_panics_doc firing for unreachable situation"
### Summary

Clippy seems to be firing `missing_panics_doc` for situations that could never occur. I'm aware clippy seems to in general prefer things like: `if let Some(xxx) = value`, or `match value {`, but in some cases it is just clearer to have an early return/continue/etc. Unfortunately, the missing panics doc lint still fires.

I'm aware this is a lint at the pedantic level, but this is a ge

[2022-10-01 08:46] guerinoni opened #9565 "Wrong lint warn "used only in recursion""
### Summary

For this situation I used clippy with this params
[code]

But it seems to me that is a wrong error message because is not related to recursion, just used as parameter for indexing.

### Lint Name

only_used_in_recursion

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I don't expect to see this kind of error in this situation.

### Version

[code]

### Addition

[2022-10-01 09:41] llogiq commented on #9564
Sorry, but doing control flow analysis is out of scope for the lint, and the idiomatic solution would be to use `let Some(unwrapped) = ahhh else { return; }` (using the recently added let-else). This is also why the lint is in the `pedantic` group which needs a specific opt-in. By doing so, you can expect some warnings that border on false positives.

[2022-10-01 09:41] #9564 closed

[2022-10-01 13:35] Jarcho commented on #9565
I can't reproduce this on the latest nightly. I believe the latest fixes for the lint are currently in beta.

[2022-10-01 14:39] matthiaskrgr commented on #9553
rustc_tools_util 0.2.1 is now on crates-io :tada:

[2022-10-01 14:45] #8961 closed

[2022-10-01 15:20] Mythra commented on #9564
Thanks, the let some I didn't realize would fix this. However, in hindsight it seems so obvious. 😅

I figured control-flow was out of the question, but worth a shot right? Thanks for the quick answer!

[2022-10-01 16:04] llogiq commented on #9564
Perhaps someday we'll have a strong basis on which to easily do this analysis. Until then, we'll pick the low hanging fruit and do our best to help. And in your defence, the `let-else` feature was just introduced with the latest Rust version. Before you'd have to use `if let Some(foo) = bar { .. } else { return; }

[2022-10-01 16:34] #9553 closed

[2022-10-01 18:01] guerinoni commented on #9565
Right! Close this

[2022-10-01 18:01] #9565 closed

[2022-10-01 21:08] #6751 closed

[2022-10-01 21:08] #9477 closed

[2022-10-02 00:04] BBaoVanC opened #9575 "Missing braces in suggested code from `match_single_binding` lint"
### Summary

In my example, I match the `ErrorKind` of an `io::Error`, but I only have one match arm. This causes clippy to warn about `match_single_binding`, which makes sense, but the suggestion it gives isn't valid code.

Clippy probably can't tell that `e.kind()` doesn't have any side effects so it tries to keep the call, but forgets to add braces.

### Reproducer

I tried this code:

[code]

[2022-10-02 08:58] TennyZhuang commented on #9562
@bors claim

[2022-10-02 09:00] xFrednet commented on #9562
Issue actions are done with `@rustbot`. I can assign you directly :)

[2022-10-02 09:25] josephlr commented on #8159
I agree that this doesn't seem like the correct behavior inside constants. For example, if we want to check that `usize` is at least 32 bits (to check that `u32 as usize` is lossless), the simplest way is:
[code]

But this triggers the `assertions_on_constants` lint.

[2022-10-02 10:11] RalfJung commented on #9553
Thanks. :) it is being bumped in Miri [as we speak](https://github.com/rust-lang/miri/pull/2578).

[2022-10-02 10:16] kraktus commented on #9563
@rustbot claim

[2022-10-02 10:32] matthiaskrgr commented on #9553
we might still need a clippy sync to get rid of the path dep in the rustc repo though

[2022-10-02 10:42] RalfJung commented on #9553
Yeah and a Miri sync needs to happen for Miri to even start using it. Short-term there might be some duplication but in the near future, after they both got synced, we'll have this code shared. :)

[2022-10-02 13:09] kraktus commented on #9537
not sure what the correct behaviour be here, only lint the outermost redundant expression?

Has this happened in real code? Seems quite seldom

[2022-10-02 13:10] kraktus commented on #9518
@rustbot claim

[2022-10-02 14:34] #9563 closed

[2022-10-02 15:26] #7730 closed

[2022-10-02 15:39] #9562 closed

[2022-10-02 16:01] TennyZhuang commented on #9524
We also need to match `.into_iter().collect::<Collection<?>>` and convert that to `into::<Collection<?>>`.

[2022-10-02 16:01] TennyZhuang commented on #9524
The lint seems non-trivial but make sense to me, so I’d like to take a try.

@rustbot claim

[2022-10-02 19:49] kraktus commented on #8093
since https://github.com/rust-lang/rust-clippy/pull/8596 `unnecessary_cast` does not lint type aliases at all anymore, so I guess this can be closed

[2022-10-02 19:49] kraktus commented on #6238
since https://github.com/rust-lang/rust-clippy/pull/8596 `unnecessary_cast` does not lint type aliases at all anymore, so I guess this can be closed

[2022-10-02 19:56] teor2345 commented on #9538
I'm pretty sure the large enum variant lint already does this - so they could re-use the same code.

[2022-10-02 20:13] Emilgardis opened #9578 "ICE on let else"
### Summary

[code]

[code]

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-10-02 20:19] Emilgardis commented on #9578
this could definitely do with more minimization

[2022-10-02 20:26] Jarcho commented on #9578
Likely a rustc bug. There have been a few MIR validation issues with `let else`.

[2022-10-02 20:37] Emilgardis commented on #9578
how could we confirm this, are there passes done in clippy not enabled in a normal build/check?

[2022-10-02 20:39] matthiaskrgr commented on #9578
This could be https://github.com/rust-lang/rust/issues/102317

[2022-10-02 20:41] Emilgardis commented on #9578
that one is clippy only as well, this should probably be closed in favor of that one, same backtrace for this repro and https://github.com/rust-lang/rust/issues/102317

[2022-10-02 20:41] #9578 closed

[2022-10-02 20:59] jyn514 commented on #6238
@kraktus what about rc_buffer?

[2022-10-03 01:51] TennyZhuang opened #9579 "upper_case_acronyms doesn't check the enum name itself."
### Summary

upper_case_acronyms only check the enum items without the enum name itself.

### Lint Name

upper_case_acronyms

### Reproducer

I tried this code:

[code]

I expected to see this happen:

Warnings like struct

Instead, this happened:

check passed

### Version

[code]

[2022-10-03 01:51] TennyZhuang commented on #9579
@rustbot claim

[2022-10-03 09:17] #9579 closed

[2022-10-03 09:22] rbtcollins opened #9583 "cargo clippy --fix generated broken code"
Output from clippy.
[code]

I would be happy if either the lint didn't fire, or if clippy fixed things with code that works.

### Meta

The same error occurs with nightly.

`rustc --version --verbose`:
[code]

[2022-10-03 10:22] gsayson opened #9582 "Clippy wrongly suggests function as dead code when used in a closure"
### Summary

When calling a function _A_ from a closure defined in a function _B_, Clippy registers function _A_ as dead code, when it is actually being used.

### Lint Name

dead_code

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected it to compile without any warnings.

### Version

[code]

### Additional Labels

_No response_

[2022-10-03 11:44] #9393 closed

[2022-10-03 12:02] Alexendoo commented on #9582
Is `create_account` used? Unused functions aren't counted as a use for the purpose of the dead_code warning

[2022-10-03 12:04] Alexendoo commented on #9583
Could you share the output of running `cargo clippy` without `--fix`, or the code this occurred on?

[2022-10-03 12:16] rbtcollins commented on #9583
https://github.com/rbtcollins/unleash-client-rust/blob/744b0e64d879b7c681fe14f922bbcf943d8efdf5/examples/threads.rs#L61-L68

[2022-10-03 12:17] rbtcollins commented on #9583
[code]

for permanence

[2022-10-03 17:59] Alexendoo commented on #9540
This is unrelated to `format_args` parsing, the expression does include the parenthesis

[2022-10-03 18:43] nyurik commented on #9540
@Alexendoo why do you think that?   In [these examples](https://github.com/rust-lang/rust-clippy/pull/9548/files#diff-d108878e5a893f2542507a02753d77b8cc6ee203ce0c0a72cc01ce267f7668ccR140-R143) of uninlined-format-args test that also fails, just like the `format-args` lint, the captured arg is clearly not including the surrounding parens - and that's why when it uses `expand_past_previous_comma()`,

[2022-10-03 20:08] Alexendoo commented on #9540
Haven't looked into that one but looks like a different issue. For this it's because the parenthesis are part of the expression's span, when it does https://github.com/rust-lang/rust-clippy/blob/5825ae7bd4b5dcb37b0bb7ccfaa68f57e9e8ee1b/clippy_lints/src/format_args.rs#L270 it's including the closing parenthesis in the thing it's suggesting to remove

[2022-10-03 22:09] #9544 closed

[2022-10-04 04:08] i509VCB opened #9589 "Detect trait object parameters being passed smart pointers which meet the trait object bounds."
### What it does

Detect functions which take trait objects and warn if a smart pointer is used as an argument to the function.

When implementing internal dynamic dispatch in an API, it may be desirable to have implementations defined using a trait with associated types. However, associated types make it impossible to create a trait object. One solution seen around ecosystem is to blanket impleme

[2022-10-04 04:12] nyurik commented on #9540
Thanks @Alexendoo, you are right uninlined_format_args issue was due to a bug that I now have a PR for: #9588

As for the current issue in the `to_string_in_format_args`:

For the test case, I think I figured it out thanks to your help!  See #9590. Sorry to step on your toes on this one.

[2022-10-04 07:53] flip1995 commented on #9399
To implement this, the `has_significant_drop` attribute, that can be attached to types could be used, like the [`clippy::significant_drop_in_scrutinee`](https://rust-lang.github.io/rust-clippy/master/index.html#significant_drop_in_scrutinee) lint does.

However, I marked it as `E-hard` because keeping track of references build from the `locked` variables. So checking for the last use of `locked` s

[2022-10-04 14:50] Detector-I opened #9591 "self doesn't need to be mutable lint"
### What it does

Having a function with `&mut self` as an argument, and actually never use `self` as mutable inside it wont give us any compiler or clippy warning...
here is an example
[code]
I think in this case clippy should say `self doesn't need to be mutable`.

### Lint Name

unused_mutable_self

### Category

correctness

### Advantage

- self wont be borrowed anymore in this function when

[2022-10-04 16:11] kraktus commented on #9591
Same as https://github.com/rust-lang/rust-clippy/issues/5546 ?

[2022-10-04 23:48] giraffate commented on #9538
Could you provide the reproduction on the playground?

[2022-10-05 03:45] wildbook commented on #9274
I just discovered this lint through false positives when running clippy against older code.

All of my so far hits can be simplified down to variants of this:
[code]

It'd be nice if there was a mention of the false positives or restrictions in the lint index, similar to most other lints with known failure cases. I'm also not sure that a lint with so easy-to-trigger false positives should be deny

[2022-10-05 14:00] gsayson commented on #9582
Ah, so that was the issue!
No, `create_account` wasn't used.
Thanks for your help!

[2022-10-05 14:00] #9582 closed, assigned to nobody

[2022-10-05 15:20] DDtKey opened #9594 "`manual_assert` false-positive for `else if`"
### Summary

I believe `manual_assert`shouldn't check `else if` branches.
It could be long-chains of `if - else if- ... N ... - else` statements, so `assert` would duplicate statements & probably make it unreadable

### Lint Name

manual_assert

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
if - else if  chains could be rather large, so I be

[2022-10-05 15:26] #7790 closed

[2022-10-05 18:53] nyurik commented on #9540
@rustbot claim

[2022-10-06 10:02] nappa85 opened #9597 "avoid matching on a lock guard"
### What it does

I think something similar already exists for a match that holds an await value
Matching on a lock guard and trying to use the lock inside the match results in a deadlock

### Lint Name

match_holding_lock_guard

### Category

suspicious

### Advantage

- avoid deadlocks, difficult to debug

### Drawbacks

I understand that the main difficulty for clippy could be knowing what a gu

[2022-10-06 14:29] s-cerevisiae commented on #9422
[code]

It also suggests to use `then_some` when it's possible to divide by zero, which is apparently incorrect.

[2022-10-06 14:55] #9197 closed

[2022-10-06 18:05] lukaslueg commented on #9597
Similar to `IF_LET_MUTEX`

[2022-10-06 21:08] czotomo commented on #9339
Hi @lana99, are you working on this or is this up for grabs?

[2022-10-06 22:09] #9575 closed

[2022-10-06 23:06] lana99 commented on #9339
I’ve been busy but I will probably push code for the issue this weekend. @czotomo

[2022-10-07 12:35] jondo2010 opened #9602 "`self_named_module_files` should ignore `build.rs`"
### Summary

[code]

### Lint Name

self_named_module_files

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

### Version

_No response_

### Additional Labels

_No response_

[2022-10-07 21:51] porky11 opened #9603 "Casting hexadecimal int literals to f32 is necessary"
### Summary

Rust sadly doesn't support non-decimal floating point numbers.

### Lint Name

clippy::unnecessary_cast

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

I expected it not to work anymore after following the hint, and that's what happened.

### Version

[code]

### Additional Labels

_No response_

[2022-10-08 03:44] TennyZhuang opened #9604 "`partial_pub_fields`: disallow partial fields of a struct be pub"
### What it does

https://matklad.github.io//2022/05/29/binary-privacy.html

Most structs are either `ADT` or `Data`, they shouldn't have a non-empty subset of pub fields.

The rule can be default allowed, since it may break some public APIs.

For `pub(crate)` or `pub(mod path)`, it's commonly used as a friend class alternative, so I think we can treat them as private. If there are some requiremen

[2022-10-08 04:30] TennyZhuang commented on #9604
@rustbot claim

[2022-10-08 08:57] alex-semenyuk opened #9606 "Add lints IMPLICIT_SATURATING_MUL and IMPLICIT_SATURATING_DIV"
### What it does

Add lint similar to IMPLICIT_SATURATING_SUB and  IMPLICIT_SATURATING_ADD, but for MUL and DIV.

### Lint Name

IMPLICIT_SATURATING_MUL and IMPLICIT_SATURATING_DIV

### Category

pedantic

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-10-08 09:19] joshtriplett opened #9607 "Detect enums with cfg controlled variants that aren't non_exhaustive"
### What it does

If an enum has variants controlled by cfg (e.g. feature flags), it should almost certainly be non_exhaustive. This lint would flag exhaustive enums controlled by cfg.

This should not flag enums with cfg variants that nonetheless have the same variants in all cfgs.

### Lint Name

cfg_enum_exhaustive

### Category

suspicious

### Advantage

- Avoid requiring cfg in every match
-

[2022-10-08 10:27] llogiq commented on #9606
I don't see anything saturating in your "bad" examples. Why should we lint assigning ops that multiply or divide?

[2022-10-08 10:29] kraktus commented on #9603
@rustbot claim

[2022-10-08 10:32] kraktus commented on #9603
I'm unable to reproduce, it runs fine on playground ([repro](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c602b73aa3299ef641534302c655c689)). Can you share a minimum reproducible example @porky11? Thanks

[2022-10-08 10:32] MorrisLaw commented on #5794
@rustbot claim

[2022-10-08 10:33] kraktus commented on #9602
Can you share a repro tree file with the command used to reproduce the issue?

[2022-10-08 10:36] porky11 commented on #9603
@kraktus

[code]

It turns out the warning only appears when the hexadecimal number is negative.

[2022-10-08 10:36] alex-semenyuk commented on #9606
Thanks, fill the section about Advantage

[2022-10-08 11:16] AlexTMjugador opened #9608 "`or_fun_call` false positive on enum variants with tuple fields"
### Summary

I maintain several Rust projects whose CI workflows run the latest nightly Clippy almost daily. As a result of that, I've discovered that yesterday's nightly, with a commit date of `2022-10-07`, introduced a likely unintended behavior change on the `or_fun_call` lint when initializing enum variants with tuple fields:

![False positive](https://user-images.githubusercontent.com/7822554

[2022-10-08 11:21] porky11 commented on #9603
@kraktus What even is your example?
Something seems wrong here. `-0x400_f32` is of an opaque integer type, not of type f32.

Try this:

[code]

Is this a rust bug?

[2022-10-08 11:25] porky11 commented on #9603
Now I get it: In hexadecimal, f32 is a digit. `_` is allowed inside of numbers between digits as well.
So `-0x400_f32` is the same as `0x400F32`. Just a hexadecimal integer.

[2022-10-08 11:35] kraktus commented on #9603
Nice catch!

[2022-10-08 12:18] kraktus commented on #9608
Do your enums have manual implementation of `Drop`? If so, this is intended: https://github.com/rust-lang/rust-clippy/pull/9551

[2022-10-08 13:00] AlexTMjugador commented on #9608
Thank you for your prompt response!

The affected enums, including the `VorbisOptimizerError` enum shown in the attached screenshot in particular, do not implement `Drop` themselves: https://docs.rs/optivorbis/latest/optivorbis/enum.VorbisOptimizerError.html

[2022-10-08 15:25] matthiaskrgr opened #9611 "lint unreachable public items declared in private items"
### What it does

Since the outer fn is private, we will not be reach the inner item from outside anyway

[code]

### Lint Name

unreachable_nested_pub ?

### Category

complexity

### Advantage

_No response_

### Drawbacks

_No response_

### Example

see above

[2022-10-08 16:12] #8822 closed

[2022-10-08 16:20] Firionus opened #9612 "`unwrap_used`/`expect_used` fire in test module function regardless of `allow-unwrap-in-tests`/`allow-expect-in-tests`"
### Summary

Functions inside modules with `#[cfg(test)]` that are themselves not `#[test]` functions are linted for `unwrap_used` and `expect_used` even when `clippy.toml` sets `allow-unwrap-in-tests = true` and `allow-expect-in-tests = true`.

### Lint Name

unwrap_used & expect_used

### Reproducer

I tried this code:

main.rs
[code]
clippy.toml
[code]

I saw this happen:

[code]

I expected to

[2022-10-08 16:23] Firionus commented on #5805
I think this can be closed since there now is https://github.com/rust-lang/rust-clippy/pull/8802

[2022-10-08 19:37] dtolnay opened #9613 "cast_possible_truncation false positive: `const` defined in the same crate"
### Summary

I believe `cast_possible_truncation` should not trigger when using `as` to cast a constant defined in the same crate, and clippy can tell for sure that the cast will not truncate. It's a false positive to indicate that the cast may truncate.

If the programmer later changes the value of the const such that truncation does occur (this would be an extremely unusual scenario) then the de

[2022-10-08 21:45] pali6 commented on #9607
Should an analogous lint exist for structs and enum variants too?

[2022-10-08 21:47] joshtriplett commented on #9607
@pali6 Yes, I think so, if they have public fields that are cfg-gated, and don't have any private fields.

[2022-10-08 22:54] llogiq commented on #9606
I might misunderstand something, but not all multiplication and division should saturate by default.

Implementing saturating multiplication manually is quite complex. Division is far easier (one only needs to consider the divide by zero case, but even then the sign needs to be applied), but still non-trivial.

So what pattern should the lint check for?

[2022-10-08 23:02] JeremyRubin commented on #9048
+1 on `let ()` -- yes, there can be other must_use lints, but you can't always attribute must_use because let () can happen in  e.g. closures which i don't think have must_use support (imagine returing `Result<(), E>` and you do `let () = a()?;`.

[2022-10-09 02:03] #7666 closed

[2022-10-09 16:44] kornelski opened #9618 "Suggest use of captured format args"
### What it does

In edition 2021 `format!` and related macros have a new ability to use implicitly captured variables instead of positional arguments: `format!("hello {name}");`

### Lint Name

format_uncaptured_variables

### Category

pedantic

### Advantage

A lint with an auto-fix could help migrate codebases to the new style. Opposite of #5404.

### Drawbacks

`format!` with a mix of capture

[2022-10-09 17:16] alice-i-cecile opened #9619 "Lint for use of single `&` and `|` in `bool` statements"
### What it does

Checks for the use of `&` and `|` in boolean statements where `&&` and `||` are preferred.

The latter are short-circuiting, while the former are bitwise operators.

Logical statements that combine bools (but not other types) should always prefer `&&` and `||`.

### Lint Name

nonlazy_boolean_operators

### Category

suspicious, perf

### Advantage

The `&&` and `||` lazy boolean

[2022-10-09 19:47] llogiq commented on #9619
Sometimes using `&` or `|` in lieu of short-circuiting ops is done to avoid branches, which would hurt perf. The short-circuiting ops should only be preferred if a potentially costly operation (e.g. function call) comes after them.

[2022-10-09 19:54] ChaiTRex commented on #9619
As pointed out, there are valid reasons for choosing both styles, and I really doubt that the lint is going to be smart enough to tell those cases apart.

[2022-10-09 20:52] alice-i-cecile commented on #9619
Ah right, I'd forgotten about reducing branches as a concern.

I agree; it'll be too tricky to distinguish the right pattern here at the lint level.

[2022-10-09 20:52] #9619 closed

[2022-10-09 20:58] mqudsi commented on #9619
It’s also common enough to want to report aggregate status (did *any* fail?) but still *need* to execute each individual function call regardless of past success/failure.

[2022-10-09 23:32] cnpryer opened #9620 "Suggest use of map_err for if let return pattern"
### What it does

When using `if let Err` to handle errors for cases like returning errors from functions, suggest use of `map_err`.

### Lint Name

prefer_map_err_over_if_let

### Category

style

### Advantage

- Prevents more redundancy in code.
- Simplifies common error handling behavior.
- More elegant solution.

### Drawbacks

Only suggestible with simple logic and (probably) more preferable

[2022-10-10 00:50] flisky opened #9621 "box-default wrongly suggest on dyn trait"
### Summary

I have a function signature like `fn with_bar(self, bar: Box<dyn Bar>)`,  and `box-default` will suggest `Foo::new().with_bar(Box::default())` over `Foo::new().with_bar(Box::new(BarImpl::default))`, which clearly cannot be compiled.

### Lint Name

box-default

### Reproducer

_No response_

### Version

[code]

### Additional Labels

_No response_

[2022-10-10 03:20] frewsxcv commented on #8600
@Rqnsom Are you still working on this?

[2022-10-10 07:34] koka831 commented on #9290
@rustbot claim

[2022-10-10 07:36] Rqnsom commented on #8600
Not really. Wanted to. But I couldn't find the time.
Could you unassign me?

[2022-10-10 11:03] llogiq commented on #9621
@rustbot claim

I think it should still work with `Box::<BarImpl>::default()`. Can you check that it does?

[2022-10-10 12:47] #9608 closed

[2022-10-10 13:26] flip1995 commented on #6628
Another request what to add to the Clippy book: How to deprecate/uplift a Clippy lint?

Posted here: https://github.com/rust-lang/rust/pull/99696#issuecomment-1273285209
Instructions here: https://github.com/rust-lang/rust/pull/99696#pullrequestreview-1134072751

I noticed that `cargo dev rename --uplift` could be improved and do more things that `deprecate` does, like deleting tests.

[2022-10-10 14:30] mattrobineau opened #9625 "error: internal compiler error: Not an int type"
I was attempting to run clippy over [this project](https://github.com/mattrobineau/planif/tree/ac01bae6dec544f21006b50ff5840523bf381336) and ran into a panic.

Clippy version: clippy 0.1.64 (a55dd71d 2022-09-19)

[code]

[2022-10-10 16:20] kraktus commented on #9618
Already implemented on nightly https://rust-lang.github.io/rust-clippy/master/index.html#uninlined_format_args

[2022-10-10 16:35] severinrudie commented on #7353
@rustbot claim

[2022-10-10 17:24] jedel1043 opened #9626 "`trait_duplication_in_bounds` false positive for repeated `From` bound"
### Summary

Another false positive for `trait_duplication_in_bounds`, but now for repeated `From` clauses with different generic arguments.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=20909581fd02460b126ebe30d969ba51

### Lint Name

trait_duplication_in_bounds

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Comp

[2022-10-10 20:00] SkyfallWasTaken opened #9628 "New lint: `clippy::no_write_and_append`"
### What it does

This lint would warn when a user uses `std::fs::OpenOptions` or `tokio::fs::OpenOptions` and calls both `write` and `append`

### Lint Name

no_write_and_append

### Category

correctness, suspicious, pedantic

### Advantage

- Remove `write` call that doesn't have any affect

### Drawbacks

Some people might do this deliberately to highlight that writes are enabled.

### Example

[2022-10-11 15:14] yonip23 opened #9631 "False positive in `uninlined_format_args` lint (nightly)"
### Summary

This lint warns me on code which must be in the form of `("{}", x)` and can't be in the form of `("{x}")` - see code example below

### Lint Name

uninlined_format_args

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
Nothing - the line shouldn't warn on this case, because if the code was as suggested by the lint:

[code]

The `pa

[2022-10-11 15:52] Jarcho commented on #9631
Inlined format arguments only work on the 2021 edition for `panic!`. The lint needs to be edition gated.

[2022-10-11 16:00] kraktus commented on #9612
It’s unclear if this is undesired. At least it’s consistent with the doc.

[2022-10-11 20:40] kraktus commented on #9613
The lint should probably not warn when truncation can be resolved to a literal when truncation does not occurs

[2022-10-11 21:24] dorublanzeanu commented on #8600
I would like to give it a go if nobody else is working on this, it would be my first contribution to clippy.

[2022-10-11 23:34] wildwestrom opened #9632 "constant triggering numeric fallback lint when type annotations are already required"
### Summary

Since constants require type annotations, there's no reason for clippy to complain about lack of type information of literals in constants.
[code]

### Lint Name

default_numeric_fallback

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

### Version

[code]

### Additional Labels

_No response_

[2022-10-12 07:10] yonip23 commented on #9631
@Jarcho THANK YOU lol I thought I was delusional... my main project has major parts in edition 2018 in which it doesn't work as you said, and I couldn't figure out why @kraktus's playground worked fine 😅
I verified it locally as well

[2022-10-12 09:20] royrustdev commented on #6241
@rustbot claim

[2022-10-12 09:21] royrustdev commented on #6243
@rustbot claim

[2022-10-12 10:06] pali6 commented on #9607
I've tried experimenting with implementing the lint but sadly reached a dead end. Per Zulip discussion I'll post some of my observations here:

### Variants with the same name

In order to make sure that there is a variant not present in all configuration combinations we need to also detect cases where two or more variants with the same name have `cfg` conditions that cover the whole configuration

[2022-10-12 12:04] #371 closed

[2022-10-12 12:29] #9618 closed

[2022-10-12 12:41] royrustdev commented on #626
@rustbot claim

[2022-10-12 18:55] xFrednet commented on #7172
Looking at the lint description, it looks like it's finally time to close this issue for good. @flip1995 Thank you for the mentoring on this one. This really introduced me to Clippy, and it's nice to see that the infrastructure still runs <3

[2022-10-12 18:55] #7172 closed

[2022-10-12 19:04] #9625 closed

[2022-10-12 19:15] joshtriplett commented on #9607
@pali6

You're right, this should only apply to `pub` items.

I think it'd be *completely* reasonable to just handle the simple cases: if there are multiple variants with the same name, either just don't emit the warning (and people are no worse off than they are now), or throw it at a SAT solver but give up if it's too complex.

[2022-10-12 23:06] #9540 closed

[2022-10-13 00:53] Firstyear opened #9638 "From over Into for external crate types which is impossible to implement"
### Summary

Clippy lints stating that from over into is preferred is impossible to satisfy. You can't implement a trait on a struct from an external crate.

Also common to hit with should_implement_trait.

Clippy should not recommend From over Into or Should implement trait when the target type is an out of crate type which is impossible to compile for.

### Lint Name

from_over_into

### Reprodu

[2022-10-13 06:12] kraktus commented on #9638
You can implement `From<LocalStruct> for ExternalStruct`, as `From<LocalStruct>` is considered an internal trait. This behavior could be édition gated though I don’t remember the details

[2022-10-13 06:52] Firstyear commented on #9638
@kraktus It doesn't work with FromIterator though I think?

[2022-10-13 06:52] BusyJay commented on #9111
I'm still getting similar false positive on 2022-10-13.
[code]

[2022-10-13 06:59] BusyJay opened #9639 "False positive of box_default"
### Summary

`Box::default()` will not work if the input is `Box<dyn trait>`.

### Lint Name

box_default

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
Compile OK.

### Version

[code]

### Additional Labels

_No response_

[2022-10-13 07:29] llogiq commented on #9639
This is a duplicate of #9621 which by the way already has a not yet merged solution in #9622 and in fact the current master should already have a suggestion to use `Box::<u64>::default()`.

[2022-10-13 07:29] #9639 closed

[2022-10-13 07:45] smoelius commented on #9111
@BusyJay With your example, I see:
[code]
I think this is a different bug.

[2022-10-13 09:10] AlexTMjugador commented on #9608
Sadly, yesterday's nightly (`c0983a9 2022-10-12`) still outputs the described false positive, for the same source code. I assume the fix PR made it to the nightly, so what's going on here?

[2022-10-13 11:12] Alexendoo commented on #9638
Do you have an example of a `should_implement_trait` case that would fail to compile?

For `from_over_into` we could emit a note saying it's fine to do `From<Local> for Foreign` if a foreign type is involved, as this is a very common source of confusion

[2022-10-13 15:57] smmalis37 commented on #9142
Just hit this too, has any progress been made?

[2022-10-13 20:50] llogiq commented on #9142
@rustbot claim

[2022-10-13 22:31] John-Nagle opened #9642 "clippy::ptr_arg suggests changing &mut Vec to &mut [u8] even when a method only applicable to Vec is applied."
### Summary

Following Clippy's suggestion results in a program that will not compile.

Clippy wants an argument changed from **&mut Vec** to **&mut [u8]**. But there's a macro call applied to that argument which applies **Vec::extend_from_slice** to it. Clippy did not notice that the macro contained something that made this change invalid.

### Lint Name

#[warn(clippy::ptr_arg)]

### Reproducer

[2022-10-13 22:33] nyurik commented on #8368
Forgot to comment on this one... DONE! :D

[2022-10-13 22:56] Firstyear commented on #9638
@Alexendoo A more complex example, but https://github.com/kanidm/kanidm/blob/master/kanidmd/lib/src/valueset/spn.rs#L28 . tl;dr you can't do fromIterator on a tuple of strings because tuple is always foreign.

It's worth saying the note doesn't really help here because clippy will still lint and say "do this!" when clippy shouldn't be suggesting something that is impossible in the first place I th

[2022-10-13 23:32] Alexendoo commented on #9638
The note would be only on the From case, as `impl From<&RequestAuthenticationExtensions> for js_sys::Object` is valid

That `from_iter` example is a bug, it would be applicable if it were `-> Self` but as it's `-> Option<...>` both sides of the impl are foreign so we need to check for that

[2022-10-14 01:19] swarnimarun commented on #9597
actually now that I think about it we may already have something similar,
https://rust-lang.github.io/rust-clippy/master/index.html#significant_drop_in_scrutinee

[2022-10-14 07:15] nappa85 commented on #9597
That's exactly what I was looking for
Thank you

[2022-10-14 07:15] #9597 closed

[2022-10-14 17:32] Jarcho commented on #9642
Can you post the whole code for the function in question? This is not enough to reproduce the issue.

[2022-10-14 17:39] chetankokil commented on #9010
can i work on this ?

[2022-10-14 17:40] chetankokil commented on #9010
@rustbot claim

[2022-10-14 17:55] #9542 closed

[2022-10-14 18:24] SUPERCILEX opened #9646 "Comparison between NonZeroUsizes doesn't inhibit const suggestion."
### Lint Name

missing-const-for-fn

### Reproducer

I tried this code:

[code]

I saw this happen after making that function const:

[code]

I expected to see this happen:

### Version

[code]

### Additional Labels

_No response_

[2022-10-14 18:55] haata opened #9647 "collapsible_match suggestion does not compile"
### Summary

collapisble_match warning gives an incorrect suggestion for code that cannot compile. Even with some tweaks, I haven't been able to compress the statement.

I suspect the syn crate may be doing something interesting, but I haven't investigated it deeply.

### Lint Name

collapsible_match

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I changed the code to the

[2022-10-14 20:17] John-Nagle commented on #9642
My error. Sorry. In trying to fix a Clippy warning, I changed the wrong &mut Vec<u8>, to &mut [u8].

Clippy had properly followed the parameter into the macro that uses .extends_from_slice and detected that it really needed to be a Vec.

[2022-10-15 08:48] #7444 closed

[2022-10-15 10:00] leonardo-m opened #9650 "A mixed assignment bug from Python"
### Description

This is a request for a possible new Clippy lint, but this time I don't have a clear mind regarding what to lint against. So I'm asking for help.

I translate (port) Python code to Rust often enough, and sometimes I introduce bugs (like when some python code uses a division among signed values and I must need to remember to use .div_euclid() in the Rust code). This is a Python exa

[2022-10-15 11:36] gimbles opened #9651 "Clippy suggests `0o<8|9>`, which is an invalid suggestion."
### Summary

When this code is ran through clippy, it suggests invalid code.

### Lint Name

zero_prefixed_literal

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: Clippy to not suggest a borked suggestion. As running
[code]
results in
[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-10-15 11:53] smoelius commented on #9650
Just an observation, the restriction lint [`shadow_reuse`](https://rust-lang.github.io/rust-clippy/master/#shadow_reuse) emits this warning:
[code]

[2022-10-15 12:47] Alexendoo commented on #5612
Another example from #9638 is when the orphan rules prevent an impl, e.g. you can't `impl FromIterator<String> for Option<LocalType>` or `impl FromStr for Option<LocalType>`

[2022-10-15 12:50] Alexendoo commented on #9638
Added the `from_over_into` note as part of #9649, and we'll track the `should_implement_trait` signature incompatibility in #5612. Thanks!

[2022-10-15 12:50] #9638 closed

[2022-10-15 12:54] kraktus commented on #9651
@rustbot claim

[2022-10-15 13:12] kraktus commented on #9647
correct suggestion should be

[code]

[2022-10-15 13:18] kraktus commented on #9647
mini repro:

[code]

[2022-10-15 13:28] kraktus commented on #9631
@rusbot claim

[2022-10-15 13:39] lukas-code opened #9653 "False positive for `box_default` in `#![no_std]` crate"
### Summary

`box_default` fires in the `Default` impl of `Box`-like types in a `#![no_std]` crate

### Lint Name

box_default

### Reproducer

I tried this code: [(Playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ba5f61f6cb1ff932950482875afd2a0c)

[code]

I saw this happen:

[code]

I expected to see this happen:
no output

### Version

[code]

### Additi

[2022-10-15 14:29] llogiq commented on #9653
This should be very easy to fix by checking if the Box type exists.

@rustbot claim

[2022-10-15 16:11] dhardy commented on #6626
Notes on existing groups:

- `cargo`: 5 lints; seems fine
- `complexity`: has more lints than I care to count; vague sub-groups are:
  - redundant operations: `bool_comparison`, `borrow_deref_ref`, `clone_on_copy`, `deref_addrof`
  - simpler alternative: `bind_instead_of_map`, `bytes_count_to_len`, `char_lit_as_u8`, `deprecated_cfg_attr`, `derivable_impls`, `double_comparisons`, `duration_subsec`

[2022-10-15 16:56] Alexendoo commented on #9653
Ah, so _that's_ why `lang_items().owned_box()` returns an `Option`

[2022-10-15 21:23] llogiq commented on #9653
Exactly.

[2022-10-15 23:02] RReverser opened #9656 "default_numeric_fallback triggers on enums with an explicit repr"
### Summary

`default_numeric_fallback` triggers on enums with a specified `repr(...)`. The values are already checked by the compiler against the specified representation type and can't fallback into another type.

Might be similar to https://github.com/rust-lang/rust-clippy/issues/9632, but I'm guessing will require a separate fix.

### Lint Name

default_numeric_fallback

### Reproducer

I trie

[2022-10-15 23:12] RReverser opened #9657 "as_conversions triggers on derived code"
### Summary

I like using as_conversions as a catch-all guard to stop myself from reaching for it in my own code when better solutions are available. However, it triggers on the generated derive code too, e.g. when using [serde-repr](https://github.com/dtolnay/serde-repr).

Worse, it can't even be disabled by putting `#[allow(clippy::as_conversions)]` on the offending type, as it doesn't propagate

[2022-10-16 03:26] #9653 closed

[2022-10-16 05:43] #9632 closed

[2022-10-16 08:21] Luro02 opened #9660 "Use enum discriminant instead of matching variants"
### What it does

Lints against code that exhaustively matches an enum and returns a unique constant number for each variant.
[code]

It suggests adding a discriminant for each variant of the enum and to replace the match with a cast:
[code]

### Lint Name

use_enum_discriminant

### Category

complexity, pedantic

### Advantage

- Results in smaller code => easier to read

### Drawbacks

- a disc

[2022-10-16 11:48] akshay1992kalbhor commented on #9520
So I think my above hunch was right. We don't check the `len` function inputs. My solution is to add a check where we see if the `len` function has any other arguments besides the `self`. If it does we don't trigger the lint. This is off the top of my head. Please suggest alternatives or improvements.

[2022-10-16 13:13] kraktus commented on #9631
Already fixed by https://github.com/rust-lang/rust-clippy/pull/9605

[2022-10-16 14:19] #9604 closed

[2022-10-16 14:54] koka831 commented on #7886
Hi, @ahmedkrmn. Do you still work on this? or may I try to have it?

[2022-10-16 16:28] shepmaster opened #9661 "Add a lint for unintentional usage of default trait methods"
### What it does

Fires when a trait implementation relies on a default method. This is primarily useful for "delegating" trait implementations that want to do a bit of work in addition to a lower implementation

### Lint Name

unintentional_default_trait_methods

### Category

restriction

### Advantage

If a new default trait is added, it will be more obvious that we need to update our code to a

[2022-10-16 17:47] Alexendoo commented on #9661
This is a cool idea, I've wanted that before but didn't think of having it be a lint

I'll take a crack at it

[2022-10-16 20:35] DzenanJupic commented on #9522
Same is true for `enum` constructors
https://github.com/DzenanJupic/rustube/actions/runs/3260790886/jobs/5354665044

[code]

[code]

[2022-10-16 21:15] xFrednet commented on #9520
Hey @akshay1992kalbhor, thank you for investigating this issue further. Your suggestion to fix the bug sounds like the correct one, so go for it! :upside_down_face:

[2022-10-16 21:30] #9651 closed

[2022-10-16 23:19] xxchan opened #9663 "false positive of or_fun_call for enum"
### Summary

See Reproducer. Note that in my trials, this only happens when one variant is `std::io::Error`

### Lint Name

or_fun_call

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-10-17 00:57] #9603 closed

[2022-10-17 05:18] Luro02 opened #9665 "Suggest `{f32, f64}::is_finite` and `{f32, f64}::is_infinite`"
### What it does

Detects manual implementations of these functions and suggests replacing them with a call to that function.

### Lint Name

float_manual_finite/float_manual_infinite

### Category

style, pedantic

### Advantage

- easier to read
- less code to work with
- could be faster than the original code [see source of `is_infinite`, which suggests some future optimizations](https://doc.ru

[2022-10-17 11:14] rbtcollins opened #9666 "index out of bounds: the len is 34 but the index is 35', /.../snapshot_vec.rs:199:10"
### Summary

Sorry, don't have a minimised example.

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-10-17 11:24] Alexendoo commented on #9666
Does this happen with a `cargo check` rather than `cargo clippy`?

[2022-10-17 11:32] jmillikin commented on #9500
I notice the lint was renamed from `arithmetic` to `arithmetic_side_effects` on September 9th (https://github.com/rust-lang/rust-clippy/commit/51d8b6c6643abb048987bd0befdeb6f46db0f6b5). It looks like Clippy v0.1.64 contains the old name:

[code]

Seems like a documentation bug that the name is updated immediately even if it stabilized under a different name.

[2022-10-17 11:59] rbtcollins commented on #9666
Great question, unfortunately it went away after I saved a buffer in my editor and I no longer have the reproduction at all :/

[2022-10-17 12:05] llogiq commented on #6626
My 2¢ on this:

* I struggle to see how `drop_copy` would come up in correct code, and manual drops are usually only ever issued to trigger some guard and/or uphold some invariants. So the lint is less about the code found, more about the code that's likely *missing*.
* We moved some lints to `pedantic` in the past that should probably be in nursery because of false positives. I feel that pedantic

[2022-10-17 13:20] akshay1992kalbhor commented on #9520
The same PR should also update the tests for this lint right?

[2022-10-17 13:28] kraktus commented on #9663
probably fixed already by https://github.com/rust-lang/rust-clippy/pull/9610

[2022-10-17 13:40] dhardy commented on #6626
Regarding `drop`, I have in the past used it with (mutable) references to get around borrow-checker restrictions. None of the examples I have now which require an explicit drop trip these lints, however.

I guess so, though sometimes the *why* eludes me. E.g. why are `bytes_count_to_len` and `derivable_impls` *complexity* lints while `bool_to_int_with_if` and `chars_last_cmp` are *style* lints? My

[2022-10-17 17:36] matthiaskrgr commented on #9666
Hmm, sounds a bit like an incr comp issue then? :thinking:
But I have no idea how clippy relates to rustcs incr comp stuff. :/

[2022-10-17 18:51] leonardo-m commented on #9650
Peraphs there's no better way to spot this problem, so I'll probably close this issue down. Thank you smoelius.

[2022-10-17 20:50] leonardo-m opened #9669 "Pedantic suggestion of using an array type definition"
### What it does

Suggests to define a array type alias to simplify the code, making it more readable.

### Lint Name

use_array_type_alias

### Category

pedantic

### Advantage

_No response_

### Drawbacks

_No response_

### Example

In this small program from the Benchmarks Game:
https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/mandelbrot-rust-6.html

There are lines of cod

[2022-10-17 23:33] PatchMixolydic opened #9672 "Add a lint for missing implementations of `Error`"
### What it does

This lint lints against local types which are used as a `Result`'s `E` type, but don't implement the `Error` trait.

### Lint Name

`missing_error_impls`

### Category

style, pedantic, or restriction

### Advantage

* Allows the error to be passed to functions expecting `dyn Error`/`impl Error`
* Enables the use of `?` on the `Result` type in functions/try blocks that return `Re

[2022-10-17 23:38] JoJoJet opened #9673 "Clippy should warn about unnecessary `#[inline]` attributes"
### What it does

Generic functions already allow cross-crate inlining, so clippy should warn about marking one of these functions with #[inline]`.

### Lint Name

unnecessary_inline

### Category

style

### Advantage

Code is less noisy.

### Drawbacks

Some users may prefer to use the inline attribute even when it is redundant.

### Example

[code]

Could be written as:

[code]

[2022-10-18 01:39] jonas-schievink commented on #9673
I don't think this would be correct. `#[inline]` provides a hint to the compiler, and that hint has an effect even when the function is generic. Not only will rustc place the `inline` LLVM attribute on the function, it will also generate code for the function within every codegen unit that references it (normally a function is only generated in a single codegen unit).

[2022-10-18 09:17] bigdogs opened #9675 "type parameter `Self/#0` (Self/0) out of range when substituting"
`cargo clippy` runs failed on nightly 2022-10-17.   Not sure if this is a known issue.
[code]

[2022-10-18 11:14] xFrednet commented on #9520
Yes, one PR should cover all related changes. In clippy this can often look like a lot of changes due to the test files, but that's totally fine :).

[2022-10-18 11:23] Alexendoo commented on #9675
Thanks @bigdogs

Is the code for this public anywhere? Or if not are you able to show the output of running with `RUST_BACKTRACE=1`?

[2022-10-18 11:32] bigdogs commented on #9675
@Alexendoo hi, sorry for that it's our private project :(, here is the backtrace, hope it helps
[code]

[2022-10-18 11:38] Alexendoo commented on #9675
Ahh no worries. Unfortunate that the presumably clippy parts are showing as `<unknown>` 🤔

[2022-10-18 12:03] maxwase opened #9676 "Regression in `ptr_arg`"
### Summary

Clippy had displayed `ptr_arg` warnings before Rust version 1.60

[code]

### Reproducer

I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:

No warning

### Version

[code]

### Additional Labels

_No response_

[2022-10-18 12:33] crlf0710 opened #9677 "Lint against `mod lib;`"
### What it does

Found that some beginners write `mod lib;` in `main.rs` to reference `lib.rs` contents. Definitely not what people actually want to do!

### Lint Name

_No response_

### Category

suspicious

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-10-18 13:26] xxchan opened #9678 "new lint: let_underscore_var"
### What it does

Unlike `let _ = <expr>` (it's a drop), `let _ = <variable>` is a no-op. I believe it's useless.

Also the discription of [let_underscore_drop](https://rust-lang.github.io/rust-clippy/master/#let_underscore_drop) maybe inprecise becasue it ignored this case.

### Lint Name

let_underscore_var

### Category

correctness, suspicious

### Advantage

_No response_

### Drawbacks

_No

[2022-10-18 13:27] andreubotella opened #9679 "Warn about `Box::from_raw::<c_void>`"
### What it does

Often in FFI, some APIs will take `*c_void` or `*mut c_void` to indicate arbitrary objects from the caller side. When interacting with such APIs in Rust it is common to allocate something with `{Box,Rc,Arc}::into_raw` and then casting the raw pointer. For deallocating you often get the `c_void` pointer back from the FFI API and you would turn it into the corresponding owned/share

[2022-10-18 15:37] lukaslueg commented on #9672
Same as #6409?

[2022-10-18 16:04] PatchMixolydic commented on #9672
Seems like it; my bad 😅

[2022-10-18 16:04] #9672 closed

[2022-10-19 00:20] mkrasnitski commented on #9240
@rustbot claim

[2022-10-19 03:20] John-Nagle commented on #9642
Yes, close. My bad.

[2022-10-19 03:20] #9642 closed

[2022-10-19 03:22] Jarcho commented on #9676
This only happens when the argument has no name. I'm not sure if this should be changed back. The parameter is intentionally unused, which is a good sign that the function signature is important for some reason.

[2022-10-19 06:31] maxwase commented on #9676
I can still see the issue even if those parameters are with name and used

[2022-10-19 12:18] kraktus commented on #9676
I see the warnings as expected, [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d4c3afe9d55b915054075f47f33d1450)

[code]

[2022-10-19 12:31] maxwase commented on #9676
Yeah, in these examples it works, but in [those](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9a798fb3d31e8a199548c140bdb92eab) it is not:

[2022-10-19 13:03] kraktus commented on #9532
After looking into it, not linting in case of `dyn` type is intentional, since removing them would break non-local code (eg: anywhere when the result would be dereferenced twice would be broken)

[2022-10-19 13:30] maxwase commented on #9676
Ok, I guess we should generalize that issue more then

[2022-10-19 14:11] #6243 closed

[2022-10-19 19:59] kraktus commented on #8482
Can be closed then?

[2022-10-20 01:42] carols10cents commented on #5325
I *think* I have a reproducer for this-- I'm not 100% positive the key type isn't actually mutable, but it would be unexpected if it is...

- [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=566cdee2ffec7da30e97ace98dd1b3aa)
- Uses [http 0.2.8's `HeaderName` type](https://docs.rs/http/0.2.8/http/header/struct.HeaderName.html)
- Rust 1.64.0, Clippy 0.1.66 (2022-1

[2022-10-20 06:16] #8482 closed

[2022-10-20 12:27] royrustdev commented on #9679
@rustbot claim

[2022-10-21 01:44] crazyboycjr commented on #3045
I'm providing another false positive, in [`core::ptr::NonNull<T>`](https://doc.rust-lang.org/src/core/ptr/non_null.rs.html#218).
[code]

[2022-10-21 05:05] llogiq commented on #5325
@rustbot claim

[2022-10-21 08:13] michalburger1 opened #9682 "ref_option_ref should not trigger for mutable references"
### Summary

The lint tells you to use `Option<&T>` instead of `&Option<&T>` because the former is `Copy` so there's no point in passing around references. However, the lint seems to also triggers for `&Option<&mut T>` and tells you to use `Option<&mut T>` instead, which is not `Copy`.

### Lint Name

ref_option_ref

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expecte

[2022-10-21 08:15] michalburger1 commented on #9682
Applying the suggestion would cause an error if you're also trying to use the value in other places (it can't be copied so it will be moved).

[2022-10-21 10:53] dswij commented on #9650
As @smoelius suggested, I think `shadow_reuse` is the perfect lint for this :)

I'll be closing the issue.

[2022-10-21 10:53] #9650 closed

[2022-10-21 11:05] Swatinem opened #9683 "False-positive `await_holding_lock` with manual `drop` of `MutexGuard`"
### Summary

I manually `drop` my `MutexGuard` right before the `await` point, therefore the lock is not held across await points.

### Lint Name

await_holding_lock

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

This should not error as the `MutexGuard` is not alive at the `await` point.

### Version

[code]

### Additional Labels

_No res

[2022-10-21 11:07] kraktus commented on #9682
[Can't reproduce on nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bca5d070d4f30d5c5974504801144abb) so I assume it's been fixed

[2022-10-21 11:08] kraktus commented on #9683
I'm not sure if this use case is common enough to make the lint handle it. I would throw an `allow` in this particular case.

[2022-10-21 11:24] Alexendoo commented on #9682
It's a pedantic lint so you'll need to enable it

[2022-10-21 11:27] kraktus commented on #9682
right my bad!

@rustbot claim

[2022-10-21 11:32] kraktus commented on #9657
root issue: https://github.com/dtolnay/serde-repr/blob/78e7199f79bc0ad441fcd8aaa1b2d8a41f3672c7/src/lib.rs#L58

I'm not sure why this is not considered as `in_external_macro`, I assume because it reuses root spans.

[2022-10-21 11:51] Swatinem commented on #9683
I’m doing that, and it is a good workaround for me.

I still think its a valid false-positive, even if the solution right now is "not worth the effort fixing".

[2022-10-21 12:51] kraktus commented on #9612
@rustbot claim

[2022-10-21 13:01] RReverser commented on #9657
The `as` itself doesn't come from the source though, I guess clippy should be looking at the keyword's span but doesn't currently.

[2022-10-21 13:46] xFrednet opened #9687 "`#[allow(clippy::fn_params_excessive_bools)]` doesn't work on methods"
### Description

Lint: [`clippy::fn_params_excessive_bools`](https://rust-lang.github.io/rust-clippy/master/index.html#fn_params_excessive_bools)

`#[allow(clippy::fn_params_excessive_bools)]` works on functions and impl blocks, but not on individual methods inside an impl blocks. The problem seams to be, that methods are checked from the impl block, which doesn't process the lint attributes on sp

[2022-10-21 19:37] #9647 closed

[2022-10-21 20:53] RReverser commented on #9657
Yeah I'm not familiar with clippy code, but looking at this it seems that it only check entire expression's `span`, which essentially means "from the first token to the last token":

https://github.com/rust-lang/rust-clippy/blob/b72e451310d65ddf69441a641e2ebd6886c813b8/clippy_lints/src/as_conversions.rs#L50

However, in case like serde-repr's (`#ident::#variant as #repr`), first and last tokens bo

[2022-10-21 21:41] Jarcho commented on #9657
This might need `is_from_proc_macro`. The span for `e as ty` should use the context from `as` not from the expression or the type.

[2022-10-22 07:35] koka831 commented on #8993
@rustbot claim

[2022-10-22 14:30] cottnn opened #9693 "`or_fun_call` false positive on nightly with some enums"
### Summary

The `or_fun_call` lint can be triggered even if the argument to `.or` is a regular enum variant. From my tests, this only happens when the enum has additional variants with certain value types, such as `io::Error`. I tested some other value types, and it looks like it depends on whether the type implements `Clone` or not. So putting `Vec<u8>` in one of the enum variants will not trigg

[2022-10-22 16:13] kraktus commented on #9693
Should be fixed on next nightly when https://github.com/rust-lang/rust-clippy/pull/9610 lands

[2022-10-22 20:13] TimNN opened #9694 "Suggestion: Make `needless_lifetimes` ignore functions that are, or contain, `unsafe`."
### Description

I've found myself somewhat frequently disabling the `needless_lifetimes` lint for functions that are, or contain, `unsafe`, primarily because I felt like it was better to be explicit in those case. (One example: more limited wrappers around pointer casts / transmutes).

IMO, given that `unsafe` can be used to circumvent the borrow checker, eliding the lifetimes _increases_ complex

[2022-10-23 04:20] kaimast commented on #8777
Maybe this lint should be disabled by default until this bug is fixed?

[2022-10-23 06:00] leighmcculloch opened #9695 "unused `async` for function with no await statements when function is used in contexts requiring async"
### Summary

Functions with the `async` keyword get the following error, even when the functions must have async to be used in contexts that are async.

[code]

### Lint Name

unused_async

### Reproducer

I tried this code:

[code]

[code]

I expected to see this happen:

No warnings.

Instead, this happened:

[code]

### Version

[code]

[2022-10-23 07:11] X-m7 commented on #8246
For what it's worth the Rust Reference book does state that it is idiomatic for ignoring must-used return values: https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-must_use-attribute

[2022-10-23 11:27] #9621 closed

[2022-10-23 11:49] kraktus commented on #9694
Could be implemented as a lint option

[2022-10-23 11:50] kraktus commented on #9687
@rustbot claim

[2022-10-23 13:35] #9612 closed

[2022-10-23 14:23] #8003 closed

[2022-10-23 14:23] #9314 closed

[2022-10-23 14:34] #8993 closed

[2022-10-23 15:43] #9221 closed

[2022-10-23 16:15] TennyZhuang opened #9699 "new lint: `endless_iter`"
### What it does

1. We can create an endless Iterator easily by calling the `Iterator::cycle()` method or by Range literal construction without an upper bound.
  There is a corner case; the `cycle` call on an empty iterator will not create an endless iterator.

3. The endless property will be passed by many methods without an early return branch, e.g.:
  * map
  * filter
  * skip
  * skip_while

[2022-10-23 17:28] #9679 closed

[2022-10-23 19:29] lovasoa commented on #9529
I agree with the original poster. There are many traits that could potentially be implemented on my data structures, but if I don't need them, I am not going to add a derive for them. It would just add junk to the codebase, and make the compile times longer for no benefit.

[2022-10-23 19:48] st3fan commented on #9677
@crlf0710 I'm interested in working on this issue.

[2022-10-23 20:41] Alexendoo commented on #9677
Great, thanks @st3fan!

If you need any help at all feel free to ask in here or on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/clippy)

[2022-10-23 20:46] xFrednet commented on #9529
Maybe a config value might be nice, but I wouldn't expect many people to enable is, if it's false by default. I'd be okay with this being changed. I don't have a strong opinion on this one :)

[2022-10-24 08:14] denfren commented on #9142
FYI @llogiq  - It seems I have found another case that also doesn't seem to work even when the definition is one line. However it looks like your fix covers this as well, right?

[code]
tested on [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=40e06da3585b47d086d55e83b8d6c862)
 with `clippy 0.1.66`

[2022-10-24 11:19] #9631 closed

[2022-10-24 11:53] Alexendoo opened #9702 "Lint `permissions.set_readonly(false)`"
### What it does

The lint would catch any usage of [`Permissions::set_readonly`](https://doc.rust-lang.org/nightly/std/fs/struct.Permissions.html#method.set_readonly) called with `false`

`.set_readonly(false)` on unix platforms sets the file to be world writable - https://github.com/rust-lang/rust/pull/101644

### Lint Name

permissions_set_readonly_false

### Category

suspicious

### Advantage

[2022-10-24 13:32] kraktus opened #9703 "`--cap-lints` ignored by `clippy --fix`"
### Summary

While the `--cap-lints` flag is correctly taken into account when using `cargo clippy`, it is ignored when using `cargo clippy --fix`.

I'm not sure if the unexpected behaviour comes from the clippy driver or from `rustfix`, but passing the flags directly using `RUSTFLAGS` works as intended.

### Reproducer

I tried this code:

[code]
running: `cargo clippy --fix -- --cap-lints=allow`

[2022-10-24 14:13] kraktus commented on #8258
issue fixed upstream so I guess this one can be too?

[2022-10-24 14:21] flip1995 commented on #9703
If Clippy is not enabled, the arguments passed to Clippy are not forwarded to `rustc`:

https://github.com/rust-lang/rust-clippy/blob/5b09d4e1f7082aff024faf27263f78e7fc7190a2/src/driver.rs#L346-L351

This includes `--cap-lints=allow`. I'm not sure why that is the case and if we were to forward them, if it would be problematic.

It probably would break things, because then we would also forward lin

[2022-10-24 15:06] brennanvincent commented on #8777
Yes please -- buggy lints are worse than nothing IMO.

[2022-10-24 18:00] ViliamVadocz opened #9706 "Incorrect code suggestion when using if-let expression"
### Summary

Code suggestion causes code not to compile because the suggestion assumes if-let expressions work where normal conditions do, which is not the case.

### Reproducer

[code]

Clippy suggests the code below which does not compile.

[code]

`cargo check` output:
[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error +bool_to_int_with_if

[2022-10-24 18:01] ViliamVadocz commented on #9706
@rustbot +I-suggestion-causes-error

[2022-10-24 18:01] ViliamVadocz commented on #9706
@rustbot label +I-suggestion-causes-error

[2022-10-24 18:02] dboso commented on #9702
@rustbot claim

[2022-10-24 21:05] TennyZhuang commented on #9699
Oh, I check the wrong keyword.

I guess cycle is not covered, I’ll take a look!

[2022-10-25 00:29] #8600 closed

[2022-10-25 05:06] dtolnay opened #9710 "needless_borrow false positive: "use of moved value""
### Summary

Beginning in nightly-2022-10-25, the needless_borrow lint makes suggestions that involve changing a borrow to a move, even when a move would not be legal.

### Lint Name

needless_borrow

### Reproducer

[code]

[code]

After making the suggested change:

[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-10-25 05:08] dtolnay commented on #9710
Mentioning @smoelius @Jarcho who recently worked on this lint in #9136 and #9386.

[2022-10-25 11:41] #5325 closed

[2022-10-25 12:21] #2130 closed

[2022-10-25 12:21] #8512 closed

[2022-10-25 12:51] llogiq commented on #9699
Perhaps `maybe-infinite-iter` covers it, because it's not always clear whether an iterator is non-empty.

[2022-10-25 13:23] hellow554 opened #9713 "Suggest `Reverse` instead of casting number to signed counterpart and making it negative"
### What it does

I saw this real-world example today:

[code]

where `len()` returns a `usize`.

My suggestion would resolve it to this:

[code]

### Lint Name

negative_sort_by_key

### Category

correctness, suspicious, style

### Advantage

 - Removes uncessary cast
 - Removes panicable cast
 - Makes expression more clear

### Drawbacks

Importing the `Reverse` struct is necessary.

### Exampl

[2022-10-25 16:00] Nemo157 opened #9715 "`uninlined_format_args` main error message doesn't take specific macro into account"
### Summary

The first error message for uninlined args references the `format!` macro, even when it's not the `format!` macro that's being invoked.

### Reproducer

I tried this code:

[code]

I expected to see this happen: a warning about the use of a variable that could be inlined in `write!`

Instead, this happened: a warning about the use of a variable that could be inlined in `format!`

[cod

[2022-10-25 17:18] jswrenn opened #9716 "MSRV regression"
### Summary

A regression was introduced between `nightly-2022-10-24` and `nightly-2022-10-25` such that `uninlined_format_args` is no longer [respecting](https://github.com/rust-lang/rust-clippy/issues/7765) `rust-version` in `Cargo.toml`.

### Lint Name

uninlined_format_args

### Reproducer

[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-10-25 17:29] Alexendoo commented on #9716
Looks like it's correct here, the feature is older than you might think, it was added in `1.58` and the `rust-version` is set to `1.59`

[2022-10-25 17:56] Alexendoo commented on #8145
Fixed by #9707

[2022-10-25 17:56] #8145 closed

[2022-10-25 19:08] ijackson opened #9718 "single_component_path_imports with macros and $crate::"
### Summary

In exported macros, it is often necessary to write things like `$crate::some_other_crate::its_thing`, and arrange to reexport `some_other_crate`, to avoid imposing strange import requirements on other crates that use the macro.

If one writes a macro that is currently not exported, but one might want to export in the future, it is a good idea to do this, because nothing will spot a fa

[2022-10-25 19:08] ijackson commented on #8768
This happened to me too, while trying to work around a FP (#9718)

[2022-10-25 20:11] Nemo157 opened #9719 "`uninlined_format_args` misses multi-line macros"
### Summary

When the macro arguments span multiple lines they are missed by the lint.

### Lint Name

uninlined_format_args

### Reproducer

I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=94a3a685c73c4b177a7b72e2be5bc6c2)):

[code]

I expected to see this happen: an `uninlined_format_args` warning

Instead, this happened: no warning

### Ve

[2022-10-25 21:32] jswrenn commented on #9716
Oops! Apologies for my off-by-one error. :-)

[2022-10-25 21:32] #9716 closed

[2022-10-25 22:41] ebobrow commented on #9518
If I'm not mistaken, it looks like there are two issues here. Clippy's suggested code wouldn't even compile because the question mark returns the inner value of the `Result` while the original code returns a new `Result` (I think related to https://github.com/rust-lang/rust-clippy/issues/8281#issuecomment-1212597668). Do you have a reproduction where Clippy's suggestion is valid code, but we still

[2022-10-26 01:21] pitaj opened #9720 "New lint: `shorthand_bounds` - trigger if bounds are not in a `where` clause"
### What it does

This lint allows someone to require that all bounds must be placed in a `where` clause.

### Lint Name

shorthand_bounds

### Category

restriction

### Advantage

Useful for library authors to require a consistent bound style.

### Drawbacks

More verbose.

### Example

[code]

Could be written as:

[code]

[2022-10-26 03:35] SquareMan opened #9721 "Should assigning an unawaited future to `let _ = ...` be it's own lint?"
### What it does

I recently came across and fixed a bug in my code where I had an async function that returns a `Result` and meant to ignore the result so I used `let _ = ...`, but forgot to `.await` the function. ([link to full context](https://github.com/BfBB-Clash/BfBB-Clash/pull/107/files).

I know that lints like `let_underscore_drop` exist but this is quite broad and doesn't do what I would

[2022-10-26 04:55] jruderman opened #9724 "Incorrect `just_underscores_and_digits` warning for this broken code"
### Summary

With this erroneous code, Clippy says "consider choosing a more descriptive name" while pointing at a part of my program that isn't a name.

### Lint Name

just_underscores_and_digits

### Reproducer

I tried running `clippy-driver` on this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

"warning: consider choosing a more descriptive name" should not appear

[2022-10-26 05:17] jruderman opened #9725 "`match_single_binding` suggestion introduced an extra semicolon"
### Summary

Following the suggestion of `match_single_binding` would put two semicolons after a statement.

This is wrong-ish (it would cause rustc to emit "warning: unnecessary trailing semicolon").

### Reproducer

I tried `clippy_driver` on this code:

[code]

I got:

[code]

In the final suggestion, the final semicolon should be removed.

### Version

[code]

### Additional Labels

_No respon

[2022-10-26 12:24] kraktus commented on #9703
Interesting. I'm not well versed in the `rustfix` <--> `clippy` dance, so I don't know if suddenly taking those arguments into account would be considered a breaking change.

I think at least warning ignored arguments would make sense

[2022-10-26 21:08] cgzones opened #9727 "Incorrect fix for `uninlined_format_args` with unicode character"
### Summary

Nightly clippy fixes ``uninlined_format_args` incorrectly when a unicode character is involved:

### Reproducer

I tried this code (https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=795eeb30bacb8129ad8b2d07cfd2703c):

[code]

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-10-27 08:52] nbdd0121 commented on #7344
@rustbot claim

[2022-10-27 10:41] ijackson opened #9729 "semicolon_if_nothing_returned lint when future type inference fails with the semicolon"
### Summary

Using `semicolon_if_nothing_returned` can lead to clippy complaining that there ought to be a semicolon, in a location where placing one causes type inference to fail.

### Lint Name

semicolon_if_nothing_returned

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

Adopting the suggestion causes:

[code]

I expected to see this happen:

No complaint.

https://play

[2022-10-27 12:34] fenollp opened #9730 "Crash"
[code]
[code]
[code]
[code]

[2022-10-27 12:38] kraktus commented on #9730
Thanks for the report, are you able to share the code that lead to the ICE?

[2022-10-27 12:39] llogiq commented on #9730
I don't see anything clippy-related in that stack trace. Do you also get the same error with `cargo check` instead of `cargo clippy`?

[2022-10-27 14:40] fenollp commented on #9730
I'd have to work on minimizing this code to be able to share it, it's not public code.

Indeed a `cargo check` does not produce this crash (and passes without issue).

Even worse, running this same command after wiping `./target/`does not reproduce the issue.

[2022-10-27 15:13] llogiq commented on #9730
Ah, then it's likely some incremental compilation bug that is only exhibited by clippy.

[2022-10-27 15:40] melotic opened #9732 "Needless Result"
### What it does

There are some times, after refactoring, that a method signature returns a `Result`, but there is no other option in the code to return anything but `Ok` or `Err`.

A lint should (optionally) inform the user that the method signature should just return the result type `T`, or `E`. Take for instance this code:

### Lint Name

needless_result

### Category

pedantic

### Advantage

[2022-10-27 17:44] smoelius commented on #9732
I think this is [`unnecessary_wraps`](https://rust-lang.github.io/rust-clippy/master/#unnecessary_wraps)(?).

[2022-10-27 18:02] melotic commented on #9732
It’s pretty much identical, except that is only for Options.

[2022-10-27 18:26] melotic commented on #9732
Actually, @smoelius you're right! I wasn't enabling `pedantic`. Thanks!

[2022-10-27 18:26] #9732 closed

[2022-10-28 01:14] Pascal-So opened #9735 "Suggestion when calling `.extend(_.chars())` doesn't compile when slicing"
### Summary

Clippy suggests some code that doesn't compile due to mismatched types.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

Note that a borrow is missing, i.e. we are trying to pass `str` where a `&str` is expected. If we remove the slicing and instead write `s.extend(foo.chars())`, clippy suggests `s.extend(foo.chars()

[2022-10-28 04:27] wuyudi commented on #1720
In edition 2021, below works.

[code]

[2022-10-28 06:42] #7344 closed

[2022-10-28 09:11] dboso commented on #9702
Hello

This is my first issue working on clippy, so please bear with me
After having read the documentation and browsed the source code I have made some progress on the issue, unfortunately im stuck on the last part

Currently I have a lint that checks the following conditions
- is a method call
- the callee is of type `std::fs::Permissions`
- the called method is named `set_readonly`
- the method

[2022-10-28 11:03] Kixunil opened #9736 "Suggest implementing `IntoIterator for &'_ T` where `T` has `iter()` method returning an iterator (or vice versa)"
### What it does

If the trait implementation is missing it suggests adding it by forwarding to the method (can be automated).
If the trait implementation is present but the inherent method is not suggest adding it forwarding to trait implementation.
Same for mutable versions.

Both of these APIs are idiomatic.

Probably should be only triggered for public `T`.

### Lint Name

impl_iter_into_itera

[2022-10-28 11:38] Alexendoo commented on #9702
Hi, welcome to Clippy!

The most direct way would be to take a look at the expression's kind to see if it's an [`ExprKind::Lit`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/enum.ExprKind.html#variant.Lit), there you can check that the literal is a [`LitKind::Bool(false)`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_ast/ast/enum.LitKind.html#variant.Bool)

[2022-10-28 12:13] madsmtm opened #9737 "`bool_to_int_with_if` triggers in `const` contexts"
### Summary

The `From`/`Into` traits are not allowed in `const` contexts, so the lint triggering in those situations is undesirable.

### Lint Name

bool_to_int_with_if

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
The lint shouldn't trigger.

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-10-28 12:52] est31 opened #9739 "needless_borrow false positive: `if` and `else` have incompatible types"
### Summary

If you have a function accepting both a slice and an array, the `needless_borrow` lint suggests you to turn the slice into an array. Most times this works, but if you have an else/if with differently sized slices in the then/else bodies, applying the lint's suggestion causes a compilation error.

### Lint Name

needless_borrow

### Reproducer

I tried this code:

[code]

I saw this ha

[2022-10-28 12:52] est31 commented on #9739
@rustbot label +I-suggestion-causes-error

[2022-10-28 12:53] est31 commented on #9739
Duplicating the comment from [here](https://github.com/rust-lang/rust-clippy/issues/9710#issuecomment-1289988172) (this bug doesn't seem like a dupe):

Mentioning @smoelius @Jarcho who recently worked on this lint in #9136 and #9386.

[2022-10-28 15:58] tdkt opened #9742 "option_if_let_else doesn't seem to handle conditions on match patterns."
### Summary

This lint generates a suggestion that has a different logic from the original code. Probably this lint should not fire when the pattern isn't simple.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

Clippy to be happy.
Instead, this happened:

[code]

### Version

[code]

### Additional Labels

@rustbot label +`l-suggestion-causes-error`

[2022-10-28 18:25] dboso commented on #9702
Hi, thanks for the reply - very helpful, im learning a lot :-)

For this specific issue (please correct me if im wrong) the input argument to `set_readonly` can be many other things than a literal e.g. `Call`, `MethodCall`, `Unary`, etc..)

Is the idiomatic way to check for each scenario, and identify whether or not they result in a constant expression that always yields `false`

I see there alrea

[2022-10-28 18:48] Alexendoo commented on #9702
It could be, there is https://doc.rust-lang.org/nightly/nightly-rustc/clippy_utils/consts/fn.constant_simple.html

It's not a full const evaluator so it wouldn't be catching `[Method]Calls`, the main thing it'd get here would be `const`s but that isn't super likely to occur

[2022-10-28 22:55] #9735 closed

[2022-10-29 00:15] rick-kilgore opened #9746 "cargo clippy crashes on my package"
I went ahead and created a GitHub repo for my project so you can repro it: https://github.com/rick-kilgore/climom/tree/refactoring

[2022-10-29 01:09] #9710 closed

[2022-10-29 01:47] #9142 closed

[2022-10-29 05:42] Jules-Bertholet commented on #9427
This bug is not fixed.

[code]

warns on `clippy 0.1.66 (9565dfe 2022-10-28)`

[2022-10-29 09:40] #9737 closed

[2022-10-29 12:33] #9706 closed

[2022-10-29 12:34] Alexendoo commented on #9746
Could you show the output of running `RUST_BACKTRACE=1 cargo clippy`? I don't have a macos device to test this

[2022-10-29 14:09] kraktus commented on #9746
the output of `rustc -vV` would also be useful

[2022-10-29 14:11] kraktus commented on #9742
@rustbot claim

[2022-10-29 15:41] Jules-Bertholet opened #9748 "`unused_unit` false positive in combination with `#![feature(closure_lifetime_binder)]`"
### Summary

The [`closure_lifetime_binder`](https://github.com/rust-lang/rust/issues/97362) feature allows using `for<...>` to specify the lifetimes of closure arguments and return values, but this requires the types of the closure argument and return to be fully specified, including return types of `()`. Therefore, suggesting removing an `-> ()` from the closure causes an error.

### Lint Name

[2022-10-29 16:11] kraktus commented on #9427
can reproduce on master, will look at

[2022-10-29 16:24] #9730 closed

[2022-10-29 16:59] frewsxcv opened #9749 "Suggest `let...else` with `return` over `match` with `return`"
### What it does

Utilizes the [new `let...else` syntax](https://github.com/rust-lang/rust/issues/87335) when the user returns in the non-unwrapping case

### Lint Name

let-else-return

### Category

style

### Advantage

More concise

### Drawbacks

_No response_

### Example

[code]

Or

[code]

Could be written as:

[code]

Ideally this would also work with `Result`.

[2022-10-29 17:19] fritzrehde commented on #9560
I have encountered this problem as well.

[2022-10-30 01:36] est31 commented on #9749
I think you are looking for #8437. It is not in nightly yet, but will be after the the next clippy bump.

[2022-10-30 01:44] wuyudi opened #9751 "map + pow to successor + mul"
### What it does

Use successor instead of map of pow to calculate pow, etc.

### Lint Name

map_pow_to_successor

### Category

perf

### Advantage

- better perf, origin:  $O(n * \log(n))$   , if use exponentiating by squaring. Now:  $O(n)$

### Drawbacks

Longer code.

### Example

[code]

Could be written as:

[code]