[2020-11-26 10:45] iago-lito commented on #6385
Well, I'm curious about the process here, because I don't understand why the ability to add imports interferes :(

My understanding is that types are checked *before* mutability. If this is correct, then this lint appearing already *means* that the type is correctly qualified, so there is no need to query the current namespace, and just changing `&` to `&mut` should never generate a compile error,

[2020-11-26 11:11] ebroto commented on #6385
Oh my bad, ignore me, I confused this case with the case where we suggest something that may not be on scope.

This should be doable.

[2020-11-26 13:36] giraffate commented on #6383
Thanks for your report! This might have been fixed by https://github.com/rust-lang/rust-clippy/pull/6304.

[2020-11-26 14:22] flip1995 commented on #6383
Yep, this has fixed it. Thanks for noticing @giraffate. And thanks for all the triage work you're doing for Clippy in general! :heart: :crab:

[2020-11-26 16:20] matsujika commented on #6384
@taiki-e Thanks for filing the issue, it looks like [the match](https://github.com/matsujika/rust-clippy/blob/c7445d7f2c3eece2b9056d05ea92fb1d1112b3ca/clippy_lints/src/utils/visitors.rs#L101) needs an arm for `hir::ExprKind::Call`.
Will investigate further at the weekend.

[2020-11-26 18:59] pro-grammer1 opened #6387 "clippy_lints compile error due to unresolved import"
I would like to contribute, so I cloned the repo and ran setup-toolchain.sh, which worked. I then tried building clippy_lints, but ran into this error:
[code]
I haven't changed any code and I followed the Basics documentation, so I expected it to work. What am I doing wrong?

Also, is this the right place to ask this question?

[2020-11-26 20:36] Nicholas-Baron commented on #6383
@giraffate @flip1995
I updated clippy and it is still not fixed for me.
New output:
[code]

New backtrace:
[code]

[2020-11-26 20:55] camsteffen commented on #2534
Some cases to include

[code]

[2020-11-26 21:01] #6122 closed

[2020-11-26 22:05] ebroto commented on #6324
I started writing a tool that does exactly this, but never finished it :sweat_smile:. In case it can help, it can be found [here](https://github.com/ebroto/cargo-minver) (forgive the missing README, this was never published :)

So, to give my 2 cents about what implementing this would imply. Checking library stability is kind of straightforward, there's a specific query in the type context (`looku

[2020-11-26 23:36] giraffate commented on #6383
Thanks for your new report! In `rust-lang/rust` at `bd26e4e`, it looks like https://github.com/rust-lang/rust-clippy/pull/6304 wasn't still synced back to `rust-lang/rust`. So I guess this will be fixed if syncing back process is done.

[2020-11-26 23:46] giraffate commented on #6350
This is similar to https://github.com/rust-lang/rust/issues/78823. I guess this doesn't seem to be a Clippy bug.

[2020-11-27 01:18] giraffate commented on #6387
Oh, it's not your fault. We seem to need the sync process from `rust-lang/rust`.

[2020-11-27 01:47] giraffate commented on #6387
The sync process will be done by https://github.com/rust-lang/rust-clippy/pull/6389. So, please wait until this is merged.

[2020-11-27 05:10] elpiel commented on #6350
Ok, thanks! I'm closing this issue and will follow up the issue you provided.

[2020-11-27 05:10] #6350 closed

[2020-11-27 07:25] pro-grammer1 commented on #6387
Ok, everything seems to be working now. Thank you.

[2020-11-27 07:25] #6387 closed

[2020-11-27 08:56] sebschmi opened #6391 "Lint to prevent people from indexing a string via iterator.nth(i)"
### What it does

It is possible to access the nth byte of a string using `string.bytes().nth(i)`. But in case of `i = 0` this collides with the lint iter-nth-zero.
Alternatively one could write `string.as_bytes().get(1)`, which does not produce any clippy warnings. This code is equivalent to the code above in what it does.

### Categories (optional)

- Kind: maybe `clippy::style` and maybe `clipp

[2020-11-27 09:07] flip1995 commented on #6381
@nico-abram Yeah sure go ahead. Make sure you take a look at the documentation in the `doc/` dir. If you have any questions, Zulip is probably the fastest way to get an answer. Otherwise open a WIP PR or ask here.

[2020-11-27 17:07] llogiq commented on #6366
`clippy::sus` is genius! I want it!

And I fully agree with you on nursery. I still think that allow-by-default lints are probably underused, so there's less value in adding more categories there (though I may reconsider if someone shows me a suitable category) than in filling holes in our warnings categories.

[2020-11-27 18:04] lopopolo opened #6393 "Suggest Option::as_deref{_mut} when calling Option::as_{ref,mut} on Option<Box<T>>"
### What it does

Suggest replacing calls to `Option::<Box<T>>::as_ref` and `Option::<Box<T>>::as_mut` with calls to `Option::<Box<T>>::as_deref` and `Option::<Box<T>>::as_deref_mut`.

Calling `as_ref` and `as_mut` on an `Option<Box<T>>` results in  `&Box<T>` or `&mut Box<T>`, which are references to a pointer, or a double indirection. Changing these `Option::as_ref` and `Option::as_mut` calls to

[2020-11-28 01:11] nico-abram commented on #6381
I have a basic form of this that just checks for the count parameter being size_of or size_of_val, or a series of multiplications which involves size_of or size_of_val (With the pointee type of the copy). Is checking for multiplications fine? Should I also check for any other binary expressions? (Like divisions)

[2020-11-28 01:13] thomcc commented on #6381
It's probably dubious to use it in any case but you should definitely check for `copy(a, b, size_of::<T>())` (e.g. implicit multiplication by 1).

[2020-11-28 01:20] nico-abram commented on #6381
Yeah that's the first case I looked for. This is what I have right now for checking that:

[code]

With these test cases:
[code]

I think I'll open a PR soon

[2020-11-28 07:13] llogiq commented on #6372
I really hope that we get some safe transmutes soon-ish.

[2020-11-28 07:28] #6321 closed

[2020-11-28 08:04] llogiq commented on #6326
In that case, the arena implements mutual exclusion without a Mutex or RwLock?

[2020-11-28 08:15] llogiq commented on #758
Yes, errors might compound.

[2020-11-28 08:38] #6039 closed

[2020-11-28 10:02] jasoncarr0 commented on #6326
@llogiq it does not matter how the arena implements this. For me, this error occurred as a _user_ of an Arena type.

Both bumpalo and typed-arena use !Sync primitives (Cell/RefCell), rather than Mutex/RwLock.

[2020-11-28 10:07] jasoncarr0 commented on #6326
Ah, okay I think I understand your question. Mutual exclusion is guaranteed because the data is disjoint and the unique reference to it is given at allocation.

[2020-11-28 13:22] flip1995 commented on #6366
Hmm... @rust-lang/clippy Do you have ideas how to name a warn-by-default `correctness` group? (Or any objections, why we shouldn't introduce such a group?)

---

I mean, those are not mutably exclusive. I don't want to introduce completely new allow-by-default categories, but use the categories we already have to bring structure to the `pedantic` group.

[2020-11-28 14:20] ebroto commented on #6366
I've always liked `suspicious`, but `sus` would be OK I guess, although I'm not sure if that will age well :) Another possibility inspired by `clang-tidy` would be `bugprone`, although it might not be a good fit for all cases. `dubious` is another option.

I think we really want that warn-by-default category, regardless of the name, as the need for it has popped up multiple times.

---

IMO splitt

[2020-11-28 14:27] ebroto commented on #6366
To be more clear about my last point: we should be more strict about FP rate, `pedantic` should not be about FP rate, that's the `nursery`'s job.

[2020-11-28 15:38] llogiq commented on #6366
@ebroto agreed, but let's be clear here that we will allow *some* FPs if and only if those are only triggered in a niche inhabited by experts who know when to `#[allow(..)]` and it's unduly hard to rule them out *and* the majority of users reaps sufficient benefits to tip the scale.

Otherwise we'd run the risk of making those lints allow by default and only the few who bother to activate them wil

[2020-11-28 17:20] matthiaskrgr commented on #6383
Yeah, can't reproduce when using latest clippy from this repo on the rustc repo via `x.py clippy`.
I would personally close this as "fixed upstream"( = in this clippy repo).

[2020-11-28 17:53] flip1995 commented on #6383
How do you do this? When I tried it, I got the classic "has to have a known size at compile time" errors. I tried to run `./x.py clippy` after installing it from the Clippy repo `cargo +master install --path . --force`.

[2020-11-28 17:53] #6383 closed

[2020-11-28 18:17] rajcspsg commented on #6357
PR for this issue is here https://github.com/rust-lang/rust-clippy/pull/6398

[2020-11-28 19:57] Manishearth commented on #6366
"suspicious" seems okay to me actually. Alternatively we can have the `correctness` group be a mix of levels, there's nothing wrong with that i think.

[2020-11-28 20:32] llogiq commented on #6366
I think keeping the lint groups distinct makes things easier for the user. Especially when configuring lint levels per group.

[2020-11-28 21:42] llogiq commented on #6326
Why would a *user* of an arena get this error? Can you show or link a code example?

[2020-11-28 21:58] #5354 closed

[2020-11-28 22:15] jasoncarr0 commented on #6326
I think the unintuitiveness you're hitting on is exactly why I was surprised to see this. :grinning:
It triggers because this triggers only based on interface: if you return a &mut reference with same lifetime as a & shared source and no mutable reference is used to create it, then this will trigger, regardless of what means you got the reference from.

I have some code which uses an arena to allo

[2020-11-28 22:19] #6289 closed

[2020-11-28 22:41] #6384 closed

[2020-11-28 22:42] camsteffen opened #6399 "Lint: is_ascii_digit instead of is_digit"
### What it does

Finds usages of `is_digit` that can be replaced with `is_ascii_digit` or `is_ascii_hexdigit`.

### Categories (optional)

- Kind: style

It is simpler since the radix does not need to be specified.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2020-11-29 00:39] #3209 closed

[2020-11-29 01:26] rajcspsg commented on #6399
can I work on this issue?

[2020-11-29 02:29] camsteffen commented on #6399
@rajcspsg go for it!

[2020-11-29 09:01] llogiq commented on #6326
Where does `alloc.alloc` in your example come from? Or would it need to be `arena.alloc`? I have a hunch we could fix this false positive by checking within the function if there is a *method call* that does the conversion.

[2020-11-29 09:28] jasoncarr0 commented on #6326
Sorry, typo. it's arena.alloc. I renamed to be a bit more clear and missed that

[2020-11-29 16:22] phansch commented on #6357
Closed via #6398

[2020-11-29 16:22] #6357 closed

[2020-11-29 19:26] matthiaskrgr commented on #6366
I also think that a `suspicious` lint group makes a ton of sense.
There are probably a bunch of cases where clippy wants to express something, "Hey, please have a look here, this might be a bug but please don't blame me if I'm wrong because static analysis can only know so much...".

[2020-11-29 20:10] flip1995 commented on #6366
I'm also good with `suspicious`. So should we go ahead and implement this?

[2020-11-29 21:28] matthiaskrgr commented on #6383
I get the latest master toolchain `rustup-toolchain-install-master -n master  -f  -c rustc-dev llvm-tools rust-src clippy`
I compile clippy with that `cargo +master build --release`
I "install" that clippy into the master toolchain `cd target/release;  cp -f cargo-clippy clippy-driver ~/.rustup/toolchains/master/bin`
I set the master toolchain as default temporarily `rustup default master`
Then I

[2020-11-29 21:54] camsteffen commented on #5218
Wouldn't this remove short-circuiting?

[code]

[2020-11-30 08:52] phansch commented on #5394
I'm going to work on adding the `bless` subcommand to `clippy_dev` this week.

[2020-11-30 12:53] Kixunil commented on #2848
Some additional thoughts on this:

* This helps with versioning
* It might be useful to also reexport features of libraries that appear in the interface. Can clippy look at `Cargo.toml`?

[2020-11-30 17:24] camsteffen commented on #6366
Perhaps name the group `suspect` as in "this code is suspect".

I think there are 3 orthogonal attributes at play:

1. Is this about code `style`, `performance` or is there risk of a logic error (`correctness`)? (`complexity` seems like a sort of intersection of style and performance)
1. How much? For style, how picky? For performance, how much impact? For correctness, how much risk?
1. How _confi

[2020-11-30 17:34] mahkoh commented on #5787
Parameter lifetimes cannot be elided in async functions:

[code]

Note that this only applies to async functions.

[2020-11-30 17:47] mahkoh opened #6405 "len_zero for > 0 is not objectively correct"
Clippy suggests

[code]

but

[code]

is harder to read and comprehend than the original:

1. It includes a double negation
2. The `!` is far away from the verb `is_empty`. It's easily overlooked.
3. `!` is in the wrong position grammatically.

I would suggest splitting `len_zero` in two parts and disabling it by default for `> 0`.

Furthermore, maybe add a lint against prefix `!` in combination w

[2020-11-30 18:11] camsteffen commented on #6075
Related #3032

I agree that the lint is too aggressive. Here is an example I came up with. It may be a little contrived, but I think it illustrates the problem. The loop is not primarily a loop over the `Vec`. The fact that the counter variable is used to index a `Vec` is just an implementation detail. So I think the lint should not fire if the counter is used in any other way.

[code]

[2020-11-30 18:24] camsteffen commented on #5932
This could be generalized to suggest `iter.count() > 0` -> `iter.next().is_some()` in some cases.

[2020-11-30 19:28] scottmcm opened #6406 "Suggest changing `&mut Vec<_>` parameters to `&mut [_]` when only slice methods are used."
This mistake comes up fairly frequently on URLO, such as
https://users.rust-lang.org/t/iterators-vs-index-loops-performance/52131?u=scottmcm
https://users.rust-lang.org/t/we-all-know-iter-is-faster-than-loop-but-why/51486/3?u=scottmcm

### What it does

- For a free function or inherent method that takes `&mut Vec<_>` ~~or `&Vec<_>`~~ [ed: the `&Vec<_>` one already exists]
- But only uses it via i

[2020-11-30 20:04] Volker-Weissmann commented on #6406
I think its better if clipyy suggests using an iterator over the Vector. Changing a vec to an array might involve more code change than chaning a loop to an iterator.

[2020-11-30 20:12] scottmcm commented on #6406
Note that I'm not suggesting an array here, but a slice -- which is what code like `.len()` on a `Vec` is actually already using.

clippy will already suggest replacing the indexing with `.iter_mut().enumerate()`, but even with that change the parameter type should still change.

[2020-11-30 22:25] camsteffen commented on #6393
So basically you have a binding of type `&Box<T>` and the binding is dereferenced multiple times.

There are many ways to produce a `&Box<T>` so I don't think it would be worth while to detect the specific case with `Option::as_ref`. We could instead suggest to simply deref before assignment: `let state = &*..;`. And, as your comment indicates, It should only lint if the binding is actually used (

[2020-11-30 23:16] Volker-Weissmann commented on #6406
Ok. But I think that proposing `.iter_mut().enumerate()` is better than proposing taking a slice, because the latter is probably the bigger change.

[2020-11-30 23:26] scottmcm commented on #6406
I see this as a _both_, not an either-or.

I totally agree that
[code]
should change to
[code]
But this issue is just about one part.  They're separable.

[2020-11-30 23:31] ebroto commented on #6406
@Volker-Weissmann it does not require a change other than the type of the function parameter:
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5656be7347c4ca324448911f1c78ef89))

You can see in the playground too that Clippy will already suggest `.iter_mut().enumerate()`.

[2020-12-01 01:46] kentfredric commented on #6324
This is the sort of situation where striving to be a perfect solution robs us of a useful solution.

Sure, being able to test *all* the things would be nice to have, but if that's not viable, then a less comprehensive thing is still helpful.

At least with regards to "let the contributors test this themselves and locally run `cargo clippy` and make it happy".

Targeting the most common and most us

[2020-12-01 02:24] giraffate commented on #6405
@rustbot modify labels: +A-suggestion

[2020-12-01 03:40] taralx commented on #6372
Maybe, but in the mean time, what's the right option here? Maybe this should be disabled by default?

[2020-12-01 08:40] ebroto commented on #6324
Of course! My intention was not to dismiss the idea, just to explain the difficulties I found in case someone wants to try :)

IMO this can get big enough to do it as a separate tool, but I may be mistaken.

[2020-12-01 16:40] ebroto commented on #6405
Thanks for taking the time to report this!

I'm not sure about this one. I agree with the lint documentation and think the lint is relevant also for the `> 0` cases. I will add the `needs-discussion` tag so other people can give their opinion, but I would prefer that the lint stays like it is today.

---

I don't think the quality of being empty qualifies as a negation.

IMO this is a good candida

[2020-12-01 16:49] mahkoh commented on #6405
You're right. I think what I meant to say is that `x.len() > 0` is a *positive* expression whereas `!x.is_empty()` is a *negative* expression. I think positive expressions are significantly easier to understand than negative ones.

Very true unfortunately. I've taken to writing `ptr != ptr::null()` instead of `!ptr.is_null()` because the `!` is too flimsy for my taste and there is no `ptr.is_not_n

[2020-12-01 18:04] woodruffw opened #6409 "Lint idea: suggest std Error trait for custom errors"
### What it does

Libraries regularly implement their own error types, frequently as `enum` wrappers around dependency-specific errors.

Other libraries like [anyhow](https://github.com/dtolnay/anyhow) exist to make error handling in application code simpler, at least for error types that implement `std::error::Error`.

However, when wrapping/writing custom error types for a library, it's easy to

[2020-12-01 19:14] NoraCodes opened #6410 "Lint Suggestion: reimplementing .and_then with Some(x?)"
### What it does

Suggest `option.and_then(|value| value.inner_option)` instead of `option.and_then(|value| Some(value.inner_option?))`

### Categories (optional)

- Kind: style or complexity

*What is the advantage of the recommended code over the original code*

There's no reason to take an option, wrap it in another option, and use ? to short-circuit. `and_then` will work fine without it, and i

[2020-12-01 19:29] khuey opened #6411 "-A clippy::unknown_clippy_lints should apply to lints passed on the command line as well"
Allowing clippy::unknown_clippy_lints is great for environments with heterogeneous rustc/clippy versions but it only applies to lints mentioned in attributes, not those mentioned on the command line.

I can't actually find the code that generates the message that appears on the command line when I pass in `-A clippy::nonexistent_lint`. Perhaps it's not in clippy at all?

[2020-12-01 20:22] flip1995 commented on #6411
@khuey This sounds, as if it is related to this: https://github.com/rust-lang/rust/issues/69453 Currently passing clippy lints over the command line is broken.

[2020-12-01 20:28] camsteffen commented on #296
Fixed by #452?

[2020-12-01 23:30] giraffate commented on #6409
A little difference but similar to https://github.com/rust-lang/rust-clippy/issues/1291.

[2020-12-02 00:15] #296 closed

[2020-12-02 09:01] flip1995 commented on #6406
Clippy already suggests changing `&Vec<..>` to `&[..]`: [ptr_arg](https://rust-lang.github.io/rust-clippy/master/index.html#ptr_arg)

But it intentionally doesn't lint `&mut` args. We could start linting those to with the check for only-slice-methods.

[2020-12-02 09:09] flip1995 commented on #6405
This came up before and the result of the discussion was: `!...is_empty()` is a pretty common pattern and therefore it is ok to suggest this. However, some people don't agree with this style, and we suggest to `allow` this lint in those situations.

I can't find the issue about this though...

[2020-12-02 17:13] mahkoh commented on #6405
I've hit it with the big hammer: https://crates.io/crates/isnt

With this, the immediate issue is solved. If someone still wants to address the "! in front of a long expression" question, please open a new issue.

[2020-12-02 17:13] #6405 closed

[2020-12-03 01:53] khuey commented on #6411
Yeah I think that's right.

[2020-12-03 09:02] pravic commented on #2928
Also, [now it recommends](https://rust-lang.github.io/rust-clippy/master/index.html#expect_fun_call) the example for [`Option::unwrap_or_else()`](https://doc.rust-lang.org/nightly/std/option/enum.Option.html#method.unwrap_or_else) however [`Result::unwrap_or_else()`](https://doc.rust-lang.org/nightly/std/result/enum.Result.html#method.unwrap_or_else) takes an additional parameter.

So, the docs sh

[2020-12-03 09:04] twmsh opened #6414 "panicked at 'called `Option::unwrap()` on a `None` value'"
[code]

[2020-12-03 09:07] flip1995 commented on #6411
Ok, closing this then, because this is something that has to be fixed in rustc. Not much we can do in Clippy, sorry :neutral_face:

[2020-12-03 09:07] #6411 closed

[2020-12-03 09:12] flip1995 commented on #6414
Does this also happen with `cargo check`? I don't see a reference to Clippy in the backtrace. Can you provide a minimal example where this happens? If not, can you share the crate/code where this happens?

[2020-12-03 09:47] #6306 closed

[2020-12-03 09:47] #1252 closed

[2020-12-03 09:47] #2521 closed

[2020-12-03 19:41] cppforliving commented on #5787
It seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/4746

[2020-12-03 22:18] jyn514 commented on #6414
This is a duplicate of https://github.com/rust-lang/rust/issues/79661.

[2020-12-03 22:20] #6414 closed

[2020-12-03 22:23] jyn514 opened #6417 "unnecessary_wraps has various bugs"
I tried this code: https://github.com/rust-lang/rust/blob/5be3f9f10e9fd59ea03816840a6051413fbdefae/compiler/rustc_data_structures/src/graph/scc/mod.rs#L268

I expected to see this happen:

1. `unnecessary_wraps` should not fire, because this is a trait implementation and the trait should not be changed.
2. If `unnecessary_wraps` does fire, the suggestion should be correct.

Instead, this happened:

[2020-12-03 22:26] jyn514 commented on #6417
Another similar issue: https://github.com/rust-lang/rust/blob/5be3f9f10e9fd59ea03816840a6051413fbdefae/library/test/src/cli.rs#L400-L404

[code]

[2020-12-03 22:27] jyn514 commented on #6417
I think in general this lint shouldn't be marked MachineApplicable, since you need to update all callers as well.

[2020-12-04 01:04] #6381 closed

[2020-12-04 01:18] scottmcm commented on #6406
Thanks, @flip1995 -- I hadn't checked that one.  I've edited the OP.

[2020-12-04 08:59] flip1995 commented on #6417
The code you linked isn't a trait implementation. Did you accidentally link the wrong code? I just verified, that it doesn't trigger on trait impls/defs: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c8d8d63b6256132f0eeaa57a10e5521b). I remember leaving this exact review.

The suggestion looks correct to me. It suggests to remove the Option around the return

[2020-12-04 09:09] flip1995 commented on #4746
Closing as duplicate of #5787, which has some more examples

[2020-12-04 09:09] #4746 closed

[2020-12-04 09:10] flip1995 commented on #5787
Copying my comment from the other issue:

Reproducer: [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a9f7bff50abfd42f0b0a2d90829ab44c)

[code]

This is a self contained reproducer.

[2020-12-04 13:27] xFrednet commented on #4176
Hey, I would take this issue up if that's okay? :)

How should the lint be split up? We could simply have one for the integer and one for the fraction part like this:

Example:
[code]

The only drawback I see is that it would give two message for the example number because it would violate the integer and the fraction lint. This would probably give an output like:

[code]
I can probably implement

[2020-12-04 13:38] jyn514 commented on #6417
Oops, you're right, sorry. I got confused by all the `where` bounds 😅

The suggestion shown is correct, but the suggestion applied is not. Maybe this is a rustfix bug? It only applied the second suggestion, not the first.

[2020-12-04 14:45] flip1995 commented on #6417
Nah, it's something I missed during review. The suggestions this produces are split up in multiple calls to `diag.span_suggestion(..)` which had different applicabilities. #6418 sets the applicability of every suggestion to `MaybeIncorrect`, which should solve this issue.

[2020-12-04 15:25] flip1995 commented on #4176
No that I'm over 1 year older and wiser, than at the time of my previous comment, I would not split this lint up into 2. Instead we should add a configuration option "lint_fractional" or a better name), which by default is `true`. People who don't like this behavior can then specify, that this lint should not lint on the fractional part and the problem you noticed @xFrednet goes away.

[2020-12-04 15:30] xFrednet commented on #4176
That sounds like a better plan 👍 . I'm also up to implement that option it that's okay? Could you maybe point me to a different lint that uses an option as a reference? 🙃 @flip1995

[2020-12-04 15:52] flip1995 commented on #4176
Sure! Here's a PR, that added a configuration option: https://github.com/rust-lang/rust-clippy/pull/5761/

Some other things were done in this PR. Basically what you have to do is add the option in `conf.rs`, then give it to the lint struct in `lib.rs` and last but not least change the lint, so that it checks for this configuration. You can test configuration options by adding a test dir to `tests

[2020-12-04 19:21] kvrhdn opened #6420 "Warning about needless collect but suggestion does not compile"
Clippy warns about a needless collect, but the suggested code does not compile.

I have something similar to this code (condensed):

[code]

Suggestion from clippy:
[code]

This suggestion will not compile because `maps.keys().copied()` borrows the map.

Full code example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=711425060fb8ac794003067454010a69

**Expectation**: the

[2020-12-04 23:26] jhpratt opened #6422 "Disable `empty_enum` lint on stable (or change recommendation)"
Currently the [`empty_enum` lint](https://rust-lang.github.io/rust-clippy/master/index.html#empty_enum) recommends using the seemingly forever-unstable never type. While the never type may have better compiler support _in some aspects_, the suggested change to use a wrapper type around `!` obviously isn't possible on stable.

I'm not sure whether clippy currently has the ability to have nightly-on

[2020-12-05 09:03] #6417 closed

[2020-12-05 11:29] meltinglava opened #6423 "false negative on clippy::filter_next when filter and next wraps map"
False negative when filter and next is wrapped around a map.

There might be a few other methods like map that will have the same effect.

I tried this code:

[code]

I expected to see this happen: Clippy to suggest
[code]
Instead, this happened: Nothing

### Meta

- `cargo clippy -V`: e.g. clippy 0.0.212 (1c389ff 2020-11-24)rust
- `rustc -Vv`:
[code]

[2020-12-05 14:48] giraffate commented on #6420
@rustbot modify labels: +L-suggestion-causes-error

[2020-12-05 15:50] flip1995 commented on #6420
Couldn't you use the ``filter`` method instead? So fileter the map and collect the remainders afterwards. (I just assume here, that in your actual code, you don't remove each element one by one, but only if some condition is met).

[2020-12-05 15:51] flip1995 commented on #6423
We could even suggest using `find_map` here.

[2020-12-05 16:05] meltinglava commented on #6423
#4193 will have the same prolem here. I think its always safe to suggest find, and when the conservativness of find_map is figured out it can be applied here.

[2020-12-05 16:19] kvrhdn commented on #6420
Yeah, that would be better in most cases, but the actual code is more complicated unfortunately.

In my case I want to loop over all keys of the map and for every key delete and add entries into the map until there is only one key left.
Actual code is posted here: https://github.com/kvrhdn/Advent-of-Code/blob/main/advent-of-code-2019/src/day14.rs#L60-L116, this is a solution for the [Advent of Cod

[2020-12-05 23:58] xFrednet commented on #6385
I could reproduce the suggestion with the full type specification in the [Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=855611f02ad974c54ab621de0041c2aa). The message that this suggestion most likely originates from is:

[code]

I couldn't find the message in the clippy code base. However, I found it in the rustc code in [diagnostics/mutability_errors.rs

[2020-12-06 07:38] #4176 closed

[2020-12-06 12:58] flip1995 commented on #6341
So if you look at the error message carefully, you'll see, that this lint doesn't complain about the fractional part, but about the exponent part for some reason:

[code]

If you change `...E-03` to `...E-3` it stops complaining. This is definitely a bug, because this lint should not get triggered by the exponential part.

[2020-12-06 13:10] flip1995 commented on #6323
IMO, the lint behavior is correct to lint this. You usually want rustc to tell you if something is added to a struct.

I think the best thing we can do here would be to not trigger on structs that are marked as `non_exhaustive`.

[2020-12-06 14:43] xFrednet commented on #6286
I would try to implement this 🙃. But I have some questions beforehand if you don't mind:
1. Should the lint include all traits that have an operation bound to them or do we want to focus on a specific subset?
    *  I'm in favor of having one lint for all of them. The title also suggest this.
2. Do we maybe want to add a configuration to enable/disable specific operations?
3. Should this be a styl

[2020-12-06 14:46] NieDzejkob commented on #6286
`Deref` feels like something one could want to use as a function. Also, isn't the operator for `BitXor` a  `^`, not `~`?

[2020-12-06 14:53] xFrednet commented on #6286
The operator was wrong thank you @NieDzejkob for pointing that point. I agree that you might want to use `Deref` as a function. This could maybe be a new lint :).

I've updated my comment with the correct operator and the `Deref` operator in a new list that is excluded from this lint.

[2020-12-06 15:48] kangalioo opened #6425 "Suggest handling case insensitivity on .ends_with(".ext")"
### What it does

When `.ends_with()` is called on a String or &str, and the parameter looks like a file extension (regex `\.([a-z0-9]{1,5})|([A-Z0-9]{1,5})`), inform the programmer that this code will not handle differently-cased filenames well -  potentially a bug. Additionally, a correct replacement is suggested (see below).

### Categories

- Kind: `clippy::pedantic` or perhaps `clippy::correc

[2020-12-06 16:51] kangalioo opened #6426 "Replace self-calling closures with try blocks (once stabilized)"
### What it does

In one of my codebases, I regularly used lambdas and immediately called them, to handle nested optional types:
[code]
Once [try blocks](https://doc.rust-lang.org/beta/unstable-book/language-features/try-blocks.html) are stabilized, this can be done much cleaner and more idiomatically:
[code]

Another example:
[code]

### Categories

- Kind: `clippy::style` or `clippy::complexity`

[2020-12-06 18:05] flip1995 commented on #6425
If we should lint this, we should only lint the case, where `filename` is a `Path`. If we would also lint strings, this will have too many FPs, I think.

[2020-12-06 18:26] kangalioo commented on #6425
So like, the lint should trigger only on this kind of thing?
[code]
Probably nobody is going to write this code, because `ends_with` on Path doesn't work with the file extension at all. So the above code would fail to return the expected value for almost _all_ inputs, so the programmer will know by themselves that they did something wrong.

The reason for this is that `Path::ends_with` [only consi

[2020-12-06 18:51] flip1995 commented on #6425
Oh, yeah you're right. Don't know what I was thinking here 😅 Anyway, I would classify this lint as `pedantic` then and suggest to use the `Path` methods instead.

[2020-12-06 19:15] kangalioo commented on #6425
You mean, keep the original proposed behavior of triggering on `str::starts_with`, and classify as `pedantic` to not annoy regular users with false positives?

[2020-12-06 20:22] flip1995 commented on #6425
Yes. And if on nightly suggest to convert the string to a path and suggest the path method.

[2020-12-06 23:56] giraffate commented on #6259
https://github.com/rust-lang/rust-clippy/issues/3155 is also a related issue.

[2020-12-07 01:08] EndilWayfare commented on #6341
OOOH, you're totally right. I was so fixated on the underscores that I didn't notice the zero.

I imagine it's because "precision" is being measured by "count all digit characters in literal after the decimal point"?

[2020-12-07 02:48] GG-Sheridan commented on #6352
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-12-07 08:40] iago-lito commented on #6385
@xFrednet Well, I'm confused, since I don't actually read the full type spec in your playground, or in your snippet, I read `&mut Vec<u8>` where full type spec would be `&mut std::vec::Vec<u8>`.

This said, I can reproduce in your playground if I eventually click `clippy`, so I think the problem does belong to this repo, here's what happens to me:
- navigate to [your playground](https://play.rust-

[2020-12-07 09:43] jan-auer opened #6427 "unnecessary_wraps is too strict"
The recently introduced `unnecessary_wraps` lint is quite strict, and sometimes the affected function cannot be refactored. An example is when the function is used for `#[serde(default)]`:

[code]

It is a bit unfortunate having to allow the clippy lint explicitly. I was wondering if you would consider to add a function naming pattern that ignores the lint, such as an `_opt` suffix or a `try_` pre

[2020-12-07 11:02] SOF3 opened #6428 "Do not report as_conversions for coercions"
The use of `as` is discouraged when it is semantically unclear, such as conversion between numeric types. However, when it is used as a coercion, there is no better concise way to indicate the desired semantics.

For example, the following examples are legitimate:

[code]

I understand that `as_conversions` is set to `allow` for these reasons. However, i wish to set `warn(as_conversions)` at the c

[2020-12-07 11:11] Swatinem commented on #6427
Or instead of heuristics based on name, when the function is passed as a callback that expects an `Option` or `Result` signature, this should be allowed.

For example:

[code]

[2020-12-07 11:23] xFrednet commented on #6385
Ohhh yes you're completely right. I mixed up the output from `Run` and `Tools -> Clippy` because they looked so similar. Thank you for pointing that out @iago-lito!

Than it's most likely a problem with Clippy or with the combination of the two. I'll try to look into this in a week or two. Someone else can also take this issue if it sounds interesting :)

[2020-12-07 11:30] Veetaha commented on #5987
This is a duplicate of https://github.com/rust-lang/rust-clippy/issues/5987
I suggest proceeding with discussions there

[2020-12-07 11:30] #5987 closed

[2020-12-07 11:31] Veetaha commented on #2387
See additional discussions in the duplicate issue https://github.com/rust-lang/rust-clippy/issues/5987

[2020-12-07 12:51] Kixunil commented on #2387
Note that the claim that `String: From<Cow<'_, str>>` allocates is [no longer true](https://doc.rust-lang.org/src/alloc/string.rs.html#2335-2339)

[2020-12-07 13:11] H2CO3 commented on #2387
@Kixunil it is not `String: From<Cow<str>>` that is of concern here; instead, it is only [`Cow: ToString`](https://doc.rust-lang.org/src/alloc/string.rs.html#2228) which has no choice but to allocate.

[2020-12-07 13:41] dvc94ch opened #6429 "Better testing of clippy lints before enabling them by default"
`needless-collect` and `mutable-key-type` are two recent examples or buggy lints.

[2020-12-07 13:45] Kixunil commented on #2387
Ah, I misread that code in the serde issue.

[2020-12-07 15:43] #6343 closed

[2020-12-07 23:06] vanillajonathan opened #6430 "New lint: missing_panic_doc"
### What it does

Checks for missing documentation.

### Lints

- Module not documented.
- Trait not documented.
- Trait method not documented.
- Enum not documented.
- Enum variant not documented.
- Struct not documented.
- Struct method not documented.
- Function not documented.
- Panic not documented.
- README.md missing.

[2020-12-07 23:33] giraffate commented on #6430
FYI rustc has a [`missing_doc`](https://doc.rust-lang.org/rustdoc/lints.html#missing_docs) lint and Clippy has a [`missing_docs_in_private_items`](https://rust-lang.github.io/rust-clippy/master/#missing_docs_in_private_items).

[2020-12-07 23:36] #6082 closed

[2020-12-07 23:42] giraffate commented on #6427
@rustbot modify labels: +L-enhancement

[2020-12-07 23:44] vanillajonathan opened #6431 "New clippy::cargo-toml lint category"
### What it does

Lints the `Cargo.toml` manifest file and make sure everything is alright.

### Lints

- Cargo.toml — file is missing.
- Cargo.toml — file is misnamed, maybe "cargo.toml or "CARGO.toml", etc
- package.name — starts with contains "use", "using" or "with"
- package.name — contains characters not allowed
- package.version — does not follow semantic versioning
- package.authors — at l

[2020-12-07 23:54] giraffate commented on #6431
FYI Clippy has a [`cargo_common_metadata`](https://rust-lang.github.io/rust-clippy/master/#cargo_common_metadata).

[2020-12-08 01:15] #112 closed

[2020-12-08 01:19] taiki-e commented on #6431
IIUC `cargo_common_metadata` is for detecting the lack of fields [recommended to include](https://rust-lang.github.io/api-guidelines/documentation.html#c-metadata), not for detecting whether the specified field is valid. I don't think there is lint that detects invalid fields (at least in `clippy::cargo` group).

I find some of these useful, but some feel subjective, so I would suggest separating

[2020-12-08 01:33] taiki-e commented on #6430
As Clippy has [a similar lint for functions that return errors](https://rust-lang.github.io/rust-clippy/master/#missing_errors_doc), I think it makes sense to have a lint for functions that may panics.

I think these are detected by `missing_doc` and `missing_docs_in_private_items` that @giraffate mentioned.

I think this is covered by `cargo_common_metadata`. (aside from whether it will be used f

[2020-12-08 11:18] vanillajonathan commented on #6431
The package manifest states that `package.name` must use only alphanumeric characters or `-` or `_`, and cannot be empty. ([ref](https://doc.rust-lang.org/cargo/reference/manifest.html#the-name-field))

The `package.version` does not need to follow semantic versioning if `package.publish` is set to `false`, but other way the manifest documentation states that [semantic versioning should be used](h

[2020-12-08 11:55] taiki-e commented on #6431
Yeah, but it is detected by cargo, so it doesn't need to be detected by clippy.

Oh, I thought it was just listing the available sections.

[2020-12-08 12:37] vanillajonathan commented on #6431
Yes, I think the order is rather informal and that the  documentation just lists the available sections, but it _might_ be a good idea idea to enforce a particular order just for the sake of consistency.

[2020-12-08 13:48] ebroto commented on #6431
As @taiki-e said, I think some of the suggestions could be useful. I think most of this can be done in a single lint and does not require a new category. The general idea of the lint could be compliance with `crates.io`; note that there can be alternative crate registries so I think `crates.io` should be stated in the name of the lint somehow.

I would rule out anything that is already checked by

[2020-12-08 14:07] ebroto commented on #6430
Yep, you can check this in the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=68c52942d399fa0ac2630bd53577457e).

There's also [missing_safety_doc](https://rust-lang.github.io/rust-clippy/master/#missing_safety_doc). I think it makes sense to add a lint for this. Since it's the only remaining case that it's not currently linted, I will change also the descript

[2020-12-08 14:44] xfix commented on #6428
The first example could be changed to use `std::ptr::eq` instead. Meanwhile, in the second example `as &mut dyn Read` shouldn't be necessary (as in, removal of `as &mut dyn Read` shouldn't make this code not compile).

[2020-12-08 15:06] vanillajonathan commented on #6431
It is not enforced by crates.io, it just one of my ideas. I personally just happened to think it would be nice if the dependencies were alphabetically sorted.

[2020-12-08 19:22] matthiaskrgr commented on #6429
I see it the way that there is no better way to test a lint than releasing it into the wild :)
If we are not shortly before a beta cutoff, we can always change the lint category afterwards.

[2020-12-08 21:14] dvc94ch commented on #6429
Those lints made it to stable. Don't know why they weren't caught earlier, but to me having a codebase light up with false positives is a problem. `needless-collect` doesn't take into account borrowing rules and `mutable-key-type` fires when using `Bytes` as a key.

[2020-12-08 21:19] camsteffen commented on #6410
Nice. This can include any case of `return Some(option?)` or `return Ok(result?)`. Maybe call it `needless_question_mark`.

[2020-12-08 21:24] ebroto commented on #6429
Like @matthiaskrgr comments, interaction from the community has worked acceptably for Clippy. Getting lints right is hard and we need people to try them and report the problems.

That being said, I think this workflow has a negative impact on Clippy.
* The majority of the people will not open an issue when they find a false positive. The number of impacted people is probably way higher.
* Some les

[2020-12-08 21:37] dvc94ch commented on #6429
It may accumulate to a lot of effort if the lint gets recursively disabled in ci's, because for example a library uses `Bytes` internally. And if people recursively disable it, it's likely to stay that way for a long time, so once it is ready it won't be very effective. I guess not all lints are that far reaching. I've used clippy for a while and haven't had any grievances so far, but those kind o

[2020-12-08 21:47] flip1995 commented on #6429
Yeah, we definitely need to improve the process somehow. This is something I have in mind for Clippy for 2021. On the one hand usability and on the other getting more people for maintaining/triaging.

I think one problem is, that fewer people use nightly every year. Which speaks for the Rust language and ecosystem, but makes the process of "just putting a lint out there with 2-4 weeks in nightly a

[2020-12-08 22:29] camsteffen opened #6434 "Impl trait lifetime mismatch"
### What it does

Detect impl items where the lifetimes do not match the trait item definition. I believe this can be more specifically described as having "stricter" lifetime requirements than the trait item definition.

### Categories (optional)

- Kind: style

*What is the advantage of the recommended code over the original code*

Inconsistency between the trait and impl is confusing and less s

[2020-12-08 22:39] matthiaskrgr commented on #6429
At cppcheck (static analysis for c/c++) we had something called "daca" which was essentially a big loop of downloading a package source from the debian archives, running cppcheck on it and saving the results in one big file (a bit like rusts crater). I made a script that would download these cppcheck-logs so I could diff them and see if there were suddenly lint warnings appearing/disappearing.
Thi

[2020-12-08 22:45] #6348 closed

[2020-12-09 07:15] clarfonthey commented on #2387
Basically, this is a specific case of the more general "did you mean to move instead of clone this" set of errors.

[2020-12-09 15:28] brightly-salty commented on #2745
This seems to me to have been fixed? When I run the playground code, changing `shadow_reuse` to `clippy::shadow_reuse`, it compiles without errors.

[2020-12-09 15:29] #2745 closed

[2020-12-09 15:31] SOF3 commented on #6428
For the second example, there are some more complex cases where the compiler cannot infer it to be `&mut dyn` immediately. I cannot construct such an example by hand, but I think most people have run into this at least once.

[2020-12-09 15:59] #3025 closed

[2020-12-09 16:31] camsteffen opened #6436 "New Lint: Use question mark instead of Option::and_then"
### What it does

Detect functions that end with `Option::and_then` or `Result::and_then` and suggest using a question mark instead.

### Categories

- Kind: style, maybe pedantic

It is simpler and more idiomatic.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

The `and_then` call should be the very last expression of the function (not inside an `if` block, for example).

[2020-12-09 17:29] #1641 closed

[2020-12-09 17:58] carols10cents opened #6437 "`extra_unused_lifetimes` doesn't warn for lifetimes declared on `impl` and never used"
I tried this code (simplified from the actual code):

[code]

I expected to see this happen: I expected to get an unused lifetime warning for all the lifetimes in this example: `'a` because it's not used anywhere in the `AddAssign` impl block (and `AddAssign`'s definition doesn't have any lifetimes), `'b` because it's not used anywhere in the `impl Scalar` block, and `'c` because it's not used any

[2020-12-10 15:53] ThibsG opened #6438 "Misleading code example for `wrong_pub_self_convention` lint"
The `wrong_pub_self_convention` [example](https://github.com/rust-lang/rust-clippy/blob/dd826b4626c00da53f76f00f02f03556803e9cdb/clippy_lints/src/methods/mod.rs#L197) from documentation is kind of misleading to me.

The example for this lint is:
[code]

On [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=32615ab3f6009e7e42cc3754be0ca17f), it fires `wrong_self_co

[2020-12-10 15:59] ThibsG commented on #6438
@rustbot modify labels: +L-enhancement +L-lint +L-documentation

[2020-12-10 22:26] woodruffw opened #6439 "Warn the user about side effects when creating empty arrays and vectors"
### What it does

Both the `vec![]` macro and the array bulk-initializer syntax (`[T; N]`) allow the programmer to initialize an empty container, i.e. one that contains no copies of `T`.

However, both syntaxes *still* invoke `T` at least once, meaning that code like this:

[code]

can have unexpected side effects when `something` is called.

Here's a proof of concept with both a vector and an arr

[2020-12-10 22:44] rail-rain commented on #1878
Hello, is there any work needed to close this issue? Since the author +1-ing oli-obk's last comment and that feature had already been implemented in #972 IIUC, I believe you can close this issue.

[2020-12-10 23:04] rail-rain commented on #1579
This is essentially a duplicate of #3697, which is younger; but got a detailed comment. The proposed change is slightly different form that one though.

[2020-12-10 23:12] rail-rain commented on #3697
Note that the entire function to suggest deriving is removed in #5616 now. I'm not sure whether the flip1995's suggestion should be preserved as a future enhancement for the lint.

[2020-12-11 00:04] rail-rain commented on #1890
For anyone who happened to be here: `new_without_dafault_derive` was merged into `new_without_default` in #3558, and then it stopped suggesting deriving `Default` in #5616. Therefore, unless someone re-implemented the feature with [the enhancement suggested by flip1995](https://github.com/rust-lang/rust-clippy/issues/3697#issuecomment-458642843), there's nothing to be done for this issue.

By the

[2020-12-11 01:42] #1579 closed

[2020-12-11 01:43] wfraser commented on #1579
This lint has been long since improved.

[2020-12-11 08:24] oli-obk commented on #1878
Thanks! you're right, this is indeed fixed

[2020-12-11 08:24] #1878 closed

[2020-12-11 08:24] #1890 closed

[2020-12-11 13:23] tigregalis commented on #6420
I'm running into a very similar issue.

Simplified example:

[code]

produces the following warning:

[code]

How would you rewrite this?

If you remove the collect it leaves an iterator - if so, you can't index into it.

The intent of the way I've written it is that you only visit each item in each list at most once.

[2020-12-11 13:32] xFrednet commented on #5234
I would like to work on this 🙃.

@rustbot claim

[2020-12-11 14:23] giraffate commented on #6420
@tigregalis The lint wasn't emitted at nightly `rustc 1.50.0-nightly (d32c320d7 2020-12-10)`. That case seems to be fixed at https://github.com/rust-lang/rust-clippy/pull/6313.

[2020-12-11 17:52] jyn514 commented on #6439
This is a change in behavior; if there's a suggestion at all, it should be `drop(thing()); let x = vec![]`. But I agree it's good to warn here.

[2020-12-11 17:58] woodruffw commented on #6439
I agree that it's a change in behavior, but IMO there's precedent in clippy for recommending similar changes: clippy recommends closure-style APIs for things like `Option` and `Result`, even though naively rewriting `ok_or` to `ok_or_else` can cause a removal of side effects.

But I recognize that this is a different case; just wanted to point out a potential parallel 😄

[2020-12-11 22:17] jyn514 opened #6440 "map_entry does not consider `get()`"
I tried this code:

[code]

I expected to see this happen: Clippy suggests using `backtraces.get(bt).or_insert_with(|| { ... })` instead.

Instead, this happened: Clippy gave no warning.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (0f6f2d6 2020-12-06)
- `rustc -V`: rustc 1.50.0-nightly (0f6f2d681 2020-12-06)

[2020-12-11 22:17] tigregalis commented on #6420
@giraffate So it is. Thanks.

[2020-12-12 00:41] matthiaskrgr commented on #3914
If we see a `.sort()` after asserting `.is_empty()`, this might even be a `correctness` lint?
[code]

[2020-12-12 11:46] matthiaskrgr commented on #6022
I tried to poke around with some debug prints but I'm still not sure what causes this...

[code]

`cargo-clippy  --verbose -j 1 --all-targets`
[code]

[2020-12-12 12:01] matthiaskrgr commented on #6022
Hmm, happens major release `stable-x86_64-unknown-linux-gnu unchanged - rustc 1.48.0 (7eac88abb 2020-11-16)`

[2020-12-12 14:55] jyn514 opened #6444 "Warn on `use x as x;`"
### What it does

Warns when you rename an import to the original name. This is useless; you can just `use` it directly.

### Categories (optional)

- Kind: `complexity` or `style` maybe? It's definitely 'something simple but in a complex way', but I know a lot of people with `allow(clippy::complexity)` which I would prefer not happen.

*What is the advantage of the recommended code over the origi

[2020-12-12 15:12] phansch commented on #6022
Someone encountered the same exit code in cargo here: https://github.com/rust-lang/cargo/issues/7147

Maybe this is caused by our cargo tests?

[2020-12-12 15:24] matthiaskrgr commented on #6022
I would be very surprised since clippy should not execute cargo tests. I also don't understand why cargo should lock the cargo_home for clippy, hm...

For the record I wondered if  `cargo clippy -Zunstable-options` could be a culprint but it was added in cargo 1.44 and not in cargo 1.48.

[2020-12-12 16:04] kangalioo opened #6445 "Warn on omitted commas in match arms"
### What it does

Rust allows you to omit the separating commas when matching on struct-like enum variants:

[code]

This is inconsistent, because Rust doesn't allow the commas in any other part of the language, as far as I know. This lint will warn when that "feature" is being used.

### Categories (optional)

- Kind: clippy::pedantic, maybe clippy::style

*What is the advantage of the recommende

[2020-12-12 18:41] jazevedo620 opened #6446 "clippy::await_holding_lock reports explicitly dropped mutex guards as if they weren't dropped"
I tried this code:

[code]

I expected to see this happen: it should pass Clippy with no linting errors because the `MutexGuard` is explicitly dropped before the await point with a call to `std::mem::drop`.

Instead, this happened: Clippy failed the lint check because of a violation of `clippy::await_holding_lock`:

[code]

Running with `--verbose` does not provide any additional information.

Add

[2020-12-12 21:20] #6373 closed

[2020-12-12 22:13] csnover opened #6447 "False positive for unit_arg when forwarding arguments"
I tried this code:

[code]

I expected to see this happen: No lint trigger.

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (7eac88abb 2020-11-16)
- `rustc -Vv`:
[code]

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=00536070342bc4272bf55d028d065d03

[2020-12-12 22:33] matthiaskrgr commented on #6429
`@ebroto` already suggested this here

I really like the idea of having new lints to be nightly only by default, we could then observe the amount of false positives we get and then explicitly "release" lints on beta which then ride up to stable.

To spot false positives early, we could also consider having something like [our current integration tests on gha ](https://github.com/rust-lang/rust-cli

[2020-12-13 16:47] #5214 closed

[2020-12-13 17:14] phansch commented on #6022
Oh wait, I meant cargo _lints_ not tests :sweat_smile:

[2020-12-13 17:41] ebroto commented on #6445
Hi @kangalioo, thanks for your interest in improving Clippy.

This is definitely `rustfmt` territory. Clippy does not have the tools to enforce this kind of stylistic rules.

[2020-12-13 17:41] #6445 closed

[2020-12-13 18:13] ebroto commented on #6446
Thanks for reporting this.

This is a duplicate of #6353 as the underlying code is the same, but I will leave this open so other users can find the problem searching for either lint.

[2020-12-13 21:40] #5552 closed

[2020-12-13 23:09] ebroto commented on #5358
Closing this as it was fixed by #5363.

I will add the missing help for the `--fix` command after/if rust-lang/cargo#8976 is merged in a stabilization PR here in Clippy :crossed_fingers:

[2020-12-13 23:09] #5358 closed

[2020-12-14 11:22] matthiaskrgr commented on #6022
`cargo_common_metadata` fires on the crate if it is enabled (it's allow by default) but I could not find any other culprints :/

[2020-12-14 11:37] mikerite commented on #6022
Isn't this because cargo has a feature to deny warnings? You were running with `--all-features`.

[2020-12-14 12:53] matthiaskrgr commented on #6022
I don't think this is the cause.
The mysterious error also happens when I check the `cargo-test-support` crate directly and it does not have any features and does not seem to deny warnings.

[2020-12-14 22:37] matthiaskrgr commented on #6022
So, I spent a some time reducing the issue and came down to this (as main.rs):
[code]

The problem seems to be the doc comment.

[2020-12-15 08:44] keiichiw commented on #6022
I made it a bit smaller.
[code]

[2020-12-15 09:02] flip1995 commented on #6022
I tested this a bit more, and it seems, that something with the string parsing/lexing in doc comments goes wrong. This happens when a string is not properly enclosed, like

[code]

All of this produces an error without a message when put in the doc comment.

The example by @keiichiw is kind of an outlier. IIUC it parses `'a` as a lifetime, `()` as the unit type (?), and then trips over the trailin

[2020-12-15 09:11] abdelmonem17 opened #6454 "thread 'rustc' panicked at 'assertion failed: bpos.to_u32() >= mbc.pos.to_u32() + mbc.bytes as u32"
when I run cargo clippy on my project the command does it's job and finally gives the following error but I don't know why this error comes from.

thread 'rustc' panicked at 'assertion failed: bpos.to_u32() >= mbc.pos.to_u32() + mbc.bytes as u32', compiler\rustc_span\src\source_map.rs:950:17
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

error: internal compiler err

[2020-12-15 10:31] matthiaskrgr commented on #6454
Is your repo public?

The assertion failure has been popping up in the upstream rust repo a couple of times already: https://github.com/rust-lang/rust/issues?q=is%3Aissue+%22assertion+failed%3A+bpos.to_u32%28%29%22+

[2020-12-15 10:38] abdelmonem17 commented on #6454
no I am working on private repo

[2020-12-15 11:50] eldruin opened #6455 "Clippy suggests !RangeInclusive::contains for exclusive float range comparisons"
I tried this code:

[code]

I expected to see this happen: no lint

Instead, this happened:
Clippy suggested to replace the "manual range implementation" with this: `!(0.0..=100.0).contains(&humidity_percentage)`
However, as some floating point numbers might not be exactly representable in IEEE-754, I think creating a range that _does_ contain them (independently of what approximation the compiler

[2020-12-15 12:53] davidpdrsn opened #6456 "New lint: Implement From instead of Into"
### What it does

Finds implementations of `Into` and suggests implementing `From` instead. That should always be possible since Rust 1.41 as per https://doc.rust-lang.org/stable/std/convert/trait.Into.html#implementing-into-for-conversions-to-external-types-in-old-versions-of-rust.

According the std docs implementing `From` is preferred since it gives you `Into` for free where the reverse isn't

[2020-12-15 14:24] giraffate commented on #6456
related issue: https://github.com/rust-lang/rust-clippy/issues/1567

[2020-12-15 16:11] ebroto commented on #1567
Closing in favor of #6456 which has more details.

[2020-12-15 16:11] #1567 closed

[2020-12-15 16:15] ebroto commented on #6454
Thanks for your issue report!

Could you run clippy with `RUST_BACKTRACE=1` and paste the backtrace here?. That would give us some information we can work with.

Ideally you would provide a minimum reproducible example, but that can be more challenging.

[2020-12-15 16:23] ebroto opened #6457 "Use the minimal profile in the rust-toolchain file when available"
Since rust-lang/rustup#2586 the profile can be specified. That way we won't install that nightly's clippy and rust-docs.

[2020-12-15 16:49] ebroto commented on #6455
Hi @eldruin, thanks for your interest in improving Clippy!

IIUC, the reasoning behind your disagreement would apply to the concept itself of a range of floating point numbers, right? Implementation-wise, the range is not doing something very different from what you are doing, see [here](https://doc.rust-lang.org/src/core/ops/range.rs.html#717).

[2020-12-15 17:16] eldruin commented on #6455
Yes. My point would be not recommending to people to use inclusive ranges or any way of equality comparison when floats are involved due to the inherent representation issues in the IEEE-754 format.

In my case, I agree implementation-wise it would probably work either way and it is a trivial input range check anyway. I just happened to notice with that code.

[2020-12-15 17:40] ebroto commented on #6022
We're interpreting the fenced code block as rust code (there's no label), and the parser chokes, so there's a panic.

I'll see what would be the best way to recover from this later.

<details>
<summary>Backtrace</summary>

#0  std::panicking::rust_panic () at library/std/src/panicking.rs:640
#1  0x00007ffff32b9ae2 in std::panicking::rust_panic_without_hook () at library/std/src/panicking.rs:630
#2

[2020-12-15 19:19] matthiaskrgr commented on #6022
Do you know why clippy did not properly panic here?
The fact that it only threw a bad exit status without giving details is a bit scary imo.

[2020-12-15 23:31] ebroto commented on #6022
@matthiaskrgr yep, that happened for two reasons:
1) When parsing doctests, we throw away any diagnostic emitted by the parser. This makes sense as we only care about valid Rust code, but...
2) When a fatal error is raised when parsing, a panic starts unwinding the stack unti we reach `rustc_driver::catch_with_exit_code`. There, if the panic was started by a fatal error, it is assumed the message

[2020-12-16 00:04] ebroto commented on #6455
Since the range itself is not an incorrect suggestion per se as it's not changing the semantics of the original code, I personally disagree with your conclusion, but let's see what others think about it!

[2020-12-16 00:23] giraffate commented on #6444
I expected rustfmt to work, but for some reasons it doesn't seem to work.

[2020-12-16 00:27] ebroto commented on #6444
You are right, `rustfmt` seems to take care of this, at least in the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2fbcb920f10e1ad6b4883e3970eba5cc) it automatically simplifies it.

[2020-12-16 00:29] jyn514 commented on #6444
Hmm, that's weird, it didn't work on rustc (it must not, since rustfmt is enforced by tidy). I guess this should be a rustfmt bug report, then?

[2020-12-16 00:35] ebroto commented on #6444
I would say so, if the `rustfmt.toml` file in rustc didn't influence that behavior in some way

[2020-12-16 00:36] jyn514 commented on #6444
Sounds good, thanks for the help debugging! I opened https://github.com/rust-lang/rustfmt/issues/4594 instead.

[2020-12-16 00:36] #6444 closed

[2020-12-16 00:57] criminosis commented on #6444
I was tinkering on this today. Was going to be my first Rust PR but I hit a wall on it, curious if I could get some feedback if I was even on the right track?

[code]

Still a novice at Rust though so I'm probably missing out on the most idiomatic path. If anyone would be willing to give some pointers I'd appreciate it to carry over to my next issue I try to tackle out.

1. Was my usage of `ident`

[2020-12-16 01:22] ebroto commented on #6444
Hey @criminosis, thanks for your interest in improving Clippy! I'm sorry this was not actionable in Clippy in the end. I hope that at least it helped you to get acquainted with the code :)

In this particular case, I think it would have been simpler to use an early lint pass instead of a late one, since you don't need name resolution, type information, etc. here. Also, I'm not sure but I would say

[2020-12-16 01:31] criminosis commented on #6444
Hey @ebroto ! Yeah I was thinking I didn't need to use late lint towards the end but didn't end up getting that far. I'll check out `ast::UseTree` for the future. Thanks!

[2020-12-16 01:34] SKyletoft commented on #6066
Might be the same issue, might not be:
[code]
[code]
Here the first statement *can* be replaced with the `.count()` version, but it doesn't recognise that the collected version is used again later in the statement

[2020-12-16 02:22] jpdoyle commented on #6066
something is definitely wrong with tracking where iterators are used, for sure. A small variation on @SKyletoft's example passes without warning: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f9a04a7d9f7d4409cb91caa73deba23f

[2020-12-16 02:29] jpdoyle commented on #6066
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c9664102f28e54faf426599eace8443a also works...

[2020-12-16 08:14] fanatid opened #6459 "Warning on `matches!` with rule `redundant_pattern_matching`?"
Currently, clippy produce a warning on `redundant_pattern_matching` rule for constructions like:
[code]
but do not produce if we use `matches!`:
[code]

I think that warning also should be produced for `matches!`, i.e. only `if Poll::Ready(42).is_ready() {}` should be valid (same for `Result`, `Option`, `std::net::IpAddr`).

[2020-12-16 15:43] abdelmonem17 commented on #6454
thank you for help I fixed it, it was because a non char in documentation comment.

[2020-12-16 15:43] #6454 closed

[2020-12-16 17:37] camsteffen commented on #829
This is resolved by the new rustc lint 👆

[2020-12-16 17:55] johnmarkwayve opened #6460 "Spurious `map_err_ignore` warning when running `cargo clippy` with that warning allowed"
I have code in a crate in a workspace which falls afoul of `clippy::map_err_ignore` (or `clippy::map-err-ignore`, I've tried with both names), e.g.

[code]

I run the following `cargo clippy` command:

[code]

As you can see, I deny any warning or pedantic lint, but specifically allow some choices (including `clippy::map_err_ignore`, also tried with hyphens rather than underscores). This works fin

[2020-12-16 19:10] #829 closed

[2020-12-16 19:13] camsteffen commented on #885
This is solved by [`pub(restricted)`](https://github.com/rust-lang/rust/issues/32409) since Rust 1.18.

[2020-12-16 19:34] camsteffen commented on #1027
I believe this is [`trivial_casts`](https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#trivial-casts).

[2020-12-16 19:45] camsteffen commented on #1024
Duplicates #414

[2020-12-16 20:04] camsteffen commented on #1005
Resolved by #5694

[2020-12-16 20:21] camsteffen commented on #1197
This must be fixed by now, especially with NLL.

[2020-12-16 20:35] camsteffen commented on #1323
This is covered by `nonminimal_bool`.

[2020-12-16 20:39] camsteffen commented on #1290
Resolved by #1549.

[2020-12-16 20:52] camsteffen commented on #1334
Personally I find `!foo.any(|bar| bar == baz)` to be cognitively simpler. My general rule is to defer "not" operators.

[2020-12-16 20:57] camsteffen commented on #1304
Related #305

[2020-12-16 20:58] mdm commented on #6447
First time contributor here. I would like to work on this.

[2020-12-16 21:15] camsteffen commented on #1401
Could not [reproduce](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8e40801616980fa739bd1101a5ca38b6).

[2020-12-16 21:44] djc commented on #6066
This has a pretty similar problem:

[code]

[2020-12-16 21:53] #1401 closed

[2020-12-16 22:34] camsteffen commented on #6430
Duplicates #1974

[2020-12-16 22:55] camsteffen commented on #2237
Fixed by #2350. We also have #2401 for more `fold` cases.

[2020-12-17 00:34] #1024 closed

[2020-12-17 00:43] #885 closed

[2020-12-17 01:20] giraffate commented on #6066
https://github.com/rust-lang/rust-clippy/issues/6066#issuecomment-747059434

The lint wasn't emitted at `rustc 1.50.0-nightly (b32e6e6ac 2020-12-16)`. That case seems to be fixed at #6313.

[2020-12-17 06:49] djc commented on #6066
Awesome, thanks for fixing it!

[2020-12-17 12:30] Suyash458 commented on #6097
@flip1995 is this good to be closed now?

[2020-12-17 12:49] Kixunil commented on #6097
Hmm, [the msrv list in docs](https://rust-lang.github.io/rust-clippy/master/index.html#msrv) mentions only four lints, but there are more in https://github.com/rust-lang/rust-clippy/issues/6097#issuecomment-731080791

[2020-12-17 13:56] #1027 closed

[2020-12-17 14:13] #2237 closed

[2020-12-17 14:15] #1323 closed

[2020-12-17 19:59] camsteffen commented on #2358
This is now linted by `question_mark`.

[2020-12-17 20:40] #2358 closed

[2020-12-17 22:22] camsteffen commented on #4288
Same as #3377, except the `Arc` is buried in a struct.

[2020-12-17 23:07] flip1995 commented on #6097
@Suyash458 The lints also have to be added here: https://github.com/rust-lang/rust-clippy/blob/5c00931642357c835d5ba292d8c642ef7389021b/clippy_lints/src/utils/conf.rs#L109 Can you do this please in a follow up PR? I totally missed that during review. Thanks for pointing that out @Kixunil!

[2020-12-17 23:44] giraffate commented on #6459
@rustbot modify labels: +L-enhancement

[2020-12-18 01:32] Diggsey commented on #6429
Rust already has `crater` for testing compiler changes against a large body of code. You could do something similar for clippy whenever a new candidate stable release is cut.

[2020-12-18 02:56] pickfire commented on #5932
`all()` could also be applied here as well as `!= 0` rather than `> 0`.

[2020-12-18 07:08] #6022 closed

[2020-12-18 09:47] #6097 closed

[2020-12-18 14:42] camsteffen commented on #5074
This might be of interest: rust-lang/miri#1617

[2020-12-18 15:36] #1005 closed

[2020-12-18 15:42] #1197 closed

[2020-12-18 15:43] #1290 closed

[2020-12-18 15:57] phansch commented on #2292
This might be easy to do considering the closed PR and the comments there: https://github.com/rust-lang/rust-clippy/pull/2321

[2020-12-18 15:58] phansch commented on #2336
We're not using Appveyor anymore, so closing this.

[2020-12-18 15:58] #2336 closed

[2020-12-18 16:02] phansch commented on #2610
This doesn't seem to trigger anymore: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6e306800d5f8f6d63aa19fa55bffae9c

[2020-12-18 16:06] phansch commented on #301
Going to close this 5 year old issue mostly because there wasn't a MCVE at the time and we probably have more specific issues for those cases now.

[2020-12-18 16:06] #301 closed

[2020-12-18 16:08] phansch commented on #1390
This doesn't trigger anything these days: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e181dfcd46e34ff50915d75e52789f78

[2020-12-18 16:13] phansch commented on #1274
Going to close this issue as the lint doesn't trigger anymore these days: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=458c92788f0b6472ea3f6f6bf910b3a2

[2020-12-18 16:13] #1274 closed

[2020-12-18 16:18] phansch commented on #600
This is not linted anymore: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a856a012f8a5c1564e9eb2c87caab9b7

We also have tests for nested loops: https://github.com/rust-lang/rust-clippy/blob/896d82f7ff64644656bda7a4ed8bbd55ca3b7619/tests/ui/while_let_on_iterator.rs#L137

I'm going to go ahead and close this issue.

[2020-12-18 16:18] #600 closed

[2020-12-18 19:41] mahkoh opened #6466 "Lots of incorrect useless_conversion warnings when libc is involved"
I tried this code:

[code]

I expected to see this happen: Nothing, as `cmsg_len` is `u32` on many platforms.

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (7eac88a 2020-11-16)
- `rustc -Vv`:
[code]

[2020-12-18 20:31] xFrednet opened #6467 "New lint: Have a semicolon on the last block statement if it returns nothing"
### What it does

Validates that the last block statement ends with a semicolon if it returns nothing.

### Categories (optional)

- Kind: `clippy::style`

### Advantages
* It leads to consistent block formatting.
* Extending the block with new code doesn't require a change in previous last line
    <details>
    <summary>Example:</summary>

[code]
    </details>
* It makes block linting easier fo

[2020-12-18 20:32] xFrednet commented on #6467
I believe that this could be a good first issue. I'm not sure in which file it would be implemented by you could roughly do the following to implement this lint:

1. Filter out any [`rustc_hir::Block`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/struct.Block.html) from the ast. (Maybe with [`check_block`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_lint/trait.LateLintPass.h

[2020-12-18 21:00] 1c3t3a commented on #6456
I would like to work on this!

[2020-12-18 21:06] flip1995 commented on #6467
@rustbot label +"good first issue"

[2020-12-18 21:06] flip1995 commented on #6467
@rustbot label +'good first issue'

[2020-12-18 21:10] flip1995 commented on #6467
@rustbot label +good-first-issue

[2020-12-18 21:13] flip1995 commented on #6467
Regarding the lint level: This should probably be pedantic, since it doesn't really matter. Great explanation how to implement this @xFrednet!

[2020-12-18 22:15] camsteffen commented on #6467
I can't get an example for this lint to compile. Am I missing something? ([playground])(https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0ca1c9906aaccd73fa77d29eaba0ac8c)

[2020-12-18 22:31] xFrednet commented on #6467
You're right @camsteffen the expression has to return the unit type `()` I've missed that. Thank you! I've updated the description. [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9d3ce8444ce2195d5a84acd1fe669d35)

[2020-12-18 22:37] camsteffen commented on #6467
Cool. I guess the difference is that `let x = ...` is not an expression - it's a statement.

[2020-12-18 23:34] camsteffen commented on #6467
Two questions.

1. What if the expression does not return `()`, but the value is unused?
[code]
2. Is this a job for rustfmt?

[2020-12-19 07:53] #6323 closed

[2020-12-19 10:22] xFrednet commented on #3770
This lint is in my opinion there to avoid code duplication. Both this and issue #6285 trigger the lint as the statements and return of the blocks are the same. However, I agree that both are not direct cases of code duplication because they don't contain any logic and just a simple single expression.

I would therefore suggest to only trigger this lint if the block contains actual statements. Sing

[2020-12-19 12:09] xFrednet commented on #6249
I can sadly not reproduce that currently by using the simple `macro_rules!` macro for defining my own macro ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e0839177b707746730b4def611b18d2e)). I guess that it has to do something with the use of [`quote_spanned!`](https://docs.piston.rs/dev_menu/quote/macro.quote_spanned.html) as this is used in the code that c

[2020-12-19 12:29] matthiaskrgr opened #6472 "new lint: find unneccessary Some(x).and_then(|y| Some(y ..))"
### What it does
Catch `Some(..).and_then(|..| Some(..))` patterns.

*What does this lint do?*
Suggest to simplify the statement to `Some(do something with x and y)`
For example `Some(3).and_then(|x| Some(x+4));` could be simplified to `Some(3+4)`

### Categories (optional)
Complexity, maybe pedantic.

*What is the advantage of the recommended code over the original code*
It's way easier to unders

[2020-12-19 12:45] flip1995 commented on #6467
1. Your example will produce a `mismatched type` error. You can only leave out the semicolon if the last expression in the block returns ``()``
2. No idea if rustfmt does type analysis.

[2020-12-19 13:38] ebroto commented on #6249
If I'm not mistaken `quote` is already a dependency in our test suite so you should be able to use `quote_spanned` there.

[2020-12-19 13:58] camsteffen commented on #6467
Ah nevermind. I thought this might not require type checking.

[2020-12-19 14:41] MarijnS95 opened #6474 "Add support for binary function calls in suspicious_operation_groupings lint"
#6086 introduced `suspicious_operation_groupings` that made us [find a binop issue in Gstreamer](https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/-/merge_requests/663). In addition to `if` statements in #6275 it'd be nice to support binary function call chains like `cmp` as well, which suffered [the same issue](https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/-/merge_requests/663/diffs?c

[2020-12-19 19:06] Lucretiel opened #6478 "`unusual_byte_groupings` doesn't work at a sub-module level"
I tried this code:

[code]

I expected to see this happen: Expected the code to pass clippy without warnings.

Instead, this happened: The `unusual_byte_groupings` lint still triggered on those literals. This doesn't happen when `#![allow(unusual_byte_groupings)]` is added to the top of the file, at the module level.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (eb4fc71 2020-12-17)
- `rustc -Vv`

[2020-12-19 21:03] xFrednet commented on #5386
This is a nice idea 👍

I think the link should also include closed issues in case someone has reported a issue which is actually working as intended. That could reduce duplicate reports. The new link template would be
* `[search on Github](https://github.com/rust-lang/rust-clippy/issues?q=is%3Aissue+${LINT_NAME})`

@rustbot claim

[2020-12-19 21:50] #6307 closed

[2020-12-19 22:59] ebroto commented on #6478
Looking at the reference page for [struct expressions](https://doc.rust-lang.org/reference/expressions/struct-expr.html), I would say outer attributes are not allowed in that position.

It works either with an inner attribute just after the curly brace...
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=db6d412f3150cb42cf01cfab490c7da0))

...or with oute

[2020-12-20 00:46] matthiaskrgr commented on #1598
For a more advanced version of this, clippy should also notice that`if x.is_some()` and `if let Some(y) = x ` are basically the same
[code]

[2020-12-20 03:21] fmease opened #6479 "False positive of lint `similar-names` for identifiers with trailing underscore"
I tried this code:

[code]

I expected Clippy to not emit any warnings since `types` and `type_` are visually distinct (in my eyes).
Instead, Clippy reported `similar_names` suggesting to change `type_` to `type__` which does not make much sense to me.

Edit: Together with `types`, I use the identifier `type_` quite a lot in my code base, which is a compiler. The unusual name obviously stems from

[2020-12-20 08:57] ebroto commented on #6478
I'm gonna go ahead and close this as it seems to work as intended an there's not much Clippy can do here.

Thanks for taking the time to report it anyway!

[2020-12-20 08:57] #6478 closed

[2020-12-20 09:49] Aunmag opened #6480 "Implicit return with brackets only"
### What it does

Improve implicit return lint. It wood be more classic-like style to omit the `return` keyword on visually inlined closures.  Like Java and JS do with lambdas.

### Categories (optional)

- style

*What is the advantage of the recommended code over the original code*

- Seems more classic-like as Java's and JS' lambdas.

### Drawbacks

None.

### Example

[code]

Could be written

[2020-12-20 10:15] alex-700 commented on #6472
@matthiaskrgr
`.and_then(|x| Some(..))` perfectly triggers `bind_instead_of_map` [lint](https://rust-lang.github.io/rust-clippy/master/index.html#bind_instead_of_map). So it seems this lint idea should be about `Some(x).map(|x| foo(x))`, which should be replaced with `Some(foo(x))` for every expression `foo`.

[2020-12-20 10:58] Ploppz opened #6481 "field_reassign_with_default: Suggestion does not work in case of private fields"
[code]
[code]

So I changed it to:
[code]
But got:
[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (1c389ff 2020-11-24)
- `rustc -Vv`:
[code]

[2020-12-20 15:11] taiki-e commented on #2610
@phansch: I don't think this has been fixed yet. (Note that needless_borrow is not currently enabled by default)
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=21db39fed7d5b0778b382e206fa45f1b

[2020-12-20 15:16] taiki-e commented on #1390
@phansch: I don't think this also has been fixed yet: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=929ad50b7c6d82e2df6bf3a8cbd7a944

[2020-12-20 16:00] phansch commented on #1390
Oh, you're right, I forgot to actually enable the lint :facepalm: Thank you!

[2020-12-20 16:02] phansch commented on #2610
Thanks for catching my mistake :sweat_smile:

[2020-12-20 16:41] xFrednet commented on #6481
Here is an example [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b010eea7c66a65e3d47f1aa5fc525bb6) that triggers the same lint :)

[2020-12-20 20:55] ndmitchell opened #6484 "Suggest removing explicit PartialEq implementation that could have been derived"
### What it does

Suggest that when the explicit implementation of `PartialEq` matches the one that would have been produced by `#[derive(PartialEq)]` the user should use the `derive`. A similar hint could be written for `PartialOrd`, `Hash` and perhaps a few others.

### Categories (optional)

- Kind: `clippy::style`

*What is the advantage of the recommended code over the original code*

- Less

[2020-12-20 22:13] rail-rain commented on #2064
Since all the work on the PR (merging and synching back to Clippy) has done, I don't see any reasons to keep this issue opened. Can we close this issue?

[2020-12-20 23:37] giraffate commented on #6481
Thanks for your report!

I'm closing this as duplicate of https://github.com/rust-lang/rust-clippy/issues/6344.

[2020-12-20 23:37] #6481 closed

[2020-12-21 08:22] #2064 closed

[2020-12-21 09:56] phansch commented on #3043
Triage: The lint now is allow by default but this particular issue seems to have been fixed at some point: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b60090a798f6723d1a08d44d2b58bc50

I'm going to go ahead and close this issue but feel free to re-open it, should the issue persist for you.

[2020-12-21 09:56] #3043 closed

[2020-12-21 10:32] phansch commented on #2481
Triage: This is still happening: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1c3ef693dbb64babf73fcf948f0d9f0d

[2020-12-21 10:58] phansch commented on #2373
Triage: Doesn't seem to trigger with custom allocators anymore, but both lints still need an external macro check.

If someone wants to work on this, I'm happy to help out.

[2020-12-21 11:12] phansch commented on #1761
This was fixed as part of https://github.com/rust-lang/rust-clippy/pull/3331 so I'm going to go ahead and close this issue.

[2020-12-21 11:12] #1761 closed

[2020-12-21 11:15] phansch commented on #886
This seems to have been fixed: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6d192a511daa0151d7afa0eb2f68e536

[2020-12-21 11:15] #886 closed

[2020-12-21 12:48] matthiaskrgr commented on #6472
Yes, `Some(..).map()` could be futher simplified if we know that we will have `Some(x..)` at the beginning of the statement.

[2020-12-21 14:48] c410-f3r opened #6486 "`missing_inline_in_public_items` probably doesn't make sense in crates intended for procedural macros"
[code]

[2020-12-21 14:58] matthiaskrgr opened #6487 "clippy --fix broken since nightly 2020-12-21"
Clippy was synced in the rustc repo a couple hours ago, it looks like this breaks `cargo clippy --fix`

`RUSTC_WRAPPER="" ~/.cargo/bin/cargo +nightly clippy --fix -Zunstable-options`
(`RUSTC_WRAPPER` is to disable sccache) works fine (this is `rustc 1.50.0-nightly (1f5bc176b 2020-12-19)`)

`RUSTC_WRAPPER="" ~/.cargo/bin/cargo +master clippy --fix -Zunstable-options ` does not seem to work

[code]

[2020-12-21 15:36] matthiaskrgr opened #6489 "README: cargo run --manifest path unlikely to work, should we remove it?"
in the [readme](https://github.com/rust-lang/rust-clippy#running-clippy-from-the-command-line-without-installing-it), we state that it is possible to run clippy on any repo via `cargo run --bin cargo-clippy --manifest-path=path_to_clippys_Cargo.toml`
This would build clippy and then run it on the repo.

The problem is that this does not apply because `cargo run` will use the rustc version specifie

[2020-12-21 15:46] flip1995 commented on #6489
Yeah I think removing this makes sense. No one has to compile Clippy to use it, since it is shipped with rustup.

[2020-12-21 15:48] matthiaskrgr commented on #6489
Hmm, alternatively, if we copied  clippys `rust-toolchain` file into the repo we want to run clippy in and then ran the command, I think that should work..?

[2020-12-21 15:49] ebroto commented on #6487
Uhm `--no-deps` should be removed since clippy is not enabled in that call, I'll see if I can take a look soon, good catch.

[2020-12-21 15:55] flip1995 commented on #6489
Yeah, but then we copied a file to another project. Running Clippy should never modify files in another directory IMO (except the `--fix` command of course).

[2020-12-21 17:29] bertptrs opened #6491 "False positive in `clippy::while_let_on_iterator`"
I tried this code: (simplified, the original made more sense)

[code]

I expected to see this happen: this passes `cargo clippy` just fine.

Instead, this happened: it suggests an invalid improvement:

[code]

This moves out of `it`, which isn't allowed because it's needed in the next loop iteration.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (891e1a8 2020-04-18)
- `rustc -Vv`:
[code]
- Instal

[2020-12-21 17:43] 1c3t3a commented on #6467
I've started to implement this [on my own fork](https://github.com/1c3t3a/rust-clippy/blob/1c3t3a-issue-6467/clippy_lints/src/semicolon_if_nothing_returned.rs) but ran into an issue while testing. I first tested the lint on the `println!()` macro where it worked alright. Looking at `assert_eq!()`, my lint fired even with a `;` at the end of the line. As I assumed the [`assert_eq!()`](https://doc.r

[2020-12-21 18:06] camsteffen commented on #6467
Is the lint firing on the block that is part of the macro expansion?

[code]

You could do `dbg!(block.span)` and look at the line/column numbers to find out.

[2020-12-21 18:47] 1c3t3a commented on #6467
Actually yes, it's exactly that line.

[2020-12-21 19:06] camsteffen commented on #6467
If you need more help, head over to [zulip](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy).

[2020-12-21 19:31] xFrednet commented on #6249
@rustbot claim

[2020-12-21 19:56] matthiaskrgr commented on #6487
I also noticed that when running `x.py clippy` on the rustc compiler,  with master-clippy, it looks like there is a "--cap-lints warn" that somehow goes missing.

with `1.50.0-nightly (c609b2eaf 2020-12-20)`, x.py clippy works fine but with master, the process aborts pretty early because some lint warnings are denied, as if `--cap-lints warn` was missing.

I'm wondering if that is related.

[2020-12-21 21:07] Ekleog commented on #1609
Seeing the reasoning for closing https://github.com/rust-lang/rust-clippy/issues/5658 ; should this not be closed too?

(Disclaimer: I came here wanting to report this exact same issue, and I do believe that my `.or_else(Duration::from_secs(0))` would be clearer than adding the `const` clippy just made me add for most likely no performance loss, but anyway)

[2020-12-21 22:32] xFrednet opened #6492 "Add the clippy/rust verison of lint introduced to the website"
It might be useful to include the Rust and Clippy version that a lint was introduces on the [lint list](https://rust-lang.github.io/rust-clippy/master/). This feature is useful for two reasons:
1. It can happen that users pinned the compiler version for a project. (I believe that this is more common in other languages as Rust has a high compatibility grantee). It might than be interesting to know

[2020-12-21 23:49] giraffate commented on #6491
This is similar to https://github.com/rust-lang/rust-clippy/issues/5844.

[2020-12-22 00:01] #1776 closed

[2020-12-22 00:05] matthiaskrgr commented on #6487
Adding arguments like `-- --cap-lints warn` makes clippy completely recheck a project (including  all dependencies) which was not the case before the sync.

I wonder why I didn't see that earlier given that I use master clippy here and there.. :/

[2020-12-22 00:23] tdyas opened #6493 "clippy rustc panic"
cargo version: cargo 1.48.0 (65cbdd2dc 2020-10-14)
rustc version: rustc 1.48.0 (7eac88abb 2020-11-16)

I encountered a rustc panic while running `cargo clippy`. I made a source code change and then the panic occurred. After reverting the source code change, the panic still occurs even though clippy ran just fine on the code before the change.

Panic message:

[code]

I ran `cargo clean` and re-ran

[2020-12-22 00:41] giraffate commented on #6493
Thaks for your report!

It might be a rustc bug, not Clippy. This is similar to https://github.com/rust-lang/rust/issues/71733.

[2020-12-22 01:18] giraffate commented on #6493
Thanks for your comment on rust-lang/rust.

I'm closing this because it seems to be a rustc bug, not Clippy.

[2020-12-22 01:18] #6493 closed

[2020-12-22 08:37] flip1995 commented on #6341
I think we parse the literal and then compare their string representations or something like that, yeah.

[2020-12-22 08:44] ebroto commented on #6487
Oh this was for sure unintended. Can you try this on a clean build? (so a complete build without the flag then adding the flag)

Since I'm not going to have time to properly fix this soon (I'm on holidays), I will probably revert the change and try again in the future)

[2020-12-22 08:45] flip1995 commented on #3770
I don't think that is a problem. If you don't see it you don't know that it is there.

Maybe we could still lint on multiline return expressions.

Generally I like your idea about skipping "simple" return expressions.

[2020-12-22 09:38] matthiaskrgr commented on #6487
It looks like clippy automatically makes a clean build when --cap-lints is added. (it always rechecks everything when I add or remove the flag)

[2020-12-22 12:18] #6456 closed

[2020-12-22 13:18] phansch commented on #5167
@matthiaskrgr do you remember if this issue was resolved with https://github.com/rust-lang/rust-clippy/pull/5178?

[2020-12-22 14:12] matthiaskrgr commented on #5167
Seems like nothing changed here.
I'm not sure how `clippy-driver` prints the `rustc` version info on `-vV`.

[2020-12-22 14:15] matthiaskrgr commented on #5167
Oh wait, the PR changed something about `--rustc` didn't it?
`clippy-driver --version .*` prints `clippy 0.0.212 (1f5bc17 2020-12-19)` but you can always get the rustc version info with
` clippy-driver --rustc --version` or ` clippy-driver --rustc --version --verbose`

[2020-12-22 15:23] flip1995 commented on #6487
@ebroto Should we revert your changes and resync Clippy, so that this doesn't land in the beta, which is released on 2020-12-31?

[2020-12-22 15:29] flip1995 commented on #5167
The behavior with `-vV` is still not fixed. Though it doesn't really matter, because the Clippy commit and date is the same as `rustc -V`, since we're using `subtree`

[2020-12-22 15:44] #6489 closed

[2020-12-22 17:34] ebroto commented on #6487
@flip1995 yep that would be better as I'm not sure when I will be able to work on it, thanks!

Thinking a bit more about it, this is exactly how RUSTFLAGS are supposed to work, flags are passed also to deps.

---

I will try to find a different solution for the original problem (flag changes are ignored). RUSTFLAGS does not seem to be the best approach, but AFAIK there's nothing else available, so

[2020-12-22 20:03] mikechambers commented on #4612
Just want to report that I am still seeing this, even with the workarounds mentioned above (using nightly, and find). Seeing it on Linux and Windows with the December 21 nightly. Basically, clippy just no longer works.

[2020-12-22 20:16] wpbrown commented on #4612
As far as workarounds go, the [find](https://github.com/rust-lang/rust-clippy/issues/4612#issuecomment-537633718) workaround has been working for me. I put `find . -name '*.rs' | xargs touch` in [my precommit](https://github.com/blockcaptain/blockcaptain/blob/master/.pre-commit-config.yaml) to always run before clippy.

[2020-12-22 20:35] xFrednet commented on #3770
What do you think about using cognitive complexity to determine if a return statement is _"simple"_? We could simply reuse the [implementation](https://github.com/rust-lang/rust-clippy/blob/1f9e4cbe0d297b0576e0aac55dd8a5a099b77340/clippy_lints/src/cognitive_complexity.rs#L139-L163) of the [`cognitive_complexity`](https://rust-lang.github.io/rust-clippy/master/#cognitive_complexity) lint. Defining

[2020-12-22 20:39] mikechambers commented on #4612
@wpbrown Thanks. Yes, I tried that (and setting the unstable flags). Neither was working (which is why i posted here in case it was a larger issue).

[2020-12-23 00:37] #5386 closed

[2020-12-23 00:42] xFrednet commented on #6286
I believe that this issue needs some more discussion before it can be completely implemented/introduced.

This conversation has already shown that some users could prefer `x.deref()` instead of `*x`. [Here](https://rust-lang.zulipchat.com/#narrow/stream/268952-edition/topic/Edition.202021/near/220469456) is a similar example where someone stated that they prefer `a.not()` over `!a`. I also remembe

[2020-12-23 11:33] matthiaskrgr opened #6499 "pin clippy version number to rustc version number?"
Clippy has been on version `0.0.212` for quite some time now, and the version number has become quite irrelevant now that we always ship a `-git` version with nightly/beta/stable.

Should we pin the clippy to the respective rustc version like cargo does?
cargo 0.49.0 corresponds to rustc 1.49.0.
Equally, we could bump clippy to 0.1.49 for beta, and 0.1.50 for nightly.

[2020-12-23 15:48] fee1-dead opened #6501 "Needless Return at the end of function inside a closure suggests invalid code"
This code:

[code]

is suggested to remove the return, like this:

[code]

Which is invalid rust code.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (bb1fbbf 2020-12-22)
- `rustc -Vv`:
[code]

[2020-12-24 08:24] MarcoIeni opened #6502 "ptr_arg lint could warn also with &PathBuf and &Path"
### What it does

The [ptr_arg](https://rust-lang.github.io/rust-clippy/master/index.html#ptr_arg) lint already warns you when you pass a `&String` to a function.

For example with this piece of code:

[code]

This warning is emitted:

![image](https://user-images.githubusercontent.com/11428655/103074328-aa218a80-45c9-11eb-9abe-5385c520d9a2.png)

It would be nice if it did the same for `PathBuf` a

[2020-12-24 10:43] Nadrieril commented on #6429
It might be possible to have a clippy-specific "nightly" process: completely independently of rustc nightlies, advanced users could enable "unstable = true` in some clippy.toml and that would enable beleeding-edge lints. That way even people who use rustc stable can provide feedback on new lints, with a longer testing period if we want.

[2020-12-24 11:51] matthiaskrgr opened #6503 "match_like_matches_macro: strip refs in suggestion"
[code]
Suggested by `@LingMan` :)

[2020-12-24 11:54] matthiaskrgr commented on #6429
This sounds a bit like the current `nursery` lint group,

[2020-12-24 14:16] xFrednet commented on #6249
This issue originates from the use of [`quote_spanned!`](https://docs.piston.rs/dev_menu/quote/macro.quote_spanned.html) and is sadly unfixable for us. It is also not specific to this lint but can happen with any macro that uses the `quote_spanned!` macro.

The `quote_spanned!` sets the span of the produced tokens to a user defined span. (See [docs](https://docs.rs/quote/1.0.8/quote/macro.quote_sp

[2020-12-24 20:33] bengsparks commented on #6399
@camsteffen
This issue seems to not have made much progress.
Can I submit my solution instead?

[2020-12-24 20:49] camsteffen commented on #6399
I think @rajcspsg is still working on this at #6400.

[2020-12-24 21:02] bengsparks commented on #6410
If no one has attempted this yet, I'd like to give it a shot.

[2020-12-25 01:33] bengsparks commented on #6410
Ok, so let me see if I've understood this correctly.

What needs to be recognized;
`Option<T>` and `Result<T, E>`, i.e. types for which the question mark operator are implemented for.

How can it be matched:
By matching `Some(instance_of_option?)`  and `Ok(instance_of_result?)`.

What help can be suggested:
The `instance_of_*` parameter be kept and the rest discarded.

Have I overseen anything?

[2020-12-25 03:51] TaKO8Ki commented on #6391
Can I tackle this issue?

[2020-12-25 07:28] mikerite commented on #6410
You have to worry about the early exit of `?`. This is probably only applicable on the expression of a body or in a return statement.

[2020-12-25 10:02] nahuakang commented on #6422
Has anyone worked on this? If not, I'd be happy to jump on it. @flip1995 Might need a few hints :)

[2020-12-26 00:48] rail-rain commented on #6356
I think this is essentially a duplicate of #5343 (this also means the cause is actualy not the implicit syntax, but because Clippy checks types without running the borrow checker). The suggested fix is interesting though. Unlike #5343, which suggests using the real borrow checker; ignoring every types with some lifetimes is far easier to implement although it would introduce a false negative where

[2020-12-26 01:12] rail-rain commented on #2906
The warning has changed due to #5343. Here is the lastest one for your convinience.

[code]

This issue means (every?) lints for `transmute` don't account lifetimes, including `transmutes_expressible_as_ptr_cast` (if you commented out other `transmute` related lints, it would fire on the example).

[2020-12-26 02:54] rail-rain commented on #2906
@rustbot label +E-medium +L-bug +L-false-positive

[2020-12-26 21:28] bengsparks commented on #6410
Ok, I think I've got it done. I'll go open a PR.

[2020-12-26 22:29] brunoarueira commented on #838
There are an issue on houndci/hound#1344 to track the integration with clippy too, I'll give it a try on the next couple days.

[2020-12-26 23:42] benma commented on #3530
Another example: reallocation of the vector when growing it is slower and copies more bytes when the size of `T` is large.

[2020-12-27 13:23] flip1995 commented on #3770
Hmm, the cognitive complexity lint was abandoned for the reason that we are not able to actually decide how complex an expression is, because there are just to many factors.

I'd like to here @felix91gr opinion on reusing stuff of the cognitive complexity implementation to determine the complexity of a single expression vs. a complete function (/a bigger scope).

[2020-12-27 13:35] flip1995 commented on #6429
Yes, that would be a `nightly` group that could be enabled.

What I want to achieve here would be a system where you don't have to change any configuration between `stable` and `nightly` Clippy to test nightly Clippy features. So your expectation should be that when you run `cargo clippy -- -Dclippy::all -Dclippy::some_additional_lint` on `stable` and `nightly` it automatically does all the new fe

[2020-12-27 13:38] flip1995 commented on #6422
@nahuakang You can check with
https://github.com/rust-lang/rust-clippy/blob/abce9e7c9fc0520da4556ca641cce9aee462c2fc/clippy_lints/src/unnested_or_patterns.rs#L75-L78

if a specific feature is enabled. This lint should only trigger if the `never_type` feature is enabled.

[2020-12-27 14:31] felix91gr commented on #3770
(Ohh. This is an interesting issue, @flip1995. Thanks for pinging me.)

Okay so the reason why I stopped pursuing the cognitive complexity lint is because the approach I was using was just too incomplete and naïve. To keep a long story short:
* The source I was using for the metric was not scientific (MY bad, and it took me ages to realize this). This makes my statements about trusting it as a sou

[2020-12-27 14:33] matthiaskrgr opened #6508 "cargo lints: cargo metadata output leaks into clippy warnings?"
I noticed this by checking `syn-1.0.54` downloaded from crates.io.

When I run `cargo clippy -- --cap-lints warn -Wclippy::cargo`, it looks like there is output leaking from cargo-metadata into the clippy warning such as the "warning: could not read ... Downloading crates.." stuff.

[code]

clippy @ 015496579dae282a7215a6ad17fe053342d8b825

[2020-12-27 15:09] phaylon commented on #6429
I'm not sure if this has come up before, but would it be possible to have lint warnings collected but not shown except as summary? Instead of new lints generating noise, there could be a phase where you run clippy and get a line like `Found {} warnings from upcoming lints. Run cargo clippy --upcoming to see them.` Maybe with a small bit of extra text explaining that this would be a great time to r

[2020-12-27 15:30] flip1995 commented on #6499
I'm in favor of this

cc @rust-lang/clippy

[2020-12-27 16:28] xFrednet commented on #3770
I wasn't aware of the discussions around the cognitive complexity lint that have already taken place. Thank you for clarifying this @flip1995  and @felix91gr. That was the main reason why I suggested it. So, back to the drawing board I guess 🙃

[2020-12-27 16:32] #6344 closed

[2020-12-27 17:52] Manishearth commented on #6499
+1

[2020-12-27 18:12] #6502 closed

[2020-12-27 21:05] matthiaskrgr opened #6509 "ptr_arg with Path(Buf): owned `Path` can't be be pop'ed"
In this code
[code]
clippy will suggest to use `Path` instead:
[code]
but this is wrong because `Path` can't be `.pop()`ed.

[code]

cc https://github.com/rust-lang/rust-clippy/pull/6506
cc @alex-700

[2020-12-27 22:13] adilhasan commented on #3021
Hello, I stumbled upon a similar problem and figured out a way to print a PathBuf. Here's my (shaky) reasoning:

- I can convert from PathBuf to a str using the to_str function.
- The to_str function returns an Option str, so I need to unwrap it to get the str
- Then I can print out the path:
println!("path {}", x.to_str().unwrap());

[2020-12-28 00:07] giraffate commented on #6391
I think you can take this.

[2020-12-28 01:27] matthiaskrgr commented on #5844
Issue still persists.
Smaller example:
[code]

[2020-12-28 13:04] MarijnS95 opened #6511 "size_of_in_element_count false-positive when dividing byte-size by element size"
### Lint name: `size_of_in_element_count`

#### I tried [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e7b5de7d2e24d7d0ccafc827eccfa635) code:

[code]

#### I expected to see this happen:

No `size_of_in_element_count` lint warning/error when _dividing_ by `size_of`.

#### Instead, this happened:

[code]

#6394 recently introduced the `size_of_in_element_count` to c

[2020-12-28 19:16] #6509 closed

[2020-12-29 03:09] jyn514 commented on #6238
And related: `unnecessary_cast` expands `c_uint` to `u32`, which will break on platforms where it's u16 or u64.

[code]

(in practice, c_uint is always u32, but this could be relevant if this were `c_ulong` or something.)

[2020-12-29 07:26] xfix opened #6514 "unit_arg lint for Rocket handlers returning unit causes a warning"
Lint name:

`unit_arg`

I tried this code:

[code]

with the following `Cargo.toml`:

[code]

I expected to see this happen: no warning

Instead, this happened:

[code]

See also https://github.com/SergioBenitez/Rocket/issues/1495.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (2987785 2020-12-28)
- `rustc -Vv`:
[code]

[2020-12-29 12:00] cecton commented on #6427
I bumped on this issue today when using nightly.

The [doc](https://rust-lang.github.io/rust-clippy/master/index.html#unnecessary_wraps) says:

But that's not okay because the callee is an external crate to the project. The function signature might **have** to be this way.

[2020-12-29 13:49] cecton commented on #6427
It's also not recognized in the `clippy.toml`:

[code]

[2020-12-29 14:04] sdroege opened #6515 "field-reassign-with-default lint gives false positives because it doesn't consider if all fields are public"
Lint name: field-reassign-with-default

I tried this code:

[code]

I expected to see this happen: No warning because

[code]

Doesn't compile:

[code]

Instead, this happened: I got a warning:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (e1884a8 2020-12-29)
- `rustc -Vv`:
[code]

[2020-12-29 19:16] matthiaskrgr opened #6516 "redundant_field_names: spans messed up inside macro"
In Rustc we have this code
[code]

which triggers `clippy::redundant_field_names`, but a the spans seems kinda messed up

[code]

![spans](https://user-images.githubusercontent.com/476013/103308423-b6b34200-4a12-11eb-87d6-84f780cc3869.png)

[2020-12-29 19:16] matthiaskrgr commented on #6516
![spans](https://user-images.githubusercontent.com/476013/103308450-c7fc4e80-4a12-11eb-9260-23d47e785f13.png)

[2020-12-29 20:34] xFrednet commented on #6515
This is a duplicate of #6344. The fix has been merged two days ago in #6375 🙃

[2020-12-29 21:20] matthiaskrgr opened #6517 "unnecessary_wraps: ignore functions that return newtypes?"
[code]

[code]

IMO  the lint should not trigger here because we use a newtype here and making code work without the newtype may take quite some effort which goes beyond removing a match or an `.unwrap()` in real world examples.

Thoughts?

[2020-12-29 21:24] xFrednet commented on #4310
@phansch are you still working on this issue? It sounds interesting, and I would like to work on it, if that's okay for you? 🙃

And if so, have you already crated a plan how to implement it? I have a rough idea how it can be done, but I would be happy about pointers if you have already put some thoughts into it.

[2020-12-29 22:29] ChrisJefferson commented on #6359
I just want to say I'm also using make_mut extensively to do reference-counted copy-on-write, so this warning is quite annoyed. Would it be possible/reasonable to check if there are any make_mut / get_mut in the program (I realise this is very general), and if so not warn about this?

[2020-12-30 02:52] mikerite commented on #6517
You're talking about aliases and not newtypes. This lint won't trigger on newtypes.

I'm against this proposal for two reasons.

1.The type alias doesn't actually make it more work to fix. You need to replace `ThatsOk` with `u32` whereas without the type alias you would have to replace `Option<u32>` with `u32`. It's the same amount of work.

2. "too much work" is really subjective. Fixing these li

[2020-12-30 11:43] matthiaskrgr opened #6519 "lint slicing of entire slices"
### What it does
In code like this
[code]
clippy will suggest passing v as slice instead of `Vec`, resulting in this refactoring:
[code]
But this means we are slicing the slice to get a slice, we can remove the `[..]` now!
[code]
It would be nice if clippy could warn about slicing of slices.

### Categories (optional)

Kind: complexity?

*What is the advantage of the recommended code over the orig

[2020-12-30 12:12] flip1995 commented on #4310
This suggest that it is time to RIIR our documentation generation scripts.

So I see 2 ways how to do this:
1. Implement an internal lint, that collects the data and writes it to a JSON or similar file, that can then be processed by the python scripts.
    a. If it is implemented in clippy_lints: We would have to figure out a system on how to suppress/enable the generation of this JSON file, since

[2020-12-30 12:15] sdroege commented on #6515
I guess that's too late for 1.49? :)

[2020-12-30 12:50] xiongmao86 commented on #4894
@flip1995, if I understand correctly, since #6401 pins clippy to a version, I can continue this?

[2020-12-30 13:21] phansch commented on #4310
I'm not working on this currently, feel free to pick it up again =)

When I started working on this, I went with the 1.a approach from @flip1995. I have an unfinished WIP commit here: https://github.com/phansch/rust-clippy/commit/444d2c19f4609256e3c363dbe4ec7b2dd40bf50c#diff-132b8beb349994a7a16a8740b14a5cb5b1402f746d3c2a75295c2079cad6b70aR695

Essentially, we would have an internal lint that looks

[2020-12-30 15:57] brightly-salty commented on #6430
Hey, I'm a would-be first-time contributor. Could I tentatively claim this? Thanks

[2020-12-30 16:50] brightly-salty commented on #6430
@rustbot claim

[2020-12-30 16:55] flip1995 commented on #4894
@xiongmao86 Yes, Clippy now compiles with the nightly specified in `rust-toolchain`. Make sure you have the latest `rustup 1.23.1` (`rustup self update`)

[2020-12-30 18:29] camsteffen commented on #6430
@brightly-salty Go ahead and claim #1974 which this issue duplicates. Closing this issue.

[2020-12-30 18:29] #6430 closed

[2020-12-30 19:05] brightly-salty commented on #1974
@rustbot claim

[2020-12-30 20:01] peterjoel opened #6521 "False positive with unit_arg when returning Ok(function)"
Lint name: unit_arg

I tried this code:

[code]

I expected to see this happen: No error

Instead, this happened: It triggered the lint

In this case, I think the lint is overly strict and the code  above is arguably better than the accepted fix:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (04488af 2020-08-24)
- `rustc -Vv`:
[code]

[2020-12-30 20:40] xFrednet commented on #6515
Looking at the [change log draft](https://github.com/rust-lang/rust-clippy/blob/b81111bc35ac0a9251d9f88804899d878a33e5a6/CHANGELOG.md) it actually seams like it will be in 1.51. The PR sadly got merged after the 1.50 cut of point if I understood it correctly 🙃

[2020-12-30 21:27] matthiaskrgr opened #6522 "field_reassign_with_default should not expand macros in suggestion"
Code like this (notice the `vec![]`  macro)
[code]
gets expanded in the suggestion, this should not happen I believe.

[code]

` clippy 0.0.212 (0d8a27a6f 2020-12-28)`

[2020-12-30 22:34] xFrednet commented on #4310
Thank you for the detailed responses. I actually though of simply implementing a lint like the issue first suggested, that would be option 1a. The lint would then collect the Applicability information like @phansch described. My approach would have been similar to his WIP implementation.

Thinking more about it makes me like option 2(Rewriting the JSON export as a part of clippy_dev) a lot more. T

[2020-12-31 00:38] brightly-salty commented on #5598
I'm willing to attempt to implement this and submit a PR if @esamudera isn't still working on it.

[2020-12-31 00:40] brightly-salty commented on #5395
I can attempt to implement this and submit a PR if @s00kee isn't still working on it.

[2020-12-31 00:44] brightly-salty commented on #5102
I'm willing to attempt to implement this and submit a PR if it would be accepted if @sonng isn't working on it. I expect to restart (to avoid merge conflicts) using their PR as a guide/inspiration?

[2020-12-31 01:15] brightly-salty commented on #2868
I'm willing to attempt to implement this if it is still relevant.

[2020-12-31 01:17] brightly-salty commented on #2282
I'm filling to attempt to implement this and submit a PR if it is still relevant.

[2020-12-31 03:57] esamudera commented on #5598
Hi @brightly-salty, yes please take over this issue. Thanks!

[2020-12-31 03:59] brightly-salty commented on #5598
@rustbot claim

[2020-12-31 08:53] sdroege commented on #6515
No problem, I'll just disable the lint until 1.51 problem then :)

[2020-12-31 09:56] andersk opened #6524 "Incorrect suggestion for ptr_eq warning leads to vtable_address_comparisons error"
Suppose we start with the following code:

[code]

[code]

Okay, let’s do that:

[code]

[code]

This suggestion is wrong. The cast to `*const u8` is important, and removing it has led back to the first error:

[code]

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (0b644e4 2020-12-26)
- `rustc -Vv`:
[code]

[2020-12-31 11:37] peterjoel commented on #6521
If `do_stuff` also returns a `Result<()>` then this does _not_ trigger the lint:

[code]

[2020-12-31 13:31] xiongmao86 commented on #4894
@flip1995, I am not sure which pass to choose, early lint or late lint?

[2020-12-31 16:10] djc opened #6527 "field_reassign_with_default false positive with private fields"
Lint name: field_reassign_with_default

I tried this code:

[code]

clippy diagnosed this with:

[code]

However, `Parts` has a private `_priv` field, so functional record syntax to apply `Default::default()` doesn't work here.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (e1884a8e 2020-12-29)
- `rustc -Vv`:
[code]

[2020-12-31 16:26] alex-700 commented on #6527
duplicate of #6344 and #6515, fixed in #6375

[2020-12-31 16:37] #6527 closed

[2021-01-01 04:06] xiongmao86 commented on #4894
If I can use late lint pass, this lint would cover wider range of code, by I am not sure it is solvable using late lint.

[2021-01-01 08:37] mqy commented on #6511
I can confirm this problem seen from `Apache Arrow`.

[code]

Fortunately, the check passed when I extracted the arg `len` as a variable `arg_len`:

[code]

[2021-01-01 09:14] #6499 closed

[2021-01-01 19:52] bengsparks commented on #6521
If it's any consolation, this triggers the needless question mark lint, #6507

[2021-01-01 20:34] peterjoel commented on #6521
@bengsparks To be fair, that lint is valid in this case. I was struggling come up with simple examples, rather than pasting blocks of my real code here!

[2021-01-01 21:11] matthiaskrgr opened #6533 "from_iter_instead_of_collect / needless_collect interaction questionable"
[code]
clippy will suggest to use `.collect()` instead of `from_iter()` here but blindly replacing will not work because `.collect()` will need some kind of type hint.

Them again
[code]
does not trigger `clippy::needless_collect` (although it should!) because we can iterate over
[code]
directly.

[2021-01-02 00:08] smklein opened #6534 "Avoid an AsRef-motivated unnecessary clone"
### What it does

Although a perk of "AsRef<T>" is that it enables callers to provide either T or &T as input to a function, the resolution to a non-reference type seems suboptimal if a caller clones the input argument to make this invocation possible.

A linter could identify if a calling function clones an object to provide it as an argument to an "AsRef" method - very similarly to the existing

[2021-01-02 10:37] ChrisJefferson opened #6535 "Make it easier to find out how to silence clippy"
I often find I want to silence some clippy warning (for example, clippy has just warned me about `assert!(!(d<d))`, which is reasonable, except it's in a test and I really do want to check it).

While it might add more noise, I wonder if the 'help' line could be extended to say how to silence the warning, for example (I've added to the end)

[code]

Or, this information could be added to https://r

[2021-01-02 13:36] phansch commented on #4310
Hm, why would that be a bad thing? I think that file could be useful for other things as well - For example we could use that file instead of all the Regex-based lint collection in [clippy_dev](https://github.com/rust-lang/rust-clippy/blob/master/clippy_dev/src/lib.rs#L181)

I think in any case, work could be started on a working lint data collector prototype, the rest is just a matter of deciding

[2021-01-02 13:46] RalfJung commented on #628
FWIW, this seems very similar to the existing "invalid_value" lint in rustc (not sure if Clippy also has such a lint), which already detects `transmute(0usize)` to a reference.

[2021-01-02 14:21] flip1995 commented on #6535
Allowing Clippy lints works just like allowing rustc lints, with `#[allow(clippy::lint_name)]`. This is explicitly explained in the readme of Clippy. I don't really see how adding this to every warning would improve the situation. IMO, it would only clump up the message.

[2021-01-02 14:40] #6515 closed

[2021-01-02 14:45] flip1995 commented on #6515
Closing because it is fixed. I will create a beta backport, so the fix will get into 1.50.

[2021-01-02 14:56] ChrisJefferson commented on #6535
After rethinking, I agree about not putting it into the lint message, but maybe the linked website -- or the website could have at least have an obvious link to the manual (is the current manual just the github readme?)

[2021-01-02 15:56] felix91gr commented on #628
Oh, that's cool! I think this is more general maybe? Although with dataflow-aware constprop, the `invalid_value` lint might become equivalent to this, depending on how it's constructed :3

[2021-01-02 16:03] RalfJung commented on #628
`invalid_value` is a HIR lint so I doubt constprop will change anything there. ;)

However, [`is_zero`](https://github.com/rust-lang/rust/blob/90ccf4f5adfb2562fc95c996b97faac7775a34bb/compiler/rustc_lint/src/builtin.rs#L2355) could be extended to recognize `ptr::null`.

[2021-01-02 16:30] flip1995 commented on #4310
I meant a file that just contains the information about the auto fixable, which is then thrown away, after generating the documentation.

I think having a output file, which we can use for more than that, I have nothing against that. So we could have an internal lint that collects all the data for the lints and saves it in a JSON file. After that we can use that file as input for `clippy_dev` tool

[2021-01-02 16:39] flip1995 commented on #6535
Yeah, currently it's just the GitHub readme. We plan to write a Clippy Book. I'll leave this issue open, so we'll remember to include this.

[2021-01-02 17:36] bengsparks commented on #6484
If no one has attempted this yet, then I would like to give it a go. :)

[2021-01-02 20:46] matthiaskrgr commented on #5038
Similar case:

[code]

Clippy suggests

[code]

But it it would be better to suggest
[code]

[2021-01-02 21:38] vallentin commented on #4612
People already supplied workarounds using `find` and `touch`. Let's just include one more variation for improving the overall performance, which is useful for big projects and workspaces.

- Instead of `grep "\.rs$"` then use `-name "*.rs"` as part of `find`
- Instead of `xargs touch` then use `-exec touch "{}" +` also as part of `find`
- Maybe even skip the `target/` dir by adding `-not -path "./

[2021-01-02 23:50] #6522 closed

[2021-01-03 02:49] matthiaskrgr commented on #5561
I guess it's working fine :)
Closing the ticket.

[2021-01-03 02:49] #5561 closed

[2021-01-03 13:31] xFrednet commented on #4310
This sounds like a plan. Thank you for the input! 🙃

I'll finish the lint that I'm working on and then start work on this. I'll also try to implement #1303 and #6492 while I'm at it

[2021-01-03 17:44] ThibsG commented on #6535
Related issue: https://github.com/rust-lang/rust-clippy/issues/6011

[2021-01-03 19:55] ivan770 opened #6539 "Could not fully normalize <T as Trait>::Assoc"
### Code
I'm not sure about the exact part of code, that leads to ICE.
To reproduce issue, run clippy with `unstable-options`
https://github.com/ivan770/spartan/tree/fade05f7896c2ecd8413bf20273c4236a7faeb78

### Meta

- `cargo clippy -V`: clippy 0.0.212 (fde6927 2021-01-02)
- `rustc -Vv`:
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-01-03 20:33] matthiaskrgr opened #6540 "FN unnecessary_unwrap"
Lint name : unnecessary_unwrap

I tried this code:

[code]

I expect this to trigger `clippy::unnecessary_unwrap` and suggest something like
[code]

but the lint did not trigger :frowning:

### Meta
`clippy 0.0.212 (fde6927 2021-01-02)`

[2021-01-03 20:35] kangalioo opened #6541 "Optional warning on module dependency cycles"
### What it does

Rust allows modules to depend on each other in a cycle: module A depends on module B and B depends on A. This may be useful sometimes, but it may introduce significant avoidable cognitive load. This issue proposes an opt-in lint that warns on module dependency cycles.

### Categories (optional)

- Kind: `clippy::complexity` or `clippy::pedantic` (ideally an allow-by-default compl

[2021-01-03 20:49] matthiaskrgr commented on #6540
Apparently this works if I have a variable `x` which is an `Option` but does not work if I have a struct field `self.inner` :/

[2021-01-04 00:53] kangalioo opened #6543 "Lint .iter().for_each()"
### What it does

A thing I see really often is beginners attempting to embrace functional style programming by replacing all for-loops with `collection.iter().for_each(|item| ...)`. Because this happens so often, it might be beneficial to introduce a clippy lint to reassure those people that there's nothing wrong with the traditional for-loop.

This lint would be triggered when the following crit

[2021-01-04 10:04] flip1995 commented on #4310
Thanks! This would be really great to have, but I can see that it will involve much experimentation. So if you need support for something, don't hesitate to ping me here or on zulip!

[2021-01-04 10:07] flip1995 commented on #4894
You will probably have to use a late pass, to make sure that the bound is actually talking about the `From` trait from `std`, not some user defined trait.

[2021-01-04 10:09] flip1995 commented on #5102
@brightly-salty Thanks! Yes you can use they're PR as inspiration. I think my comments on the PR should also help you with dos and don'ts.

[2021-01-04 10:19] jan-auer opened #6545 "field_reassign_with_default triggers in custom derives"
Lint name: `field_reassign_with_default`

I tried this code:

[code]

<details>
<summary>Click to show <code>cargo expand</code> output</summary>

[code]

</details>

I expected to see this happen:
No lint violations in generated code annotated with `#[automatically_derived]`.

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (e1884a8e 2020-12-29)
- `rustc -Vv`:
[code

[2021-01-04 12:46] pchampin opened #6546 "False Positive with result_unit_err when using type aliases"
Lint name: result_unit_err

I tried this code:

[code]

I expected to see this happen: no warning

Instead, this happened: clippy issues a warning about `result_unit_err`. It seems to naively assume that the 2nd parameter of a type alias of `Result` is always the error type.

### Meta

- `cargo clippy -V`: `clippy 0.0.212 (e1884a8 2020-12-29)`
- `rustc -Vv`:
[code]

[2021-01-04 14:30] #6410 closed

[2021-01-04 20:54] #1483 closed

[2021-01-04 21:38] djc opened #6550 "from_iter_instead_of_collect is too strict"
Lint name:

from_iter_instead_of_collect

clippy is suggesting I make this change:

[code]

I don't think this is an improvement, because now I need to turbofish the return type including wildcard type arguments, which wasn't needed for the `from_iter()` call. If the return type could be inferred by the compiler, I'd agree, but I'm not sure how easy it is for clippy to determine that.

(This is pr

[2021-01-05 10:02] nahuakang commented on #5209
Looking for a new issue. If the original volunteer isn't working on this, I'd like to take a look at this issue this weekend :)

[2021-01-05 10:06] #5890 closed

[2021-01-05 12:28] flip1995 commented on #5209
Go ahead! :)

[2021-01-05 13:03] nahuakang commented on #5209
@flip1995 Off your mind, do you remember a lint with similar logic that I can study a bit? :pray:

[2021-01-05 13:07] flip1995 commented on #5209
Take a look at the `methods` module. There is also the infrastructure already implemented, you'll need to implement this lint.

[2021-01-05 15:22] ThibsG commented on #6231
Related issue: #5844

@rustbot label +T-MIR

[2021-01-05 15:22] ThibsG commented on #5844
@rustbot label +T-MIR

[2021-01-05 17:18] jyn514 commented on #6231
I think this might be fixed by recommending `lines.by_ref().next()` instead, but that's uglier in the common case where you don't need it.

[2021-01-05 17:26] ThibsG commented on #6231
Maybe `for line in &mut lines` could work also?

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2bcc8dde06e76e70401c8fd98164aad6) using example given in #5844

[2021-01-05 19:12] r00ster91 opened #6552 "A new lint for imports ending in `::{self};`"
### What it does

It detects imports that end in `::{self};` and emits a warning for them.

### Categories (optional)

- Kind: Perhaps `clippy::style`.

The advantage of the recommended code over the original code is that it's shorter and simpler.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-01-05 22:00] rail-rain commented on #6428
@SOF3 Could you confirm that you need a _single_ lint that warns every uses of `as` except coercions, not a bunch of lints that triggers on different situations; already existing as the `cast_*` family for numeric casts and bonus `fn_to_numeric_cast*` + `char_lit_as_u8`. If I understand correctly, `as_conversions` is for people who want a simple lint to detect every use of `as`; independent from o

[2021-01-05 23:30] tylerhawkes commented on #3874
I just ran into this with clippy on rust 1.49 for the `pin-project-lite` and `cxx` dependencies. Did something break again?

[code]

[2021-01-05 23:41] giraffate commented on #6539
Thanks for your report!

I guess it might be related with https://github.com/rust-lang/rust/issues/80045.

[2021-01-06 03:14] SOF3 commented on #6428
@rail-rain you mean separate lints such as `clippy::numeric_as_conversions`, `clippy::ptr_as_conversions`, etc.?

[2021-01-06 03:47] rail-rain commented on #6428
@SOF3 Um…I'm afraid not; the bunch of lints for specific cases (e.g. numeric casts that may truncate large values) already exist. You can find these by searching on "cast" [here](https://rust-lang.github.io/rust-clippy/master/index.html) (I couldn't find a way to set that as a query string). I wanted to check these lints do not fit your use case.

[2021-01-06 05:26] SOF3 commented on #6428
oh yeah, I forgot those exist. should probably have used them instead.

[2021-01-06 05:57] taiki-e commented on #3874
@tylerhawkes
I couldn't reproduce the problem you reported in 1.49.
I guess a version of cargo older than 1.41 as the default is actually called (like https://github.com/tokio-rs/tokio/issues/3355#issuecomment-751482243).
Could you try with toolchain override shorthand (`cargo +stable build`)?

[2021-01-06 08:35] #6545 closed

[2021-01-06 16:21] khuey commented on #6353
Any progress here?

[2021-01-06 20:37] rail-rain commented on #6428
In that case, do you still need this issue? Otherwise, could you close the issue please?

[2021-01-06 22:36] tylerhawkes commented on #3874
I tried it again and still get the same error. Here's the commands I did to reproduce. I'm inside of a podman container, but that shouldn't matter at all. I tried it on my mac and didn't get an error, so this seems to be linux specific. Cross compiling doesn't matter as I get the error whether I'm compiling for x86_64 or aarch64.
[code]

And here is the output of those commands:
[code]

[2021-01-06 22:44] tylerhawkes commented on #3874
My co-workers have also been seeing this. We all share the same podman image and it has `CLIPPY_TESTS=true`. If I set that environment variable on my mac it also has the same issue.
So after a little googling it looks like that got set because we use sccache and I was toying around with getting it to work with clippy. However, [this](https://internals.rust-lang.org/t/clippy-is-available-as-a-rustu

[2021-01-07 00:08] mimoo commented on #6209
If that helps, I also got this kind of false positive:

[code]

[2021-01-07 01:44] flip1995 commented on #3874
Ah, you have ``CLIPPY_TESTS`` as an env var in your CI/testsuite/...? If that is set to ``true`` (and only ``true``, no other value), then Clippy will lint all dependencies, because it is enabled unconditionally. We need this for Clippys testsuite.

Since ``CLIPPY_TESTS`` is a reasonable env var for enabling/disabling Clippy tests, we should change the env var, we use internally. This can be done

[2021-01-07 02:20] #6428 closed

[2021-01-07 03:03] koutheir opened #6556 "unusual_byte_groupings fires for octal values represented in binary"
Lint name: unusual_byte_groupings

I tried this code:

[code]

I didn't expect to see the warning `digits of hex or binary literal not grouped by four`, because grouping by 3 bits is very reasonable when binary is clearer than octal.

### Meta

- `cargo clippy -V`:
[code]
- `rustc -Vv`:
[code]

[2021-01-07 03:43] rail-rain commented on #6428
Thank you!

[2021-01-07 13:13] bryanburgers opened #6559 "field_reassign_with_default on struct with `#[non_exhaustive]` or private fields is false positive"
Lint name: `field_reassign_with_default`

Given a library that contains a struct with a `#[non_exhaustive]` attribute on it:

[code]

Code like this causes a clippy warning:

[code]

Clippy would prefer to see the following code, which is a compiler error.

[code]

[code]

Note that due to the rules of `#[non_exhaustive]` application, this is only an error when the struct is defined in a different

[2021-01-07 13:25] bryanburgers commented on #6559
Hmm... actually this affects structs within the same crate that have private fields, as well.

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=993abe21260563a8c5a12c4383a54d11
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93692333032b262ba980aaaa311726d6

[2021-01-07 13:27] bryanburgers commented on #6559
Relevant rust issue: rust-lang/rust#70564
Related clippy issue: rust-lang/rust-clippy#6312

[2021-01-07 14:34] Nemo157 opened #6560 "Lint for large error types"
### What it does

Warn when an error type (probably by detecting that it has `impl std::error::Error` and is publicly exported) is over some arbitrary threshold, suggesting boxing the inner data to reduce the size.

### Categories (optional)

- Kind: `clippy::perf`

Large error types result in a lot of redundant memory copying on the success path when the `Ok` value is small.

### Drawbacks

None.

[2021-01-07 19:35] RDambrosio016 opened #6561 "range_plus_one suggests using `RangeInclusive` where it is not valid"
I tried this code:

[code]

I expected to see this happen: No warning

Instead, this happened: `an inclusive range would be more readable`

### Meta

- `cargo clippy -V`: clippy 0.0.212 (44e3daf5 2020-12-31)
- `rustc -Vv`:
[code]

[2021-01-07 19:41] camsteffen opened #6562 "Enhance mem_replace_with_default with other constructors"
`mem_replace_with_default` could recognize std library constructors that are equivalent to `Default::default()` such as `Vec::new()`, `HashMap::new()`, etc. This may also apply to #3812 when it is implemented, and the two lints may share a list of known "default-equivalent" constructors. `vec![]` should also be recognized.

Example: `std::mem::replace(&mut v, Vec::new())`

[2021-01-07 19:49] flip1995 commented on #6561
Duplicate of https://github.com/rust-lang/rust-clippy/issues/3307

[2021-01-07 19:49] #6561 closed

[2021-01-07 19:50] RDambrosio016 commented on #6561
Ah i apologize, i tried looking for a duplicate but couldnt find it 😄

[2021-01-07 22:47] camsteffen opened #6563 "shadow_unrelated false positive with question mark"
Lint name: shadow_unrelated

I tried this code:

[code]

I expected to see this happen: no lint

Instead, this happened: shadow_unrelated lint

I needed a closure and a question mark to reproduce this. 🤷

[2021-01-07 23:02] camsteffen opened #6564 "New lint: if let Some iter element"
### What it does

Checks for iteration of `Option`s with `if let Some` inside. Can use `flatten()` instead. The lint should also work in `iter.for_each()`.

### Categories (optional)

- Kind: complexity

*What is the advantage of the recommended code over the original code*

It is simpler.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-01-08 00:21] camsteffen commented on #5455
Wonder if this could be fixed after https://github.com/rust-lang/rust/pull/79519 is merged.

[2021-01-08 05:22] rail-rain commented on #6539
I have extracted a minimal repro from the original crate:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=050bd7f14b4fc67ee30a9d662272b1c5)

This means the underlying cause is that, in `zero_sized_map_values`, Clippy indirectly calls `normalize_erasing_regions`; which triggers the panic because that cannot normalize `<M as Identifiable>::Id` there. This

[2021-01-08 08:32] ThibsG commented on #3307
@rustbot label +L-suggestion-causes-error

[2021-01-09 13:11] xiongmao86 commented on #4894
@flip1995, do I need to specify a minimum supported rust version? In what case should I specify one?

[2021-01-09 13:53] #4804 closed

[2021-01-10 11:16] SOF3 commented on #6511
Why was this a `deny` to start with?

[2021-01-10 14:34] liquidblock opened #6572 "match_single_binding: match within a match suggests broken code"
This issue is similar to #5347.
When a match could be written as a `let` statement and is within another match the suggested code by clippy will not compile, the suggested code needs to be put in curly brackets for it to compile.

I tried this code:

[code]
This code emits the following warning using `cargo clippy`:
[code]
The suggested code in the help text will not compile `cargo check`:
[code]

[2021-01-11 06:49] phansch commented on #5841
There has been some progress on the Rust side of things ([tracking issue](https://github.com/rust-lang/rust/issues/68490)). Rust has recently added support for 'soft-deprecation' of items: https://github.com/rust-lang/rust/pull/79877. The next step will be to soft-deprecate the old items in std directly.

Considering that, I don't think it makes sense to implement this in Clippy anymore and I'm go

[2021-01-11 06:49] #5841 closed

[2021-01-11 08:10] flip1995 commented on #4894
An MSRV only has to be added if you produce a suggestion, that includes code, that is not available in early Rust versions. I don't think this is necessary for this lint.

[2021-01-11 14:47] phansch commented on #6514
Hm, I'm having trouble reproducing this bug in a Clippy testcase without rocket as a dependency. Currently I have this:

[code]

[code]

With these files present, running `TESTNAME=unit_arg_repro cargo uitest` _should_ produce the false positive, but currently doesn't and I don't know why.

[2021-01-11 15:30] fiveseven-lambda opened #6576 "A new lint for an assignment statement `a = b = c`"
### What it does

regarding to: https://stackoverflow.com/questions/65661530/why-can-assignment-operator-be-chained-in-rust

One might assume an assignment statement `a = b = c;` to be equivalent to `a = c; b = c;`, but it isn't.

There seems to be very few cases, if any, where we would intentionally write `a = b = c;`.

It would be nice if clippy warned such an assignment.

### Categories (option

[2021-01-11 17:01] #3874 closed

[2021-01-11 21:22] ThibsG commented on #6572
@rustbot label +L-suggestion-causes-error

[2021-01-11 22:14] #4708 closed

[2021-01-11 23:04] phansch commented on #6514
Alright, I managed to extract a `proc_macro_attribute` function from Rocket's codegen code that reproduce the issue:

[code]

Unfortunately a simple external macro check didn't fix the issue, so I will continue working on this tomorrow =)

[2021-01-12 01:21] dpathakj commented on #6141
Here's a minimal example of what might be the same thing, using the recently landed `#![feature(destructuring_assignment)]`:

[code]

With a single assignment, there's no warning:
[code]

[2021-01-12 01:23] dpathakj commented on #6563
This might be the same issue as https://github.com/rust-lang/rust-clippy/issues/6141.

[2021-01-12 05:29] nico-abram commented on #6511
I think the intention was to only look for it in the dividend to catch things like `len * size_of(...) / chunk_count`

The change should be here: https://github.com/nico-abram/rust-clippy/blob/c1a5329475d041dbeb077ecda6ae71f690b4bcc1/clippy_lints/src/size_of_in_element_count.rs#L54-L55

Maybe something like this

[code]

[2021-01-12 07:40] phansch commented on #6514
Unfortunately, neither Clippy nor rustc currently have a way to tell apart a `quote_spanned` span from a non-macro span, so this is currently impossible to fix on our side (Also see https://github.com/rust-lang/rust-clippy/issues/6249#issuecomment-750894842).

[2021-01-12 08:25] Kixunil commented on #4894
Linting **bounds** should be independent of rustc version, since changing `From` to `Into` should work in every version.

Linting **impl** should depend on version >= 1.41, see https://doc.rust-lang.org/std/convert/trait.Into.html#implementing-into-for-conversions-to-external-types-in-old-versions-of-rust

[2021-01-12 10:11] SOF3 commented on #6511
I'm fine with suppressing this manually, but it should really be a `warn`.

[2021-01-12 10:45] MarijnS95 commented on #6511
@nico-abram I wanted to be a bit more conservative and keep track of divisions (inversions) in the RHS. What do you think of this? https://github.com/MarijnS95/rust-clippy/compare/size-in-element-count-divide-by-byte-size?

[2021-01-12 11:26] Darksonn commented on #4546
I just ran into this issue.

[2021-01-12 11:39] Allen-Webb commented on #1609
I hit this with clippy 0.0.212:
`.unwrap_or(Duration::from_secs(0))`

[code]
If this wasn't a constant function, it wouldn't be allowed for initialization of statics (e.g. `static TIMEOUT: Duration = Duration::from_secs(15);`). In my opinion any function that is allowed for the initialization of a static variable shouldn't trigger this warning.

[2021-01-12 13:25] sharksforarms commented on #3734
Landed: https://github.com/rust-lang/rust/issues/43466

[2021-01-12 13:27] sharksforarms commented on #1912
Landed in 1.48: https://github.com/rust-lang/rust/issues/43466

[2021-01-12 13:29] sharksforarms commented on #3734
Related: https://github.com/rust-lang/rust-clippy/issues/1007

[2021-01-12 16:42] camsteffen commented on #6576
In practice, I think the programmer will just run into a type error. ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d333ca42de981d8175169139a10d3c18))

[2021-01-12 17:36] camsteffen opened #6579 "New lint: `invariant_collect_option`"
### What it does

Checks for use of `collect::<Option<_>>()` where the result is always `Some` or always `None`. If the iterator always contains `None`, then the `collect` will always yield `None` and is pointless. If the iterator items are always `Some`, then the `collect` will always yield `Some` and can most likely be simplified.

Detection of these cases could iteratively improve over time, bu

[2021-01-12 18:04] camsteffen opened #6580 "New lint: `windows_const` and `chunks_const`"
Now that `min_const_generics` is stabilized, I suspect it won't be long for `array_windows` and `array_chunks` to be stabilized as well. It would be nice to have a lint ready when that comes. But for now we can check the feature gates.

### What it does

Checks for usage of `windows` or `chunks` with a constant size. These may be replaced with `array_windows` and `array_chunks` respectively.

###

[2021-01-12 21:31] yaahc opened #6581 "Use guppy/seamare to implement lints against cargo package graphs"
Right now at work we're looking to setup a lint framework based on [`guppy`](https://docs.rs/guppy/) that we can use to write lints like "make sure none of our direct dependencies have duplicate versions" ([link](https://github.com/ZcashFoundation/zebra/issues/1582)). In the process of ironing out a design for this it became increasingly clear that this tool will probably be very similar to clippy

[2021-01-12 23:48] giraffate commented on #6579
The `redundant_closure` lint already seems to be emitted in the example above.

[2021-01-13 00:07] camsteffen commented on #6579
Well I don't want to overcomplicate the example. It could be anything inside the Some.

[2021-01-13 02:48] GrygrFlzr commented on #6431
There is an RFC to either deprecate or make optional the authors field, so it might be a good idea to hold off from that lint for now.

See rust-lang/rfcs#3052

[2021-01-13 04:38] ZuseZ4 opened #6583 "manual `!RangeInclusive::contains` fails for float with trailing dot"
I just learned the hard way that floats are normally written as ```x.0```, instead of just ```x.```.
However, clippy should probably be able to handle both ways?

I tried this code:

[code]

I received the following lint:
[code]
Following the hint lent to a compiler error:
[code]
Apparently it does not recognize (0...) as (0.)(..), but instead as (0)(...).
Removing one of those three dots leads to

[2021-01-13 04:51] giraffate commented on #6583
It seems to be fixed at https://github.com/rust-lang/rust-clippy/pull/6320.
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2bac8ef58ed354ee86e406a597f56187

[2021-01-13 05:37] fiveseven-lambda commented on #6576
@camsteffen  You used `Vec::with_capacity` in your example function, but if you only try debug print like [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f102db5660fe6932e5e6f0bd0d8fb00c), it compiles with no warning about `a = b = c;`.

[2021-01-13 08:10] llogiq commented on #6543
One downside is that `iter().for_each(..)` *can* be faster, for example with `chain(_)`s. So unless the iterator is of a type where we know the perf to be the same, this should not lint.

[2021-01-13 16:00] camsteffen commented on #1609
@Ekleog I agree. Closing.

For the original example, Clippy has no way of knowing how expensive `io::Error::new` will be.

@Allen-Webb Building off the discussion in #5658, you could have `static TIMEOUT: Duration = Duration::from_secs(compute_nth_prime(42))`.

[2021-01-13 16:00] #1609 closed

[2021-01-13 16:02] camsteffen commented on #6543
@llogiq I think the intention is to only lint `non_iterator.iter().for_each()`.

[2021-01-13 16:42] kangalioo commented on #6543
Yes, camsteffen is right. Actually, with the criteria I wrote above, the normal usage of `chain()` won't even trigger the lint:

[code]

The two situations in which it _does_ falsely lint are these:
[code]
[code]

I think both of these patterns are somewhat exotic. It's probably unlikely that false positives from this lint will be a problem in practice.

If it does turn out to be a problem, the li

[2021-01-13 17:06] camsteffen commented on #6543
Good points. Actually I think returning `impl Iterator` could be somewhat common. It's a very practical use of impl Trait. Restricting to slices and std collections seems good to me.

[2021-01-13 17:10] #6583 closed

[2021-01-13 17:16] camsteffen commented on #6552
I think this is a rustfmt bug. rustfmt does the following:

* `use std::io::{Write};` -> `use std::io::Write;`
* `use std::io::self;` -> `use std::io;`
* `use std::io::{self};` -> `use std::io::{self};` 😲😲😲

[2021-01-13 17:31] camsteffen commented on #6552
I take it back. See https://github.com/rust-lang/rustfmt/issues/3568. For this lint, clippy would need to check if changing the import will break it.

[2021-01-13 20:20] vallentin commented on #5253
Ran into a similar case, that undesirably triggered this lint. I essentially want to perform a `count_for_each()` where the closure consumes the item. So since `count_for_each()` is not a thing, I did `map().count()`.

My example can be boiled down to the following, which also triggers the lint:

[code]

[2021-01-13 21:10] Daniel-B-Smith commented on #6353
Apologies for the lack of communication. From conversations on Zulip, it is in fact not an easy fix to identify variables that have been explicitly dropped. I intended to add the documentation quickly, but got caught up in things. I just sent out https://github.com/rust-lang/rust-clippy/pull/6585. Unfortunately, I don't have the cycles to dig into this deeply right now.

[2021-01-14 10:41] glandium commented on #6550
I hit something similar with test code like `assert_eq!(Vec::from_iter(...), ...)` where the type can't be inferred in the assert.

[2021-01-14 12:42] lfrancke opened #6587 "ICE "computing layout of""
### Meta

- `Clippy version: clippy 0.1.51 (a62a760 2021-01-13)`
- `rustc 1.51.0-nightly (a62a76047 2021-01-13)`

### Error output

[code]

Unfortunately, I don't have the time now to try and create a minimal example.
I therefore understand if this issue is closed without action.

I can however provide this link to the public Github Actions run that failed: https://github.com/stackabletech/operato

[2021-01-14 13:11] ThibsG commented on #5939
Looks like the same as #5594

[2021-01-14 13:35] Vlad-Shcherbina opened #6588 "ICE get_optimized_mir: missing MIR for `DefId(...)`"
### To reproduce

Run `cargo clippy` on the following library:

[code]

### Version info

[code]

This started happening after I updated to the recent nightly.
The nightly from two weeks ago was fine.

### Error output

[code]

<details><summary>With backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-01-14 14:57] camsteffen commented on #6514
I don't have much experience with procedural macros. Is this something that can/should be fixed in the library? Maybe using [`Span::mixed_site`](https://docs.rs/proc-macro2/1.0.24/proc_macro2/struct.Span.html#method.mixed_site) or something like that?

[2021-01-14 15:48] phansch commented on #6514
Personally, I would consider that only a workaround (I don't know if `mixed_site` would fix it). Given that the library is using stable proc_macro APIs that are causing these problems, I would say it's something that needs to be fixed in the compiler.

There has been some more discussion on Zulip: https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fwg-diagnostics/topic/Telling.20apa

[2021-01-14 21:16] Herschel commented on #6588
Another case stemming from `wgpu`, if it's at all helpful:
https://github.com/ruffle-rs/ruffle/runs/1701749440?check_suite_focus=true
rustc 1.51.0-nightly (a62a76047 2021-01-13)

<details><summary>Log + Backtrace</summary>
<p>

[code]
</p>
</details>

[2021-01-14 21:53] ddaws commented on #6588
Also seeing

[code]

[2021-01-14 22:17] figsoda commented on #6588
Got a similar error

[code]

[2021-01-14 23:40] giraffate commented on #6588
Thanks for your reports!

It seems to be related with https://github.com/rust-lang/rust/issues/81000.

[2021-01-14 23:51] giraffate commented on #6587
Thanks for your report!

It seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/6588, and https://github.com/rust-lang/rust-clippy/issues/6588 has more info, so I'm closing this.

[2021-01-14 23:51] #6587 closed

[2021-01-15 01:24] jturner314 opened #6590 "size_of_in_element_count false positive with u8 element type"
Lint name: size_of_in_element_count

I tried this code:

[code]

I expected to see this happen: Clippy should not give a `size_of_in_element_count` error.

Instead, this happened for `rustup run nightly cargo clippy`:

[code]

In contrast, clippy (correctly) does not give an error for this code:

[code]

In other words, I've seen the false positive only for the `u8` case.

The false positive also

[2021-01-15 01:33] tobin-crypto opened #6592 "rustc panicked at `Box<Any>`"
Reporting this because its requested in the error output, I do not know what to make of it and cannot reproduce it locally (CI runs on Azure). A second run of CI jobs did not hit this same error.  This is the output, please feel free to just close this issue if this is not useful. Thanks for your work on Clippy, I use this tool all day every day :)

[code]

[2021-01-15 05:26] piscisaureus opened #6593 "collapsible_if false positive"
A `#[cfg(unix)]` attribute can make an if statement non-collapsible, but its presence is ignored by clippy.
`cargo clippy --fix` drops the attribute altogether.

## Lint name

collapsible-if

## Example

[code]

## Meta

[code]

[2021-01-15 05:49] lfrancke commented on #6587
Thank you and sorry for the duplicate.

Takayuki Nakata <notifications@github.com> schrieb am Fr., 15. Jan. 2021,
00:51:

[2021-01-15 11:28] turion opened #6594 "False positive unit-arg when deriving proptest::arbitrary::Arbitrary"
Lint name: unit-arg

I tried this code:

[code]

I expected to see this happen: clippy passes

Instead, this happened:

[code]

I've only seen this happen with https://github.com/AltSysrq/proptest/.

A more complicated example passes:

[code]

Possibly this is because some macro expanded code triggered the issue? `cargo expand` yields:

[code]

Possibly the line `const _IMPL_ARBITRARY_FOR_Foo: ()

[2021-01-15 12:19] nikclayton-dfinity opened #6595 "Is there a mechanism for loading new lints at run time?"
Is there a mechanism for loading local lints that are project-specific, and don't make sense for contribution upstream, at run time?

E.g., for a project that wants to enforce local code style rules that are too specific to make sense in a general purpose tool like clippy?

For example: "If an enum name ends `Error` then none of the enum variants should end `Error`".

I couldn't find one, so I thi

[2021-01-15 13:23] Kixunil opened #6596 "multiple_crate_versions triggered even when dependencies are macro-only"
**Disclaimer:** not sure if this is a bug but the reasoning behind `multiple_crate_versions` suggests so. May be hard to fix.
Lint name: multiple_crate_versions

I tried this code:
Irrelevant here, but the dependencies are relevant: multiple versions of `cfg-if`

I expected to see this happen: multiple versions of `cfg-if` should be fine because macros don't bloat binary sizes

Instead, this happe

[2021-01-15 13:38] qrilka opened #6597 "Non-reproducible warnings"
I was running clippy on the project https://github.com/rust-secure-code/cargo-geiger
And the version I was using was
[code]

This resulted in the commit https://github.com/qrilka/cargo-geiger/commit/ef236582b0b933c30b67e73105db0794b3e92982 fixing 2 minor issues which seem to make sense to me. I was surprised to see that clippy complained about `match_like_matches_macro` at https://github.com/rust-

[2021-01-15 16:39] #173 closed

[2021-01-15 16:49] HCastano commented on #6592
I'm also running into something similar.

My toolchain:

[code]

To reproduce:

[code]

The error output:

[code]

If I run Clippy with the following nightly everything compiles fine.

[code]

P.S I also appreciate all your work on Clippy, it really is a great tool!

[2021-01-15 17:06] AccessViolation95 opened #6598 "Add XOR swap algorithm detection to (existing) clippy::manual_swap"
### What it does

*This would warn the user that there is a better alternative to using a XOR swapping algorithm to swap the values of two variables*

### Categories (optional)

- Kind: *clippy::complexity*

*The std::mem::swap function exposes the intent better (this is somewhat the same reason for the warning for swapping using a temporary variable)*

For example:
- People reading the recommende

[2021-01-15 18:12] ThibsG commented on #6592
@rustbot label +L-crash

[2021-01-15 18:17] ThibsG commented on #6590
Seems related to #6511 where there is the same use of `std::slice::from_raw_parts` function

[2021-01-15 20:01] #6425 closed

[2021-01-15 20:20] realbigsean opened #6599 "`try_for_each` false positive"
Lint name: map_collect_result_unit

I tried this code:

[code]

This iterator maps to a struct `DepositLog`, and the lint seems to be for mapping to `()`

It seems like `<Result<Vec<_>, _>>()` and `<Result<_, _>>()` get picked up as `<Result<(), _>()`

### Meta

- `cargo clippy -V`:  clippy 0.0.212 (e1884a8 2020-12-29)
- `rustc -Vv`:
[code]

[2021-01-15 20:29] realbigsean commented on #6599
nevermind, I was wrong. There was another iterator returning `<Result<(), _>()` later on

[2021-01-15 20:29] #6599 closed

[2021-01-16 06:36] taiki-e commented on #6596
Even if only macros are included as a public API, the size of targets may be bloated due to the private (`#[doc(hidden)]`) API, so I believe the current behavior is correct.

However, it would be nice to be able to allow the specified dependencies via `clippy.toml`.

[2021-01-16 08:37] Kixunil commented on #6596
Clippy could possibly scan the contents of other crates but that may be difficult.
Making it configurable makes sense, would help with this and I guess may be easier, so that'd be nice.

[2021-01-16 13:10] giraffate commented on #6588
It seems to be fixed, so I closing this.

[2021-01-16 13:10] #6588 closed

[2021-01-16 13:18] giraffate commented on #6592
Thanks for your reports!

It seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/6539.

[2021-01-16 13:41] giraffate commented on #2974
It seems to be fixed by https://github.com/rust-lang/rust-clippy/pull/5134, so I'm closing this.

[2021-01-16 13:41] #2974 closed

[2021-01-16 20:15] xFrednet commented on #4310
@rustbot claim

[2021-01-17 06:14] rossmacarthur opened #6600 "False positive with suspicious use of operator when using const generics"
Lint name:
- [suspicious_op_assign_impl](https://rust-lang.github.io/rust-clippy/master/index.html#suspicious_op_assign_impl)
- [suspicious_arithmetic_impl](https://rust-lang.github.io/rust-clippy/master/index.html#suspicious_arithmetic_impl)

I tried this code, and related other ops implementations:

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=10c52b9c2bc

[2021-01-17 08:12] xFrednet commented on #6595
I don't believe that clippy currently has any support for this. We have some lints that are configurable, so Clippy would probably take a more generic approach of having a lint that forbids a configured suffix. Maybe similar to the [`blacklisted_name`](https://rust-lang.github.io/rust-clippy/master/index.html#blacklisted_name) lint.

That being said I believe that your example is very specific and

[2021-01-17 08:18] xFrednet commented on #1303
@rustbot claim

[2021-01-17 08:18] xFrednet commented on #6492
@rustbot claim

[2021-01-17 10:40] #6501 closed

[2021-01-17 15:27] jyn514 opened #6602 "Clippy warns twice about unknown lints"
I tried this code:

[code]

I expected to see this happen: Clippy warns once that `x` is an unknown lint.

Instead, this happened: Clippy warns twice.

[code]

### Meta

- `cargo clippy -V`: 0.1.51 (2021-01-16 8a65184)
- `rustc -V`: 1.49.0

See also https://github.com/rust-lang/rust/pull/80524#discussion_r558984197 - this looks unrelated to the `UNKNOWN_CLIPPY_LINTS` pass because it shows up even

[2021-01-17 15:51] #6539 closed

[2021-01-17 16:23] flip1995 commented on #6602
This is not a Clippy issue, but a rustc issue in general. This happens when linting attributes. Somehow in rustc diagnostics doesn't realize, that this warning was already emitted and emits it again. rustc diagnostics has code that hashes warnings/errors, to make sure that they are not emitted twice. This code fails for attributes.

[2021-01-17 16:33] cjdelisle commented on #3770
Here's my example:

[code]

I use this pattern of empty blocks often because or-chains become long and unreasonable and I don't think it should be considered an error.

[2021-01-17 16:38] #6519 closed

[2021-01-17 16:41] jyn514 commented on #6602
@flip1995 this issue doesn't happen with rustdoc:
[code]
The issue may be *caused* by rustc, but it's specific to clippy.

[2021-01-17 16:42] jyn514 commented on #6602
This may be true, but rustdoc still only emits one lint even with `-Z deduplicate-diagnostics=no`.

[2021-01-17 16:45] flip1995 commented on #6602
Oh, I see. So Clippy's lint machinery somehow breaks rustc's diagnostics 🤔

[2021-01-17 16:46] flip1995 commented on #6602
I label it as `E-hard`, since I already put in many hours trying to fix it about 2 years ago and wasn't even able to find the cause.

[2021-01-17 20:13] ThibsG commented on #6501
@fee1-dead commented (by email):

[2021-01-17 20:19] matthiaskrgr opened #6604 "match_wildcard_for_single_variants should not warn about std types"
Lint name: match_wildcard_for_single_variants
note: this is a `pedantic` lint

I tried this code:

[code]

Clippy warns:

[code]
which is strange because it would literally break everything if we added more variants to std types like `Result` or `Option`.

### Meta
`clippy 0.1.51 (8a65184 2021-01-16)`

[2021-01-17 22:24] ThibsG commented on #6501
@fee1-dead If I understand correctly, you have something like:
[code]
the suggestion would be to remove the `return` statement like this:
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=760dc2d242e4048c6517dcb733cf75ff)

Is that the correct situation you are referring to?

[2021-01-17 23:29] giraffate commented on #6592
It seems to be fixed by https://github.com/rust-lang/rust-clippy/pull/6582, so I'm closing this.

[2021-01-17 23:29] #6592 closed

[2021-01-18 00:14] rail-rain commented on #6597
@qrilka I'm assuming the reason why you said "which seems to be the same but probably with some deps updated" is the version of Clippy stayed `0.0.212`, is that correct? If so, this is expected because Clippy hasn't changed its version number since 2018 even though there has been so many changes. Therefore, since your new Clippy have different date; there should be some changes. (Apparently, every

[2021-01-18 00:29] fee1-dead commented on #6501
@ThibsG, I first commented on the PR, but after some experimenting I realized I can’t return from closure so I just removed the comment.

[2021-01-18 05:15] rohitjoshi commented on #4725
I don't understand this suggestion. Condition is checking if random_size > 0.
[code]

[2021-01-18 06:34] qrilka commented on #6597
@rail-rain is there any motivation behind this surprising version handling?

[2021-01-18 09:15] rail-rain commented on #6597
@qrilka Honestly, I don't know why this started; but I've found [thread](https://GitHub.com/rust-lang/rust-clippy/pull/6526) , in which the Clippy team eventually decided to name the versions of Clippy after the corresponding Rust versions similar to Cargo; so this problem will go soon.

[2021-01-18 09:20] flip1995 commented on #4725
The lint suggest that you rewrite it with

[code]

which admittedly makes the code worse, IMO. We shouldn't lint, if literals are involved.

[2021-01-18 23:31] Fishrock123 opened #6607 "from_over_into suggests docs antipatterns for foreign types"
Lint name: from_over_into

I tried this code:

https://github.com/http-rs/surf at today's HEAD: 97790c19664466efa4cf33d9eafee23486a12b3e

I expected to see this happen: no warnings

Instead, this happened:

[code]

Changing this to `From` is, shockingly, not an error, despite being a foreign trait on a foreign type.

However, it results in Rust docs which are even more difficult to read than today

[2021-01-19 00:35] Fishrock123 commented on #4612
This is a recurring pain point for the Rust team I work on.

To get clippy to lint, I usually have to `cargo clean` first.

[2021-01-19 00:45] Fishrock123 commented on #6607
Refs: https://github.com/rust-lang/rust-clippy/pull/6476

[2021-01-19 06:03] xiongmao86 commented on #4894
Thank you for your reply, @Kixunil, so since I am merely concern with bounds, I don't need to use msrv.

@flip1995, @Kixunil, is checking the `Path` contained in `GenericBound` against `From` and `TryFrom` the right way specify the bound is of `From` or `TryFrom` trait?

[2021-01-19 07:23] flip1995 commented on #4894
You will have to check this with `is_{ty_}diagnostic_item`.

[2021-01-19 12:12] nahuakang commented on #6564
Nice suggestion Cam :smile: Can I take this issue?

[2021-01-19 13:19] camsteffen commented on #6564
@nahuakang yes!

[2021-01-19 15:45] camsteffen commented on #6564
It can also cover `option.map()`, `result.map()` and `if let Ok`.

[2021-01-19 19:43] camsteffen commented on #6550
From the Rust documentation, it is pretty clear that turbofish syntax is encouraged over using `from_iter`.

and

[2021-01-19 19:43] #6550 closed

[2021-01-20 02:29] glandium commented on #6550
This part was written in November 2015, back in Rust 1.6.0. https://github.com/rust-lang/rust/commit/9d663a3e4a85be4c45194cd1c987dd77dee45ab7

This part was written in October 2015, back in Rust 1.6.0 as well. https://github.com/rust-lang/rust/commit/d91785ab097cf7780308a984b3a20882bb5f7690

It is fair to say Rust practices have evolved since then, and it might be worth reconsidering. @steveklabni

[2021-01-20 04:36] tcharding opened #6610 "Clippy ignores crate wide warn/deny"
I put this code in `main.rs`

[code]
And this code in `foo.rs`
[code]
I expected to see clippy warn something like
[code]
Instead all I get is
[code]

### Meta
[code]

[2021-01-20 07:36] #6511 closed

[2021-01-20 09:04] nikclayton-dfinity commented on #6595
Thanks for the info. I'll close this, as not actionable on your side.

[2021-01-20 09:04] #6595 closed

[2021-01-20 09:12] djc commented on #6550
I also wanted to say it's a bit of a leap to say that turbofish is "encouraged". The first snippet just says "is rarely called", factually noting that `collect()` is used more often, while I read the second snippet as "if you get into trouble with type inference, you'll need to turbofish", that is, it helps troubleshooting rather than recommending.

I did also run [a poll over on users.r-l.o](http

[2021-01-20 10:37] #1335 closed

[2021-01-20 11:21] HyeonuPark commented on #5787
I've reduced it further.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1556b5afa098a4f6578bb3999d82e9d4

[code]

[code]

[2021-01-20 14:02] steveklabnik commented on #6550
A couple of intersecting things going on here, but in short, I am not sure I've ever seen `from_iter` in the wild. I think there's a couple of factors here, one big one is that it requires a `use` and `collect` does not. I would agree with @djc's characterization of the docs, but we mention `collect` and not `from_iter` because it is the default.

I would personally maybe consider annotating `etld

[2021-01-20 16:25] tofay commented on #5787
In the async case, `_x`'s lifetime is being ignored as it's hitting this check:
https://github.com/rust-lang/rust-clippy/blob/e6665e42a3d6b5d666ec8c16705a70a491f468fd/clippy_lints/src/lifetimes.rs#L327-L328

The lint then only has `'a` in the intput and output lifetimes, and assumes `'a` can be elided.

[2021-01-20 17:42] ChrisJefferson opened #6612 "write!() -> writeln!() invalid when just printing a newline"
This is visible on both stable and nightly. When advising changing write! to writeln!, the clippy outputs no string but still prints the comma. There has to either be no comma after out_file.

[code]

[2021-01-20 23:25] giraffate commented on #6612
Oh, it seems to work even if there is nothin after comma in `writeln!`. I didn't know that.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9d3870a528373142c2b00ca7f8c7bc7b

[2021-01-20 23:36] giraffate commented on #6610
It seems to be similar to https://github.com/rust-lang/rust-clippy/issues/5356.

[2021-01-21 05:10] mikerite commented on #6590
When the result is  `&[u8]`, the number of elements is the same as the number of bytes and we don't need to lint. Right? :thinking:

[2021-01-21 05:27] mikerite commented on #6607
The recommendation is correct even if triggers a rustdoc bug - rust-lang/rust#42066. This should be fixed on the rustdoc side.

[2021-01-21 06:33] jturner314 commented on #6590
Yeah, when the result of `std::slice::from_raw_parts` is `&[u8]`, the `size_of_in_element_count` lint shouldn't apply. The description of the lint says:

When the output is `&[u8]`, it's clear that providing a number of bytes to the function is correct.

[2021-01-21 08:21] ChrisJefferson commented on #6612
Yes, at first I thought the bug was no empty string, then when I put an empty string in clippy said (correctly) "Hey, you can remove than empty string!".

[2021-01-21 09:38] ltratt opened #6613 "unnecessary_wrap doesn't track usage, leading to false positives"
Lint name: unnecessary_wraps

I tried this code:

[code]

and was given this warning by Clippy:

[code]

even though references are stored to the functions in a `Vec` where they must necessarily share the same type.

Just to check that Clippy isn't checking control / data flow (because the above example the types really can be simplified), I tried this slightly more involved example:

[code]

whic

[2021-01-21 09:52] BusyJay commented on #1466
#6167 makes `eq_op` lint on assert families, but when users choose to implement PartialEq for a custom type, they may use `assert_eq` to test if it's correctly implemented, which leads to the lint error.

[2021-01-21 11:15] najamelan commented on #4612
@Fishrock123 for me `touch **.rs` works and will be faster than clean. But yeah, it's an annoying bug since if fails silently pretending lints pass.

[2021-01-21 13:44] MikailBag opened #6614 "match_single_binding is false positive on temporaries"
Lint name: `match_single_binding`

I tried this code:

[code]
([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9573dc18836305f5f860b3dc9b7d875a))

Clippy prints a warning:
[code]
With a proposal:
[code]
But suggested does not work, because `f` is bound to a temporary value and its lifetime ends before `dbg!`.
### Meta

- `cargo clippy -V`: 0.1.51 (2021-01-

[2021-01-21 14:34] #6335 closed

[2021-01-21 15:08] nyanpasu64 commented on #1495
In my project, I found that (with the latest cargo 1.49.0 stable) both `cargo check` or `cargo clippy` will cache a set of warnings (larger in the case of `cargo clippy`) which will appear in all future runs of either command, until the code is modified and either command is run again. This behavior seems bizzare to me.

[2021-01-21 15:48] digama0 opened #6615 "False positive for vec_init_then_push with control flow in push arg"
Lint name: vec_init_then_push

Here's a simple example:

[code]

The result:
[code]

The fact that the span goes over a `loop {` is surprising, although perhaps this is the result of some compiler refactoring. The lint seems to trigger when there is complex control flow inside the argument to `push`; in my real example it was a `vec.push(loop { ... break val })`. If not for the outer `loop` this c

[2021-01-21 16:06] digama0 commented on #6615
Here's an even more surprising example:
[code]

[code]

[2021-01-21 16:49] camsteffen commented on #6613
FWIW, here are a couple workarounds. I don't know if it's feasible for clippy to analyze usage in that way. Personally, I think these workarounds are better since you are only creating an `Option` when you actually need it.

[code]

[2021-01-21 17:15] camsteffen commented on #4725
@rohitjoshi Are you saying that it can lint when there is just an `if` with no `else`? That definitely should not be the case.

For the original suggestion, I agree, but only for primitive types. For large, complex types, it is good to avoid the second comparison, maybe for strings too.

[2021-01-21 17:17] ltratt commented on #6613
@camsteffen  I had not considered that sort of work around -- it's quite cute!

Unfortunately it's not obvious to me that it's feasible in one case I have, which is in code generated by lrpar (https://crates.io/crates/lrpar) when the user specifies productions that return `Result`. Each production is turned into a function, but some of those might have a `Result` type which returns a fixed `Ok` (o

[2021-01-21 17:27] camsteffen commented on #6613
Thanks! 😆

Interesting. That does seem like a valid use case, though not a very typical one. Could the generator just allow the lint for the whole file or module?

[2021-01-21 17:41] rohitjoshi commented on #4725
Yes, with if statement comparing with const value 0, It shows suggestion to replace with match/compare statement.

[2021-01-21 17:52] camsteffen commented on #4725
Can you reproduce that in a Rust playground? I wasn't able to.

[2021-01-21 18:36] rohitjoshi commented on #4725
Sorry, it does have else if < 0 condition.

[2021-01-21 19:05] #6503 closed

[2021-01-21 19:27] #6358 closed

[2021-01-21 20:46] Manishearth opened #6616 "New restriction lint: exhaustive_enums"
### What it does

This lint forces all enums in the project to be non-exhaustive

### Categories (optional)

- Kind: Restriction

*What is the advantage of the recommended code over the original code*

There is no advantage in the general case, but some projects may wish to use this to ensure they never accidentally stabilize enum APIs they wish to change in the future, silencing the lint as an op

[2021-01-22 00:00] leonardo-m opened #6618 "vec -> array lint for simple cases"
In many blog posts online I see code like:

[code]

I'd like a Clippy lint that suggests to write instead:

[code]

That is, to suggest to use arrays in simple cases where dynamic arrays aren't necessary. Even if such lint is very conservative it's still going to be useful to teach inexperienced Rust programmers to avoid heap allocations (Clippy is also a learning tool today). Rust programmers lat

[2021-01-22 08:24] ltratt commented on #6613
The generator could do that, but up until now I've felt that it's presumptuous to suppress warnings when the user didn't ask me to. I think I might need to rethink that!

[2021-01-22 14:26] camsteffen commented on #6613
Well is code generated by a library the library's code? I say yes. I don't think anyone will accuse you of being presumptuous anyways 😄.

[2021-01-22 15:13] krojew opened #6622 "Invalid lifetime elision hint"
Lint name: needless_lifetimes

I tried this code:

[code]

I expected to see this happen: no warning, since rustc requires explicit lifetime here

Instead, this happened: explicit lifetimes given in parameter types where they could be elided (or replaced with `'_` if needed by type declaration)

### Meta

- `cargo clippy -V`: clippy 0.1.51 (202720bf 2021-01-21)
- `rustc -Vv`:
[code]

[2021-01-22 16:28] flip1995 opened #6623 "[Roadmap] False Positive Rate"
In the worst case, new lints are only available in nightly for 2 weeks, before
hitting beta and ultimately stable. This and the fact that fewer people use
nightly Rust nowadays makes it more probable that a lint with many FPs hits
stable. This leads to annoyed users, that will disable these new lints in the
best case and to more annoyed users, that will stop using Clippy in the worst.
A process sh

[2021-01-22 16:28] flip1995 opened #6624 "[Roadmap] No output after cargo check"
Currently when `cargo clippy` is run after `cargo check`, it does not produce
any output. This is especially problematic since `rust-analyzer` is on the rise
and it uses `cargo check` for checking code. A fix is already implemented, but
it still has to be pushed over the finish line. This also includes the
stabilization of the `cargo clippy --fix` command or the support of multi-span
suggestions i

[2021-01-22 16:28] flip1995 opened #6625 "[Roadmap] Configuration file for lints"
This is something that comes up every now and then: a reusable configuration
file, where lint levels can be defined. Discussions about this often lead to
nothing specific or to "we need an RFC for this". And this is exactly what needs
to be done. Get together with the cargo team and write an RFC and implement such
a configuration file somehow and somewhere.

- Cargo tracking issue: https://github.

[2021-01-22 16:28] flip1995 opened #6626 "[Roadmap] Lint groups"
There are more and more issues about managing lints in Clippy popping up. Lints
are hard to implement with a guarantee of no/few false positives (FPs). One way
to address this might be to introduce more lint groups to give users the ability
to better manage lints, or improve the process of classifying lints, so that
disabling lints due to FPs becomes rare. It is important to note, that Clippy
lint

[2021-01-22 16:28] flip1995 opened #6627 "[Roadmap] Documents requested by the Rust roadmap"
According to the [Rust Roadmap 2021], a document specifying what it means to be
a member of the team should be produced. This should not put more pressure on
the team members, but rather help them and interested folks to know what the
expectations are. With this it should also be easier to recruit new team members
and may encourage people to get in touch, if they're interested to join.

[Rust Road

[2021-01-22 16:28] flip1995 opened #6628 "[Roadmap] Improve Clippy documentation"
Similar to a Clippy Book, which describes how to use Clippy, a book about how to
contribute to Clippy might be helpful for new and existing contributors. There's
already the `doc` directory in the Clippy repo, this can be turned into a
`mdbook`.

#6011

Steps to completion:
- [ ] Write a Clippy book explaining its features and how to use it
- [ ] Convert the contributor documentation to a book

[2021-01-22 16:28] flip1995 opened #6629 "[Roadmap] Better issue and PR triage"
To get a handle on the influx of open issues, a process for triaging issues and
PRs should be developed. Officially, Clippy follows the Rust triage process, but
currently no one enforces it. This can be improved by sharing triage teams
across projects or by implementing dashboards / tools which simplify triaging.

- [x] Get people dedicated to triage Clippy issues and PRs
- [x] Implement Dashboard

[2021-01-22 22:41] #3188 closed

[2021-01-22 22:41] #4193 closed

[2021-01-23 00:06] matthiaskrgr opened #6631 "upper_case_acronyms contains about full-capital identifiers"
Lint name: upper_case_acronyms

I tried this code:

[code]
`Checks for camel case name containing a capitalized acronym.` but there is no camel-case here, it's literally all uppercase, not sure why this triggers here then....

[2021-01-23 03:23] matthiaskrgr commented on #6625
I wondered if it is somehow possible to declare a (proc?) macro in an extern crate that expands to a bunch of allow/deny directives and can be imported into crates where you want the warnings.
Unfortunately rustc does not seem to like the idea :( https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7b020af857b7622d0cc9e3422f52c020

[2021-01-23 04:46] mikerite commented on #6631
There is no way the lint can tell if you're writing an acronym in camel case or one word in uppercase. According to the API guidelines, enum names should be in "UpperCamelCase" and the lint assumes that you're sticking to those guidelines.

[2021-01-23 08:31] tesuji opened #6632 "Lint masking bits and shift"
### What it does

Consider this code snippet:
[code]

We'd realize that the code is wrong. `>>` has [stronger precedence](https://doc.rust-lang.org/nightly/reference/expressions.html#expression-precedence) than `&` operator.
So we has to use `()` to group `(op & 0F000)` and the like.
I'd like to have a lint about this.

### Categories (optional)

- Kind: clippy::correctness

### Drawbacks

None.

[2021-01-23 09:34] llogiq commented on #6632
This is *not* a correctness lint. It should not even lint like this, because shifting the mask may well be the intended outcome of the code.

I'm still somewhat sympathetic to introducing brackets here, and the lint should point out the current meaning and ask if that was really intended.

We actually have the `precedence` lint which could be extended to cover this case.

[2021-01-23 15:03] matthiaskrgr commented on #6631
If the lint can't be sure that something is a TP and not a FP, I would rather have it not emit anything because FPs are generally more annoying than FNs.

[2021-01-24 05:26] mikerite commented on #6631
This lint is about enforcing a rule in the [naming guidelines](https://rust-lang.github.io/api-guidelines/naming.html#casing-conforms-to-rfc-430-c-case). It's enabled by default because projects should follow the guidelines. Projects that are using their own naming standard (for some reason) should just allow this lint.

That warning is correct in every project that follows the Rust style conventi

[2021-01-24 07:38] jhpratt commented on #3859
For reasons I'm not entirely certain of, I can't even silence this lint on a `const` declaration with `#[allow(clippy::use_self)]`.

[2021-01-24 08:36] taylordotfish opened #6633 "let_underscore_drop false positive for references to types that implement Drop"
Lint name: `let_underscore_drop`

`let_underscore_drop` complains about `let _ = ...` bindings where the right-hand side is a reference to a type that implements `Drop`, even when the reference type itself does not implement `Drop`.

Example:

[code]
`let_underscore_drop` complains about the `let _ = ...` line, but the right-hand side of the `let` binding has type `&mut ImplementsDrop`, which is a

[2021-01-24 09:13] tamuhey opened #6634 "Lint integer variable fallback to i32"
From https://stackoverflow.com/questions/65867874/how-to-deny-int-variable-without-explicit-type-annotation-in-rust?noredirect=1#comment116458771_65867874

Related: https://github.com/rust-lang/rfcs/blob/master/text/0212-restore-int-fallback.md

### What it does

Reports integer variable fallback to i32, e.g.

[code]

The below code should also be accepted because the variable is inferred though i

[2021-01-24 10:39] nahuakang commented on #6564
@flip1995  @camsteffen I've started looking into the code base. Seems like this lint should be included in `loops.rs` and be run inside `fn check_for_loop`?

Cam, can I cover the original case first before looking into `option.map()`, `result.map()` and `if let Ok`? (I also  don't understand them unless you give some snippets :see_no_evil:)

[2021-01-24 20:04] camsteffen commented on #6564
Sounds like a good start!

Absolutely. You can always leave some cases to be added later as an enhancement. You also can open a PR to get feedback before you are done.

Here are some examples (each can be changed to use `flatten()`):

[code]

One note that may help is that `if let ..` is "desugared" into an equivalent `match ..` expression, so your code will just be looking for `match` instead of

[2021-01-24 21:19] whatisaphone opened #6635 "Running `cargo clippy` after `cargo new` fails with `eq_op`"
(Issue originally mentioned [here](https://twitter.com/tesaguriguma/status/1349379879775531008))

Running `cargo clippy` directly after `cargo new` fails. This is maybe just my opinion, but it seems a little unfortunate that the default project template doesn't pass the linter.

It fails on `assert_eq!(2 + 2, 4)`. I'm pretty sure that used to be fine. I would expect clippy to flag `assert_eq!(4, 4

[2021-01-24 23:47] brightly-salty commented on #5822
I still have this issue on nightly, I don't know if it's been fixed or not.

[2021-01-25 01:12] woodruffw opened #6636 "Lint idea: forbid all expect and unwrap use"
### What it does

It would be nice to have a restriction lint (i.e., totally opt-in) that allows `clippy` users to completely ban all `expect` and `unwrap` use from a codebase. Functions or other items that absolutely need `expect` and/or `unwrap` or that have been manually reviewed by a human could be marked explicitly with an attribute.

It might also make sense to check for `panic!`.

### Categ

[2021-01-25 01:44] giraffate commented on #6636
FYI there are some restriction lints. `expect_used` and `panic` lints are seems to be good, but `unwrap_used` may not be suitable for this case due to suggesting use of `expect`.
- https://rust-lang.github.io/rust-clippy/master/index.html#expect_used
- https://rust-lang.github.io/rust-clippy/master/index.html#panic
- https://rust-lang.github.io/rust-clippy/master/index.html#unwrap_used

[2021-01-25 02:06] woodruffw commented on #6636
Thanks for the pointers! Yeah, the current `panic` and `expect_used` lints look pretty close to what I'd want -- would anybody be opposed to a link that combines the two + similar behavior for `unwrap` into a single lint?

[2021-01-25 10:17] flip1995 commented on #6564
You have to be careful that the `if let ...` expression is the only expression inside the `for` loop. Otherwise applying this lint would change the semantics.

[2021-01-25 12:01] ndmitchell opened #6637 "Reeneable should_assert_eq lint"
Suggest replacing `assert!(a == b)` with `assert_eq!(a, b)`. This is useful, because given the environment `let a = 1`, `let b = 2`, the displayed error changes between:

* `assert!(a == b)` gives `assertion failed: a == b`
* `assert_eq!(a, b)` gives `assertion_failed: left = 1, right = 2`

The latter is vastly more helpful at diagnosing test failures. This lint was removed in #2156 because of [RF

[2021-01-25 17:29] alex opened #6638 "New lint: Sync types which are generic over T, but T is not Send"
### What it does

Catches un-soudness due to implmenting `Sync` for a type that's generic over `T`, but `T` is not `Send`. This often leads to unsoundness by allowing arbitrary types to be shared across threads.

It should suggest adding a `T: Send` bound as a solution.

### Categories (optional)

- Kind: `clippy::correctness` (potentially also `clippy::pedantic` because this may have false positi

[2021-01-25 18:32] Shnatsel commented on #6638
I've asked in `#black-magic` in Rust community Discord, and I'm told that the exceptions - when this is actually safe - include:

- `PhantomData<T>`, where `T` does not have to be `Sync` for the struct to soundly implement `Send`
- `fn(T)` is `Sync` even if `T` is not `Send`

[2021-01-25 18:58] cuviper commented on #6638
This is a weird example since it would get the trait automatically anyway, but that would have a `T: Sync` bound. I think it's actually dangerous to suggest `T: Send` here, because that would be incorrect in many cases. For example, if `T` is a `Cell<_>`, you may be able to send it to another thread depending on the inner type, but it's never correct to share it (`Sync`).

[2021-01-25 20:50] chorman0773 commented on #6638
Other exceptions include `&T` and types that deref into `T` (without providing a way to move out of it using only shared references). For example, `Box<T,A>: Sync` depends on `T: Sync` and `A: Sync`, only. This is valid because you can't move `T` out of a `&Box<T,A>`.
I would submit that this lint is completely at all, because it is trivial to do soundly, and suggesting `T: Send` over simply `T` i

[2021-01-25 21:20] Qwaz commented on #6638
It seems to me that the synchronization bugs reported to RustSec DB are mostly the violation of "Send types which are generic over T, but T is not Send" and "Sync types which are generic over T, but T is not Sync."

[2021-01-25 21:34] msakuta opened #6640 "unnecessary_wraps suggests to unwrap unit instead of omitting return value"
I tried this code:

[code]

I expected that clippy suggests omitting return value at all:

[code]

Instead, it suggests returning unit:

[code]

and it's stupid because if you follow the instructions it shows another lint warning:

[code]

It should suggest omitting return value in the first place.

Tested on [Rust playgound](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist

[2021-01-25 21:43] Qwaz commented on #6638
`Sync where T: Send` bound is correct for types such as `Channel` and `Mutex`, which is used to move the ownership of the inner type (`T`) or to obtain the mut reference to the inner type (`&mut T`) from a reference of the wrapper type (`&self`). For most of the other type, `Sync where T: Sync` would be correct.

I support the general idea of having a lint that warns against unbounded Sync/Send im

[2021-01-25 21:47] alex commented on #6638
While I filed this with a somewhat prescriptive description, I'm certainly not wedded to the set of constraints/suggested fixes I described. My real interest is in finding ways to capture the set of issues that we've seen really prevelantly in rustsec.

[2021-01-25 21:51] cuviper commented on #6638
I think it only makes sense to suggest bounds if the type is *only* used in fields that could have contributed to an automatic implementation, but something else forces this to be a manual implementation overall.

[code]

[2021-01-25 21:52] tarcieri commented on #6638
+1 to what @alex just said.

We just saw a *huge* number of this class of vulnerability reported to RustSec, and as I was watching that I was wondering if there is some way to catch this class of error more automatically.

Perhaps it'd be good to make a small summary post which includes a select set of specific examples of the vulnerabilities.

[2021-01-25 22:51] camsteffen opened #6641 "New lint: Unused recursive parameter"
### What it does

Checks for parameters that are passed recursively, but otherwise unused.

### Categories (optional)

- Kind: correctness (or complexity?)

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

Make sure the parameter is passed in the same position!

Also could lint with modifications to the parameter like `silly(a - 1, b - 1)` - `b` would still be unused. But y

[2021-01-25 23:17] #6616 closed

[2021-01-25 23:48] giraffate commented on #6636
IMHO, I like the new suggestion that just check use of `unwrap`, but I guess combining those into one seems not to be needed because those lints can be used at the same time.

[2021-01-26 02:36] woodruffw commented on #6636
Makes sense! I'll work on a variant of `unwrap_used` that performs similarly to the current `expect_used` and `panic` checks.

[2021-01-26 05:21] giraffate commented on #6636
Yes, or just changing the message of `unwrap_used` may be good if it has same logic. I'm not a maintainer ( just a contributor ), so you may want to open a WIP pull request or ask a question of implementation on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/clippy).

[2021-01-26 14:51] matthiaskrgr opened #6642 "lintcheck: add support for git crates"
We might want to be able to hook git sources into `cargo dev lintcheck` for checking, right now we can only check `.crate`s from crates.io

[2021-01-26 14:54] camsteffen opened #6643 "New lint: `filter_map_identity`"
### What it does

It's the same as `flat_map_identity`, but with `filter_map`.

### Example

[code]

Could be written as:

[code]

[2021-01-26 15:43] flip1995 commented on #6610
Yes this is the same underlying issue. The solution is to get rid of `pre_expansion_pass` lints.

[2021-01-26 15:49] camsteffen commented on #6080
According to @oli-obk on zulip, we can now use `mir_for_ctfe`.

[2021-01-26 16:09] phansch commented on #6642
Oh yes, that would be nice! Then we could also check specific commits of those repos

[2021-01-26 16:27] xFrednet commented on #5394
@rustbot claim

[2021-01-26 17:01] camsteffen commented on #6641
Whoops dupe of #2624

[2021-01-26 17:01] #6641 closed

[2021-01-26 17:17] phansch commented on #5394
@xFrednet Assuming, you want to work on the `cargo dev` integration into
`x.py`, here's a short summary of the current state of `bless`ing in rustc and
Clippy:

Rustc's `bless` is implemented in the `compiletest` library living [inside the rustc tree](https://github.com/rust-lang/rust/tree/master/src/tools/compiletest).
Clippy is using a custom fork of that library: [compiletest-rs](https://github

[2021-01-26 19:24] kawogi commented on #3410
I think this is the same problem in a slightly different shape:
[code]

The false positive gets triggered twice: once somewhere in the macro (match by accident) and once in the declaration.

[2021-01-26 19:32] camsteffen commented on #6631
The lint is right, but it's reasoning is wrong. The lint name and/or message could be improved so that there is no assumption that "DIR" is an acronym. It could instead say

[2021-01-26 19:39] camsteffen commented on #6622
I was able to elide lifetimes for your example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=943b12504e32c3f5e2d8c22b9bc5a183)). Let me know if I'm missing something.

[2021-01-26 20:14] camsteffen commented on #5549
Related: https://github.com/rust-lang/rust/pull/73996

[2021-01-26 20:26] camsteffen commented on #5357
The diagnostics automatically show the lines that are changed by the suggestion. Closing unless there is more to discuss here.

[2021-01-26 20:26] #5357 closed

[2021-01-26 20:30] camsteffen commented on #5281
The lint also covers `if let &..`. which is "one arm". I think the lint does what it's designed to do.

[2021-01-26 20:43] camsteffen commented on #4961
FWIW, I personally prefer to not borrow the matched value and use `ref`, because it is more flexible in the general case. It allows me to copy inner values that are copy-able, and take a reference of values that are not. It also prevents me from accidentally creating a reference of a reference.

[2021-01-26 20:47] camsteffen commented on #5044
This can be an enhancement of `redundant_clone`.

[2021-01-26 21:14] camsteffen opened #6644 "New lint: `ref` of reference"
### What it does

Checks for a `ref` binding which creates a reference to a reference.

### Categories (optional)

- Kind: style

Reduces de-referencing, less code without `ref`.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

Name could be `ref_of_ref` or `redundant_ref`

[2021-01-26 23:46] CAD97 commented on #3410
I think that one's different. You could say `let positive: Self = false`, but that's also probably not better. This lint should probably not fire for primitive types.

E.g. even in the body of an impl for `!`, it's probably better to refer to `!` than `Self`. For `uN` you could make a case to use `Self` (using the same impl for multiple `uN`), but primitives are much more likely to be mentioned wh

[2021-01-27 03:55] woodruffw commented on #6636
I played around with it a bit more, and the following actually does exactly what I wanted!

[code]

(`unwrap_used` does still recommend `expect`, but that's perfectly reasonable for my use case -- I'm more just interested in enumerating and manually reviewing each).

I'll leave this open just in case others get value out of it/want to pursue it further, but my particular use case is already solved

[2021-01-27 08:29] krojew commented on #6622
@camsteffen turns out it only occurs when building with `#[automock]` from the https://github.com/asomers/mockall crate.

[2021-01-27 14:32] camsteffen commented on #6622
Can you provide a minimal reproducible example?

[2021-01-27 15:44] camsteffen commented on #6622
Thanks! This seems to be an issue with `mockall` since it does not work with elided lifetimes. The github project has a couple reported issues related to returning references. I suggest adding `#[allow(clippy::needless_lifetimes)]` after `#[automock]`.

[2021-01-27 15:44] #6622 closed

[2021-01-27 17:07] xFrednet commented on #5394
I've worked with `compiletest-rs` before in a different project and having a general bless feature as a part of it would definitely be beneficial to not just Clippy but for the entire Rust ecosystem. Therefore, I'm in favor of your proposal.

The first step sounds pretty straight forward. I'm happy to help if you need any support.

The second part is definitely the interesting part. This step will

[2021-01-28 00:20] giraffate commented on #5549
Oh, the suggestion seems to be gone now. Clippy version: `0.1.51 (2021-01-23 4d0dd02)`.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4e98e3c83333070d71025d5150311b66
[code]

[2021-01-28 16:17] flip1995 commented on #6626
https://github.com/flip1995/rust-clippy/commit/fa539c9d85a8b1ae9e88bc777a495c2cebf554bc is a first attempt at implementing this as a PoC.

[2021-01-29 11:27] markbt opened #6648 "from_iter_instead_of_collect suggests invalid replacement"
Lint name: **from_iter_instead_of_collect**

The suggestion provided by this lint is incorrect if the parameter is a range.  It suggests something like `0..3.collect()`, however the `.collect()` binds to the end of the range.  Parentheses must be used to get the right syntax.  It is also missing the type hint that must be necessarily added (either via the turbofish or by specifying the type of the

[2021-01-29 12:33] daxpedda opened #6649 "cargo_common_metadata shouldn't warn on `publish = false`"
**Lint name:** cargo_common_metadata

**I tried this code:**
[code]

**I expected to see this happen:**
I expect no errors to happen, because `publish` is set to false.
Sometimes you have crates in your workspace that you only use for testing or other purposes, which don't need any of the metadata, this is why they have `publish = false`.

**Instead, this happened:**
<details><summary>Warnings:</s

[2021-01-29 16:19] camsteffen opened #6651 "New lint: `collapsible_str_replace`"
### What it does

Checks for consecutive calls to `str::replace` (2 or more) that can be collapsed into a single call.

### Categories (optional)

- Kind: perf

*What is the advantage of the recommended code over the original code*

Faster since the string is only scanned once. Also less repetitive code.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

Using `matches!` is

[2021-01-30 02:45] Y-Nak commented on #6064
Can I take this issue if no one working on it?

[2021-01-30 02:48] Y-Nak commented on #6634
This issue seems duplicate of #6064.

[2021-01-30 03:55] #6634 closed

[2021-01-30 13:49] benjaminSchilling33 opened #6652 "Build fails after upgrade to version 1.51.0-nightly (b12290861 2021-01-29)"
I'm opening this issue since Cippy told be to do it.

I'm using Github actions to build my software.
In the pipeline I'm installing the latest rust nightly build.

Yesterday I was using `rust version 1.51.0-nightly (c0b64d97b 2021-01-28)` and today `rust version 1.51.0-nightly (b12290861 2021-01-29)` is installed.

Now the error below occurs during build. Please tell me if more log data is needed.

[2021-01-30 21:43] flip1995 commented on #6064
Yeah sure! If you have any questions don't hesitate to ask here, on Zulip or open a WIP PR.

@rustbot assign @Y-Nak

[2021-01-30 22:17] autarch opened #6655 "Nothing in the documentation mentions that clippy only works on first compilation"
I thought I was going crazy until I asked about this in the Rust Discord and was told that this was a known issue.

This really needs to be highlighted somewhere in the docs, along with some recommendation on how to deal with this. I'm happy to contribute a patch to the `README.md` if that's the place to put this.

[2021-01-31 00:05] pag4k commented on #6644
Hey! I would like to give a shot at this issue. I don't have much experience with this kind of contribution so it might take a while. :-)

[2021-01-31 09:45] phansch commented on #5394
The only thing I can think of is a feature like https://github.com/rust-lang/rust-clippy/pull/6547. I don't think that currently exists in any of the compiletest variants. This would first have to be added to Rustc's compiletest. Once that's merged, it could be copied over to `compiletest-rs`. I think that could be done somewhat independently of the other work as well.

Additionally, while we are

[2021-01-31 11:12] phansch commented on #6652
Thanks for the report!

If that's the case, then this is not a Clippy issue but a Rustc issue. I will try and see if can reproduce it and find an existing issue over at https://github.com/rust-lang/rust.

[2021-01-31 12:12] phansch commented on #6652
I'm able to reproduce this on [mongo-rust-driver](https://github.com/mongodb/mongo-rust-driver) with `v1.1.1` checked out and on the 2021-01-30 nightly:

[code]

Backtrace:

[code]

It looks like there's already an issue for this bug in rustc: https://github.com/rust-lang/rust/issues/81531
As well as an open PR: https://github.com/rust-lang/rust/pull/81541

Since this is not something that can or

[2021-01-31 12:12] #6652 closed

[2021-01-31 14:50] magurotuna commented on #6643
Hi! I'm interested in this so I'd like to give it a shot.

[2021-01-31 15:21] #5986 closed

[2021-01-31 23:52] giraffate commented on #6655
Can you provide a minimal reproduction or the link to discussion in Rust Discord? Or  do you mean https://github.com/rust-lang/rust-clippy/issues/4612 ?

[2021-02-01 05:32] autarch commented on #6655
The thread in the Discord starts with my question at https://discord.com/channels/442252698964721669/448238009733742612/805198569506078741

I created a bash script to reproduce this but I could not reproduce it in a script. That led me to realize that this must be something about how Emacs is interacting with my rust code. I'm guessing that maybe flycheck is running `cargo check` on save, or perha

[2021-02-01 05:39] autarch commented on #6655
I closed this but on further reflection it still seems like a doc issue. Reading #4612 it's not clear if this is really fixed in nightly, and given that this is still a problem anyone not using nightly is definitely affected by, it seems worthwhile to document the issue until it's fully fixed.

[2021-02-01 13:18] pag4k commented on #6644
Hello! :-) I got this working for very simple cases like the provided example, but I have a few questions:
1. I assumed this has to be done on LatePass, do you think did is correct?
2. To what extent do we want to handle complex cases? I struggle to find a general way to handle any cases.
3. Do we want to also handle `ref mut`?
Thank you!

[2021-02-01 15:09] camsteffen commented on #6644
You will need a late pass for type checking. It should be easy to detect all cases. You just implement `check_pat`, find any `ref` binding and look at the type using `cx.typeck_results()`.

Unfortunately I think we need to take an extra measure to avoid false positives ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=16143f3e41dfc782370d9d54af3260b0)), which mi

[2021-02-01 16:52] kotauskas opened #6658 "False positive for `ref_in_deref` when extracting a function pointer field"
Lint name: `ref_in_deref`

My procedural macro produced this code (manually reduced to MCVE):

[code]

Clippy produces the `ref_in_deref` lint on this line:
[code]
...and suggests to change it to this:
[code]
The replacement produces a compilation error ("no field `my_method` on type `*mut hello::MyTraitVtable`").

### Meta

- `cargo clippy -V`: clippy 0.0.212 (`fe982319` 2020-11-19)
- `rustc -Vv`

[2021-02-01 17:02] kotauskas commented on #6658
Did a `rustup update`, no longer lints as of `clippy 0.1.51 (04caa632 2021-01-30)`.

[2021-02-01 17:06] kotauskas commented on #6658
Oops, evidently it still does.

[2021-02-01 18:50] ajtribick commented on #6341
Probably related to this, it also doesn't like the plus sign being used in exponents. E.g. trying to assign the following to an `f64`:

`let x: f64 = 1.995_840_309_534_719_6e+292; // 0x1.fffffffffffffp+970`

results in

[code]

I personally prefer including the sign as it makes it more obvious where the separation between the sections is. Even if this is something that's worth linting, it's not a

[2021-02-01 19:27] camsteffen commented on #6524
Do what? Clippy didn't make a suggestion.

The lint docs say:

Does this not apply to your example?

[2021-02-01 19:50] andersk commented on #6524
Clippy’s suggestion for `Rc::ptr_eq(&a, &b)` was “consider extracting and comparing data pointers only”. That is what I did (correctly) in `&*a as *const dyn Trait as *const u8 == &*b as *const dyn Trait as *const u8`. But then Clippy made further incorrect suggestions.

[2021-02-01 20:08] camsteffen commented on #6524
Okay, so there are two issues here. Correct me if I'm mistaken in any way since I am not very comfortable with pointers in Rust.

1. The `clippy::vtable_address_comparisons` lint is correct now, but it is no longer correct once rust-lang/rust#80505 is merged.
2. The `clippy::ptr_eq` lint should not fire if the pointer is cast to any type other than `usize`.

[2021-02-01 20:36] andersk commented on #6524
Right; I’ll open a separate issue for that when it becomes relevant.

The ideal behavior may be a little more context-dependent: we can suggest replacing ref-to-pointer casts with `ptr::eq`, but not fat-pointer-to-thin-pointer casts:

[code]

[2021-02-01 20:49] camsteffen commented on #6524
Great!

That should be possible.

[2021-02-01 21:09] pag4k commented on #6644
Thank you for the reply. It is an interesting problem, but I think I'll try to find another one to experience to whole process with an easy one first. :-)

[2021-02-01 21:26] pag4k commented on #6640
I'll try to do this issue.

[2021-02-02 09:19] TaKO8Ki commented on #6391
I'm going to tackle this issue soon.

[2021-02-02 10:37] hyd-dev opened #6663 "ICE with `#![feature(trivial_bounds)]`: SizeOf nullary MIR operator called for unsized type"
I [tried](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=34c85b5e42a7f161764e3eed8a858f4d) this code:
[code]
rustc compiled the code successfully with only `dead_code` warnings, while Clippy gave me an additional `const_err` warning and an ICE (`SizeOf nullary MIR operator called for unsized type TrickClippy`):
<details>

[code]
</details>

I believe the `const_err` warni