[2021-02-02 15:48] #1974 closed

[2021-02-02 21:41] CPerezz commented on #6625
I've been a couple of days taking a look to this and I was also thinking about post something in the IRLO and arrive to an RFC which we could start to work towards.

Do you need some help on Drafting the RFC and implementing the stuff? I would be happy to help :smiley:

[2021-02-02 21:57] flip1995 commented on #6625
Help on drafting the RFC would be nice. I don't think another forum post will help much. Every discussion on this topic let to the same conclusion: this needs an RFC.

[2021-02-02 22:43] CPerezz commented on #6625
Should we setup a hackmd or something similar? Or What do you have in mind?

[2021-02-02 23:00] davepacheco commented on #6610
I think I ran into this too and reproduced it here: https://github.com/davepacheco/clippy-issue

@giraffate and @flip1995 you said this is the same underlying issue as #5356, but that one looks like it's been fixed.  Do you expect this issue is fixed too?  I'm still seeing it on clippy 0.0.212 (e1884a8e 2020-12-29) (Rust stable 1.49.0).

This doesn't always seem to be a problem and I'm not sure wh

[2021-02-02 23:12] flip1995 commented on #6610
It's the same underlying issue, but requires a separate fix, which involves quite a bit of work. TL;DR the whole lint has to be rewritten.

[2021-02-02 23:57] davepacheco commented on #6610
Thanks for clarifying!

[2021-02-03 01:08] Manishearth commented on #6559
Fixed in https://github.com/rust-lang/rust-clippy/pull/6375

[2021-02-03 01:08] #6559 closed

[2021-02-03 01:27] danhoffman699 opened #6668 "ICE on cargo clippy"
[code]

Let me know if I need to provide any other information. This is emitted during the lint of an internal tool that is not publicly available, so I can't provide a reproducible environment.

EDIT: `cargo clippy --fix -Z unstable-options --features "$FEATURES_EXPAND"  -- -A clippy::correctness` was the command to build it. `$FEATURES_EXPAND` is populated with all features that are required for

[2021-02-03 08:38] flip1995 commented on #6625
Yeah, I think a hackmd would be nice. I started one [here](https://hackmd.io/@flip1995/HJteAAPgO) and filled out summary and motivation. You have to sign in to hackmd.io in order to edit it. You can use your GH account for that. (I just want some low barrier of entrance to protect us from spammers).

[2021-02-03 08:42] CPerezz commented on #6625
Absolutely! Will start later on today then! :smiley:  Thanks @flip1995 !

[2021-02-03 14:34] magurotuna commented on #6643
@rustbot claim

[2021-02-03 20:51] nindalf opened #6670 "Replace `std::mem::size_of<T>()` with `::BITS` constant"
### What it does

Starting in Rust 1.51, all integer types will have a ::BITS constant for the number of bits in the type. `std::mem::size_of::<usize>() * 8` can be replaced with `usize::BITS` and similarly for all signed and unisigned integers. This lint suggests such a change.

### Categories (optional)

- Kind: clippy::style

*What is the advantage of the recommended code over the original code

[2021-02-03 22:01] m-ou-se commented on #6670
Note that we're reverting stabilization because of some breakage: https://github.com/rust-lang/rust/pull/81727. So this will probably be 1.52 rather than 1.51.

[2021-02-03 22:40] CPerezz commented on #6625
Added:
- Prior-art section -> https://hackmd.io/tSa8HUOYS2Cxo4PkItmcYw?view#Prior-art Needs a bit more work and highlight some ideas that were interesting and given in the comments but it's mostly there.
- Unresolved questions -> https://hackmd.io/tSa8HUOYS2Cxo4PkItmcYw?view#Unresolved-questions Noted the things that came to my head and wanted to discuss.

Will complete the sections by the end of

[2021-02-03 22:42] flip1995 commented on #6625
Thanks! I may put some time into this the next few days as well.

[2021-02-03 23:47] giraffate commented on #6668
It seems to be related with https://github.com/rust-lang/rust/issues/81614.

[2021-02-04 00:39] MattiasBuelens opened #6671 "False positive for `await_holding_refcell_ref`: RefMut for keeping the awaited future alive"
**Lint name:** await_holding_refcell_ref

**I tried this code:**
[code]
(For more context, see the [complete code](https://github.com/MattiasBuelens/wasm-streams/blob/0f1912d90b02449fc17058b659c0c4906d7f7c41/src/writable/into_underlying_sink.rs#L10-L48).)

This might seem a bit of a contrived example, but it's actually the only way I found to use `async fn` inside a Rust struct exported to JavaScr

[2021-02-04 02:13] brightly-salty opened #6672 "Bug: ICE upvar self borrowed but not mutably./"
I recieved this unexpected output when running `cargo clippy` on a branch of scryer-prolog:
[code]

[2021-02-04 06:19] nindalf commented on #6670
That sounds fine.

I’d be happy to work on this issue. Does anyone know what’s the deadline to make it for 1.51.0 or 1.52.0?

[2021-02-04 10:35] flip1995 commented on #6564
Implemented in #6646

[2021-02-04 10:35] #6564 closed

[2021-02-04 13:06] leonardo-m opened #6673 "Suggestion to remove redudant implied stdlib traits"
On code similar to this:

[code]

Clippy could suggest to remove the standard library trait "+ Eq" because it's already implied by "Ord".

[2021-02-04 14:57] hrishisd commented on #6598
Hello! I would love to attempt this issue. I am a rust beginner and this would be my first open source contribution so I may be a little slow if that's ok. I can take a look this weekend.

[2021-02-04 18:18] xFrednet commented on #6598
Hey @hrishisd it's no problem if you take some time to implement this. Feel free to ask in the issue or on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy) if you're stuck during the implementation 🙃.

Could you maybe comment `@rustbot claim` in this issue to assign it to you? This makes it easier for others to see that someone is working on it. You can unassign yourself at an

[2021-02-04 19:16] xFrednet commented on #6422
Hey, what is the status on this issue? It seems like #6513 implemented this. Can this one be closed or is there still something left to do? 🙃

[2021-02-04 20:30] jyn514 opened #6675 "or_fun_call doesn't trigger on unsafe blocks"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4ece94c8fe5548da6f17cf014779fce6)):

[code]

I expected to see this happen: Clippy warns on both `f` and `g`.

Instead, this happened: Clippy only warns on `f`.

### Meta

- `cargo clippy -V`: 0.1.51 (2021-02-03 e708cbd)

[2021-02-04 20:31] jyn514 commented on #6675
Also the suggestion causes a borrowck error:
[code]

[2021-02-04 20:57] nahuakang commented on #6651
This actually looks really fun. I'd like to move on to this issue :raised_hands:

[2021-02-04 22:04] nahuakang commented on #6422
Hey Fred! @flip1995 can correct me if wrong, but I think the issue is fixed now :)

[2021-02-04 22:13] #6422 closed

[2021-02-04 23:27] giraffate commented on #6673
Thanks for the suggestion of the new lint! But, I'm closing this because it's a duplicate of https://github.com/rust-lang/rust-clippy/issues/1488.

[2021-02-04 23:27] #6673 closed

[2021-02-04 23:31] giraffate commented on #6668
According to https://github.com/rust-lang/rust/issues/81614#issuecomment-772971174, ICE seems to be resolved, so I'm closing this. If you still have any problems, feel free to reopen this.

[2021-02-04 23:31] #6668 closed

[2021-02-05 00:41] giraffate commented on #6672
Do you mean https://github.com/mthom/scryer-prolog? I can't reproduce the ICE on it. Can you provide a minmal reproduction? FYI I used versions below.
[code]

[2021-02-05 00:56] brightly-salty commented on #6672
Yes, that is the repository I'm talking about. I'm not sure what a minimal reproduction would look like. The ICE occurred (and continues to occur) on my branch of scryer-prolog located here https://github.com/brightly-salty/scryer-prolog/tree/clippy-warnings.

[2021-02-05 01:34] giraffate commented on #6672
Thanks for more info! I reproduced the ICE on your branch, not master branch.

<details>
<summary>backtrace</summary>

[code]

</details>

[2021-02-05 01:40] camsteffen opened #6676 "Enhancements for `manual_flatten`"
Enhancements for `manual_flatten`

1) `for_each`

	  Before:

[code]

	  After

[code]

2) nested loops

	  Before:

[code]

	  After:

[code]

[2021-02-05 01:47] camsteffen commented on #4612
@Fishrock123 Because you're making the problem even worse by needlessly rebuilding the entire project.

[2021-02-05 02:06] brightly-salty commented on #6672
@giraffate Looks like it might be similar to/a duplicate of https://github.com/rust-lang/rust/issues/81700. I'll keep this issue up until that commit gets into rust-nightly, and then test again. If it works, I'll close the issue. Does that sound good?

[2021-02-05 02:12] giraffate commented on #6672
Looks good, thanks!

[2021-02-05 02:47] hrishisd commented on #6598
Thank you for your help @xFrednet!

@rustbot claim

[2021-02-05 09:35] flip1995 commented on #4612
@Fishrock123 Posting the same again and again on an issue where already many workarounds were posted, gets downvoted on GitHub most of the time (and in open source in general). We know about this issue and are trying to get it fixed, it's just not as easy as it looks. It is even pinned in this repo. It doesn't help if every other week a comment saying "this is still an issue" without suggesting a

[2021-02-05 10:57] xfix opened #6677 "Warn about trailing whitespace followed by a newline in a string"
### What it does

Detect trailing whitespace followed by a newline in a string.

### Categories (optional)

- Kind: style or correctness, not sure

*What is the advantage of the recommended code over the original code*

Text editors tend to remove whitespace at the end of line which would modify what the code does. Using `\x20` instead of a space in such situations will prevent text editor from do

[2021-02-05 17:22] magurotuna opened #6680 "[Tracking issue] Rearrange location of some of the existing lints"
Currently, the lint rules grouped as "methods" reside in `clippy_lints/src/methods` as there are a number of rules belonging to the "methods" group.
However, although the other groups such as "loops", "types", "transmute" and "misc" also have many relavent rules, they reside not in `clippy_lints/src/<group_name>` but in `clippy_lints/src`.
It would be great to have these groups located under `<gro

[2021-02-05 19:45] camsteffen commented on #6614
I tried to fix this with `HIR` and `ScopeTree` to no avail. I think this will require MIR analysis. Of course we could special-case `format_args!` but I think that is too rare of a use-case for that.

[2021-02-05 22:35] camsteffen commented on #6597
@qrilka Can you explain the question?

[2021-02-05 23:35] Mark-Simulacrum opened #6683 "Requiring version number to match upstream Rust version is unnecessary"
https://github.com/rust-lang/rust-clippy/issues/6499 proposed locking the version number of clippy-the-cargo project to the version number of Rust. In practice, this causes some work for the release team during release week, and I'm not sure why it matters - to my knowledge, clippy isn't depended on by any projects outside the monorepo at rust-lang/rust and this repository, so the version number s

[2021-02-05 23:44] matthiaskrgr commented on #6683
Could we just disable the test when running clippy tests from the rustc repo?
This way, there should be no failure when the rustc version is bumped in the rustc repo, but as soon as we do the next rustc->clippy sync (and bump the compiler version inside the clippy repo) the test would fail inside clippy CI and we'd be alerted to bump the version in our repo.

[2021-02-06 02:14] Manishearth commented on #6683
Yeah I think @matthiaskrgr's proposed plan is good here.

[2021-02-06 02:19] Mark-Simulacrum commented on #6683
That seems fine to me, anything that means we don't need to worry about it upstream basically solves my concerns. That said I'm not convinced you *want* this - but I'm not going to argue that, you know constraints better than I.

[2021-02-06 04:16] Y-Nak commented on #6543
I'm working on it!
@rustbot claim

[2021-02-06 06:08] TaKO8Ki commented on #6391
@rustbot claim

[2021-02-06 08:31] qrilka commented on #6597
@camsteffen from what I was observing it looked like the same version of `clippy` was reporting different warnings (actually reporting and not reporting) in 2 cases with only `rustup update` in between (if I remember correctly). If version reporting in `clippy` is correct (but as @rail-rain said it's probably not) then it looks like warnings are not reproducible. That would mean for example that A

[2021-02-06 19:17] camsteffen commented on #6597
Rustup updates clippy so it is expected that clippy behavior will change. The issue with the version number not changing is fixed in #6526. I don't think there is anything actionable here but let me know if I'm missing something.

[2021-02-06 19:17] #6597 closed

[2021-02-06 19:30] nahuakang commented on #6680
@magurotuna @camsteffen Shall we kick this off sometime this month? I could focus on `loops` since I just came from it (and there are only 18 lints). But I think for `methods` we'd need to split carefully since it has 50+ lints :thinking:

[2021-02-06 21:15] flip1995 commented on #6680
Also feel free to split this not only in multiple commits, but also in multiple PRs.

[2021-02-06 22:19] camsteffen commented on #6680
@nahuakang Sure! Frankly I don't want to promise anything from me at this point. For organization, I would recommend we comment here on what group you're currently working on. But you don't have to do an entire group.

[2021-02-06 22:26] flip1995 commented on #1422
I think we can close this issue. This is long outdated and we haven't seen bugs like this for a long time.

[2021-02-06 22:26] #1422 closed

[2021-02-06 23:33] leonardo-m opened #6689 "Possible while_immutable_condition false positive"
This uses a Rust idiom:

[code]

Clippy with rustc 1.51.0-nightly gives:

[code]

[2021-02-07 00:54] Manishearth commented on #6683
Yeah I don't think we _really_ need this, but it's easy and convenient to have the version number _somewhere_ in tree.

Clippy reports the rustc version on the CLI, and it would be _kinda weird_ if that weren't somewhere in tree as well.

[2021-02-07 01:00] Mark-Simulacrum commented on #6683
Hm. I guess I don't see that as at all odd. But up to y'all.

[2021-02-07 03:05] camsteffen commented on #6062
I think that `drop` is a good way to ignore a `Result` because it is explicit. Some would prefer it over `let _ =` for that reason, but I think the jury is still out on which is more idiomatic. If someone changes code to "fix" a warning without thinking about what the change does, that seems like a different problem to me.

[2021-02-07 03:48] dtolnay opened #6690 "trivial_regex prefers very slow code"
Lint name: trivial_regex

[code]

[code]

Clippy wants the regex replaced with `str::contains`, which is &gt;10x slower.

[code]

---

- `cargo clippy -V`: clippy 0.1.52 (a73c2e5 2021-02-06)
- `rustc -Vv`:
[code]

[2021-02-07 08:24] #6633 closed

[2021-02-07 09:04] #6467 closed

[2021-02-07 09:12] phansch commented on #6680
If `group_name` refers to lint groups like `restriction` or `pedantic`, it's worth noting that these change quite often compared to lint names. So, if someone changes the lint group of a lint they will have to move it to the correct directory as well, adding some extra work. Not sure if that's fine?

If it just refers to unrelated group names, ignore what I said =)

[2021-02-07 09:21] nahuakang commented on #6680
@phansch The `group_name` would be `methods` or `loops` so that new contributors have an easier time finding lint's or understanding the structure of the repo 😁 You are right that it shouldn't be the lint group categories.

[2021-02-07 10:07] #6643 closed

[2021-02-07 10:57] matthiaskrgr opened #6691 "lintcheck: don't hardcode lintcheck_crates.toml location"
Right now the location of clippy_dev/lintcheck_crates.toml` is hardcoded.
We should have a cmdline option in the lintcheck subcmd to allow passing an arbitrary sources.toml location that contains the  rust sources we want to check with lintcheck/clippy.

[2021-02-07 13:36] #6642 closed

[2021-02-07 13:47] magurotuna commented on #6680
I'll work on "transmute" group :)

[2021-02-07 19:17] #6691 closed

[2021-02-07 23:59] giraffate commented on #6690
Thanks for the report!

Should we deprecate `trivial_regex`? At least, I think it would be good to add a note about performance with a long string to `Known problems` section in doc.

[2021-02-08 01:00] dtolnay commented on #6690
Long strings isn't the relevant bit, it's whether the same regex is applied repeatedly. The regex constructors precompute and cache some kind of DFA that provides the speedup.

I opened #6696 to downgrade trivial_regex to nursery until Clippy is able to recognize whether the regex is applied just once or more than once.

[2021-02-08 01:03] dtolnay commented on #6690
Here is the once-applied regex case, which is effectively identical to str::contains:

[code]

[code]

[2021-02-08 01:13] giraffate commented on #6690
I got it! And thanks for another example!

[2021-02-08 01:25] camelid commented on #2488
Seems to be fixed now:

[code]

[2021-02-08 12:43] llogiq commented on #6543
Please note that any `return` in the loop body needs to be changed to a `continue`.

[2021-02-08 13:17] Y-Nak commented on #6543
Good point! Thanks!

[2021-02-08 15:19] xfix commented on #6689
Personally I would use `loop` instead. Using `while` like this feels needlessly clever to me.

[code]

[2021-02-08 16:23] daxpedda opened #6699 "missing_panics_doc shouldn't warn on `unreachable!`"
**Lint name:**
missing_panics_doc

**I tried this code:**
[code]

**I expected to see this happen:**
No warning.

As noted by @dtolnay in https://github.com/rust-lang/rust-clippy/issues/1791#issuecomment-304490626:

**Instead, this happened:**
<details><summary>Warnings:</summary>

[code]
</details>

### Meta

- `cargo clippy -V`: clippy 0.1.51 (3682750 2021-02-02)
- `rustc -Vv`:
[code]

[2021-02-08 17:17] camsteffen commented on #6604
I think this is a case where the lint is good but the message is wrong. It would be better style IMO to replace `_` with `Err(_)` as it would read "for any other error, do this". If the `_` covers multiple enum variants, then the `_` makes more sense (hence the lint name).

[2021-02-08 18:09] xFrednet commented on #6651
@nahuakang could you maybe assign your self by commenting `@rustbot claim`? This makes it easier to see that someone is working on this issue. You can unassign yourself at anytime if you want to stop working on this :upside_down_face:. It's nice to see you around, keep up the good work :+1:

[2021-02-08 18:12] nahuakang commented on #6651
@rustbot claim

[2021-02-08 23:55] giraffate commented on #2488
Thanks! It seems to be fixed by https://github.com/rust-lang/rust-clippy/pull/4053, so I'm closing this.

[2021-02-08 23:55] #2488 closed

[2021-02-09 00:06] giraffate commented on #6658
Thanks for your report!

I tried on [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=26a1c196fea29d964a004b839bf532b0), but the suggested codes have no error. It seems to be fixed by https://github.com/rust-lang/rust-clippy/pull/6609, so I'm closing this. If you have any problems yet, feel free to reopen this.

[2021-02-09 00:06] #6658 closed

[2021-02-09 00:31] giraffate commented on #6672
I tried again on versions below, ICE doesn't happen. It seems to be fixed, so I'm closing this.
[code]

[2021-02-09 00:31] #6672 closed

[2021-02-09 02:25] link2xt opened #6702 "if_same_then_else does not detect same `if let` expression"
Lint name: [`if_same_then_else`](https://rust-lang.github.io/rust-clippy/master/index.html#if_same_then_else)

I tried this code: https://github.com/deltachat/deltachat-core-rust/blob/master/src/message.rs#L1081-L1091

[code]

I expected to see this happen: detect that `chat.id.is_deaddrop()` condition could be removed.

Instead, this happened: clippy did not detect anything.

### Meta

- `cargo c

[2021-02-09 04:18] kpreid opened #6703 "Generalize iter_cloned_collect to .copied()"
I ran Clippy on some previously unlinted code and found that it reported that

[code]

could be replaced with `some_slice.to_vec()`, but, did _not_ report cases where I had happened to write

[code]

instead. Perhaps it would make sense to generalize `iter_cloned_collect` to also detect uses of `.copied()`, or add a corresponding lint if they should be kept separate for some reason.

[2021-02-09 08:04] giraffate commented on #6703
Thanks for suggesting enhancement! But it seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/3870, so I'm closing this.

[2021-02-09 08:20] TaKO8Ki commented on #6262
Hi. I'm interested in this so I'd like to tackle it.

[2021-02-09 08:28] TaKO8Ki commented on #6262
@rustbot claim

[2021-02-09 11:40] NieDzejkob opened #6705 "Warn on stdout output in a Debug or Display implementation"
### What it does

Detect uses of `print` (instead of `write`) and similar inside of implementations of formatting traits (Debug, Display, LowerHex, etc.)

### Categories (optional)

- Kind: correctness

*What is the advantage of the recommended code over the original code*

Using print will appear to work correctly until one tries to print somewhere other than stdout (a file, string buffer, ...)

[2021-02-09 12:25] piotrmaks commented on #5827
It's enough to await a future to silent the warning.
[code]

 This is happening on both stable and nightly rust.

_I expected to have Clippy inform me about having a redundant clone, with this warning_:
[code]

_Clippy outputs no warnings despite evidently having a redundant clone:_
[code]

# Meta
- `clippy 0.1.51 (04caa63 2021-01-30)`
- `rustc -Vv`:
[code]

[2021-02-09 13:29] yonip23 opened #6707 "New lint suggestion: Remove commented code"
### What it does

Checks for commented code - possibly should be deleted

###

- Kind: correctness / style

Advantages:
- Get rid of redundant and confusing code that doesn't even compile
- Clean up the codebase.

### Drawbacks

None.

### Example

[code]

Should be deleted.

[2021-02-09 14:25] kpreid commented on #6703
I think these are **different** issues: that issue talks about a lint replacing `.cloned()` with `.copied()`. In this issue, I am proposing that the lint would recommend *replacing a chain containing `.copied()`* with `.to_vec()`.

(Incidentally, I checked the standard library source and `.to_vec()` uses `Copy` when available, so this would not have any performance regression.)

[2021-02-09 15:08] Y-Nak commented on #6680
I'll work on `types`!

[2021-02-09 16:32] xFrednet commented on #6705
@rustbot label +A-lint

[2021-02-09 17:06] matthiaskrgr opened #6710 "more lintcheck todos"
[ ]  add a `LINTCHECK_TOML` env var or something like that https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/Meeting.202021-02-09
[ ] check how clippy ICEs are handled and collect the names of crates that clippy ICEs on
[ ] parallelize/check multiple crates at a time? (we are mostly interested in the lint results of the root crate and we can only check one root crate at a time...)

[2021-02-09 20:12] glittershark opened #6711 "New lint: "use Option::take""
### What it does

Suggest replacing `std::mem::replace(&mut x, None)` `x.take()`

### Categories (optional)

- Kind: `clippy::style`

Advantages: A simpler way of accomplishing the same thing

### Drawbacks

None that I can tell

### Example

[code]

Could be written as:

[code]

[2021-02-09 22:14] matthiaskrgr commented on #6508
Turns this actually printed by clippy:
[code]

[2021-02-09 23:28] giraffate commented on #6711
Do you mean [mem_replace_option_with_none](https://rust-lang.github.io/rust-clippy/master/index.html#mem_replace_option_with_none)? It seems to be same as this, so I'm closing this.

[2021-02-09 23:28] #6711 closed

[2021-02-09 23:39] giraffate commented on #6707
Thanks for new lint suggestion! It seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/1348, so I'm closing this. If you have anything on this, feel free to reopen this.

[2021-02-09 23:39] #6707 closed

[2021-02-09 23:43] giraffate commented on #6703
Oh, sorry for my misunderstanding. I reopen this.

[2021-02-10 00:15] glittershark commented on #6711
Huh. I may have a false negative case for that then. I'll see if I can repro

[2021-02-10 04:30] Cldfire commented on #5593
Just bumped into this, here's another simple repro: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=490989da20f67791b30d3e164790fe73

[code]

[2021-02-10 09:25] thomcc commented on #5598
This feels a bit odd because adding a lint against a method like this is effectively deprecating it on behalf of stdlib, without going through the libs team or a wider community discussion process. The discussions on it (here and IRLO) seems far from conclusive on the subject too...

[2021-02-10 11:53] booleancoercion opened #6713 "Lint towards replacing `from_str_radix` with `str::parse` when the radix is 10"
### What it does
The lint suggests replacing e.g. `u16::from_str_radix(&string, 10)` with `string.parse()`.
(Obviously, it could also be any other primitive with such associated function).

### Categories (optional)

- Kind: perhaps this could go in `clippy::style`.

*What is the advantage of the recommended code over the original code?*

The resulting code is shorter, easier to read and doesn't i

[2021-02-10 12:50] SoniEx2 commented on #5598
Fwiw there is a comment in the stdlib which strongly hints that `&[char]` should be deprecated.

[2021-02-10 13:11] booleancoercion commented on #6713
If this lint makes sense, I'd like to try implementing it myself!

[2021-02-10 13:40] #4612 closed

[2021-02-10 13:44] flip1995 commented on #4612
This is now fixed in Clippy and will land in some nightly over the weekend. This means the fix will hit stable (if nothing goes wrong) in 1.52.0.

[2021-02-10 13:46] flip1995 commented on #6624
Fixed with #6687

[2021-02-10 13:46] #6624 closed

[2021-02-10 13:46] flip1995 commented on #6624
The fix will hit stable with 1.52.

[2021-02-10 13:59] tesuji commented on #4612
Hi, I'm happy this issue fixed.
From [the changelog](https://github.com/rust-lang/rust-clippy/pull/6687#issue-568832165) it seems that

One issue for me is that clippy run slower than cargo-check command.
Before this change, I run cargo check and touch main.rs or lib.rs to redo the lints by clippy.

There are some reasons why clippy is slower than cargo-check:
1) clippy has many more lints to run

[2021-02-10 14:01] tesuji commented on #5598
@SoniEx2 Could you linking the specific code that hints exactly that ?
I tried to grep with `&[char]` but cannot find the relevant  parts .

[2021-02-10 14:05] #6391 closed

[2021-02-10 14:23] flip1995 commented on #4612
Yes this is true for your crate, not for the dependencies. This is because Clippy runs more lints and analyzes your code more than `cargo check`. It shouldn't be that noticeable though.

Clippy lints are not run for dependencies (except local path dependencies, but you can disable this behavior with `cargo clippy -- --no-deps`). The issue you linked isn't really about linting dependencies - that's

[2021-02-10 14:45] SoniEx2 commented on #5598
https://github.com/rust-lang/rust/blob/0d97f7a96877a96015d70ece41ad08bb7af12377/library/core/src/str/pattern.rs#L759

[2021-02-10 18:05] thomcc commented on #5598
Unless I'm mistaken (maybe the author of that comment, @Kimundi, is around and can say definitively if this is what it meant), this is saying it's ambiguous because it's not clear if it's searching sequentially vs looking for the first match of the list.

The thing is, I think that issue applies to `&[&str]` too, which we're considering suggesting as the recommended replacement.

[2021-02-10 19:19] xFrednet commented on #5394
Hey @phansch congratulations on having the `bless` PR merged, that is really awesome!

You mentioned two tasks in your previous comment
1. > work on a Clippy PR that uses the new bless
2. > feature like #6547

Have you started to work on one of these? I'm not sure if we want to wait on the switch to the new bless for a feature like #6547. I would look into implementing #6547 into the Rustc's compi

[2021-02-10 19:38] kangalioo opened #6715 "Warn when using to_owned on already owned types"
### What it does

By virtue of deferencing to `&[T]`, Vec implements several methods such as `.to_owned()` or `.to_vec()`. When called on Vec, these methods do the same thing as `.clone()`, all the while being more confusing ("why call to_owned or to_vec on something that already is a Vec and is owned?")

### Categories

- Kind: `style`

### What is the advantage of the recommended code over the o

[2021-02-10 19:49] #6648 closed

[2021-02-10 20:34] SoniEx2 commented on #5598
There is no support for `&[&str]` currently, but an array of strings is slightly different from an array of characters, especially for anyone coming from C.

[2021-02-10 21:24] jyn514 commented on #2394
`Rc<String>` (should just be `Rc<str>`)

[2021-02-10 21:32] #1791 closed

[2021-02-10 21:33] camsteffen commented on #2434
This particular case is fixed in Clap v3 [here](https://github.com/clap-rs/clap/pull/1884) (still in beta though).

[2021-02-10 21:38] camsteffen commented on #6715
Good idea.

Yes 👍  We can call the lint `owned_to_owned`.

[2021-02-10 23:42] Manishearth commented on #2394
I'm unsure about small boxes, but it seems fine. Definitely worth making a PR

[2021-02-11 08:39] xFrednet commented on #6713
I believe this lint makes sense. We can easily change its category to `clippy::pedantic` if it's a lint that is seen to be to strict 🙃

You can take this issue up and it seems like you've already found our Zulip. Could you comment `@rustbot claim` to assign the issue to you? This makes it clearer for others that someone is working on this. You can also unassign yourself at any point if you don't w

[2021-02-11 08:55] xFrednet commented on #6713
@rustbot label +A-lint +T-middle

[2021-02-11 08:56] booleancoercion commented on #6713
Thanks! Yeah I'll assign it to myself.
Perhaps it could have false positives when someone uses a constant for the base that might be changed later I guess

[2021-02-11 08:56] booleancoercion commented on #6713
@rustbot claim

[2021-02-11 09:13] xFrednet commented on #6713
Thank you 🙃 can also include the `@rustbot` in a lager comments. I've only put it extra because I forgot it at first 😅

This should not be a problem if you only check for the literal `10`. HIR references constant values using a path. This means that the lint would not see a constant like this `u16::from_str_radix(input, 10)?;` but rather as `u16::from_str_radix(input, crate::VALUE_RADIX)?;`. The a

[2021-02-11 09:46] #6649 closed

[2021-02-11 15:51] alex opened #6721 "unnecessary_wraps complains about function wrapped by proc-macro"
Lint name: unnecessary_wraps

I tried this code:

[code]

I expected to see this happen: No warning, even though it always returns `Ok(())`, the proc-macro needs it to return a  `Result`

Instead, this happened:
[code]

### Meta

Rust: 1.50.

[2021-02-11 16:22] emilk opened #6722 "suspicious-operation-groupings false positive"
Lint name: [suspicious-operation-groupings](https://rust-lang.github.io/rust-clippy/master/index.html#suspicious_operation_groupings)

I tried this code:

[code]

Latest clippy gives me this:
[code]

(playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4dbce29a2cf5bed0efc48214538bea53)

---

Minimal reproduce:

[code]

[code]

---

I don't know how this lint i

[2021-02-11 16:57] jan-auer commented on #6427
This now hit stable.

[2021-02-11 17:21] ThibsG opened #6723 "Bad suggestion with `borrowed_box` lint"
I tried this code:

[code]

I expected to see this happen: *nothing happens or a valid suggestion is given*

Instead, this happened: *fires `borrowed-box` lint and suggests removing `Box` in return type which results in compilation error*

[code]

but using suggestion causes compile time error:

[code]

### Meta

Rust 1.49.0

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=

[2021-02-11 17:23] ThibsG commented on #6723
@rustbot label +I-suggestion-causes-error +C-bug

[2021-02-12 02:11] camsteffen commented on #6723
I think the lint is correct. You can change the function to:

[code]

[2021-02-12 02:35] camsteffen commented on #6721
This seems like an issue with the pyo3 library to me. I'm not sure it makes sense to disable the lint on any function with a proc-macro.

[2021-02-12 03:13] alex commented on #6721
Why do you say it's an issue with pyo3?

[2021-02-12 03:35] camsteffen commented on #6721
Because it requires you to return a Result.

[2021-02-12 03:38] alex commented on #6721
Why is that a bug? Usually implementations will return something besides
`Ok(())` this just happens to be a degenerate case.

On Thu, Feb 11, 2021 at 10:35 PM Cameron Steffen <notifications@github.com>
wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2021-02-12 04:10] rschoon commented on #6721
I suspect the proc-macro _could_ probably be changed to handle detect and handle a function returning either pyo3::PyResult<T> or T, but my first inclination on encountering this would be to assume it doesn't support it and the lint needed to be ignored instead (which almost certainly currently true).

[2021-02-12 05:57] anall commented on #6715
@rustbot claim

I think I've got something mostly working for this, but I am not sure if I am doing anything the proper way, or if there is a better way to go about this.

I have a few hangups with the "Additional Comments" -- and I still need to figure out how to handle `PathBuf` or `ArbitraryCustomType` for that (and how to convert those to snake case `path_buf` and `arbitrary_custom_type`)

[2021-02-12 06:20] #2843 closed

[2021-02-12 06:20] #3410 closed

[2021-02-12 06:20] #4143 closed

[2021-02-12 06:20] #3859 closed

[2021-02-12 06:20] #4305 closed

[2021-02-12 06:20] #4734 closed

[2021-02-12 06:20] #6221 closed

[2021-02-12 06:20] #3881 closed

[2021-02-12 06:20] #3909 closed

[2021-02-12 06:20] #4887 closed

[2021-02-12 06:20] #5078 closed

[2021-02-12 07:26] Y-Nak opened #6724 "Tracking Issue for refactoring `types.rs`"
While refactoring `types.rs` in #6680, I found that `types.rs` contains not only the `types` group but also other groups like the `cast` group.
This issue is a tracking issue for refactoring `types.rs` to avoid a too large PR and split them into small PRs.

* [x] `types` group(#6725):
    * `BOX_VEC`
    * `VEC_BOX`
    * `OPTION_OPTION`
    * `LINKEDLIST`
    * `BORROWED_BOX`
    * `REDUNDANT_ALL

[2021-02-12 07:28] Y-Nak commented on #6724
@rustbot label +I-suggestion-causes-error +C-tracking-issue

[2021-02-12 07:30] Y-Nak commented on #6724
@rustbot label -I-suggestion-causes-error

[2021-02-12 08:17] ThibsG commented on #6723
Indeed this works, thanks!
Well the lint is only looking at the return type, not the returned expression, that's why I got confused when using the suggestion.

[2021-02-12 08:17] #6723 closed

[2021-02-12 08:31] mitsuhiko opened #6726 "unnecessary_wraps is a bad default lint"
Lint name: `unnecessary_wraps`

The newly introduced `unnecessary_wraps` lint is one I now need to disable everywhere it has popped up so far as a warning. The reason for this is that we use `serde(default = func)` a lot and when you have a nullable type you need to return a `Some(value)` from that function.

I would make an argument that this lint should not be in the list of default lints becaus

[2021-02-12 11:19] foresterre commented on #6726
I also think the `unnecessary_wraps` should not be enabled by default.

In my use case, some functions return a `Result<(), Error>`, which strictly speaking is unnecessary, but makes the code of the caller more readable.

Take for example the following code where the `unnecessary_wraps` lint pops up:

[code]

Here, `self.insert_env` and `self.remove_env`, do not result in a failure case, but retur

[2021-02-12 11:21] mitsuhiko commented on #6726
It's also add that you would have to refactor your API just because the code in the current implementation might not return an error.

[2021-02-12 11:49] soniasingla commented on #6722
I am working on this issue 🎤

[2021-02-12 14:33] martin-t opened #6727 "wrong_self_convention possibly too strict for Copy types"
Lint name: wrong_self_convention

I tried this code:

[code]

I get this:
[code]

If this trait is implemented for types such as `f32`, then i think the `to_` prefix makes complete sense - `f32` already has methods with that prefix and it makes no sense to take such a small type by reference.

I think this lint should allow `to_` on Copy types to take `self` without reference.

### Meta

`cargo cl

[2021-02-12 14:47] soniasingla commented on #6722
@rustbot claim

[2021-02-12 14:59] camsteffen commented on #6715
@anall Feel free to ask questions on Zulip or open a work in progress PR.

Converting to snake case is not the right approach. Instead there should be a list of known "to owned" functions that are equivalent to `clone`. It is okay if the lint only covers one type like `Vec` at first.

[2021-02-12 15:26] camsteffen opened #6728 "Suggest fix for `borrowed_box` return value"
It would be nice if `borrowed_box` suggested a fix for the returned value in addition to the function signature.

Example from #6723:

[code]

[2021-02-12 15:29] camsteffen commented on #6723
Yes a more specific suggestion would be better! I opened an issue for that 👆.

[2021-02-12 15:54] nicomem opened #6729 "redundant_clone: false positive using ToOwned"
The following code :
[code]

generates the following lint:
[code]

However, removing the `.to_owned` leads to a compilation error since the return types are different.

May be related to #5700

### Meta

- `cargo clippy -V`: clippy 0.1.52 (e9920ef 2021-02-11)
- `rustc -Vv`:
[code]

[2021-02-12 19:03] camsteffen commented on #6729
The problem is that your function takes a value instead of a reference. But it would be better if `redundant_clone` was more clear about that. So this is an enhancement rather than a false positive.

[2021-02-12 19:10] camsteffen commented on #6729
In fact, it really should be `needless_pass_by_value` instead.

[2021-02-12 21:04] #6699 closed

[2021-02-12 21:30] TyPR124 opened #6732 "False Positive: redundant_closure with macro"
Lint name: redundant_closure

I tried this code:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cd500ed497d52778f4f2a0f171582f3b)

### Meta

`clippy 0.0.212 (cb75ad5d 2021-02-10)`

[code]

[2021-02-12 22:50] nayato opened #6734 "clippy crashing on after upgrade to Rust 1.50"
Upgrading Rust from 1.49 to 1.50 and running `cargo clippy` I got this:
[code]

[2021-02-13 11:15] phansch commented on #5394
@xFrednet I haven't started any new work here, yet. To me it seems better to start with adding #6547 to Rustc's compiletest first.

Do you already have an idea how to implement it? I just know that the code would have to go somewhere [here](https://github.com/rust-lang/rust/blob/master/src/tools/compiletest/src/runtest.rs#L3714-L3716) but I don't know on which condition it should skip writing the

[2021-02-13 11:21] phansch commented on #6734
Thanks for the report @nayato!

Are you able to share the source code or reduced example code that causes the crash?

[2021-02-13 14:14] matthiaskrgr commented on #6734
Could as well be a rustc issue :thinking:
https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+%22forcing+query+with+already+existing+DepNode%22

[2021-02-13 15:15] xFrednet commented on #5821
This issue seems to be fixed. Clippy at least suggests the usage of `map_or_else` for the example code. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=54b3a96ad565c52c43756804d956e5c3)

[2021-02-13 15:37] xFrednet opened #6737 "Invalid suggestion of `option_if_let_else` causes a compilation error `error[E0382]: Borrow of moved value`"
I tried this code:

[code]

and got the following lint trigger:

[code]

Using the suggested code leads to:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4bdec68d896548d9e398613a10bf0e30)

The `if let` is used in this case to use `mv_value` in both branches. This is a limitation of the `map_or` suggestion.

### Meta

- `cargo clippy -V`: clippy 0.1.5

[2021-02-13 15:39] xFrednet commented on #6737
@rustbot label +C-bug +I-suggestion-causes-error +L-pedantic

[2021-02-13 16:49] lopopolo opened #6739 "missing_panics_doc triggers on `debug_assert`"
Lint name:

I tried this code:

[code]

I expected to see this happen: no lint

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: `clippy 0.1.52 (e9920ef 2021-02-11)`
- `rustc -Vv`:
[code]

[2021-02-13 16:55] lopopolo commented on #6739
oops this comes from the indexing operation. sorry for the noise.

[2021-02-13 16:55] #6739 closed

[2021-02-13 17:13] xFrednet commented on #5394
Hmm, this definitely makes it more complicated. I expected that it is only used by one binary. My initial idea after your comment was to keep track of which test has been run in the last execution and only update those files. However, that idea seems pretty limiting on second thought.

Checking the timestamps on the binaries seems like a simple solution. But I'm not sure how generalizable it would

[2021-02-13 17:41] Arnavion commented on #5821
The change you're seeing is from https://github.com/rust-lang/rust-clippy/pull/5937 , which considered this issue to only be "partially fixed". I'm not sure what the unfixed part is, however.

[2021-02-14 08:53] glts opened #6740 "collapsible_match suggestion changes behaviour"
Lint name: collapsible_match

Clippy suggests collapsing the nested match in the following code snippet (the full code is [here](https://gitlab.com/glts/spf-milter/-/blob/8cd23bb27df8316edb15bd7e3a3f19d7596044b6/src/config/read.rs#L291-299)):

[code]

I expected to see this happen: no Clippy warning

Instead, this happened:

[code]

This suggestion is invalid. It changes the type of the error obje

[2021-02-14 14:35] flip1995 commented on #6680
@Y-Nak @nahuakang @magurotuna Do you want to cross-review your PRs to make sure that you all used the same "style" for the restructuring, so the Clippy code is consistent? That would be a big help for me reviewing those PRs because I don't have to compare them to eachother.

[2021-02-14 14:37] flip1995 commented on #6724
+1 for splitting that module up further.

[2021-02-14 14:38] nahuakang commented on #6680
Can do. Mine is ready for review. @Y-Nak @magurotuna is either of yours ready for a first comparison? :)

[2021-02-14 14:43] #6615 closed

[2021-02-14 14:49] flip1995 commented on #6680
After a quick scan of the PRs it seems that all are ready for review. 👍

[2021-02-14 14:54] magurotuna commented on #6680
Yes, mine is ready too. I'll have a look at the PRs of @nahuakang and @Y-Nak when I have time :)

[2021-02-14 14:54] #6593 closed

[2021-02-14 15:04] Y-Nak commented on #6680
@flip1995 Sure, I'll review them.
@nahuakang @magurotuna mine is also ready, please see #6724 before reviewing my PR.

[2021-02-14 16:07] #1141 closed

[2021-02-14 17:35] HarrisonMc555 commented on #6703
I'll try implementing this! @rustbot claim

[2021-02-15 02:13] anall commented on #6715
Re the "Additional comments", as far as I can tell with a really rough heuristic-filtered grep, these are the types in the standard library that have a "to_**type**" method (ignoring Owned which trips my heuristic given how the trait is set up):

* OsString
* PathBuf
* String (`to_string` is already handled by `string_to_string`, but could be moved to be handled here)
* Vec

[2021-02-15 06:24] phansch commented on #5394
Looking a bit more into this, I think there's still an easy way: It looks like compiletest has a `rustc_path` option that we can use to get the path to the binary [here](https://github.com/rust-lang/rust/blob/9503ea19edbf01b9435e80e17d60ce1b88390116/src/tools/compiletest/src/main.rs#L206). To make it easier for us, we can also limit this feature to the 'UI' testsuite for a start:
[Here](https://gi

[2021-02-15 07:04] nayato commented on #6734
Unfortunately I can't provide small isolated sample at this time.
Changing CARGO_INCREMENTAL to 0 makes `cargo clippy` succeed. `cargo build` works fine regardless of CARGO_INCREMENTAL value.

[2021-02-15 20:52] camsteffen commented on #6715
I like the idea of replacing `string_to_string`. Seems like the exact same concept. @flip1995 do you agree? Incidentally it would be upgraded to style.

[2021-02-16 07:53] flip1995 commented on #6715
I would just keep `string_to_string`, since it is a restriction lint. I wouldn't make this lint warn-by-default, because calling `to_owned` instead of `clone` doesn't really make a difference. And if the `clone` is unnecessary, `redundant_clone` should pick it up.

[2021-02-16 08:25] YaLTeR opened #6745 "mutable_key_type false positive for raw pointers"
Lint name: mutable_key_type

I tried this code:

[code]

I expected to see this happen: lint not triggered because raw pointers are compared and hashed by pointer value rather than by pointed-to value

Instead, this happened: lint triggered

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=601da4e6cf6eb0b2c178c32fcab35390

### Meta

- `cargo clippy -V`: clippy 0.1.52 (d1206

[2021-02-16 09:34] glts commented on #6726
Another example where this lint may not be desirable: I have a small parser [here](https://gitlab.com/glts/viaspf/-/blob/0.3.0/src/record/parse.rs#L175) where all parsing functions have a similar signature (very much like nom parsers):

[code]

Sometimes the parsing function is infallible and always returns `Some`. As a design, and for callers, I believe it is more consistent to keep `Option` as t

[2021-02-16 10:11] #6064 closed

[2021-02-16 12:13] matthiaskrgr commented on #6710
We can obtain a potential list of crates to check via `cargo prefetch --top-downloads=400 --list`

[2021-02-16 12:29] djc opened #6747 "Strange suggestion from suspicious_operation_groupings"
Lint name: suspicious_operation_groupings

I tried this code:

[code]

I expected to see this happen: accepted without warnings.

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (cb75ad5d 2021-02-10)
- `rustc -Vv`:
[code]

[2021-02-16 16:09] mgacek8 opened #6748 "Invalid suggestion of `or_fun_call` causes a compiler error `error[E0277]: expected a `FnOnce<()>` closure, found `Vec<_>``"
Lint name: or_fun_call

I tried this code:

[code]

I expected to see this happen: suggestion to use `or_insert_with(|| vec![])` instead of `or_insert(vec![])`

Instead, this happened:  clippy suggested me to use  `or_insert_with(vec![])`
[code]
and that suggestion causes the compiler error.
[code]
Playground [link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8aff832294

[2021-02-16 16:26] peterjoel commented on #6747
I'm getting these all over the place. None of them are valid. e.g.:

[code]

[2021-02-16 17:28] camsteffen commented on #6748
Could be fixed with #3812.

[2021-02-17 10:20] Arnavion opened #6751 "Suggest `foo.clamp(y, x)` for `foo.min(x).max(y)` and `foo.max(y).min(x)`"
### What it does

Rust 1.50 stabilized [`std::cmp::Ord::clamp`](https://doc.rust-lang.org/stable/std/cmp/trait.Ord.html#method.clamp), [`f32::clamp`](https://doc.rust-lang.org/stable/std/primitive.f32.html#method.clamp) and [`f64::clamp`.](https://doc.rust-lang.org/stable/std/primitive.f64.html#method.clamp)

When the user writes `foo.min(x).max(y)` or `foo.max(y).min(x)` where `foo` is `T: Ord` o

[2021-02-17 12:34] bluss opened #6752 "should_implement_trait triggers on `from_iter` methods even if FromIterator is implemented"
`FromIterator` is not in the prelude, so crates that want to provide an easily accessible `from_iter` method might want to duplicate it as an inherent method (providing both FromIterator and an inherent method). For this reason, I think the lint fires incorrectly - it suggests implementing FromIterator (the trait is already implemented, too) and implicitly suggests removing the inherent method (st

[2021-02-17 14:45] jgallagher-cs opened #6753 "Unbalanced tick marks lead to confusing/inverted error messages from clippy::doc-markdown"
The title of the issue spoils the fun a bit, but I'll lead with the confusing error message a teammate ran into yesterday:

[code]

The doc comment that produces these odd warnings:

[code]

`unbalanced_tick` on the first line is missing its closing tick mark, which causes the "tick-mark-ness" of the remainder of the comment to be inverted. So technically all of the warnings are correct: `encompas

[2021-02-17 15:51] giraffate commented on #6629
I partially work on this. I'm prototyping a dashboard for PRs, discussed at [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/can.20we.20automate.20triaging.20PRs.20a.20bit.3F).

[2021-02-17 17:03] flip1995 commented on #6629
@giraffate I assigned you to this issue, since you already put so much work into it.

[2021-02-17 17:03] flip1995 commented on #6629
Link to dashboard repo (WIP): https://github.com/giraffate/toriage

[2021-02-17 17:27] pickfire commented on #1805
Note that `StdinLock` is buffered. I will open another issue for this and it could be specifically for `BufReader::new(io::stdin())`.

[2021-02-17 17:39] pickfire opened #6755 "BufReader Stdin or StdinLock"
### What it does

Suggest using `StdinLock` rather than `BufReader::new(io::stdin())` since it is already buffered. We might also want to take care of `let stdin = io::stdin(); BufReader::new(stdin)` and also `BufReader::new(stdinlock)` (there could be people doing this).

### Categories (optional)

- Kind: perf

Locking stdin also provide benefit for not having to re-lock it on every read.

Sourc

[2021-02-17 19:27] camsteffen commented on #6755
Shouldn't `BufReader::new(io::stdin())` be replaced by `io::stdin().lock()`? `StdinLock` implements `BufRead`.

[2021-02-17 20:34] warycat commented on #6722
I have similar issues.
[code]

[2021-02-17 20:35] warycat commented on #6722
[code]

[2021-02-18 02:20] Y-Nak commented on #6680
`function.rs` also can be refactored, I think.

[2021-02-18 02:24] pickfire commented on #6755
Yes, I wrote it wrongly. I made the same mistake which the lint should solve.

[2021-02-18 02:30] Y-Nak commented on #6546
@rustbot claim

[2021-02-18 06:45] Y-Nak opened #6757 "`cargo dev bless` doesn't work"
`cargo dev bless` command seems not to work since the version of `compiletest-rs` is updated in #6743.

I think this is because the updated `compiletest` joins `stage_id` to output file names like `zero_div_zero.stage-id.stderr`, while `bless.rs` doesn't take it into account. (I don't know why the former version of `compiletest` doesn't join it although the codes related to file names seem unchang

[2021-02-18 09:33] dodomorandi opened #6758 "Wrong lint in case of `to_*_mut` method"
Lint name: `wrong_self_convention`

I tried this code:

[code]

I expected to see this happen: in order to get an optional variant of the enum, the naming convention `to_*` should be used, because the `match` statement cannot be considered free (therefore `as_*` is not ok). Moreover, the name `to_mut` (à la `Cow::to_mut`) cannot be used in this case, because there are two _non-empty_ variants. The

[2021-02-18 12:02] magurotuna commented on #6680
@Y-Nak Good catch! I updated the PR description.

[2021-02-18 15:02] magurotuna opened #6760 "New lint: prefer bool::then"
### What it does

Checks for if-else that could be rewritten to [`bool::then`][boolthen]

[boolthen]: https://doc.rust-lang.org/std/primitive.bool.html#method.then

### Categories (optional)

- Kind: ~~style~~ restriction

Reduces redundancy and lines of code by leveraging a new stable API [`bool::then`][boolthen]

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

Note that

[2021-02-18 15:02] magurotuna commented on #6760
I would like to implement it myself. If there's any concern or negative opinion on this lint, please let me know.
@rustbot claim

[2021-02-18 15:07] camsteffen commented on #6760
We definitely should have this. But I have a feeling that `bool::then` is "a little too functional" for some people and so it should not warn-by-default. So either pedantic or restriction. I would lean towards restriction.

[2021-02-18 15:10] camsteffen commented on #6757
We may want to just migrate to the bless feature that is now available in compiletest itself.

[2021-02-18 15:46] camsteffen commented on #6675
@jyn514 Can I ask a favor? In the future, it would be nice to have multiple issues reported in separate github issues, even if they are related. It makes it easier to track as they can be fixed separately. Also each bug may have a different difficulty level (which I believe is the case here) and it's nice to have "good first issues".

[2021-02-18 16:11] camsteffen commented on #6556
Hmm I guess we'll just add a special case for 3 groups of 3? Usually the groups don't have semantic meaning like they do in a unix mode.

[2021-02-18 16:15] camsteffen commented on #6533
Re-labeling as the first issue is fixed in #6657.

[2021-02-18 16:18] jyn514 commented on #6675
Sure thing, I can open a new issue.

[2021-02-18 16:18] jyn514 opened #6761 "suggestions for `or_fun_call` can cause a borrowck error:"
[code]

_Originally posted by @jyn514 in https://github.com/rust-lang/rust-clippy/issues/6675#issuecomment-773585764_

[2021-02-18 16:21] camsteffen commented on #6521
I'm not so sure this is a false positive. `Ok(do_stuff())` looks like you are returning something from `do_stuff` but you really aren't. Less code isn't always better.

[2021-02-18 18:32] camsteffen commented on #6232
I agree with jyn514. It's simpler for both the user and for Clippy if each lint just stays in its own lane.

[2021-02-18 18:44] camsteffen commented on #5904
This is basically the opposite of `needless_pass_by_value`. Good idea. The problem is that the `clone` may be seen as implementation detail that doesn't justify changing the function signature. Or it may be impractical to `clone` for every usage of the function.

[2021-02-18 19:42] camsteffen commented on #5537
This reminds me of a [comment I made](https://github.com/rust-lang/rust-clippy/issues/6366#issuecomment-735926844).

The lint categories are an effective solution for allowing the user to configure *what* they want to be linted. What we are missing is a way to configure how *confident* clippy must be when it lints. To solve this, each lint would need to be assigned a confidence level *in addition*

[2021-02-18 21:21] matklad commented on #5537
I’d be semi fine. I probably wouldn’t add a clippy config (even if it is small) to every project, but I can imagine this working for Rust-analyzer, if that’s easy to do, and if only a handful of lints needs to be disabled.

We actually have something like this in ra already: https://github.com/rust-analyzer/rust-analyzer/blob/20a911f3cc2beb0409ab71cc1560648374745f7f/xtask/src/lib.rs#L73

we don’t

[2021-02-18 21:51] #6546 closed

[2021-02-18 21:58] kangalioo opened #6762 "Opt-in warn when using iter()-like methods on Option or Result"
### What it does

Warn when iter, iter_mut or into_iter is used on an Option or Result.

### Categories (optional)

- Kind: clippy::pedantic

*What is the advantage of the recommended code over the original code*

Treating Option/Result as normal iterables is sometimes useful, but also sometimes produces really confusing behavior, especially on types like `Option<Vec<_>>`. See below for an example

[2021-02-18 22:04] matthiaskrgr commented on #6710
I've seen a couple of cases where clippy would use absolute paths to sources when it checks some file that has been auto-generated via `build.rs` and put somewhere inside the `target` dir.
https://github.com/rust-lang/rust/issues/82276
These might cause trouble in the log diff.

[2021-02-18 22:59] #6640 closed

[2021-02-19 01:55] camsteffen commented on #6762
For loops, as in your example, are already covered by `for_loops_over_fallibles` and deny by default.

[2021-02-19 02:07] magurotuna commented on #6760
Sounds reasonable. I'm in favor of choosing "restriction" too.  I'll go with it.

[2021-02-19 02:19] camsteffen commented on #6747
Similar to #6722

[2021-02-19 02:56] camsteffen commented on #6466
I may be missing something, but why can't you just remove `try_from` like the lint suggests? In your example, you are converting [`cmsg_len`](https://docs.rs/libc/0.2.86/libc/struct.cmsghdr.html) which is [`size_t`](https://docs.rs/libc/0.2.86/libc/type.size_t.html) and `size_t` is an alias for `usize`. I don't see any `#[cfg]` attributes that would change those types for other platforms.

[2021-02-19 07:27] kangalioo commented on #6762
Ah my bad. I had tried to search for an existing lint but I was using the wrong search terms.

This lint can still be useful though, less for code correctness than for code quality

[2021-02-19 10:45] peterjoel commented on #6722
@soniasingla are you going to fix it just for the case mentioned in this issue or disable the lint by default? The exxamples in #6747 are different but also incorrect.

[2021-02-19 13:31] Y-Nak commented on #6352
As @matthiaskrgr suggested, I'll add the new lint to fix this issue (and the lint is quite useful regardless of this issue itself).
@rustbot claim

[2021-02-19 14:57] camsteffen commented on #6762
At a minimum we should lint `for _ in opt.iter()` or `..into_iter()`. That's a false negative.

[2021-02-19 15:08] schickst commented on #6636
I would really love to have these enabled by default. Especially for people coming from less strict languages, this is useful to learn proper form and prevents from getting sloppy, or when going from a prototype to production ready code. People who don't care about it, probably won't use clippy in the first place.

[2021-02-19 18:38] woodruffw commented on #6636
IME, there are a variety of reasonable Rust patterns that result in `Result` and `Option` values that a human can verify, but that the compiler can't (in the general case). Flagging each and every single one of those would probably result in a lot of developer fatigue, especially for language newcomers. There are also plenty of patterns where it's more reasonable to `unwrap` or `expect` than to pl

[2021-02-19 19:30] booleancoercion opened #6767 "Improper parenthesis addition when using `clippy_lints::utils::Sugg::maybe_par`"
While working on #6717, I noticed that sometimes an expression like `(1+2)` would be (falsely?) converted to a `Sugg::BinOp`, which coupled with the `maybe_par` method would produce the suggestion `((1+2))`.

I'm not sure where the issue is: should the expression have been converted into a `NonParen` in the first place, or does `maybe_par` need to have an additional check when working with `BinOp`

[2021-02-19 19:34] booleancoercion commented on #6767
It should be noted that this bug affects the following lints:
* floating_point_log
* from_str_radix_10 (WIP)
* manual_memcpy

[2021-02-20 09:43] #6713 closed

[2021-02-20 10:20] llogiq commented on #6726
Even with downgrading the lint, a check to not lint exported items would be useful.

[2021-02-20 10:45] matthiaskrgr opened #6768 "questionable write_literal warning: write!(f, "{}", "{integer}")"
Lint name: write_literal

I tried this code:

[code]

[code]

In this code we use dummy format string `{}` to insert the string literal "{integer}" because if we had
`write!(f, "{ìnteger}")`, the `{integer}` would not be parsed as a raw literal(?):
[code]

This is quite an interesting edge-case :)

I'm not sure what the best solution is here, if we can somehow provide a better suggestion or should

[2021-02-20 13:44] xFrednet commented on #4310
Hey @flip1995 and everyone else, I've been working on this in the form of a general metadata extractor which can currently extract the following information:

- lint_id
- lint_group
- lint declaration file and line
- documentation
- hard-coded applicability

A big thanks to @phansch for his previous work. It helped me a lot to get started!

---

The next step is to track dynamic applicability that

[2021-02-20 15:12] cecton commented on #6427
I didn't see any improvement in my case.

[code]

Is it supposed to be in stable 1.50? @jan-auer

[2021-02-21 00:16] CAD97 commented on #2676
I think it's worth bumping this: it seems like any case of using a builtin or prelude name as something other than said name is suspicious at best. If libraries are doing so on purpose, then it makes sense to mark that with an `#[allow]` attribute.

An interesting case is the _importing_ of deliberately-shadowing identifiers, such as `core::f32`. The _common_ usage of these modules is now deprecat

[2021-02-21 08:40] moaz-mokhtar commented on #6011
Hello all,

I'm ready for that. Guide me to getting started.

[2021-02-21 09:32] avnerbarr opened #6772 "trying to run with nightly and getting errors with SSL"
our CI runs clippy with the nightly command:

`cargo +nightly clippy --fix -Z unstable-options --all-features`

Locally (mac Bigsur) I am able to run, but the nightly crashes with the errors:

[code]

I tried installing SSL again (brew) but didn't help.

My toolchains are:

[code]

[2021-02-21 13:00] flip1995 commented on #6011
The first step would be to set up [`mdbook`](https://github.com/rust-lang/mdBook) in the Clippy repo and on CI. After that, the README should be transferred to the book.

[2021-02-21 14:51] flip1995 commented on #4310
I think the only thing you have to deal with is if `MachineApplicable` may be modified anywhere. I would just mark it with a `*`. So if the applicability is literal `Applicability::Anything` I would just write `Anything` in the documentation. If the applicability starts with `MachineApplicable` and may be modified , I would put `MachineApplicable*` in the documentation.. If any other applicability

[2021-02-21 15:33] #6740 closed

[2021-02-21 15:45] #6726 closed

[2021-02-21 16:10] #4639 closed

[2021-02-21 16:14] hyd-dev commented on #6768
Unless I misunderstood, I can (and prefer to) escape the curly braces instead ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b6947fbaf67c35be4773a2eb6d567d2)):
[code]
So... please do not "ignore literals that enclose anything in curly braces", at least provide a way to opt-in to the warning.

[2021-02-21 17:16] matthiaskrgr commented on #6772
[code]
That does not look like a clippy bug to me.
Does `cargo check --all-features` fail as well?

[2021-02-21 19:06] sanbox-irl commented on #6722
Agreed, similar issue here:
[code]
Wants to change `coord.x` to `coord.z` (which ofc won't compile)

[2021-02-21 21:02] xFrednet commented on #4310
That makes sense and sounds like an elegant enough solution :)

[2021-02-21 21:45] matthiaskrgr opened #6773 "FN useless_format: fmt::DIsplay impl"
Lint name: useless_format

I tried this code:

[code]
IMO clippy should issue a `useless_format` warning here, I'm not sure why it does not.

### Meta

- `cargo clippy -V`: `clippy 0.1.52 (07194ff 2021-02-10)`
[code]

[2021-02-21 21:48] matthiaskrgr commented on #6768
Ah, I forgot about the escaping with double curly braces!
Shall I close this again? :)

[2021-02-22 03:13] Y-Nak commented on #6757
Yeah, it's most desirable, but I suppose it's worth doing a quick-fix since it seems the transition to new `bless` needs more discussion.

[2021-02-22 09:42] #6352 closed

[2021-02-22 09:54] mgacek8 commented on #6748
Shouldn't this lint for `.or_insert(vec![])` suggest using `.or_insert_with(Vec::new)` (instead of `.or_insert_with(vec![])` that causes a compiler error)?
And then, as in #3812, there could be another link that suggest `std::collections::btree_map::Entry::or_default` instead of  `.or_insert_with(Vec::new)`.
Please let me know if it makes sense to fix that (`.or_insert(vec![])` -> `.or_insert_with

[2021-02-22 12:12] matthiaskrgr opened #6776 "manual_flatten interaction with nested matches could better"
I tried this code: manual_flatten

[code]
Clippy warns here:
[code]

but we cannot remove the entire `if let` because `.flatten()` only peels off the outer `Some()`.

The "fixed" code would be
[code]
but despite what the lint suggestion said, we still need the `if let`!

[2021-02-22 13:50] camsteffen commented on #6748
We should have both fixed actually, since `vec![]` could be any macro that calls any function. When #3812 is fixed, it should just suggest `or_default()` instead of `vec![]`.

So @mgacek8 if you would like to just fix the this issue that would be great!

[2021-02-22 14:26] SoniEx2 commented on #5598
Oh, sorry, we misunderstood what you meant. However, the examples provided are pretty clear about whoever added those examples thinking it was actually an UTF-32 search, and it somehow getting through a code review, with the relevant PR being https://github.com/rust-lang/rust/pull/71097

[2021-02-22 20:50] mgacek8 commented on #6748
@rustbot claim

[2021-02-22 21:07] camsteffen commented on #6755
I think this should also include `BufWriter::new(std::io::stdout())`.

[2021-02-22 22:12] camsteffen commented on #6768
No, this is still a false positive. I think this is related to `pre_expansion_pass`.

[2021-02-22 22:23] camsteffen commented on #6773
Duplicate of #3753

[2021-02-22 22:23] #6773 closed

[2021-02-23 00:06] bowlofeggs commented on #6613
Another example of usage mattering is serde with a default value on a field. Consider something like this:

[code]

Here, we do want to return a `Some` always, and changing the return type to a `u8` won't work since `cool_member` does need to be an `Option`.

[2021-02-23 06:05] #6757 closed

[2021-02-23 07:42] matthiaskrgr commented on #2262
It should also catch cases like `vec![.....].iter()` where we could use a simple array:
[code]

[2021-02-23 09:31] besok commented on #5396
Can i try to solve this?

[2021-02-23 14:54] besok commented on #5396
nice. @rustbot claim

[2021-02-23 16:08] giraffate commented on #6629
I have some updates, see https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/can.20we.20automate.20triaging.20PRs.20a.20bit.3F/near/227444152.

[2021-02-23 16:51] camsteffen commented on #743
Closing since there are newer issues and a lot has changed.

[2021-02-23 16:51] #743 closed

[2021-02-23 17:13] camsteffen commented on #6644
@rustbot claim

[2021-02-23 22:07] #6 closed

[2021-02-24 03:31] Y-Nak commented on #6560
@rustbot claim

[2021-02-24 05:59] xNxExOx opened #6784 "manual_flatten suggestin make code not compilable"
Lint name: `manual_flatten`

I tried this code:
Code is simplified so `workers` are never set, but to trigger the incorrect sugestion it is enough.
The full code starts same with all workers doing nothing, and later in the loop assign work to them, and here early in the loop let them finish the work if it is the right time.
[code]

I expected to see this happen: No suggestion probably.

Instead, t

[2021-02-24 06:04] xNxExOx commented on #6784
[manual_flatten interaction with nested matches could better #6776](6776 ) is probably related, but that code will still compile, just the simplification of it is not as good as could be expected, by a bit misleading message. So I do not think they are same and should not be merged together. *(just my opinion)*

[2021-02-24 14:33] cecton commented on #6427
What am I testing... 🤔  Ok nevermind my comment. I mixed up 2 different issues.

[2021-02-24 14:34] pickfire commented on #6755
@camsteffen I don't think so as `Stdout` does not implements `BufWrite`.

[2021-02-24 14:42] camsteffen commented on #6755
Ah you're right.

[2021-02-24 14:47] camsteffen commented on #6784
I agree. This is a separate issue since we should not lint if `w` is used in any way. This should be an easy fix with `LocalUsedVisitor`.

[2021-02-24 20:40] #2908 closed

[2021-02-25 01:49] Ryan1729 commented on #6722
Original author of the `suspicious_operation_groupings` lint here.

@soniasingla, Are you still working on this?

I know that writing this lint was more difficult than I initially expected it to be, so I suspect that fixing this issue would also be more difficult than one might expect from the issue description!

If you're still working on it, then please let me know if you'd like any help underst

[2021-02-25 15:32] #6748 closed

[2021-02-25 16:16] matthiaskrgr opened #6792 "clippy ICEs: "Not a type: DefIndex(1359)', compiler/rustc_metadata/src/rmeta/decoder.rs:908:32""
Saw this while running clippy 5c6cd87b94cb59efff08c0f0e44c376f92afa7e5 compiled with rustc `rustc 1.52.0-nightly (a8486b64b 2021-02-24)` in the `alacritty` git repo:

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

Made the issue so hopefully people see this and we don't get bombarded with "clippy crashes on my project" tickets in the upcomming day

[2021-02-25 17:30] TaKO8Ki commented on #6680
Can I work on `methods `?

[2021-02-25 21:26] #6447 closed

[2021-02-25 22:14] matthiaskrgr opened #6793 "ICE while checking RA proc_macro_srv: associated type missing default"
[code]

### Meta
clippy v:  clippy 0.1.52 (98f8cce 2021-02-25)

rustc v
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-02-26 04:29] dtolnay opened #6795 "manual_map recommends noncompilable code involving `?`"
[code]

[code]

Applying the suggestion made by clippy makes the code not compile:

[code]

@Jarcho @llogiq

[2021-02-26 04:50] dtolnay opened #6797 "manual_map recommends noncompilable code involving moved values"
[code]

[code]

Applying the suggestion made by clippy makes the code not compile:

[code]

@Jarcho @llogiq

[2021-02-26 04:57] ojeda opened #6798 "Configuring lint levels on `clippy.toml`"
Since we already have a configuration file, it'd be nice to be able to set the lint levels in it, instead of passing them as flags or putting them in the code (which can lead to a lot of repetition for projects with many individual crates).

(Perhaps on a new file, considering https://github.com/rust-lang/rust-clippy/issues/3013)

[2021-02-26 04:59] ojeda opened #6799 "Configuring lint levels when using `clippy-driver`"
Now that Clippy describes a way to be used on its own (see https://github.com/rust-lang/rust-clippy/pull/6782), it would be nice to have a way to customize the lints level outside of code.

That is, either having a way to pass the `-A`/`-W`/`-D`/`-F` flags (without `__CLIPPY_HACKERY__`), or picking them up from the configuration file (see https://github.com/rust-lang/rust-clippy/issues/6798).

[2021-02-26 06:29] mleonhard commented on #2518
If one package depends on another package the workspace, clippy will still check the extra package.  To avoid that, pass the  `--no-deps` flag ([recently added](https://github.com/rust-lang/rust-clippy/pull/6188)).  With this flag, you can even run clippy in the crate directory and it will check only that crate:

[code]

If you run clippy as part of a script that runs other cargo commands, clippy

[2021-02-26 09:12] matthiaskrgr commented on #6797
@dtolnay  you are frequently reporting new false positives, do you have a set of crates that you run clippy on on a regular basis?

I can add them to our `lintcheck` sources list so that we can notice new false positives earlier (optimally even before a new lint gets approved) :)

[2021-02-26 11:34] magurotuna commented on #6680
@TaKO8Ki
I think you may go ahead! Updated PR description.

[2021-02-26 19:12] jyn514 opened #6803 "upper_case_acronyms warns on public items"
I recently ran nightly clippy on a project and got the following warning:

[code]
The lint is correct, it's not a false positive. However, fixing it would be a breaking change since `YDBError` is public. Maybe this lint should be off by default since it's only a style lint and it can be hard to fix?

I originally just added `#[allow(clippy::upper_case_literals)]`, but that gives more warnings on s

[2021-02-26 19:44] matthiaskrgr commented on #6803
Huh, does this still happen?
I'm not getting a warning with `rustc 1.52.0-nightly (98f8cce6d 2021-02-25)`

This should have been "fixed" by https://github.com/rust-lang/rust-clippy/pull/6788 .
Anyway the linting of public items is probably still a bug and still needs fixing (for the gated "aggressive" mode of the lint..)

You mean the `upper_case_acronyms` lint, right?

[2021-02-26 19:48] meiamsome opened #6804 "False positive for unnecessary_filter_map"
Lint name: `unnecessary_filter_map`

I tried this code:

[code]

I expected to see this happen:
The filter map is required because the `Item` is being changed from `()` to `u64`, so I expected this to not be linted.

Instead, this happened:
The code is linted as failing `unnecessary_filter_map`, despite the use of `filter_map` being required:
[code]
But `filter` does not compile because that does

[2021-02-26 20:03] jyn514 commented on #6803
Thanks, it's a lot better after that! It still warns on variants of public enums though:

[code]
for the code
[code]

[2021-02-26 21:05] camsteffen opened #6806 "Config for public API changes"
Sometimes we turn off lints in cases where the suggestion would change the public API of a crate. This is a reasonable default, but I believe this should be an opt-out configuration option for all Clippy lints. Oftentimes, a crate has a public API but it is still "private" in the sense that it is only used within a single project (e.g. `clippy_utils`), and so API changes are not as much of a conce

[2021-02-26 21:11] camsteffen commented on #6798
This is #6625

[2021-02-26 21:11] #6798 closed

[2021-02-26 21:15] camsteffen commented on #6804
Interesting. Do you have a more practical example?

[2021-02-26 22:56] dtolnay commented on #6797
All these crates basically. https://github.com/dtolnay?tab=repositories&type=source&language=rust

[2021-02-27 01:51] #6715 closed

[2021-02-27 04:11] anall commented on #6792
Possible reduced repro case, although the backtrace for this diverges after `rustc_middle::dep_graph::<impl rustc_query_system::dep_graph::DepKind for rustc_middle::dep_graph::dep_node::DepKind>::with_deps::haad0024fe8f5a7d2`.

[code]

Gives:
[code]

<details><summary>Backtrace</summary>

[code]
</details>

I don't think this has anything to do with `default_numeric_fallback` because if I disable

[2021-02-27 05:13] Y-Nak opened #6808 "FN: iter_cloned_collect with a large array"
Lint name: `iter_cloned_collect`

I tried this code:

[code]

I expected to see this happened: `iter_cloned_collect` is triggered.

Instead, this happened:  nothing.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (cb75ad5 2021-02-10)
- `rustc -Vv`:
[code]

---

I think this is caused by [`derefs_to_slice`](https://github.com/rust-lang/rust-clippy/blob/7154b2360114977cd67bb844114cf429fa9cdb88/clipp

[2021-02-27 10:18] matthiaskrgr opened #6809 "cargo test --release fails"
While `cargo test` seems to work, `cargo test --release` does not (anymore):

[code]

[2021-02-27 11:48] matthiaskrgr opened #6810 "needless_borrow false negative on fn that takes AsRef<..> and gets &var"
Lint name: needless_borrow

I tried this code:

I wonder if the lint should warn on passing &arg to a function that takes `AsRef<..>` where the `&` would not be needed

[code]

### Meta

- `cargo clippy -V`: `clippy 0.1.52 (9c09c1f 2021-02-26)`
- `rustc -Vv`:
[code]

[2021-02-27 12:08] matthiaskrgr opened #6811 "manual_map should not expand macros in suggestion"
[code]

[code]

[2021-02-27 12:27] Y-Nak commented on #6792
I think `default_numeric_fallback` is involved in the ICE because it has the same problematic lines as `inconsistent_struct_constructor`, the ICE is caused by [here in `default_numeric_fallback`](https://github.com/rust-lang/rust-clippy/blob/7154b2360114977cd67bb844114cf429fa9cdb88/clippy_lints/src/default_numeric_fallback.rs#L135-L136) and also [here in `inconsistent_struct_constructor`](https://

[2021-02-27 13:32] Y-Nak commented on #6793
Reproducer of the issue.
[code]

gives
[code]

<details><summary>BackTrace</summary><div>

[code]

[2021-02-27 14:21] camsteffen commented on #6644
This is part of the `needless_borrow` lint.

[2021-02-27 14:21] #6644 closed

[2021-02-27 14:54] #6792 closed

[2021-02-27 14:54] #6793 closed

[2021-02-28 09:15] llogiq commented on #6797
So in that case, we should not lint? Or is there an alternative suggestion we could make?

[2021-02-28 10:10] matthiaskrgr commented on #6797
I've added anyhow, async-trait, cxx, ryu, serde_yaml and thiserror to the lintcheck sources so that we can easily check if something causes false positives in these crates.

[2021-02-28 11:17] hyd-dev commented on #6486
@rustbot claim
(I'm going to change `is_executable` to `is_executable_or_proc_macro` and add a test.)

[2021-02-28 16:14] link2xt opened #6815 "`search_is_none`"
### What it does

There is already a `search_is_some` lint.

My suggestion is to add a lint for `find(...).is_none()`, suggesting to replace with `!contains(...)`. Basically the same as `search_is_some`, but with negation.

### Categories (optional)

- Kind: `clippy::complexity` (same as `search_is_some`)

*What is the advantage of the recommended code over the original code*

### Example

[code]

[2021-03-01 02:18] CAD97 opened #6816 "EPSILON is a bad error margin and should not be recommended [float_cmp]"
[`[f32|f64]::EPSILON`](https://doc.rust-lang.org/std/primitive.f32.html#associatedconstant.EPSILON) are the [_machine epsilon_](https://en.wikipedia.org/wiki/Machine_epsilon) of the type, or (as stated in the Rust docs), the distance between `1.0` and the next representable floating point number.

The [page linked in the more info](https://floating-point-gui.de/errors/comparison/) specifically say

[2021-03-01 02:34] CAD97 opened #6817 "assert_eq! with a literal float should probably fire float_cmp_const not float_cmp"
Example:

[code]

Here [`float_cmp`](https://rust-lang.github.io/rust-clippy/master/index.html#float_cmp) fires. Given that this is comparing a `const` to a literal float, however, this should almost certainly be [`float_cmp_const`](https://rust-lang.github.io/rust-clippy/master/index.html#float_cmp_const) instead (which is allow-by-default, as opposed to deny-by-default `float_cmp`).

This seems

[2021-03-01 07:16] imp opened #6818 "use_self is triggered inside derived code"
It looks like `use_self` is triggered inside derived macro-generated code. While derived macro authors may handle that on their part, it is still not feasible to expect that to happen overnight. Right now everyone wishing to use this lint inside their own code is affected.

Lint name: use_self

I tried this code:
[code]

I expected to see this happen: clean cargo clippy run

Instead, this happened

[2021-03-01 08:04] Count-Count commented on #6818
Is it possible that this is a regression? I haven't seen this before while getting proper warnings for this lint, but it popped up today for all my serde derives. Last I checked was some time ago though.

[2021-03-01 11:25] bugadani opened #6819 "manual_map recommends noncompilable code involving async code"
Lint name: manual_map

I tried this code:

[code]

I expected to see this happen: no manual_map lint

Instead, this happened: ``help: try this: `opt.map(|sender| some_async_operation(data).await)` ``

### Meta

- `cargo clippy -V`: clippy 0.1.52 (98f8cce 2021-02-25)
- `rustc -Vv`:
[code]

[2021-03-01 12:20] imp commented on #6818
#3909 and #6179 might be related

[2021-03-01 15:36] giraffate commented on #6629
Discussion on Zulip t-infra is here: https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/Triage.20PR.20dashboard.

[2021-03-01 15:48] mgacek8 commented on #6562
Hi, I'll give it a shot!
@rustbot claim

[2021-03-01 20:44] llogiq commented on #6816
When I was still writing float-heavy code, I always had a function to calculate a suitable epsilon-value based on the values to compare and the number of mantissa bits that I expected to be equal.

[2021-03-02 08:17] extrawurst commented on #6818
having the same issue in [gitui](https://github.com/extrawurst/gitui) where I am supposed to name my struct itself `Self` ^^

see https://github.com/extrawurst/gitui/blob/master/src/keys.rs#L19

[code]

[2021-03-02 08:58] mgacek8 commented on #6758
@rustbot claim

[2021-03-02 11:44] #6262 closed

[2021-03-02 15:28] camsteffen commented on #6816
So then should we lint against `abs(a - b) < f__::EPSILON`?

[2021-03-02 15:40] camsteffen commented on #6816
This also has implications for `float_equality_without_abs`.

[2021-03-02 15:53] #6795 closed

[2021-03-02 15:53] #6797 closed

[2021-03-02 15:53] #6811 closed

[2021-03-02 15:53] #6819 closed

[2021-03-02 17:24] totikom opened #6827 "Substitute logical folds to any() or all()"
### What it does

Some uses of [`.fold()`](https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#method.fold) can be substituted to existing methods on iterators like [`.all()`](https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#method.all) and [`.any()`](https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#method.any).

### Categories (optional)

- Kind: `clippy::compl

[2021-03-02 17:35] totikom commented on #6827
Actually, the things are a bit more complicated.
`.fold()` will always consume the whole iterator, while `.all()` (and `.any()`) exits after the first `false` (`true`).
If the iterator has side-effects, the behavior of the original and the linted code may differ.

Maybe it should be moved to `clippy::perf` with warning about side-effects.

[2021-03-02 17:49] totikom commented on #6827
And one more note:
It is highly possible, that the iterator over `bool`s was obtained via `.map()`.
In that case:
[code]
Could be written as:
[code]

Or:
[code]
Could be written as:
[code]

[2021-03-02 20:48] CAD97 commented on #6816
I'm not completely certain. In cases where `a` and `b` are expected to be "small" (for some value of "small" smaller than 1), this might be a reasonable comparison epsilon, because ULPs for small enough floats are _really_ small, and the machine epsilon might be a reasonable bound for "small enough". At the same time, the article I linked recommends some small multiple of the machine epsilon for t

[2021-03-02 22:56] camsteffen commented on #6827
Isn't this `unnecessary_fold`?

[2021-03-03 03:23] kitsonk commented on #6
Don't know if it is best to comment here or create a new issue, but #6573 is overmatching some patterns that can't be converted to a `.map` easily... for example it is suggesting that this:

[code]

be refactored to:

[code]

Which doesn't work because of the result unwrap, and there is no easy way to refactor this as a map and preserve the result unwrapping in the containing function.

[2021-03-03 07:35] cquintana-verbio opened #6832 "error: unknown `doc` attribute `hide`"
We've encountered a possible regression on the latest nightly in our CI pipelines. Clippy does not recognize the pattern `#[doc(hide)]`, such as this one: https://github.com/kubo/rust-oracle/blob/master/src/connection.rs#L854

In the currently stable version, clippy is able to proceed.

I expected to see this happen: Clippy is able to check the code.

Instead, this happened: Clippy compains with:

[2021-03-03 08:14] giraffate commented on #6832
It seems to be an enhancement of Rustdoc: https://github.com/rust-lang/rust/issues/82652.

[2021-03-03 14:58] jyn514 commented on #6832
This is not a clippy bug, it would also happen with rustc. See https://github.com/rust-lang/rust/pull/82702 for the current discussion.

[2021-03-03 17:04] camsteffen commented on #6680
Some good teamwork happening in here!

[2021-03-03 18:47] #6832 closed

[2021-03-03 18:51] kornelski opened #6835 "Suggest use of track_caller on assert-like functions"
### What it does

Suggest taking advantage of the `#[track_caller]` feature.

It's a less-known feature of Rust, but quite useful on assert-like functions which want to point out that their caller supplied invalid input. The attribute makes panics point to function's caller, e.g. a unit test, rather than internals of the helper function.

The attribute could be suggested on functions which contain

[2021-03-03 19:11] llogiq commented on #5598
Another counterexample I recently stumbled upon is `compiler/rustc_errors/src/styled_buffer.rs` in which the `StyledBuffer` type keeps a `Vec<Vec<char>>`, and for good reason.

[2021-03-03 19:34] SoniEx2 commented on #5598
We'd actually consider that a prime example for why we should have this lint, for at least 2 reasons:

1. Assumes `char`s are fixed-width.
2. Is slow due to encoding/decoding of `char` (altho this is a lousy argument because taking care to check actual character/grapheme cluster width would likely make it slower).

[2021-03-03 20:18] totikom commented on #6827
Actually, it is. Didn't checked that.
I don't understand, if this lint is currently active?
 I've created this issue, because clippy didn't show any warnings even with `pedantic` flag.

[2021-03-03 21:25] llogiq commented on #5598
How would a SmallString benefit this code? A `char` is 4 bytes, and each one has its own `Style`. A SmallString is at least 24 bytes, IIRC, and this code only works the way it does because of O(1) addressing.

[2021-03-03 21:29] gilescope opened #6836 "Inconsistent underscores false positive?"
Ok so this is a fun one. `cargo fmt` doesn't understand astetics of verticals alas ( https://github.com/rust-lang/rustfmt/issues/4710 ), but with the odd trailing `_` you can fool `cargo fmt` into doing the right thing and making things beautiful:

https://github.com/mimblewimble/grin/pull/3572/files

But clippy's not happy with inconsistent underscores. ( https://rust-lang.github.io/rust-clippy/m

[2021-03-03 21:41] SoniEx2 commented on #5598
But it should be operating on grapheme clusters/columns, not `char`s. A `char` isn't the correct abstraction for this.

[2021-03-04 00:54] thomcc commented on #5598
Displayed width isn't in units of grapheme clusters. It's also not in units of `char` — it's font dependent.

[2021-03-04 04:43] tdyas opened #6840 "ICE in v1.50.0 that does not occur in v1.49.0"
### Code

The following crate in the Pants project triggers an ICE on v1.50.0 but not on v1.49.0 when running `cargo clippy`: https://github.com/pantsbuild/pants/tree/master/src/rust/engine/rule_graph

### Meta

The ICE occurs in v1.50.0 and in a recent nightly. It does not occur v1.49.0.

`rustc --version --verbose`:

[code]

Occurs for this version of nightly as well:

[code]

### Error output

[2021-03-04 06:37] llogiq commented on #5598
Please remember we're talking about displaying code in the example I gave. The worst that might happen is that the formatting in an error message may be off, so an 80% correct approach is completely acceptable here.

Being dogmatic and overlooking the cost of the 100% solution is not a tenet of Rust design.

[2021-03-04 06:59] thomcc commented on #5598
Ah, to be clear: I definitely wasn't arguing that the code as is was bad. I don't think there's a meaningfully better approach, actually. The one I describe (query after writing) is only really applicable for terminal UI programs. Something like rust error output shouldn't be tied to the actual outputting that way.

[2021-03-04 07:03] tdyas opened #6838 "suggested changes should not expand `format!` to `$crate::fmt::format($crate::__export::format_args!`"
Code in question:

[code]

I expected the suggested change to keep `format!` the same and to not expand it to `$crate::fmt::format($crate::__export::format_args!`.

### Meta

[code]

This happens with `rustc` as of `6f7673d077add6b9a066e988b1b8b132a8193d6c`. (Dumping the version would not be helpful since the copy of rustc in question contains a local reversion from tracking down an unrelated ICE

[2021-03-04 07:10] matthiaskrgr commented on #6838
Thanks, this is a duplicate of https://github.com/rust-lang/rust-clippy/issues/6811 which has already been fixed in https://github.com/rust-lang/rust-clippy/pull/6801 but the change has not landed in rustc tarballs yet.
Closing.

[2021-03-04 07:10] #6838 closed

[2021-03-04 07:41] Manishearth commented on #5598
I'd also like to point out that this is specifically for east asian text only, this doesn't really handle emoji/etc. Grapheme clusters are often a good approximation for displayed width in monospace fonts, but also not really.

The only reasonable thing to do here is look at your specific use case and see what you need. As you say, querying the font/terminal is often the right option.

------

As

[2021-03-04 13:25] SoniEx2 commented on #5598
Why do these complaints apply to `&[&str]`? Or do you mean a bare `&str`? Because as far as we know, you can make an `&[&str]` where the index is the actual physical column and the value is all the codepoints that make up that column (or empty if carrying over from a previous column).

[2021-03-04 14:34] saethlin opened #6841 "let_underscore_drop warns even when drop order is not affected"
Lint name: `clippy::let_underscore_drop`

In this context, the semantics of `_` do not alter drop order (which is the reason the lint exists, I think?) but the lint fires anyway:
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.52 (476acbf 2021-03-03)
- `rustc -Vv`:
[code]

[2021-03-04 14:53] camsteffen commented on #6827
You are using bitwise operators `&` and `|` instead of `&&` and `||`. I'll keep this open since we probably should lint that. We could either lint any unnecessary bitwise operators, or just enhance `unnecessary_fold`, or both! But I think I'd prefer just adding a new lint `bitwise_bool`.

[2021-03-04 15:04] totikom commented on #6827
Yes, `bitwise_bool` sounds like an important lint.

[2021-03-04 15:27] yshui opened #6842 "Warn about blanket `let _ = `"
### What it does

*What does this lint do?*

Suggest replacing `let _ = <expr>` with `let _: <type> = <expr>`

### Categories (optional)

- Kind: Tentatively `clippy::pedantic`

*What is the advantage of the recommended code over the original code*

It's somewhat common to use `let _ = <expr>` to ignore results that would otherwise generate a warning when not used. e.g. ignore an unimportant error

[2021-03-04 15:44] alex commented on #6638
FWIW one of the reporters of these issues has indicated that their team intends to OSS the analysis and port it to clippy: https://github.com/RustSec/advisory-db/pull/807#issuecomment-790706001

[2021-03-04 16:27] camsteffen commented on #6842
Interesting idea. I like this as an answer to "What's the idiomatic way to drop a must_use value?"

I believe we should implement this by enhancing the `let_underscore_*` lints, but possibly as an opt-in configuration (`allow_let_underscore_annotated = true`). Though I think it would be good to just add it in without config. We can also add to the suggestion, `help: add a type annotation if you re

[2021-03-04 16:35] camsteffen commented on #6836
I suppose we could have a simple "table heuristic": is this a list of numbers that occupies multiple lines but the first two numbers are on the same line?

[2021-03-04 17:15] ColinFinck opened #6844 "useless_format lint gives a wrong example for "Good""
The description of the `useless_format` lint gives the following "Bad" and "Good" examples:
https://github.com/rust-lang/rust-clippy/blob/d783e3dda6d4a507fac822c8d30bec4d2aa7e29c/clippy_lints/src/format.rs#L30-L35

However, the "Good" example is something that is also not accepted by the `useless_format` lint.

[2021-03-04 17:25] Manishearth commented on #5598
Yes, on a bare `&str`.

I don't understand your focus on `Pattern`, your issue is asking for `&[char]` to be linted against in general. If you want something specifically for `Pattern` please clearly spell it out, ideally in the separate issue. As it stands the bulk of the ask here is too broad and IMO not correct.

[2021-03-04 17:25] #5598 closed

[2021-03-04 17:48] #6818 closed

[2021-03-04 18:06] SoniEx2 commented on #5598
`&[char]` is the problem, which includes Pattern.

and yes the problem IS broad. that's the whole *point*. this is "internationalization 101" stuff and everyone gets it wrong.

[2021-03-04 18:20] Manishearth commented on #5598
In my many years of writing Rust code I have never seen `&[char]` used in this way. People _just do not use that type_. When I've seen it be used it's usually for UTF32 compat or something.

[2021-03-04 18:22] SoniEx2 commented on #5598
`&[char]`, `Vec<char>`, same difference really.

[2021-03-04 18:34] #1390 closed

[2021-03-04 19:49] SoniEx2 opened #6845 "Lint request: `char_is_the_wrong_abstraction`"
### What it does

We want a restriction lint that prevents using `char` and `std::str::Chars`. We want to discourage ppl contributing to our code from using `char` because we believe it's just the wrong abstraction, and would rather it just errored so we can explain to ppl that things like grapheme clusters and whatnot exist and they should be preferred. [The std suggests you may want to look into

[2021-03-04 22:26] matthiaskrgr opened #6847 "manual_map suggestion cannot be applied: if let.. else if let .. chain"
Lint name: `manual_map`

I tried this code:

[code]

Clippy suggests this:

[code]

but it fails to apply because we have an if .. else if  .. else chain which is not taken into account and the suggestion causes syntax errors.

[code]

cc @Jarcho  ?

[2021-03-05 09:39] Bernd-L commented on #5038
Has the suggestion from @matthiaskrgr been implemented yet? What's the status on it?

Clippy still suggests the asterisk both in stable and nightly:
<https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e5449fb7e2e56fecb09556aba25c7cc6>
<https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e5449fb7e2e56fecb09556aba25c7cc6>

### Steps to reproduce:

1. Open (e

[2021-03-05 11:26] yshui commented on #6842
I would like to think that it is, I couldn't come up with a counterexample. Maybe someone more familiar with async could chime in.

[2021-03-05 11:48] matthiaskrgr opened #6850 "redundant_closure must not expand macro in suggestion"
Lint name: redundant_closure

[code]

This is obviously not going to work with `$crate::vec...`

The suggestion should just say `Vec::new()`

How to fix: find out where the lint generates the snippet and use `snippet_with_macro_callsite` instead of just `snippet`.

( this type of bug popped up a couple of times already https://github.com/rust-lang/rust-clippy/pull/6801#issuecomment-787063756
maybe

[2021-03-05 12:12] matthiaskrgr opened #6851 "meta: expanded macros in suggestions break code"
There have been a couple of problems already with broken suggestions with macros.
The `snippet` function does not deal with macros very well which is why we have `
snippet_with_macro_callsite` which uses the original macro unexpanded.

For example if we have some kind `x.map(|_| vec![])` code, the  `redundant_closure` lint would suggest to replace `vec![]` with `$crate::vec::Vec::new` which should

[2021-03-05 17:11] stevenengler commented on #3045
If this is the expected behaviour, I think the message should be changed. Maybe something like "this public function might dereference a raw pointer but is not marked \`unsafe\`"? The current message is confusing and not always correct.

[2021-03-05 17:27] Manishearth commented on #3045
Sure, I'd accept that change

[2021-03-05 17:49] camsteffen commented on #6080
I tried to switch over to `mir_for_ctfe` but was harshly denied, "[Turn aside, heathen! None shall enter except he be const!](https://github.com/rust-lang/rust/blob/8fd946c63a6c3aae9788bd459d278cb2efa77099/compiler/rustc_mir/src/transform/mod.rs#L366)". Chatted again with @oli-obk and he suggested we should add `tcx.unoptimized_mir` to simply bypasses the assertion.

[2021-03-05 19:19] camsteffen commented on #6851
What you're really suggesting is to always use `span.source_callsite()` instead of `span` by default. I think this would work for 98% of cases. The problem is when we are linting code like

[code]

Now, I think some of our lints are over-conservative and just drop out at `fooey!(x)`. But there's no reason not to lint this code with `redudant_closure`. If you take `span.source_callsite()` from `foo

[2021-03-05 19:27] camsteffen commented on #6851
Actually I take that back since `foo(y)` may include an implicit deref depending on what is passed to the macro. But maybe if `x` did not originate outside the macro? I don't know, macros are sticky. But I think my main point still holds.

[2021-03-05 19:39] camsteffen commented on #6847
I think it should still suggest with a block `else { a.map(|j| 3 + j) }`, so not a false positive.

[2021-03-05 20:04] mgacek8 commented on #6850
If we go here: https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/eta_reduction.rs#L111 and change that `snipped_opt` to `snippet_with_macro_callsite`, then clippy would suggest the following:
[code]
which causes the compiler error.

We can strip the `$crate::vec` prefix, but it will work only for the `vec![]` macro.
This issue is similar: https://github.com/rust-lang/rust-clipp

[2021-03-05 20:13] mgacek8 commented on #6844
@rustbot claim

[2021-03-05 21:10] constreference commented on #6817
@rustbot claim

[2021-03-05 21:15] teymour-aldridge opened #6855 "thread 'rustc' panicked at 'Not a type: DefIndex(4344)', compiler/rustc_metadata/src/rmeta/decoder.rs:908:32"
Clippy `panic`ed while running.

[code]

This was in a Github workflow run here: https://github.com/lovelace-edu/lovelace/runs/2043017937 (the relevant pull request is https://github.com/lovelace-edu/lovelace/pull/114 if that helps to find out where the bug comes from).

[2021-03-05 22:14] WaffleLapkin commented on #6855
Isn't this a dup of #6792?

[2021-03-05 23:14] jyn514 opened #6857 "manual_map thinks rust has non-local control flow in closures"
Lint name: manual_map

I tried this code:

[code]

I expected to see this happen: No warning, because this is non-trivial to replicate with combinators.

Instead, this happened: Clippy warned that this can use `map`:

[code]
and then fails to apply its own suggestion:
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.52 (45b3c28 2021-03-04)
- `rustc -Vv`:
[code]

[2021-03-06 00:18] simonsan opened #6858 "default_trait_access False Positive with TypedBuilder"
Lint name:
`clippy::default_trait_access`

I tried this code:

[code]

I expected to see this happen:
`To not show up`

Instead, this happened: See above

### Meta

- `cargo clippy -V`: clippy 0.1.52 (45b3c285 2021-03-04)
- `rustc -Vv`:
[code]

[2021-03-06 13:46] #6844 closed

[2021-03-06 20:48] repi commented on #4140
Really like the `use_self` lint, and this seems to be the last remaining issue that until it can be generally used which would be lovely once resolved.

[2021-03-06 21:21] RReverser opened #6860 "No way to silence a new lint across both toolchains"
I'm trying to allow a single nightly-only Clippy lint.

[code]

When my code is compiled on nightly, everything is fine, but on stable (Rust 1.50) this results in:

[code]

Ok, I go ahead and add `#[allow(clippy::unknown_clippy_lints)]` using the lint name taken from the suggestion:

[code]

Now the roles swap and my code compiles without warnings on stable but produces a warning on nightly:

[cod

[2021-03-06 21:54] llogiq commented on #6857
I think the problem may be that it only looks at the parent item's return type instead of the closure's one.

[2021-03-06 23:04] leonardo-m opened #6861 "Suggest replacing hand made integer rotations with rotate_right/rotate_left"
I think Clippy should suggest to replace integer rotations like:

[code]

With calls to rotation methods `rotate_right` or `rotate_left`:

[code]

[2021-03-06 23:38] repi opened #6862 "wildcard_enum_match_arm fail with non-exhaustive enums and OR patterns"
Lint name: [`wildcard_enum_match_arm`](https://rust-lang.github.io/rust-clippy/master/index.html#wildcard_enum_match_arm)

I tried this code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=43848454d08645d5af43bfd552300a03)):

[code]

I expected to see this happen: The lint not triggering, as all enum variants including a non-exhaustive case are covered

I

[2021-03-07 05:47] mikerite commented on #6806
I'm against silencing lints on public items. The default should be to lint everywhere. Silencing should only be done in exceptional cases and there should be an easy way to turn it back on. I actually would prefer a lint to be moved to restriction entirely than crippled in that way.

[2021-03-07 09:31] gilescope commented on #6836
Yes it’s a way to make all the numbers the same size in terms of character
length so that cargo fmt aligns them nicely when it wraps them on multiple
lines. It’s the nicest way of doing it with cargo fmt not skipped that I
have found yet...

On Thu, 4 Mar 2021 at 16:35, Cameron Steffen <notifications@github.com>
wrote:

[2021-03-07 21:40] camsteffen commented on #6806
Just to be clear, we are not silencing lints on public items altogether, but silencing lints that would suggest changing the public API in a non-backward-compatible way (i.e. changing a function signature).

That seems more preferable to me as well, by the principle of least surprise.

[2021-03-07 23:13] #1562 closed

[2021-03-07 23:17] tdyas commented on #6539
Just wanted to flag that https://github.com/rust-lang/rust-clippy/issues/6840 is an ICE in v1.50.0 related to `normalize_generic_arg_after_erasing_regions` that is not fixed by the PR linked to this issue.

[2021-03-08 05:07] mikerite commented on #6806
Yes. Aware of that.

[2021-03-08 06:37] phansch commented on #6861
The [docs say](https://doc.rust-lang.org/std/primitive.u32.html#method.rotate_left) that `rotate_left/right` is not the same as the `<<` shifting operator. Could you perhaps elaborate a bit here?

[2021-03-08 07:20] MikaelCall commented on #6855
I have the same issue (and I've hade it since it was reported in #6792 despite upgrading about every second day after the fix was merged). Here's my error output if that helps:

[code]
[code]

### Error output
[code]

[2021-03-08 08:04] giraffate commented on #6860
It's because `unknown_clippy_lints` was deprecated from 1.51.0 (currently beta). For now, I may be wrong but can codes below help you?

[code]

[2021-03-08 08:42] leonardo-m commented on #6861
It's true that a single shift isn't the same as a rotation. But here I didn't write a shift, I've written two shifts plus an Or. That implements a rotation on the bits. The first shift rotates, the second takes the rotates bits and the Or glues them together, performing the rotation.

[2021-03-08 13:02] Y-Nak commented on #6857
I think this was fixed in #6801.

[code]

doesn't trigger the lint in [the current version](https://github.com/rust-lang/rust-clippy/tree/e6c643f39939188decc2ab0c52478a7c44c2cf1f), while it triggers the lint in [the version right before #6801 was merged](https://github.com/rust-lang/rust-clippy/tree/6343446b892a04601e8c248726c4c22dfea64d63).

[2021-03-08 14:16] jyn514 commented on #6857
Yup, works great on the latest nightly, thanks!

[2021-03-08 14:16] #6857 closed

[2021-03-08 15:17] HalfVoxel opened #6867 "Split `suboptimal_flops` into smaller lints"
[`suboptimal_flops`](https://rust-lang.github.io/rust-clippy/master/#suboptimal_flops) is very useful. Most of its suggestions are wins both for readability and performance, however some significantly reduce readability in my opinion.

E.g.
[code]
is a lot more readable than
[code]

in particular for new developers that may not be familiar with `mul_add`.

We'd love to enable `suboptimal_flops` fo

[2021-03-08 15:40] camsteffen commented on #6835
Neat idea. Would be nice to somehow include functions like:

[code]

[2021-03-08 15:58] camsteffen commented on #6841
I would prefer to keep the rules of `let_underscore_drop` simple. You could change to `let _result =` or use `drop`.

[2021-03-08 16:29] camsteffen commented on #6845
I can see the usefulness of such a restriction lint. But it is unnecessary to assert that `char` is "just the wrong abstraction". For many use cases, it is a perfect abstraction. The lint could be named `char_for_i18n` (detects usage of `char` that is potentially insufficient internationalization and grapheme clusters could be used instead). But maybe it is reductive to say that grapheme clusters

[2021-03-08 16:32] SoniEx2 commented on #6845
grapheme clusters also don't take e.g. terminal columns into account so they're not necessarily the correct abstraction either. so it's reductive to say grapheme clusters are sufficient for internationalization.

[2021-03-08 16:38] camsteffen commented on #6850
In the general case, `|| macro!()` should not fire `redundant_closure` since the suggestion will force the user to inline the macro and expose its implementation. But `vec![]` -> `Vec::new` is a special case. So that special case can use a hard-coded suggestion or (better) obtain the minimal path to `Vec` depending on whether it is imported.

[2021-03-08 16:48] camsteffen commented on #6845
Okay. The lint will need to somehow be more specific and constructive than "char is wrong" to be added to Clippy.

[2021-03-08 17:03] camsteffen commented on #6867
Anything other than `mul_add` that you would split out? Do you include `f32::exp`? I'm concerned that drawing that line is too subjective.

[2021-03-08 17:28] camsteffen commented on #6806
Config name idea: `suppress_public_api_changes`

[2021-03-08 18:48] scottmcm opened #6870 "Suggest replacing .map(f).flatten() with .and_then(f) on Options"
### What it does

*What does this lint do?*
Checks for usage of `_.map(_).flatten()`,

This is like https://rust-lang.github.io/rust-clippy/master/index.html#map_flatten but for `Option`s instead of `Iterator`s

### Categories (optional)

- Kind: clippy::style/complexity

Easier to follow what's happening, shorter

### Drawbacks

None.

### Example

Inspired by @steffahn's suggestion in https://gi

[2021-03-08 21:46] #6732 closed

[2021-03-08 21:46] #6850 closed

[2021-03-08 21:46] #4354 closed

[2021-03-08 22:55] repi commented on #2918
Ran into a case today where the suggestion generated is also incorrect, source:

[code]

suggestion:
[code]

The suggestion incorrectly changes the flow control to only update `self.pos` when `self.rot` is not changed, compared to the original code

[2021-03-09 00:42] giraffate commented on #6870
Do you mean this case? <https://github.com/rust-lang/rust-clippy/blob/4c8d248190819f09753d4f6a9f89e3804e232ae7/tests/ui/map_flatten.stderr#L33-L39>

[2021-03-09 00:56] scottmcm commented on #6870
Ah, so I did!  The description in the docs made me think it's only for `Iterator::map`.

[2021-03-09 02:44] alice-i-cecile opened #6872 "Feature request: custom library-specific lints"
Over at [Bevy](https://github.com/bevyengine/bevy/issues/1602) we've been discussing building a linter for Bevy code bases, to catch common errors and style issues.

We'd love to be able to integrate with Clippy in some way, but obviously, almost all of these will be completely useless to Rustaceans who aren't using Bevy. Furthermore, we'd want to maintain our own lints, without bogging down the r

[2021-03-09 06:07] llogiq commented on #6872
I had a discussion with the maintainer of shipyard, who asked if we could somehow change the `too_many_arguments` lint to avoid systems. In general we have no qualms about crate specific lints (see e.g. the regex lints).

If it helps you to get up to speed, you might want to start lints in our nursery and later move them to another project if you deem that the best course of action.

Also perhaps

[2021-03-09 06:43] bjorn3 commented on #6872
From bevyengine/bevy#1602:

* malformed systems (see #1519)
* unit structs in the first type parameter of Query (these should just use With)
* using Not<With<T>> or Not<Without<T>> or the like

These are highly specific lints to bevy for which generalization doesn't make any sense.

[2021-03-09 09:30] steffahn commented on #6870
Which means the description should be fixed, right?

[2021-03-09 09:31] repi commented on #5721
We were testing the `print_stdout` and `print_stderr` in our codebases and think ran into this issue also of the lint being ineffective due to not really running on most of our code. Our hope was to find stray `println!` somewhere deep down in our modules but wasn't caught

[2021-03-09 11:25] Y-Nak opened #6874 "Use `span_lint_and_sugg` instead of `span_lint` in `unnecessary_cast`"
The lines below should be replaced by `span_lint_and_sugg` or `lint_unnecessary_cast` as another part of `unnecessary_cast` does.

https://github.com/rust-lang/rust-clippy/blob/3ed0bccb703c9a6ebb5ca9d1d727c7bc248b1dd5/clippy_lints/src/casts/unnecessary_cast.rs#L49-L57

[2021-03-09 11:26] Y-Nak commented on #6874
@rustbot label +good-first-issue +C-enhancement

[2021-03-09 12:11] nsabovic opened #6875 "Replace unused fields in a pattern with the .. syntax."
### What it does

Replace unused (_) fields in a pattern with the .. syntax.

### Categories (optional)

- Kind: style

*What is the advantage of the recommended code over the original code*

- Simplifies and shortens the code.
- Prevents code from breaking when new fields are added to the struct.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-03-09 13:04] mikerite commented on #6875
[unneeded_field_pattern](https://rust-lang.github.io/rust-clippy/master/index.html#unneeded_field_pattern) does this.

[2021-03-09 14:42] nsabovic commented on #6875
Amazing. Thanks for pointing it out!

[2021-03-09 14:42] #6875 closed

[2021-03-09 15:12] #6840 closed

[2021-03-09 15:34] #6870 closed

[2021-03-09 15:44] bjorn3 commented on #6872
Bevy uses it's own ECS. Systems are ordinary functions on which `.system()` from the `IntoSystem` trait is called. This would be a good entry point for Bevy.

[2021-03-09 16:18] llogiq commented on #6806
Yeah, we added the exported check to many lints for exactly that reason: Clippy should not break people's code. Having a flag to allow linting those items for the outlined reasons is a good idea, though (when we decided to not lint those cases, we didn't have any config).

[2021-03-09 16:23] giraffate commented on #6629
Some updates
- The PR dashboard was merged into triagebot: <https://github.com/rust-lang/triagebot/pull/1223>
- But it doesn't work on production for some reasons: <https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/Triage.20PR.20dashboard/near/229336937>

[2021-03-09 16:35] michaelkirk commented on #6747
Similar false positive:

[code]

Some context:
[code]

I understand how this kind of a lint could find bugs, but it seems like it would also be unavoidably prone to false positives.

[2021-03-09 16:37] matthiaskrgr opened #6877 "dark mode for "ALL the Clippy Lints" page"
It might be neat to have a dark mode for https://rust-lang.github.io/rust-clippy/master/index.html which is a bit lighter on the eyes during nightly clippy delinting sessions.

[2021-03-09 16:38] matthiaskrgr commented on #6877
cc @xFrednet

[2021-03-09 16:48] xFrednet commented on #6877
I plan to change some things on the website in the coming month. I'll include this as well 🙃

@rustbot claim

[2021-03-09 16:54] Manishearth commented on #6806
A thing I mentioned there that I want to make sure is mentioned here: this shouldn't actually change our calculus of whether we break public APIs. Sometimes a lint is more severe and needs to be able to suggest breaking changes, even if the result is just that the lint is silenced.

[2021-03-09 16:55] xFrednet commented on #6877
I thought about copying the mdbook or docs style to have it more unified among projects. Completely using that project is a new Idea to think of. This might be worth a try :)

[2021-03-09 17:04] Manishearth commented on #6806
Put differently, "we shouldn't use the existence of this config as a reason to avoid writing lints that _always_ suggest breaking changes".

So like, I think we have some lints currently that _do_ suggest breaking changes to pub and _should_, we shouldn't change that.

[2021-03-09 18:01] scottmcm commented on #6870
Thanks, @giraffate!

[2021-03-09 18:10] Michael-J-Ward commented on #6872
A second  use case that I just asked about on `tracing` discord would be a lint to warns you whenever a `task` is spawned without being [instrumented](https://tracing.rs/tracing/trait.instrument).

[2021-03-09 20:00] alice-i-cecile commented on #6872
I've been pointed to this issue, asking about a replacement for now deprecated functionality that seems like it would have met our goals: [Alternatives to rustc_plugin::registry for (Servo’s) custom lints?](https://github.com/rust-lang/rust/issues/62868).

[2021-03-10 02:37] XiangpengHao commented on #6792
Hi, I'm using the nightly clippy but can still reproduce the issue, do I miss anything?

[code]

[code]

[2021-03-10 08:09] emilk opened #6879 "CLI deprecation false positive"
I tried this:

`cargo clippy -- -D clippy::needless_pass_by_value`

and got this warning:

[code]

So the suggestion is to use exactly the format I am using.

`cargo clippy -- -D needless_pass_by_value` produces the same warning.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (cb75ad5d 2021-02-10)
- `rustc -Vv`:
[code]

[2021-03-10 16:42] CPerezz commented on #6625
Hey that's helpful. Thanks for reporting it. I've been really busy the last month but I plan to get back to this and ship at least the RFC so that the discussions can start to take place. And this example will be a good one to have.

[2021-03-10 16:56] #6486 closed

[2021-03-10 17:45] alice-i-cecile opened #6880 "Lint request: Safety comment on safe code"
### What it does

Warns when a SAFETY comment is left on a safe function, trait etc.

*What is the advantage of the recommended code over the original code*

Avoids users accidentally using unsafe code in an inappropriate fashion because it's marked safe.

### Drawbacks

Won't work on normal comments, see #4828.

### Example

[code]

Should be written as:

[code]

Here's an [example](https://githu

[2021-03-11 04:59] koutheir commented on #6556
I think this doesn't depend on any semantic meaning. Grouping by four bits is a specification of one hexadecimal digit in the binary numeral system. Likewise, grouping by three bits is a specification of one octal digit in binary. The octal numeral system is used often enough to make this warning unexpected in computer science.

[2021-03-11 08:25] spacejam commented on #6872
I have a list of Rust features that I usually consider inappropriate to use in my projects due to compile time/correctness/usability hazards, but probably would be viewed as overly conservative by most clippy users. I would love to be able to ban various things using a custom lint such as:

* pub trait
* proc macro use
* pub macro
* internal async usage
* unused derive impl on non-pub type
* Drop

[2021-03-11 09:55] XiangpengHao opened #6882 "associated type missing default"
Code example from https://github.com/rust-lang/rust-clippy/issues/6792,
the pr (https://github.com/rust-lang/rust-clippy/pull/6812) doesn't seem to fix it

### Code

[code]

### Meta

- `cargo clippy -V`: clippy 0.1.52 (3a5d45f 2021-03-09)
- `rustc -Vv`:
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-03-11 10:01] llogiq commented on #6806
Yeah, we should also probably document this facet of the respective lints.

[2021-03-11 10:56] Y-Nak commented on #6882
This is fixed but the change is not synced yet.

[2021-03-11 11:11] Y-Nak commented on #6882
You can assure that by pasting the code to [this file](https://github.com/rust-lang/rust-clippy/blob/master/tests/ui/crashes/ice-6793.rs) and running `cargo dev fmt && cargo test` in the clippy root.

[2021-03-11 11:15] XiangpengHao commented on #6882
I see, thanks! How long usually does it take to sync? Before that, I need to pin the nightly version to 20 days ago.

[2021-03-11 11:18] aron-granberg commented on #6867
@camsteffen You mean e.g. changing
[code]
to
[code]

Those also seem like readability wins to me, or at least not making readability worse.

In any case I think that `mul_add` is quite distinct among the lints in `suboptimal_flops` in that `a * C1 + C2` very often shows up in normal code, while code that uses exponential functions or logarithms is much rarer.

It is true though that it's a bit sub

[2021-03-11 11:23] Y-Nak commented on #6882
Today! (the sync is done every other week.)

[2021-03-11 13:54] Y-Nak opened #6883 "Remove `cargo dev ra_setup`"
#6869 obsoleted `cargo dev ra_setup`, so we can remove it now!
Also, we need to update [`Getting code-completion for rustc internals to work`](https://github.com/rust-lang/rust-clippy/blob/master/CONTRIBUTING.md#getting-code-completion-for-rustc-internals-to-work) to reflect the changes.

[2021-03-11 13:56] Y-Nak commented on #6883
@rustbot label +A-documentation +C-enhancement

[2021-03-11 14:12] Y-Nak commented on #6883
@rustbot label -C-enhancement

[2021-03-11 14:49] camsteffen commented on #6867
`mul_add` just doesn't seem any less intuitive than the other functions to me. It's easy to check the rust docs if one doesn't know, which should be a very common practice anyways. I think we at least need to receive more feedback on this. But maybe we should upgrade the lint out of `nursery`.

[2021-03-11 14:51] matthiaskrgr commented on #6883
I have been holding off on doing that because I think the rust-analyzer version that provides the feature is not in nightly yet.

[2021-03-11 15:00] matthiaskrgr commented on #6883
The current nightlly ra-version is d54e1157b66017e4aae38328cd213286e39ca130 / 2021-03-08.
The support for #6869 has been merged in d57c9f79801762aa23adc21adbb638678268e96b which landed afterwards.

The next RA sync will probably be filed around the 15th so perhaps it's save to remove it on 17th-20th when the sync has landed inside the rustc repo.

[2021-03-11 15:09] kvark opened #6885 "Detect automatic dereferencing in pattern matches"
### What it does

[RFC 2005](https://rust-lang.github.io/rfcs/2005-match-ergonomics.html) introduced the logic of auto-dereferencing into pattern matches. We find this harmful to both experts and beginners, and we avoid this extra logic in all project of gfx-rs ecosystem (gfx-rs, wgpu, wgpu-rs, naga, etc). It would help us to have a lint that we could enable in these projects.

Basically, the lint

[2021-03-11 15:28] TaKO8Ki opened #6886 "[Tracking Issue] Refactor lints in methods module"
This issue is linked with https://github.com/rust-lang/rust-clippy/issues/6680.

I've refactored most of lints in methods module in https://github.com/rust-lang/rust-clippy/pull/6826 and the PR became too large.
So, I'm going to refactor the rest of lints and move some functions to `clippy_lints/src/utils/methods/` in a new PR.

This issue is a tracking issue for doing this to avoid opening a too

[2021-03-11 23:13] peku33 commented on #6607
Why exactly this isn't an error?
`impl Into<String> for MyStruct {...}` is OK - implementing foreign trait for local type.
But isn't `impl From<MyStruct> for String {...}` forbidden? It pretty much sounds like foreign trait for foreign type.
`From<MyStruct>` is treated as newly constructed type because of templating and it behaves like local?

[2021-03-11 23:25] peku33 commented on #6607
From docs:
```Only implement Into when targeting a version prior to Rust 1.41 and converting to a type outside the current crate. From was not able to do these types of conversions in earlier versions because of Rust's orphaning rules. See Into for more details.```
So isn't this a false positive?

[2021-03-11 23:33] matthiaskrgr commented on #6366
I wonder if we should have some kind of "simplification" group.
Currently we have the `style` group which is very generic and has a lot of lints a la "this pattern could be used instead of that pattern" and a lot of "this pattern is bad" lints.

We could have a `simplification` lint group that only has "replace long pattern with shorter pattern" lints.
For example `op_ref` where we suggest to chan

[2021-03-12 02:20] termhn commented on #6867
Besides readability, `mul_add` is a very dubious "performance win". It will always be more accurate (no round), but depending on the arch and compile options, it could actually significantly decrease performance. For one, it can cause a call into libc in many situations (when building without the `fma` feature, which needs to be specifically enabled, and even when it is, it can still cause a call

[2021-03-12 02:45] TaKO8Ki commented on #6886
@rustbot claim

[2021-03-12 02:46] Y-Nak commented on #6882
Unfortunately, minor conflicts have occurred in the sync process, see [83012](https://github.com/rust-lang/rust/pull/83012).
But It would be available in a few days, maybe.

[2021-03-12 03:03] TaKO8Ki commented on #6680
@magurotuna
I decided to split into a new PR because https://github.com/rust-lang/rust-clippy/pull/6826 became too large. So, could you add a link to my tracing issue https://github.com/rust-lang/rust-clippy/issues/6886 to this issue?

[2021-03-12 08:21] llogiq commented on #6872
Most of those seem easy to implement and all of the fit nicely into our restriction lint category. The "threads spawned dynamically" lint would be quite hard, because we only perform local analysis and threads could be spawned in functions from other crates. However, we could still lint calls to `std::thread::spawn` if that helps. Same goes for "internal async usage"; this can be done locally, but

[2021-03-12 09:18] aron-granberg commented on #6867
Sure. I'm not arguing that it's hard to understand what it does. That's pretty easy to find, and just from the name it's pretty obvious. But there's a reason people usually prefer infix operators over function calls, they are usually more readable. Especially if you start nesting them.

[2021-03-12 10:27] magurotuna commented on #6680
@TaKO8Ki Sure thing! Done it.

[2021-03-12 11:08] mikerite commented on #6607
https://blog.rust-lang.org/2020/01/30/Rust-1.41.0.html#relaxed-restrictions-when-implementing-traits

That's exactly what the lint is recommending. `From` instead of `Into`. How is it a false positive?

[2021-03-12 11:22] xMAC94x opened #6890 "Internal compiler error with `2021-03-09` in veloren"
Hey, we noticed an internal compiler error in veloren source code when updating from nightly-2021-01-01 to nightly-2021-03-09

[code]

steps to reproduce:
1. download veloren; 9612592fac948b2390a13facb586c4a22216dd02
2. adjust rust-toolchain file to `2021-03-09`
3. run clippy: cargo clippy --all-targets --locked -- -D warnings

it will throw many new warnings and error, but eventually also throw t

[2021-03-12 11:45] Y-Nak commented on #6890
This seems duplicates of #6882 and this has been already fixed in #6812.

[2021-03-12 11:45] Y-Nak commented on #6855
This seems duplicates of #6882 and this has been already fixed in #6812.

[2021-03-12 11:49] matthiaskrgr commented on #6890
Yeah I also think its already fixed.
I was not able to reproduce the crash locally with the latest version of clippy and veloren @ bf3e12f39a4

[2021-03-12 11:59] llogiq commented on #6855
Closing as duplicate

[2021-03-12 11:59] #6855 closed

[2021-03-12 12:04] llogiq commented on #6867
I'd argue that `.mul_add(_, _)` having worse perf than `_ * _ + _` should likely be considered a bug. Can you show me a Rust-supported architecture where this is the case?

[2021-03-12 12:26] aron-granberg commented on #6867
I took the liberty of writing a small test case. Running this with `--release` on my local machine (Intel® Core™ i9-9900K CPU @ 3.60GHz × 16) shows that the test without mul_add is about 2x faster than with mul_add.

[code]

[code]

However, running with the `fma` feature explicitly enabled then `mul_add` is about the same speed.
[code]

I think (@termhn correct me if I'm wrong) `mul_add` is in pr

[2021-03-12 12:28] peku33 commented on #6607
@mikerite shouldn't linter follow official docs and guidelines?

[2021-03-12 12:35] termhn commented on #6867
Yep, you're correct. FMA are generally not inherently slower (in fact, in most cases, they *are* faster). However like you said the Rust compiler is conservative and doesn't assume.

There definitely *are* cases where you can get in trouble by *only* using FMAs though. For example I switched from using all FMAs to no explicit FMAs in [`ultraviolet`](https://github.com/termhn/ultraviolet/) and gain

[2021-03-12 12:51] #6890 closed

[2021-03-12 12:54] matthiaskrgr commented on #6890
Clippy was synced 2 days ago, I think the latest night should include the fix.

[2021-03-12 13:11] Y-Nak commented on #6890
I think Clippy is not synced yet, though the PR is opened. Or my understanding about the sync process is wrong.

[2021-03-12 14:31] mikerite commented on #6607
That's what we're doing. We lint `Into` implementations and recommend `From`.

[2021-03-12 15:14] llogiq commented on #6867
Interesting analysis. Thank you! I believe we may want to add a note to the lint description that says people should measure carefully when applying this lint for speed.

[2021-03-12 15:47] nox commented on #6885
@kvark I think this does what you want: https://rust-lang.github.io/rust-clippy/master/#pattern_type_mismatch

[2021-03-12 15:51] kvark commented on #6885
@nox beautiful, thank you!
I scanned through them and missed, expected something about dereferencing and automation in the name.
Looking forward to enable this lint everywhere :)

[2021-03-12 15:51] #6885 closed

[2021-03-12 16:22] Fishrock123 commented on #6607
This issue here is that it is hard to deduce the conversions when reading rustdoc. Which means, frankly, we'll continue to ignore this until that improves (hence the "docs antipatterns").

[2021-03-12 17:43] camsteffen commented on #6867
Yes thanks for the additional analysis!

Here is a comparison of all the functions with godbolt: https://godbolt.org/z/9qvads
You can uncomment corresponding lines to see the assembly diff. I added `black_box` where the number is considered variable rather than constant.

Different instructions are used for `sqrt`, `exp`, `ln`, `log2`, `log10`. The `2f32.powf(x)` case is optimized into using the `

[2021-03-12 20:07] Cxarli opened #6893 "manual_flatten suggests uncompilable code on slice of references"
Lint name: `manual_flatten`

For the following code:

[code]

The lint suggests replacing the loop with:

[code]

However, this doesn't compile, because `&&Option<{integer}> is not an iterator`.

What does compile is

[code]

### Meta
[code]

[2021-03-12 20:27] matthiaskrgr commented on #6883
Apparently `cargo dev ra-setup` [is still important for people using intellij-rust](https://github.com/rust-lang/rust-clippy/pull/6888#issuecomment-797298142) so we can't just remove that!

[2021-03-13 07:34] rossmacarthur opened #6894 "`use_self` lint triggers on #[derive(Deserialize)]"
Lint name: [`use_self`](https://rust-lang.github.io/rust-clippy/master/index.html#use_self)

I tried this code:

[code]

And ran

[code]

I expected to see this happen: *no error*

Instead, this happened: *`use_self` lint triggers*

[code]

### Meta

- `cargo +nightly clippy -V`:
[code]
- `rustc +nightly -Vv`:
[code]

[2021-03-13 09:31] Y-Nak commented on #6894
This seems a duplicate of #6818.

[2021-03-13 10:36] rossmacarthur commented on #6894
You're right

[2021-03-13 10:36] #6894 closed

[2021-03-13 11:12] XiangpengHao commented on #6882
Just found out the sync is merged and no more internal error observed.

Thank you for the great work!

[2021-03-13 11:12] #6882 closed

[2021-03-13 11:55] HalfVoxel commented on #6867
- sqrt vs powf(0.5)
    Same code except that powf adds some additional instructions afterward which do not seem to affect the result (this seems like an llvm bug possibly?).
    I have verified that sqrt and powf(0.5) generates the exact same output. Though the bits of their NaN ouputs actually differ. I don't think any particular NaN bits are guaranteed though.
    sqrt is always faster since it

[2021-03-13 13:14] leonardo-m opened #6897 "Suggest 'const' for functions"
I'd like a Clippy lint to tell me to what functions in my code I can add the 'const':

[code]

==>

[code]

Once Rust 'const' becomes more powerful, this lint could support those new possibilities too.

[2021-03-13 13:23] Y-Nak commented on #6897
[`missing_const_for_fn`](https://rust-lang.github.io/rust-clippy/master/index.html#missing_const_for_fn) already exists for this purpose.

[2021-03-13 13:38] leonardo-m commented on #6897
Very nice, thank you, closed.

[2021-03-13 13:38] #6897 closed

[2021-03-13 15:43] giraffate commented on #6629
The PR dashboard works now: <https://triage.rust-lang.org/triage/rust-lang/rust-clippy>. Thanks!

[2021-03-13 15:54] #6562 closed

[2021-03-13 16:07] #6760 closed

[2021-03-13 19:07] davidhewitt opened #6898 "`manual_unwrap_or` should not trigger inside const fn"
I tried this code:

[code]

I expected to see this happen: no lint error, beacuse `.unwrap_or` cannot be used inside a `const fn` yet.

Instead, this happened: `manual_unwrap_or` lint triggers.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (cb75ad5 2021-02-10)
- `rustc -Vv`:
[code]

[2021-03-13 19:24] LiamTheProgrammer opened #6899 "Useless transmute lint throws false positive when transmuting lifetimes"
This code triggers a false positive for the "useless transmute" lint:

[code]

This should not be considered useless because it changes information about the type, but for some reason the type is considered the same by clippy as shown in this message: `` transmute from a type (Example) to itself ``

[2021-03-13 20:39] RReverser commented on #6860
@giraffate Unfortunately, no - looks like `renamed_and_removed_lints` somehow ignores the `missing_panics_doc` (that is, the latter still gets a warning).

[2021-03-13 20:41] RReverser commented on #6860
Ah, no, sorry, all three together do work.

Could `renamed_and_removed_lints` be shown in warnings like the one above? That is, it could be shown as `note: `#[warn(renamed_and_removed_lints)]` on by default` on the corresponding warning.

[2021-03-14 00:26] kornelski commented on #6366
+1 for `suspicious` category.

I'm reviewing code of Cargo creates and looking for potential security issues, like backdoors and malicious code. I've realized that there are several ways to obfuscate Rust code to mislead code reviewers, so I'd like to flag such suspicious code for extra scrutiny. I like @llogiq description that "If that code was in Among Us, it'd be ejected immediately".

I've sta

[2021-03-14 04:12] dtolnay opened #6900 "False positive explicit_into_iter_loop on an into_iter method with type parameter"
As of most recent nightly:

[code]

[code]

Clippy wants to see this rewritten as:

[code]

However, that replacement code does not compile. Therefore I believe the `clippy::explicit_into_iter_loop` lint should be fixed to not trigger on this code.

[code]

<br>

### Meta

- `cargo clippy -V`: e.g. clippy 0.1.52 (acca818 2021-03-13)
- `rustc -Vv`:
[code]

[2021-03-14 08:21] LiamTheProgrammer opened #6901 "Should the `missing_const_for_fn` lint be less applicable for private functions never used in consts?"
So if there is a function that provably is never used in a constant based on its visibility, then why should it be suggested to mark it as `const`? Shouldn't the lint doing that only suggest changing the function to a `const fn` when it's useful to do it?

Example (yes the result just be declared as a `const` but that's a different subject):

[code]

If this was a public function, then yes it shou

[2021-03-14 11:25] matthiaskrgr commented on #6890
Should be fixed "officially" with `rustc 1.52.0-nightly (acca81892 2021-03-13)`

[2021-03-14 14:02] imp opened #6902 "use_self still gives false positives"
Now that #6818 is fixed and the fix (#6833) has made its way to the nightly there are still cases of false positives:

Lint name: `use_self`

I tried this code:

[code]

I expected to see this happen: clippy clean - no warning/errors

Instead, this happened:

[code]

Interestingly enough it the code generated by `#[serde(untagged)]` that triggers this lint. If this line is commented out then clipp

[2021-03-14 15:20] #6874 closed

[2021-03-14 17:16] glittershark opened #6903 "Redundant_closure false positive with moved FnMut"
Lint name: redundant_closure

I tried this code (reduced to a minimal example):

[code]

If I apply the suggestion (redundant_closure on the fourth line), resulting in the following code:
[code]

I get the following error:

[code]

### Meta

- `cargo clippy -V`: e.g. clippy 0.0.212 (98d6634 2020-11-14)
- `rustc -Vv`:
[code]

[2021-03-14 17:29] omni-corp opened #6904 "await_holding_refcell_ref false negative when inside async block"
#### Example code
[code]

When running `cargo clippy -- -W clippy::pedantic` expected the warning `this RefCell Ref is held across an 'await' point. Consider ensuring the Ref is dropped before calling await`. Instead no warning is produced. Removing the async block produces the warning as expected.

#### Meta

`cargo clippy -V`:
`clippy 0.1.52 (acca8189 2021-03-13)`

`rustc -Vv`:
[code]

[2021-03-14 18:30] LiamTheProgrammer commented on #6901
@rustbot label +S-needs-discussion +A-lint

[2021-03-14 19:38] Aaron1011 opened #6906 "New lint: Oddly nested item definitions"
### What it does

Rust's syntax is quite flexible:
* Items can written in statement position (e.g. `fn bar() { struct Foo; }`)
* Arbitrary statements can occur inside a block expression (e.g. `let a = { struct Foo; };`
* The array type `[T; size]` supports arbitrary (const-evaluatable) expressions for `size`.

By combining these features, we can write code like this:

[code]

However, this kind of

[2021-03-14 23:53] giraffate commented on #6860
I found it during debugging based on your report.

I tried the codes below:
[code]
I got messages including `renamed_and_removed_lints`:
[code]

[2021-03-14 23:53] matthiaskrgr opened #6908 "needless_collect has rediculous spans"
[code]
clippys "suggestion":

[code]

Looks like the suggestion span is looking at the position of the `collect()` and not the position of the `.contains()`...?

`clippy 0.1.52 (acca818 2021-03-13)`

[2021-03-15 00:16] matthiaskrgr opened #6909 "needless_collect triggers inside for loop, can be questionable"
[code]

Right now, we are running the expensive closure only N (vec.len() times.
If we move it into into the `for-loop`, this could easily become `N (vec.len() * M (for loop)` times

[code]
it might be cheaper to just run the closure once up front for all the elements and "cache" the results in the vec.

[2021-03-15 01:37] RReverser commented on #6860
Huh, that's really odd... I guess I've missed it between the duplicate warnings. Thanks.

[2021-03-15 01:37] #6860 closed

[2021-03-15 11:18] PhilosophicalProgrammer opened #6910 "New Lint: unused_pure_return_value"
### What it does

It checks for function detected to be pure. I know rust doesn't have pure functions, but Clippy could make a best guess at whether or not a function is pure in the CS sense (no side effects, same return value for the same arguments). In this case, a call to it with an unused return value should be warned to do nothing. This should probably be warn by default, as the proposed impl

[2021-03-15 13:59] humancalico opened #6911 "cargo clippy doesn't give warnings/errors after cargo check for clippy::cargo lint"
Steps to reproduce:
- Initialize a project with the `cargo init` command
- Add the `#![deny(clippy::cargo)]` lint in the `main.rs` file
- Run `cargo clippy`
[code]
- run `cargo check`
[code]
- run `cargo clippy`
[code]
- run `cargo clean`
- run `cargo clippy` again
Gives the same errors as before

### Meta

- `cargo clippy -V`: clippy 0.0.212 (cb75ad5 2021-02-10)
- `rustc -Vv`:
[code]

[2021-03-15 14:23] humancalico commented on #6911
Update: not just for `clippy::cargo` lint but for all lints

[2021-03-15 16:09] #5253 closed

[2021-03-15 16:14] jyn514 commented on #6870
Hmm, this doesn't seem to be working: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d9855ae1539cc222b88fa4baa7b46b92
[code]
doesn't get a warning.

[2021-03-15 16:35] llogiq commented on #6901
The downside is that being const requires all called functions being const. Say `pub fn a()` calls `fn b()` that could be const but isn't, and `a` could be const if not for the call of `b`, we could not give a machine applicable suggestion because we have no way of declaring suggestion dependencies.

[2021-03-15 16:58] steffahn commented on #6870
@jyn514 It’d a pedantic lint; not enabled by default.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e75f19dfbb4f5b35b2f2ef4a9d8b200

[2021-03-15 17:13] jyn514 commented on #6870
Ah ok, that makes sense. What do you think about making it a style lint instead?

[2021-03-15 17:43] steffahn commented on #6870
Seems reasonable to me to have it be a style lint. I’m not really sure I understand the distinction anyways; I see a lot of similar types of lints on both sides of the distinction, e.g. [`option_map_or_none`](https://rust-lang.github.io/rust-clippy/master/index.html#option_map_or_none) is a style lint that also suggests `and_then` for a different type of pattern, and there are lots of iterator-rel

[2021-03-15 17:44] LiamTheProgrammer commented on #6901
Ah. Good point.

[2021-03-15 17:44] #6901 closed

[2021-03-15 18:27] baumanj commented on #6727
I agree this is a false positive per https://rust-lang.github.io/api-guidelines/naming.html#ad-hoc-conversions-follow-as_-to_-into_-conventions-c-conv. A owned -> owned conversion for `Copy` should use `to`, rather than `into` as the prefix.

[2021-03-15 22:55] #6758 closed

[2021-03-16 01:48] Y-Nak commented on #6911
This is a duplicate of #4612.

[2021-03-16 01:56] humancalico commented on #6911
Oops didn't see that. I only searched for open issues while searching for this. Sorry :disappointed_relieved:

[2021-03-16 01:56] #6911 closed

[2021-03-16 10:17] MysteryJump commented on #6898
@rustbot claim

[2021-03-16 10:51] ChrisJefferson commented on #6636
I genuinely not sure why you think expect() is "sloppy". If something goes badly wrong (can't read or write a file for example, or I find a list I expect to contain some value unexpectedly doesn't), I feel the best option for a (non-interactive) program is just to quit ASAP -- I can't reasonably recover from that, and the longer the program keeps going, the higher the risk something bad will happe

[2021-03-16 13:45] wesleywiser commented on #5965
Generalizing this lint to work in all of the erroneous cases would be great! In the short term, it might be good to extend the set of types the existing lint applies to from just `CString` to other container types in the standard library which I suspect is a lot easier. Someone today asked me why their code isn't working:

[code]

and I was sure Clippy caught this but it doesn't.

[2021-03-16 17:02] tdyas commented on #6840
Should be fixed by https://github.com/rust-lang/rust-clippy/pull/6866, but that won't be on stable until at least v1.51.0.

[2021-03-16 19:57] dtolnay opened #6919 "Reparse all suggestions to prevent suggesting syntactically invalid code"
I frequently see Clippy make attempted suggestions involving macro calls, such as the following:

[code]

[code]

Often it's possible to fix these by tweaking some spans in the macro implementation or by putting codepaths into Clippy to block certain lints in macro-generated code. However, I wonder whether it would be better to fix this category of broken suggestions by passing *all* suggested cod

[2021-03-16 20:24] bmc-msft commented on #5749
I've been able to reliably reproduce `-D warnings` working (and then breaking) locally with a simple code sample with a single warning.

Once I've ever run clippy without `-D warnings`, until I rebuild it will no longer exit with a non-zero exit code.

src/main.c
[code]

My testing:
[code]

In this example, clippy with `-D warnings` _unexpectedly_ exits with a zero exit code after running it witho

[2021-03-16 21:26] camsteffen opened #6920 "MSRV attribute is not scoped"
Example:

[code]

If we don't want to support this sort of usage, maybe we can just warn or error when the attribute is found in a non-crate.

[2021-03-16 23:40] giraffate commented on #6880
Do you mean the [`missing_safety_doc`](https://rust-lang.github.io/rust-clippy/master/index.html#missing_safety_doc) lint?

[2021-03-17 00:03] alice-i-cecile commented on #6880
No: the reverse. A safety doc was left on code that was not marked unsafe, implying that there were UB implications to using it incorrectly.

This is dangerous because safe code should not cause UB, even indirectly by violating unsafe code's assumptions in complex ways.

[2021-03-17 00:08] giraffate commented on #6879
I couldn't see that warning. Can you provide a minimal reproduction? FYI I tried codes below:
[code]
and I get warnings below:
[code]

[2021-03-17 00:55] matthiaskrgr opened #6921 "needless_question_mark follows macros and suggests to replace code inside the macro definition"
Lint name: needless_question_mark

I tried this code:

[code]
Suggestion:

[code]

We can't just fill in the macro arguments into the macro definition... :upside_down_face:
I guess the easiest way is to just ignore macros?

### Meta
`clippy 0.1.52 (107896c 2021-03-15)`

[2021-03-17 04:50] #6898 closed

[2021-03-17 07:14] Y-Nak opened #6922 "FP: mut_mut in external macro"
Lint name: `mut_mut`

I tried this code:
[the example of `async-book`](https://rust-lang.github.io/async-book/06_multiple_futures/03_select.html) also triggered the lint, though this is not the original one.

[code]

I expected to see this happen: None.
Instead, this happened:
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.52 (f5d8117 2021-03-16)
- `rustc -Vv`:
[code]

---
This would be caused

[2021-03-17 07:15] Y-Nak commented on #6922
@rustbot label +good-first-issue

[2021-03-17 09:21] flip1995 commented on #5749
This should've been fixed in #6834 and already landed in nightly.

@bmc-msft Which version of Clippy are you using? (`cargo clippy --version`) I tested it with the latest nightly Clippy (`clippy 0.1.52 (f5d8117 2021-03-16)`) and it produces the correct error codes. If you can reproduce this with the latest nightly, let me know and I'll reopen the issue.

[2021-03-17 09:21] #5749 closed

[2021-03-17 09:38] #6883 closed

[2021-03-17 10:03] #6768 closed

[2021-03-17 10:48] mgacek8 commented on #6727
@rustbot claim

[2021-03-17 11:29] matthiaskrgr commented on #6487
`cargo clippy--fix` has been fixed some time ago, closing.

[2021-03-17 11:29] #6487 closed

[2021-03-17 12:04] matthiaskrgr commented on #3455
[code]
No idea where `RUST_RELEASE_NUM` is coming from, it does not seem to be documented anywhere :laughing:
Is there a replacement for that?

[2021-03-17 12:59] Licenser commented on #6747
I'd like to throw in a case here:
[code]
`rest1` and `pc1` are quite far apart spelling-wise (one haveing two more characters and not a single similar one). They also have different types, and the resulting code would not compile

[2021-03-17 13:04] mgacek8 opened #6923 "unnecessary_cast suggestion for type aliasses"
Lint name: unnecessary_cast

I tried this code:

[code]

I expected to see this happen:
No lint triggered, or, ideally, a suggestion to omit the cast completely and write just `len: 0,`

Instead, this happened:
Clippy suggested using `0_usize` instead of `0 as size_t`.
The suggestion is not good, because then changing `size_t` to e.g. `u64` causes the compiler error.

### Meta

- clippy 0.1.52 (20

[2021-03-17 13:52] bmc-msft commented on #5749
I was testing with latest stable `clippy 0.0.212 (cb75ad5 2021-02-10).`

I can confirm 0.1.52 fixes the issue.  Thanks!

[2021-03-17 17:25] Fishrock123 opened #6925 "inscrutable eval_order_dependence warning (futures related?)"
Lint name: `eval_order_dependence`

I tried this code:

[code]

I expected to see this happen:

The clippy lint explanation says:

In the `fixture_body!` macro, there is no variable declaration, which makes this rule very confusing.

The output is wrong regardless, I am not reading and writing to the same variable at all.

Instead, this happened:
[code]

### Meta

- `cargo clippy -V`: clippy 0.0.2

[2021-03-17 18:03] #6847 closed

[2021-03-17 18:46] camsteffen opened #6926 "New Lint: Consecutive String push"
### What it does

Finds consecutive `push` or `push_str` operations to a `String`. These can be combined into a `write!` macro call.

### Categories

- Kind: perf

*What is the advantage of the recommended code over the original code*

- More performant since the `String` will pre-allocate
- More concise

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-03-17 19:30] mgacek8 commented on #6675
@rustbot claim

[2021-03-17 19:51] repi opened #6927 "string_lit_as_bytes should also detect `"str".to_string().into_bytes()`"
Lint name: `string_lit_as_bytes `

I tried this code:

[code]

I expected to see this happen:  for the second case (`bytes2`) to also be detected by the lint and recommend using `b"Length" instead

Instead, this happened: only the first case for `bytes1` was detected.

This came from real user code we had and manually fixed, would be nice if the lint can be extended to this case as well.

### Meta

[2021-03-17 19:59] matthiaskrgr commented on #6926
I tried to benchmark this
[code]

and on my system the `push` variant was consistently faster:
[code]

[2021-03-17 20:48] camsteffen commented on #6926
Hmm you're right. I tried fiddling with the bench and got the same results. Going to close this as it seems like `write!` is not really advisable in this case.

Related: rust-lang/rust#76490

[2021-03-17 20:48] #6926 closed

[2021-03-17 22:07] camsteffen commented on #6906
We already have `items_after_statements`, but clearly it's not enough! I think it makes sense to add a new lint to cover more unusual cases as you've shown, particularly if it is warn-by-default.

[2021-03-18 08:09] ChrisJefferson commented on #6075
I would like a version of this clippy where enumerate can be used, but no `take` or `skip` are required -- in those cases I find the clippy produces longer, and more confusing, code.

[2021-03-18 09:28] flip1995 commented on #6075
I just put this code into godbolt, to make my point more clear: https://godbolt.org/z/8njPf6

The iterator version optimizes to 177 lines of assembler code, while the index code optimizes to 308 lines of assembler code.

As for the performance of both variants:

[code]

So yeah, I don't think there is an argument left for not triggering this lint in the examples given here. #3032 is a good example

[2021-03-18 09:28] #6075 closed

[2021-03-18 09:43] ChrisJefferson commented on #6075
I'm not using this clippy for performance, I am using it for (what I view as) clarity.

I did't even know how to tell this was a "perf" clippy -- out of interest, how would I find that out? it doesn't seem listed on the terminal, and at https://rust-lang.github.io/rust-clippy/master/index.html#needless_range_loop it seems to be "style"?

[2021-03-18 09:52] ChrisJefferson commented on #6075
While I haven't benchmarked, I took the snippet of code which was being triggered for me, and in godbolt the "traditional loop" version produces significantly less assembler:

https://godbolt.org/z/v6KoPq

[2021-03-18 10:23] flip1995 commented on #6075
It produces 9 lines less assembler, yes. But the performance speaks for itself:
[code]

To avoid future confusion: We call this a "lint" not a "clippy". Clippy is the tool name providing those "lints".

I guess this lint is classified as style, because it is more idiomatic in Rust to use iterators, whenever possible. The classification is guided by what the lint author/reviewer thinks is the most

[2021-03-18 10:32] ChrisJefferson commented on #6075
I still believe this lint has grown too large, if we look at the doc page, it says "Checks for looping over the range of 0..len of some collection just to get the values by index", so at least the documentation should be updated to discuss any a..b range.

Would a PR which split the check into two pieces, one just handing the case in the documentation (no take or skip required) (which I would coun

[2021-03-18 10:45] flip1995 opened #6929 "Improve documentation of `needless_range_loop`"
_Originally posted by @ChrisJefferson in https://github.com/rust-lang/rust-clippy/issues/6075#issuecomment-801810194_

We should improve the documentation of the [`needless_range_loop`](https://rust-lang.github.io/rust-clippy/master/index.html#needless_range_loop) lint to better explain what cases this lint triggers on. Also make more clear, that using iterators _usually_ has better performance (r

[2021-03-18 10:54] #5733 closed

[2021-03-18 10:54] #6604 closed

[2021-03-18 10:54] #6862 closed

[2021-03-18 11:00] ChrisJefferson opened #6930 "needless_range_loop produces code with different behaviour"
needless_range_loop suggests changing:

[code]

to

[code]

However, these are only equivalent is `out` has at least `base` elements. If not, then this changes behaviour (the first version panics with out of bounds, the second silently truncates the loop).

See this example at https://play.rust-lang.org/

(I noticed this will discussing needless_range_loop in #6075 )

[2021-03-18 11:05] flip1995 commented on #6930
So the lint silently improves your code. I don't think this needs a fix, but we should mention this in the documentation/note message. Related: #6929

You should use the iterator variant and add a size check, and handle the case of `out.len() <= base` explicitly.

You have to create a perma link with the `Share` button at the top.

[2021-03-18 11:09] ChrisJefferson commented on #6930
I realise we previously discussed my dislike of this I'm sorry, but this definitely doesn't "improve my code". It silently hides a serious bug.

If this was "improving my code", so would Rust just ignoring all out-of-bounds writes to arrays.

[2021-03-18 11:23] flip1995 commented on #6930
Panicking because of an out-of-bounds error is a bug in your code, not a feature. If you intended to panic when the index is out-of-bounds, you should explicitly write code addressing this and not hide it behind an indexing operation. If you want to use the Rust safeguard of bounds-checking as a "feature", you should have a test for this, which would catch this semantic change.

Either way, we sho

[2021-03-18 12:28] ChrisJefferson commented on #6930
I never intend to make use of out-of-bounds panic, or any of the other types of panicking, but my code still panics several times a week, because I write buggy code :)

I do think this should be added to the lint message -- in general it might be nice to have a general statement (does it exist somewhere? If so I couldn't find it), of exactly the guarantees (if any) clippy makes about changes it su

[2021-03-18 12:40] flip1995 commented on #6930
We should have something like this, but currently such a definition does not exist. As a rule of thumbs, Clippy should always suggest code that is semantically equivalent or if it can't like in this case mention this at least in the documentation. Changing the semantics like in this case is acceptable, because it removes a (unintended) panic. The other way around is never acceptable.

I also tend

[2021-03-18 12:56] matthiaskrgr opened #6932 "FN: needless_collect: collecting without turbofish"
Lint name: needless_collect

I tried this code:

[code]

does not trigger the lint while
[code]
does

### Meta

- `cargo clippy -V`: `clippy 0.1.52 (36f1f04 2021-03-17)`
- `rustc -Vv`:
[code]

[2021-03-18 13:33] emilk commented on #6879
I fail to reproduce this myself now. WEIRD! I'll take better noted if it reappears.

[2021-03-18 13:33] #6879 closed

[2021-03-18 14:00] camsteffen commented on #6929
I think it depends on what "usually" means. Of course we can't get an exact figure, but perhaps it can be shown that *not* improving perf is a highly unusual scenario. And in that case it should be perf.

[2021-03-18 14:43] cassiersg opened #6933 "Missing type parameter in impl Default suggestion."
When a type with a type parameter as a method `pub fn new() -> Self`, clippy suggests to implement `Default`. However the suggested implementation lacks the type parameter.

For instance, when running `cargo clippy` on

[code]
the output is
[code]
while the impl suggestions should be
[code]
(notice the `: Copy` bound).

### Meta

- `cargo clippy -V`: clippy 0.0.212 (cb75ad5 2021-02-10)
- `rustc -V

[2021-03-18 16:12] #6675 closed

[2021-03-18 16:51] ChrisJefferson commented on #6075
I'd just like to drop one final suggestion, which was given to be over on internals.rust_lang.org

for (i,item) in out[..base].iter_mut().enumerate.skip(1) {
... }

This has (I think) a few major advantages. It's easy to read (to me), it preserves the original semantics (panic if `base` is too large), and (according to a simple benchmark), it's the fastest version (although I know benchmarking is

[2021-03-18 16:54] ChrisJefferson commented on #6930
(I previously put this in the wrong issue, sorry if anyone got pinged by this).

I'd just like to drop one final suggestion, which was given to be over on internals.rust_lang.org, to change the suggested code to:

for (i,item) in out[..base].iter_mut().enumerate.skip(1) {
... }

This has (I think) a few major advantages. It's easy to read (to me), it preserves the original semantics (panic if base

[2021-03-18 17:54] flip1995 commented on #6930
The problem with your benchmark code is, that you pass the arguments directly to functions, so they just get constant folded away and the compiler can just constant fold everything, so everything has the same execution time.  You have to pass the arguments with `foo(black_box(arg1), black_box(arg2) ...)`.

My benchmarking gave me those numbers:

[code]

So yeah, this is pretty much the same. (The

[2021-03-18 18:04] ChrisJefferson commented on #6930
Thanks. I tried throwing some black_box around, but that has just made the `for` loop go fastest, so I must have put it in the wrong place. Also, I must be using a different profiling library than you I guess (as we get different output). If you could share what your code, that would be handy.

The thread (and the relevant post) is: https://internals.rust-lang.org/t/new-function-suggestion-iter-ta

[2021-03-18 18:20] flip1995 commented on #6930
Sure! https://github.com/flip1995/dirty-bench I use this hacky thing for things I want quick benchmarks for, so don't use it if you want to do serious benchmarking!

Just run `cargo bench --bench lint_test2` on the repo and you should get similar the same (modulo machine specs).

(You can also `cargo install cargo-criterion` and then run `cargo criterion --bench lint_bench2` if you want nice graph

[2021-03-18 18:24] flip1995 commented on #6929
See #6930 and #6075 for some benchmarks. You almost always get better results with iterators, since you get rid of bounds checking.

[2021-03-18 21:36] mchodzikiewicz commented on #1569
I think this one gets more and more important as rust embedded community grows. I would also add  linting crates that only use heap and no other OS features to only use `alloc`

[2021-03-18 22:16] xTibor opened #6934 "New lint: Unix permissions set to a non-octal value"
### What it does

Checks if the following functions expecting Unix permission bits only called with octal literals:

* [`PermissionsExt::set_mode`](https://doc.rust-lang.org/std/os/unix/fs/trait.PermissionsExt.html#tymethod.set_mode)
* [`PermissionsExt::from_mode`](https://doc.rust-lang.org/std/os/unix/fs/trait.PermissionsExt.html#tymethod.from_mode)
* [`OpenOptionsExt::mode`](https://doc.rust-lan

[2021-03-19 01:14] Y-Nak opened #6936 "FN: All lints in types don't work if a type is in `const` or `static`"
All lints in `types` don't work if types are in `const` or `static`.

I tried this code:

[code]

I expected to see this happen: `option_option` and `vec_box` should be triggered.

Instead, this happened: Nothing.

### Meta

- `cargo clippy -V`:  clippy 0.1.52 (f5d8117 2021-03-16)
- `rustc -Vv`:
[code]

[2021-03-19 01:14] Y-Nak commented on #6936
@rustbot claim

[2021-03-19 10:12] #6921 closed

[2021-03-20 07:12] #6727 closed

[2021-03-20 14:18] mgacek8 commented on #6815
@rustbot claim

[2021-03-20 14:39] rye opened #6940 "`implicit_return` suggestion is invalid syntax"
I tried this code (from [this file](https://github.com/rye/distringo/blob/00f4111f2f9ce462dba18cad4056dcd079e0b7a7/server/src/server.rs#L40-L63), [Archive](https://web.archive.org/web/20210320141650/https://github.com/rye/distringo/blob/00f4111f2f9ce462dba18cad4056dcd079e0b7a7/server/src/server.rs)):

[code]

I would expect the `implicit_return` lint to suggest the last line be changed to:

[code]

[2021-03-20 15:36] ThibsG commented on #6940
@rustbot label +l-suggestion-causes-error

[2021-03-20 17:10] Sciencentistguy opened #6943 "const functions should not trigger or_fun_call"
Lint name: or_fun_call

I tried this code:

[code]

I expected to see this happen: As str::len is a const function, it is inlined as a usize. So the suggestion to use `.unwrap_or_else()` introduces more overhead than is needed.

Instead, this happened: The lint is triggered

### Meta

- `cargo clippy -V`: `clippy 0.1.52 (f5d8117 2021-03-16)`
- `rustc -Vv`:
[code]

[2021-03-20 17:35] #6933 closed

[2021-03-20 17:48] #6572 closed

[2021-03-20 18:04] whatisaphone commented on #6563
On the playground it repros on stable and nightly with just a closure.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f2416025978fe7e5c9407e811a82a744)

[code]

Expected result: no error, since `|| foo` refers to the variable `foo`

<details>
<summary>Actual result: shadow_unrelated error</summary>

[code]

</details>

[2021-03-21 08:50] ThibsG opened #6944 "Bad suggestion for `field_reassign_with_default` when generics are involved"
I tried this code:

[code]

I expected to see this happen:

Generics are handled correctly like the following:
[code]

Instead, this happened:

Suggestion is missing the use of `::` just before generic types, leading to a compile-time error.
[code]

[2021-03-21 09:58] llogiq commented on #6861
The easy part is detecting an or of two shifts of the same value in different directions. The hard part is checking whether the shifts add up to the type's bit width.

Consider `(a << i) | (a >> (32 - i))` or even `(a << i) | (a >> (31 ^ i))`. And there are other ways to write this.

[2021-03-21 13:57] xNxExOx opened #6946 "if let scoping of lifetime (False Positive)"
Lint name: irrefutable_let_patterns

I tried this code:

[code]

I expected to see this happen: **maybe** no lint?, because `if let` is used to scope lifetime of `gl_window`

Instead, this happened: Following the lint breaks the code, because lifetime in `gl_window` could be used in `Drop` of `gl_window` while `display` is still being used.

I am not even sure if this can be reasonably implemented

[2021-03-21 14:57] #6944 closed

[2021-03-21 20:43] Skirmisher commented on #6929
As someone who hasn't had much experience with Rust iterators yet, clippy's suggestion here confused me:

[code]

It was unclear to me where the tuple in this example was coming from. clippy was suggesting the correct thing (since `count` was not only used to index the buffer), but the documentation did not explain the use of `enumerate` being the critical component, leaving me at a loss until I a

[2021-03-21 20:54] camsteffen commented on #6929
Good point. We could change the help message to "consider using enumerate".

[2021-03-21 21:03] GilRtr opened #6947 "Generic async function `not_send`"
Lint name: `future_not_send`

I tried this code:

[code]

I expected to see this happen: *nothing* - I think this code is correct, the returned future is not `Send` only if `R` isn't.

Instead, this happened: *warning* - Clippy complains that the future isn't `Send` because `reader` is used across `await` (by `drop`) and `reader` does not implement `Send`

### Meta

- `cargo clippy -V`: 0.0.212 (c

[2021-03-22 03:26] teor2345 opened #6948 "ICE: found unstable fingerprints for evaluate_obligation"
### Code

https://github.com/teor2345/zebra/tree/clippy-ice , zebra-consensus crate

I tried minimising the error, but I struggled to reproduce it. It seems to be intermittent, and occur in slightly different crates each time.

This code does not reproduce the error. But it is responsible for the bounds in the error message:
[code]

### Command

[code]

The error doesn't occur unless `cargo clippy

[2021-03-22 03:47] giraffate commented on #6948
This is similart to https://github.com/rust-lang/rust/issues/83291.

[2021-03-22 10:00] matthiaskrgr commented on #6948
Yeah this is unrelated to clippy (happens with `cargo build`, too).
@Manishearth  can you move this over to the rustc repo? Thanks!

[2021-03-22 12:36] Munksgaard opened #6949 "new_without_default: undeclared lifetime name in suggestion"
[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b9c51053d030d7e515283d78325b043b)

Run clippy (Tools -> Clippy).

The suggestion is missing a lifetime name:

[code]

[2021-03-22 13:12] #6815 closed

[2021-03-22 14:09] camsteffen commented on #6909
very similar to #6164

[2021-03-22 14:23] camsteffen commented on #6943
We cannot simply ignore const functions since they are not guaranteed to be evaluated at compile time. See #1527. However we can ignore `str::len` since we also ignore `slice::len`.

[2021-03-22 14:58] giraffate commented on #6949
Thanks for your report!

I think this seems to be fixed by https://github.com/rust-lang/rust-clippy/pull/6939, so I'm closing this.

[2021-03-22 14:58] #6949 closed

[2021-03-22 16:25] Munksgaard commented on #6949
How embarrassing! Sorry I didn't notice. I'll look forward to the fix propagating down to my install :)

[2021-03-22 20:19] JayKickliter commented on #6711
@glittershark were you able to find a repro?

[2021-03-22 20:29] #6886 closed

[2021-03-22 20:46] #6943 closed

[2021-03-23 00:43] ebobrow commented on #6927
I'd like to give this a try.

@rustbot claim

[2021-03-23 00:55] giraffate commented on #6949
No worries! IMHO it would be better to report duplicates than not to report :)

[2021-03-23 02:40] dtolnay opened #6953 "unnested_or_patterns does not respect clippy.toml msrv"
Repro:

[code]

[code]

`cargo clippy` emits a unnested_or_patterns lint, despite that syntax not being valid on Rust 1.31.0.

[code]

The suggested replacement on Rust 1.31.0:

[code]

<br>

### Meta

- `cargo clippy -V`: clippy 0.1.52 (5d04957 2021-03-22)
- `rustc -Vv`:
[code]

[2021-03-23 03:38] Y-Nak opened #6955 "FN: `use_self` doesn't check `pat`"
Lint name: `use_self`

I tried this code:

[code]

I expected to see this happen: the usage of `Foo::Variant` triggers ` use_self`.

Instead, this happened: Nothing.

### Meta

- `cargo clippy -V`: clippy 0.1.52 (5d04957 2021-03-22)

- `rustc -Vv`:
[code]

[2021-03-23 04:32] sunshowers opened #6956 "vec_init_then_push fires for loop immediately after vector creation"
(On Rust 1.51.0-beta.8).

I tried this code:

[code]

I expected to see this happen: no error

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: clippy 0.1.51 (73f48e5 2021-03-18)
- `rustc -Vv`:

[code]

[2021-03-23 04:58] Manishearth commented on #6956
Yeah we should probably ignore loops

[2021-03-23 04:58] Manishearth commented on #6956
And most kinds of conditionals

[2021-03-23 11:02] leonardo-m commented on #6618
Another case where it's worth linting for:
[code]
==>
[code]

[2021-03-23 14:48] TaKO8Ki commented on #6751
@rustbot claim

[2021-03-23 17:20] Fishrock123 opened #6958 "len_without_is_empty fails on Surf"
Lint name:

I tried this code:

[code]

https://github.com/http-rs/surf/blob/fb228d8536b041f26f53f7b6eaa3ff56238d9f2c/src/request.rs#L272-L286

I expected to see this happen:

No warning. We implement a `is_empty()` but since the request body is a stream (`AsyncRead`), we may not know the length for e.g. chunked request bodies. The natural API for expressing that is `Option<>`.

Instead, this happ

[2021-03-23 18:58] xNxExOx commented on #6946
ups Clippy just also prints compiler warnings, my mistake, I created https://github.com/rust-lang/rust/issues/83419 which should be the correct place.

[2021-03-23 18:58] #6946 closed

[2021-03-24 06:56] ncaq opened #6960 "FP: manual_unwrap_or help code is not correct"
Lint name: manual_unwrap_or

I tried this code:

[code]

I expected to see this happen: clippy don't warn or suggest correct code.

Instead, this happened:

When don't fix clippy output.

[code]

When replace to help code.

[code]

### Meta

- `cargo clippy -V`: e.g. clippy 0.0.212 (e1884a8 2020-12-29)
- `rustc -Vv`:
[code]

[2021-03-24 08:27] TaKO8Ki commented on #6893
@rustbot claim

[2021-03-24 11:55] Y-Nak commented on #6680
I'm working on `function`.

Btw, it would be better to discuss how to refactor `misc`. All lints in `misc` seem not relevant to each other at all, so I think it makes sense to declare lint passes for each lint.

[2021-03-24 12:49] magurotuna commented on #6680
Agreed. I don't see any specific reason why the lints that are currently categorized as "misc" are there. "misc" is so ambiguous that it makes people think a new lint that seems trivial _to them_ should go into "misc". What kind of lints seem trivial to people differs from person to person IMO. Thus it makes more sense to me too, to separate the lints in "misc" and declare individual lint passes f

[2021-03-24 12:50] flip1995 commented on #6680
I think for `misc` some of the lints there would also fit in already existing modules. `misc` and `misc_early` are both artifacts from the early days of Clippy. I agree that it might be good to split up and get rid of those modules completely.

[2021-03-24 13:26] magurotuna commented on #6680
Cool! I updated the description of this issue, adding a `misc_early` checkbox and how to refactor `misc` and `misc_early`.
I would like to work on `misc` :)

[2021-03-24 14:24] MalteT commented on #4779
Since it's not explicitly mentioned here yet: According to the [documentation](1):

So `must_use_candidate` should never be triggered for them.

[1]: https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-must_use-attribute

[2021-03-24 16:34] magurotuna opened #6963 "Applying help message emitted by `if_then_some_else_none` results in compile error"
Lint name: `if_then_some_else_none`

I tried this code:

[code]
Running clippy on the above code gives me a diagnostic that looks like:

[code]

Following this help message, I updated the code to:

[code]

This doesn't compile with the following error:

[code]

In this particular case, putting `move` keyword before the closure will work. But it seems like just putting `move` keyword doesn't always

[2021-03-24 16:46] ChrisJefferson opened #6964 "(Possibly) confusing message in ptr_arg"
ptr_arg prints the message:

```warning: writing `&Vec<_>` instead of `&[_]` involves one more reference and cannot be used with non-Vec-based slices```

I was confused for a while about the "one more reference", as switching does not seem to remove any references.

After some thought, is this referring to the internal implementation of Vec requiring another indirection? In that case, perhaps repl

[2021-03-24 16:51] Urcra opened #6965 "`manual_unwrap_or` hint suggest invalid code, due to macro expansion"
It seems that clippy expands the macro before applying some hints resulting in invalid code suggested by the hint

I tried this code:

[code]

I expected to see this happen:

Suggestion for `value_t!(matches, "command", f64).unwrap_or(0.0)`

Instead, this happened:

The suggestion seems to expand the macro, causing the code to not compile if applying the hint

[code]

### Meta

- `cargo clippy -V`

[2021-03-24 18:39] llogiq commented on #6964
Let me make that visible by showing a pointer as `o->`.

`&Vec<T>`: `o->[len, capacity, o]->[T0, T1, ...]`

`&[T]`: `[len, o]->[T0, T1, ...]`

[2021-03-24 18:54] #6893 closed

[2021-03-24 18:55] nsuthison commented on #1450
I think I found another `false positive` case when I want to insert value to true but if any update happens I want to change it to false.

Ex.

[code]

I'm a newbie in Rust so I might be mistaken about this but I try to think of a better solution while map_entry but I can't.

[2021-03-24 20:14] llogiq commented on #4779
Do you have an example where the lint is triggered in a trait impl? I ask.because the UI test has an example where it isn't.

[2021-03-24 21:21] #1724 closed

[2021-03-24 23:29] giraffate commented on #6965
reproduction on the playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=367a93ab1ac4ed67817f8b611a420c22

[2021-03-25 03:19] #6927 closed

[2021-03-25 10:53] JP-Ellis commented on #6751
This should also apply to the case where someone has written:

[code]
though I don't know if this is too niche.

Another thing to note is how NaN values are handled.  Specifically:

- `min` and `max` return the other value if either one is NaN
- `clamp` panics if either bounds is NaN, and returns NaN if the value being clamped if NaN
- Any comparison with a NaN (with the usual `<`, `<=` `==` `>=`

[2021-03-25 11:42] MalteT commented on #4779
@llogiq, I don't, I just saw that tyranron mentioned this:

And there was no mention about this (or I missed it) in the conversation. Happy to hear that it seems to work!

[2021-03-25 13:13] llogiq commented on #6958
So I guess the lint should at least check if `len(&self)` returns `usize` and not fire otherwise.

[2021-03-25 13:44] tspiteri opened #6967 "manual_map recommends non-compiling code in const fn"
[code]

Clippy says:
[code]
However the recommended code would not compile because it is in a const function.

### Meta

- `cargo clippy -V`: 0.1.52 (2021-03-24 07e0e2e)

[2021-03-25 14:55] tyranron commented on #4779
@llogiq it seems that this issue can be closed now. I don't feel a bit tension with this lint in latest releases. Thank you for taking care!

[2021-03-25 14:55] #4779 closed

[2021-03-25 15:09] roblabla opened #6968 "redundant_slicing false positive on bytes::buf::UninitSlice move"
Lint name: `redundant_slicing`

While updating rust to 1.51, we hit a false positive on one of the new lints. Here's a minimal reproducer:

[code]

I expected to see this happen: No lint on the slicing at `&mut bytes[..]`, as it is required: instead of moving the `bytes` variable to `_bytes_msg`, thus shortening its lifetime, it will instead create a *new* borrow with its own lifetime inside of `_

[2021-03-25 15:35] koivunej commented on #6968
Reproduction with a static slice: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f42468aa0f8251ede82bb902904053c

[2021-03-25 16:03] magurotuna opened #6969 "`manual_map` suggests a snippet that would not compile for chained `if`"
I tried this code:

[code]

Running clippy on the above code, clippy says:

[code]

Following the help message, the code changes to:

[code]

Of course, it doesn't compile:

[code]

### Meta

- `cargo clippy -V`: clippy 0.1.52 (07e0e2e 2021-03-24)

[2021-03-25 16:06] magurotuna commented on #6969
I think the help message should be ```help: try this: `{ a.map(|val| val * 2) }` ``` in this case.
I'll try to address the issue with this plan.

@rustbot claim

[2021-03-25 16:13] Licenser opened #6970 "missing_panics_doc is issued for debug_assert!"
Lint name:

missing_panics_doc

I tried this code:

[code]
rustc 1.51.0 (2fd73fabe 2021-03-23)
binary: rustc
commit-hash: 2fd73fabe469357a12c2c974c140f67e7cdd76d0
commit-date: 2021-03-23
host: x86_64-unknown-linux-gnu
release: 1.51.0
LLVM version: 11.0.1
[code]

[2021-03-25 18:01] estebank commented on #6930
I'm not sure about clippy's lint machinery, but the underlying `DiagnosticBuilder` lets you specify more than one suggestion. If that is available, you could suggest both with an appropriate message for both cases explaining the change of behavior, or alternatively extend the current suggestion to include a length assertion before the expression which would make it clearer to the user that they _c

[2021-03-25 18:20] rohitjoshi opened #6972 "len_without_is_empty : warning: struct `Lru` has a public `len` method, but the `is_empty` method has an unexpected signature"
Lint name: len_without_is_empty

I tried this code:

[code]

I expected to see this happen: *It should not generate warning*

Instead, this happened: *
warning: struct `Lru` has a public `len` method, but the `is_empty` method has an unexpected signature
   --> xxx-async/src/cache/lru_cache.rs:175:5
    |
175 |     pub async fn len(&self) -> usize {
    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    |

[2021-03-25 18:36] flip1995 commented on #6930
Clippy just uses the same diagnostic machinery as rustc (with a few convenience wrapper functions). So this should be possible :+1:

[2021-03-25 18:51] Arnavion commented on #6751
Hmm, I didn't think of the `NaN` behavior. That makes me lean towards removing that the `f32::clamp` and `f64::clamp` suggestions from this lint. Clippy shouldn't assume the user has non-NaN floats.

[2021-03-25 19:52] Jarcho commented on #6969
This was fixed in #6856

[2021-03-25 20:07] Jarcho commented on #6968
I'll deal with this later today.

@rustbot claim

[2021-03-25 21:06] JP-Ellis commented on #6751
I don't see any issue with Clippy suggesting a change, as long as it is made abundantly clear that NaN are handled differently.

[2021-03-25 23:10] matthiaskrgr opened #6973 "unnested_or_patterns can actually expand code (in text size)"
[code]

clippy will suggest to use
`&(E::A | E::B)` instead of
`&E::A | &E::B`
this actually makes the code a bit bigger.
Is this intended?

[2021-03-25 23:11] magurotuna commented on #6969
Ooops, I missed that. Thanks for pointing out.

[2021-03-25 23:11] #6969 closed

[2021-03-25 23:14] matthiaskrgr commented on #6973
[code]

[code]

:thinking:

[2021-03-25 23:16] giraffate commented on #6751
IMHO it is a good point to start this. If we want to address `f32::clamp` and `f64::clamp`, we can make a follow-up PR later.

[2021-03-25 23:50] constreference commented on #6817
Hi, I need some help with this, I see that the is_named_constant in clippy_lints/src/misc.rs returns false, I am guessing this is due to the difference in expression objects between a regular variable and an assert_eq macro, could someone point me in the right direction to tackle this

[2021-03-25 23:52] constreference commented on #6817
CC @flip1995

[2021-03-25 23:55] sunshowers opened #6974 "upper_case_acronyms should not suggest breaking changes to APIs"
Hi there! Thanks for writing `clippy` and all the useful suggestions it provides :)

Unfortunately, there's one lint that I've not been happy about: this new `upper_case_acronyms` lint that's on by default in Rust 1.51. I'm here to complain about two separate issues:
(1) I have aesthetic issues with the suggestions it makes.
(2) The more fundamental issue -- it routinely suggests breaking changes

[2021-03-26 00:12] giraffate commented on #6974
Thanks for your report!

This seems to be fixed by https://github.com/rust-lang/rust-clippy/pull/6805.

[2021-03-26 00:14] sunshowers commented on #6974
Thanks! Looks like that's not in the version of clippy released with Rust 1.51.0. Are there plans to do a patch release with this fix?

[2021-03-26 00:22] giraffate commented on #6974
Hmm, looking at the PR and issues, it doesn't seem to be discussed so far.

[2021-03-26 01:09] WiSaGaN commented on #5835
This still happens on 1.51.0:

[code]

[2021-03-26 01:24] sunshowers commented on #6974
I really would suggest considering a patch release.

[2021-03-26 01:38] Jarcho commented on #6968
This isn't a false positive, but a bad suggestion. Correct code is:
[code]

[2021-03-26 07:59] matthiaskrgr commented on #6974
Thanks for bringing this to our attention!

[code]
This ONLY lints on stable right now (beta is already fixed, yay)

There are other things already on the point-release pile, maybe we can just sneak this one in...? :sweat_smile:
I'm not sure what the release team thinks about this....
clippy topic thread
https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/upper_case_acronyms.20FP.20

[2021-03-26 09:11] flip1995 commented on #5835
@WiSaGaN can you share code, where this happens. We don't have anything to go off of here.

[2021-03-26 09:56] WiSaGaN commented on #5835
Ok. I did trim down to [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9eb2dc827dbdd48f139d01b72ce156b7) in playground.

I think there is a character after the unicode in the doc comment that causes this.

[2021-03-26 10:16] #6968 closed

[2021-03-26 12:10] flip1995 commented on #6817
Hmm. I would start to add `dbg!()` around the `left` and `right` expression passed to `is_named_constant` in `misc` and then see what expressions get passed to `constant`.

The `constant` function uses something from the `rustc` API directly. Maybe this has something to do with the macro context? But that would surprise me, because MIR shouldn't care about where constants come from.

[2021-03-26 14:50] wongjiahau opened #6978 "False Positive: Vec Init Then Push"
## Lint name:
[vec_init_then_push](https://rust-lang.github.io/rust-clippy/master/index.html#vec_init_then_push)

## Input
I tried this code:

[code]

## Expected output
No `vec_init_then_push` lint error.

## Actual output
[code]

## Explanation
It should be obvious that the following code snippet (original):
[code]
behaves differently than(suggested by `clippy`):
[code]
Because the suggested ver

[2021-03-26 15:04] constreference commented on #6817
This is how the debug expressions look like `   hir_id: HirId {
        owner: DefId(0:14 ~ float_cmp[317d]::main),
        local_id: 457,
    },
    kind: Unary(
        Deref,
        Expr {
            hir_id: HirId {
                owner: DefId(0:14 ~ float_cmp[317d]::main),
                local_id: 456,
            },
            kind: Path(
                Resolved(
                    Non

[2021-03-26 15:15] flip1995 commented on #6817
Ah this makes sense. Looking at the macro expansion:

[code]

Kind of weird, that rustc can't figure out that `right_val` is a constant. Something seems to go wrong in

https://github.com/rust-lang/rust-clippy/blob/63aca96e9143bb03cc6f657aade80fdedc02e015/clippy_utils/src/consts.rs#L327-L328

Can you verify that this function gets called, while evaluating the constants? And possibly what the resul

[2021-03-26 15:26] #6953 closed

[2021-03-26 15:50] constreference commented on #6817
This function indeed gets called, left and right expressions

[code]

[2021-03-26 16:12] flip1995 commented on #6817
So the `fetch_path` function does not deal with `Res::Local`. So to fix this issue, you have to figure out how to evaluate a constant from a `Local`/`HirId` (if at all possible) and add this here:
https://github.com/rust-lang/rust-clippy/blob/63aca96e9143bb03cc6f657aade80fdedc02e015/clippy_utils/src/consts.rs#L359-L360

[2021-03-26 16:38] constreference commented on #6817
Thanks, I'll look into that

[2021-03-26 20:01] jyn514 commented on #6803
@matthiaskrgr this still seems to be broken with nightly clippy:
[code]

[2021-03-27 01:01] TaKO8Ki commented on #6960
@rustbot claim

[2021-03-27 01:04] Jarcho commented on #6900
@rustbot claim

[2021-03-27 02:54] dtolnay opened #6983 "False positive wrong_self_convention inside trait impls"
Beginning with the most recent nightly (clippy 0.1.53 5e65467 2021-03-26, rustc 1.53.0-nightly 5e65467ef 2021-03-26) the following code incorrectly triggers `wrong_self_convention`. The trait method signature is controlled by the trait; it doesn't matter that the impl is for a type implementing `Copy`, that doesn't mean that the trait can or should take self by value. In particular there are likel

[2021-03-27 03:12] dtolnay opened #6984 "False positive match_wildcard_for_single_variants on enum with hidden variant"
Beginning with the most recent nightly (clippy 0.1.53 5e65467 2021-03-26, rustc 1.53.0-nightly 5e65467ef 2021-03-26) the following code incorrectly triggers `match_wildcard_for_single_variants`. I believe clippy should not be recommending that the user write doc(hidden) variants into their code.

[code]

[code]

[code]

[code]

Mentioning @Jarcho @llogiq who touched this lint recently in #6863.

[2021-03-27 03:47] dtolnay opened #6986 "Poor suggestion on missing colon from lint path flag"
[code]

It seems "obvious" that clippy should be suggesting `clippy::pedantic` here, rather than `clippy::panic`. It seems to me it would be worth adding a heuristic targeted to the accidental single colon case, especially if the remaining part of the name after the colon is a real lint or lint group name.

Sorry if this is really rustc generating the correction not clippy, in which case this may

[2021-03-27 04:08] dtolnay commented on #6983
Mentioning @matthiaskrgr too since I am surprised this was not caught by b9a7a2a2750ee112f71d95b3f588bc9d51e949a5 -- all three of the above affected crates (quote, syn, cxx) are in lintcheck_crates.

https://github.com/rust-lang/rust-clippy/blob/6f2a6fe84fc811c04b5693531042deb44b077233/lintcheck/lintcheck_crates.toml#L17

https://github.com/rust-lang/rust-clippy/blob/6f2a6fe84fc811c04b5693531042de

[2021-03-27 04:57] EFanZh opened #6987 "False positive of `clippy::same_item_push`"
Lint name: `clippy::same_item_push`

I tried this code:

[code]

I expected to see this happen: the code passes clippy check.

Instead, this happened: clippy warns `clippy::same_item_push`.

### Meta

- `cargo clippy -V`: clippy 0.1.51 (2fd73fab 2021-03-23)
- `rustc -Vv`:
[code]

[2021-03-27 05:26] mikerite commented on #6594
It's not the constant that's triggering this. It's because `<i64 as _proptest::arbitrary::Arbitrary>::Parameters` is `()` ([proptest docs](https://docs.rs/proptest/1.0.0/proptest/arbitrary/trait.Arbitrary.html#impl-Arbitrary-for-i64)). This is basically the same situation as #6447 which was fixed about a month ago. I tried with nightly and the warning is no longer present.

[2021-03-27 07:04] tschuett opened #6989 "Agressive clippy"
GitHub Actions:
[code]
Local installation:
[code]

On GitHub Actions, I get the following error:
[code]

My local installation never gives me that error?!? The remote clippy is much more aggressive in linting.

[2021-03-27 07:51] llogiq commented on #6989
I thought #4612 was fixed...this would have been an explanation, but we'd need to know more about your setup to say for sure.

[2021-03-27 08:01] tschuett commented on #6989
Indeed the following provides more warnings
[code]

[code]

[2021-03-27 10:34] tschuett commented on #6989
You can try it with:
https://github.com/tschuett/clippy
It need to do the check clean clippy sequence to get the lint.

[2021-03-27 12:22] Jarcho commented on #734
This was fixed in #6952

[2021-03-27 13:26] #6958 closed

[2021-03-27 13:26] #6972 closed

[2021-03-27 14:16] tschuett commented on #6989
IIRC, this is not a rust 1.51 problem. I had the same problem with 1.50.

[2021-03-27 15:34] tschuett commented on #6989
The fix https://github.com/rust-lang/rust-clippy/pull/6687 will be in 1.52.0.

[2021-03-27 20:08] ebobrow commented on #6934
@rustbot claim

[2021-03-27 20:46] #6989 closed

[2021-03-28 08:52] llogiq commented on #6983
Oops. I was under the impression that methods taking `&self` should be named `as_*` instead of `to_`.

[2021-03-28 14:34] #5396 closed

[2021-03-28 16:45] jasoncarr0 opened #6994 "Suggestion for clippy::try_err doesn't account for conversions"
Lint name:
clippy::try_err

I tried this code:

[code]

I expected to see this happen: no lint or clippy would suggest a valid replacement like `return Err(e.into())`

Instead, this happened: Clippy suggests `return Err(e)` which causes a mismatched types error as it doesn't have the casting that try syntax has

### Meta

- `cargo clippy -V`: `clippy 0.0.212 (1c389ff 2020-11-24)`
- `rustc -Vv`:
[c

[2021-03-28 21:06] ebobrow commented on #6934
@giraffate Can I get a little help on this one? I need to be able to check if the method `mode`, for example, is being called on an object of type `OpenOptions`. Currently, my lint would apply to any object calling any method with the name `mode`. Sorry, I wasn't sure who to tag here.

[2021-03-28 21:34] Jarcho commented on #1472
This was fixed in 7d7fef1

[2021-03-28 23:40] giraffate commented on #6934
@ebobrow Thanks for working on this!

I think these codes may help you to detect a receiver type of `OpenOptions`:
<https://github.com/rust-lang/rust-clippy/blob/0743e841f07b7c41f65187fbf71f90bb5dc71982/clippy_lints/src/open_options.rs#L32-L43>

[2021-03-28 23:44] #1472 closed

[2021-03-28 23:45] #1254 closed

[2021-03-29 00:00] giraffate commented on #6994
Can you provide a reproduction on the playground? I guess we've already use `return Err(x)` and `return Err(x.into())` properly, so it would be helpful if there is more information.

[2021-03-29 01:49] Y-Nak commented on #6978
This seems a duplicate of #6956.

[2021-03-29 01:51] wongjiahau commented on #6978
@Y-Nak Yes it is, thanks.

Closing this issue in favour of a more minimal reproducible example.

[2021-03-29 01:51] #6978 closed

[2021-03-29 02:24] ebobrow commented on #6934
Thank you so much!

[2021-03-29 03:06] Y-Nak commented on #6956
This is fixed in #6697

[2021-03-29 03:54] Y-Nak opened #6995 "New lint: prefer `addr_of` and `addr_of_mut`"
### What it does

Checks for the usage of  `&expr as *const T` or `&mut expr as *mut T`, and suggest using `ptr::addr_of` or `ptr::addr_of_mut` instead.
This would improve readability and avoid creating an unsafe reference that points to an uninitialized value or unaligned place. See also [addr_of](https://doc.rust-lang.org/beta/std/ptr/macro.addr_of.html).

### Categories (optional)
`correctness`

[2021-03-29 05:45] #6956 closed

[2021-03-29 08:38] Y-Nak opened #6997 "FN: `missing_panics_doc` doesn't check `assert_eq!`/`assert_ne!`"
Lint name: `missing_panics_doc`

`missing_panics_doc` doesn't check the usage of `assert_eq!` or `assert_ne!` even though it checks `assert!`

I tried this code:

[code]

I expected to see this happen: `missing_panics_doc` should be triggered.

Instead, this happened:  nothing.

### Meta

- `cargo clippy -V`: `clippy 0.1.52 (07e0e2e 2021-03-24)`
- `rustc -Vv`:
[code]

[2021-03-29 09:43] adder46 opened #6998 "Removing redundant clone()"
Lint name: `clippy::redundant-clone`

I tried this code:

[code]

Removing `clone()` from this causes:

[code]

### Meta

[code]

[code]

For context, see [this](https://github.com/adder46/hstr-rs/blob/master/hstr-rs/src/main.rs#L46-L50)

[2021-03-29 10:04] tschuett opened #6999 "Normalize asserts"
### What it does

Improves readability

### Categories (optional)

- Kind: *See <https://github.com/rust-lang/rust-clippy/blob/master/README.md#clippy> for list of lint kinds*

*What is the advantage of the recommended code over the original code*

For example:
- Remove bounce checking inserted by ...
- Remove the need to duplicating/storing/typo ...

### Drawbacks

None.

### Example

[code]

Cou

[2021-03-29 11:06] extrawurst commented on #6983
this is even more problematic because the trait `ToString` in `std` expects me to pass `self` as `&self` in `to_string` and now clippy starts complaining about that :)

[2021-03-29 11:30] alex-700 commented on #6999
Duplicate of  #6637

[2021-03-29 13:47] giraffate commented on #6999
Thanks for your suggestion!

But I'm closing this because it seems to be a duplicate of #6637.

[2021-03-29 13:47] #6999 closed

[2021-03-29 15:20] #6970 closed

[2021-03-29 19:17] camsteffen commented on #6903
It should suggest `for_each(&mut add_to_res)`.

[2021-03-30 06:56] XAMPPRocky opened #7005 "Lint on large `std::{include_str!, include_bytes!};` calls."
### What it does

At Embark we've been doing some optimisations on the size of the final output of our binaries, and one thing that we thought there could be lint to help with this process. The lint will warn you when you have a have included a large enough file, that might significantly contribute to the size of the final binary.

### Categories (optional)

- Kind: pedantic

*What is the advantag

[2021-03-30 19:02] Kimundi commented on #5598
Yes that is what I meant with that comment.

[2021-03-30 23:05] fxdave opened #7006 "clippy::option-if-let-else suggests a worse code."
Lint name: clippy::option-if-let-else

I tried this code:

[code]

I expected to see no errors.

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: clippy 0.1.53 (4a20eb6 2021-03-28)
- `rustc -Vv`:
[code]

[2021-03-30 23:13] magurotuna commented on #7006
So do you mean that the suggested code works fine but feels worse than your original code, right?

[2021-03-30 23:37] #6934 closed

[2021-03-31 02:48] lopopolo commented on #6970
I think I previously reported this here when this change landed on nightly: https://github.com/rust-lang/rust-clippy/issues/6739.

Sorry for not doing a more thorough investigation.

This false positive triggered in 3+ crates that I maintain.

Is doing crater-style runs for new clippy lints to test for false positives something that can be considered before new lints make it to stable?

[2021-03-31 03:18] fxdave commented on #7006
Yes

[2021-03-31 12:59] matthiaskrgr commented on #6710
At https://github.com/matthiaskrgr/clippy-lintcheck I currently run lintcheck with the default crates and the extended crates/toml every 12 hours.
Logs are pushed directly into the repo.
Still needs some observation to make sure everything actually works as intended. :)

[2021-03-31 14:09] Y-Nak commented on #6680
@magurotuna Could you update the TODO list? Refactoring `functions` has been done in https://github.com/rust-lang/rust-clippy/pull/6990.

[2021-03-31 14:54] #6724 closed

[2021-03-31 14:54] #6936 closed

[2021-03-31 15:20] #6803 closed

[2021-03-31 16:02] caemor opened #7009 "FP: or_insert -> or_insert_with"
Lint name: clippy::or-fun-call

Might be same issue as #6761

Applying the warning leads to non compiling code.

I tried this code (variant where clippy is already applied, before it was just an `.or_insert(ModelHousehold...`). Self.household is a hashmap, init_reading an f64):

[code]

Clippy returned the folowing warning for it:
[code]

Which resulted in the following error when applied:
[code]

[2021-03-31 16:19] #6543 closed

[2021-03-31 16:33] #6061 closed

[2021-03-31 19:49] digama0 opened #7012 "ICE in clippy_lints::matches::Matches"
### Code

[playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4e3e2945699bd54ee82aeaecd927fd38)
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.53 (74874a6 2021-03-30)
- `rustc -Vv`:
[code]

### Error output

[code]

[2021-03-31 23:23] magurotuna commented on #6680
@Y-Nak Great job! Updated.

[2021-03-31 23:54] digama0 commented on #7012
The error appears to be here:

https://github.com/rust-lang/rust-clippy/blob/8cf7d9b037bbdf5cd970b2f133ddd7d39acc1588/clippy_lints/src/matches.rs#L1044-L1047

The call to `qpath_res()` fails, so `def_id()` causes an ICE. The fact that the pattern match uses `Self::Variant` to refer to the variants seems to be related. This is also a recent breakage (within the last week), although I haven't bisect

[2021-04-01 00:09] digama0 commented on #7012
This is broken on `nightly-2021-03-27` = `clippy 0.1.53 (5e65467 2021-03-26)` , and works on `nightly-2021-03-26` = `clippy 0.1.52 (52e3dff 2021-03-25)`.

[2021-04-01 05:47] #6967 closed

[2021-04-01 06:05] #6983 closed

[2021-04-01 11:50] Dengjianping opened #7014 "Is there any lint to indicate more than one variable with the same name in the same scope?"
Example:
[code]
I hope there's a warning that can be showed here.

[2021-04-01 12:04] Y-Nak commented on #7014
You can use [shadow_unrelated](https://rust-lang.github.io/rust-clippy/master/#shadow_unrelated) or [shadow_reuse](https://rust-lang.github.io/rust-clippy/master/#shadow_reuse) for the purpose.

[2021-04-01 12:14] Dengjianping commented on #7014
Wow, thank you! I'm going to close it.

[2021-04-01 12:14] #7014 closed

[2021-04-01 14:11] #6994 closed

[2021-04-01 14:11] jasoncarr0 commented on #6994
I believe this was a mistake on my part, can't reproduce currently

[2021-04-01 15:09] #5973 closed

[2021-04-01 15:09] #5595 closed

[2021-04-01 15:09] #6998 closed

[2021-04-01 15:24] #6767 closed

[2021-04-01 17:08] raphaelrobert opened #7015 "Clippy panic on Box<Any>"
Ran into this clippy error on code that works fine otherwise. Happy to provide more details if needed.

[code]

[2021-04-01 23:10] rpbeltran opened #7017 "Locating standard libraries outside of sysroot"
I'm currently working on running Clippy to analyze Rust repositories that are being cross compiled.

The location of sysroot is decided based on the platform being compiled, such as `/build/amd64-generic`, while the sysroot found by running `rustc --print sysroot` is `/usr`. Because this sysroot is different from the sysroot used by the compiling platform, it may not actually contain the compiler

[2021-04-02 01:18] giraffate commented on #7015
Thanks for the report!

Can you provide a minimal reproduction? Meta data is also helpful for us, e.g. `cargo clippy -V` and `rustc -Vv` output.

[2021-04-02 09:41] raphaelrobert commented on #7015
Thanks for looking into it! I'm struggling to pinpoint what part of my code triggers this but I'll keep investigating.

In the meantime here's the requested output:

[code]

[2021-04-02 12:54] #6984 closed

[2021-04-02 14:55] duci9y opened #7019 "vec_init_then_push incorrectly fires when the `push()` is in a `loop` body"
Lint name: vec_init_then_push

I tried this code:

[code]

I expected to see this happen: The lint to not fire, since this is a valid use case for init then push.

Instead, this happened: The lint fired.

[code]

### Meta

- `cargo clippy -V`: clippy 0.1.51 (2fd73fab 2021-03-23)
- `rustc -Vv`:
[code]

[2021-04-02 15:39] #6908 closed

[2021-04-02 16:40] camsteffen commented on #7019
This should be fixed by #6697. Can you provide a minimal reproducible example?

[2021-04-02 17:05] duci9y commented on #7019
I spent about 15 minutes trying to get a repro going but couldn't trigger the false positive. I'll try again later or see what I can gather about the context.

[2021-04-02 23:50] Jarcho commented on #7015
mvce:

[code]

or

[code]

[2021-04-03 00:19] rail-rain commented on #6899
This is a duplicate of #5668, which was marked as a duplicate of #5343.

[2021-04-03 08:06] raphaelrobert commented on #7015
Nice finding! I can confirm that removing an unnecessary `#[macro_use]` fixed the problem.

[2021-04-03 17:59] jdortiz opened #7024 "suspiciously_else_formatting triggered for right code"
Lint name:
suspiciously_else_formatting

I tried this code:

[code]

I expected to see this happen: No warning emitted

Instead, this happened: This warning emitted
[code]
### Meta

- `cargo clippy -V`: clippy 0.1.51 (2fd73fab 2021-03-23)
- `rustc -Vv`:
[code]

[2021-04-03 18:01] jdortiz commented on #7024
If I remove one of the two comments the warning goes away.

[2021-04-03 19:14] SoniEx2 opened #7025 "Lint request: drop_flags"
### What it does

Detects usage of drop flags.

### Categories (optional)

- Kind: Restriction

Drop flags come with a hidden runtime cost, and can sometimes be an oversight.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

- - -

This is a restriction lint because there are some cases where drop flags seemingly make sense, such as a lazy or optional lock:

[code]

altho w

[2021-04-03 19:37] kvverti commented on #7025
Your first example does not require runtime conditional drop, since `use` takes ownership of `x`. The second is a valid demonstration of conditional drop.

[2021-04-03 22:55] Stargateur commented on #6064
I would clearly put this as warning, specially for integer.

[2021-04-03 23:39] jmerdich commented on #6722
Here's another false positive to add to the list. This one was emitted twice at the same location as well (only one shown for brevity).

[code]

While I can see this lint being useful for some cases, this conceptually seems like it could be very error-prone, and I am surprised it's enabled by default. I imagine it works well for basic data structures (eg, `impl Eq for Foo`), but any non-trivial nu

[2021-04-04 02:04] tiago-lqt opened #7028 "Warn on pointer cast with type inference"
### What it does

Lint should warn when casts using type inference are being used on pointers types.

Recently we had a bug on a FFI boundary where a `*const T` was being cast with `self.inner() as *mut _` when calling a C function with signature `sys::foo(T**)`, but `inner` function is defined as `fn inner() -> *const T`.
This lead to passing a pointer as pointer to pointer, and the application c

[2021-04-04 07:15] ABouttefeux commented on #6997
@rustbot claim

[2021-04-04 17:10] #6877 closed

[2021-04-04 20:55] leonardo-m opened #7032 "wrong_self_convention false positive?"
[code]

Gives:

[code]

But this from_usize isn't taking `self`.

[2021-04-04 20:57] leonardo-m opened #7033 "[ICE] with const_evaluatable_checked"
[code]

Gives:

[code]

[2021-04-05 00:05] #7012 closed

[2021-04-05 09:39] #7033 closed

[2021-04-05 11:41] horacimacias opened #7035 "useless_vec does not consider mutability"
I tried this code:

[code]

I expected to see this happen:
clippy to suggest I could use a *mutable reference* to a slice.
e.g:
[code]
Instead, this happened:
clippy suggested I could use a slice, not mutable, so applying the suggestion results in code not compiling.
suggestion
[code]
compiler error:
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.51 (2fd73fab 2021-03-23)
- `rustc -Vv`:
[code]

[2021-04-05 19:14] #5234 closed

[2021-04-05 19:46] #6997 closed

[2021-04-05 19:51] matthiaskrgr opened #7037 "FP branches_sharing_code: scoped mutability ?"
I have code that looks somewhat like this:
[code]

i wrote it that way to reduce the mutability to the smallest scope:
There is no need for the variable `path_debug` to be mutable for its entire lifetime if I only need mutability for its construction.

The lint triggers here:
[code]

So the lint wants me to move
[code]
out of the blocks which would expand the mutability of the var to its entire li

[2021-04-05 20:00] xFrednet commented on #7037
I considered such cases and decided that I would include them. The lint message even includes a message saying that this is not 100% equivalent:
[code]

I've seen the usage of `let td = td;` in some cases. (I usually proceed to just use the muted value though.) The lint will also add a second note if another value with the symbol `td` is in the outer scope.

We could consider adding a configuratio