[2022-03-09 00:26] MTRNord commented on #8517
Looking further into what I did, it seems that I mismatched the lifetimes a and b here: https://github.com/MTRNord/erooster/blob/e995d180eac4bfb6053eed2be9226bd7e4eb2cc8/src/commands/mod.rs#L39 after making this one `'b` instead of `'a` it stops crashing. While it in general fails to compile, which was to be expected.

[2022-03-09 01:40] giraffate commented on #8517
It might be related to https://github.com/rust-lang/rust/issues/94662.

[2022-03-09 01:43] giraffate commented on #8516
Thanks for the report!

It's a duplicate of https://github.com/rust-lang/rust/issues/91015, so I'm closing this.

[2022-03-09 01:43] #8516 closed

[2022-03-09 02:17] yaahc commented on #5757
I went ahead and tagged this and am gonna submit it to TWIR for inclusion in the next issue. It's been a while since I worked on clippy though so if these tags look wrong lmk.

[2022-03-09 09:49] audunska commented on #8494
This happens to me (albeit with custom types) on rust beta 1.60 too.

[2022-03-09 17:50] xFrednet commented on #8515
Hey, could you maybe provide the command that you use locally and in your CI? It might also be helpful to have the actual output log. Clippy has very few conditional lints based on the target architecture, but I'm guessing that you don't refer to those lints. :upside_down_face:

[2022-03-09 18:07] smoelius commented on #8510
I was considering cc-ing you, @xFrednet. Do you know what is required to fix this?

[2022-03-09 19:09] xFrednet commented on #8510
Nice, I really like the lint list, thanks for the thought. :upside_down_face:

Yes, the implementation simply has to store the selection in `localstorage` and retrieve it once the website loads. This is already done for the theme.

[Here is the complete snippet](https://github.com/rust-lang/rust-clippy/blob/0c483f69db979f9dc88f96493ea4b21d946d845d/util/gh-pages/index.html#L605-L613) The important

[2022-03-09 19:12] xFrednet commented on #8510
Side note: we might merge #8070 soon (I just asked if we want to merge it ^^). That might cause some conflict, but those should be simple to solve, or you base your branch on that PR :upside_down_face:

[2022-03-10 08:56] BartMassey commented on #8416
Also appears to be a duplicate of #8091. The reproducer there is quite elegant:

[code]

This is perhaps a type inference bug in the compiler? A function that doesn't return should theoretically be compatible with any function type with the same argument types…

[2022-03-10 10:22] J-ZhengLi commented on #8506
@xFrednet Sorry for the pin, but I'm confused about how should I implement this. Since this seems to be a design flaw of [`rustc_errors::emitter`](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_errors/emitter.rs.html#552), until someone has find better solution, should I try to hide the suggestion code while displaying it as help message using `span_lint_and_then`?

[2022-03-10 10:38] xFrednet commented on #8506
Hey @J-ZhengLi, no worries you're always welcome to ping me :upside_down_face: This is a "design flaw" at one pint it might be good to add a new display option to rustc to say that the edges of the marked span are important. For now we can check if the suggestion is larger than `MAX_SUGGESTION_HIGHLIGHT_LINES` and if so adjust the suggestion to only show the important snippets. In this case you ca

[2022-03-11 08:36] mikerite opened #8521 "New lint: calling `trim()` then `split_whitespace()`"
### What it does

Warns about calling `str::trim` (and variants) before `str::split_whitespace` (and variants). `split_whitespace` already ignores leading and trailing whitespace.

These two lines produce the same output:

[code]
which is
[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=81816ae060a7540e35cc21a043ac63ed)

### Lint Name

trim_split_whitesp

[2022-03-11 08:36] jhpratt opened #8522 "`unnecessary_lazy_evaluations` does not take cost of expression into account"
### Summary

See reproducer.

### Lint Name

unnecessary_lazy_evaluations

### Reproducer

I tried this code [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=edf0c436c9d815237a80888eefd05102):

[code]

NB: This is actual code from the time crate.

I saw this happen:

[code]

I expected to see this happen:

`unnecessary_lazy_evaluations` should not be triggered

[2022-03-11 11:34] scottmcm opened #8523 "Suggest `#[inline]`ing `Iterator::next` on concrete types"
### What it does

Inspired by <https://github.com/rust-lang/rust/pull/94776/files#diff-8af5d8e765e2bed4c60f695e2779241af1f313dfecd28f5e9059c30c93fa0311R114>

Very often, the performance of iterators depends on `Iterator::next` getting inlined.

That's usually not a problem, because iterators are often generic, and thus the monomorphization is available to be inlined.

However, non-generic iterator

[2022-03-11 14:36] ecton opened #8524 "module_name_repetitions false positive when in private module"
### Summary

When organizing large modules, I sometimes want to split a module into multiple files, but re-export all of the contents as if the module were one single module. The public interface to the module doesn't have any module name repetitions in my example below, yet the warning is still emitted because the containing module's scope isn't considered.

I believe this lint should be tightene

[2022-03-11 15:12] nellorocca commented on #5757
I'll take this one.

[2022-03-11 16:37] tamaroning commented on #8505
I'm gonna tackle with this after https://github.com/rust-lang/rust-clippy/pull/8450 is merged

[2022-03-11 20:08] Eddio0141 opened #8525 "ok_or_else suggested over ok_or with tuple struct type"
### Summary

Clippy gave me a warning on using `ok_or` contaning a tuple struct, instead wanting me to replace it with `ok_or_else` containing a closure with the tuple struct inside it.
This happens the same with an enum variant that's a tuple.

### Lint Name

or_fun_call

### Reproducer

basic code to reproduce warning:
[code]

which gives me a warning:
`warning: use of ok_or followed by a functi

[2022-03-12 03:09] remoun opened #8527 "Clippy crashes in iter_overeager_cloned::check"
I ran into an unknown issue that crashes Clippy. I can reliably reproduce this with `nightly-2022-02-22` and `nightly-2022-03-10`

Output:
[code]

FWIW that 'warning' comes from a custom build script.

[2022-03-12 03:09] remoun commented on #8527
This seems similar to #8320

[2022-03-12 10:46] matthiaskrgr commented on #8527
Looks like clippy trips over a rustc ice here
https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+%22Failed+to+normalize%22

[2022-03-12 10:52] matthiaskrgr opened #8528 "map_flatten removes comments between iterator methods with --fix :disappointed:"
### Summary

.

### Reproducer

I tried this code:

[code]
This is especially annoying when running `--fix`, clippy will just transform this
`vec.iter().flat_map(|x| x.iter());`
and eat all the comments.

### Version

[code]

### Additional Labels

_No response_

[2022-03-12 11:51] matthiaskrgr opened #8529 "lint None.into_iter()?"
### What it does

If we want to have something like an iterator that starts with certain item and then continues with another range of items, we can do something like chaining an iterator to an option:
[code]

Although it does not make a lot of sense, this works with `None` as well but the first item will not be saved in the iterator.
[code]
I wonder if it makes sense to lint something like `None.

[2022-03-12 15:23] rbtcollins commented on #7071
@camsteffen only if the content is coming from a ExactSizeIterator or similarly capable source. For instance, an iterator over stdin lines() stopping at the first blank line isn't able to estimate the size at all without buffering (presumably in another vector, giving this issue again :P).

[2022-03-12 16:31] rbtcollins opened #8530 "needless_late_init message could be easier to read"
### Description

Currently it reports the source line of the let; then the replacement code, but the actual original init is not shown.
e.g.

[code]

could be instead
warning: unneeded late initalization
  --> src\cli\job.rs:82:9
   |
82 |         let mut info: JOBOBJECT_EXTENDED_LIMIT_INFORMATION;
   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ created here
83 |         info = me

[2022-03-13 00:18] InfRandomness opened #8531 "Panic while running cargo clippy"
I am experiencing this panic while running cargo clippy on this crate : https://gitlab.com/veloren/veloren/-/tree/master/world
[code]

[2022-03-13 14:13] PatchMixolydic commented on #8525
This seems correct; the original code will allocate a `String` for `_result`'s error message even when `some_option` is `Some(_)`. The suggested code will only call the closure and allocate the `String` if `some_option` is `None` (which is especially good for the reproducer since `some_option` is never `None`).

[2022-03-13 15:04] #7040 closed

[2022-03-13 16:27] #8390 closed

[2022-03-13 17:00] Eddio0141 commented on #8525
Ah ok, thanks for letting me know. Sorry for the false issue.

[2022-03-13 20:06] #8525 closed

[2022-03-13 20:06] llogiq commented on #8531
On what operating system are you running, and what version of rustc do you use?

[2022-03-14 00:24] giraffate commented on #8531
It might be a duplicate of https://github.com/rust-lang/rust/issues/93946.

[2022-03-14 00:32] giraffate commented on #8527
It might be a duplicate of https://github.com/rust-lang/rust/issues/93946.

[2022-03-14 04:20] BartMassey commented on #7923
Just ran into this.

[code]

As noted, following Clippy's suggestion fails compilation. `g` needs to be accessible inside `m` and there's no other way (that I am aware of) to make that possible— except `#[macro_export]`, which will make it visible outside the containing crate.

It appears that `single_component_path_imports` is global-only and cannot be suppressed on a case-by-case basis. Compare

[2022-03-14 07:42] InfRandomness commented on #8531
I am using nightly-2022-03-11, so rustc 1.59.0 on openSUSE Tumbleweed

[2022-03-14 15:01] tsdh opened #8535 "`unnecessary_unwrap`: false positive with disjunctive `if`-condition"
### Summary

I think I get a false positive when having an `if-else` where the condition is a disjunction where the tested `Option` may be `None` or have some specific value.

### Lint Name

unnecessary_unwrap

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

There should be no warning as there is no good way to rewrite this code using `if let

[2022-03-14 15:30] DevinR528 commented on #8094
Lint author here (although I'm not in the file history)

So this case is just not covered by the lint, and I'm not sure it could be the current way it's checked. If the `deny` was put at the top level it would trigger for the `outer` mod because it has a matching folder but because the lint only checks for "self named mod" files when it finds a correspondingly named folder.

The `inner` name is ne

[2022-03-14 16:06] DevinR528 commented on #8123
It's like it should be
[code]

[2022-03-14 17:37] Jarcho commented on #8535
You could do:
[code]

[2022-03-14 18:28] nerosnm commented on #8094
I'm not sure I understand - but it might just be that I haven't looked carefully enough at the implementation of the lint. You say "if the `deny` was put at the top level it would trigger", but the lint *is* at the top level in my minimal repro - it's enabled using an outer attribute.

To me, it seems like this case is the simple general case for this lint rather than some kind of weird edge case.

[2022-03-14 19:08] DevinR528 commented on #8094
Sorry, I'm not sure how I missed `// src/lib.rs` at the top of the first example my bad :facepalm: . Also the reason for your confusion may be that I'm wrong about the lint triggering for `inner.rs` it should trigger for `outer/` since what the lint checks is that `outer/` has no file `src/outer/mod.rs` then the `clippy::self_named_module_files` lint triggers.

[2022-03-14 20:49] xFrednet commented on #8294
I'm thinking of adding support for these suggestions in rustc itself. I'll claim this issue for now :upside_down_face:

@rustbot claim

[2022-03-14 21:32] xFrednet commented on #7923
@rustbot claim

[2022-03-14 22:28] #8062 closed

[2022-03-14 23:56] #7923 closed

[2022-03-15 01:23] #8507 closed

[2022-03-15 03:38] dtolnay opened #8538 "iter_with_drain false positive when no ownership of the vector"
### Summary

The `iter_with_drain` lint says to replace `vec.drain(..)` with `vec.into_iter()`. It sounds like what this has in mind is the `impl<T> IntoIterator for Vec<T>`, but only the owner of the vec could call that, which does not work in general for all uses of `drain(..)`.

Replacing `vec.drain(..)` with `vec.into_iter()` when vec is a mutable reference ends up calling `impl<T> IntoIterato

[2022-03-15 03:51] dtolnay opened #8539 "iter_with_drain false positive when vec capacity should be retained"
### Summary

The `iter_with_drain` lint is a `performance` lint that says to replace `vec.drain(..)` with `vec.into_iter()`. This is unfortunate because `into_iter` destroys the capacity of a vector that you might have been planning to reuse, which is the opposite of performance.

### Lint Name

iter_with_drain

### Reproducer

[code]

[code]

Following clippy's suggestion makes the code fail to b

[2022-03-15 03:53] dtolnay commented on #8538
Mentioning @ldm0 @flip1995 @giraffate since the lint is from https://github.com/rust-lang/rust-clippy/pull/8483.

[2022-03-15 03:53] dtolnay commented on #8539
Mentioning @ldm0 @flip1995 @giraffate since the lint is from https://github.com/rust-lang/rust-clippy/pull/8483.

[2022-03-15 04:09] ldm0 commented on #8539
@dtolnay Could you try `std::mem::take(&mut pending).into_iter()`?

[2022-03-15 04:20] ldm0 commented on #8539
`.into_iter()` usually gets better optimization: https://rust.godbolt.org/z/saGc3Tjqr

[2022-03-15 04:36] ldm0 commented on #8539
https://github.com/rust-lang/rust-clippy/issues/8538 This one can also be replaced with `mem::take + into_iter`. 🤔 I didn't suggest it automatically due to the hardness of ownership checking and otherwise usage checking. So false positive is expected.

[2022-03-15 05:17] pacak opened #8540 "wildcard_enum_match_arm is not very helpful in combination with non_exhaustive"
### Summary

Currently `wildcard_enum_match_arm` will suggest to fill in all the existing variants in addition to the wildcard one. Motivation for the lint is "New enum variants added by library updates can be missed", but sad reality of `non_exhaustive` means new enum variants will be always missed regardless of the code I'm writing

### Lint Name

 wildcard_enum_match_arm

### Reproducer

I trie

[2022-03-15 05:53] hrxi commented on #8539
That also destroys the capacity because it replaces the old vector with an empty one that doesn't have any capacity.

[2022-03-15 06:14] tsdh commented on #8535
True, although I'm not convinced that this is a big improvement...

[2022-03-15 08:38] flip1995 commented on #8539
I also had concerns about this lint triggering on owned vs referenced vecs, but couldn't come up with a concrete example at the time (I probably should have thought about this harder).

Together with #8538, I think this lint is not ready to be warn-by-default. But I also think this lint still needs some work, so I'll put it in nursery. (next sync is in a little over a week from now, so I won't do

[2022-03-15 09:35] vakaras opened #8542 "needless_match in nightly (2022-03-14) ignores enum arguments"
### Summary

When a matched enum has multiple arguments and one of them is replaced, the `needless_match` lint still reports an error even though the match is not needless.

### Lint Name

needless_match

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen: no warning should be emitted because the new value is constructed with a new `b`.

### Versi

[2022-03-15 23:03] i509VCB opened #8545 "Detect `pub use` statements"
### What it does

Detects usage of `pub use`. This statement effectively exports a type or module as if it is a member of the current module.

### Lint Name

detect_pub_use

### Category

pedantic

### Advantage

- sometimes when reexporting multiple types, it isn't clear you have exported all the types, resulting in some types which should be public but may not be explicitly named in code.
- a pu

[2022-03-15 23:43] oskgo commented on #8540
For non-exhaustive enums there are two cases, you get a variant you know the existence of, or you get a variant you don't know the existence of. The ones you don't know of have to be handled with the wildcard pattern.

The lint is telling you that you know about more enum variants than you are currently explicitly handling.

Sometimes you'll want to handle new variants explicitly as soon as they a

[2022-03-15 23:57] pacak commented on #8540
Right, I generally want to handle unknown variants, but for handling them I would prefer to have something like `#[ignore_non_exhaustive]` on match and turning it into a compile error any time something changes. Relying on a lint seems odd.

[2022-03-16 00:09] oskgo commented on #8540
You can try to get it added to the language. I think there has been some ideas along those lines in the past, though there were some objections (adding such an attribute would break semver and turn non-breaking changes into breaking ones).

Regardless, I think the lint should be kept until such a feature is in place, unless there's too many false-positives or something else is wrong about the lint

[2022-03-16 00:15] pacak commented on #8540
Fair enough, I'll see what I can do.

[2022-03-16 00:15] #8540 closed

[2022-03-16 01:22] J-ZhengLi commented on #8542
@rustbot claim

[2022-03-16 01:37] i509VCB commented on #8545
I guess I'll include an example of the issue I am trying to have warnings for:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f2cccd05143720f55ffa44c8c63ee5da

[2022-03-16 02:49] teor2345 commented on #8542
The lint also triggers on nightly-2022-03-14 for code like this ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cbbd0259c8b3396ea27c56c119fc64c9)):

[code]

`std::Result` [does it slightly differently](https://doc.rust-lang.org/src/core/result.rs.html#643-648), and doesn't trigger the lint:
[code]

(I've desugared `&self`, to make it clear what the type chang

[2022-03-16 03:10] Jarcho commented on #8499
This is definitely not detectable in general. The check could very easily be in a different function.

It would be possible to detect a conversion from a generic type to a concrete type and either add a note to the lint output about checking the type id, or not lint under the assumption that there is a check.

[2022-03-16 03:20] neverRare opened #8548 "Redundant closue lint can lose type annotation"
### Summary

Redundant closure lint can lose type annotation. This can lead to `type annotation needed` error.

### Lint Name

redundant_closure

### Reproducer

In this rather contrived code

[code]

Clippy reports the following

[code]

But if I do replace it, I get the following error

[code]

### Version

_No response_

### Additional Labels

_No response_

[2022-03-16 03:39] Jarcho commented on #7402
This no longer occurs. Would have to run backwards through releases to find which version fixed it.

[2022-03-16 05:12] dtolnay commented on #8499
In my opinion we should aim to not lint if the two types could statically be a compatible pair of types.

The bar for a `correctness` lint that tells you "your types both have undefined layout, so what you are doing is UB" is *very* high. If there is some other high-false-positive checking that people want beyond this, that needs to not be a `correctness` lint. It could be a `restriction` lint ins

[2022-03-16 06:53] J-ZhengLi commented on #8528
Well, since I'm currently on this lint, I'll try fixing it... @rustbot claim

[2022-03-16 07:49] dswij commented on #8548
@rustbot claim

[2022-03-16 07:56] J-ZhengLi commented on #8528
Hi~ Sorry I keep mentioning this issue and deleting it cuz I'm very sleepy and couldn't make up my mind🤦, you might wondering why there were many notifications or something...

Anyway, I just wanna mention that after PR #8520 , the comment above `.map()` should not be removed, but the one between it and `.flatten()` will still be removed. I can try find a way to keep it, but will that still make s

[2022-03-16 09:49] kamulos opened #8550 "Warn if function name `default()` is used without implementing the `Default` trait"
### Description

Just stumbled on this in a code review. Would it make sense to check the naming of a member function? If a `default()` function is used (especially as a constructor) I would expect, that the `Default` trait is implemented.

Not sure if this would be it's own lint or integrated in an existing one

### Version

_No response_

### Additional Labels

_No response_

[2022-03-16 09:55] #8498 closed

[2022-03-16 09:55] #8501 closed

[2022-03-16 09:55] #8503 closed

[2022-03-16 14:36] ijackson opened #8551 "needless_match bad suggestion with unsize coercion"
### Summary

`needless_match` can suggest replacing a match statement with an arm implying a coercion, with a simple expression which no longer does the coercion.

### Lint Name

needless_match

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Either no complaint, or, better, suggesting something like
[code]

### Version

[code]

### Additiona

[2022-03-16 16:08] Jarcho commented on #8482
Just checked on the playground and as far as I can tell this no longer occurs.

[2022-03-16 16:13] smoelius commented on #8550
Personally, I would generalize this to: any inherent method decalartion whose name matches a `std` trait method name.

There may be reasons why this is *too* general, but I can't think of any offhand.

[2022-03-16 19:38] MingweiSamuel commented on #8538
This also applies even if you have ownership of the `Vec`, but still need to keep it after draining. For example
[code]

[2022-03-16 19:48] Bromeon commented on #8538
Can confirm, we experienced in godot-rust [with a `&mut Vec` parameter](https://github.com/godot-rust/godot-rust/blob/f60f7fbc49d94c2664d7598e11241e492fecc11b/gdnative-core/src/core_types/pool_array.rs#L136-L149) (the error appeared in a [CI run](https://github.com/godot-rust/godot-rust/runs/5559983020?check_suite_focus=true) of clippy nightly).

[2022-03-16 19:55] dtolnay commented on #8499
Does this need to be reopened? #8553 says *"**Partially** fixes #8499"*

[2022-03-16 20:08] bugadani opened #8554 "`unused_io_amount` fails to fire on offending code"
### Summary

Code on playground:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3deb8813d6956a51bdffe787d721c7b8

Code was found in a bigger codebase where the same lint previously fired on some other patterns. The example is obviously incorrect as it does not care about how many bytes were written in any of the `write` calls. Considering how close this code is to the doc

[2022-03-16 23:58] #7402 closed

[2022-03-17 00:08] giraffate commented on #8294
This would be improved once https://github.com/rust-lang/rust-clippy/pull/8543 is merged.

[2022-03-17 00:53] Jarcho commented on #8499
Type parameters are handled, but associated types are not. So `Vec<T::Type>` will still be a problem.

[2022-03-17 05:25] Jarcho commented on #8496
With the recent changes both `nalgebra` and `state` are still false positives.
* `nalgebra` still needs to be fixed not to lint.
* `state` I don't think should be fixed given that the fields are named. Were the struct to be declared as `#[repr(C)] struct AnyObject([usize;2])` then it would not lint.

[2022-03-17 10:22] lovasoa opened #8555 "RwLock: creating a write lock instead of a read lock"
### What it does

Warns the user when they create a write lock on an `RwLock`, but only use it to read data.

Sometimes, after a code change, some particular location in a codebase that used to mutate data starts using it as read-only. If the programmer forgets to change the lock type, everything will still compile without warnings, but the code will run slower than it could, and potentially creat

[2022-03-17 13:28] Kelpsy opened #8556 "Only using a parameter in a macro call followed by an assignment causes the only_used_in_recursion lint to trigger"
### Summary

The `only_used_in_recursion` lint seems to cause false positives when the parameter is used as the index into an array stored inside a struct, passing both into a macro, and the result of the macro is assigned to. Using just an array instead of a struct or tuple as the parameter, or not having an assignment in that position, makes the issue go away, and so does writing the same code w

[2022-03-17 14:09] FoseFx opened #8557 "Favor `unwrap_or` over `.or(Some(value)).unwrap()`"
### What it does

Both [Option][option_unwrap_or] and [Result][result_unwrap_or] have a `unwrap_or()` function which is equivalent to chaining the corresponding `or()` and `unwrap()` functions.

As you can see in the examples below using `unwrap_or()` is less verbose, as it does not require wrapping the value to then unwrap it immediately after.

[option_unwrap_or]: https://doc.rust-lang.org/stabl

[2022-03-17 14:21] pickfire opened #8558 "memory allocation of 18446744073709551615 bytes failed"
### Summary

Failed when I run `cargo clippy`

### Reproducer

1. Checkout code from https://github.com/pickfire/fs-ledger
2. `cargo clippy`

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-03-17 16:36] InfRandomness commented on #8531
https://github.com/rust-lang/rust/issues/95021
Appears to say that the issue has been resolved, is the release of clippy in 2022-03-17 using the 2022-03-17 rustc?

[2022-03-17 17:34] #8495 closed

[2022-03-17 17:51] bhgomes opened #8560 "Implementation of trait method using method with same name in foreign module triggers `only_used_in_recursion` false positive"
### Summary

Clippy seems to get confused about recursion when checking against methods with the same name but which are resolved differently. If we define a trait and a struct with methods named identically and implement the trait on that struct clippy will sometimes believe that the implementation will perform recursion. In the case when the struct is defined in a different module than the trait

[2022-03-18 01:00] #8393 closed

[2022-03-18 08:03] J-ZhengLi commented on #8336
Here's a much simpler example in [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=304896d4824a8bb395a50170eb71c5aa)

I think the problem here is that you don't need to add a semicolon after `if..else`, and `[needless_return]` does not take it into account.

[2022-03-18 16:13] #1116 closed

[2022-03-18 16:59] cheesycod opened #8565 "internal compiler error"
### Summary

https://pastebin.com/uJFaC3Fg

### Reproducer

I tried this code:

[code]

I expected to see this happen:

clippy successfully runs

Instead, this happened:

https://pastebin.com/uJFaC3Fg

### Version

[code]

### Additional Labels

@rustlabel +ice

[2022-03-18 17:19] 1Dragoon commented on #8184
I'm kind of getting more experienced in Rust and might try my hand at fixing this on my own (I wouldn't really count on it as I'm still very amateurish, so if anybody else has any inclination towards this please go ahead.)

Before that though, is there any way to enumerate all of the possible ways that bare rust (i.e. no_std) and std will panic? Basically every method call, every semantic, etc. It

[2022-03-18 18:58] rdornin commented on #8470
I just want to report that issue is currently blocking me in development. If there are any work around for the macos darwin tool chain and clippy errors... would love to hear about it.

[2022-03-18 20:43] notpeelz opened #8566 "useless_asref false positive on `&mut &[T]`"
### Summary

Clippy complains about calling `as_ref()` on a mut slice when it shouldn't.

### Lint Name

useless_asref

### Reproducer

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-03-18 22:29] repi opened #8567 "Detect redundant always successful `assert_eq!`"
### What it does

Detect if `assert_eq!` always returns succeeds because the same expression is on the left and right side, such as with `assert_eq!(a,a)`.

These type of cases can happen when refactoring and search'n'replacing code, for example we've recently saw a case of this recently:

[code]

It would however be important that it only lints on the expressions being exactly identical, so if us

[2022-03-19 08:51] matthiaskrgr commented on #8565
This is a known rustc bug, should be fixed in the latest nightly: https://github.com/rust-lang/rust/issues/94998
Closing

[2022-03-19 08:51] #8565 closed

[2022-03-19 08:58] matthiaskrgr commented on #8567
Mh, sounds kinda hard, because when there is any kind of mutability or randomness involved, we can still end up with identical expressions that evaluate to completely different things :/

[code]

[2022-03-19 11:00] repi commented on #8567
For sure if the expression use global mutable state it doesn't work, I was thinking of it primarily for `const` functions (though I should have added that in the lint description).

[`std::mem::size_of`](https://doc.rust-lang.org/stable/std/mem/fn.size_of.html) for example is a `const fn`. And that could be easier to detect and cover?

[2022-03-19 18:24] PolarPayne opened #8568 "Module named test without cfgtest"
### What it does

Whenever you have a `mod test` block without a `#[cfg(test)]` it is probably an error.

I had code which had a package as a dev dependency and only being used in the tests. Running the tests worked but not building or running the binary. The error given was very confusing.

[code]

### Lint Name

`mod test` without `#[cfg(test)]`

### Category

suspicious, cargo

### Advantage

-

[2022-03-19 18:47] dbanty commented on #8470
For right now my workaround has been to use `rustup default 1.58` on macOS. This pins you to the latest before 1.59, so you don't get the features of 1.59 but at least you can keep working for now! And I'm subscribed to this issue so I'll know when it's safe to unpin 😄

[2022-03-20 06:30] syphar commented on #8470
short update for the ones that only watch this issue:

( from https://github.com/rust-lang/rust/issues/92173 , [this comment](https://github.com/rust-lang/rust/issues/92173#issuecomment-1072732120), by @7596ff )

The update worked for me too.

[2022-03-20 15:02] xFrednet commented on #8184
The [`panic_in_result_fn`](https://rust-lang.github.io/rust-clippy/master/index.html#panic_in_result_fn) lint might be a good starting point for this implementation. Maybe it should be discussed what counts as a panic in this case. The mentioned lint also takes `unimplemented!`, `todo!` and `unreachable!` into account, which is reasonable for that lint but might be annoying and counterproductive f

[2022-03-20 23:41] 1Dragoon opened #8569 "Clippy wants to break my code in option_map_unit_fn"
### Summary

Clippy is showing a lint on this line in my code:

https://github.com/1Dragoon/fcp/blob/5a3bcb72e6df0e6d4b6d5dd0c70cecc24b0533f3/src/main.rs#L117

Basically it wants to transform this:

[code]

(Where err is Option<Error>)

Into this:

[code]

I get why it doesn't like what I put there, but its suggested fix is quite a ways off the mark :)

I think it was going for this:

[code]

Thou

[2022-03-21 09:21] yoav-lavi opened #8570 "`needless_join` for `Iter<String>`"
### What it does

When transforming an `Iter<String>` to `String`, you can either use:

`.collect::<Vec<String>>().join("")`:
[code]

or

`.collect::<String>()`:
[code]

The latter being terser and more performant:

[code]

[code]

I suggest adding a new lint called `needless_join` that detects the case of `.collect<Vec<String>>.join("")` on a `String` iterator.

Thank you for your consideration!

[2022-03-21 09:47] yoav-lavi commented on #8570
It may be possible to generalize this to any `Iter<T>` that `String` implements `FromIterator<T>` for

[2022-03-21 20:08] #8506 closed

[2022-03-21 20:25] #8557 closed

[2022-03-21 20:58] #860 closed

[2022-03-21 20:58] #1140 closed

[2022-03-21 23:33] eventhorizonpl opened #8572 "[RFC] Suggest to remove async if not needed"
### What it does

Hi,

I created a "benchmark" to check if there is a difference between calling async/sync functions https://github.com/eventhorizonpl/async_fn_bench

I think that there is no point in having an async function that don't have any await calls.

What do you think?

Best regards,
Michal

### Lint Name

needless_async

### Category

perf

### Advantage

- Possible performance improvem

[2022-03-22 10:09] fujiapple852 commented on #6762
Somewhat related, I just saw a (now deleted) question on SO where the submitter had a bug which `for_loops_over_fallibles` would have detected, had they run Clippy that is.

However the ["Why is this bad?"](https://rust-lang.github.io/rust-clippy/master/index.html#for_loops_over_fallibles) description for this lint suggests, with a casual reading, that this is _just_ a readability issue and doesn'

[2022-03-22 15:58] dhardy commented on #7666
I also think that `needless_doctest_main` should not be active by default: it affects output (documentation), which may have its own reasons for including or not including `fn main`, so it's not just a "code quality" lint.

[2022-03-22 17:27] hrxi opened #8574 "`or_fun_call` isn't always a performance lint"
Replacing `.unwrap_or(Vec::new())` with `.unwrap_or_default()` doesn't do anything for performance, they produce identical machine code with optimizations: https://rust.godbolt.org/z/hzTdazGqW.

Perhaps the lint category could be changed or it could be changed to not detect cases where it's not actually a performance warning?

[2022-03-22 18:44] extrawurst commented on #8470
Thank you @syphar !!! That fixed it for me too🥳

[2022-03-23 00:21] smoelius commented on #8550
Today, I noticed this: https://github.com/rust-lang/rust-clippy/blob/f07ee8a998eff61977d594eeac44dc1d0ead7b02/clippy_lints/src/methods/mod.rs#L2642
Apparently, `should_implement_trait` has been around for a while. This seems to be the PR that introduced it: https://github.com/rust-lang/rust-clippy/pull/228

[2022-03-23 00:35] giraffate commented on #8569
I tried [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f6bc7800f57cf470fe772e969565e7e2) on the playground, but I can't reproduce it. Can you provide the reproduction on the playground? (I don't have windows, so can't build this repo.)

[2022-03-23 00:43] giraffate commented on #8558
Thanks for the report!

As said in https://github.com/rust-lang/rust-clippy/issues/8558#issuecomment-1070980680, it seems to have been resolved, so I close this.

[2022-03-23 00:43] #8558 closed

[2022-03-23 08:24] loyd commented on #4629
https://github.com/rust-lang/rust-clippy/issues/7176

[2022-03-24 00:08] giraffate commented on #4629
I'm closing this because the [`unused_async`](https://rust-lang.github.io/rust-clippy/master/index.html#unused_async) has been implemented.

[2022-03-24 00:08] #4629 closed

[2022-03-24 00:13] giraffate commented on #8566
It's related to https://github.com/rust-lang/rust-clippy/issues/5862.

[2022-03-24 00:23] giraffate commented on #8531
FYI Clippy has been synced into rust-lang/rust every about two weeks like this: https://github.com/rust-lang/rust/pull/94929

[2022-03-24 00:30] eventhorizonpl commented on #8572
I've found cargo clippy -- -D clippy::unused_async

[2022-03-24 00:30] #8572 closed

[2022-03-24 07:37] InfRandomness commented on #8531
So next one is in about next week ?

[2022-03-24 10:21] xxchan opened #8577 "disallowed-methods not working"
### Summary

[code]
[code]

no warning
[code]

### Lint Name

disallowed-methods

### Reproducer

_No response_

### Version

[code]

[2022-03-24 13:11] #8570 closed

[2022-03-24 16:10] flip1995 commented on #6628
From #8579 and the experience of a first-time contributor:

[2022-03-24 19:46] Jarcho commented on #8577
The proper path for `Box` is `alloc::boxed::Box`. `std` just re-exports it. It would be nice if it worked, but I don't think we have easy access to re-exported names from clippy.

[2022-03-24 19:59] xxchan commented on #8577
I tried v1.49.0, which is the first version supporting disallowed_methods. But it also didn't work.🤨

[2022-03-24 20:23] Jarcho commented on #8577
Just tested on `1.59.0`. It works with both `std::boxed::Box::new` and `alloc::boxed::Box::new`. I had to explicitly enable the lint though.

[2022-03-24 22:16] xxchan commented on #8577
Oh indeed. I misunderstood the clippy config file... Thank you for your hint.

Now it works fine for `Box::new`.

But the method I actually wanted to disallow is `fixedbitset::FixedBitSet::from_iter`. It seems that the trait method cannot be disallowed?

[2022-03-24 22:28] Jarcho commented on #8577
The lint is /supposed/ to be enabled by default. I don't know what's happening there.

For trait methods it might only work if you name the method on the trait itself, rather than on the type that implements it. Less than useful in this case, unfortunately.

[2022-03-24 22:50] xxchan commented on #8577
I found actually it works on v1.61.0-nightly. It may because https://github.com/rust-lang/rust-clippy/pull/8261 is quite recent.

Anyway thanks for your help @Jarcho!

[2022-03-24 22:50] #8577 closed

[2022-03-24 23:53] Jarcho opened #8581 "`disallowed_methods` on trait impls"
### Description

It should be possible to to specify a specific impl of a trait method (e.g. `<alloc::vec::Vec as core::iter::IntoIterator>::into_iter`) to be disallowed, rather than having to disallow the trait method for all impls. Two things will need to be done to fix this:

* `clippy.toml` syntax will need to be extended. See `clippy_utils::def_path_res`.
* The `DefId` for the trait method wi

[2022-03-25 00:00] Jarcho commented on #8577
Just opened #8581 about disallowing methods on trait impls.

[2022-03-25 00:13] giraffate commented on #8531
That's just what's being done: https://github.com/rust-lang/rust/pull/95273

[2022-03-25 03:32] pitaj commented on #8510
I can't reproduce this in Firefox. Either it's already been fixed or isn't an issue on some browsers.

[2022-03-25 08:43] xFrednet commented on #8510
I can reproduce it on my Firefox (99.0b7 (64-bit)). I simply open the [lint list](https://rust-lang.github.io/rust-clippy/master/index.html) change the group selection (Just select or deselect something).

![image](https://user-images.githubusercontent.com/17087237/160086069-bd72c8fd-0d7a-4363-a0f4-f01ee86b83df.png)

When I reload the page the selection is reset to the default.

![image](https://u

[2022-03-25 09:21] smoelius commented on #8510
I too still see the problem with Chrome Version 99.0.4844.82 (Official Build) snap (64-bit).

But thank you for checking @pitaj. :pray:

[2022-03-25 14:09] pitaj commented on #8510
@xFrednet Reloading the page will reset it, but viewing the source then hitting back seems to be cached by Firefox.

[2022-03-25 14:18] xFrednet commented on #8510
Interesting :), if you want you can claim the issue. Note that this only involve JavaScript changes and nothing written in Rust :upside_down_face:

[2022-03-25 18:03] zvavybir opened #8583 "Warn against exact floating-point comparsions."
### What it does

Warns against usage of exact comparison operators (`==` and `!=`, not things like `>` or `<=`) since floating point numbers rarely are exactly equal.

Where I got the idea from: [https://gforth.org/manual/Floating-Point-Tutorial.html](https://gforth.org/manual/Floating-Point-Tutorial.html)
Prior art: [https://users.rust-lang.org/t/comparing-floats-for-equality/54523](https://user

[2022-03-25 18:39] InfRandomness commented on #8531
The issue seems to have disappeared on nightly-2022-03-24

[2022-03-25 19:30] xFrednet commented on #8583
Hey @zvavybir, thank you for the issue. This sounds like [`clippy::float_cmp`](https://rust-lang.github.io/rust-clippy/master/index.html#float_cmp) and [`clippy::float_cmp_const`](https://rust-lang.github.io/rust-clippy/master/index.html#float_cmp_const) respectively. Is this what you were looking for? :upside_down_face:

[2022-03-25 19:40] Alexendoo commented on #8569
I can reproduce this locally, odd it doesn't happen on the playground

@rustbot claim

[2022-03-25 20:06] zvavybir commented on #8583
Yes, it is :) ! I forgot to check with pedantic enabled :(

[2022-03-25 20:06] #8583 closed

[2022-03-25 20:48] Alexendoo commented on #8569
I couldn't reproduce it from the playground on a local linux device but could on a windows one. After a bit of confusion I realised the linux one didn't have `rust_src` installed 😄

[2022-03-25 22:19] pitaj opened #8585 "Prefer `.iter()` to implicit `IntoIterator` impl of `&(mut) {Collection}`"
### What it does

This lint would forbid cases where the `IntoIterator` impl for a reference to a collection is used, and recommend using the `.iter()` or `.iter_mut()` associated function instead.

### Lint Name

prefer_explicit_ref_iter

### Category

pedantic

### Advantage

- More explicit
- Easier to reason about
- More refactor friendly `.iter()` -> `.iter_mut()` or `.iter().enumerate()`, et

[2022-03-25 23:20] morrisonlevi opened #8587 "box_collection lint shouldn't trigger when used in `extern "C"` functions"
### Summary

Clippy warns about `Box<Vec<T>>` as being a useless heap allocation, but when they are used in `extern "C"` functions the Box is necessary as Vec's layout isn't `repr(C)`.

### Lint Name

box_collection

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No lint.

### Version

[code]

### Additional Labels

_No response_

[2022-03-26 05:02] pitaj commented on #8348
@rustbot claim

[2022-03-26 08:35] matthiaskrgr opened #8589 "warn about shadowed format args?"
### What it does

Warn about format args that declared for the same format string.

[code]

one might think that this could print `4 4` but it will actually print `4 2` because the `y=x` binding binds the `let x` variable and not the `x =x*x` that we declared in the format string previously

### Lint Name

shadow_format maybe?

### Category

style

### Advantage

_No response_

### Drawbacks

_No

[2022-03-26 15:57] ecton opened #8590 "type_repetition_in_bounds false positive with associated types"
### Summary

When using a trait with an associated type alongside a generic with the same name, attempting to assign bounds to both causes a false positive of the `type_repition_in_bounds`.

### Lint Name

type_repetition_in_bounds

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No clippy warnings.

### Version

[code]

### Additional Labels

[2022-03-26 18:12] JosephTLyons opened #8591 "Suggest removing `{}` on structs with empty "bodies""
### What it does

Checks for struct declarations with empty bodies and suggests removing the `{}`
Checks for instantiation of structs that have empty bodies and suggests removing the `{}`

### Lint Name

_No response_

### Category

style

### Advantage

Makes the code look a little tidier.

### Drawbacks

Not sure...

### Example 1

[code]

Could be written as:

[code]

### Example 2

[code]

Cou

[2022-03-26 18:45] c410-f3r commented on #8348
Thanks @pitaj

[2022-03-27 11:18] FoseFx commented on #8591
Great Idea imo!

But the snippets in the second example are not equivalent as `dog` in the first snippet is a `Dog` instance, but it's an alias for the `Dog` Struct in the second snippet.

Example:
[code]

[2022-03-27 11:46] FoseFx commented on #8591
@rustbot claim

[2022-03-27 12:19] Jarcho commented on #8591
Just a note you should handle both `#[non_exhaustive]` structs and `#[cfg(...)]` fields. Empty tuple structs could also be given the same treatment.

[2022-03-27 12:37] FoseFx commented on #8591
I'm not sure if I understand you correctly. Do you think `#[non_exhaustive]` marked structs should not be linted? What did you have in mind regading `#[cfg(...)]`?

[2022-03-27 16:37] Jarcho commented on #8591
Ignore the part about `#[non_exhaustive]`. Just checked and it does work fully with unit structs.

For `cfg`, something like `struct Foo { #[cfg(feature = "foo")] x: u32 }` will appear as a struct with no fields to clippy unless `foo` is enabled. Dealing with this requires re-lexing the text where the `cfg` attribute may appear. It requires getting the span for all the text between the braces and

[2022-03-27 16:41] netthier opened #8595 "needless_match falsely suggesting replacement of if let with side effects"
### Summary

[code]
Clippy is suggesting to replace this complete part of code with just
[code]

As the `else` arm has side effects, namely re-filling the Vec should it be empty, the suggestion is simply incorrect in this case.
This is especially an issue as this lint is marked as MachineApplicable.

### Lint Name

needless_match

### Reproducer

I tried this code:

[code]

I saw this happen:

[co

[2022-03-27 16:42] JosephTLyons commented on #8591
Ah ok.  I guess I should've investigated more what was happening in the second example before jumping to conclusions.  Thanks for the clarification.

[2022-03-27 18:15] ebobrow commented on #8522
Some checking is already done in [eager_or_lazy](https://github.com/rust-lang/rust-clippy/blob/master/clippy_utils/src/eager_or_lazy.rs), but match expressions are not considered an expression type that requires lazy evaluation. Should that be changed?

[2022-03-27 18:31] jhpratt commented on #8522
Given that `match` expressions aren't lazy by themselves, I would think so. I'm on mobile now but can create a demo showing where the behavior is different later.

[2022-03-27 19:17] InfRandomness commented on #1435
@rustbot claim

[2022-03-27 23:18] jhpratt commented on #8522
I just tried to create a demo with side effects, but the trivial example of printing a value doesn't trigger the lint. Regardless, the closure can have an arbitrary cost — this should be quite apparent. As such I think `match` should be included.

[2022-03-28 00:25] #8508 closed

[2022-03-28 00:41] #8478 closed

[2022-03-28 02:37] Jaic1 commented on #1966
Is this lint ([transmute_ptr_to_ref](https://rust-lang.github.io/rust-clippy/master/index.html#transmute_ptr_to_ref)) the existing lint you mentioned? Also it seems like currently clippy will not lint for the example.

[2022-03-28 17:48] ebobrow commented on #8522
Looks like the behavior changed in PR #7639 and there's another issue linked. I don't think I'm qualified to make a decision, but given that multiple people have had issues maybe something should be changed.

[2022-03-28 18:12] ijackson opened #8598 "let_and_return FP on ugly async Send workaround"
### Summary

`let_and_return` trips up on an awful construction I invented to avoid a future-not-`Send` problem.

The workaround code I have here is terrible, but I'm not aware of a better way to write it.  (NB that in this example I use `mpc::channel::Receiver` as a thing that is `Send` but not `Sync`; the example program doesn't make much sense semantically.)

I bet the underlying cause is the s

[2022-03-28 22:02] rdrpenguin04 opened #8599 "`needless_match` mistakenly evaluates `match` as no-op"
### Summary

In a standard library implementation I'm helping with, we have a replacement for `Result::as_mut`. We implemented it using `match` ergonomics, and it looks like a no-op because of that. Apparently, Clippy agrees.

### Lint Name

needless_match

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Either a valid suggestion or a lack of

[2022-03-28 22:09] goffrie commented on #8527
[Here is a reproducer](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=70a55ca16850e11c0a6950567e0ad293):

[code]

The issue is that `iter_overeager_cloned` assumes that any expression it's called on implements `Iterator` (it uses `get_iterator_item_ty` which makes that assumption, per its doc comment, although the comments at the callsite suggest otherwise). However, it's

[2022-03-28 23:10] frewsxcv opened #8600 "Prefer `Seek#rewind()` over `Seek#seek(SeekFrom::Start(0))`"
### What it does

Suggests using the helper shortcut method, which is shorter.

https://doc.rust-lang.org/stable/std/io/trait.Seek.html#method.rewind

### Lint Name

_No response_

### Category

_No response_

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-03-29 00:28] giraffate commented on #8527
Thanks! I'll prepare the fix for this.

[2022-03-29 05:33] 1Dragoon opened #8601 "Clippy pedantic for f64 as u64"
### Description

I just created a blank issue because I'm not quite sure what this would fall under, as it may or may not be desirable to have, so this may be more of a discussion.

Given clippy pedantic warns about losing the decimal value, could we have this warning suppressed by adding .trunc() to the f64?

Say for example:

[code]

The trunc() in this case is a no-op (I think, somebody correct

[2022-03-29 09:55] J-ZhengLi commented on #8600
seems interesting...
@rustbot claim

[2022-03-29 15:33] frewsxcv opened #8603 "Prefer `instant.elapsed()` over `Instant::now() - instant`"
### What it does

Suggests using the helper shortcut method, which is shorter.

https://doc.rust-lang.org/stable/std/time/struct.Instant.html#method.elapsed

### Lint Name

_No response_

### Category

_No response_

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-03-29 15:53] liquidev opened #8604 "redundant_allocation warns about usage of Rc<Box<str>>"
### Summary

`Rc<str>` is a fat pointer because `str` is an unsized type, so to turn it into a thin pointer either `Rc<Box<str>>` or `Rc<String>` has to be used. Clippy seems to be perfectly fine with the latter, but the former triggers a false positive.

### Lint Name

redundant_allocation

### Reproducer

The following code:
[code]
Produces this warning:
[code]

### Version

[code]

### Addition

[2022-03-29 21:48] scouten-adobe commented on #8470
FWIW I am still seeing `cargo clippy` crash reliably _after_ applying the Xcode 13.3 and corresponding command-line tools update. This is a closed-source project; not sure where to start looking for a repro case that I can share.

[2022-03-30 00:41] anacrolix commented on #8470
I installed Xcode 13.3 and I still have the problem. Is there something required, like a rebuild of clippy?

[2022-03-30 02:51] KisaragiEffective opened #8608 "feature request: passing File::open value to where Write is expected"
### What it does

detects passing `File::open` value to place where `Write` is expected

### Lint Name

file_is_not_writable

### Category

suspicious

### Advantage

- Remove "bad file descriptor" errors at runtime.

### Drawbacks

none

### Example

[code]

Could be written as below when above 1.58.0:

[code]

when below 1.58.0:
[code]

[2022-03-30 06:48] mikatpt opened #8609 "Implementing default with default - recursion"
### Description

Hey, this is probably a pretty silly feature request, but this tripped me up way more than it should have.

Normally, if you try to implement `Default` and use `..Default::default()`, it'll give you the following warning:
```recursive call site [unconditional_recursion]```.

However, if you add any function call, this will no longer happen.
[code]

In retrospect, this is exception

[2022-03-30 15:46] #8569 closed

[2022-03-30 16:34] rossmacarthur commented on #8379
Got a similar error when transmuting bytes to a `&str`

[code]

[code]

 It should suggest the const `std::str::from_utf8_unchecked`

[2022-03-30 17:12] #4798 closed

[2022-03-30 17:27] #8527 closed

[2022-03-30 19:05] xFrednet commented on #6628
While reviewing PRs, I've notices that we don't really have good documentation for our `clippy_lints::methods` module.

And we don't have any documentation for [`span_lint_and_sugg`](https://doc.rust-lang.org/nightly/nightly-rustc/clippy_utils/diagnostics/fn.span_lint_and_sugg.html) here it might be enough to improve the doc comment to include the option to include `// run-rustfix` to the test

[2022-03-30 20:39] #8379 closed

[2022-03-31 06:49] flip1995 commented on #6628
Yeah, we should extend the `cargo dev new_lint` tool with a ´--type` flag, where you can choose `methods`, `transmutes` or other lints that have their own directory. And then also documenting this, of course.

I think we should write a short guide on how good errors and suggestions can be build in Clippy. There's the [Errors and Lints](https://rustc-dev-guide.rust-lang.org/diagnostics.html?highlig

[2022-03-31 08:15] J-ZhengLi commented on #8600
Sure, but I doubt if I could be anyway near as helpful as the official members lol.

[2022-03-31 10:32] dhardy opened #8613 "Suppress needless_late_init on if-let and long if/match expr"
### Summary

According to [the lint docs](https://rust-lang.github.io/rust-clippy/master/index.html#needless_late_init), the sole justification for this lint is to reduce repetitive code. Yes, the examples in the docs look better as suggested, but others don't.

Slightly wordy but clean code:
[code]
Shorter code, but first line contains two `=` tokens (ugly):
[code]
It's easy to imagine worse exam

[2022-03-31 16:33] xFrednet commented on #6628
True, we don't have a shortage of to-dos ^^. Having a `--type` argument might help, currently I just end up doing everything manually. For the documentation, I'm considering to try something new. Currently, we have most of our documentation in markdown files, it might be interesting to instead implement a simple lint and create commits with explanatory comments for every step. That approach is a b

[2022-03-31 19:09] mikerite commented on #8601
I assume you're talking about `clippy::cast_possible_truncation`. It's not warning about the loss of decimals. It's warning about 'large values being truncated'  - [docs](https://rust-lang.github.io/rust-clippy/master/index.html#cast_possible_truncation).

[code]
Gives
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=261a93a39a7c6278677b45269458bfc5)

[2022-03-31 19:50] flip1995 commented on #6628
_Nervously looks at [triage.rust-lang.org](https://triage.rust-lang.org/triage/rust-lang/rust-clippy) and the 14+/- PRs that are awaiting my review._

Yes, maybe. Though, if this gets outdated, it doesn't really help anymore or might be confusing. And we can't implement such a lint every few months.

Once I get to the Clippy book (I hope that I can finish the work on 2022-04-09, fingers crossed),

[2022-03-31 22:51] mvolfik commented on #8046
Previous issue with similar problem: #7975

[2022-04-01 04:32] pitaj commented on #7597
@rustbot claim

[2022-04-01 05:43] asrcpq opened #8615 "Wrong print_literal/write_literal suggestion with byte literal"
### Summary

When formatting with byte literals, e.g. `println!("Ascii code of letter e is {}", b'e');`

clippy gives

[code]

However, the output changed by this modification, from
`Ascii code of letter e is 101`
to
`Ascii code of letter e is e`

### Reproducer

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-04-01 06:07] pitaj commented on #7125
It appears that, actually, `single_element_loop` won't do anything with a straight array passed in. I've made some changes in #8616 that should cover that case. It also expands coverage to `.iter_mut()` and `.into_iter()`, and wraps in parens if necessary.

[2022-04-01 06:09] pitaj commented on #7125
We probably still want to cover the range case specially at some point, to at least give a better diagnostic.

[2022-04-01 10:06] bgeron commented on #6614
I just ran into the same issue.

To be honest — matching with a single match arm _is_ a bit silly, `let` is normally meant for that. And if you put a block in the match, now you have two indentation levels!

It seems nice to have different syntax for this use case. For instance:

[code]

But the lint needs a fix irrespective of any new syntax.

[2022-04-01 13:13] giraffate commented on #8600
@brleinad If you have any questions, you can ask me too. Or you can ask on the [zulip](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy) chat.

[2022-04-01 18:16] scottmcm opened #8618 "Add a lint for `Option::take` on a temporary"
### What it does

(Inspired by [Take() vs as_ref().take()](https://users.rust-lang.org/t/take-vs-as-ref-take/73721?u=scottmcm) on URLO.)

Lint when calling `Option::take` on a temporary, as when you have an owned temporary there's no need to `take` it -- you already have ownership, and you won't be able to see the `None` left behind, so the `take` can just be omitted.

### Lint Name

option_take_o

[2022-04-02 00:00] ebobrow commented on #7143
I thought I'd give this a try, but I've hit a bit of a wall. Currently, I have an implementation that replaces the for loop with an `if let` no matter what, so for something like the example code that would produce
[code]
which is not great. Would it be worth it to hard code certain use cases (function return, variable assignments, etc.) to create better suggestions, and if so, what use cases? I'm

[2022-04-02 07:23] #8123 closed

[2022-04-02 12:45] xFrednet commented on #7143
I think for this, it's reasonable to hard-code for certain use cases. You probably first want to write the detection part for the `for`-loop, and then identify the use case. As for the cases, I would first focus on one, like the return or value assignment, and then create a PR. More cases can be added afterwards.

From my feeling, I wouldn't even directly call this hard-coding. We simply restrict

[2022-04-02 13:42] RalfJung opened #8622 "`transmutes_expressible_as_ptr_casts` does not detect reference-to-usize transmutes"
### Summary

Clippy by default lints against transmuting raw pointers to `usize`. However, it does not lint against transmuting *references* to `usize`. Both of these transmutes are [highly questionable](https://github.com/rust-lang/unsafe-code-guidelines/issues/286#issuecomment-1085144431) so it'd be good to lint them all.

### Lint Name

transmutes_expressible_as_ptr_casts

### Reproducer

I tri

[2022-04-02 18:11] pitaj commented on #6973
@rustbot claim

[2022-04-02 18:25] pitaj commented on #6752
Just a note: Edition 2021 includes `FromIterator` in the prelude.

[2022-04-02 18:36] pitaj commented on #6729
@humb1t I wasn't able to reproduce your issue ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1afd6bb341d5ae134fbc3e9364776d08))

Perhaps it's been fixed. Can you provide a complete example?

[2022-04-02 18:53] pitaj commented on #6580
How can the array be "too big"? Don't `array_windows` and `array_chunks` always return a reference into already-allocated memory?

[2022-04-02 19:12] pitaj commented on #6399
@rustbot claim

[2022-04-02 19:16] djc opened #8623 "map_clone should not suggest copied() for MSRV < 1.36"
### Summary

I'm backporting some code to work on 1.32 and noticed that the map_clone lint suggests using copied() even though I've configured Clippy with MSRV = 1.32. Would be nice if this wouldn't happen.

### Lint Name

map_clone

### Reproducer

_No response_

### Version

_No response_

### Additional Labels

_No response_

[2022-04-02 21:58] camsteffen commented on #6580
"too big" because it's not practical to write out 100 array elements.

[2022-04-02 22:00] pitaj commented on #6580
You could still use the array as if it were a slice though, right?

[2022-04-02 22:06] pitaj commented on #6261
@rustbot claim

[2022-04-02 23:29] camsteffen commented on #6580
Yeah that's true.

[2022-04-04 06:39] hellow554 commented on #6637
One year later the situation hasn't get any better.
I vote for reenabling this as well and letting it enabled up until a certain rust version.

Maybe one could use the MSRV and if it's lower than 1.xx it should lint that code, otherwise not.

[2022-04-04 07:45] #8591 closed

[2022-04-04 09:41] humb1t commented on #6729
@pitaj looks like it was fixed. Thank you!

[2022-04-04 09:43] Kyuuhachi opened #8627 "Incorrect link in mod_module_files docs"
### Description

The docs for the [mod_module_files](https://rust-lang.github.io/rust-clippy/master/index.html#mod_module_files) link contains a link to [mod.rs](//mod.rs), which is about wooden furniture.

### Version

[code]

### Additional Labels

@rustbot label +A-documentation

[2022-04-04 10:50] Kyuuhachi opened #8628 "`question_mark` inside `try` blocks"
### Summary

The rewrites suggested by `question_mark` do not work correctly inside `try` blocks (unstable with `#![feature(try_blocks)]`), since `?` exits the `try` block rather than the function.

I don't know what the policy is for unstable features, so just close this if it's irrelevant.

### Lint Name

question_mark

### Reproducer

With the following function,
[code]
Clippy suggests rewritin

[2022-04-04 11:07] Kyuuhachi commented on #8627
Same in `self_named_module_files`, might be others too.

[2022-04-04 11:30] InfRandomness commented on #8618
@rustbot claim

[2022-04-04 11:32] InfRandomness commented on #8531
Has there been a regression on this ?
Issue seems to happen again

[2022-04-04 12:22] hellow554 opened #8629 "parameter only used in recursion false positive"
### Summary

The lint triggers even when there's no recursion and it is "used"

### Lint Name

only_used_in_recursion

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-04-04 12:54] giraffate commented on #8531
It's a duplicate of https://github.com/rust-lang/rust-clippy/issues/8527, so I'm closing this.

[2022-04-04 12:54] #8531 closed

[2022-04-04 13:22] #8264 closed

[2022-04-04 13:22] #8449 closed

[2022-04-04 13:40] InfRandomness commented on #8527
Has there been a regression on this ?
Issue seems to happen again on `nightly-2022-03-29` | `clippy 0.1.61 (ee915c3 2022-03-28)` | `rustc 1.61.0-nightly (ee915c34e 2022-03-28)`
all the way to `rustc 1.61.0-nightly` / `clippy 0.1.61 (eb82fac 2022-04-01)`, I have not tested this on more recent builds

[code]

[2022-04-04 20:27] goffrie commented on #8527
The fix hasn't landed in nightly yet, that's waiting for the next clippy
sync into the main Rust repo.

On Mon., Apr. 4, 2022, 06:40 InfRandomness, ***@***.***>
wrote:

[2022-04-05 02:45] kpreid opened #8634 "`single_match` wants to delete my comments"
### Summary

I just updated to the Rust 1.60.0 prerelease and got a new lint; when I investigated further I realized that I don't agree with it in other cases that came up previously.

The `single_match` lint detects when a `match` has only one nonempty arm, and proposes replacing it with an `if let` with no `else`. However, the suggestion deletes any comments present in the empty (of code) arm; s

[2022-04-05 03:01] kpreid commented on #8634
(I'm not sure if this counts as a bug, exactly, but the "false positive" template seemed most appropriate for what I wanted to say.)

[2022-04-05 05:22] tony84727 commented on #8629
Maybe another similar false-positive example:
[code]
Clippy returned:
[code]

[2022-04-05 05:43] hellow554 commented on #8629
@tony84727 this is somewhat the same pattern as mine:

[code]

[code]

But yeah, that should be fixed to. I try to investigate this a little bit further.

[2022-04-05 07:04] hellow554 commented on #8629
@buttercrab can you help us here? :)

[2022-04-05 07:06] buttercrab commented on #8629
@hellow554 I'll change the algorithm as soon as I can.

[2022-04-05 07:14] hellow554 commented on #8629
No need to hurry! Take your time. I just wanted to know, if you know what could cause this. Sorry for the scare

[2022-04-05 12:03] c410-f3r commented on #8358
Fixed by https://github.com/rust-lang/rust-clippy/pull/8592

Totally forgot about this issue and I guess there are a bunch of opened issues that are already solved

[2022-04-05 12:03] #8358 closed

[2022-04-05 16:08] digama0 opened #8637 "match_same_arms false positive with pattern guard"
### Summary

The `match_same_arms` lint will suggest moving a match arm past a pattern guard, which is not semantics preserving and can cause an error if it produces an unreachable case.

### Lint Name

match_same_arms

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-04-05 17:15] Jarcho commented on #8637
This is not false-positive. The following is semantically equivalent:
[code]

The message should be clearer about which arm to modify. (I say this as the person who wrote it. I still don't particularly like it)

[2022-04-05 19:09] digama0 commented on #8637
Aha, so it is. It's a bit awkward, but it wouldn't be the first time clippy makes a weird but technically correct suggestion.

[2022-04-05 19:09] #8637 closed

[2022-04-06 00:45] nyospe opened #8638 "init_numbered_fields incorrectly triggers for type alias of tuple struct"
### Summary

The clippy lint `init_numbered_fields` introduced in 1.59.0 is emitted with an incorrect suggested fix when the struct initialization is for a type alias to a tuple or unit struct.

This case should be omitted from the lint entirely, as there is no means other than use of numbered fields to initialize a tuple struct for which only the type alias can be reliably known, because the type

[2022-04-06 01:11] Jarcho commented on #7807
This shouldn't lint for the same reason we don't lint other external macros. The author of the crate consuming the macro can't necessarily change the code generated by the macro, nor can they easily allow the lint within the macro.

[2022-04-06 01:41] winterqt commented on #7807
Right, makes sense, thanks.

[2022-04-06 01:41] #7807 closed

[2022-04-06 02:04] lopopolo commented on #8109
If we are to desugar clippy's suggestion, I think the code would end up looking something like this:

[code]

If I were writing the `if let ... else` version by hand, I'd probably make it look like this:

[code]

I think the original sample with the closure given in this issue looks closer to how I'd write this same code with `if let ... else` and would love if this on-by-default lint would accept

[2022-04-06 08:27] #8348 closed

[2022-04-06 08:43] #6923 closed

[2022-04-06 10:39] baoyachi opened #8641 "rust-clippy website add new lint need displayed the current version."
### Description

When I use `rust nightly `channel ,with `cargo-clippy` also updated.But  I don't know in which version this clippy lint error was added.

When I goto detail error with `clippy` website,but there no version with `cargo-clippy`.

### Version

[code]

### Additional Labels

@rustbot label +C-enhancement

[2022-04-06 11:05] baoyachi opened #8642 "Support list all lint by use cargo-clippy cli"
### Description

Should be list all `rust-clippy` lint by used cli.

Like this:
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-04-06 11:53] rossmacarthur opened #8643 "format_in_format_args lint suggests code that results in alternative behaviour"
### Summary

I have some code that looks like this

[code]

Clippy complains about the inner `format!` but replacing them with `format_args!` doesn't align to the columns properly.

### Lint Name

format_in_format_args

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No lint emitted, or a better suggestion

### Version

[code]

### Additional

[2022-04-06 13:22] xFrednet commented on #8641
The lint description contains a field that lists the rust version that the lint was added. Clippy's version follows the versioning of rust. Here is an example how we currently display the version:

![IMG_20220406_151902_106.jpg](https://user-images.githubusercontent.com/17087237/161984326-7f5f959a-f300-4aa8-9fc2-846b0c5c76b3.jpg)

I think it works better in the description itself, since it's less

[2022-04-06 13:39] hellow554 commented on #8643
In this very specific case, you could write:

[code]

[2022-04-06 15:08] Jarcho commented on #7024
This should have been fixed by #7707

[2022-04-06 17:37] #8599 closed

[2022-04-06 17:43] yoav-lavi opened #8650 "`unnecessary_string_new`"
### What it does

Detects cases of `&String::new()` being passed to something expecting `&str`.

This is a followup on @flip1995's suggestion:

When checking godbolt.org it seems that `&String::new()` does an [extra allocation](https://godbolt.org/z/fvPK9q5WK) although in benchmarks they seemed to perform similarly (which leads me to believe it may be optimized away in some cases, or that the allo

[2022-04-06 17:49] carols10cents commented on #6902
This problem has now made it to the clippy that's in beta (specifically `1.61.0-beta.1 (0f231250b 2022-04-05)`)

[2022-04-06 17:53] flip1995 commented on #8650
Thanks for opening this issue!

Looking at the godbolt, even with `-Copt-level=3` the compiler still creates the allocation. I guess a zero-size allocation is really cheap, so doing this in only a few cases probably doesn't show that much of an performance impact.

This lint might be similar to the [`ptr_arg`](https://rust-lang.github.io/rust-clippy/master/index.html#ptr_arg) lint, but with the ad

[2022-04-06 18:09] yoav-lavi commented on #8650
[/u/lebensterben](https://www.reddit.com/user/lebensterben/) also suggested the following on the Reddit post (which could be a separate lint):

[2022-04-06 18:21] yoav-lavi commented on #8650
@flip1995 apparently the reason this performs the same is that there [isn't an actual allocation](https://www.reddit.com/r/rust/comments/txrb55/comment/i3nl8ik/?utm_source=share&utm_medium=web2x&context=3),
also shown in the docs:

I'm assuming this is still valid for stylistic reasons and that even without an allocation there's additional operations for `String::new()` over `""`

[2022-04-06 18:52] rsubramaniyam opened #8651 "Clippy crash"
Hit this running "cargo clippy --locked --all-features --tests --benches -- -D warnings -D clippy::all -D clippy::mem_forget -A clippy::redundant_closure -A clippy::too_many_arguments -C debug-assertions=off":

[code]

[2022-04-06 19:25] yoav-lavi commented on #8650
/u/1vader added that `&String::from("abc")` where you can pass `"abc"` would also be a good idea to avoid

[2022-04-06 20:34] xFrednet commented on #8651
Thank you for the report. Could you update rust to 1.59 to see if that fixes the crash? If so, could you maybe provide a code example that produces this error? :upside_down_face:

@rustbot label +I-ICE +C-Bug

[2022-04-06 21:42] jgarvin opened #8652 "invalid_null_ptr_usage lacks explanation"
### Summary

``
Why is this bad?
This causes undefined behavior.
[code]

[2022-04-06 23:19] #1897 closed

[2022-04-07 00:14] CAD97 opened #8653 "IIFE false positive when temporary lifetimes are involved"
### Summary

The `format_args!` macro creates temporaries dropped at the end of the expression, so

[code]

is almost always unusable. An IIFE can be used to extend the temporary lifetime to the entirety of the IIFE, allowing `format_args!` to be used for factoring out large `format_args!`.

This typically isn't necessary, as you an just nest `format_args!` directly, but is useful for cases where

[2022-04-07 00:17] CAD97 commented on #8653
It's still probably not good code, but this case at least is more nuanced than "avoid IIFE".

<details><summary>The horrible code that I wrote to run into this originally</summary>

[code]
</details>

[2022-04-07 10:14] yoav-lavi opened #8654 "Compiler panic on `cx.tcx.fn_sig(fn_def_id)`"
Ran into a compiler panic when running the following:

[code]

On this file (via `cargo dev lint tests/ui/unnecessary_string_new.rs`):

[code]

Message:

[code]

`rustup toolchain list`:
[code]

Note that this is from running `clippy` with a new lint from the master branch via `cargo dev lint`

[2022-04-07 13:17] #7846 closed, assigned to nobody

[2022-04-07 13:17] #8047 closed

[2022-04-07 17:37] maedox commented on #8470
1.60 fixed it for me.

[2022-04-07 17:40] jvanstraten opened #8658 "Failed to normalize <Option<&Option<T>> as Iterator>::Item"
### Summary

I started getting this in CI somewhere around 14:00 UTC today, plus or minus 3 minutes (no, really), with no changes to the code. Presumably a new stable Rust release came out right about then. I don't know which part of my code is causing it exactly, because the error only gives me above type that makes little sense to me, and the `T` is a thing used all over my crate, so the best re

[2022-04-07 17:42] tarkah opened #8659 "Failed to normalize ..., maybe try to call `try_normalize_erasing_regions` instead"
### Summary

Getting a panic using the following options.

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-04-07 17:42] tarkah commented on #8659
Appears to be a duplicate of #8658

[2022-04-07 17:42] #8659 closed

[2022-04-07 18:12] kpreid commented on #8653
Instead of an IIFE, you could use `match`:

[code]

This is the standard pattern when writing macros that need to extend the life of temporaries that might exist in an input expression, and I suspect it would generally be considered more idiomatic Rust than an IIFE. (And it won't provoke a lint.)

That said, it would be nice if Clippy made a recommendation of `let` or `match` based on whether or n

[2022-04-07 18:27] tarkah commented on #8658
I was able to pinpoint the exact issue in my project....

**Panics**
[code]

**Doesn't panic**
[code]

[2022-04-07 18:58] scouten-adobe commented on #8470
1.60.0 fixed my problem also. Thank you!

[2022-04-07 19:04] DeppLearning commented on #8658
Got the same on 1.60 after fixing the new clippy lint for map().flatten() -> flat_map(). At some point I had to adjust a type from

**Doesn't panic**

[code]

To
**Panics**
[code]

[2022-04-07 19:41] Jarcho commented on #8654
That doesn't get the `DefId` of the function. That would be
[code]
There's also `clippy_utils::ty::expr_sig` which can get the signature of any callable object, rather than just functions.

---

Also this isn't really the appropriate place for this. For help with writing a lint you should either use zulip, or, since you have a PR open, ask there.

[2022-04-07 20:12] yoav-lavi commented on #8654
@Jarcho thanks for the response, I didn't mean this as a question but rather thought that this was a bug (since clippy uses compiler internals it makes sense that it could trigger a compiler panic, but I wasn't sure if what I was seeing was an actual issue or not)

[2022-04-07 20:15] #8654 closed

[2022-04-07 20:20] printfn commented on #8470
It's fixed for me as well, so I'll go ahead and close this issue.

[2022-04-07 20:20] #8470 closed

[2022-04-08 00:11] giraffate commented on #8658
Thanks for the report!

It's duplicate of https://github.com/rust-lang/rust-clippy/issues/8527, so I'm closing this.

[2022-04-08 00:11] #8658 closed

[2022-04-08 00:52] #6973 closed

[2022-04-08 00:58] fanninpm commented on #8527
#8658 and #8659 seem to indicate that this ICE has unfortunately slipped into the latest stable (v1.60.0).

[2022-04-08 01:54] J-ZhengLi commented on #8587
@rustbot claim

[2022-04-08 05:35] baoyachi commented on #8641
It's rust version,not `rust-clippy` version, beacase when I use rust nighlty channel, `rust-clippy` also be update.

[2022-04-08 07:27] xFrednet commented on #8641
`rust-clippy`'s version follows the version of rustc. The example lint was released with Clippy `0.1.52`. We've decided to list the rust version as "Added in `0.1.52`" could be confusing to everyone who doesn't know the versioning of Clippy :upside_down_face:

[2022-04-08 08:09] rakita opened #8661 "Clippy crash in `normalize_erasing_regions.rs:179:90`"
### Description

Project in question: https://github.com/bluealloy/revm
Clippy is crashing with newest version, and here are backtraces:
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-04-08 08:59] youknowone commented on #8661
#8658 is the duplication

[2022-04-08 09:11] rakita commented on #8661
duplicate

[2022-04-08 09:11] #8661 closed

[2022-04-08 10:05] tomhoule commented on #8482
I am observing this issue in multiple files in a large project, [here](https://github.com/prisma/prisma-engines/blob/ba8e3c2c2615e6af9303b3930e7de9377999a0e7/migration-engine/connectors/sql-migration-connector/src/sql_renderer/postgres_renderer.rs#L511) for example. We push to that Vec in the function body, so the suggestion is wrong.

Clippy version: `clippy 0.1.60 (7737e0b 2022-04-04)`

[2022-04-08 11:10] irevoire opened #8662 "ICE: Failed to normalize <std::option::Option<&std::option::Option<usize>> as std::iter::Iterator>::Item"
Hello, we encounter a ICE with Clippy in our CI.
I can't reproduce the error locally though.
You can look at it here: https://github.com/meilisearch/meilisearch/runs/5883955221?check_suite_focus=true
Hope that helps!

[2022-04-08 11:22] yoav-lavi opened #8663 "dev experience: `cargo dev remove` + `cargo dev setup ... --remove`"
### Description

I think that having (in addition to the existing command) a `remove` flag / alias under setup (e.g. `cargo dev setup intellij ...`, `cargo dev setup intellij --remove`) might be good for visibility.

If it's been a while since you've setup the editor and now need to remove to commit, you're more likely to remember what you did or press up multiple times than remember the feedback

[2022-04-08 14:41] Jarcho commented on #8482
I don't think the fix made it into `1.60`

[2022-04-08 18:50] fasterthanlime commented on #8662
Seeing this in our CI too - ours is a proprietary codebase so I can't share the code, but here's the full error:

<details>
<summary>
<code>cargo clippy --all-targets</code>
</summary>

<pre>
    Checking fly-proxy v0.1.0 (/home/amos/work/fly-proxy/crates/fly-proxy)
error: internal compiler error: compiler/rustc_middle/src/ty/normalize_erasing_regions.rs:179:90: Failed to normalize <std::option::O

[2022-04-08 20:05] Jarcho commented on #8662
I think this was fixed with #8602. Can you check once `2022-04-08` is available?

[2022-04-08 22:00] #7706 closed

[2022-04-09 02:56] jmeggitt commented on #3045
Hey, I just wanted to add another example of a false positive that I just ran into that does not involve FFI. I was in the process of fixing some old Rust code which looked something like this when I encountered `not_unsafe_ptr_arg_deref`. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b1509e91c3d8924ed945fb6c95be7412):
[code]
Now there are a lot of things wro

[2022-04-09 10:55] fasterthanlime commented on #8662
Still seeing a similar error with `2022-04-08`:

<details>
<summary>click for surprise ICE</summary>
<pre>
error: internal compiler error: compiler/rustc_middle/src/ty/normalize_erasing_regions.rs:179:90: Failed to normalize <std::option::Option<&std::option::Option<estate::types::app::AppId>> as std::iter::Iterator>::Item, maybe try to call `try_normalize_erasing_regions` instead

thread 'rustc'

[2022-04-09 15:14] #8663 closed

[2022-04-09 15:36] yoav-lavi commented on #8545
I don't mind taking this, I think it makes the most sense to put this in `restrictions` though, I'll prepare a PR and worst case we can change it

[2022-04-09 15:37] yoav-lavi commented on #8545
@rustbot claim

[2022-04-10 06:12] aldhsu opened #8674 "Remove duplicate trait bound or where clause"
### What it does

This lint warns about repetitions of the same trait in trait bounds or where clauses.

### Lint Name

repetition_where_clause_or_trait_bound

### Category

pedantic

### Advantage

Leaving duplicate trait bounds is less readable.

### Drawbacks

None

### Example

[code]
Could be written as:

[code]

OR

[code]
Could be written as:

[code]

[2022-04-10 06:21] aldhsu commented on #8674
I saw there is an existing lint that compares where clauses and trait bounds for duplicates. This could be an extension of that lint.

[2022-04-10 11:24] digama0 opened #8675 "Suggest `format!("{x}")` syntax when possible"
### What it does

Given a use of a format macro, suggest to use the [`format!("{x}")` syntax](https://github.com/rust-lang/rust/pull/90473/) when applicable.

### Lint Name

format_args_capture

### Category

pedantic

### Advantage

* Code is shorter and more readable
* Increases awareness of the new syntax

### Drawbacks

* Increases MSRV for projects that care about that

### Example

[code]

C

[2022-04-10 17:39] rakita commented on #8661
heh i was original reporter, totally forgot about that :D

[2022-04-11 00:27] giraffate commented on #8623
I tried the case below but can't reproduce it. Can you provide the reproduction?
[code]

I also tried this.
[code]

[2022-04-11 05:07] kvark commented on #3433
I have similar thoughts about Naga/wgpu codebases. We want to disable most shadowing as dangerous, but leave a class of cases that are fine. More concretely, I think shadowing is fine when it's both related and having a *different* type. I.e. this one is not good:
[code]
But this one is totally fine:
[code]

Unfortunately, the current set of lints does not allow us to have that behavior. Please co

[2022-04-11 05:30] Jarcho commented on #7983
This was fixed by #7661.

[2022-04-11 05:30] Jarcho commented on #5594
This was fixed by #7661.

[2022-04-11 05:43] Jarcho commented on #7497
This was fixed by #7661.

[2022-04-11 05:44] Jarcho commented on #7218
This was fixed by #7661.

[2022-04-11 06:20] Jake-Shadle opened #8679 "`#[allow(unsafe_code)]` should be allowed after `SAFETY:` docs"
### Summary

PR #8450 changed it so that nothing can appear between the `SAFETY:` comment and the unsafe block it is documenting, while the intention behind this change is good, I think it might be too aggressive in the specific case of using a `#[allow(unsafe_code)]` on the same `unsafe` block being documented.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

No lint i

[2022-04-11 06:28] #7983 closed

[2022-04-11 06:30] #7497 closed

[2022-04-11 06:30] #7218 closed

[2022-04-11 06:44] CurryPseudo opened #8680 "If-same-then-else bug for unequal const generic argument"
### Summary

Unequal const generic argument trigger if-same-then-else lint.

### Lint Name

If-same-then-else

### Reproducer

Given
[code]
Got
[code]

### Version

[code]

### Additional Labels

_No response_

[2022-04-11 06:48] Jake-Shadle opened #8681 "Byte index out of bounds"
### Summary

I believe this was introduced in #8450, for reference, here is the full file that is ICEd on, but unfortunately pulling out the file to try to get a minimal repro made the error go away. I was able to work around the ICE by moving the `#[allow(unsafe_code)]` attribute above the `SAFETY:` documentation.

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summar

[2022-04-11 08:30] djc commented on #8623
So I was referring to `Iterator::copied()` rather than `Option::copied()`. See the change here:

https://github.com/djc/tz-tmp/commit/3714d2d725c891cb298efbbb65df24a65891b63d#diff-4a04259da480a6b794a2e947e4cc03eff4d1aa9330836f5b91cac68c5398193fR10

[2022-04-11 08:38] giraffate commented on #8623
Thanks! I can reproduce it.

[2022-04-11 08:40] djc commented on #8623
Great, thanks for working on this!

[2022-04-11 09:13] #5594 closed

[2022-04-11 09:48] J-ZhengLi commented on #8587
Hmmmm, it shouldn't be triggering this lint and I just test clippy with your code on [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d734799423c2bba997e983ba43da24da) but got no error? Can you try it again and provide us with more context?

[2022-04-11 10:12] J-ZhengLi commented on #8680
@rustbot claim

[2022-04-11 11:18] decryphe opened #8683 "Incompatibility between `axum_macros::debug_handler` and Clippy"
### Summary

We try to use as many lints as possible on our project, so that issues are caught as early as possible. That's why we use Clippy for many extra lints that are useful.

There is one lint that fails when using `#[axum_macros::debug_handler]` on any axum handler: `clippy::missing-docs-in-private-items`

Removing the `#[axum_macros::debug_handler]` attribute makes the error go away.

Pres

[2022-04-11 11:31] #8650 closed

[2022-04-11 11:59] mikerite opened #8684 "`nonminimal_bool` suggestions missing required parenthesis"
### Summary

The `nonminimal_bool` suggestions are sometimes missing parenthesis if they replace part of a larger expression. This causes `cargo --fix` to fail because the new code doesn't compile.

### Reproducer

I tried this code:

[code]
and then ran `cargo --fix`

I expected to see this happen:

The expression would be simplified to `(x <= 20) ^ b`

Instead, this happened:

Clippy tried to ch

[2022-04-11 15:36] #8538 closed

[2022-04-11 15:55] #8139 closed

[2022-04-11 16:30] Jarcho commented on #8680
This should have been fixed with #8673. The root cause is the same.

[2022-04-11 16:57] #4952 closed

[2022-04-11 18:40] kyoto7250 commented on #8623
I could not reproduce yet... 😢 ( I'm confused... )

I pulled this commit and running clippy, but the message was collect. (but I noticed message is wrong, so I will fix...)

[code]

@giraffate  Could you please share the reproduction code?

[2022-04-11 18:50] kyoto7250 commented on #8623
I share my opinion...

I think the bug in Iterator::copied came from the `unnecessary_to_owned `rule, not from the `map_clone` rule.

Because the `map_clone` rule changes the message according to the msrv value, but `unnecessary_to_owned` rule does not change the message.

https://github.com/rust-lang/rust-clippy/blob/89ee6aa6e32df974ef9dbb3c825afbdce441e856/clippy_lints/src/methods/unnecessary_to

[2022-04-11 19:10] #6399 closed

[2022-04-11 20:14] emgre opened #8689 "Infinite loop in `clippy::only_used_in_recursion`"
### Summary

Since 1.61.0-beta.1, one of our crate gets stuck in an infinite loop. I was able to GDB into clippy and figure out that it gets stuck while running the [`clippy::only_used_in_recursion`](https://github.com/rust-lang/rust-clippy/blob/d0cf3481a84e3aa68c2f185c460e282af36ebc42/clippy_lints/src/only_used_in_recursion.rs) that was recently introduced. Unfortunately, I was not able to unders

[2022-04-11 20:27] emgre commented on #8689
One of the full backtrace that I got (it's not always at the exact same place) is the following:

[code]

[2022-04-11 20:43] jyn514 commented on #8689
Demangled:

<details>

[code]

</details>

[2022-04-11 21:43] jorgecarleitao commented on #8463
@Jarcho, has this been fixed and released? This is now showing in rust stable 1.60.

[2022-04-11 21:57] PatchMixolydic commented on #8652
Specifically, `invalid_null_ptr_usage` seems to lint against cases where a null pointer is dereferenced (which includes turning it into a reference, such as with `slice::from_raw_parts`):

https://github.com/rust-lang/rust-clippy/blob/dbcd82885f4730077fabd57340d7e297122bc596/clippy_lints/src/ptr.rs#L246-L263

The "Why is this bad?" section can probably be fixed simply by explaining what, exactly,

[2022-04-11 22:15] jgarvin commented on #8652
Huh, I would have expected from_raw_parts to require passing NonNull instead of a plain raw pointer. To the docs credit its safety precondition of not being null is documented, it just seemed preposterous that it could matter with length 0, but apparently does because of niches.

[2022-04-12 00:23] giraffate commented on #8623
@kyoto7250 Sorry, I misunderstood it, I wasn't able to reproduce it. Anyway, thanks for checking it out!

@djc Sorry for my carelessness, but what do you think about this?
https://github.com/rust-lang/rust-clippy/issues/8623#issuecomment-1095431658

[2022-04-12 00:35] giraffate commented on #2691
It looks like that the [`recursive_format_impl`](https://rust-lang.github.io/rust-clippy/master/index.html#recursive_format_impl) covers this, so I'm closing this.

[2022-04-12 00:35] #2691 closed

[2022-04-12 00:55] brleinad commented on #8600
A quick update:
I've been working on this on and off for the last two weeks but I've been pretty busy with other things  so progress is slow. I might not be able to work on it until May. If anybody else is interested in taking this while I'm away here's the Zulip [thread](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/rewind.20over.20seek.20from.20start.20-.20new.20lint).

[2022-04-12 01:10] Jarcho commented on #8463
I think it just missed the beta branch in February, so it should be in `1.61`.

[2022-04-12 02:32] mucinoab commented on #8029
@rustbot claim

[2022-04-12 13:03] kyoto7250 commented on #8623
@djc

I misunderstood.

I thought this commit was a fix for map_clone that changed to copied even though msrv = 1.32.

So I had no doubts about map_clone working with msrv = 1.32.

---

My understanding is that there are two kinds of rules.

One rule is to disable the output depending on the value of msrv, and the other rule is to change the warning content depending on the value of msrv (map_clon

[2022-04-12 13:23] buttercrab commented on #8689
Maybe I should rewrite the lint from the beginning.

[2022-04-12 13:25] flip1995 commented on #8689
Looking at it again: I think it is actually not an infinite loop, but the complexity of the linting code is in `O(n!)` for method chains and probably some other expressions. This is because it visits many expressions multiple times. I have a fix for this ready.

But I still think this lint either needs way more tests or it should be rewritten. Starting with simpler linting code and then try to imp

[2022-04-12 13:58] #8689 closed

[2022-04-12 14:33] jplatte commented on #8675
Duplicate of #8368.

[2022-04-12 18:08] Jarcho commented on #8662
I guess the sync was a day or two late then.

[2022-04-12 18:52] #5714 closed

[2022-04-13 00:44] giraffate commented on #8675
Thanks for suggesting a new lint!

I'm closing this because of https://github.com/rust-lang/rust-clippy/issues/8675#issuecomment-1096810164.

[2022-04-13 00:44] #8675 closed

[2022-04-13 00:53] #6326 closed

[2022-04-13 05:00] kyoto7250 opened #8693 "Suggest: documents about working according to msrv in web site."
### Description

clippy has rules that change behavior depending on msrv.

- Change the content of warnings
  *  ex. ``[`map_clone`]`` changes the message  if msrv < 1.36.

- Stop warnings
  * ex. ``[`filter_map_next]`` ignore the rule if msrv < 1.30

Their behavior depends on the internal implementation, and currently there seems to be no way to know them except by reading the source code.

 The

[2022-04-13 05:01] kyoto7250 commented on #8623
I made an issue about this issue.
https://github.com/rust-lang/rust-clippy/issues/8693

[2022-04-13 09:42] J-ZhengLi commented on #8492
Seems like this hasn't been fixed yet... @rustbot claim

[2022-04-13 09:49] J-ZhengLi commented on #8492
should I extend that lint and change its name or add a new one?

[2022-04-13 13:17] #8545 closed

[2022-04-13 14:21] Jarcho commented on #8180
This is not a clippy issue. Rustc disallows using `#[allow(..)]` after `#[forbid(..)]` on the same lint.

[2022-04-13 22:08] goffrie opened #8695 "needless_match doesn't consider the `else` of `if let`"
### Summary

The `needless_match` lint produces a nonsensical suggestion in some cases. It seems like it fires entirely based on the `if`-clause of an `if let`, ignoring the `else` branch's value entirely. This is a regression, most likely from #8549 (but I haven't confirmed that).

### Lint Name

needless_match

### Reproducer

[I tried this code](https://play.rust-lang.org/?version=stable&mode=d

[2022-04-14 00:13] giraffate commented on #8662
Thanks for the reports!

I'm closing this because it seems to be resolved in https://github.com/rust-lang/rust-clippy/issues/8662#issuecomment-1096648760. If any problems happens about this, feel free to reopen or comment.

[2022-04-14 00:13] #8662 closed

[2022-04-14 04:31] xFrednet commented on #8693
AFAIK, most lints simply don't lint when the current msrv is too low for them, but there are some that change the suggestion. I also thought about including the msrv version that the lint checks for in the lint description. (Similar to your suggestion)

The current metadata collection takes the lint description and appends the configuration documentation to the end. Creating a documentation like y

[2022-04-14 07:57] yoav-lavi opened #8697 "`unnecessary_cfg_test`"
### What it does

Since `#[test]` already implies `#[cfg(test)]`, it would not be needed to use `#[cfg(test)]` directly on a function. I propose this lint to catch cases of

[code]

Suggesting instead to either remove the `cfg` (for inline tests), to add it to the module itself (for inline modules, e.g. ` #[cfg(test)] mod test {}`) or to use `#![cfg(test)]` at the head of the file (for test files)

[2022-04-14 08:22] yoav-lavi commented on #8697
@xFrednet commented on Zulip that this is probably not possible to efficiently develop at the moment as `cfg`s are removed before Clippy sees the AST. Might be a good point of discussion for `rustc` to keep some sort of marker so that the information is not lost (and / or thinking about how to lint the entire AST before removal)

[2022-04-14 14:45] #6261 closed

[2022-04-14 16:27] nyospe commented on #8638
Confirmed still present in 1.60.0

[2022-04-14 16:30] nyospe commented on #8638
Note: introduced by https://github.com/rust-lang/rust-clippy/pull/8170

[2022-04-15 00:09] #7084 closed

[2022-04-15 00:13] #7597 closed

[2022-04-15 02:13] #1502 closed

[2022-04-15 06:13] Stargateur commented on #7666
about [`redundant_pattern_matching`](https://rust-lang.github.io/rust-clippy/master/index.html#redundant_pattern_matching), I'm not a big fan, I understand the know problem, but in my opinion, if you use choice to ignore the inner value of `Ok(_)` and then rematch the value inside the if (so create a deadlock) you are doing something wrong in the first place by ignoring the inner value of `Ok`. Ma

[2022-04-15 08:50] flip1995 commented on #7666
@Stargateur the `redundant_pattern_matching` lint is a `style` lint. So it is not meant to detect problems in the code, but rather to improve code style. We @ Clippy think that `foo.is_ok()` over `let Ok(_) = foo` is slightly better style because it reads easier from left to write. "If foo is `Ok`" is more natural than `let `Ok` be the same as foo". If you disagree with this style choice, you can

[2022-04-15 09:00] Stargateur commented on #7666
It's still mark as warning so this made CI fail https://github.com/rust-pcap/pcap/runs/6034264950?check_suite_focus=true#step:9:18 (thus I just saw pcap deny warning but I expect a lot of project do that)

Anyway it's was my 2 cents about why this lint may be ignored sometime, fly away, thank for clippy ♥

[2022-04-15 12:53] J-ZhengLi commented on #8695
@rustbot claim

[2022-04-15 15:09] fanninpm commented on #8695
Does #8700 fix this?

[2022-04-15 17:52] c410-f3r commented on #7130
Closing due to inactivity (again). I am trying to clean up my list of opened issues so if desired feel to create another issue about the problem.

[2022-04-15 17:52] #7130 closed

[2022-04-15 20:06] goffrie commented on #8695
Yes, I think it does.

[2022-04-15 22:04] CAD97 opened #8708 "Regression: raw pointer slice cast causes ICE"
### Summary

[code]

[code]

@rustbot modify labels: +regression-from-stable-to-nightly +regression-from-stable-to-beta

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-04-16 00:10] sozysozbot opened #8710 "`equatable_if_let` suggests wrong code when it involves a reference"
### Summary

`equatable_if_let` tries to replace a pattern into a `==`, but the two differ slightly in their semantics when it comes to reference. Hence the current implementation creates a suggestion that causes a type mismatch error when adopted.

### Reproducer

I tried this code:

[code]

I expected to see this happen: Clippy suggests
[code]

Instead, this happened: Clippy suggested
[code]
whi

[2022-04-16 13:42] redbaron opened #8712 "Warn on &mut to a temporary value"
### What it does

Warn when &mut is taken on a temporary value, especially when type implements `Copy`. Code below doesn't modify `buf`, because what is being passed to `t` is a `&mut` to a temporary array created by a `<[u8]>::try_into()`:

`&mut` reference implies that a receiver will modify value, modifying temporary value, which user has no access to is pointless IMHO. More likely than not, it

[2022-04-16 15:35] asquared31415 commented on #8708
I caused this in #8445 whoops
@rustbot claim

[2022-04-16 17:11] kpreid commented on #7717
Another use for this lint would be for generic implementations, particularly ones on pointers, e.g.

[code]

where you want to make sure that the generic implementations forward *all* methods to the underlying implementation. A missing method could be a semantic error, but it could also be a silent but severe performance cost, when the optional/provided methods are able to be implemented more effi

[2022-04-16 18:32] jrmuizel opened #8713 "cargo clippy --fix doesn't remove dead code"
### Description

It would be nice if `cargo clippy --fix` could remove the code that it complains about being dead.

### Version

[code]

### Additional Labels

_No response_

[2022-04-16 19:56] Jarcho commented on #8712
`suspicious` is a little too strong for this in general. `(&mut *x).write(buf)` is definitely used. Limited to functions which only take a single `&mut` parameter without a return value would be reasonable for suspicious, but more than that and you risk running into a real false positive rate.

[2022-04-16 21:22] laralove143 commented on #8399
is there any updates on this?

[2022-04-17 07:16] beyarkay opened #8714 "Warn against having multiple `impl` blocks for the same struct and with the same bounds(?)"
### What it does

I'm not a weathered crustacean, but I got bitten the other day because I mistakenly created the same `impl` block twice in the same file but with different functions, and I didn't realise it for ages but kept on getting strange inconsistencies because of it.

So my file looked something like

[code]

I'm not sure if this is worth linting for to warn the user that this probably is

[2022-04-17 11:53] xFrednet commented on #8713
Hey, could you provide an example for this? The normal `dead_code` comes to mind, which is implemented in rustc. :upside_down_face:

[2022-04-17 12:05] jamesmcm commented on #2624
This should be addressed by #8422

[2022-04-17 12:06] xFrednet commented on #2624
Thank you for pointing that out @jamesmcm

[2022-04-17 12:06] #2624 closed

[2022-04-17 13:54] laralove143 opened #8715 "mistyped_literal_suffixes triggered for any integer that ends with _8 _16 _32 _64"
### Summary

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c60b770a54590341beeb254000231140

### Lint Name

mistyped_literal_suffixes

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

no denies

### Version

_No response_

### Additional Labels

_No response_

[2022-04-17 17:11] Serial-ATA commented on #7005
@rustbot claim

[2022-04-17 18:13] Serial-ATA commented on #7005
@camsteffen Would it be alright to include a large test asset for this? And should it go in the auxiliary folder?

[2022-04-17 18:48] #8618 closed

[2022-04-18 09:18] mikerite commented on #8715
How are those an example of false positives? It's like you copied the example from the [lint docs](https://rust-lang.github.io/rust-clippy/master/index.html#mistyped_literal_suffixes) and included it in your bug report.

[2022-04-18 09:31] laralove143 commented on #8715
they're still valid formatting though, especially with `0x00_00_16`

[2022-04-18 14:10] Jarcho commented on #8714
This would be an extension to `multiple_inherent_impl` which currently ignores generic arguments.

[2022-04-18 14:23] bigdogs opened #8718 "clippy --fix crash/panic"
### Summary

[code]

### Reproducer

Not sure how to reproduce it with minimal code, it just happen on my project after I updating my rust

### Version

[code]

### Additional Labels

_No response_

[2022-04-18 14:53] binggh commented on #8241
@rustbot claim

[2022-04-18 16:12] xFrednet commented on #8718
Hey, thank you for the report. Could you maybe provide a code snipped to reproduce this error? :upside_down_face:

[2022-04-18 17:56] davidbeesley opened #8719 "Warn about using Arc::new() when using the vec![value; size] macro."
### What it does

This lint would warn against using Arc::new in the vec![value; size] macro, because it computes the value once and then clones the value size times instead of generating a new Arc each of the size times.

If the user truly wants a vector of Arcs all pointing to the same arc, then they should make that obvious by constructing the arc before constructing the vector.

### Lint Name

[2022-04-19 13:01] #8083 closed

[2022-04-19 16:17] xTibor opened #8721 "manual_range_contains misbehaves when bounds have different signs"
### Summary

The `manual_range_contains` lint misbehaves when the upper and lower bounds of the range have different signs. There are four test cases in the reproducer:

- Test 1 - Upper and lower bounds are both positive. Suggestions are okay.
- Test 2 - Upper and lower bounds are both negative. Suggestions are okay.
- Test 3 - Upper bound is positive, lower bound is negative. Clippy misses this

[2022-04-20 00:35] llgerard opened #8722 "Await in tracing span"
### What it does

Check that while entered in a span, calls to `.await` are properly instrumented.

Extract from the documentation https://docs.rs/tracing/latest/tracing/struct.Span.html#in-asynchronous-code :

### Lint Name

uninstrumented_await_while_span_entered

### Category

correctness, suspicious

### Advantage

Correct span usage. Without instrumentation of the async task, it will wrongly

[2022-04-20 00:40] llgerard commented on #8722
One could do a rough check with `await-holding-invalid-type` but that wouldn't allow correctly instrumented async tasks.

[2022-04-20 07:33] jo-so opened #8723 "match_single_binding suggest wrong code"
### Summary

The code suggestion of clippy doesn't work.

[code]

### Reproducer

I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

### Version

[code]

[code]

### Additional Labels

_No response_

[2022-04-20 07:53] hellow554 opened #8724 "[FP] identity_op in front of if"
### Summary

The lint triggers, although the suggested code procudes a syntax error.

Problem is most likely, that the lint only views the if expression and not the whole one, e.g. it's a sum of (at least) three operands, where the first one is the identity (`0` in this case). But the expression is invalid without that, because that's how `if` is parsed in rust right now.

### Lint Name

identity_

[2022-04-20 09:39] Nugine opened #8725 "Forbid Not operator (`!`)"
### What it does

Forbid the usage of not operator (`!`) in `if $expr`, `while $expr` and `assert!($expr)`.
Use `.not()` instead. (`std::ops::Not`)

### Lint Name

not_operator_used

### Category

style

### Advantage

`.not()` is more conspicuous than `!` and looks continuous.

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-04-20 11:15] Serial-ATA commented on #8723
@rustbot claim

[2022-04-20 11:21] Serial-ATA commented on #8725
This should definitely be in the restriction category

[2022-04-20 15:52] irevoire commented on #8662
Hello, I don't know if we're supposed to do something specific, but it's still failing in the CI for us with the [action-rs](https://github.com/actions-rs/toolchain) thingy;
https://github.com/meilisearch/meilisearch/runs/6097361418?check_suite_focus=true

[2022-04-20 16:24] Jarcho commented on #8662
The fix is only on nightly, not stable.

[2022-04-20 17:20] xFrednet commented on #8725
This sounds like a specialization of https://github.com/rust-lang/rust-clippy/issues/6286, I would like to have one lint for all operators which is configurable. Then we could also have it in the pedantic group. But the implementation will be a bit more work :sweat_smile: :upside_down_face:

[2022-04-20 17:31] #8695 closed

[2022-04-20 19:30] goth-turtle commented on #6632
@rustbot claim

[2022-04-21 00:43] #8241 closed

[2022-04-21 08:20] #8352 closed

[2022-04-21 13:12] bigdogs commented on #8718
@xFrednet Hi, Thank you for the support.  But I'm sorry about that I can't reproduce this crash now :(

[2022-04-21 13:42] tamaroning commented on #8724
@rustbot claim

[2022-04-21 14:13] tamaroning commented on #8724
This kind of false positives is true for other expressions (e.g. `match`).
And the folowing code compiles.
[code]

Which is better, not triggering the lint, or triggering the lint and suggesting using `(` `)`?
Anyone has some idea?

[2022-04-21 16:14] tamaroning commented on #8724
@xFrednet
Thanks for your advice!

BTW, is there any way to make sub expression not be visited?
If I use `LateLintPass::check_expr` against `let _ = 0 + if b { 1 } else { 2 } + if b { 3 } else { 4 };`,
both `0 + if b { 1 } else { 2 } + if b { 3 } else { 4 }` and `0 + if b { 1 } else { 2 }` are visited.
I want to make `0 + if b { 1 } else { 2 }` not to be visted because this form should trigger the

[2022-04-21 17:04] Serial-ATA commented on #7318
@rustbot claim

[2022-04-21 18:19] #7318 closed

[2022-04-22 01:46] tamaroning commented on #8724
I found this can be done by `walk_expr`

[2022-04-22 07:48] xFrednet commented on #8718
Weird, it could be that this was fixed or it just was an issue with caching? Would it be alright with you if we close the issue? There is little we can do right now, and it's always easy to reopen it. :upside_down_face:

[2022-04-22 08:28] #8718 closed

[2022-04-22 12:47] Kage-Yami opened #8732 "`redundant_pub_crate` FP for macro definition"
### Summary

I've written an "internal" macro in my crate, and don't want it to be exported at the root/publicly, so instead of annotating it with `#[macro_export]`, I've added `pub(crate) use bit;` after the definition. Following the recommendation from `clippy::redundant_pub_crate` to remove `(crate)` prevents the crate from compiling because the macro:

### Lint Name

redundant_pub_crate

### R

[2022-04-22 12:51] Kage-Yami commented on #8732
(Updated OP to add missing `#![warn(clippy::nursery)]` into `lib.rs`; lint won't trigger otherwise.)

[2022-04-22 12:59] Kage-Yami commented on #8732
And it turns out I can't even explicitly allow it at the usage site, because then `clippy::useless_attribute` fires (which would also be a FP?), which is deny-by-default.

Though it does work if I then allow `clippy::useless_attribute`. 😂

[code]

[2022-04-22 15:47] cowlicks opened #8733 "Suggest using string.lines() when string.split("\n"), or string.split("\r\n") is seen"
### What it does

Suggest replacing `string.split("\n")`, `string.split('\n')`, and `string.split("\r\n")` with `string.lines()`.

Note that clippy throws a [`single_char_split` warning](https://rust-lang.github.io/rust-clippy/master/index.html#single_char_pattern) for `string.split("\n")` which should be updated to this.

### Lint Name

non_portable_line_iteration

### Category

suspicious, style

[2022-04-22 18:13] tvallotton opened #8734 "Clippy --fix panics with index error"
### Summary

`cargo clippy --fix` causes an index error.

### Reproducer

I pushed the code that causes the error to [this repo](https://github.com/tvallotton/chess), so you can reproduce it. The error was triggerd by `cargo clippy --fix`. Note that this does not seem to panic in stable.

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-04-22 18:19] tvallotton commented on #8734
it looks like its related to #8718.

[2022-04-22 18:26] mikerite commented on #8733
It's not equivalent.
[code]
gives
[code]

Even when the line endings aren't mixed,  `lines` doesn't include the empty element after the final `\n`.

[2022-04-22 18:37] xFrednet commented on #8734
Hey, thank you for the report. This looks like the linked issue. Could you provide the Stacktrace, by setting `RUST_BACKTRACE=1`? :upside_down_face:

[2022-04-22 21:29] tvallotton commented on #8734
I get. You can also try to replicate it yourself on [this repo](https://github.com/tvallotton/chess/tree/clippy-fix-panic)
[code]

[2022-04-22 21:48] Serial-ATA commented on #8732
@rustbot claim

[2022-04-22 23:13] Serial-ATA commented on #8734
Looks like it's coming from the `map_flatten` lint here: https://github.com/tvallotton/chess/blob/98b01208e95173388cf4f781cc83bb414bb3bf55/src/table.rs#L73

It doesn't like the long multiline suggestions.

For example, this works:

[code]

While this causes the panic:

[code]

Works just fine in stable, so it's likely #8520

[2022-04-23 08:12] InfRandomness commented on #8608
@rustbot claim

[2022-04-23 11:26] xFrednet commented on #3176
Hey @goth-turtle, just a warning. Clippy has some problems dealing with cfg attributes, as they are not preserved as part of the AST/HIR. This behavior is actually defined in the rust reference (IDK why though). I'm pretty sure that there is currently no good way to implement this lint. At some point, we have to find a solution to deal with cfg attributes, as they also mess with some other lints.

[2022-04-23 13:49] tamaroning commented on #8480
@rustbot claim

[2022-04-23 13:49] tamaroning commented on #8513
@rustbot claim

[2022-04-23 17:38] Serial-ATA commented on #8734
This is actually a Cargo issue. https://github.com/rust-lang/rustfix/commit/635eef76315c389017b1d41f443db50c89a8a2ba didn't make it into rustfix 0.6.0, which Cargo depends on. Just have to wait for a new release.

[2022-04-23 17:52] goth-turtle commented on #3176
Ah, thanks for letting me know!

[2022-04-24 05:19] Crzyrndm opened #8739 "Incomplete suggestion combines poorly with other tools (rust-analyzer)"
### Summary

Summary:
* `clippy::while_let_loop` suggests a replacement where the body of the if is not included. Note that `cargo clippy --fix` doesn't update anything
* rust-analyzer sees the suggestion and ends up removing the body of the `if` when user doesn't fully comprehend the suggested action

Unknown if while_let_loop is the only clippy lint to include this behaviour (incomplete suggeste

[2022-04-24 09:58] repi commented on #3689
We ran into this as well when compiling to `wasm32-unknown-unknown`:

[code]

following this suggestion leads to:

[code]

would be great fox fix this in the lint, we do find it useful and works well for all other code we have.

[2022-04-24 10:24] repi commented on #8505
Would love to see this! We are using `undocumented_unsafe_blocks` by default and this is an important gap in its coverage

[2022-04-24 10:48] repi commented on #7958
Would be great to be able to esp. filter on the version the lint was introduced, use that quite frequently to test lints in newer Rust versions.

[2022-04-24 11:54] InfRandomness opened #8740 "needless option take improvement"
### What it does

The lint already exists but it needs an improvement in the way it detects temporaries :
Currently, it matches a DefId against `&["core", "option", "Option", "as_ref"]`, while this works, this can give false negatives on temporary bindings.
The way we want that to work instead if described here : https://github.com/rust-lang/rust-clippy/pull/8665#issuecomment-1103939951

Upstream

[2022-04-24 12:04] repi commented on #6625
Yes this works, we enable the lints for the full repository and all crates by default in `.cargo/config` (with this [section](https://github.com/EmbarkStudios/rust-ecosystem/blob/main/lints.toml)), and then for specific crates one can still do top level or mod specific `#![allow(clippy::xx)]` that will override the command-line lints.

So it is the closest we've found to a solution before having a

[2022-04-24 12:20] goth-turtle commented on #6129
@rustbot claim

[2022-04-24 12:22] #8732 closed

[2022-04-24 12:38] kleinesfilmroellchen commented on #6902
I can reproduce this as well. Shouldn't clippy not apply this lint (and others) on impls and functions marked as `#[automatically_derived]`?

[2022-04-24 12:57] #8480 closed

[2022-04-24 13:46] matthiaskrgr opened #8741 "false negative write_with_newline: format string that starts with \n"
### Summary

If a format string starts with a `\n`, the lint does not seem to fire.
I had a quick glance at the lint code but I didn't see anything that would indicate that this is intentional.

### Lint Name

clippy::write_with_newline

### Reproducer

I tried this code:

[code]
would expect a warning here since we can write `writeln!(s, "\n{}")`

### Version

[code]

[2022-04-24 15:20] Serial-ATA commented on #8741
@rustbot label +good-first-issue

[2022-04-24 15:21] Serial-ATA commented on #3689
@rustbot label +good-first-issue

[2022-04-24 15:21] Serial-ATA commented on #8721
@rustbot label +good-first-issue

[2022-04-24 15:22] Serial-ATA commented on #8719
@rustbot label +good-first-issue

[2022-04-24 16:12] TennyZhuang commented on #8741
@rustbot claim

[2022-04-24 17:01] TennyZhuang commented on #8741
Here are some positive test cases:

[code]

It seems that write! with multiple \n is allowed by the rule, and it seems like a feature not a bug? I'm not sure whether to fix it.

The variable `has_internal_newline` produces the result.

[2022-04-24 17:13] repi commented on #8601
`f64` can indeed store a larger value than `u64`, so an `as` cast can be lossy and truncate high values, as @mikerite showed.

So think the lint is working correctly in this case and that this issue can be closed

[2022-04-24 17:16] matthiaskrgr commented on #8741
Hmm, so it looks like we bail out as soon as there's more than one `\n`?
I agree that it doesn't bring much value to change `write!(.."\n\n")` to `writeln!(.."\n")` but it also doesn't look like we have an explicit `\n{]\n` test :)
In my case the example was a bit longer originally like
[code]

[2022-04-24 17:48] TennyZhuang commented on #8741
I’m not sure whether it’s better that only allow multiple line-breaks at the end, instead of allow an internal/begin line-break and a line-break at the end.

[2022-04-24 17:49] TennyZhuang commented on #8741
If the answer is yes, I’d like to implement it :(

[2022-04-24 19:14] Serial-ATA commented on #7958
I'll give the version filter a shot

[2022-04-24 19:52] xTibor opened #8745 "`manual_range_contains` doesn't catch multiple range checks in `&&` expressions"
### Summary

When there are two or more range checks in `&&` expressions Clippy only catches the first instance of them. Similar `||` expressions are not affected by this issue.

### Lint Name

manual_range_contains

### Reproducer

[code]

### Version

[code]

[2022-04-24 20:33] #6129 closed

[2022-04-24 21:45] Alexendoo commented on #8741
FWIW there's a pending rewrite of `write.rs` in #8518, I kept the behaviour of ignoring strings that contain multiple newlines, personally I think it's clearer that way

We could also ask the author of #3138 😉

[2022-04-24 22:05] matthiaskrgr commented on #8741
:rofl: I don't even remember writing that... it has been some time

[2022-04-24 23:20] goth-turtle commented on #8684
@rustbot claim

[2022-04-25 01:36] Serial-ATA commented on #8739
The body is intentionally left out, I'd say this is a RA issue.

https://github.com/rust-lang/rust-clippy/blob/388e6b78544de7cf0423ae93074d0d82b70f10a5/clippy_lints/src/loops/while_let_loop.rs#L83-L88

[2022-04-25 07:02] hellow554 commented on #8556
I have a "use in the wild" example from the [base64 crate](https://github.com/marshallpierce/rust-base64/blob/57468a674f37bb02403b878e33abb688ea8945f0/src/engine/fast_portable/mod.rs#L203-L217):

[code]

but it's practially the same. `alphabet` is used as an index to an array which triggers the lint.

[2022-04-25 07:38] hellow554 opened #8746 "Suggestion: use rust-version field"
### Description

There is a "new" field in the `Cargo.toml` that can be used to specify the minimum supported rust version: [`rust-version`](https://doc.rust-lang.org/cargo/reference/manifest.html#the-rust-version-field)

This feels somewhat redundant to the `msrv` in the `clippy.toml` file: https://github.com/rust-lang/rust-clippy/blob/master/README.md#specifying-the-minimum-supported-rust-versio

[2022-04-25 14:30] matthiaskrgr opened #8748 "ICE: None in shadow.rs"
### Summary

[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-04-25 17:44] #7005 closed

[2022-04-25 19:10] Jarcho commented on #7817
These aren't equivalent expressions. `&[x]` moves `x` into an array, then takes a reference to that temporary array. `slice::from_ref(&x)` makes a slice reference with the same lifetime as `x`.

Even for `Copy` types this is a problem in the following example:
[code]
Switching to using `&[x]` results in `error[E0716]: temporary value dropped while borrowed` as the temporary array is dropped at the

[2022-04-25 20:29] Crzyrndm commented on #8739
https://github.com/rust-lang/rust-analyzer/pull/12075
^^ Seems to be the RA resolution

[2022-04-25 20:29] #8739 closed

[2022-04-25 20:31] josephlr commented on #7881
I also ran into this issue when using a `FnOnce`-based API. Is the solution here to fix the Clippy lint, or to have `extern fn()` implement `FnOnce()`?

[2022-04-26 00:23] #6437 closed

[2022-04-26 02:23] arieluy commented on #8721
@rustbot claim

[2022-04-26 07:13] Fuuzetsu commented on #8662
Are clippy point-releases a thing or does everyone affected by this that's not using nightly compiler have to wait for Rust 1.61?

[2022-04-26 11:25] TennyZhuang commented on #7817
Got it, so they are not same

[2022-04-26 11:25] #7817 closed

[2022-04-26 12:38] hellow554 opened #8750 "#[allow(clippy::all)] doesn't cover clippy::pedantic"
### Summary

When you want to generate code via `bindgen`, you typically have something like this in your `lib.rs`

[code]

To void all sorts of compiler warnings you add `#[allow(...)]` on that `bindings` mod.

Problem is, although `clippy::all` is specified, lints from the pedantic category don't fall into that group.

### Reproducer

I tried this code ([Playground](https://play.rust-lang.org/?v

[2022-04-26 12:54] mikerite commented on #8750
I asked on Zulip what generated code should do to silence all lints a while ago - [link](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/Allows.20in.20generated.20code/near/246552338). The answer I got was `#![allow(clippy::all, clippy::pedantic, clippy::restriction, clippy::nursery)]` .

[2022-04-26 13:00] sukyoungjeong-furiosa opened #8751 "unnecessary_move lint, removing move with no effect"
### What it does

clippy reports no warnings for unnecessary `move` keyword, such as:
[code]
Here `move` is unnecessary since there's no reference capture.

If a lint for above is acceptable, we may also have some warnings for belows.

[code]

or

[code]

### Lint Name

unnecessary_move

### Category

style

### Advantage

- Brings minimalism.

### Drawbacks

_No response_

### Example

[code]

Co

[2022-04-26 13:10] hellow554 commented on #8750
Thanks for the link! :)

I'm not sure if that's a good way though. `clippy::all` doesn't cover all clippy lints seems odd to me.

[2022-04-26 14:23] matthiaskrgr commented on #8750
I think "all" just means the "default" lints, and everything that you enable "manually" also will have to be silenced manually.

`clippy::default` might be a more appropriate lint group name but I would not want to deal with the fallout of renaming it... 🙃

[2022-04-26 22:42] Serial-ATA commented on #8603
@rustbot label +good-first-issue

[2022-04-26 22:42] Serial-ATA commented on #8530
@rustbot label +good-first-issue

[2022-04-27 00:27] #8613 closed

[2022-04-27 09:31] magnusja opened #8753 "[maybe] false positive on clippy::needless-collect"
### Summary

I think clippy has a false positive on clippy::needless-collect

See also this thread  https://gitter.im/rust-lang/rust?at=62690723d30b6b44ebbfcd12

### Lint Name

clippy::needless-collect

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
nothing, should be ok

### Version

[code]

### Additional Labels

_No response_

[2022-04-27 10:03] #7812 closed

[2022-04-27 10:03] #8416 closed

[2022-04-27 10:03] #8091 closed

[2022-04-27 10:07] matthiaskrgr opened #8755 "suggest replacing let else with ? statement where applicable"
Sorry, filed via mobil which doesn't know about issue templates. 😅

might be nice if clippy could lint patterns like this: https://github.com/rust-lang/rust/pull/96471

[2022-04-27 16:15] est31 commented on #8755
I guess the `question_mark` lint could be extended to handle this case? Also, maybe one needs to watch out to not suggest let-else first (#8437) to then suggest `?`, but suggest `?` right away. IDK how conflicts like this are handled.

[2022-04-28 04:25] digama0 opened #8756 "`redundant_pub_crate` false positive on local macros"
### Summary

This is similar to #8732, but it triggers even without a re-export. Here we are defining a module-scoped macro `foo` inside private module `test`, and the error message says that it is a `pub(crate)` macro (which is false, you can't access the macro from another file even if `test` was pub because it is not `#[macro_export]`), and you should use `pub` instead (which does not match the

[2022-04-28 07:12] aldhsu opened #8757 "`trait_duplication_in_bounds` lint doesn't consider generics"
### Summary

@giraffate caught this issue in https://github.com/rust-lang/rust-clippy/pull/8703 PR which is based on the TRAIT_DUPLICATION_IN_BOUNDS lint.

### Lint Name

TRAIT_DUPLICATION_IN_BOUNDS

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

No linting error as while the same trait is used, the concrete type argument it is applied to is

[2022-04-28 10:50] Serial-ATA commented on #8756
@rustbot claim

[2022-04-28 12:11] MrMuetze commented on #6610
My team just stumbled over this problem and we were wondering if we could supply any more information to help solve this issue? Crate wide clippy configuration is quite important for us :)

[2022-04-28 12:17] ijackson opened #8758 "dbg-macro should tolerate use of dbg! in tests (redux, even with --tests)"
### Summary

`cargo clippy --tests -- -D clippy::dbg-macro` complains about use of `dbg!` in modules marked `#[cfg(test)]`.

(In #8481 I reported this false positive for test functions themselves and that was fixed in #8500, but the problem remains in non-test-entrypoint functions in test modules.)

### Lint Name

dbg-macro

### Reproducer

I tried this code:

[code]

and ran `cargo clippy --locke

[2022-04-28 13:02] flip1995 commented on #6610
This PR https://github.com/rust-lang/rust-clippy/pull/8518 will reduce the amount of lints that are affected by this issue to this set of lints:

    DEPRECATED_CFG_ATTR,
    MISMATCHED_TARGET_OS,
    EMPTY_LINE_AFTER_OUTER_ATTR,

Are you affected by one of those lints? If not #8518 should fix your issue.

We know why this happens, fixing this is just a huge amount of work or partly impossible, un

[2022-04-28 13:04] MrMuetze commented on #6610
Oh perfect, thank you for the quick heads up. I was not aware of PR #8518 and how it would affect this issue. We do not use the lints you mentioned, so we should be golden as soon as that is merged :)

[2022-04-28 13:23] dswij commented on #7881
Actually, just tried this with #8431, the changes introduced in #8431 doesn't seem to cover `extern fn`

[2022-04-28 21:37] crumblingstatue opened #8759 "unnecessary_to_owned false positive"
### Summary

[code]

Clippy output:

[code]
If we apply the suggestion, rustc output:
[code]

### Version

[code]

[2022-04-28 22:36] laralove143 opened #8760 "lint to check redundant propagation"
### What it does

in a caller function that returns the same type as the called function, it checks if the caller function propagates the function and  returns the `Ok` value the called function would return

### Lint Name

redundant_propagation

### Category

pedantic

### Advantage

- reduce code length to just a line
- avoid possible overhead because of the implicit `into` call by `?`
- make th

[2022-04-29 00:03] tcharding commented on #6610
Thanks for your efforts on this and also the explanations. Can be closed or left open as you think best suits the project.

[2022-04-29 07:20] MightyPork commented on #5404
I would actually be interested in the opposite lint of the proposal here, a lint warning about the old syntax in format macros. It could even have automatic fix available.

[2022-04-29 16:35] laralove143 commented on #8715
is anyone tracking this

[2022-04-29 21:29] yonip23 commented on #8719
Hello there!
Im interested in contributing to clippy, and this seems like a nice start.
A few questions though:
1. Is it ok to take over this lint? I'll be progressing quite slowly unfortunately, due to luck of free time..
2. If there can be anyone available for questions along the way that'd be delightful, please!
3. Regarding the lint itself - isn't it the case for anything that impls `Clone`? A

[2022-04-30 00:11] Serial-ATA commented on #8719
@yonip23 Welcome!

1. Yep, no rush.
2. You can ask on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy), either I or someone else will try to answer you within a day or so.
3. Yes, but in this case the behavior could be surprising. This should go in the `suspicious` category.

[2022-04-30 01:09] yonip23 commented on #8719
Thanks a lot!

[2022-04-30 01:28] Serial-ATA commented on #8756
Pretty sure https://github.com/rust-lang/rust-clippy/pull/8736 fixed this, I can't reproduce it.

[2022-04-30 04:24] digama0 commented on #8756
Just pulled the latest rustc, the issue still seems to happen:
[code]

[2022-04-30 16:56] alexzanderr opened #8765 "missing double quote in source example on master folder in `large_include_file` lint"
### Description

if you go on this url: https://rust-lang.github.io/rust-clippy/master/index.html#large_include_file

you will see that the source example has a missing `"`:
[code]

please fix that, because im making a program that validates that source code and i need it to compile.

i know that its an insignificant issue, im sorry, but my program will fail.

so take your time.

### Version

_No

[2022-04-30 17:00] xFrednet commented on #8765
@rustbot claim

[2022-04-30 17:06] xFrednet commented on #8765
Hey @alexzanderr, thank you for the report. I've created a PR to fix this. For your tool it would probably be good to ignore example code blocks that are marked with `ignore`.

Out of interest, would you mind providing some more information about the tool you're creating? It sounds interesting :upside_down_face:

[2022-04-30 17:06] #8708 closed

[2022-04-30 17:11] alexzanderr commented on #8765
cargo-clippy-explain

its a tool that does web scraping for a lint and gets the examples and explanations which then will be syntax highlighted and a little beautyfied in the terminal.

since the text in the artcile tag has no classes and no ids,
i need to identify which lines from example are `valid rust source code`, so im compiling the code to see if `let some_vec = vec![0, 1, 2, 3];` its rust

[2022-04-30 17:11] #8765 closed

[2022-04-30 17:31] xFrednet commented on #8765
In rust doc everything is expected to be valid rust code unless a different language is specified. You could also try to use `cargo collect-metadata` in our repo, that will give you a json file with all lint information that is available over on [Clippy's lint list](https://rust-lang.github.io/rust-clippy/master/index.html)

We actually also want to add the lint documentation to Clippy's TUI as we

[2022-04-30 17:34] alexzanderr commented on #8765
i dont mean that

look at this
![image](https://user-images.githubusercontent.com/54772464/166116170-f9ad99dc-abb2-4a3e-98bf-1eb34e715260.png)

how am i supposed to know which line is rust example and which line is just plain text that tells something if the source code in html is like this
![image](https://user-images.githubusercontent.com/54772464/166116188-b59dbdef-cf6d-4295-9e12-675fec1a6453.p

[2022-04-30 17:36] alexzanderr commented on #8765
how do i run this command `cargo collect-metadata` in your repo ?

[2022-04-30 17:36] #7799 closed

[2022-04-30 17:37] xFrednet commented on #8765
The JSON contains normal markdown, the rest is just styling. In markdown code blocks are marked with backticks like this:

[code]

[2022-04-30 17:37] alexzanderr commented on #8765
before this convo, i havent looked at the json, was trying to scrape from the website

[2022-04-30 17:37] xFrednet commented on #8765
Just checkout the master and run `cargo collect-metadata` that should so everything for you, including downloading the correct nightly compiler etc. Or you can fetch it online from: <https://github.com/rust-lang/rust-clippy/blob/gh-pages/master/lints.json>

[2022-04-30 17:40] alexzanderr commented on #8765
will be on github

after being a great tool, i will PR into default clippy

[2022-04-30 17:40] alexzanderr commented on #8765
you mean clippy CLI.

[2022-04-30 17:41] xFrednet commented on #8765
Yes, I mix up the terms sometimes :sweat_smile:

[2022-04-30 17:42] alexzanderr commented on #8765
we can talk on discord, instead of spamming here, you can add me here `alexzander#5442`

[2022-04-30 18:14] marshallpierce opened #8768 "Is it possible to allow `single_component_path_imports` for an individual `use`?"
### Summary

I use `rstest_reuse`, which [requires](https://docs.rs/rstest_reuse/0.3.0/rstest_reuse/#cavelets) being `use`d at the top level of the crate because of how its macros work. The `single_component_path_imports` lint (correctly) flags this, but I need it to be that way, and I can't figure out how to allow that lint for just that one `use`. I can disable the offending lint globally with `

[2022-05-01 02:20] tamaroning commented on #8758
@rustbot claim

[2022-05-01 02:52] dtolnay opened #8770 "type_repetition_in_bounds makes incorrect suggestion for ?Sized bounds"
### Summary

Clippy suggests combining `T: ?Sized` + `T: TheOtherBound` into `T: Sized + TheOtherBound`.

### Reproducer

[code]

[code]

I guess clippy is suggesting either `fn f<T: Sized + Clone>() {}` or `fn f<T>() where T: Sized + Clone {}`. Neither of those is equivalent to what was originally written. The `?` is missing.

### Version

[code]

### Additional Labels

_No response_

[2022-05-01 02:59] dtolnay opened #8771 "type_repetition_in_bounds + trait_duplication_in_bounds false positive on signature containing double impl Trait"
### Summary

Clippy makes a suggestion to write `impl Trait: Trait + Trait` which does not make sense.

### Lint Name

type_repetition_in_bounds and trait_duplication_in_bounds

### Reproducer

[code]

[code]

### Version

[code]

### Additional Labels

_No response_

[2022-05-01 04:16] dtolnay opened #8772 "type_repetition_in_bounds should pay attention to msrv when ?Sized bound is involved"
### Lint Name

type_repetition_in_bounds

### Reproducer

[code]

[code]

[code]

Clippy prefers I guess one of the following signatures instead:

[code]

The first one is great on modern compilers, but is a parse error on Rust 1.14 and older. Meanwhile, the second is not an improvement in my opinion. The bounds next to a type parameter (as opposed to in a where-clause) are only meant to be used f

[2022-05-01 07:05] amircodota commented on #8771
Same for me

[code]

error: this type has already been used as a bound predicate
   --> tabnine/lsp/src/language_server_transport.rs:286:26
    |
286 |     mut log: Option<impl Write>,
    |                          ^^^^^
    |
    = note: `-D clippy::type-repetition-in-bounds` implied by `-D clippy::pedantic`
    = help: consider combining the bounds: `impl Write: Write + Write`
    = help: for f

[2022-05-01 08:04] danieleades commented on #8629
this is causing a false positive in [`rust-base64`](https://github.com/marshallpierce/rust-base64) - https://github.com/marshallpierce/rust-base64/issues/188

[2022-05-01 11:31] Voodlaz opened #8773 "Destruction of tuples in a different line that can instead happen right in closure arguments"
### What it does

You don't need to write another line of code destructuring the tuple given out by closure arguments, you can do it right in the argument

### Lint Name

unnecessary tuple destruction line

### Category

style

### Advantage

- improves readability a bit
- removes unnecesary line of code
- helps new users who don't know you can destructure tuples right in closure arguments
- simpl

[2022-05-01 15:26] Alastair-smith2 commented on #8603
@rustbot claim

[2022-05-01 15:37] binggh commented on #8530
@rustbot claim

[2022-05-02 06:01] dswij commented on #8548
@rustbot release-assignment

[2022-05-02 06:18] infmagic2047 commented on #8719
I believe this lint could apply equally to `Rc` as well.

[2022-05-02 13:49] CPerezz opened #8775 "ICE found while compiling workspace"
### Summary

I haven't been able to create a minimum example to reproduce this.
The only thing I've been able to check is that the error is consistent and happens at each execution.

To reproduce, fetch https://github.com/appliedzkp/zkevm-circuits at commit: `2ba42e8fadcd6a10b4440f42d5abdefe9571524e` and run `make test-all`. This triggers clippy for each workspace member (takes less than 30 sec to

[2022-05-02 14:58] jplatte opened #8776 "explicit_outlives_requirements lint triggers in macro-generated code"
### Summary

The `explicit_outlives_requirements` lint seems to fire in macro-generated code, where it would be extra work to elide these. Saw this happen in CI for Ruma: https://github.com/ruma/ruma/runs/6258852689?check_suite_focus=true

### Lint Name

explicit_outlives_requirements

### Reproducer

* Clone [Ruma](https://github.com/ruma/ruma)
* Run `cargo clippy --features client` in `crates/ru

[2022-05-02 15:00] jplatte commented on #8776
Oh, this is not a even clippy lint, it's builtin! Sorry for the noise.

[2022-05-02 15:03] jplatte commented on #8776
Moved to https://github.com/rust-lang/rust/issues/96640.

[2022-05-02 16:35] umanwizard opened #8777 "False positive for `await_holding_lock` on Rust 1.61 beta"
### Summary

This program triggers `await_holding_lock`, but the lock is not actually held across an await point (it is dropped at the end of its enclosing scope, which is the block in the condition position of the `while let` loop).

[code]

### Lint Name

_No response_

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

(no output)

### Versio

[2022-05-03 07:21] #8724 closed

[2022-05-03 14:20] alexzanderr opened #8781 "lint `cast_slice_different_sizes` has missing `### What it does` and my tool crashes again"
### Description

if you look at the json for this lint
[code]
on the key `docs` the string is missing a ` ### What it does\n` at the beginning
you can also see that on the website: https://rust-lang.github.io/rust-clippy/master/#cast_slice_different_sizes

every other lint has ` ### What it does\n` in the beggining,
please fix it.

json file is from https://raw.githubusercontent.com/rust-lang/rust

[2022-05-03 15:40] link2xt commented on #1015
This will not work properly if test module contains helper functions that do `unwrap()` and `#[test]` function calls this helper function rather than `unwrap()`. Such lints should be disabled for the whole test module.

[2022-05-03 15:48] flip1995 opened #8782 "Improve only_used_in_recursion lint/testing"
I tried to read the code of the lint for over an hour and couldn't really follow what it is doing. I was also able to remove large junks of code from the visitor and the tests kept passing. This signals to me that the logic the lint code is following isn't really tested.

The tests that are there could mostly also be linted with simpler linting code. Also there is a test, that with slight modifica

[2022-05-03 16:27] WhyNotHugo opened #8784 "feature flag `if` not being taken into consideration"
### Summary

Code is here -> https://github.com/librespot-org/librespot/blob/650d41b020691fec6c7d2c90c0f6de91ac8635cf/discovery/src/lib.rs#L103-L126

For this block:

[code]

`clippy` reports `unneeded late initalization`. I think it can't "see" the that this feature-based `if` exists due to how the macro works.

### Lint Name

needless_late_init

### Reproducer

_No response_

### Version

[code]

[2022-05-03 17:27] Alexendoo commented on #8784
Surprising, the spans aren't marked as from expansion and have the root syntax context so I'm not sure how to detect this

The following compiles at least, so I can see why this is linting, but to a human it's wrong

[code]

[2022-05-03 18:39] Jarcho commented on #8784
For `cfg_if` specifically you don't need to declare anything in advance. This works just fine:
[code]

[2022-05-03 20:59] #8530 closed

[2022-05-04 04:39] llogiq commented on #1015
We now have an `is_in_test` function in `clippy_utils` that checks both function and module path.

[2022-05-04 05:12] arieluy commented on #6479
Should this be closed?

[2022-05-04 05:48] arieluy commented on #7147
@rustbot claim

[2022-05-04 09:25] fmease commented on #6479
I guess it should.
Closed via #7221.

[2022-05-04 09:25] #6479 closed

[2022-05-04 11:13] WhyNotHugo commented on #8784
Oooh, right... the fact that this is correct is very unintuitive... So I guess clippy is not stricly wrong here :thinking:

[2022-05-04 12:18] yonip23 commented on #8719
The pr is updated to support `Rc` as well
Thanks for pointing out 😃

[2022-05-04 13:45] #8521 closed

[2022-05-04 23:36] Serial-ATA commented on #8781
@rustbot label +good-first-issue +A-documentation

[2022-05-05 09:48] gengjiawen opened #8787 "warns on chars().nth(index)"
### Description

Similar to https://rust-lang.github.io/rust-clippy/master/index.html#iter_nth, but for string

Ref: https://www.reddit.com/r/rust/comments/tbsffu/why_charsnthindexunwrap_is_so_slow/

### Version

_No response_

### Additional Labels

_No response_

[2022-05-05 13:11] xFrednet commented on #8787
Hey @gengjiawen, thank you for the issue. Do you have an idea what `chars().nth(index)` should be replaced with? For `iter_nth` the user can use direct index access, however in this case, it's not possible to access a specific character in another UTF-8 save way AFAIK :upside_down_face:

[2022-05-05 13:49] gengjiawen commented on #8787
I think `let str_vec: Vec<char> = s.chars().collect();` should do, but you need do further work if original string contains non-ascii char.

[2022-05-05 16:41] davidbeesley commented on #8719
Just wanted to hop on and say thanks to @yonip23... pretty amazing to me that someone picked this up and that it's almost done two weeks later.

[2022-05-05 17:47] yonip23 commented on #8719
@davidbeesley I'm excited myself to contribute to this amazing project! Thanks for the shout-out, appreciate it 🙏

[2022-05-05 18:08] fedemartinezdev commented on #8574
@rustbot claim

[2022-05-05 18:10] fedemartinezdev commented on #8574
Hi @hrxi !
I am new to contributing to rust-clippy.
Could you tell me where can I find the associated lint so I can begin to take a look? Thanks !

[2022-05-05 18:23] alexzanderr commented on #8781
thanks.

[2022-05-05 19:13] xFrednet commented on #8574
Hey @fedemartinezdev, welcome to Clippy :wave:. In general we have [Clippy's lint list](https://rust-lang.github.io/rust-clippy/master/index.html) which I use a lot. In this case, I searched for `unwrap_or_default` and found [`or_fun_call`](https://rust-lang.github.io/rust-clippy/master/index.html#or_fun_call) which is the mentioned lint. This issue requires some detective work to see if any of th

[2022-05-05 19:32] rben01 commented on #8098
I think the correct fix-it here is to insert a reference to the closure? So that `|d| logic(d)` becomes `&logic` (and not just `logic`, which is the current fix-it).

[2022-05-05 22:52] wcampbell0x2a opened #8791 "Unexpected Panic: couldn't extract literal"
I run clippy nightly and saw a panic in my CI.

Here is the link to the CI job: https://github.com/rsadsb/adsb_deku/runs/6314734506?check_suite_focus=true

[code]

[2022-05-05 22:54] Serial-ATA commented on #8791
Looks like https://github.com/rust-lang/rust/issues/96721

[2022-05-05 22:55] wcampbell0x2a commented on #8791
I ran with `RUST_BACKTRACE`:
[code]

[2022-05-05 23:01] Serial-ATA commented on #8768
@rustbot claim

[2022-05-05 23:17] guswynn commented on #8098
@rben01 I think `&mut <a function name>` is a bit of a weird construct, and clippy pushing beginners towards that is probably not the best

[2022-05-05 23:37] Jarcho commented on #8791
This has been fixed as of #8788

[2022-05-05 23:44] yonip23 commented on #8733
@mikerite so what are you suggesting? Maybe this lint can go into the "pedantic" category, with an appropriate message stating that they're not equivalent, but maybe you can rewrite a bit in order to use the `lines` api?

[2022-05-05 23:46] yonip23 commented on #8733
Also, if this lint is still not taken I'd like to claim it 🙂
(Not sure if / what exactly needs to be done yet, but anyway haha)

[2022-05-06 00:41] #3689 closed

[2022-05-06 00:52] smoelius commented on #1015
Should this be configurable? I.e., is the change in behavior a concern?

[2022-05-06 02:40] rben01 commented on #8098
@guswynn In my opinion, if a beginner is already using the `FnOnce`, `Fn`, and `FnMut` traits, it would be both simplest and most correct for them to learn that (and why/how) those traits are nothing more than the callable analogs of `T`, `&T`, and `&mut T`, respectively. If anything, I find it more confusing that `|d| logic(d)` is magically `FnMut` — you sort of have to just know that unlike othe

[2022-05-06 04:12] mikerite commented on #8733
I think this lint shouldn't exist or it should go into restriction.

The line endings and final blank element won't matter 99% of the time. When it does, the suggestion introduce bugs.

[2022-05-06 04:29] nsunderland1 commented on #1781
| 3. If a type derives `PartialEq` but could also derive `Eq`, suggest deriving `Eq`.

I'm interested in taking this one on (and maybe `Ord` too, as far as I can tell from playing around it should be pretty much the same code), Can open a dedicated issue if you think it's needed.

[2022-05-06 11:38] xFrednet commented on #1781
Hey @nsunderland1, I don't think it's necessary to create a new issue. You can also assign yourself to this one with `@rustbot claim` and later release the assignment :upside_down_face:

[2022-05-06 15:11] nsunderland1 commented on #1781
Sounds good :)

@rustbot claim

[2022-05-06 22:18] scouten-adobe opened #8795 "Disallow `.map_err(...).ok()` pattern"
### What it does

I recently observed a code pattern where a `Result` was converted to an `Option` with an unnecessary `map_err` invocation along the way.

### Lint Name

map_err_ok

### Category

restriction

### Advantage

Removes a call to `map_err` where the error value that is generated is immediately discarded.

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-05-07 04:36] mikerite commented on #8795
The code in `map_err` might be called for side-effects so the lint would have to check for that.

[2022-05-07 12:44] #8759 closed

[2022-05-07 21:09] yonip23 opened #8798 "false positive in collapsible-span-lint-calls"
### Summary

I encountered this issue while working on a pr to this project: https://github.com/rust-lang/rust-clippy/pull/8769, by running `cargo test --features deny-warnings,internal`

### Lint Name

collapsible-span-lint-calls

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
No warning should have been printed, since I'm calling `.help` tw

[2022-05-08 03:56] nazar-pc opened #8800 "slow_vector_initialization should catch capacity call"
### Summary

Call to capacity is DRY approach to fill pre-allocated vector and should be treated the same way as explicit length

### Lint Name

slow_vector_initialization

### Reproducer

I tried this code:

[code]

I expected to see this happen:
[code]
Instead, this happened:
No warning

### Version

[code]

[2022-05-08 06:00] digama0 commented on #8757
Here are some more test cases for this issue:
[code]

[2022-05-08 15:17] #1015 closed

[2022-05-09 05:19] PatchMixolydic opened #8803 "Confusing `cmp_owned` false positive with `<u32 as From<midly::primitive::u28>>::from`"
### Summary

Unfortunately, I couldn't minimize it, but I tried linting [this code](https://github.com/PatchMixolydic/lyrica/blob/4e84c1163c769bebafa43a7f6a031933b096299f/src/lib.rs). Specifically, this is the area that gave me grief:

[code]

I saw this happen:

[code]

I expected to see this happen:

Nothing. This comparison is fine as-is since `u32: Copy`, and removing the deref fails to compil

[2022-05-09 05:36] Jarcho commented on #8803
`cmp_owned` trigger when `From::from` is used in a comparison which could be done without it. Over-zealous in this case as converting to a `u32` shouldn't ever need an allocation.

I would say the comparison is better done without the conversion anyways.

[2022-05-09 14:43] smoelius opened #8806 "Improve "unknown key" error message?"
### Description

Personally, I find this error message hard to read:
https://github.com/rust-lang/rust-clippy/blob/c3f3c588b0c776bb658ab8e3b803b409b4f63f44/tests/ui-toml/toml_unknown_key/conf_unknown_key.stderr#L1

I think it would be easier to read if the available keys were sorted and printed one per line.

Would you be open to a PR to improve this error message?

### Version

_No response_

###

[2022-05-09 15:21] Jarcho commented on #7374
This should have been fixed with #7215. Does it still occur?

[2022-05-09 18:08] lyang24 opened #8808 "[bug] compile panicked unexpectly at rustc_metadata"
this happens on a cargo build with one of our internal crates
[code]

[2022-05-09 20:34] dylni commented on #5404
This could be similar to [implicit\_return](https://rust-lang.github.io/rust-clippy/master/index.html#implicit_return) and [needless\_return](https://rust-lang.github.io/rust-clippy/master/index.html#needless_return), which both exist for both styles.

Also, this issue can now be unblocked.

@rustbot labels: -S-blocked

[2022-05-10 00:12] giraffate commented on #8808
Thanks for the report!

It seems to be duplicate of https://github.com/rust-lang/rust-clippy/issues/8254.

[2022-05-10 03:06] magicant opened #8810 "derive_hash_xor_eq not issued for struct with lifetime parameter"
### Summary

When I manually implement PartialEq and derive Hash for a single struct, I expect a derive_hash_xor_eq warning. However, if the struct has a lifetime parameter, clippy does not seem to issue this warning.

### Lint Name

derive_hash_xor_eq

### Reproducer

I tried this code:

[code]

I expected to see this happen: The code is rejected by the default-enabled lint `derive_hash_xor_eq`.

[2022-05-10 05:51] Maikel1963 opened #8811 ""needless borrow" for ISO_8859_1.decode does not compile"
In this code
[code]
clippy suggest to remove the & from "&content" in the "OK" arm.
But this does not compile.

[2022-05-10 08:07] hellow554 commented on #6920
There's this testfile https://github.com/rust-lang/rust-clippy/blob/master/tests/ui/min_rust_version_attr.rs and it seems that scoping is supported in some way.

It seems, that the inner attribute starts from that line on in the code, because if I move your `hi` function above `my_mod` the lint is triggered correctly.

[2022-05-10 09:15] jplatte opened #8812 "Lint suggestion: Path construction using format!"
### What it does

Suggest to create `PathBuf`s using `Path::join` (or maybe `PathBuf::push` in some circumstances) instead of string formatting.

### Lint Name

path_format

### Category

suspicious

### Example

[code]

could be written as

[code]

[2022-05-10 09:15] djc commented on #7374
Nope, has been fixed -- great, thanks for following up!

[2022-05-10 09:15] #7374 closed

[2022-05-10 12:33] #8719 closed

[2022-05-10 16:31] nsunderland1 commented on #1781
@rustbot release

#8796 implemented the `Eq` lint. `Ord` should be very similar, but happy to let someone else take that (or any of the other suggestions from OP) up.

[2022-05-10 22:47] Serial-ATA opened #8815 "`match_single_binding` suggestion potentially produces different behavior"
### Summary

The suggestion currently puts the bindings outside of the block, which can extend their lifetimes and potentially shadow other values.

### Reproducer

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:
[code]

### Version

[code]

### Additional Labels

@rustbot label +C-enhancement

[2022-05-10 22:50] Serial-ATA commented on #8806
@rustbot label +C-enhancement

[2022-05-11 07:29] ETKNeil opened #8816 "ICE : compiler/rustc_middle/src/ty/normalize_erasing_regions.rs:179:90: Failed to normalize"
While compiling a crate of mine, clippy panicked
Rust version:
[code]
Clippy version:
[code]
Error
[code]

[2022-05-11 07:36] xFrednet commented on #8806
I'm open to it, but this has also been bugging me a bit. Maybe we can have more than one field per line. :upside_down_face:

[2022-05-11 07:39] giraffate commented on #8816
Thanks for the report!

It's a duplicate of https://github.com/rust-lang/rust-clippy/issues/8662, so I'm closing this.

[2022-05-11 07:39] #8816 closed

[2022-05-11 07:41] ETKNeil commented on #8662
Minimal code example for my issue
[code]

[2022-05-11 15:32] skrapi opened #8817 "redundant_closure calls a tuple struct enum variant a function"
### Summary

Basically Clippy lint calls the tuple struct that I am using a function which is incorrect, and led to me being confused about what it wanted me to do.

### Reproducer

I tried this code:

[code]

I expected to see this happen:
Clippy should tell me that I can just call the tuple struct

Instead, this happened:
Clippy calls the tuple struct a function, which confused me.

[code]

###

[2022-05-11 16:26] SkyfallWasTaken opened #8819 "Auto-fix breaks code"
### Summary

When running `cargo clippy --fix`, clippy changes this:
cli/src/run_script.rs
[code]
to this:
[code]
which causes an error.

<details>
<summary>Full command log</summary><pre>
    Checking run_in_shell v0.1.0 (E:\projects\vortex\run_in_shell)
    Checking validate_package_name v0.1.0 (E:\projects\vortex\validate_package_name)
    Checking install_npm v0.1.0 (E:\projects\vortex\install

[2022-05-11 16:30] SkyfallWasTaken opened #8827 "Clippy Auto-fix causes error"
### Summary

When running `cargo clippy --fix`, clippy changes this:
cli/src/run_script.rs
[code]
to this:
[code]
which causes an error.

<details>
<summary>Full command log</summary><pre>
    Checking run_in_shell v0.1.0 (E:\projects\vortex\run_in_shell)
    Checking validate_package_name v0.1.0 (E:\projects\vortex\validate_package_name)
    Checking install_npm v0.1.0 (E:\projects\vortex\install

[2022-05-11 17:56] #8723 closed

[2022-05-11 18:54] PatchMixolydic commented on #8817
Technically, tuple struct constructors are functions. In this example, `MyError::A: fn(TryReserveError) -> MyError` (ignoring unique function types). However, this diagnostic (and others) should almost definitely say "tuple struct constructor" in this case to reduce confusion.

[2022-05-11 21:26] alice-i-cecile opened #8820 "Lint: function calls when using .expect on Result should be unwrap_or_else"
### What it does

Catches use of non-const function calls (like the format macro) within a `expect` method call on `Result`.

This should be replaced by `unwrap_or_else`, in order to avoid work being performed on the happy path.

### Lint Name

function_call_in_expect

### Category

perf

### Advantage

- The function called in the .expect call will be evaluated even when the method will not panic

[2022-05-12 04:11] cmichi opened #8821 "ICE for compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs:123:1"
### Summary

I'm getting the below ICE for the last clippy nightlies. I haven't bisected it in more detail, but it started some time after `nightly-2022-05-05` (that one doesn't have the ICE).

### Reproducer

I tried this code:

`Cargo.toml`:
[code]

`lib.rs`:
[code]

Then I executed `cargo clippy`.

I expected to see this happen: The clippy run should not panic.

Instead, this happened:

[code]

[2022-05-12 07:27] tomers opened #8822 "Suggest use of Option::filter()"
### What it does

I stumbled upon cases when developers are not familiar enough with all the functions that come with standard libs, such as `Option::filter()`. Instead, they program that functionality each time, which makes the code much more complex, error prone, and less readable.

### Lint Name

filter

### Category

style, complexity

### Advantage

- Reduces complexity substantially.
- Impro

[2022-05-12 18:49] MMukundi opened #8826 "Cargo clippy --fix error"
I tried this code:

[code]
In this repo: https://github.com/MMukundi/aoc

I expected to see this happen: Clippy successfully fixes lint issues

Instead, this happened: Clippy runs into a compiler error after fixing a linting issue; specifically, after changing
[code]
to
[code]
where
[code]
The expression thus far was of type `impl Iterator<Item = impl Iterator<Item=usize>>`
### Meta

`rustc --vers

[2022-05-12 20:03] Milo123459 opened #8824 "Add a suggestion for `format_push_string`"
### Description

Add a quickfix / suggestion for this lint.

### Version

[code]

### Additional Labels

_No response_

[2022-05-12 22:53] #8791 closed

[2022-05-13 00:06] giraffate commented on #8821
Thanks for the report!

Could you provide a backtrace?

[2022-05-13 07:17] cmichi commented on #8821
Ah yeah, ofc!

[code]

[2022-05-13 11:58] merelymyself commented on #8812
I would like to give this a shot. Could I confirm that something like [this](https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/format_push_string.rs) will work?

@rustbot claim

[2022-05-13 12:07] leiysky opened #8828 "Suggest use `to_string` rather than `format!("{}")`"
### What it does

Sometime, people are using `format!("{}")` to stringify an object, which can be rewritten in `.to_string()` to keep code clean.

### Lint Name

_No response_

### Category

style

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2022-05-13 12:27] smoelius commented on #8828
Could it be this already exists? https://rust-lang.github.io/rust-clippy/master/#useless_format

[2022-05-13 12:37] andylokandy commented on #8828
[`useless_format`](https://rust-lang.github.io/rust-clippy/master/#useless_format) only take effect if `foo` is a string, but it should be any type that implemented `Display`.

[2022-05-13 13:23] xFrednet commented on #8812
Yes, the basic idea is the same. You have to find a format macro where the output is used to create a `Path`. Depending on your implementation it could be good to first search for the path creation and than figure out where the string comes from :).

[2022-05-13 15:18] #8604 closed

[2022-05-13 16:15] Alexendoo commented on #8827
This happens because `run_script.rs` is added as a module twice under two different paths (the `..` isn't automatically resolved)

https://github.com/SkyfallWasTaken/vortex/blob/d94089a16eb2dbbec41d617b529213819465c834/cli/src/main.rs#L5
https://github.com/SkyfallWasTaken/vortex/blob/d94089a16eb2dbbec41d617b529213819465c834/cli/src/subcommands/run.rs#L1-L2

I guess rustfix is replacing the same ra

[2022-05-13 21:09] smoelius commented on #8828
LOL #697

[2022-05-13 22:55] InfRandomness commented on #8748
I want to take a look at this ?
Does anyone know if this has a fix to it already ?

[2022-05-13 23:24] PierreAntoineGuillaume opened #8829 "clippy::option_if_let_else false positive when mapping to another type"
### Summary

I guess clippy::option_if_let_else should not be suggested here, because the branch yields an Output variant, and not a string slice as suggested.

### Lint Name

clippy::option_if_let_else

### Reproducer

[I tried this code in rust playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0bb1cc0624afd3eb56bbd0b442f43a4a):

[code]

I saw this happen:

[code

[2022-05-14 05:04] mikerite commented on #8829
You can't see the mapping argument in the suggestion because it's cut off.

I think it wants you to do this:
[code]

Once that's done it will start warning about the left over `if let`s.

[2022-05-14 06:16] Snowapril opened #8830 "`ICE` found in `compiler/rustc_middle/src/ty/normalize_erasing_regions.rs:179:90`"
### Summary

While working on this branch(https://github.com/snowapril/rustpython/tree/impl_contextvar commit(ca956fc16c497b4b7b7ccce534068569c3ce1266)), I met ICE issue.
Here is full output of clippy.
[code]

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-05-14 07:18] llogiq commented on #8748
I'm on mobile right now, but you can check if the shadow tests or the ice tests contain the above or a similar example (in the latter case, check the issue number). If no, you could at least make a PR to add the missing test, and perhaps a fix if the test fails.

[2022-05-14 07:37] matthiaskrgr commented on #8830
sounds like a rustc bug.
This probably also ICEs with `-Zmir-opt-level=3 --emit=mir` or something like that.

[2022-05-14 07:40] matthiaskrgr commented on #8748
Nope, not fixed yet, all yours, if you want :wink:

[2022-05-14 08:28] InfRandomness commented on #8748
@rustbot claim

[2022-05-15 00:55] Jarcho commented on #8811
I can't reproduce that using:
[code]

What version of clippy are you using?

[2022-05-15 08:45] Maikel1963 commented on #8811
I have clippy version 0.1.60
that's strange:
I took your code and started to rewrite my function. And now clippy does not complain.
But I cannot spot any differences in the source code.

Thanks for your help.

[2022-05-15 08:45] #8811 closed

[2022-05-15 15:36] est31 opened #8834 "lint for ? kleene operator"
Often macros have an extra rule just to support trailing ,. It would be nice if clippy could recognize rules that do nothing but call the macro itself again, just with the trailing , removed. Then, clippy could suggest adoption of `?`.

[2022-05-15 21:36] Jarcho commented on #8484
The lint has been renamed to `mixed_read_write_expression` as of #8621.

[2022-05-15 21:37] Jarcho commented on #4637
The lint has been renamed to `mixed_read_write_expression` as of #8621.

[2022-05-15 21:37] Jarcho commented on #5684
The lint has been renamed to `mixed_read_write_expression` as of #8621.

[2022-05-15 22:06] #7071 closed

[2022-05-15 23:59] giraffate commented on #8830
It seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/8662, so I'm closing this.

[2022-05-15 23:59] #8830 closed

[2022-05-16 00:01] giraffate commented on #8320
Thanks for the report!

We missed this. https://github.com/rust-lang/rust-clippy/issues/8662 has the many info now, so I'm closing this.

[2022-05-16 00:01] #8320 closed

[2022-05-16 01:02] #8505 closed

[2022-05-16 12:56] jjl opened #8836 "`clippy::if_same_then_else` should ignore bodies containing `todo!()`"

[2022-05-16 19:36] #8821 closed

[2022-05-16 22:49] InfRandomness commented on #8748
Is there another way to reproduce than building rustc entirely to stage2 with the clippy component ?

[2022-05-17 07:20] Tyrubias opened #8837 "Clippy panics at `NormalizeAfterErasingRegionsFolder:: normalize_generic_arg_after_erasing_regions` when run on RustPython"
When I run `cargo clippy` on the [RustPython](https://github.com/RustPython/RustPython) project, Clippy panics while compiling `RustPython` in the [`NormalizeAfterErasingRegionsFolder:: normalize_generic_arg_after_erasing_regions`](https://github.com/rust-lang/rust/blob/7737e0b5c4103216d6fd8cf941b7ab9bdbaace7c/compiler/rustc_middle/src/ty/normalize_erasing_regions.rs#L179) of `rustc`. I'm on the M

[2022-05-17 07:54] Tyrubias commented on #8837
I just realize the solution was mentioned in https://github.com/rust-lang/rust-clippy/issues/8662#issuecomment-1096648760 and this issue was fixed in #8602

[2022-05-17 07:54] #8837 closed

[2022-05-17 12:12] aldhsu commented on #8757
I've been poking at this problem since it is related to my PR.

## Reproducer
I tried this code:
[code]

I saw this happen:
[code]
The error message always says `this is trait bound is already specified in the where clause`.

Two interpretations.
1. The message is correct and the behaviour of the lint should only compare trait bounds to where clauses for the same generic, not within trait bounds o

[2022-05-17 18:25] botahamec commented on #39
@rustbot claim
I've been looking at this for practice, and I'd like to try it. I got it to work with literals. I'm gonna try to see it I can figure out how to make it work with constants and if variables are possible.

[2022-05-17 20:13] xFrednet commented on #39
For constants you can take a look at [`clippy_utils::consts`](https://doc.rust-lang.org/nightly/nightly-rustc/clippy_utils/consts/index.html). However, I could see some use cases for calling these functions on constant values. Therefore, I think it might be better to only lint literals in code :upside_down_face:

[2022-05-18 00:36] #7365 closed

[2022-05-18 00:36] #8803 closed

[2022-05-18 17:30] #8806 closed

[2022-05-18 20:39] akanalytics commented on #7729
Is it true that
a) println!("{:<20}", struct.to_string());
gives the same result as
b) println!("{:<20}", struct);

?

Doesnt it depend on how the formatter is written.
Line a) uses the default  "{}" display to render a string then renders the string using the formatting rules :<20
Whereas b) uses the formatting rules of the struct's display, not the string's display trait impl.

[2022-05-18 21:58] camsteffen commented on #7729
@akanalytics Feel free to file a bug if you found a false positive.

[2022-05-18 23:59] giraffate commented on #8775
Thanks for the report!

It seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/8254, so I'm closing this.

[2022-05-18 23:59] #8775 closed

[2022-05-19 14:21] tomers opened #8842 "clippy 0.1.60: failed to normalize"
I got this while building a rust project with `rust:1.60-alpine3.15` docker:

[code]

[2022-05-19 14:23] tomers commented on #8842
This time with `RUST_BACKTRACE=1`:

[code]

[2022-05-19 14:42] xFrednet commented on #8842
Could you maybe provide an example of the code that produced this ICE?

@rustbot label +I-ICE

[2022-05-19 15:22] tomers commented on #8842
@xFrednet, my project is rather big, and there is no indication as to which (if any) line is causing this. I ran it with full stacktrace again:

[code]

[2022-05-19 16:04] #8758 closed

[2022-05-19 18:04] awused opened #8845 "`use_self` false negative on tuple or struct enum variants"
### Summary

`use_self` doesn't trigger for struct or tuple enum variants, only empty variants.

There are false negatives mentioned in the documention for [use_self](https://rust-lang.github.io/rust-clippy/master/index.html#use_self) but I couldn't find an issue tracking them. I don't know if these are the same known false negatives or not.

### Lint Name

use_self

### Reproducer

I tried this c

[2022-05-19 19:16] carols10cents commented on #8845
Might be related to https://github.com/rust-lang/rust-clippy/issues/6902 ?

[2022-05-19 20:34] tomers commented on #8842
[reproduce.zip](https://github.com/rust-lang/rust-clippy/files/8734054/reproduce.zip)
Here's a reproduction project. Run `./run.sh` to build and reproduce.

[2022-05-19 20:53] daprilik opened #8847 "Lint for `as _` casts"
### What it does

(Discussed in https://github.com/rust-lang/rust-clippy/discussions/8846)

A lint to warn against `as _` conversions.

### Lint Name

as_underscore

### Category

style

### Advantage

`as _` is the Rust equivalent of C/C++'s implicit casting (albeit with a visual signal that _some_ cast is indeed happening), and comes with many of the same problems.

e.g: consider a `fn foo(n: us

[2022-05-19 21:16] xFrednet commented on #8847
Thank you for the ticket, I would put this lint in the `restriction` group like [`clippy::as_conversions`](https://rust-lang.github.io/rust-clippy/master/index.html#as_conversions) that would make it allow by default. The group also sets the lint level, having it in the style group would make this allow by default, which we probably don't want :upside_down_face:

The implementation can be based on

[2022-05-20 00:16] giraffate commented on #8842
Thanks for the report!

It seems to be a duplicate of https://github.com/rust-lang/rust-clippy/issues/8527, so I'm closing this.

[2022-05-20 00:16] #8842 closed

[2022-05-20 04:53] mikerite commented on #8847
It's not just as _ that's problematic but as as a whole. Even if you used as usize it's possible that the type of n could change to u128 and now you have that same situation. This is why you should use Into instead whenever possible because it guarantees that the conversion is not lossy. I would recommend you use [cast_lossless](https://rust-lang.github.io/rust-clippy/master/index.html#cast_lossle

[2022-05-20 08:28] fasterthanlime commented on #8662
This is present again in Rust 1.61.0:

[code]

[2022-05-20 09:02] michaelsproul opened #8849 "`disallowed_methods` can't detect higher-order calls"
### Summary

The `disallowed_methods` lint is unable to detect calls to higher-order functions. Consider this `clippy.toml` which bans `String::with_capacity` and the following code which Clippy fails to flag:

[code]

[code]

The problem is that Clippy doesn't recognise that passing `String::with_capacity` to `Iterator::map` will result in it being called. This seems to me like a _very_ difficult

[2022-05-20 09:31] irevoire commented on #8662
Hey @giraffate I don't have the right to re-open the issue, feel free to do it for me 👍

Also, it seems like the bug has been fixed for us (= https://github.com/meilisearch/MeiliSearch), the CI is working again.

[2022-05-20 09:51] bobi6666 opened #8850 "clippy bug report"
[bug.txt](https://github.com/rust-lang/rust-clippy/files/8738400/bug.txt)

[2022-05-20 11:11] Alexendoo commented on #8850
Are you able to share the code this crashed on? If not running it with RUST_BACKTRACE=1 would still be helpful

[2022-05-20 11:15] bobi6666 commented on #8850
#[dynamic(lazy)]
pub static BASS_ChannelBytes2Seconds: Symbol<'static, unsafe extern
"system" fn(u32, u64) -> f64> =
    unsafe { BASSLIB.get(b"BASS_ChannelBytes2Seconds").unwrap() };

2022-05-20 13:11 GMT+02:00, Alex Macleod ***@***.***>:

[2022-05-20 11:28] equal-l2 opened #8851 "New lint: use `slice.first()` instead of `slice.get(0)`"
### What it does

Detects `slice.get(0)` and suggests replacement with `slice.first()`.

### Lint Name

slice_get_zero

### Category

style

### Advantage

No magic numbers.

### Drawbacks

`first()` is longer than `get(0)` by 1 character.

### Example

[code]

Could be written as:

[code]

[2022-05-20 12:23] michaelsproul commented on #8849
Maybe it's not as complicated as I initially thought. We could ignore the harder problem of determining whether a crate _calls_ a function and just determine whether it _refers_ to a disallowed function. That would catch both my examples, and I think many other variations 🤔

[2022-05-20 12:43] Alexendoo commented on #8849
Ah timing, I had just had that thought also and it seemed to work fine so I submitted the PR. I can't think of any reason you'd want to refer to a disallowed method but not call it, so hopefully that means no FPs

[2022-05-20 13:10] tyranron commented on #6902
Now it fires on stable 😭

[2022-05-20 13:10] botahamec commented on #39
@xFrednet I think that's good point. I'll start working on a PR today

[2022-05-20 15:37] CryZe opened #8854 "`missing_const_for_fn` triggers for derives"
### Summary

`missing_const_for_fn` accidentally triggers for code generated by derives which you generally don't have any influence on.

### Lint Name

missing_const_for_fn

### Reproducer

I tried this code:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=458253aaa8421c3ef13bdc0c18bbef05)
[code]

I saw this happen:

[code]

Weirdly the span is a bit differen

[2022-05-20 16:16] daprilik commented on #8847
@mikerite I generally agree with you that `as` lints should be avoided when possible, and I'm well aware of their pitfalls. That said, while your point is valid, it's not an argument against adding a new lint here.

For one reason or another, I doubt I'd be able to remove all `as` lints from the codebase I'm interested in, hence why I'm interested in this kind of "middle ground" lint, where folks

[2022-05-20 16:25] fasterthanlime commented on #8662
Yeah so upon further inspection, that bug I'm hitting now looks _very similar_ but it hit different parts of the code than the previous report. And it was only two code paths and I could easily work around it. I should file a separate report with some repro code.

[2022-05-20 16:44] akanalytics opened #8855 "to_string() in a format string when format specifiers are used (eg :<20) is NOT redundant"
### Summary

It is not true that
a) println!("{:<20}", struct.to_string());
gives the same result as
b) println!("{:<20}", struct)

It depend on how the formatter is written.
Line a) uses the default "{}" display to render a string then renders the string using the formatting rules :<20
Whereas b) uses the formatting rules of the struct's display, not the string's display trait impl.

Many dsiplay

[2022-05-20 17:37] matthiaskrgr commented on #8855
Interesting :slightly_smiling_face:

test:
[code]

[code]

[2022-05-20 19:23] expenses commented on #4979
This is now triggering more because more things were made const in rust 1.61.0.

naga has contains the following code:

[code]

This triggers the lint:

[code]

but when you actually apply that you get an error:
[code]

[2022-05-20 21:07] #8849 closed

[2022-05-21 04:32] CAD97 opened #8859 "clippy::let_underscore_lock lint should use #[clippy::has_significant_drop] attribute rather than a hardcoded list"
### Description

`#[clippy::has_significant_drop]` was [added](https://github.com/rust-lang/rust/pull/94206) for the lint `clippy::significant_drop_in_scrutinee`.

The `clippy::let_underscore_lock` currently uses a hardcoded list of type paths to lint against:

https://github.com/rust-lang/rust-clippy/blob/a98e7ab8b94485be6bd03e0c6b8682ecab5b52e6/clippy_lints/src/let_underscore.rs#L108-L114

Inste

[2022-05-21 04:33] Ralith commented on #6353
This lint seems to have been enabled by default in 1.61 and is still producing false positives, breaking my CI.

[2022-05-21 04:44] CAD97 commented on #8859
[Another mentioned possible heuristic](https://twitter.com/porglezomp/status/1527872664987049984?s=20&t=ZeYyLjPaBXqpU-GG2qKP8g) is a `#[must_use]` type with an explicit `Drop` implementation.

[2022-05-21 07:48] ritchie46 opened #8860 "Cannot silence lint `"warning: unnecessary lifetime parameter"`"
### Description

Due to macro's its sometimes not easy to adapt a warning.

This code creates the warning that the lifetime can be replaced directly:

[code]

[code]

However there does not seem to be a tag that allows us to silence it.

### Version

[code]

### Additional Labels

_No response_

[2022-05-21 08:55] 91khr opened #8861 "false negative on tests"
### Summary

Code in `#[cfg(test)]` won't be linted unless with `--fix --allow-dirty`.

### Lint Name

Only tested for dead_code and unused_io_amount, but seems that all lints have this bug

### Reproducer

1. `cargo new t`
1. `main.rs`:
[code]
1. `cargo clippy` produced no warnings, but `cargo clippy --fix --allow-dirty` detected the unused struct.

### Version

`cargo clippy --version`: clippy 0

[2022-05-21 09:16] kyoto7250 commented on #8851
@rustbot  claim

[2022-05-21 11:15] Alexendoo commented on #8861
`cargo clippy` is like `cargo check`, which doesn't check tests by default, you can pass `--tests` or `--all-targets` for that

`cargo clippy --fix` is like `cargo fix`, which has `--all-targets` applied by default

[2022-05-21 11:30] Alexendoo commented on #8860
This is from rustc https://github.com/rust-lang/rust/issues/96956

[2022-05-21 11:32] ritchie46 commented on #8860
Yes, I backposted it here as I was not sure it belonged to clippy or rustc.

[2022-05-21 12:36] emilk opened #8863 "Unecessary `mut` reference in parameter"
### What it does

It warns against using `&mut` in an parameter where `&` would suffice.

### Lint Name

`unnecessary-mut-ref`

### Category

suspicious

### Advantage

Less `mut` means less fights with the borrow checker. It can also lead to more opportunities for parallelization.

This lint could also catch bugs where the user intended to mutate an argument but forgot too.

### Drawbacks

A user

[2022-05-21 14:07] clubby789 opened #8864 "`missing-const-for-fn` when `const fn` would require unstable features"
### Summary

`missing-const-for-fn` warns 'this could be a `const fn`' on code that cannot be due to the required feature being unstable.

### Lint Name

missing-const-for-fn

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]
When adding the suggested `const` header:
[code]

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2022-05-21 14:55] xFrednet opened #8865 "Support lint name searches on our lint list with the `clippy::` prefix"
### Description

When you search for a lint name like `absurd_extreme_comparisons` you find the name as expected. When you take the name from the copy button, with the `clippy::` prefix, the search doesn't find the name. Example:

![image](https://user-images.githubusercontent.com/17087237/169657093-78216883-7204-4896-887e-ca86386af063.png)

![image](https://user-images.githubusercontent.com/17087

[2022-05-21 19:48] PierreAntoineGuillaume commented on #8829
So this lint suggests

[code]

over

[code]

And I must say I don't find the first gist nice or readable, because :
- the second solution use 2 layers of identation, and the suggested 7
- the second solution allows direct usage of extracted options, where the suggested forces much higher cognitive load.

First, is there a more idiomatic way of doing what I did ? (this gist is a test impl).

Second

[2022-05-22 03:27] Herschel opened #8867 "False positive for `derive_partial_eq_without_eq` when using `PhantomData`"
### Summary

A struct with `PhantomData` will trigger the `derive_partial_eq_without_eq` even though it derives both `Eq, PartialEq`.

clippy 0.1.63 (9257f5aa 2022-05-21)

### Lint Name

derive_partial_eq_without_eq

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:
No warning.

### Version

[code]

### Additional Labels

_No response_

[2022-05-22 05:48] Herschel commented on #8867
Playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=96d52b13153e88afc7a0dd683c04f7d4

[2022-05-22 06:44] Ryan1729 opened #8868 "undocumented_unsafe_blocks doesn't notice safety comment inside a macro"
### Summary

The `undocumented_unsafe_blocks` lint produces an error even after a safety comment has been added inside a macro. The following example was reduced down from code containing an `assert!`-like macro that checked for errors via an FFI function.

### Lint Name

undocumented_unsafe_blocks

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]
This is exactly the same out

[2022-05-22 07:05] izik1 commented on #8867
I was about to post an almost identical issue, so instead I'll just affirm this happens, and that I found a slightly smaller repro (dependencies wise, not bytes wise):

[code]

(note that the loop there causes a different warning- about empty loops and CPU cycles, completely true in this context- which could be removed by using `panic!` instead, but there's no clear guideline on which to choose in

[2022-05-22 07:18] izik1 commented on #8867
Note that this is a very _very_ fresh regression:
last "good" nightly (using git bisect terms):
[code]
Which means that the first "bad" nightly is:
[code]

[2022-05-22 10:13] Bromeon commented on #8867
Can confirm this, just hit the issue [in a CI run](https://github.com/godot-rust/godot-rust/runs/6542778181?check_suite_focus=true#step:4:180).

I was first thinking Clippy had a bug with ordering `#[derive(Eq, PartialEq)]` as it suggests
[code]
However, changing to  `#[derive(PartialEq, Eq)]` still caused the same issue.

[2022-05-22 15:19] Jarcho commented on #8868
I can't reproduce this on the playground (uses nightly 2022-05-21). I guess this was fixed already.

[2022-05-22 15:48] PierreAntoineGuillaume commented on #8829
The problem is not about a false positive, so I renamed and retag, but I don't know how to tag this

[2022-05-22 17:21] Ryan1729 commented on #8868
Just to confirm, I ran `rustup install nightly` and ran `cargo +nightly clippy` on my existing example repo. In that case, the error was in fact gone, so it does seem like this has been fixed already.

[2022-05-22 17:21] #8868 closed

[2022-05-22 19:20] Serial-ATA commented on #8865
@rustbot claim

[2022-05-23 00:06] giraffate commented on #8662
Thanks for another report!

Does it reproduce in latest nightly? If so, it would be good to file a new issue with reproduction.

[2022-05-23 01:25] droogmic commented on #8734
I ran into this as well, I see we are waiting for an answer on https://github.com/rust-lang/rustfix/issues/211.

[2022-05-23 08:14] MrMuetze opened #8873 "`cast_abs_to_unsigned`"
### Summary

The lint `cast_abs_to_unsigned` is showing a warning even when the variable is cast to `usize`. The recommended code change does not produce working code and in the end leads to a more convoluted solution. Maybe the lint should not be triggered by code that is casting to `usize`.

### Lint Name

cast_abs_to_unsigned

### Reproducer

I tried this code:

[code]

I saw this happen:

[cod

[2022-05-23 09:11] ppentchev opened #8874 "False "missing_const_in_fn" for a function that consumes `self`"
### Summary

Hi,

First of all, thanks a lot for working on Rust and the related tools and crates!

Clippy seems to report a "missing_const_in_fn" for a function that replaces a field in a struct. If I add "const" to the function, rustc says "constant functions cannot evaluate destructors". It is quite possible that, just like e.g. #4041, this is actually a bug in rustc's parser, AST builder, code

[2022-05-23 09:31] djc opened #8875 "Consider skipping derive_partial_eq_without_eq for private types"
### Summary

The new `derive_partial_eq_without_eq` lint seems nice for public types, but I think it might make sense to skip this for types that are not part of a crate's public API. For those types, clearly the `Eq` impl is unneeded, and it would just add more code.

### Reproducer

I tried this code:

[code]

I expected to see this happen: nothing

Instead, this happened: got `derive_partial_eq

[2022-05-23 12:56] jonasbb commented on #8875
I have this problem in many of my tests. I only derive `Debug, PartialEq` for many types, since that is the only thing needed to make `assert_eq` work. These types are not needed for anything else.

[2022-05-23 16:37] jplatte commented on #8875
Same for `#[cfg_attr(test, derive(PartialEq))]` on a public type.

[2022-05-23 17:44] #8865 closed

[2022-05-23 17:49] xFrednet opened #8877 "Adapt `doc-valid-idents` config to support list expansion instead of replacement"
### Description

The config value `doc-valid-idents` for [`doc_markdown`](https://rust-lang.github.io/rust-clippy/master/index.html#doc_markdown) is a list of allowed identifiers. I've seen some projects overriding them and only adding a few new values. It would be nice if the user also had the option to append new values to the list instead of replacing them.

I was thinking of something like a d

[2022-05-23 23:52] Raytwo opened #8878 "Clippy slice panic on --fix"
### Summary

Getting a panic message ``slice index starts at 1 but ends at 0`` by running the following command:
[code]

Which results in this stack backtrace:

<details>
    <summary>Backtrace (Click to Expand)</summary>

[code]
</details>

### Reproducer

[Code and commit](https://github.com/Raytwo/ARCropolis/tree/44b16445fd9d01a63a67f5ef0252b6c98f68de71)

Simply run the following command: ``car

[2022-05-23 23:52] giraffate commented on #8864
This needs msrv: https://github.com/rust-lang/rust/blob/stable/RELEASES.md#version-1580-2022-01-13

[2022-05-23 23:59] giraffate commented on #8861
Thanks for the report!

I'm closing this, because https://github.com/rust-lang/rust-clippy/issues/8861#issuecomment-1133602195 seems to be the answer. If you have any question, feel free to comment here or file an another issue.

[2022-05-23 23:59] #8861 closed

[2022-05-24 07:00] hellow554 commented on #8878
I can't compile your code :/

[code]

[2022-05-24 08:21] jam1garner commented on #8878
@hellow554 I believe he was using RUSTFLAGS="--cfg skyline_std_v3"

(long story short it has to do with trying to do some forwards compatible upgrading of things, the code those errors are from unfortunately needs to work on some weird out-of-tree toolchains)

[2022-05-24 09:16] binggh opened #8879 "single line return not emitting warning"
### Summary

Expected to see a [`needless_return`](https://rust-lang.github.io/rust-clippy/master/index.html#needless_return) lint warning on a function that returned a single `format!()` line, yet clippy passed without failure despite using `cargo clippy --all-features --all-targets -- -D warnings`

Edit: on second thought it might not be a bug, but it feels like weird/unexpected behaviour seeing

[2022-05-24 10:58] Serial-ATA commented on #8879
`implicit_return` is a restriction lint that is allowed by default.

@rustbot label +I-false-negative +T-macros

[2022-05-24 11:39] hellow554 commented on #8878
Here's a MCVE:

[code]

make sure that the whitespace is important. I'm providing the base64 input as well for clarity:

I'm trying to get the culprit.

[2022-05-24 11:51] hellow554 commented on #8878
Btw: the ICE comes from these lines:

https://github.com/Raytwo/ARCropolis/blob/44b16445fd9d01a63a67f5ef0252b6c98f68de71/src/fs/loaders.rs#L318-L336

you want to use `and_then` instead of `map` and `flatten` to get rid of the ICE ;)

[2022-05-24 12:10] hellow554 commented on #8878
Seems to be a dup of #8734 :)
I submit a PR to close both issues

[2022-05-24 12:35] hellow554 commented on #8734
The culprit should be solved by updating rustfix to 0.6.1, but @Serial-ATA discovered a very interesting case:

[code]

gets autocorrect to

[code]

which is weird and incorrect.

Let's investigate this further

[2022-05-24 16:21] xTibor opened #8883 "New lint: manual reimplementation of `.rem_euclid()`"
### What it does

Checks for manual reimplementations of the `.rem_euclid()` function.

### Lint Name

_No response_

### Category

complexity

### Advantage

When people search for how to calculate positive modulos of integers, top Google results and Stack Overflow tend to feature the `((a % n) + n) % n` method as a solution to the problem. Rust has function to calculate this, `.rem_euclid()`. It

[2022-05-24 17:11] #1595 closed

[2022-05-24 18:25] jam1garner commented on #8878
@hellow554 wow awesome! thanks so much ❤️

[2022-05-24 18:30] Raytwo commented on #8878
Wow, I never expect such a fast reply, thanks a lot!

[2022-05-24 18:54] boydjohnson commented on #8867
This bug got me recently, and I wanted to point out a small change can be made to  @izik1 [2nd example](https://github.com/rust-lang/rust-clippy/issues/8867#issuecomment-1133833094) and make it trip up the bug.

[code]
Adding the second bound, and having it on the type parameter in the struct, will cause the clippy error.
[code]

[2022-05-24 21:40] #8878 closed

[2022-05-25 01:55] #8851 closed

[2022-05-25 02:19] joshtriplett opened #8886 "Warn about read into zero-length `Vec`"
### What it does

This lint catches reads into a zero-length `Vec`. For instance, it should flag code like this:

[code]

In general, it should flag any code that constructs a `Vec` (whether using `new` or `vec![]` or especially `with_capacity`) and then reads into it (using `read` or `read_exact`, whether sync or async versions) without changing the size of the `Vec`. The lint should warn that th

[2022-05-25 02:35] joshtriplett commented on #8886
A few examples of this in the wild:

https://stackoverflow.com/questions/68979882/readread-exact-does-not-fill-buffer

https://stackoverflow.com/questions/30412521/how-to-read-a-specific-number-of-bytes-from-a-stream#comment103039382_46225116

https://www.reddit.com/r/rust/comments/4m1snt/issues_with_read_and_vecu8/

https://github.com/tokio-rs/mio/issues/795

[2022-05-25 03:15] abonander opened #8887 "`self_named_module_files` warns about dependencies when `CARGO_HOME` is a subdirectory of the project"
### Summary

When setting up a CI script in Gitlab, I want to save the local Cargo cache between jobs to avoid re-downloading from crates.io every time.

However, Gitlab CI's caching only allows saving directories under the project directory: https://docs.gitlab.com/ee/ci/caching/#how-cache-is-different-from-artifacts

So I set `CARGO_HOME` to `$CI_PROJECT_DIR/.cargo` (where `$CI_PROJECT_DIR` is p

[2022-05-25 07:32] edward-shen commented on #7905
Example no longer repros. Closing.

[2022-05-25 07:32] #7905 closed

[2022-05-25 10:37] bobi6666 commented on #8850
is there any steps to resolve this bug?

2022-05-20 13:15 GMT+02:00, Peter Kubek ***@***.***>:

[2022-05-25 11:15] Alexendoo commented on #8850
If you're able to the full source code would be helpful so we can reproduce it ourselves, or if you could reduce the code to a smaller example that exhibits the error that would be even better

If you aren't able to share the full code, sharing the output of

[code]

Would also be helpful

[2022-05-25 12:18] bobi6666 commented on #8850
is this enough? if no i share code
Microsoft Windows [Version 10.0.19044.1706]
(c) Microsoft Corporation. Všetky práva vyhradené.

F:\github projekty\the-killer-bgt\nwengine>set RUST_BACKTRACE=1

F:\github projekty\the-killer-bgt\nwengine>cargo clippy
    Checking windows-sys v0.36.1
    Checking mio v0.8.3
    Checking schannel v0.1.20
    Checking native-tls v0.2.10
    Checking tokio v1.18.2

[2022-05-25 12:57] bobi6666 commented on #8850
i started backtrace full and there is another result:
stack backtrace:
   0:     0x7ffb9377988f -
<std::sys_common::backtrace::_print::DisplayBacktrace as
core::fmt::Display>::fmt::h50aa8caf753a2b27
   1:     0x7ffb937a4c3a - core::fmt::write::h838fc71521d9a769
   2:     0x7ffb9376c709 - <std::io::IoSliceMut as
core::fmt::Debug>::fmt::h36f954dfa88567a7
   3:     0x7ffb9377ceab - std::panicking::de

[2022-05-25 13:50] DieracDelta commented on #8842
Hello! This `reproduce.zip` docker container still fails to build with the same ICE on 1.61.0's clippy. Maybe we should reopen either this or #8527 ? The issue seems to persist on the most recent nightly as well (as of writing this). cc @giraffate

[2022-05-25 18:26] rng-dynamics opened #8888 "error: internal compiler error"
### Summary

Environment:

- stable-x86_64-unknown-linux-gnu (default)
- rustc 1.60.0 (7737e0b5c 2022-04-04)
- clippy 0.1.60 (7737e0b 2022-04-04)

Steps to reproduce:

1. Clone https://github.com/RustPython/RustPython
2. Checkout `6165aadcc4`
3. Run `cargo clippy`

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2022-05-25 22:15] matthiaskrgr opened #8890 "iterating over empty collections"
### What it does

Warn when we iterate over a collection that we know is empty

[code]

maybe the condition was supposed to be inverted?

### Lint Name

maybe  iter_empty ?

### Category

suspicious

### Advantage

_No response_

### Drawbacks

_No response_

### Example

see above

[2022-05-25 22:24] matthiaskrgr opened #8891 "nonminimal_bool fires several times on the same code"
### Summary

[code]
:laughing:  can we somehow only emit one diagnostic here? :D
[code]

### Reproducer

_No response_

### Version

_No response_

### Additional Labels

_No response_

[2022-05-25 22:59] WorldSEnder commented on #8867
Also impacted by this when trying to conform to the new lint.

https://github.com/yewstack/yew/blob/e68060afa7421149f2d6aacace67c65c33e81fe5/packages/yew/src/virtual_dom/vtag.rs#L21-L23

[2022-05-25 23:54] giraffate commented on #8888
Thanks for the report!

It's a duplicate of https://github.com/rust-lang/rust-clippy/issues/8662, so I'm closing this.

[2022-05-25 23:54] #8888 closed

[2022-05-25 23:58] giraffate commented on #8842
I don't see its backtrace, but It will be fixed at 1.62.0 if it has the same error.

[2022-05-26 00:12] giraffate commented on #8850
Does this happen when executing `cargo check` or `cargo build`? Seeing backtraces, I couldn't find clippy logs.

[2022-05-26 00:31] bobi6666 commented on #8850
no that happens when i try to do cargo clippy or cargo clippy --fix
but with normal building no

2022-05-26 2:12 GMT+02:00, Takayuki Nakata ***@***.***>:

[2022-05-26 05:35] #39 closed

[2022-05-26 06:39] asquared31415 commented on #8092
This was fixed in #8273

[2022-05-26 08:42] abacef opened #8893 "Boolean lists can be optimized as bitset/bitvecs"
### What it does

Reading the README of the [bitvec](https://crates.io/crates/bitvec) crate, it says

[bool; N] becomes BitArray
[bool] becomes BitSlice
Vec<bool> becomes BitVec
Box<[bool]> becomes BitBox

I was wondering how easy it would be to write a performance lint for this since I know at least in C, each bool is a usize long. I am not sure if the Rust compiler optimizes this code to make ea

[2022-05-26 09:46] matthiaskrgr opened #8894 "large_enum_variant should not lint types that are copy"
### Summary

[code]
the lint will fire here, but it seems that `Box` does not impl the `Copy` trait...?

[code]

### Lint Name

large_enum_variant

[2022-05-26 10:31] matthiaskrgr opened #8895 "extra-unused-lifetimes should not lint inside macros"
### Summary

If we have a macro that generates `impl`s for something, obviously it may look like like the lifetime is unused inside the macro, but it might be used in the macro callsite.

[code]
clippy warns about `<'tcx>` here but removing it breaks the code.

### Lint Name

extra-unused-lifetimes

[2022-05-26 12:29] bobi6666 commented on #8850
here is complete example that crashing clippy
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=493836f3a3701e3080bdfb13539816fa
and to your cargo.toml:
libloading = "0.7.3"
static_init = "1.0.2"

2022-05-26 2:31 GMT+02:00, Peter Kubek ***@***.***>:

[2022-05-26 13:13] Alexendoo commented on #8850
Thanks for that!

Reduced:

[code]

Output:

[code]

[2022-05-26 13:16] bobi6666 commented on #8850
did you figure out how clippy can be fixed to avoid this runtime?

2022-05-26 15:13 GMT+02:00, Alex Macleod ***@***.***>:

[2022-05-26 14:27] Alexendoo commented on #8850
Yeah, you can follow #8896 for details

[2022-05-26 16:51] #8850 closed

[2022-05-26 17:21] fasterthanlime commented on #8662
Actually it doesn't! nightly `4cbaac699` / `2022-05-25` doesn't crash there. Yay!

[2022-05-26 17:39] rusty-snake opened #8898 "checked_conversions suggestions in const contexts are not const"
### Summary

`checked_conversions` (default allow; pedantic) suggestions in const contexts are not const.

### Lint Name

checked_conversions

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

Applied the suggestion an got:
[code]

I expected to see this happen: Suggestion can be applied or lint does not trigger.

### Version

[code]

### Additional Labels

@rusbot label +I-s

[2022-05-26 17:50] link2xt opened #8900 "Suggest .as_ref() and .as_mut() instead of Some(ref ...) and Some(ref mut ...) patterns"
### What it does

Suggests using `.as_ref()` and `.as_mut()` on `Option` to avoid using `ref` and `ref mut` in patterns.

### Lint Name

useless_ref

### Category

style, pedantic

### Advantage

`ref` and `ref mut` patterns are rarely used comapred to `as_ref()`, so code using it is hard to read, especially for new contributors who never encountered these constructions.

### Drawbacks

`.as_ref()

[2022-05-26 19:25] smoelius commented on #8895
Are we sure that the proposed behavior is the desired behavior?

Like wouldn't the same reasoning imply that `unused_extern_crates` shouldn't lint inside macros?
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=9cf0b1c29ac76d49388ef5767acce101))

[2022-05-27 11:25] c410-f3r opened #8903 "Arithmetic lint"
Are you guys open to include an allow-by-default restricted lint that will warn `+`/`-`/`/`/`*` regardless of the involved type? For example, `num-bigint` (among others) has arithmetic implementations that aren't triggered by `clippy::integer_arithmetic`.

If yes, then I will create a PR. If not, then feel free to close this issue.

[2022-05-27 13:46] llogiq commented on #8903
This could be a restriction lint, and we may even want to make types to block arithmetic on configurable.

[2022-05-27 14:13] MedzikUser opened #8904 "cargo clippy with the --no-deps flag in the nightly version checks the dependencies"
### Summary

cargo clippy with the --no-deps flag in the nightly version checks dependencies and it should not.

Check [logs on GitHub Actions](https://github.com/MedzikUser/HomeDisk/runs/6626599020?check_suite_focus=true)

### Reproducer

run `cargo clippy --no-deps` in any project

### Version

[code]

### Additional Labels

_No response_

[2022-05-27 15:17] Jarcho commented on #8904
Clippy uses `cargo check` which will still run on everything. `--no-deps` just stops clippy from adding it's lints to dependencies.

[2022-05-27 22:50] llogiq commented on #8894
@rustbot  claim

I don't thiink the lint should completely avoid enums which are `Copy`, but should avoid giving the incorrect suggestion, noting that the `Copy` impl precludes introducing indirections.

[2022-05-28 09:06] llogiq commented on #8894
Options include removing the `Copy` bound or moving the data to an auxiliary structure (e.g. ECS, arena, etc.)

[2022-05-28 14:45] #8383 closed

[2022-05-28 17:16] tamaroning commented on #8346
I am thinking of reusing `PosibbleBorrowerVisitor` used by redundant_closure, which means no need to deal with specific cases (like #7531 ?)

[2022-05-29 04:29] KisaragiEffective opened #8909 "Option unwrap or outer loop continue can be pattern match"
### What it does

let `a` is `Option<T>`.
If both condition is met, the pattern can be written in pattern match:
* `a == None` then `continue` outer loop
* If not, `t = a.unwrap()` then using `t` later

### Lint Name

loop_option_unwrap_with_continue

### Category

pedantic

### Advantage

- Removing call to `Option<T>#unwrap` which can be written in more idiomatic way

### Drawbacks

_No response

[2022-05-29 14:26] Guilherme-Vasconcelos opened #8910 "-Wclippy::nursery generates use_self when enum derives strum_macros::Display"
### Summary

I am using the [strum](https://crates.io/crates/strum) and [strum_macros](https://crates.io/crates/strum_macros) crates, both on version 0.24.0.

When an enum derives `strum_macros::Display` and clippy is invoked with `-Wclippy::nursery` (i.e. `cargo clippy -- -Wclippy::nursery`), a warning is generated telling me to replace the enum's name with Self.

### Lint Name

clippy::use-self

[2022-05-29 16:55] steffahn opened #8911 "ICE `assertion failed: !suggestion.is_empty()`"
### Summary

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=48f1a5df9248aa1ee64ce8b8d126730c))

### Version

[code]

### Error output

[code]

[2022-05-29 18:10] Alexendoo commented on #8911
@rustbot claim

[2022-05-30 01:57] pervognsen commented on #8098
I am constantly running into this when browsing existing codebases. I'm personally in favor of the `&mut f` fix since that's effectively what the wrapping closure is already doing when its borrowing the FnMut.

[2022-05-30 04:17] Jarcho commented on #8346
I assume you mean `redundant_clone` there. You'll need to adapt `PossibleBorrowerVisitor` to track only mutable borrows (easy) and either convert all the lints to MIR lints, or find some way to link HIR nodes with MIR (the less easy part).

This will also introduce false negatives as well. `PossibleBorrowerVisitor` is not particularly precise at tracking lifetimes.

[2022-05-30 05:06] tamaroning commented on #8346
ohh yes. I mean redundant_clone.

I think just comparing spans of nodes with spans of mir statements is enough.

I see. I am going to dig into borrow checkers and try to use intermidiate state of it.

[2022-05-30 13:13] ndmitchell opened #8914 "unnecessary_to_owned suggests doing more allocation"
### Summary

The suggestion is significantly less efficient than the code it replaces, requiring _O(n)_ `clone`s.

### Lint Name

unnecessary_to_owned

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Nothing - the original is efficient non-cloning code. The suggested version clones each string and is thus significantly less efficent.

### Ver

[2022-05-30 13:46] Alexendoo commented on #8914
`.to_vec` does clone the contents of the slice, perhaps you meant to use `.into_vec` instead

[2022-05-30 15:22] adamchalmers opened #8915 "Prefer std::iter::empty() to std::iter::Empty::default()"
### What it does

Replace `std::iter::Empty::default()` with `std::iter::empty()`.

These two are equivalent, but one should be preferred: `iter::empty` requires learning less of the API than `iter::Empty::default` and it's also simpler.

I actually made this mistake consistently in a PR, it seems silly, but it happens! I caught this during code review and thought, hey, clippy should be able to de

[2022-05-30 19:03] i509VCB opened #8917 "Lint to find std imports that could be imported as core or alloc"
### What it does

If an import is a type exposed in `core` or `alloc`, the lint should warn that a the type could be imported using `core` or `alloc` instead.

### Lint Name

prefer_core_alloc_imports

### Category

pedantic

### Advantage

- For crates which support no_std environments, this makes finding accidental std import additions easier that could break the crate when compiling for a no_st

[2022-05-30 21:03] #8914 closed

[2022-05-30 21:04] ndmitchell commented on #8914
Thanks, that is indeed the case, sorry for the noise. I wonder if `x.to_vec()` where `x` is a `Box<[T]>` you have ownership of should be a `into_vec()`, but that seems a lot harder to figure out.

[2022-05-30 22:23] #8845 closed

[2022-05-30 23:21] Serial-ATA commented on #8917
Duplicate of #7724

[2022-05-31 00:21] giraffate commented on #8917
Thanks for suggesting new lint!

I'm closing this because of https://github.com/rust-lang/rust-clippy/issues/8917#issuecomment-1141534554.

[2022-05-31 00:21] #8917 closed

[2022-05-31 00:28] giraffate commented on #8910
It might be a duplicate of https://github.com/rust-lang/rust-clippy/issues/6902.

[2022-05-31 00:36] #8748 closed

[2022-05-31 01:01] #8911 closed