[2021-07-09 12:37] jplatte commented on #7447
Getting the same ICE on ruma/ruma, with clippy only (not `cargo check`). Will edit this comment to include a minimal reproduction soon.

[2021-07-09 13:13] ririsoft commented on #1267
This has now been [removed from rustfmt](https://github.com/rust-lang/rustfmt/pull/4129) and [implemented in clippy](https://rust-lang.github.io/rust-clippy/master/#todo).

[2021-07-10 13:57] lengyijun opened #7451 "Suggest box_string"
### What it does

Check for usage for `Box<String>` in struct definition and function parameter.

### Categories (optional)

Perf, Warn

*What is the advantage of the recommended code over the original code*

`String` already allocates on heap, `Box<String>` allocates a pointer on heap.
Similar lints:  `rc_buffer`, `box_vec`, `redundant_allocation`,

### Drawbacks

None.

### Example

[code]

Coul

[2021-07-10 14:48] MGlolenstine opened #7452 "branches_sharing_code reporting a false positive"
I tried this code:

[code]

I expected to see this happen: I expected the lint to pass without a hitch, as the counter is used in the `if` statement.

Instead, this happened:
I got a lint report, that I could change the if statements, as they all start with the same line of code, but doing that makes the code invalid.
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.53 (53cb7b0 2021-06-17)
- `rus

[2021-07-10 19:30] asomers commented on #7434
This warning is firing for Mockall, too.  It looks like every project that uses Mockall will trigger the warning, and Clippy's suggested replacement code doesn't even compile.

[2021-07-11 14:58] bartim commented on #7434
Also seems to happen for Rocket attributes like [`get`](https://api.rocket.rs/v0.4/rocket/attr.get.html).

[2021-07-12 00:19] giraffate commented on #7438
I tried it on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8cd70b345024cacab08111c4d5c3305b), but couldn't reproduce that warning. Can you provide reproduction on the playground?

[2021-07-12 03:05] flisky commented on #7438
Sorry, I cannot reproduce this on playground, either. However, it's reproduced on a simple cargo project -

* create a project: `cargo new semicolon`
* add tokio dependency: `tokio = { version = "*", features = ["macros", "rt-multi-thread", "time"] }`
* add the following to `main.rs`:

[code]

output:
[code]

[2021-07-12 03:12] kyp44 opened #7454 "Got a `rustc` panic, filing a bug report as requested"
When I run `cargo clippy` on my project I get the following error, though I have resolved all lints, and the project builds fine normally:

[code]

I'm just filing a report per the request in the error message.

The project I am working on is just working through the [Advent of Code](https://adventofcode.com/) problems to help me become competent in Rust. I don't currently have the project on GitH

[2021-07-12 03:47] giraffate commented on #7438
Thanks, I can reproduce it!
[code]

[2021-07-12 03:49] giraffate commented on #7454
Thanks for the report!

I'm closing this because it's duplicate of https://github.com/rust-lang/rust-clippy/issues/7423.

[2021-07-12 03:49] #7454 closed

[2021-07-12 08:28] MGlolenstine commented on #7452
Suggesting label change to `I-suggestion-causes-error`, as it's correctly detected the case, but the fix causes a problem.

[2021-07-12 10:06] xFrednet commented on #7452
@rustbot label +I-suggestion-causes-error -I-false-positive

[2021-07-12 10:08] xFrednet commented on #7452
This kind of fits both labels, I'm going over a possible solution in my head and might claim this issue :)

[2021-07-12 13:41] cmichi opened #7455 "Panic at '`LateContext::typeck_results` called outside of body'"
I tried this code:

[code]

I expected to see this happen: `clippy` should succeed without panicking.

Instead, this happened:
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.55 (7a16cfc 2021-07-11)
- `rustc -Vv`:
[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-07-12 13:43] cmichi commented on #7455
Just discovered this is a duplicate of https://github.com/rust-lang/rust-clippy/issues/7423.

[2021-07-12 13:43] #7455 closed

[2021-07-12 13:44] shepmaster commented on #7434
This likely happens for _any_ procedural macro that uses one of the macros checked by this lint. This jives with what is described in #7431

For example, in SNAFU, the procedural macro does:

[code]

This generates code like

[code]

Note the spaces between `write!` and `(`.

[2021-07-12 19:33] Valentine-Mario commented on #7436
claim @rustbot

[2021-07-12 19:34] Valentine-Mario commented on #7436
@rustbot claim

[2021-07-13 01:07] giraffate commented on #7438
Reproduction on the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ca32bde812b8341a2545a9e64b40a58d).

[2021-07-13 03:18] skysch opened #7456 "needless_pass_by_value for `Option<&_>` types?"
I was surprised to get a needless_pass_by_value warning here:

[code]

Wouldn't it make sense for `Option<&_>` to be allowed everywhere by this lint?

[2021-07-13 05:13] skyscribe opened #7457 "Clippy reports "thread 'rustc' panicked at 'begin <= end (19 <= 6) when slicing""
Detailed error:

thread 'rustc' panicked at 'begin <= end (19 <= 6) when slicing `x == '}' || x == '{' || x == ' ' || x == '\t' || x == '\r' || x == '\n'`', src/tools/clippy/clippy_lints/src/functions/too_many_lines.rs:24:26
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

Same compilation source code with cargo test/cargo run works.

[2021-07-13 06:05] giraffate commented on #7457
Can you provide a minimal reproduction on the playground?

[2021-07-13 09:00] flip1995 commented on #3759
This appears to be fixed: [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0a0d3cd09c8c1674e74007396cf3f4ee)

[2021-07-13 09:00] #3759 closed

[2021-07-13 14:00] tschuett opened #7459 "iter() -> into_iter()"
### What it does

Propose to change `iter()` to `into_iter()`

### Categories (optional)

- Kind: *See <https://github.com/rust-lang/rust-clippy/blob/master/README.md#clippy> for list of lint kinds*

*What is the advantage of the recommended code over the original code*

For example:

My old code:
`foo.unwrap_or_default().iter()....`
By hand I changed it to:
`foo.unwrap_or_default().into_iter()...

[2021-07-13 14:46] #7445 closed

[2021-07-13 17:55] xFrednet commented on #7459
`iter()` and `into_iter()` behave differently, as `iter()` iterates over item references while `into_iter()` takes ownership of the collection and iterates over the actual items (See [docs](https://doc.rust-lang.org/std/iter/index.html#the-three-forms-of-iteration)).

The lint should therefore only suggest the usage of `into_iter()` if the collection is owned in the current context and not used la

[2021-07-13 18:46] tschuett commented on #7459
I am aware of the semantic differences. I just want to say if `iter()` and `into_iter()` are valid options, then the later one may allow to write more beautiful/idomatic code.

[2021-07-13 19:08] xFrednet commented on #7369
Hey, thank you for the report! Could you retest this false positive? I tried a quick reproduction in the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ed162f0abcffdff63cdf0b18067fb11c) using print statements, but this didn't trigger the lint.

[2021-07-13 19:30] xFrednet commented on #7306
@rustbot claim

[2021-07-13 19:48] xFrednet commented on #7306
Hey @giraffate and @flip1995 the lint implementation contains a deliberate test that resolves the value of constants, like in this case. You two discussed the check [here](https://github.com/rust-lang/rust-clippy/pull/5773#discussion_r453650766). Would you also consider this to be a false positive, or working as intended? :upside_down_face:

[2021-07-13 20:40] jix commented on #7369
I ran into this bug a few hours ago and just confirmed that it is still in the nightly `clippy 0.1.55 (955b9c0 2021-07-12)`.

[I reduced my code that triggers this bug down to this in the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0902a7709e53a9bf9f019d90a547ae54).

[2021-07-13 20:45] xFrednet commented on #7369
Awesome, thank you very much, I'll have a look at it :)

@rustbot claim

[2021-07-13 20:54] hunger opened #7461 "Possible false positive: `Rc::ptr_eq` and `vtable_address_comparisons`"
I probably just do not understand the problem, so sorry for this report!

I have two variables `a` and `b` holding a `Rc<dyn Foo>`.  I do `Rc::ptr_eq(&a, &b)` and the `vtable_address_comparisons` lint is triggered, which seems wrong to me.

Lint name: vtable_address_comparisons

I tried this code:

[code]

and got this clippy lint:

[code]

Is that correct? I do not understand where the vtable com

[2021-07-13 20:59] xFrednet commented on #7230
Hey, thank you for the report! Could you try to reproduce this false positive again? I've tried the example in Rust's playground, but Clippy didn't trigger on `1_0000_000`. See [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fcde0a40b105212661c5af8332fc931b) :upside_down_face:

[2021-07-13 21:17] matthiaskrgr commented on #7459
Could be a duplicate of https://github.com/rust-lang/rust-clippy/issues/5305 ^^

We should be careful though.
I could imagine that this lint fires in a lot of places but if we change `v.iter()` into v.into_iter()`, and want to use `v` again afterwards (for a `dbg!()` for example or just because we continue coding in the file) it could be annoying because clippy does not know we are going to use it

[2021-07-14 00:20] giraffate commented on #7306
Yes, that was the intention. I thought that warning is valid in many cases at that time.

However, if this is a common case, it's a good idea to change that behavior.

[2021-07-14 00:27] giraffate commented on #7456
Can you provide a minimal reproduction on the playground?

[2021-07-14 05:42] ogoffart commented on #7461
I think the lint is valid.
If i understand correctly, this is how we would reproduce. (i did not test this)

[code]

If i understand the problem correctly here is that the vtable pointer to Display might not be unique in both crate for some reason and so the assert could fail.

[2021-07-14 06:02] dingxiangfei2009 commented on #7336
Similarly, this lint does not consider the lifetime constraint as well. One example is the following.

[code]
`needless_collect` suggests users to remove the `collect` call in (1) and substitute the original iterator into (2), substituting the `into_iter`. However, `u` is moved in (2) while being borrowed in (1), if we do so.

[2021-07-14 06:32] f-hanzlik commented on #7306
I'd like to note that I don't feel too strongly about this - I can always just disable the lint. I just wanted to report it since it felt a little surprising.

[2021-07-14 08:17] flip1995 commented on #7306
I mean, if you change this constant the lint will no longer trigger. But as long as the constant is `1` the lint will tell you that it is `1`. So I think the lint is right here. Even if in this case it will rather remind you to change the constant than that the `repeat(CONST)` call is wrong. I see value in that too.

So I would keep the current behavior. Especially because code like

[code]

may r

[2021-07-14 08:22] hunger commented on #7461
@ogoffart: Yes, I get that the vtable for `Display` may be different.

But `Rc` holds a pointer `ptr` in `Rc` that points to an `RcBox<T>`. That is a normal pointer for all I can tell.

That `RcBox` in turn holds a `T`, which is `dyn Display` in our case.

`Rc::ptr_eq` compares the `ptr` in `Rc` as far as I understand the code. That is a thin pointer and should be OK to compare. I do not get why c

[2021-07-14 08:28] tronical commented on #7461
I think that you might be missing is that `Rc<T>` is the size of the pointer to the `RcBox<T>` but `Rc<dyn Foo>` - in order to work - is the size of two pointers: The pointer to the allocation (`RcBox<T>`) as well as a pointer to the vtable. That way it's possible that an `Rc<T>`, `Rc<dyn Foo>` as well as an `Rc<dyn Bar>` can share the same reference count and allocation of `T` implements also `Fo

[2021-07-14 10:12] xFrednet commented on #7306
Thank you for the feedback. I'm still undecided on this one, constants are usually used for readability and to make parts *kind of* configurable. This ticket basically addresses the second reason of making things configurable.

Due to the previous comments, I would suggest keeping the current behavior and adding a note about this to the lint documentation. Would that work for everyone?

[2021-07-14 10:25] #5707 closed

[2021-07-14 10:47] flip1995 commented on #7306
Yes, and on the other hand they may hide the real value of the constant. Linting also on constants is therefore generally a good idea IMO.

SGTM

[2021-07-14 11:00] ShadowJonathan opened #7464 "`missing_unsafe_doc`, explain why an `unsafe` block is safe/sound"
### What it does

Kinda like `missing_safety_doc`, but this lint would warn about a missing comment on each `unsafe {}` block, for which a comment must exist explaining *why* the `unsafe` block is safe/sound.

### Categories (optional)

- Kind: `style`

### What is the advantage of the recommended code over the original code

There'd be no recommended code, but the lint would suggest adding
[code]

[2021-07-14 11:04] f-hanzlik commented on #7306
I like the point raised by @flip1995 in https://github.com/rust-lang/rust-clippy/issues/7306#issuecomment-879694547, so I agree that this behaviour is correct.

[2021-07-14 12:51] duongdominhchau opened #7465 "`assert_eq!(sth, true)` is replaced with (literally) `assert!(..)`"
Create a new empty binary project and change `src/main.rs` to

[code]

Then open this project in VSCode, that `assert_eq!` will be suggested to be replaced. When I apply the suggestion, it becomes `assert!(..)`.

https://user-images.githubusercontent.com/56427890/125624445-489a28b9-83c7-44bc-8183-911adf11b63f.mp4

### Meta

- `cargo clippy -V`: `clippy 0.1.55 (d2b04f0 2021-07-07)`
- `rustc -Vv`:
[

[2021-07-14 15:29] #6903 closed

[2021-07-14 16:54] MTRNord commented on #7464
I would like to have this as it also improves overall crate quality as people who are less familiar with the code inside of unsafe (as it can be a C binding for example) would get a better understanding of this code which I think is overall leading to better documentation quality for contributors of crates.

[2021-07-14 17:49] hunger commented on #7461
@tronical: Aaaahhh! Now that makes sense!

This obviously also explains nicely why the clippy lint is generated in this place.

So as suspected I misunderstood the code.

[2021-07-14 17:49] #7461 closed

[2021-07-14 20:44] #7369 closed

[2021-07-14 22:27] xFrednet commented on #5393
Heyho, #7466 updates Clippy to use diagnostic items where currently possible. There are still a bunch of paths which don't have a corresponding diagnostic item yet. (See: [`paths.rs`](https://github.com/rust-lang/rust-clippy/blob/ecf85f4bdc319f9d9d853d1fff68a8a25e64c7a8/clippy_utils/src/paths.rs) after the update).

I would be happy to go through rustc and add the missing diagnostic items. Is this

[2021-07-14 22:30] Manishearth commented on #5393
@xFrednet yes, please add them. I don't remember why the compiler does that though, perhaps ask on one of the compiler zulip channels

[2021-07-15 07:34] #7303 closed

[2021-07-15 07:41] hrls opened #7467 "LateContext::typeck_results called outside of body"
Clippy version: clippy 0.1.55 (2f391da2 2021-07-14)

[code]

Stack backtrace:
[code]

[2021-07-15 08:11] giraffate commented on #7467
Thanks for the report!

I'm closing this because it's duplicate of https://github.com/rust-lang/rust-clippy/issues/7423.

[2021-07-15 08:11] #7467 closed

[2021-07-15 10:24] xFrednet commented on #7465
Hey, thank you for the report. Are you sure this is a Clippy issue? Clippy is usually triggered by running `cargo clippy` and it doesn't replace any text unless ordered to.

Your video shows hints in the code itself. It looks to me like you're using rust-analyzer or a different vs-code plugin.

If you're unsure, could you run `cargo clippy` and provide the output? 🙃

[2021-07-15 21:31] DevinR528 commented on #7447
The lint that triggers this (at least for the above comment example) is [clippy::zero_sized_map_values](https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/zero_sized_map_values.rs#L55-L57)

[2021-07-16 03:13] duongdominhchau commented on #7465
Sorry, seems like I reported in the wrong place. I thought the suggestion is provided by clippy so I reported it here, but now I tried `cargo clippy --fix` and nothing changed.

[2021-07-16 03:13] #7465 closed

[2021-07-16 08:10] flip1995 commented on #7447
The ICE in the original comment also comes from [clippy::zero_sized_map_values](https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/zero_sized_map_values.rs#L55-L57)

[2021-07-16 08:36] flip1995 commented on #7410
Reproducer:

[code]

I think I have a fix for this ICE.

[2021-07-16 10:40] 1c3t3a commented on #7322
@rustbot claim
I'm going to work on this the coming week!

[2021-07-16 14:40] #7410 closed

[2021-07-16 18:54] shepmaster commented on #6872
I'd love to be able to create some lints for non-ideal usages of [SNAFU](https://crates.io/crates/snafu)!

It certainly seems _odd_ to have those be a part of Clippy proper — will people really be happy with increased Clippy build times / size / code complexity for a crate they might never use?

I also wonder about how versioning would work: if `Regex` substantially changed its API, would Clippy b

[2021-07-17 04:21] asomers opened #7472 "redundant_allocation warns about Box<Arc<_>>, when it's necessary for downcasting"
Lint name: redundant_allocation

I tried this code:

[code]

I expected to see this happen:

No errors reported by clippy.  The double allocation should not be considered redundant in this case because it's necessary for downcasting.  In my example, `Foo` is implmented for `Arc<Bar>`, not for `Bar` itself.  That means that creating a trait object requires using `Box<Arc<Bar>>`.  Clippy is smart en

[2021-07-17 15:34] asomers commented on #7434
It seems this issue was fixed, probably by #7431 .  Can it be closed?

[2021-07-17 17:41] Jarcho commented on #7457
This was fixed in #7287 going by the line number.

[2021-07-18 02:31] camsteffen commented on #7323
I am reviewing #7469 and want to raise a question before merging. @flip1995

I think these two things are orthogonal:

1. I want to be warned when an `unsafe` function lack an `unsafe` block. (`unsafe_op_in_unsafe_fn`)
1. I want to be warned when a macro hides an `unsafe` block. (new lint)

The fact that you are in an unsafe function does not make the hidden `unsafe` block any more egregious IMO.

[2021-07-18 03:45] #7340 closed

[2021-07-18 06:08] kalzoo commented on #6734
Saw the same general issue, can't share code but can share this little bit:

[code]

Can confirm that `CARGO_INCREMENTAL=0` also works for me.

Thanks!

[2021-07-18 17:00] dhardy commented on #7397
I believe so. Semantically however `find` conveys the idea of *finding any matching candidate* whereas `for ...` conveys *do something in a certain order*. For this code that order is important, and while the code is equivalent, the semantics are still reason enough to use `find`.

Which is quite off topic here, the point merely being justification for using `for` over `find`.

The second example

[2021-07-18 23:44] ayosec opened #7475 "Ling suggestion: use a range to cycle between values, instead arithmetic remainder."
### What it does

To cycle between `0` and a limit, we usually use an expression like this:

[code]

The line is easy to understand and works fine. However, the generated code (as shown below) is pretty bad.

An alternative is to use a range:

[code]

The generated code is much smaller and faster, but the source a bit larger and less obvious.

#### Generated Code

To see why this optimization is i

[2021-07-19 00:07] abonander commented on #6872
I recently posted a proposal for proc-macro based lints: https://internals.rust-lang.org/t/proposal-stabilizable-proc-macro-based-lints/15022/19

[2021-07-19 04:14] jhpratt commented on #6872
@shepmaster is already aware of this, but I plan on writing up some of my thoughts for a plugin-based lint system. I'll probably start doing this Tuesday evening and hope to have something to post on Wednesday on IRLO. It'll be a lot of work but long-term I think it will be worth it. @flip1995 has also expressed interest in helping out in this manner.

[2021-07-19 05:40] mikerite commented on #7475
They don't do the same thing. `fast_next` doesn't cycle at all. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e92fbbbac39bb2077928f8eccc571033)

[2021-07-19 07:01] #7142 closed

[2021-07-19 07:44] flip1995 commented on #7323
I think it should depend on the lint if the macro is in an unsafe function. Without enabling the `unsafe_op_in_unsafe_fn` your saying that it is ok to mark a function as unsafe and then everything that happens in this function may or may not be unsafe.

For your example in `fn g()` I think you're right. This is also problematic and the lint should probably trigger here regardless whether the `unsa

[2021-07-19 09:37] #7447 closed

[2021-07-19 12:33] camsteffen commented on #7323
I see what you mean.

[code]

[2021-07-19 14:14] giraffate commented on #7457
I'm closing this because of https://github.com/rust-lang/rust-clippy/issues/7457#issuecomment-881933208.

[2021-07-19 14:14] #7457 closed

[2021-07-20 04:31] #6986 closed

[2021-07-20 08:05] giraffate commented on #7434
Yes, so I'm closing this.

Thanks for the reports!

[2021-07-20 08:05] #7434 closed

[2021-07-22 08:06] MGlolenstine commented on #7452
@xFrednet Can this issue be closed now that the #7462 has been merged?
Thanks for the great work!

[2021-07-22 08:10] xFrednet commented on #7452
#7462 only documented this as a known issue. It's possible to actually fix this issue to not trigger the lint at all. I would keep this issue open until that is done, or it's decided that it's not worth it.

You're welcome, thank you for the report. :upside_down_face:

[2021-07-22 10:12] veber-alex commented on #7212
Hi, any updates on this issue?
According to rust-lang/rust@c5a61319da34e931072f2ffe3d12e530034c8c07 path trimming is not enabled for clippy for a reason but having some option to enable it anyway would be nice.
Unfortunately the obvious way shown below doesn't work.
`
RUSTFLAGS="-Ztrim-diagnostic-paths=yes" cargo clippy
`

[2021-07-22 19:04] juliancoffee opened #7479 "Better documentation for disallowed_method lint"
https://rust-lang.github.io/rust-clippy/master/#disallowed_method
Doc on All Clippy Lints shows the example of how to use it with methods from the standard library, but no example on how to use it with user-defined types neither if this is possible to use with methods of user-defined types/imported items.

When I tried to use this with `nightly-2021-07-06` in rust-toolchain I managed to get it to

[2021-07-23 07:28] zseri opened #7480 "invalid "no field on type" errors"
I tried this code:

[code]

(taken from the pijul code base, https://nest.pijul.com/pijul/pijul)

I then ran `cargo clippy -p libpijul -Z unstable-options --fix --allow-no-vcs`.
(without `-Z unstable-options --fix`, **this doesn't happen**)

I expected to see this happen: no errors

Instead, this happened: I got the following error
[code]

(notice that `k` and `p` are swapped on the left side of t

[2021-07-23 13:46] xFrednet commented on #7212
Hey, there hasn't been any progress to my knowledge, probably also because as with #6385 there hasn't been any leads where to start looking for the issue. Your linked commit could have something todo with it and is a new idea to look into. :upside_down_face:

[2021-07-23 14:05] In-line opened #7481 "Multiple if-let arms can be replaced with match"
### Example

[code]

Could be written as:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=84b742f0f5f7bf36e8dc5b7aef0a8731)

[2021-07-23 15:08] In-line commented on #7481
Or `matches!(self, TestEnum::B(_) | TestEnum::C(_))`

[2021-07-23 18:59] mvforell commented on #7220
Stumbled into this today as well. As pointed out by @estebank in [this](https://twitter.com/ekuber/status/1418585909218398209) Twitter thread, this is bad because `rustc` does not suggest a fix for the incorrect path qualification ("I'm ok if you get a suggestion that gets you another suggestion that fixes your code, but if it leads to a dead end I'm not ok with it.").

Not sure if I should open a

[2021-07-23 19:55] asomers-ax opened #7483 "Duration's constructors should not trigger or_fun_call"
Lint name: or_fun_call

I tried this code:

[code]

I expected to see this happen: nothing, since `Duration::from_secs` is a const fn.  it's cheaper to use `unwrap_or` than `unwrap_or_else`, which requires creating a closure.  I understand the rationale for closing #6943: Clippy can't be certain that the function will be evaluated at compile time.  However, I would argue that since Clippy can neit

[2021-07-24 00:14] juliancoffee commented on #7479
Saw this commit
https://github.com/rust-lang/rust-clippy/commit/70ce0c2c55b18f7c9a4bc8d767c626f8d5948fae
if I understand correctly, this is worked on currently?

[2021-07-24 04:32] Luro02 commented on #7459
Using `into_iter` instead of `iter` caused the issue which made it impossible to implement `IntoIterator` for `[T; N]`:

https://blog.rust-lang.org/2021/06/17/Rust-1.53.0.html#intoiterator-for-arrays

[2021-07-24 05:22] Luro02 opened #7486 "`cast_possible_truncation` triggers when the value is guranteed to not be truncated"
Lint name: `cast_possible_truncation`

I tried this code:

[code]

I expected to see this happen: the lint should not trigger

Instead, this happened: the lint about a possible truncation has been emitted

### Meta

- `cargo clippy -V`: `clippy 0.1.55 (02718709 2021-07-22)`
- `rustc -Vv`:
[code]

[2021-07-24 06:28] schungx opened #7487 "redundant_allocation should not warn against `Box<Box<dyn T>>`"
Lint name: redundant_allocation

Should not catch `Box<Box<dyn T>>` because it is necessary to keep a type small by redirecting the double-pointer of the `Box<dyn T>`.

[2021-07-24 07:59] F3real commented on #7451
@rustbot claim

[2021-07-24 11:59] xFrednet commented on #7220
The issue is most likely a result of code in Clippy. The code for `new_without_default` calls `format!(".. {} ..", ..)` on the type, and this is probably the reason why the complete path is prefixed.

A possible solution could be to snip the type part from the original `new` impl block. Meaning this:
[code]

I might look into this over the next week :upside_down_face:. In any case, I think this sh

[2021-07-24 14:27] #7306 closed

[2021-07-24 17:36] nfejzic commented on #7389
Hi, I'm new here and would really like to contribute.

@rustbot claim

[2021-07-24 21:22] xFrednet opened #7489 "Use `avoid_breaking_public_api` configuration in types module"
Clippy has a configuration value called [`avoid_breaking_public_api`](https://github.com/rust-lang/rust-clippy/blob/2464ee92840f8d081bb2f546020581e73ab789fa/clippy_lints/src/utils/conf.rs#L125-L126) which disables lint messages suggesting changes to the public API of a crate. This configuration value should also affect lints inside the type module, as discussed in #7308 ([here](https://github.com/

[2021-07-25 10:53] lengyijun opened #7490 "`RefCell<u32>` -> `Cell<u32>`"
### What it does

Suggest using `Cell<T>` instead of `RefCell<T>`, T=u32,i32,f32 ...

### Categories (optional)

`clippy::perf`

*What is the advantage of the recommended code over the original code*

- `RefCell` will calculate borrow at runtime, so `RefCell` has more overhead over `Cell`
- `RefCell` may panic at runtime

### Drawbacks

Maybe some problems in generic type.

### Example

[code]

Co

[2021-07-25 10:56] lengyijun opened #7491 "`RefCell<u32>` -> `Cell<u32>`"
### What it does

Suggest using `Cell<T>` instead of `RefCell<T>`, T=u32,i32,f32 ...

### Categories

`clippy::perf`

*What is the advantage of the recommended code over the original code*

- `RefCell` will calculate borrow at runtime, so `RefCell` has more overhead over `Cell`
- `RefCell` may panic at runtime

### Drawbacks

Maybe some problems in generic type.

### Example

[code]

Could be writ

[2021-07-25 12:13] xFrednet commented on #7220
@rustbot claim

[2021-07-25 19:12] xFrednet commented on #7459
Hey @Luro02, could you elaborate your point a bit? I'm sadly not quite sure what you mean. :upside_down_face:

[2021-07-26 02:39] thomaseizinger commented on #7081
At least in IntelliJ Rust and rust-analyzer, inlay type hints solve this problem.

I do see this argument although it is not my workflow at all. I almost never type `let` bindings myself but always start with the expression and use IDE assists like "Extract variable" or postfix completions like `.let` to end with Rust code that compiles.

From that perspective, I find it an annoyance if I have to

[2021-07-26 12:06] #7417 closed

[2021-07-26 12:36] #7220 closed

[2021-07-26 17:11] camsteffen commented on #7491
You double submitted :)

[2021-07-26 17:11] #7491 closed

[2021-07-26 17:21] camsteffen commented on #7451
I think we should enhance and rename `box_vec`.

[2021-07-26 17:35] camsteffen commented on #7481
Should also include
[code]
and (any combination of `if let` and `match`)
[code]
Should not include
[code]

I would call this `redundant_match`. Unfortunately we already have `redundant_pattern_matching` so I would rename that to `needless_match`.

[2021-07-26 18:44] camsteffen commented on #7081
It should be possible for simple cases at least where the generic function output is assigned directly, or maybe with one added method like `unwrap`. It would just be hard to implement in a way that covers *all* cases.

[2021-07-26 19:17] Dionysusnu opened #7496 "map_flatten does not cover Result.map"
Lint name: `map_flatten`

### I tried this code:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3c1eced0e47dac7f563945134ddc3bc8
### I expected to see this happen:
This should fall under lint rule `map_flatten`.
The lint should advise the user to use `andThen`, instead of the `.map(..).flatten()`

### Instead, this happened:
Result is not currently covered by the l

[2021-07-26 19:28] Dionysusnu commented on #7496
First issue here, still relatively new to Rust. Sorry if this is bad/wrong, please tell me if so.

[2021-07-26 20:32] xFrednet commented on #7496
This is the right place to report this. It was probably not implemented as `flatten` for results is still behind a feature flag. I've created a second playground that doesn't use the `parse` method: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cd7b9051f684341f167c3aa555b1273a). Thank you for providing an example, that was very helpful! :upside_down_face:

Th

[2021-07-26 22:06] camsteffen commented on #7496
We already know the error types are the same if `flatten` compiled!

I think this lint should also cover `option.map().flatten()` and `iterator.map().flatten()`.

[2021-07-27 11:10] weiznich opened #7497 "False positive by redundant_closure to remove a closure that is required for lifetime reasons"
Lint name: `redundant_closure`

I tried this code:

[code]

This is a minimized version from real code inside of diesel. See [this playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7b99d9dfc310a87c3ec12c34b0b0e182) for an interactive version.

This results in the following output:
[code]

I expected to see this happen: No warning or a suggestion that won't cause

[2021-07-27 12:48] thomaseizinger commented on #7081
Okay, thanks for the confirmation.

I'll leave this open and see if there is further interest in it. I may also attempt to write it myself now that I've discovered https://github.com/trailofbits/dylint.

[2021-07-27 14:39] #6845 closed

[2021-07-27 14:51] #7389 closed

[2021-07-28 01:34] TheIronBorn commented on #7340
I can confirm this works on my end now

[2021-07-28 08:00] chevdor opened #7499 "infallible_destructuring_match misses ref in suggested fix"
I am using `clippy 0.1.55 (88539999 2021-07-06)`.

The suggestion given for:
[code]
is:
[code]

it should actually include the `ref`:
[code]

[2021-07-28 10:03] HKalbasi opened #7500 "Explicit unlock for locks"
### What it does

Force locks to have a dedicated block which lock is acquired at first line of it, or an explicit `drop`.

### Categories

- Kind: style

### Why?

Implicit drops can be [surprising](https://github.com/rust-lang/book/issues/1871) and some users of linux community forum lwn have [some concerns](https://lwn.net/Articles/864005/) about it that can cause bug in linux kernel. It can al

[2021-07-28 11:22] kangalioo commented on #5588
Funny, I was just about to open an issue about the exact opposite; warning about implementing `TryFrom<&str>` if `FromStr` is also implemented.

TryFrom is mainly used for conversions between types which are semantically the same. You can see that in the [TryFrom implementations](https://doc.rust-lang.org/std/convert/trait.TryFrom.html#implementors) of the standard library:
- conversions from inte

[2021-07-28 13:27] mathstuf commented on #7500
I think the main problem will be detecting which local variables are guards of this kind. Should it go based on:

  - an ignored variable name (`_arbitrary`);
  - the name of the type being assigned;
  - the variable name (`*guard*` or `*lock*`); and/or
  - the method name (`*lock*`)?

How can a project specify the names usually involved with this kind of code?

[2021-07-28 13:29] #1303 closed

[2021-07-28 13:29] #4310 closed

[2021-07-28 13:36] ojeda commented on #7500
If this is to be done, I would avoid guessing via heuristics. I would instead allow marking guard-like types explicitly with a custom attribute or similar.

[2021-07-28 14:04] camsteffen commented on #7500
Agreed. We can just include std types like `Mutex`, `Stdin` and similar. Maybe we can support something like `#[clippy::guard] struct MyGuard` if it is wanted.

There is a questionable case here - what if `lock()` is on the first line of the function? It wouldn't make sense to add a block around the entire function. Would the user just have to add `drop`? Or is that case already okay?

Perhaps it

[2021-07-28 15:42] HKalbasi commented on #7500
If user found it doesn't make sense to add a block around entire function, they have the choice of using `drop`. Personally I prefer `drop` in those cases but block in others, because block visually show the scope of lock if it is a small part of a big function.

It shouldn't be. Locks can come at beginning of functions and loops and ifs accidentally. But if a lock appears in a simple unnecessary

[2021-07-28 21:22] HKalbasi commented on #7356
This is because both of zeros are `identity_op`. So it will generate one warning for left zero and one for right zero. If you change it to `0 + 1` you see just one warning and if you change it to `0 + 0 + 0` you will see three warnings. It can be better but I think it doesn't matter in real world.

[2021-07-28 21:34] MakotoE commented on #7356
Thanks. I should have checked the linked page for the explanation.

[2021-07-28 21:34] #7356 closed

[2021-07-28 22:23] HKalbasi commented on #7211
@giraffate any disagreement? How much harm does renaming a lint?

[2021-07-28 22:36] HKalbasi commented on #7199
`Err("error")?` is also eagerly evaluated. Your code is basically equal to a `return Err("error")`.

[2021-07-29 00:23] giraffate commented on #7211
No, I just wanted some more opinions about this.

[2021-07-29 05:40] r00ster91 commented on #7199
It seems you are right.

[2021-07-29 05:40] #7199 closed

[2021-07-29 08:00] HKalbasi commented on #7211
#2845 suggest merging those and some more lints to `unused_operations`. I think `unnecessary_operation` is a better name for that merged lint but this is already a lint which is completely different.

[2021-07-29 13:30] KaiserKarel opened #7508 "LateContext::typeck_results` called outside of body"
thread 'rustc' panicked at '`LateContext::typeck_results` called outside of body', src/tools/clippy/clippy_lints/src/use_self.rs:213:20
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust-cli

[2021-07-29 15:48] jyn514 opened #7510 "`while_let_on_iterator` suggestion doesn't compile"
I tried this code:

[code]

I expected to see this happen: Clippy suggests code that compiles:
[code]

Instead, this happened: Clippy's suggestion doesn't compile.
[code]
[code]
(`for _ in self {}` doesn't compile either because it moves `self`, and it's used again afterwards.)

### Meta

- `cargo clippy -V`: clippy 0.1.54 (a178d03 2021-07-26)
- `rustc -Vv`:
[code]

[2021-07-29 18:32] SamRodri commented on #7510
I got the same false positive in a tree iterator code, reduced:

[code]

I’m don’t think there is a correct way to use a `for` loop in this case.

[2021-07-29 18:46] lopopolo opened #7511 "Re-exports do not allow item-style allow(clippy::module_name_repetitions) attributes"
Lint name: `module_name_repetitions`, `useless_attribute`.

I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=773e01d26c21788a14417433d240e745

I expected to see this happen: Only the `CaptureNames` re-export triggers a lint warning.

Instead, this happened: `SplitN` triggers a useless attribute warning, which differs from the behavior of applying

[2021-07-29 19:30] SamRodri opened #7512 "`needless_collect` false positive"
Lint name: `needless_collect`

Reduced code:

[code]

I expected no warning here because `foo` is dropped.  The incorrect suggestion also appears if `foo` is shadowed, potentially generating incorrect code that compiles.

### Meta

- `cargo clippy -V`:  clippy 0.1.54 (a178d032 2021-07-26)
- `rustc -Vv`:
[code]

[2021-07-29 19:46] jntrnr commented on #7512
Just coming here to +1 this. We're having to disable this lint globally in Nushell because of the number of false positives.

[2021-07-29 22:00] HKalbasi commented on #4205
Three inactive PR, cool!

[2021-07-29 22:34] awused opened #7513 "collapsible_if false positive with RefCell borrow"
Lint name: collapsible_if

I tried this code:

[code]

Clippy suggests this change which does not compile because it requires borrowing t as mutable while it is already borrowed as immutable.
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.54 (a178d03 2021-07-26)
- `rustc -Vv`:
[code]

[2021-07-29 23:02] awused opened #7514 "`manual_flatten` false positives with reference slices"
Lint name: manual_flatten

I tried this code:

[code]

This also applies to mutable references.

Clippy suggests this, which is both incomplete as a refactor and does not compile. Try as I might I could not get into_iter().flatten() to compile.

[code]

### Meta

I saw https://github.com/rust-lang/rust-clippy/issues/6893 which appears to be the same issue, but it was claimed to be fixed there and

[2021-07-30 01:58] pickfire commented on #7510
Same issue here https://github.com/helix-editor/helix/pull/525/files#diff-0dd7da00658aae6b00b285feac8d5a8a9f41717a1000be65fac7fa2874d322f7R248

[2021-07-30 05:26] hellow554 commented on #1502
This is an interesting thing I stumpled upon today.

I would say that your code @dtolnay should still be linted, because you assign the unit value to a named variable (although it has an underscore, but that doesn't matter here ;) )

I would let clippy suggest doing this:

[code]

This would still let the compiler infer the type but telling the user, that he can't do anything with the unit value.

[2021-07-30 05:29] dtolnay commented on #1502
`let _: ()` does not assign a named variable.

[2021-07-30 05:47] hellow554 commented on #1502
I somehow saw `let _a: ()`, don't ask me why... (:

[2021-07-30 06:21] hellow554 opened #7515 "Suggest using format precision for floats instead of casting to integer"
### What it does

*What does this lint do?*
Linting code where a floating point value (f64/f32) is casted to an integer just for printing/formatting. The intention behind that is to remove the fraction part of that number and only display the integer itself. This is closely related to [`cast_possible_truncation`](https://rust-lang.github.io/rust-clippy/master/index.html#cast_possible_truncation).

[2021-07-30 07:22] hellow554 commented on #7515
This should of course (if possible) also apply to `i64::from(a)` conversions (and other integers)

[2021-07-30 08:39] hellow554 opened #7517 "lint is applied twice to function if it's async"
I tried this code:

<details>
<summary>108 lines of code</summary>

[code]
</details>

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b2d5e2375e5ca88732d978e8c48af29b))

I expected to see this happen:
One single warning that the function contains two many lines:

Instead, this happened:
**Two** warnings with a different starting span

[code]

### Meta

- `car

[2021-07-30 11:14] dswij commented on #7514
In addition to the original issue, `manual_flatten` also seems to give false suggestion on

[code]

Running clippy suggests this which does not compile:

[code]

Problem lies on not checking nested reference on the lint [here](https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/loops/manual_flatten.rs#L58-L64).  And the original issue suggested that the lint do not check for type

[2021-07-30 21:41] awused opened #7518 "`trivially_copy_pass_by_ref` makes suggestion that does not compile"
I tried this code:

[code]

Clippy's suggestion does not compile:

[code]

Newest stable version.

[2021-07-31 01:37] Jarcho commented on #7508
Can't repro on the latest nightly. Looks like it was fixed with #7428.

[2021-07-31 04:16] mikerite commented on #7518
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=83047eb94d8750ed998599846295e591)
[code]

The suggestion should be to use `Self` not `self`.

[2021-07-31 15:26] #7510 closed

[2021-08-01 21:01] arxanas opened #7523 "Rust 1.54: forcing query with already existing `DepNode`"
Hi, I'm seeing the following error on Rust 1.54:

[code]

But not on Rust 1.53:

[code]

This is the error:

[code]

You can reproduce by running Clippy on https://github.com/arxanas/git-branchless/commit/f6ef80e0869a7d1a945c1ca0fb5db7e137bcbf4b. Here is a Github actions build that fails in the same way: https://github.com/arxanas/git-branchless/actions/runs/1088107349.

The warning above is legit

[2021-08-02 00:50] giraffate commented on #7523
It might be duplicate of https://github.com/rust-lang/rust-clippy/issues/7373.

[2021-08-02 00:59] giraffate commented on #7508
Thanks for the report!

I'm closing this because of https://github.com/rust-lang/rust-clippy/issues/7508#issuecomment-890273350.

[2021-08-02 00:59] #7508 closed

[2021-08-02 07:39] #7496 closed

[2021-08-02 13:46] Mirko-von-Leipzig opened #7524 "bad fix suggested for non-mut ref to a mut value"
For `cargo +nightly clippy`, given the following code:
[code]
`clippy` suggests using
[code]
This fails to compile as `ref_x` itself is immutable. The correct suggestion should probably be:
[code]

### Meta
[code]
[code]

[2021-08-02 14:31] xFrednet commented on #7524
Seems like we've missed that case :). The fix can most likely just check the type of `ref_x` and then decide based on that if `&mut` has to be added. (See [`clippy_lints/src/methods/append_instead_of_extend.rs`](https://github.com/Valentine-Mario/rust-clippy/blob/44608b1857951ba82b630853da6fc6c2f40fde53/clippy_lints/src/methods/append_instead_of_extend.rs#L19-L20))

cc: @Valentine-Mario FYI and in

[2021-08-02 14:37] xFrednet commented on #7489
@rustbot claim

[2021-08-02 16:08] Valentine-Mario commented on #7524
Yeah sure let me give it a look

[2021-08-02 16:09] Valentine-Mario commented on #7524
@rustbot claim

[2021-08-02 16:53] Manishearth opened #7526 "needless_collect false positives around borrowing"
Lint name: `needless_collect`

I tried this code:

[code]

([playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=843ee625c223765e9059fc627baa47bb))

I expected to see this happen: No lint, because removing the collect produces an iterator that borrows from `self`

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: `clippy 0.1.54 (a178d03 2021-07-26)`
- `ru

[2021-08-03 02:29] giraffate commented on #7517
It seems not to check `FnKind::Closure`.

[2021-08-03 03:04] dswij commented on #7526
I think this is closely related to #7512

[2021-08-03 08:13] dbr opened #7527 "New lint suggestion: unused call to enumerate()"
### What it does

Warn in cases where enumerate is called, but the enumerated value is ignored (`_i`)

### Categories (optional)

- Kind: I guess "complexity"

*What is the advantage of the recommended code over the original code*

Removes an unnecessary call, which introduces more code in what could otherwise be a simple for loop.

This can happen if `.enumerate()` is needed, then in the process

[2021-08-03 09:35] hellow554 commented on #7526
I mean, you're right, but shouldn't this be linted anyway and say, that your `impl Iterator` should have a lifetime bound to self, e.g. : `impl Iterator<Item = u8> + '_`? Not sure if that's possible though.

[2021-08-03 14:47] Manishearth commented on #7526
@hellow554 It depends on what's being borrowed. We _could_ do this, however:

 - What if a trait expects that signature?
 - What if a local is being borrowed here
 - What if the method is being used in a way that its caller needs that signature?

The first two can be handled, the last can't, though we can declare that we're okay with it.

[2021-08-03 14:48] opeik commented on #3837
Out of curiosity, is this decision permanent? If so, should this issue stay open?

[2021-08-03 14:55] Manishearth commented on #3837
Yeah this can be closed. We got most of the same benefits from the workspace wrapper work.

[2021-08-03 14:55] #3837 closed

[2021-08-03 16:07] opeik commented on #7360
I've been having a similar issue with the following trait boundaries:
[code]
[code]
Both `{A, B}::{Error, Future}` requires `Send`. The suggestion of `B::Future: Send + Send` is very confusing too.

[2021-08-03 16:40] r00ster91 commented on #7527
I'm not convinced we should have this lint. If the user explicitly added an underscore for the index then there is a reason. Maybe they want to change it later or some other reason. They wouldn't want a warning for that just like how you wouldn't want a warning for `let _unused = 1;`. If you argue that the lint is supposed to remind the user in case they forgot that this index variable is undersco

[2021-08-03 17:05] danielhenrymantilla commented on #7360
Permalinks:

  - [`SpanLessHash::hash_qpath`](https://github.com/rust-lang/rust-clippy/blob/77af56d18191767af813db51eac4492e5e10d07b/clippy_utils/src/hir_utils.rs#L757-L758)

  - Used [here](https://github.com/rust-lang/rust-clippy/blob/77af56d18191767af813db51eac4492e5e10d07b/clippy_lints/src/trait_bounds.rs#L99-L112) (by the way, the link to the source of the lint in the documentation is quite n

[2021-08-03 21:56] matthiaskrgr commented on #7527
If I go into my cargo cache at ` ~/.cargo/registry/src/github.com-1ecc6299db9ec823 ` and search the ~3000 crates I have extracted there for the pattern via `grep -r "enumerate"| grep "for (_\|, _.) in"` there are only around 54 matches.

Most of them seem to come from benchmarks or tests of the itertools crate.

[2021-08-04 04:31] MarkTanashchuk opened #7530 "Lint that replaces a destructive assignment of one field from a tuple with an index-based value"
### What it does

This lint recommends avoiding destructuring the tuple if only one of its values is used and the rest are marked `_` and, instead, getting the value directly by index.

### Categories (optional)

- Kind: `clippy::style`

<br class="Apple-interchange-newline">

*What is the advantage of the recommended code over the original code*

It's shorter and easier to read.
The difference is

[2021-08-04 05:10] MarkTanashchuk commented on #7530
Although, in fact, with such a warning the rust compiler will not warn the programmer that the number of tuple elements has changed (as it would in the case of destructuring due to an inappropriate pattern), and the programmer may forget to change the index.

However, the rest pattern(
`let (.., variableName) = ("One", "Two", "Three");`
) is used widely, and programmers are relatively okay with it

[2021-08-04 21:47] SNCPlay42 opened #7532 "`mut_range_bound` on immediately broken loop"
I tried this code:

[code]

I expected this to happen: no diagnostic. `level_count` is mutated for when it is used *after* the loop, and the loop is immediately broken, so the lack of effect changing the bound has on the number of iterations of the loop is moot.

Instead, this happened: the following diagnostic is emitted:

[code]

### Meta

clippy 0.1.56 (2021-08-03 a6ece56) on [playground](https

[2021-08-04 21:50] SNCPlay42 commented on #7532
I'm unsure to what extent this and #6072 are the same thing. In this code, the `break` provides a clear hint that the mutation was not expected to change the behaviour of the loop.

[2021-08-05 00:23] giraffate commented on #7499
Can you provide a minimal reproduction on the playground?

[2021-08-05 03:05] jyn514 commented on #3734
This would be difficult to do in clippy because it needs access to `resolve_str_path_error`, which needs a resolver, which is destroyed when the TyCtxt is created. It would be much easier to implement in Rustdoc - that could be done by adding a check around here which sees if the link text resolves to the same item as the link target: https://github.com/rust-lang/rust/blob/25b764849625cb090e8b81d1

[2021-08-05 03:08] jyn514 commented on #3734
@flip1995 can you move this to rust-lang/rust? It's still a good first issue, but it's not a good first issue for clippy.

[2021-08-05 03:14] jyn514 commented on #1912
See also the rustdoc issue for this: https://github.com/rust-lang/rust/issues/75805

[2021-08-05 07:48] flip1995 commented on #3734
I don't have the rights to move this to rust-lang/rust, so @Manishearth

[2021-08-05 09:46] Valentine-Mario commented on #7524
@xFrednet how do I check if a variable is mutable or immutable? having a hard time figuring that out.

[2021-08-05 10:01] xFrednet commented on #7524
Hey, this depends on the object you want to check it for. In this case, we already have the source type. I believe that [`Ty::is_mutable_ptr(&self)`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/struct.TyS.html#method.is_mutable_ptr) should work here. Could you try that? I can do some more digging if that doesn't work :upside_down_face:

[2021-08-05 10:19] Valentine-Mario commented on #7524
@xFrednet  in the case as above, the source type `src_ty.is_mutable_ptr()` would always return false as it points to the type of the value assigned not the var itself.

[2021-08-05 10:54] xFrednet commented on #7524
Ups, you're right. What you can do is first check the type of `drain_vec` without calling `.peel_refs()` on it. That preserves the fact that it's actually a `&mut T`.

I've basically tried this:
[code]

Is that enough @Valentine-Mario ? :upside_down_face:

[2021-08-05 12:43] chevdor commented on #7499
This issue appears to be fixed in `clippy 0.1.56 (49272389 2021-07-29)`

[2021-08-05 12:43] #7499 closed

[2021-08-05 12:59] LeSeulArtichaut commented on #7517
@rustbot clain

[2021-08-05 15:42] LeSeulArtichaut commented on #7518
@rustbot claim

[2021-08-05 20:06] HKalbasi commented on #7415
I don't understand this. Outer loop isn't a loop actually (continue belongs to `for` loop) and it is correctly linted. So what is the problem?

[2021-08-05 20:18] LeSeulArtichaut commented on #7464
This also works really well with the `#[deny(unsafe_op_in_unsafe_fn)]`, which forces you to put unsafe blocks around unsafe operations in unsafe functions, which in turn requires that you write a `SAFETY` comment

[2021-08-05 20:18] camsteffen commented on #7415
Huh you're right.

[2021-08-05 20:18] #7415 closed

[2021-08-05 20:44] LeSeulArtichaut commented on #7464
I'll try to take a stab at this. @rustbot claim

[2021-08-05 21:48] HKalbasi opened #7537 "never_loop in for loop"
People use a never_loop for loop for picking first element (if exists) of an iterator. It is possible without such a loop with `if let Some(elem) = x.iter().next() {` instead of `for elem in x {` but is it considered a better way? If it isn't, we should disable never_loop for `for` loops. If it is, we can provide a auto-fix suggestion so people who are not aware of this, don't disable lint.

[2021-08-06 00:26] giraffate commented on #7480
Can you show the warning message which Clippy shows at that point, not error message when `--fix`?

[2021-08-06 02:12] xobs opened #7538 "`manual_flatten` suggests code that does not compile"
Lint name:

`manual_flatten`

I tried this code:

[code]

I expected to see this happen: The lint should not have been emitted. Alternately, the suggestion should have resulted in code that compiled.

Instead, this happened: The `Quick fix` resulted in code that did not compile.

### Meta

- `cargo clippy -V`: clippy 0.1.54 (a178d032 2021-07-26)
- `rustc -Vv`:
[code]

[2021-08-06 14:16] camsteffen commented on #7537
I don't think it should be disabled for `for` loops. So add a suggestion like this? SGTM.

[code]

[2021-08-06 14:32] camsteffen commented on #7527
This is not a good reason not to lint. Clippy's job is to lint code as it is written, not guess what it might be some day.

Actually I think a lint for `let _unused = 1;` may be a good idea - we can detect that the expression `1` has no side effects, and so that statement is useless. It is not the same as linting every unused variable. A valid use case for an unused variable is `let _ignore_result

[2021-08-06 18:50] LeSeulArtichaut commented on #7537
@rustbot claim

[2021-08-06 19:54] zseri commented on #7480
clippy does not show any warning message for that snippet.

[2021-08-06 21:18] kangalioo opened #7540 "Suggest rewriting applicable match or if-let statements to new let-else syntax"
### What it does

Once the [new let-else syntax](https://github.com/rust-lang/rfcs/blob/master/text/3137-let-else.md) is introduced, it would be awesome to have a lint which detects match and if-let statements which could be improved with let-else.

### Categories (optional)

- Kind: clippy::style

*What is the advantage of the recommended code over the original code*

It's more concise and idioma

[2021-08-07 04:53] dbr commented on #7527
I think that is a good point

Additionally:
- the `_` might be there for a good reason, or it might be "because that warning told me to add an underscore", or added by `cargo fix` which I think was the case with when I spotted this in my own code base - both of these seem like cases where a linter message would be beneficial
- there is some existing lints which are triggered by `_unused` variable,

[2021-08-07 06:11] r00ster91 opened #7545 "Detect useless underscored variables with no side effects"
### What it does

It detects variables like `let _unused = 1;` and suggests deleting that variable because it serves 0% purpose and has no side effects whatsoever. This is different from `let _unused_result = function();` which likely has a side effect (unless the function is empty/the function contents have no side effect, maybe that should be detected too? Probably not but I'm not sure).

See al

[2021-08-07 06:14] r00ster91 commented on #7527
Now I kind of agree. I thought underscored variables should always strictly be left alone and have no warnings whatsoever but in reality it certainly makes sense to apply lints to even underscored variables if they have no side effects. I made #7545.

[2021-08-07 13:05] #7524 closed

[2021-08-07 13:19] #7517 closed

[2021-08-07 17:01] caudate-julie opened #7547 "false positive nonstandard_macro_braces in derive macro"
Lint name:
`nonstandard_macro_braces`

I tried this code:

[code]

I expected to see no clippy lints.

Instead, I got:

[code]

Issue was [reported in postgres](https://github.com/sfackler/rust-postgres/issues/815), but they say it's probably a bug on clippy side.

### Meta

- `cargo clippy -V`: clippy 0.1.55 (d2b04f07 2021-07-07)
- `rustc -Vv`:
[code]

[2021-08-08 14:06] dmilith commented on #6420
I've found an even worse case: Code compiles… but the code logic changes: https://twitter.com/dmilith/status/1424370582179692550?s=20

[2021-08-09 04:34] dswij commented on #7538
Depending on what `servers` is, this might be related to #7514

[2021-08-09 06:54] xobs commented on #7538
Sure, here's a minimal example:

[code]

Here's a link to the Playground, which also gives this recommendation: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=265c9480c7cbb542e9dd26aca6562c2b

[2021-08-09 09:39] flip1995 commented on #6420
Oh, so the `collect` in your case forces the iterator to evaluate. So removing it makes the statement lazy and it won't evaluate. Detecting this is even harder than detecting if the underlying iterator is mutated. Is it time to move this lint to `nursery`?

[2021-08-09 09:50] tl-alex-butler opened #7548 "bool_assert_comparison false positive when one side is non-bool with PartialEq<bool> impl"
Lint name: bool_assert_comparison

When testing `serde_json::Value` values, or more generally more-complex-than-bool types that implement `PartialEq<bool>`, `assert_eq!` testing should not be linted against.

### Example

[code]

These trigger _bool_assert_comparison_ lint
[code]

However, these aren't trivially fixable with `assert!(..)`. Moreover, converting to a bool for testing is worse code a

[2021-08-09 11:14] dswij commented on #7514
@rustbot claim

[2021-08-09 13:48] #6598 closed

[2021-08-09 17:06] cameron1024 opened #7549 "Clippy lints only applying in `main.rs`"
I'm not sure if this is actually a bug or if I'm doing something wrong, if I create a blank project with `cargo new example`

[code]
I expect the rule to apply to both files and deny both `println!()` calls.

Instead, only the `println!()` in `main.rs` is highlighted as an error. If I comment out that line and run with `cargo run`, the program compiles and runs fine (behaviour is consistent betwee

[2021-08-10 00:35] giraffate commented on #7549
You can globally enable or disable lints by passing flags like:
[code]

`#!` is the inner-attribute, it's applied in item declared within, so it won't work in `other` module in your example.

[2021-08-10 03:41] mikerite commented on #7549
This is a duplicate of #5721. The problem is that the `print_stdout` is running in a pre-expansion pass. Pre-expansion passes are broken and won't be fixed. This lints and others need to be rewritten to use normal passes.

[2021-08-10 03:49] giraffate commented on #7549
Oh, thanks! https://github.com/rust-lang/rust-clippy/issues/7549#issuecomment-895704518 is right.

[2021-08-10 03:51] tsoutsman opened #7550 "Detect redundant `Default` implementations"
### What it does

Detects custom `std::default::Default` implementations that are identical to a derived implementation. This could probably be done with other derive attributes, but I think `Default` is a fairly common one that people may implement themselves.

### Categories (optional)

- Kind: `clippy::style`

*What is the advantage of the recommended code over the original code*

It is more co

[2021-08-10 08:44] pchampin opened #7551 "iter_skip_next creates confusion"
As I have [reported elsewhere](https://github.com/rust-lang/rust/issues/87911), I consider the `Iterator::nth` method to be very badly named, and so the suggestion by clippy to replace `.skip(n).next()` by `.nth(n)` is a bad idea, in my opinion.

The reader could be under the impression that `it.nth(2)` will return the second element of the iterator, while in fact it will return the third one. I t

[2021-08-10 08:56] cameron1024 commented on #7549
Thanks 😀

[2021-08-10 08:56] #7549 closed

[2021-08-10 08:57] Geobert opened #7552 "unnecessary `unsafe` block when it's needed (cxx related)"
Lint name: unused_unsafe

I tried this code:

[code]

I expected to see this happen: Compiler says I needed to add `unsafe`, no warning from Clippy

Instead, this happened: Compiler says I needed to add `unsafe`, clippy is emitting a warning about uneeded unsafe

### Meta

- `cargo clippy -V`: clippy 0.1.54 (a178d03 2021-07-26)
- `rustc -Vv`:
[code]

[2021-08-10 10:40] #7518 closed

[2021-08-10 22:10] austenadler opened #7553 "Add lint for calling `VecDeque::swap` as it might panic"
### What it does

Triggers on use of possibly-panicking function [`VecDeque::swap`](https://doc.rust-lang.org/std/collections/struct.VecDeque.html#method.swap) when index is out of bounds, similar to existing lint `clippy::indexing_slicing`.

### Categories (optional)

- Kind: restriction

Recommended code would not panic, swap would. For users trying to prevent all (or all non-std) panics, this w

[2021-08-11 00:42] giraffate commented on #7551
I have the same question as https://github.com/rust-lang/rust/issues/87911#issuecomment-896231506.

[2021-08-11 00:54] giraffate commented on #7547
I can't reproduce it. Can you try it by using latest nightly?

It might be fixed at https://github.com/rust-lang/rust-clippy/pull/7431.

[2021-08-11 03:24] adamchalmers opened #7554 "Suggest changing `if let Some(3) = x` to `if x == Some(3)`"
### What it does

I was mentoring a new Rust programmer on my team, and he was a bit confused by `if let`. The root of his confusion was that he thought `if let` is used to introduce a binding. I agreed with him! But then he showed me a case where you can use `if let` without binding:

[code]

I told him, "yeah, if I saw that in code review, I would suggest using `if x == Some(3)` instead.

### Ca

[2021-08-11 04:37] mikerite commented on #7551
I don't think it would be good for Rust if the libs team said a method was fine and the linter discouraged it's use. So I would say this issue should be closed pending the outcome of rust-lang/rust#87911. At least then all the discussion can be kept in one place.

[2021-08-11 05:56] jorgecarleitao opened #7555 "branches_sharing_code suggests code with different semantics"
Lint name: branches_sharing_code

I tried this code:

[code]

I expected to see this happen: No suggestions.

Instead, this happened: there is a suggestion to write the above as

[code]

which is not semantically equivalent: one prints `Some(5)`, the other `Some(10)`.

I.e. it seems that there is a suggestion to commute two non-commutable lines.

### Meta

- `cargo clippy -V`: e.g. clippy 0.1.56 (

[2021-08-11 07:37] xFrednet commented on #7555
Related to #7452 and #7198

[2021-08-11 12:56] pchampin commented on #7551
@milerite my suggestion was indeed not meant to disavow the libs team by discourageing the use of `nth`.
 It was to merely stop actively encouraging it, by disabling the `iter_skip_next` rule.

[2021-08-11 15:11] #7537 closed

[2021-08-11 17:20] camsteffen commented on #7551
`Iterator::nth` is idiomatic Rust. It doesn't make sense to stop suggesting it based on one person's opinion. At a bare minimum, I think we would need some evidence that a significant portion of the Rust community dislikes `nth` to change Clippy. I am quite certain that is simply not the case.

[2021-08-11 17:20] #7551 closed

[2021-08-11 17:49] pchampin commented on #7551
Apologies if it sounded like I was trying to impose a personal opinion. My goal was merely to open the discussion.

[2021-08-11 19:25] camsteffen commented on #7554
Duplicate of #1716

[2021-08-11 19:25] #7554 closed

[2021-08-11 19:34] camsteffen commented on #7397
I don't think Clippy should make exceptions for such cases. You admitted it is ugly and Clippy did its job by agreeing with you. Whether the code should be changed or `#[allow]`ed is a matter of personal preference.

[2021-08-11 19:44] camsteffen commented on #7550
Lint name idea: `derivable_impls`

Huh, I'm surprised we don't have this!

[2021-08-11 19:57] camsteffen commented on #7481
@rustbot claim

I think I will just enhance `collapsible_match`. Another idea is `mergeable_match` since this may be slightly less controversial than `collapsible_match`. The difference is that `collapsible_match` (currently) composes patterns into a single pattern.

[2021-08-11 22:30] camsteffen commented on #7545
This can be an enhancement of `no_effect`.

[2021-08-11 23:52] LeSeulArtichaut commented on #7552
The `unused_unsafe` lint is emitted by rustc, not clippy. If there is an issue it should be filed to the [rust-lang/rust](https://github.com/rust-lang/rust) repo.

I'm not able to reproduce your issue however:

[code]
just compiles for me. The reason for this is that CXX generates the following code:

[code]
so `ffi::my_fct` is not an `unsafe` function. Am I missing something?

[2021-08-12 07:49] Geobert commented on #7552
My bad, rust-analyzer first squiggle it, I though it was the compiler. (Love your nickname btw x) )

[2021-08-12 07:49] #7552 closed

[2021-08-12 11:37] vandenheuvel opened #7559 "Suggest implementing `Iterator::fold` and others when implementing `Iterator` for an enum"
### What it does

Suggest to implement optional methods when implementing Iterator for an enum.

From [the iterator docs](https://doc.rust-lang.org/std/iter/index.html#implementing-iterator):

This almost always important when implementing Iterator on an enum, as implementations of `Iterator::next` will almost always branch on the variant (and this variant is rather unlikely to change; if it does,

[2021-08-12 15:28] crumblingstatue opened #7561 "filter_next false positive"
Lint name:
filter_next

I tried this code:

[code]

I expected to see this happen: Clippy doesn't suggest anything

Instead, this happened:
Clippy says this:
[code]

There is no find method on `Foo`.

### Meta

clippy 0.1.56 (ccffcaf 2021-08-11)

[code]

[2021-08-12 15:33] xFrednet commented on #7561
Thank you for the bug report :upside_down_face:. Seems like there is a check missing to make sure that the object actually implements `Iterator`.

@rustbot label +good-first-issue +I-suggestion-causes-error

[2021-08-12 16:18] the8472 commented on #7559
As mentioned in the linked issue this isn't specific to enums. overriding the default implementations of various iterator methods can improve performance in some cases but isn't always worthwhile.

[2021-08-12 20:36] #7489 closed

[2021-08-13 06:30] dswij commented on #7561
@rustbot claim

[2021-08-13 08:04] #7561 closed

[2021-08-13 08:10] crumblingstatue commented on #7561
That was a quick fix, thank you!

[2021-08-13 09:56] hellow554 opened #7563 "Change suggestion of manual_range_contains"
Let's see the example of that lint:

[code]

should be converted to

[code]

Here's a review of `@kennytm` on that topic https://github.com/kennytm/rustup-toolchain-install-master/pull/41#pullrequestreview-727357278

He suggests using the `matches!` macro and I really like that, because it is a short solution for a complex expression.

So here's the question:
Is it worth to suggest using `matches!

[2021-08-13 11:07] fpoli commented on #234
Even just supporting the case `&*s` where `s` is a `String` would be very useful. New Rust users usually struggle a lot understanding the difference between `str`, `&str`, `String` etc. It's probably one of the most common types with auto deref.

[2021-08-13 15:54] HKalbasi commented on #7397
This is a workaround for [RFC 2046](https://uta8a.github.io/rust-rfc-with-ja-dict/2046-label-break-value.html) and I'm not aware for a better and less ugly alternative. Maybe we can detect if tool chain is nightly, suggest block labels and if it is stable, don't emit warning (just for labeled loops with labeled breaks)?

[2021-08-13 16:57] xFrednet commented on #7563
I like the idea, and it's probably also better than creating an extra range for that check. Note that `matches!` was introduced in 1.42.0 while the ranges Syntax is stable since 1.0.0. It would therefore make sense to make the suggestion based on the configured minimum Rust version.

[Lint documentation: `manual_range_contains`](https://rust-lang.github.io/rust-clippy/master/index.html#manual_rang

[2021-08-14 00:39] F3real commented on #7563
It seems that compiler optimizes both of the cases to same code https://godbolt.org/z/13qYjvhqz

[2021-08-14 07:33] dhardy commented on #7397
@HKalbasi code can't use nightly features if (as usual) stable compiler support is desired. And there are reasons beyond novel features to use a nightly compiler, e.g. [compile speed](https://bevyengine.org/learn/book/getting-started/setup/) and [proc-macro diagnostics](https://github.com/kas-gui/kas/#installation-and-dependencies).

[2021-08-14 08:18] HKalbasi commented on #7397
If it is not good we can disable this warning in nightly as well.

[2021-08-14 08:41] lengyijun commented on #234
I wonder if `&*String` => `&String` is really good?
`&*String` always return `&str`
`&String` return `&str` or `&String`

[2021-08-14 10:35] dswij commented on #7538
Thanks for the minimal example!

This seems to be similar to #6784, I think we can close one in favor of the other.

[2021-08-14 13:00] dtolnay opened #7567 "False positive in option_if_let_else inside const fn"
[code]

[code]

However, Clippy's suggested replacement code does not compile.

[code]

Originally reported by @lopopolo in https://github.com/rust-lang/rust-clippy/issues/6137#issuecomment-705605688.

### Meta

- `cargo clippy -V`: clippy 0.1.56 (0fa3190 2021-08-12)
- `rustc -Vv`:
[code]

[2021-08-14 14:22] leonardo-m commented on #3216
See also:
https://byorgey.wordpress.com/2011/11/05/wanted-ghc-feature-warn-about-unused-constraints/

[2021-08-14 14:26] leonardo-m commented on #3216
#A-lint

[2021-08-14 17:21] fpoli commented on #234
That's a good point. The lint could be reported only if `&*String` expression is in the place of a method argument that requires `&str`.

[2021-08-15 15:24] HKalbasi commented on #7550
@rustbot claim

[2021-08-16 02:02] #7413 closed

[2021-08-16 03:25] lengyijun commented on #234
[code]

[2021-08-16 09:06] #6784 closed

[2021-08-16 09:06] #7538 closed

[2021-08-16 09:13] xFrednet opened #7569 "New lint: `slice_indexing_after_deconstruction`"
### What it does

The lint checks for slices that come from value deconstruction and are only used to access individual slice values.

### Categories (optional)

- Kind: *pedantic* (This could also be *style*, but I'm not sure if we want it warn-by-default.)

### Advantages

Deconstruction of slices allows direct value access without using indexes on the slice, which can lead to panics. It also en

[2021-08-16 09:13] xFrednet commented on #7569
@rustbot label +E-medium

[2021-08-16 11:14] camsteffen commented on #7569
We have to pick some max threshold for indexes to lint. Like we don't want to lint `slice[100]`. Maybe `slice[3]` is a reasonable max to lint? In other words, suggest a slice pattern with up to 4 elements.

[2021-08-16 11:24] xFrednet commented on #7569
Good suggestion, a threshold of 3 would catch all instance in Clippy that I've seen. We could also have this configurable and have the default be 3 :+1:.

[2021-08-16 12:30] oribs1 commented on #7444
After a short research, the restriction was weakened in Rust 1.41.0 to allow these implementations:
https://blog.rust-lang.org/2020/01/30/Rust-1.41.0.html

So this lint is ok in the case of Into

[2021-08-16 15:51] LeSeulArtichaut opened #7571 "Add lint checking for no-op uses of `Option::{as_deref,as_deref_mut}`"
### What it does

Checks for no-op uses of `Option::{as_deref,as_deref_mut}`.

### Categories (optional)

- Kind: `complexity`

*What is the advantage of the recommended code over the original code*

Removes useless code, removing clutter and improving readability.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-08-16 18:35] LeCyberDucky opened #7572 "op_ref: Following lint leads to unconditional recursion"
Lint name: op_ref

I tried this code:

[code]
The lint suggests removing the ampersand in the `Mul<Vec3D> for Vec3D` implementation. Doing that, however, leads to a warning about unconditional recursion, and, naturally, it causes the program to not function correctly.

### Meta

- `cargo clippy -V`: clippy 0.1.56 (2d2bc94c 2021-08-15)
- `rustc -Vv`:
[code]

[2021-08-17 02:29] dtolnay opened #7575 "collapsible_match suggests an incorrect behavior change"
[code]

[code]

Clippy apparently wants this loop written as:

[code]

which is just not the same meaning.

### Meta

- `cargo clippy -V`: e.g. clippy 0.1.56 (0035d9d 2021-08-16)
- `rustc -Vv`:
[code]

[2021-08-17 11:10] extrawurst commented on #7383
I get the same false positive for another smaller repro:
[code]

see https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c49e249051ac25681b4fe4522994a524

[2021-08-17 12:32] xFrednet commented on #7383
Duplicate of #3770.

TL;DR: This is working as intended, as two adjacent branches are the same. The fact that both branches are so simple makes it seem like an FP. We thought about allowing such "simple" cases, but it would be hard to determine if a statement/expression is actually simple or not.

For now, I would recommend allowing the lint for that specific block and maybe also `branches_sharing

[2021-08-17 12:57] extrawurst commented on #7383
@xFrednet but how is one supposed to combine both into one if? contending multiple conditions with `if-let` is not supported yet, right?

[2021-08-17 13:35] xFrednet commented on #7383
Ahh, in your case, it's actually an if-let and if block. I missed that, as that is not part of the main issue description. Currently, this is not possible, but should soon be with [RFC 2497](https://github.com/rust-lang/rfcs/blob/master/text/2497-if-let-chains.md) that allows if let chains.

[2021-08-17 15:10] extrawurst commented on #7383
Ok but that means that until *if-let* chaining works this is FP, right? Should I make a new issue with a more specific description to my case?

[2021-08-17 15:13] xFrednet commented on #7383
Correct! And it might take some time until that feature gets stabilized.

It would be awesome if you could do that @extrawurst. Could you also ping me in it? Then I would close this issue in favor of #3770 and the newly created issue :upside_down_face:.

[2021-08-17 15:34] extrawurst opened #7579 "FP in if_same_then_else for if-let"
followup to #7383 and pinging @xFrednet

Lint name: `if_same_then_else`

I tried this code:

[code]
see https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c49e249051ac25681b4fe4522994a524

I expected to see this happen:
no lint warning, since I cannot express this until *if-let-chains* are supported

Instead, this happened:
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.56

[2021-08-17 15:38] extrawurst commented on #7383
@xFrednet  done: https://github.com/rust-lang/rust-clippy/issues/7579

[2021-08-17 15:39] xFrednet commented on #7383
Thank you very much! I'm closing this in favor of #3770 and #7579

[2021-08-17 15:39] #7383 closed

[2021-08-17 16:26] AlexTMjugador opened #7580 "`blocks_in_if_conditions` triggers in `while` loops in a too strigent way"
**Lint name**: `blocks_in_if_conditions`

**I tried this code**:

https://github.com/ComunidadAylas/PackSquash/blob/b514fba469b38edf207120aaa3fb8a12476b72fe/src/squash_zip.rs#L277-L281

**I expected to see this happen**: no warnings emitted by Clippy.

**Instead, this happened**: Clippy emitted the warning. In my humble opinion, I think this warning is a false positive due to the following reasons

[2021-08-17 17:18] shepmaster opened #7581 "Extend unnecessary_unwrap to look for `expect` in addition to `unwrap`"
### What it does

Applies the same logic as `unwrap` to `expect`.

[code]

### Categories

- Kind: complexity

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-08-17 20:13] rpbeltran opened #7582 "Deprecate the term "blacklist" from lints"
Many companies and open source projects have been transitioning phrases like "blacklist/whitelist" into "blocklist/allowlist" or similar. There is also precedent for this within Rust itself as in these changes in Rust Bindgen: https://github.com/rust-lang/rust-bindgen/issues/1812.

With that in mind, the `blacklisted_names` lint seems like it could stand to be renamed to `blocklisted_name`. I'm no

[2021-08-17 21:00] mikerite commented on #7582
We had a PR for this once that went stale -  #5896 . It has instructions etc.

[2021-08-17 21:13] camsteffen commented on #7575
@rustbot claim

[2021-08-18 00:40] rpbeltran commented on #7582
@mikerite thanks! That's super useful. I'll use that as a reference and try to get a new PR started soon.

[2021-08-18 08:22] xFrednet commented on #7582
This seems like a reasonable change to me and would go along with changes in other repos. Most team members already stated their support in #5896, it should therefore be safe to continue with this.

@rpbeltran Could you mention the Clippy team in the PR once you created it? You can just add an `cc: @rust-lang/clippy` at the end of the PR description. :upside_down_face:

[2021-08-18 15:17] Turbo87 commented on #3158
I got a little bored and created one... 😅

![clippy](https://user-images.githubusercontent.com/141300/129923805-0d3b7409-bb73-4835-bd31-0ed80538280d.png)

Let me know if you like it, I also have it as an SVG file, but GitHub won't let me attach that here.

[2021-08-18 15:19] Manishearth commented on #3158
cc @rust-lang/rust-clippy Should we include something like this in the README?

(the clippy logo used is apache 2.0 https://icon-icons.com/icon/clippy/136771 )

[2021-08-18 17:25] xFrednet commented on #3158
That, a very interesting proposal. I personally like the proposed image and think that it would give the repo some more personality. Clippy also seems friendly and inviting in the image, which is also very good IMO. However, I'm not sure on the license part.

@Turbo87 Could you try to export the icon part of the logo in the size of a favicon (48x48)? It would be interesting to see it in that size,

[2021-08-18 23:26] dllu opened #7586 "clippy::if_let_some_result suggests changing while to if, resulting in code with different behaviour"
Lint name: `if_let_some_result `

I tried this code:

[code]

When you run the above code, you get:

[code]

I expected to see this happen: *while let Ok(a) = wat.next()*

Instead, this happened: *if let Ok(a) = wat.next()*

[code]

This is quite dangerous because if you run `--fix`, you will get code with different behaviour!!!

[code]

### Meta

- `cargo clippy -V`: `clippy 0.1.56 (30a0a9b 2021-

[2021-08-18 23:30] dllu commented on #7586
haha @JohnTitor I guess you were right when you said https://github.com/rust-lang/rust-clippy/pull/5032 that

[2021-08-19 01:20] camsteffen commented on #3158
Have you actually met Clippy? He's a total jerkface.

[2021-08-19 03:33] teor2345 commented on #7575
We had a similar issue with an outer `match`:
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c09bd33fcac6b1c5f491e995f74503ce

Specifically, the original code does nothing on `Enum::No`, but the suggested code panics.

[2021-08-19 07:20] llogiq opened #7587 "Lint slice args that could be slices of `impl Deref<_>`s"
### What it does

On exported functions, lint function arguments of the following types: `&[&str]`, `&[String]`, `&[&[_]]`, `&[Vec<_>]` . Suggest using `&[impl Deref<Target = str>]` and `&[impl Deref<Target = [_]>]` as appropriate. The lint is subject to the `avoid-breaking-exported-api` configuration.

### Categories (optional)

- Kind: perf

### Why is this bad?

`&[&str]` and `&[&[_]]` require

[2021-08-19 09:57] dswij commented on #7586
I suppose the name of the lint should be changed then? Something like `let_some_result`?

[2021-08-19 10:45] xFrednet commented on #3158
Yes, I have, at least a bit in my childhood. Clippy might have been a prankster, however a good first impression can go along way. Besides that, wasn't *Clippy* just an acronym for *"Clippy Loves Insulting People's Programming, Yelling"* anyways? :wink:

[2021-08-19 12:00] romand opened #7588 "shadow_unrelated false positives for variable named `val`"
When I name a variable `val`, next fn call with `?` produces `shadow_unrelated` warning.
If I rename the variable, the warning disappears. Both on stable and nightly.
Reproducible with `cargo clippy` on this repo: https://github.com/romand/shadowed_val

I tried this code:

[code]

I expected to see this happen: no warnings

Instead, this happened:
[code]

### Meta

- `cargo clippy -V`: clippy 0.1.

[2021-08-19 17:01] xFrednet commented on #7586
@camsteffen Do you think that this is also a regression bug from rust-lang/rust#80357? It looks similar to #7575 that you're fixing in rust-lang/rust#88163?

[2021-08-19 17:14] camsteffen commented on #7586
Indeed. Let me see if I can throw in a fix for that too. I think we can check for desugaring in `higher::IfLet`.

[2021-08-20 03:48] douchuan opened #7589 "Wrong report branches_sharing_code"
Lint name:
#[warn(clippy::branches_sharing_code)]

I tried this code:

[code]

I expected to see this happen:  **key** is not **Copy**, so should not report the warning.

Instead, this happened: **key** is not **Copy**, clippy advice extract common codes

[code]

### Meta

- `cargo clippy -V`: clippy 0.1.53 (53cb7b09 2021-06-17)
- `rustc -Vv`:
[code]

[2021-08-20 13:42] Manishearth commented on #3158
https://office-watch.com/2021/why-has-microsoft-finally-trademarked-clippy/

the image is trademarked (the name itself, also I checked, is not)

[2021-08-20 13:42] #3158 closed

[2021-08-20 19:34] dessalines opened #7590 "needless_borrow suggesting the same fix as exists in code"
Lint name: needless_borrow

I tried this code, which is getting a connection from a deadpool database pool:

[code]

I expected to see this happen: No clippy warnings.

Instead, this happened:
[code]
Its suggesting a fix that's the same as the error

### Meta

- `cargo clippy -V`: clippy 0.1.56 (ae90dcf 2021-08-09)
- `rustc -Vv`:

[code]

[2021-08-20 22:26] nipunn1313 opened #7591 "FP in `collapsible_match` on futures `select!` macro"
I tried this code:

[code]

I expected to see no clippy error

Instead, this happened:
[code]

clippy seems to want a different code which is not valid:
[code]
leading to
[code]

### Meta

[code]

### It's a recent regression

Notably, I found that with
[code]

things work fine

came up in the testsuite of https://github.com/rust-lang/futures-rs/pull/2479

[2021-08-20 22:55] xFrednet commented on #7591
Thank you for the report. At a first glance, it looks like the lint doesn't check if the code is inside a macro (I haven't looked at the linting code, though). :upside_down_face:

@rustbot label +I-false-positive

[2021-08-20 23:02] nipunn1313 commented on #7591
#7565 looks potentially suspicious as it contains an August 16th change to the collapsible_match lint

https://github.com/rust-lang/rust-clippy/commits/master/clippy_lints/src/collapsible_match.rs

The timing lines up.

[2021-08-20 23:09] xFrednet commented on #7591
There have also been some changes in the Rust repo on this specific lint. I wouldn't think that it originated from #7565 as your Clippy version stated a date before that PR was merged. :upside_down_face:

[2021-08-20 23:31] nipunn1313 commented on #7591
Yep - confirmed @xFrednet's hypothesis - by running `master` of clippy with various older/newer toolchains. It appears to be a change in the rust repo.

[2021-08-21 10:08] xFrednet commented on #7591
Thank you, @nipunn1313, for the test :upside_down_face:.

cc. @camsteffen in case you want to work on another regression issue :wink:

[2021-08-22 16:07] #7575 closed

[2021-08-22 16:07] #7586 closed

[2021-08-22 16:07] #7591 closed

[2021-08-23 17:18] dllu commented on #7586
Thanks for fixing. However I was hoping that Clippy would correct

[code]

to

[code]

but now it seems that it simply does not raise any warnings for this code. Would it be possible to add that, or is that out of the scope of `if_let_some_result`? Should there be a `while_let_some_result`?

[2021-08-23 17:33] camsteffen commented on #7586
I think that could be an enhancement to `if_let_some_result`. Do you mind opening another issue for that?

[2021-08-23 17:40] dllu opened #7594 "enhancement to if_let_some_result: apply to while loops as well"
### What it does

Where `res` is a `Result`,

[code]

should be rewritten as

[code]

This could either be an enhancement to `if_let_some_result` or have a new name like `while_let_some_result`.

SEE ALSO: https://github.com/rust-lang/rust-clippy/issues/7586 where previously clippy suggested an incorrect fix (changing while to if). In that thread, @camsteffen suggested creating a new issue for thi

[2021-08-23 18:46] camsteffen commented on #7580
Fixed by https://github.com/rust-lang/rust/pull/88175

[2021-08-23 18:51] camsteffen commented on #7579
This is a regression from https://github.com/rust-lang/rust/pull/80357.

[2021-08-23 19:44] camsteffen commented on #7571
Should be easy as two `expr_ty` calls and check that they are the same type.

[2021-08-24 11:02] lengyijun commented on #7571
`Result<T,E>` `as_deref`  to  `Result<&<T as Deref>::Target, &E>`
Due to `&E` is not `E`, we shouldn't lint on `Result`.

[2021-08-24 11:25] xordi commented on #7548
Hi @Manishearth! I would like to try fixing this issue if you don't mind. I'm absolutely new to Rust community.

I've seen that currently this lint is only checking if the assert parameters are boolean literals. My idea here is the following:

- Leave everything as it is when both arguments are boolean literals or none is.
- In case one of them is a boolean literal, check if the other one is an in

[2021-08-24 12:56] #7487 closed

[2021-08-24 13:33] LeSeulArtichaut commented on #7571
@lengyijun Correct, I missed that. Edited the issue

[2021-08-24 13:36] camsteffen commented on #7559
See https://github.com/rust-lang/rust/issues/87950#issuecomment-904648283.

[2021-08-24 13:51] lengyijun commented on #7571
@rustbot  claim

[2021-08-24 14:29] flip1995 commented on #7579
There were [allows added](https://github.com/rust-lang/rust/pull/80357/files?file-filters%5B%5D=.diff&file-filters%5B%5D=.mir&file-filters%5B%5D=.rs&file-filters%5B%5D=.stderr#diff-fc2911f28b15d623533677d5d2f4947ee9692ec257dafb20fdb00dd1f8fa03fbR7) for this lint in our tests in rust-lang/rust#80357

These may have been added to get around this bug :thinking:

[2021-08-24 15:42] c0va23 commented on #7438
I face with same issue when update `tokio-macros` from version 1.1.0 to 1.2.0 or 1.3.0.
[code]

[2021-08-24 20:47] xFrednet commented on #7548
Welcome to the project @xordi,

for lints that work with macros, it's usually good to understand how they work. For that, you can open the Rust playground and see the macro expansion using `tools > Expand macros`. (See [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=42ada12aafb5128ea4b2eab5414ec9f5))

In this case, the difference comes from the way the values a

[2021-08-24 21:32] camsteffen commented on #4002
`take(G::f as fn(Arg))` works. We could suggest that, but I think this is a rustc coercion bug.

[2021-08-24 22:17] Techcable opened #7597 "assertions_on_constants incorrectly lints indirect usage of `cfg!`"
Lint name: assertions_on_constants

I tried this code:

[code]

Indirect usage of `cfg!()` flags should not give a warning, just like direct usage.

### Meta

- `cargo clippy -V`: `clippy 0.1.56 (0fa3190 2021-08-12)`
- `rustc -Vv`:

[code]

This false positive also happens on the latest stable as well...

Thanks for your time!

[2021-08-25 02:04] weiwei commented on #2972
For people who aren't aware: It appears that the issue has been fixed. This is my test result on an Intel Mac:

[code]

[2021-08-25 06:18] c0va23 commented on #7438
The problem occurs because the macros 'tokio:: main` and' tokio::test` wrap functions and the last expressions are always not terminated with a semicolon.

I will try to fix this problem on the `tokio-macros ' side (tokio-rs/tokio#4067), but this problem is not specific to tokio. It looks like a fix on the clippy side is also necessary.

[2021-08-25 06:24] xordi commented on #7548
@rustbot claim

[2021-08-25 07:10] croker89 commented on #1660
Restablecer facebook

[2021-08-25 08:44] #7412 closed

[2021-08-25 08:52] xordi commented on #7548
Thanks for the explanation @xFrednet.

Let's say we have the following code, with an enum type that implements `PartialEq<bool>` (similar to `serde_json::Value`) and also `Not` traits:

[code]
It looks wrong when clippy suggests a rewrite that leads into a compilation error like in this case. So maybe just checking for the `Not` trait is not enough. Maybe we should check that the non literal part

[2021-08-25 10:43] xFrednet commented on #7548
You're welcome!

That's a very good test :+1: Rust allows operators to define their output type. The given example defines the output type as `Self` which is not a bool. (`type Output = Self;` line 19). The solution in this case would be to check that the type of `Output` from the `Not` implementation is bool. (See [`clippy_utils::ty::get_iterator_item_ty()`](https://github.com/rust-lang/rust-clip

[2021-08-25 10:54] xFrednet commented on #1660
Hey @croker89, was your comment added on purpose here? :) To me, it's not clear what you mean

[2021-08-25 11:04] xFrednet commented on #2972
Thank you for the benchmarks! Even if this no longer affects performance, I think having a lint that suggest `String::new()` over `"".to_string()` would be good for code consistency. It should probably be a lint in the `pedantic` category to be Allow-by-default.

@rustbot label -L-perf +L-pedantic +good-first-issue

[2021-08-25 11:10] H2CO3 commented on #2972
`String::new()` over `"".to_string()` or `String::from("")` should even be a warn-by-default `style` lint. It's not pedantic by any measure – the alternatives are unnecessarily complicated.

[2021-08-25 11:14] xFrednet commented on #2972
I was considering if this should be a `style` lint, but I've also seen repos that preferred using `"".to_string()`. Therefore, I'm unsure if we really want this to be warn-by-default. The best way to determine this is probably to create an implementation and then check how often it triggers in normal projects with our lintcheck tool

[2021-08-25 11:18] H2CO3 commented on #2972
I'd be curious what their rationale is. It's less clear, up until recently it was slower, and it's one character longer (even if that's probably an insignificant difference).

I regularly have my code "broken" by new Clippy lints being introduced that I have to admit are correct, and then I have to fix them. The purpose of linters is to guide people to write better code; I think adjusting the lint

[2021-08-25 13:49] xFrednet opened #7598 "`bool_assert_comparison` improve the suggestion to include the expression"
The lint message for the  [`bool_assert_comparison`](https://rust-lang.github.io/rust-clippy/master/index.html#bool_assert_comparison) lint currently look like this:

[code]

I think the suggestion can be improved to include the actual expression that should be put in the `assert!` instead of just having the placeholder `..`.

The text for the suggestion can be retrieved with functions from [`clip

[2021-08-25 14:07] xFrednet opened #7599 "Test issue (Testing the label command from rustbot)"
This should add the label:

@rustbot label +C-an-interesting-project

And this should not:

[2021-08-25 14:07] xFrednet commented on #7599
Hmm

[2021-08-25 14:07] xFrednet commented on #7599
* @rustbot label +C-an-interesting-project

[2021-08-25 14:08] xFrednet commented on #7599
@rustbot label +C-an-interesting-project

@rustbot label +C-Question

[2021-08-25 14:08] xFrednet commented on #7599
@rustbot label -C-an-interesting-project

@rustbot label -C-Question

[2021-08-25 14:09] xFrednet commented on #7599
@rustbot label +C-an-interesting-project +C-Question

[2021-08-25 14:09] xFrednet commented on #7599
Okay, I got my answers. If someone is reading this: Here, have a cookie :cookie:

[2021-08-25 14:09] #7599 closed

[2021-08-25 14:11] xFrednet commented on #7599
Wait, not quite done yet

[2021-08-25 14:11] xFrednet commented on #7599
Hmmmm

[2021-08-25 14:13] xFrednet commented on #7599
What about this:

[2021-08-25 14:14] xFrednet commented on #7599
And this:

@rustbot label -C-Question

[2021-08-25 14:15] xFrednet commented on #7599
@rustbot label +C-Bug

[2021-08-25 14:16] xFrednet commented on #7599
@rustbot label +C-question

[2021-08-25 14:16] xFrednet commented on #7599
@rustbot label +<label>

[2021-08-25 14:17] xFrednet commented on #7599
That's an even better solution... I should really stop with the spam now xD

[2021-08-25 18:14] croker89 opened #7601 "Good"
Good

_Publicado originalmente por @goldgoddess21 en https://github.com/github/.github/pull/37#pullrequestreview-692675275_

[2021-08-26 01:51] #7601 closed, assigned to nobody

[2021-08-26 09:06] Darksonn opened #7603 "Warn on dyn AsyncTrait + Unpin"
### What it does

This lint will detect usage of `dyn AsyncTrait + Unpin` for various different choices for `AsyncTrait`. It should also trigger when a `+ Send` is added.

The suggested replacement should be `Pin<Box<dyn AsyncTrait>>`. This is strictly more powerful than the `+ Unpin` version.

The lint should at least apply to these traits: `Future`, `Stream`, `AsyncRead`, `AsyncWrite`. It might

[2021-08-28 00:41] DevinR528 commented on #7590
Yesh, after downloading/installing libpq I was able to confirm that this no longer is a problem.

[code]
The only difference is it's not async but I'm not sure if that's a problem, the way the lints set up I doubt it?

[2021-08-28 01:22] dessalines commented on #7590
One piece of context I can give, is that in order to get a usable `&PgConnection` from deadpools `Connection<PgConnection>`, you have to dereference it twice:

[code]

[2021-08-28 06:16] Enselic commented on #6745
@kneasle :+1:

Looks to me like these lines are wrong, and your task would be to figure out what the code should look like instead: https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/mut_key.rs#L118-L120

[2021-08-28 07:32] llogiq commented on #7587
I took a stab at an implementation which uncovered a problem: For example `String` slice members can also be used via the implicit `AsRef<Path>`, which means that in those cases, the correct replacement is `&[impl AsRef<Path>]`. However detecting all usage of the slice elements (via iteration or indexing) is E-hard, not E-medium.

I could still push what I have for a nursery lint. What do you folk

[2021-08-28 11:16] DevinR528 commented on #7590
Hmm, yeah, although it should either fail the same way for `&&Arc<Arc<Thing>>`  as an argument to an fn that takes `&Thing` right?

[2021-08-28 12:39] DevinR528 commented on #6635
Is this something that can be fixed? I would be interested in working on it, something along the lines of
[code]
Basically just so there are no errors on a brand new project, the other option would be to change `cargo new` to do something more interesting?

[2021-08-28 14:31] xFrednet commented on #6745
Welcome to the project @kneasle,

@Enselic has already linked the correct file and most likely location of the fix (Thank you for this). For bug fixes like these, it's usual helpful to check why they happen (In this case due to the use of a `mut` pointer) and to test some examples to determine what we want to happen. (I've also tested that the `Hash` trait is only called for the pointer and not th

[2021-08-28 14:51] Enselic commented on #6745
Both of you might also find it worthwhile to take a look at the implementation of `Hash` for raw pointers (`*mut T`, `*const T`), which also helps to convince oneself of that only the pointer is involved in hashing, and not what is pointed to: https://github.com/rust-lang/rust/blob/1.54.0/library/core/src/hash/mod.rs#L717-L736

[2021-08-28 14:53] xFrednet commented on #6745
You're right, that's an excellent hint! :+1:

[2021-08-28 16:02] kneasle commented on #6745
Thanks!

Also btw this false positive still happens for `*const` pointers (which happened in the code I was writing).

Righto does this need to be a separate message or can I just do @rustbot claim in a message (I guess not but let's test it anyway...)

[2021-08-28 16:03] kneasle commented on #6745
@rustbot claim

[2021-08-28 16:25] xFrednet commented on #6745
Good to know, then you can try fixing it for both cases :upside_down_face:

It doesn't have to be in its own comment, but the bot seems to be down right now :sweat_smile:. In that case, I'll assign you

[2021-08-28 17:30] dswij commented on #7532
@rustbot claim

[2021-08-28 20:49] kneasle commented on #6745
Thanks :smile:

[2021-08-28 23:38] #7152 closed

[2021-08-29 05:48] Enselic commented on #6745
Just to save you from some confusion later, I would like to point out that this is not quite accurate. The false positive will only trigger for `*const T` if `T` has interior mutability. Demonstration:

[code]

[2021-08-29 19:05] kneasle commented on #6745
Oooh! So does that mean that the pattern which matches raw pointers is just wrong?  And by extension, removing it will fix the bug?  I'll probably replace it with a cheeky comment linking to this issue and the impl of `Hash`.  If that's the case, then it'll probably take me more time to get clippy to compile than it will to actually fix the bug :laughing:.

[2021-08-29 23:45] andrewpollack commented on #7594
@rustbot claim

[2021-08-30 14:10] #5822 closed

[2021-08-30 14:10] #6737 closed

[2021-08-30 14:10] #7567 closed

[2021-08-30 17:40] Manishearth opened #7609 "disallowed_methods should allow for reasons in the toml file"
We currently have the `disallowed_methods` (added in https://github.com/rust-lang/rust-clippy/pull/6081) which allows for a `clippy.toml` config of `disallowed-methods = ["foo", "bar::baz"]`, etc.

It would be nice if the config also allowed for reasons, something like:

[code]

so that the warning can output the reason when it comes across this methods

See https://twitter.com/nokusu/status/14323

[2021-08-30 17:51] repi commented on #7609
+1 for this!

We just recently enabled this lint and disallowed a set of functions and I found myself writing brief motivations / reasons for the different functions we are disallowing for our codebase for my coworkers and future contributors to be able to see what to use instead.

Our current small `Clippy.toml` looks like this with that:

[code]

which was a nice start, but if this lint is impro

[2021-08-30 18:06] Manishearth commented on #7609
Another potential improvement would be to allow for a "rename" subkey that lets you ask the method be automatically replaced with another with the same signature, unfortunately this will typically require inserting an (ugly) full path without local type info.

I wouldn't do that as part of this issue but it's an extension we can file a followup for that will likely need more careful design work.

[2021-08-30 18:17] webern commented on #5418
I have an HTTP client trait/object where `set_foo` sends a PUT/POST and self is immutable. I will probably disable `wrong_self_convention` for this. I guess I could use `send_*` or `put_*`, but `set_*` seems most natural here.

[2021-08-30 19:37] mitsuhiko commented on #7609
Considering almost all of the cases where you disallow one thing you actually want to point people to some other thing I wonder if it wouldn't make sense to encode that.

[code]

While obviously `parking_log` in this example without knowledge of the crate does not say much it does provide a little bit of semantic information to make it easier to generate compiler messages (for instance by providin

[2021-08-31 07:36] Manishearth commented on #7609
@mitsuhiko yeah that's what I suggested in my previous comment; the tricky thing is dealing with signatures and replacements in a good way there. For now let's get reasons in, that would be a followup imo

[2021-08-31 13:49] #7548 closed

[2021-08-31 21:33] xFrednet commented on #6745
Not quite, it can make sense if you actually want to compare them. The question is really what you want to have hashed and also why. :upside_down_face:

This lint however shouldn't care about it and only check if we have a type that is mutable in a way that could change the hash. For `*mut T` and `*const T` this is not the case as both implementations take the address and ignore the value of `T`.

[2021-09-01 08:30] ABouttefeux commented on #7598
@rustbot claim

[2021-09-01 11:13] gilescope opened #7613 "Sorry broke clippy"
It said to report it so here I am. Clean build, happening on latest nightly clippy, linux.

The codebase is online: https://github.com/paritytech/parity-bridges-common.git
branch giles-remove-unused-deps
hash 2654b17edcc84dd4ec131c2c537da06f4b71fd69

### Meta

**Rust version (`rustc -Vv`):**
[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

[2021-09-01 11:40] gilescope commented on #7613
(If you do check out the code then you'll notice the `use of irregular braces for `vec!` macro` lint seems to have gone awry too)

[2021-09-01 11:48] atahanyorganci opened #7614 "Clippy crashes with 'attempted to read from stolen value'"
Clippy crashes when compiling proc_macro crate, query stack during the panic is the following. I also attached stderr with RUST_BACKTRACE=full.
[crash.log](https://github.com/rust-lang/rust-clippy/files/7090785/crash.log)

[code]

[2021-09-01 14:22] Kinrany opened #7615 "Lint redundant dereference operator in method calls"
### What it does

Suggests removing explicit dereference operator `*` when automatic dereferencing would result in the same type being used as `Self` in a method call.

### Categories (optional)

- Kind: `clippy::complexity`

Removing the explicit dereference marginally improves code length, nesting depth, compilation speed. Saves time spent double-checking that there is indeed no need for the `*`

[2021-09-01 18:59] matthiaskrgr commented on #7613
Hm, there's a perhaps similar rustc ICE: https://github.com/rust-lang/rust/issues/88536

[2021-09-01 19:20] stevelr opened #7616 "clippy suggested invalid code in from_iter_instead_of_collect"
Clippy gave this warning in rule `clippy::from_iter_instead_of_collect` The suggestion to replace is good, however the code replacement recommended is garbage and won't even compile:

[code]

The correct code replacement should have been
[code]

[2021-09-01 20:30] ThrashAbaddon opened #7618 "Lint when using PhantomData without lifetime"
### What it does

Explains to the user that `PhantomData` field doesn't do anything because lifetime isn't available.

*What does this lint do?*

Informs the user that it has useless `PhantomData`  usage, and shows him the places where lifetime should be added.

### Categories (optional)

- Kind: *See <https://github.com/rust-lang/rust-clippy/blob/master/README.md#clippy> for list of lint kinds*

[2021-09-01 21:06] donqui opened #7620 "shadow_unrelated does not register a variable being shadowed"
I accidentally shadowed a variable without knowing and the linter did not warn me about that. Not a huge deal but just wanted to report the issue.

Lint name:
shadow_unrelated

I tried this code:

[code]

I expected to see this happen: Warning shown about variables `s` and `x` being shadowed when running `cargo clippy -- -W clippy::shadow_reuse -W clippy::shadow_same -W clippy::shadow_unrelated`.

[2021-09-01 23:17] azdavis commented on #7609
Taking a look at the impl for this

[2021-09-02 08:38] baoyachi opened #7622 "exec cargo clippy --all -- -D warnings crash with version 0.1.54 (a178d03 2021-07-26)"
## crash message
[code]

### Meta

**Centos version:**
[code]

**Rust version (`rustc -Vv`):**

[code]

[2021-09-02 09:42] kneasle commented on #6745
Ooooh - good point!  So only the top-level `Hash` impl needs to change... I'll make some cheeky test cases once I start working on this (not quite sure when it'll be, but hopefully soon :smiley:).

[2021-09-02 11:51] thomcc commented on #7432
This would be useful, but should handle any case where the glob overlaps with something, regardless of if the 2nd thing itself also came from a glob.

That is, from your example: if you move the contents of one of the modules directly into `lib.rs`, I think the lint should still trigger — only one of the things needs to be from a glob.

---

Concretely, I had this situation happen recently, which

[2021-09-02 14:33] Jarcho commented on #7613
Looks to be the same issue as was fixed in #7428. Updating should fix it.

[2021-09-02 17:27] mikerite opened #7623 "`approx_const` not MSRV aware"
Lint name: approx_const

I tried this code:

[code]

I expected to see this happen:
No warnings. The `LOG2_10`  and `LOG10_2` consts where added in 1.43.

Instead, this happened:
[code]

[2021-09-02 17:27] mikerite commented on #7623
@rustbot claim

[2021-09-02 17:58] gilescope commented on #7613
Wait, 2021-07-05 doesn't look like the latest nightly. *looks very sheepish*
I'll get me coat - sorry!

[2021-09-02 17:59] #7613 closed

[2021-09-02 19:04] shampoofactory opened #7624 "Outdated eval_order_dependence documentation"
Lint name: eval_order_dependence

The [documentation](https://rust-lang.github.io/rust-clippy/master/index.html#eval_order_dependence) states:
[code]

Since the merging of [Document execution order](https://github.com/rust-lang/reference/pull/888), is this not outdated advice? Sub-expression/ operand evaluation is now documented [here](https://doc.rust-lang.org/reference/expressions.html?highlight

[2021-09-03 09:17] cmichi opened #7626 "False positive for `unused-unsafe`"
Lint name: `unused-unsafe`

I tried this code:

`src/lib.rs`:
[code]

`Cargo.toml`:
[code]

I expected to see this happen: No lint error should be reported.

Instead, this happened:
[code]
The function is marked as `unsafe` though: https://doc.rust-lang.org/stable/core/arch/wasm32/fn.unreachable.html.

There is also no lint error reported if I switch to `rustup override set nightly-2021-08-13`.

#

[2021-09-03 09:37] xFrednet commented on #7599
\@rustbot label ss

[2021-09-03 09:37] xFrednet commented on #7599
@rustbot label +C-Bug

[2021-09-03 09:37] xFrednet commented on #7599
@rustbot label -C-Bug

[2021-09-03 09:39] xFrednet commented on #7599
\@rustbot label +C-Bug

[2021-09-03 09:39] xFrednet commented on #7599
@rustbot label

[2021-09-03 09:42] cmichi commented on #7626
Turns out the function was indeed recently marked as safe: https://doc.rust-lang.org/nightly/core/arch/wasm32/fn.unreachable.html.

[2021-09-03 09:42] #7626 closed

[2021-09-03 09:43] xFrednet commented on #7599
(at)rustbot label +C-Bug

[2021-09-03 09:43] xFrednet commented on #7599
@rustbot

[2021-09-03 10:00] xFrednet commented on #7599
One more test (@)rustbot label +Hello

[2021-09-03 10:08] xFrednet commented on #7599
@ rustbot label +Hello

[2021-09-03 13:54] xFrednet commented on #7599
What about this:

[2021-09-03 13:55] xFrednet commented on #7599
Now again without the backticks

@rustbot label +C-Bug

[2021-09-03 19:01] CeleritasCelery opened #7628 "branches_sharing_code incorrectly parsing for loop"
Lint name:
branches_sharing_code

I tried this code:

[code]

I expected to see this happen: The lint should not flag the code, since the branches do not share code at the start or end

Instead, this happened: The lint reports: "all if blocks contain the same code at the end"

[code]

Notice that it takes the first line of the for loop as part of the suggestion. It looks like clippy is not properl

[2021-09-04 08:09] lengyijun opened #7632 "`method_duplicate_name`"
### What it does

*What does this lint do?*

A struct has two methods with the same name:
one defined in `impl trait`, another in normal `impl`.

We shouldn't lint two method in two traits.This may break a lot. (I'm not sure)

### Categories

`clippy::all`, `clippy::style`

*What is the advantage of the recommended code over the original code*

- Remove confusing method call.

### Drawbacks

Maybe

[2021-09-04 11:11] Luro02 opened #7633 "Suggest usage of `array.as_slice()` (instead of `&array[..]`) and `array.as_mut_slice()`"
### What it does

Lints for example this code:

[code]
and suggests [`array::as_slice`](https://doc.rust-lang.org/std/primitive.array.html#method.as_slice):

[code]

(same should be suggested for `&mut array[..]`, which can be replaced with `array.as_mut_slice()`)

### Categories (optional)

- Kind: `clippy::pedantic` or `clippy::style`

### What is the advantage of the recommended code over the o

[2021-09-04 16:10] xFrednet commented on #7628
Thank you for creating the issue. This bug was fixed in #7462. I've tested it on the master branch and the code is no longer linted, therefore I'll close this issue. I'm not sure when the fix will hit stable though :upside_down_face:

[2021-09-04 16:10] #7628 closed

[2021-09-04 17:37] lopopolo commented on #6563
This is another bizarre false positive I get:

[code]

[2021-09-04 17:44] lopopolo opened #7635 "`needless_borrow` does not warn on needless `&mut` borrows"
Lint name:

I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ff47b3fc69b998a3787cba0fe34e8006

I expected to see this happen:

I expected to see warnings for:

- `take_mut_borrow(&mut &mut p);`
- `take_borrow(&&p);`
- `take_borrow(& &mut p);`

Instead, this happened:

I only saw warnings for:

- `take_borrow(&&p);`
- `take_borrow(& &mut p);`

###

[2021-09-04 21:40] #7581 closed

[2021-09-04 21:52] #7550 closed

[2021-09-05 02:21] balarajupetta opened #7636 "I have some updates, see https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/can.20we.20automate.20triaging.20PRs.20a.20bit.3F/near/227444152."
I have some updates, see https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/can.20we.20automate.20triaging.20PRs.20a.20bit.3F/near/227444152.

_Originally posted by @giraffate in https://github.com/rust-lang/rust-clippy/issues/6629#issuecomment-784313091_

[2021-09-05 08:42] yvt opened #7637 "`needless_return` misfires in a `let`-`else` statement (RFC 3137)"
Lint name: `needless_return`

I tried [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fc3a474951e948e3f556f80b5cf5c1eb):

[code]

I expected to see this happen: No warnings emitted

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-09-05 13:11] xFrednet commented on #7624
Hey @chansuke, I'll assign this issue to you as you've created a PR to fix this. You can also claim issues by commenting `@rustbot claim` in an issue that you want to work on. That simply avoids that several people start to work on the same issue :upside_down_face:

[2021-09-05 13:28] #7623 closed

[2021-09-05 18:24] #7571 closed

[2021-09-06 02:13] #7636 closed

[2021-09-06 04:29] mikerite opened #7641 "Add `TAU` to `approx_constant` lint"
Lint name: approx_constant

I tried this code:

[code]

I expected to see this happen:
`approx_const` should recommend using `TAU` if my version setting is ≥ 1.47.

Instead, this happened:
Nothing. It's a false negative.

[2021-09-06 04:30] mikerite commented on #7641
@rustbot assign mikerite

[2021-09-06 04:30] mikerite commented on #7641
@rustbot assign @mikerite

[2021-09-06 08:04] #7624 closed

[2021-09-07 08:54] mikerite commented on #7641
Fixed by #7642

[2021-09-07 08:54] #7641 closed

[2021-09-07 09:16] mikerite commented on #7633
Not sure about this one. We currently suggest `for x in &y { .. }` over `for x in y.iter() { .. }` - [explicit_iter_loop](https://rust-lang.github.io/rust-clippy/master/index.html#explicit_iter_loop). This seems like it's going to the opposite direction in terms of style. Also we don't current recommend `Vec::as_slice` over slicing although we could have for years.

[2021-09-07 20:49] camsteffen commented on #7563
It seems `matches!` was suggested in the linked review because there were two ranges that could be used with an OR pattern. I think `contains` is more readable in the general case.

[2021-09-08 00:22] giraffate commented on #7616
Can you provide a minimal reproduction on the playground?

[2021-09-08 08:32] #7532 closed

[2021-09-08 13:43] camsteffen opened #7645 "New lint: Manual assert"
### What it does

Detects `if`-then-`panic!` that can be replaced with `assert!`

### Categories (optional)

- Kind: style

*What is the advantage of the recommended code over the original code*

It is simpler

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

Lint name: `manual_assert` or `if_then_panic`

[2021-09-08 13:47] #7343 closed

[2021-09-08 13:47] #3643 closed

[2021-09-08 13:47] #6809 closed

[2021-09-08 15:50] matthiaskrgr commented on #7645
What about its with multiple conditions?
If we have 10-5 conditions it does probably not help a lot, to use a super big assert...

[2021-09-08 16:55] camsteffen commented on #7645
We could lint only if the condition expression currently fits on one line.

[2021-09-08 22:52] stevelr commented on #7616
Playground uses clippy 1.56,  even when selecting rust stable 1.54. I cannot reproduce it on playground.

If I run on my machine with rust stable 1.54 (cargo clippy -V shows 1.54), it reproduces.
If I run nightly (rust 1.56 and cargo clippy -V shows 1.56), it does not reproduce.
It also does not recommend using collect instead of from_iter. So in 1.56,  it's as if the rule itself is disabled or di

[2021-09-09 01:23] giraffate commented on #7616
`from_iter_instead_of_collect` was moved to `pedantic` category (allow by default) at 1.55, so you need to add an attribute like `#![warn(clippy::from_iter_instead_of_collect)]` to enable it on nightly.

[2021-09-09 01:47] #7609 closed

[2021-09-09 07:55] toku-sa-n opened #7648 "invalid_upcast_comparisons: false positive on implicit wrapping"
Lint name: invalid_upcast_comparisons

I tried this [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dc12224caa7a25817074e57f8216a4d0):

[code]

I expected to see this happen: Clippy says nothing.
Instead, this happened:
[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

Clippy complained nothing if I change `u64` to `u32`.
Related: https://github.com/rust-lan

[2021-09-09 08:48] dswij commented on #7635
@rustbot claim

[2021-09-09 15:17] youknowone commented on #7452
Similar false positive happens when the shared code is locking. Moving lock to outside of if statement may cause different behaviour.

[2021-09-09 16:29] khuey commented on #7526
Every needless_collect warning on my ~250kloc Rust codebase is a false positive because of lifetime issues like this.

[2021-09-09 21:16] jplatte commented on #6842
I like `let _ = <expr>;` to explicitly discard a result. The [docs for `must_use`](https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-must_use-attribute) also say that this is the idiomatic way for it. `.ok()` is a conversion function, the fact it "gets rid of" the `must_use` is more of a coincidence rather than its actual purpose. In fact I'd really like that function to be `#[mu

[2021-09-09 23:18] Fishrock123 opened #7650 "clippy::suspicious_else_formatting reports some Enums (?!)"
Lint name: clippy::suspicious_else_formatting

This rule is certainly not working correctly.

I tried this code:

[code]

[code]

I expected to see this happen: Nothing, there is no `if` statement.

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

This started happening after upgrading to Rust 1.55

[2021-09-09 23:26] Volker-Weissmann opened #7651 "clippy suggests`40..to_radians()` which is a compile error"
[code]
`cargo clippy -- -W clippy::nursery`
[code]
Clippy suggests `40..to_radians()`, which is a compile-error. `40_f64.to_radians()` would be correct.

Slightly OT: This bug seems to be catchable by a fuzzer that verifies that clippy never suggest introducing compiler errors into code that compiles.

### Meta

**Rust version (`rustc -Vv`):**

[code]

@rustbot label +suggestion-causes-error

[2021-09-09 23:36] Volker-Weissmann opened #7652 "Clippy suggests code that does not compile, because {float} is an ambigous type"
[code]
`cargo clippy -- -W clippy::nursery`
[code]
If we do what clippy suggests, we get a compile error:
[code]

[code]

[2021-09-10 02:17] dtolnay opened #7654 "derivable_impls false positive on impl with doc comment"
[code]

[code]

Clippy's suggestion is not appropriate in this case because the impl carries documentation, which is not substitutable by a derived impl.

![Screenshot from 2021-09-09 19-14-34](https://user-images.githubusercontent.com/1940490/132788365-b0d35352-be8b-46c7-a4ef-9e52f00d484e.png)

@HKalbasi @camsteffen

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-09-10 02:25] dtolnay opened #7655 "derivable_impls false positive on nongeneric impl"
[code]

[code]

Clippy's suggestion is **not** equivalent to the handwritten impl. It is more generic which may not be desirable.

[code]

ambiguity with derived default but not handwritten default:

[code]

@HKalbasi @camsteffen

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-09-10 03:46] flisky opened #7656 "rsplit_once suggest error"
[code]

the `rsplitn` returns last to first, and `rsplit_once` returns `Option<(first, last)>`, so it should go to `|x| x.1`. Right?

[2021-09-10 06:32] osa1 commented on #7526
In case you need real-world examples here's another false positive: https://github.com/osa1/tiny/blob/8f4428ee41b46152fd4c2f1abf883a2f1942ceaa/crates/libtiny_tui/src/tui.rs#L1056-L1058

[2021-09-10 06:42] HKalbasi commented on #7655
@camsteffen Shouldn't this line handle it?
[code]

[2021-09-10 12:43] Stargateur opened #7658 "unseparated_literal_suffix is very opinion oriented `0u8` versus `0_u8`"
I just found [unseparated_literal_suffix](https://rust-lang.github.io/rust-clippy/master/index.html#unseparated_literal_suffix) with https://github.com/Geal/nom/pull/1387 and I believe this have never been talk about:

- This has been advice by [unnecessary_cast](https://rust-lang.github.io/rust-clippy/master/index.html#unnecessary_cast) and so I have a problem, `0 as u8` is very clear, clippy lin

[2021-09-10 12:52] peterjoel opened #7659 "while_let_on_iterator should not trigger on borrowed iterators if the iterator is subsequently used."
Lint name: while_let_on_iterator

I tried this code:

[code]

I expected to see this happen:

This should not trigger the lint because the iterator is used again after the loop. The purpose of explicitly calling `next()` is to make it clear that the iterator may not be fully consumed in the loop and the remaining items can be processed elsewhere.

Instead, this happened: The lint triggers and tell

[2021-09-10 13:02] camsteffen commented on #7655
I'm guessing that returns false because the type param is substituted with `String` and we need to go back to inspecting`type_of().kind()`.

[2021-09-10 15:46] mikerite opened #7662 "Lint: `manual_open_range_pattern`"
### What it does

Suggest using open range patterns instead of inclusive range patterns for integer types with upper bound equal to the maximum of that type.

### Categories

- Kind: Style

### Advantages

The suggested code is shorter and more readable. The shorter syntax doesn't require the MAX constant and so the variables type doesn't need to be repeated.

### Drawbacks

None.

Explicitly incl

[2021-09-10 15:47] mikerite commented on #7662
@rustbot assign @mikerite

[2021-09-10 15:48] #7654 closed

[2021-09-10 15:48] #7655 closed

[2021-09-11 05:11] mikerite commented on #7658
As far as I can tell, #703  is the original issue for this lint and #1145 is the pull request that implemented it. This lint is more than 5 years old. You've probably never seen it because it's allow by default.

So regarding complaints about "there is no talk about this".
Where did you expect this discussion to happen?
How did you expect to be included in it?

[2021-09-11 08:42] #7656 closed

[2021-09-11 13:21] Stargateur commented on #7658
I said I never see `42_u8` before, not the lint itself even if I never see the lint too before. The fact it's 5 years old make it even worse meaning I never see someone apply it in 5 years.

How did you expect to be included in it?

here ?

[2021-09-11 14:14] mikerite commented on #7658
No. You said you'd never see the lint before as well.

..

Well then this is discussion you're looking for.

..

I don't have any more time for this issue. Good luck getting this lint changed/removed.

[2021-09-11 16:31] Stargateur commented on #7658
Well you kill my wish to make thing better, don't be surprise when people complain about clippy more and more.

[2021-09-11 18:31] quaternic opened #7665 "declare_interior_mutable_const triggers on array initializer"
Lint name:
declare_interior_mutable_const

I tried this code:
[code]
Since the array initialization syntax requires `T: Copy`, rustc errors and suggests this fix that works correctly:
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bd791ba365616f1409a8fd510f98dcce)

To my knowledge this is the best way to initialize an array with a `const` but `!Copy` va

[2021-09-12 22:34] xFrednet commented on #7665
Hey, thank you for the report :upside_down_face:. This is actually a difficult case, where this way of initializing the array uses the fact that each `const` value is copied. This is copying is the exact thing that the lint, tries to warn for as is can be surprising to newcomers if this is not intended.

For cases like this, I would suggest adding a `#[allow(clippy::declare_interior_mutable_const)

[2021-09-13 00:55] #3071 closed

[2021-09-13 00:55] #4002 closed

[2021-09-13 04:06] dtolnay opened #7666 "Most commonly ignored lints on crates.io"
This is a similar methodology to https://github.com/rust-lang/rust-clippy/issues/5418, but using all published crates on crates.io as the data source, rather than repos indexed by grep.app. The old table is a year and a half out of date at this point and hard to reproduce, so I've gone ahead and closed that issue. The code to generate the table below is in https://github.com/dtolnay/noisy-clippy.

[2021-09-13 04:08] dtolnay commented on #5418
Closing in favor of #7666, which reproduces a similar table using all published crates on crates.io as the data source, rather than repos indexed by grep.app. The code is available in https://github.com/dtolnay/noisy-clippy.

[2021-09-13 04:08] #5418 closed

[2021-09-13 04:32] dtolnay commented on #6690
@rustbot label +I-false-positive

[2021-09-13 04:33] dtolnay commented on #3866
@rustbot label +I-false-positive

[2021-09-13 04:34] dtolnay commented on #1502
@rustbot label +I-false-positive

[2021-09-13 04:35] dtolnay commented on #3440
@rustbot label +I-false-negative

[2021-09-13 04:36] dtolnay commented on #985
@rustbot label +I-false-positive

[2021-09-13 04:37] dtolnay commented on #1086
@rustbot label +I-false-positive

[2021-09-13 04:37] dtolnay commented on #1202
@rustbot label +I-false-positive

[2021-09-13 04:37] dtolnay commented on #1241
@rustbot label +I-false-positive

[2021-09-13 04:38] dtolnay commented on #1285
@rustbot label +I-false-positive

[2021-09-13 04:39] dtolnay commented on #1478
@rustbot label +I-false-positive

[2021-09-13 04:40] dtolnay commented on #1846
@rustbot label +I-false-positive

[2021-09-13 04:43] dtolnay commented on #2188
@rustbot label +I-false-positive

[2021-09-13 04:44] dtolnay commented on #2208
@rustbot label +I-false-positive

[2021-09-13 04:44] dtolnay commented on #2329
@rustbot label +I-false-positive

[2021-09-13 04:45] dtolnay commented on #2330
@rustbot label +I-false-positive

[2021-09-13 04:45] dtolnay commented on #2526
@rustbot label +I-false-negative

[2021-09-13 04:45] dtolnay commented on #2728
@rustbot label +I-false-positive

[2021-09-13 04:46] dtolnay commented on #2875
@rustbot label +I-false-positive

[2021-09-13 04:46] dtolnay commented on #2990
@rustbot label +I-false-positive

[2021-09-13 04:47] dtolnay commented on #3067
@rustbot label +I-false-positive

[2021-09-13 04:47] dtolnay commented on #3274
@rustbot label +I-false-positive

[2021-09-13 04:48] dtolnay commented on #3275
@rustbot label +I-false-positive

[2021-09-13 04:48] dtolnay commented on #3276
@rustbot label +I-false-positive

[2021-09-13 04:48] dtolnay commented on #3477
@rustbot label +I-false-positive

[2021-09-13 04:48] dtolnay commented on #3480
@rustbot label +I-false-positive

[2021-09-13 04:49] dtolnay commented on #3481
@rustbot label +I-suggestion-causes-error

[2021-09-13 04:49] dtolnay commented on #3482
@rustbot label +I-false-positive

[2021-09-13 04:50] dtolnay commented on #3948
@rustbot label +I-false-positive

[2021-09-13 04:50] dtolnay commented on #4002
@rustbot label +I-false-positive

[2021-09-13 04:50] dtolnay commented on #4081
@rustbot label +I-false-positive

[2021-09-13 04:50] dtolnay commented on #4326
@rustbot label +I-false-positive

[2021-09-13 04:51] dtolnay commented on #5169
@rustbot label +I-false-positive

[2021-09-13 04:51] dtolnay commented on #5201
@rustbot label +I-suggestion-causes-error

[2021-09-13 04:52] dtolnay commented on #5356
@rustbot label +I-false-positive

[2021-09-13 04:52] dtolnay commented on #5435
@rustbot label +I-false-positive

[2021-09-13 04:52] dtolnay commented on #5689
@rustbot label +I-false-positive

[2021-09-13 06:14] Labelray commented on #7645
@rustbot claim

[2021-09-13 09:36] mikerite commented on #7658
You should reopen this issue as there may be interest in changing it from someone on the team.

I wished you luck because I don't like this lint either. Maybe you thought I was being sarcastic.

[2021-09-13 11:46] jplatte opened #7667 "Lint suggestion: nested format!"
### What it does

Warn on `format!` within the arguments of another macro that does formatting such as `format!` itself, `write!` or `println!`.

Suggests replacing the inner `format!` call with `format_args!` or inlining it entirely (see example).

### Categories (optional)

- Kind: style / perf

The recommended code is both shorter and avoids a temporary allocation.

### Drawbacks

There could b

[2021-09-13 12:09] quaternic commented on #7665
Wouldn't that be just as surprising if the `const` is not interior-mutable?

The example in the documentation *also* triggers [borrow_interior_mutable_const](https://rust-lang.github.io/rust-clippy/master/index.html#borrow_interior_mutable_const), so it's not clear why *this* lint is needed in addition. In fact, it seems to me that any attempt to mutate the `const` requires a shared reference and

[2021-09-13 14:37] matthiaskrgr commented on #7667
Related issues: https://github.com/rust-lang/rust-clippy/issues/3155 https://github.com/rust-lang/rust-clippy/issues/6259

[2021-09-13 16:31] camsteffen commented on #7667
Lint name idea: `format_in_format_args`. Note that `panic!(.., format!(..))` is expanded to `..format_args!(.., format!(..))..`. The same is true for all format_args-like macros.

To implement, I would start with `FormatArgsExpn::parse`, then try `FormatExpn::parse` for each value arg, then look at the outer macro expansion to look for `panic!`, `assert!`, `write!`, etc.

[2021-09-13 21:42] camsteffen commented on #7666
This is an extremely helpful metric and it certainly lends itself to some specific changes. Thank you @dtolnay for all the work you've put in to making Clippy less annoying. 😃

[2021-09-13 22:01] xFrednet commented on #7665
It shouldn't, because you can't modify constant values. Here is an example, what the lint is actually about
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=583c2cf8bce66a5cbf009452c7319c43):

[code]

This will print out "`Cell { value: false }`" which might be counterintuitive. The lint basically tries to warn if a user tries to use `const` to create global val

[2021-09-13 23:12] camsteffen commented on #7662
I would call it `range_to_max` so that it makes sense with "allow".

[2021-09-14 08:06] flip1995 commented on #7666
I filtered out the allow-by-default lints and sorted this table by number of global and by local allows each:

<details>
<summary>Global</summary>

global|local|lint name|category
---|---|---|---
966|236|**[all](https://rust-lang.github.io/rust-clippy/master/index.html#all)**|unknown
430|2326|**[too_many_arguments](https://rust-lang.github.io/rust-clippy/master/index.html#too_many_arguments)**|com

[2021-09-14 09:07] dtolnay commented on #7666
The top 2 most widely suppressed lints, whether you look at global or local, are [`too_many_arguments`](https://rust-lang.github.io/rust-clippy/master/index.html#too_many_arguments) and [`type_complexity`](https://rust-lang.github.io/rust-clippy/master/index.html#type_complexity). Both of these happen to be configurable and it's possible Clippy has gotten the default thresholds wrong. I filed http

[2021-09-14 09:47] flip1995 commented on #7666
When I looked at the list, I also thought that by today's standards we'd probably place this lint in `pedantic`, so I'd be fine with moving it.

I don't have a strong opinion about `needless_doctest_main`, I think @llogiq is the best person to talk about this lint to. I agree with everything else you wrote.

[2021-09-14 10:05] dtolnay commented on #7666
For the rest, I think https://github.com/dtolnay/noisy-clippy/issues/1 is gonna be a blocker for further action on a lot of them. We need a way to browse what is going on at each of these suppression sites.

I'd call out that [`not_unsafe_ptr_arg_deref`](https://rust-lang.github.io/rust-clippy/master/index.html#not_unsafe_ptr_arg_deref) is shockingly high. The lint seems airtight to me but I wonde

[2021-09-14 13:40] camsteffen commented on #7659
The rustbot comment seems to be caused by #7627 @xFrednet

[2021-09-14 13:43] xFrednet commented on #7659
It sadly seems that way. The bot is a bit inconsistent when it comes to mentions inside html comments. I'll create another fix PR

[2021-09-14 16:10] #6745 closed

[2021-09-14 17:26] nebulaeandstars opened #7672 "Closures inside structs can be flagged as redundant when they shouldn't be."
using clippy 0.1.52 (07e0e2e 2021-03-24)

I tried this code:

[code]

I expected the code to pass all targets.

Instead, this happened:

`cargo clippy` recommends that I replace `|| String::new()` with `String::new()`, which isn't correct and won't compile.

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-09-14 20:17] camsteffen commented on #7658
I agree - unseparated_literal_suffix is founded on a style assertion that is not well supported outside of Clippy, and one could reasonably have the opposite opinion. Such lints should be in the restriction category.

I think the ability to separate the type with an underscore is an accidental consequence of a language feature intended for grouping like `1_000_000`, but I have no proof of this.

[2021-09-15 00:17] giraffate commented on #7672
Clippy suggests `String::new`, not `String::new()`, in the `redundant_closure` lint. And it can compile.

I tried it on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7079366deee941d4fe512fd5453b4942).

[2021-09-15 00:23] giraffate commented on #7244
I'm closing this because of https://github.com/rust-lang/rust-clippy/issues/7244#issuecomment-849780222. Anyway, thanks for the report!

[2021-09-15 00:23] #7244 closed

[2021-09-15 01:46] Jarcho commented on #7659
It's hard to call this one a false positive as the suggestion is correct in that you can use a `for` loop there. You have a subjective point about why not to use one which I personally disagree with. I would assume you were using the iterator within the loop, not necessarily afterwards. It might be a good idea to split the into two so you could disable just part of it.

As an aside I would be writ

[2021-09-15 02:45] Jarcho commented on #7666
I'm curious when you're doing this. Is there some kind of pattern that could be allowed here? I'm also curious if this is actually a common beginner mistake, or if that's just an baseless assertion in the docs.

This one seems to not work properly.

[code]

It's currently claiming `X` is the second largest variant on the playground.

I've seen people do that for private helper functions. It's not

[2021-09-15 15:05] jonasbb opened #7674 "`manual_split_once` suggestion does something different than the original code"
I tried this code:

[code]
clippy correctly emits a warning for the `manual_split_once` lint, however, the suggestion is wrong even though the lint is marked as `MachineApplicable`.

clippy suggests this replacement:

[code]

The suggestion is wrong, and it should be `x.1` at the end. The original code prints "de" while the new one prints "foobar", which you can see in this [playground](https://pl

[2021-09-15 15:28] jjl commented on #7659
[here](https://gist.github.com/jjl/d8118337a2bcfc88b9cbe57b1224d6f7#file-many-rs-L25)'s an example i ran across today where following clippy's advice definitely fails

[2021-09-15 16:04] Jarcho commented on #7659
Looks like clippy is correct there. You can use `for mut ptr in &mut iter` there.

[2021-09-15 16:05] Jarcho commented on #7674
Was fixed in #7663

[2021-09-15 16:21] #7674 closed

[2021-09-15 18:23] jjl commented on #7659
yeah, i deleted my comment when i realised (some half an hour later...).

i'm not sure if the lint suggestion is more obvious from the cli, but it really wasn't through lsp-mode

[2021-09-16 00:05] peterjoel commented on #7659
@jackh726 My point about it being better style not to use a `for` loop is definitely debatable, but I agree that it is much more expressive to use `take_while` here. It can be further improved with `matches!`:

[code]

[2021-09-16 02:59] Niklas-Eckhoff opened #7675 "manual_range_contains misses non-literals"
Lint name: [manual_range_contains](https://rust-lang.github.io/rust-clippy/master/index.html#manual_range_contains)

I tried this code:

[code]

I expected to see this happen: *Warning: help: use: `(y..=z).contains(&x)`*

Instead, this happened: *No warning.*

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-09-16 04:31] mikerite commented on #7659
I think [by_ref](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.by_ref) can be used as an alternative to `&mut it`.
[code]

[2021-09-16 04:39] lengyijun opened #7676 "`wrong_self_convention` doesn't check return type"
https://rust-lang.github.io/api-guidelines/naming.html#ad-hoc-conversions-follow-as_-to_-into_-conventions-c-conv
For example, the return type of `as_` should be borrowed, but `wrong_self_convention` doesn't check it.

[2021-09-16 05:12] peterjoel commented on #7659
@mikerite There should be a clippy lint for _this_!

[2021-09-16 09:06] jjl commented on #7659
If clippy were to have suggested by_ref, i think i would have understood much more quickly.

[2021-09-16 22:20] nebulaeandstars commented on #7672
You're right, I must have misread the hint.

[2021-09-16 22:20] #7672 closed

[2021-09-17 02:28] #3414 closed

[2021-09-17 07:13] Qwaz opened #7681 "New Lint: Detect Uninitialized Vec"
### What it does

Checks for the creation of uninitialized `Vec<T>` by calling `set_len()` immediately after `with_capacity()` or `reserve()`.

This is one of the most common unsound bug patterns we observed during [Rudra](https://github.com/sslab-gatech/Rudra) project, e.g., bodoni/truetype#11 ([RUSTSEC-2021-0029](https://rustsec.org/advisories/RUSTSEC-2021-0029.html)), uutils/coreutils#1729 ([RU

[2021-09-17 13:34] Jarcho commented on #7659
It could definitely change to use `by_ref` if people prefer that. I have no opinion either way here; I think they both look fine.

[2021-09-17 16:41] Qwaz commented on #7681
@rustbot claim

[2021-09-17 22:15] #7632 closed

[2021-09-17 22:37] #7635 closed

[2021-09-18 04:34] shssoichiro opened #7683 "derivable_impls false positive on array sizes that do not implement Default"
Lint name: derivable_impls

I have the following code:

[code]

I receive this warning:

[code]

I try the suggestion:

[code]

I receive the following compiler error:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

@rustbot label +I-suggestion-causes-error

[2021-09-18 12:14] xFrednet commented on #7675
Thank you for the bug report. From a quick test and a look at the [code](https://github.com/rust-lang/rust-clippy/blob/59cd77710d73ba65d56f0c5c167ef503174a4826/clippy_lints/src/ranges.rs#L291-L311), it seems like the current implementation only works with constant values.  Having it work with local values as well sounds reasonable IMO. :upside_down_face:

[2021-09-18 15:28] WaffleLapkin opened #7686 "`clone_double_ref` doesn't help if the result leads to a compiler error"
See for example this snippet:

[code]

It doesn't compile because of the type mismatch (expected struct `NonCopy`, found `&NonCopy`) and the lint isn't shown even though the clone of the double ref is what causes the issue.

In this small example, it's trivial to spot the error, however, in real code, the error may be caused by something less obvious and a lot harder to debug without knowing that

[2021-09-18 20:09] m-mueller678 opened #7687 "New Lint: Box<dyn Any>::type_id()"
### What it does

Detect calls to `Box<dyn Any>::type_id()`

The intent is likely to get the `TypeId` of the boxed value, but this returns the `TypeId` of `Box<dyn Any>`.
Using `TypeId::of::<Box<dyn Any>>()` is much clearer if that is intended.

### Categories (optional)

- Kind: suspicious

### Drawbacks

None

### Example

[play ground](https://play.rust-lang.org/?version=stable&mode=debug&editi

[2021-09-18 22:46] yellowhat opened #7689 "needless-return for a match"
Lint name: `needless-return`

I tried this code:
[code]

I expected to see this happen: no warnings/errors

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-09-19 06:49] workingjubilee commented on #7666
[excessive_precision](https://rust-lang.github.io/rust-clippy/master/index.html#excessive_precision) is too severe: decimals intended as f32s with less than 9 significant digits are linted against, e.g.
[code]

This is 8 significant digits. It should permit at least 9, even if some are considered "excessive", because f32s can include up to 9 significant digits meaningfully, and there is various ve

[2021-09-19 10:11] repi commented on #2918
Retested on latest nightly `clippy 0.1.57 (aa8f2d43 2021-09-18)` and this issue is still valid.

[2021-09-19 10:46] mikerite commented on #7689
Why do you consider this a false positive? It looks right to me.

[2021-09-19 12:11] yellowhat commented on #7689
If I follow the advice:

[code]
and I get:

[code]

Am I misreading?

[2021-09-19 12:34] mikerite commented on #7689
You are misreading because the suggestion because it doesn't  say anything about deleting the commas. It's still not 100% though because you need to delete the final semi-colon as well.

The code below is what it's trying to get to.

[code]

This isn't a false positive but a bad suggestion.

[2021-09-19 12:36] yellowhat commented on #7689
Yes I tried that:

[code]

but I get:
[code]
it will not even build.

[2021-09-19 18:50] workingjubilee commented on #7666
Several instances of [`#[allow(too_many_arguments)]`](https://rust-lang.github.io/rust-clippy/master/index.html#too_many_arguments) on grep.app are for a `new` function. Since these are just building a complex struct, clippy should probably ignore these entirely.

For a typical procedure call, the System V AMD64 ABI allows passing up to 14 arguments in registers if 8 of them belong to the {x,y,z}m

[2021-09-19 20:50] dtolnay commented on #7666
I've updated the table at the top of this issue with links to browse the individual suppressions.

<br>

<img src="https://user-images.githubusercontent.com/1940490/133942611-e782bc75-8cab-487d-b5e9-f6ca1222a790.png" width="450">

[2021-09-20 05:58] mikerite commented on #7666
It looks like alot of the `eq_op` allows are in test code. You'd definitely want to test equal operands if you're implementing a binary operator.

[2021-09-20 06:15] dswij commented on #7689
There is a semicolon at the end of the last match statement.

[code]

else, it's interpreted as:

[code]

and hence, the error that you get.

Though I'd say that this is not a false positive, I agree on the point that this is bad suggestion by Clippy, something that can be improved nevertheless.

[2021-09-20 06:59] dswij commented on #7686
I'd imagine that in a non-trivial situation, you'd need to have some information about the type to run this lint, which basically means that `clone_double_ref` can't be run before compilation.

Though I can see how the lint can be ran before compilation for trivial errors such as the one above, I'm not sure if Clippy spotting those trivial errors will be useful enough.

[2021-09-20 07:48] yellowhat commented on #7689
Thanks for the suggestion.
It fixed my issue.

[2021-09-20 07:48] #7689 closed

[2021-09-20 08:17] dswij commented on #7658
I think it would be better if `unseparated_literal_sufix` enforce a consistent style throughout a project, rather than only accepting a style. (and move it to style category, if that makes sense?)

Perhaps we can have a configuration for the lint that specifies said enforced style.

[2021-09-20 11:47] gilescope commented on #2627
I can't think of a good example where overriding the Hash while having a derived PartialEq would cause a problem.
The other way around I can easily see, but this way round? If you're hashing any subset of the fields that would be fine. Wouldn't you have to try pretty hard to violate the agreement (E.g. referencing external mutable state or returning a random number)?

It's important that clippy st

[2021-09-20 13:56] camsteffen commented on #7658
I think this is an issue where multiple acceptable opinions exist, and therefore it needs to be a restriction lint. We should support the opposing opinion through a config option or another lint. Related: https://github.com/rust-dev-tools/fmt-rfcs/issues/155.

[2021-09-20 14:19] dswij commented on #7658
Makes sense. I will try to have a look on this.

@rustbot claim

[2021-09-21 06:18] workingjubilee commented on #7662
I made the case for stabilizing this pattern form. Based on what I remember of the code, there are some potential false positives or unwanted feedback situations to be careful of:
- Slice item patterns.
- `u16::MAX as usize` kinds of expressions.
- Other types with a `::MAX` constant, where it would not be so clear.
- Ambiguous numerics in general... remember that the presence of e.g. `i64::MAX` i

[2021-09-21 08:26] Luro02 opened #7697 "remove nesting for `if let else None`"
### What it does

I see myself often writing something like this:

[code]
this could be written as:

[code]
which is a lot cleaner to read and removes one layer of nesting. I think clippy currently suggests calling `Option::map`:

[code]
This is fine, but it has some disadvantages:
- it is harder to understand for newcomers
- and it introduces a new layer of nesting

### Categories (optional)

- K

[2021-09-21 13:51] Qwaz opened #7698 "False positive in `collapsible_span_lint_calls` internal lint"
Lint name: `collapsible_span_lint_calls`

I tried this code:
[code]

Clippy suggests to collapse this into `span_lint_and_help()`. However, this is not possible because `span_lint_and_then()` takes `S: Into<MultiSpan>` while `span_lint_and_help()` only takes `Span`.

The issue can be easily fixed by either
(1) checking the type of the span and suppress the lint if it is not `Span`
(2) modifying th

[2021-09-21 18:05] asg0451 opened #7699 "ptr-arg warning on reference to type alias"
Lint name: ptr_arg

I have a type alias somewhere:
[code]

and I have a function that takes a refence to one:

[code]
Clippy, run with `-Dwarnings`, returns this suggestion:
[code]

I think this suggestion is bad -- I want to keep this type alias. I have to pepper each function that receives such an arg with `#[allow(clippy::ptr_arg)]` and a comment explaining why.

### Meta

**Rust version (`rust

[2021-09-22 00:36] #7637 closed

[2021-09-22 03:54] detly opened #7700 "large_enum_variant proposed Box solution prohibits destructuring"
Using Rust 1.55.0 via Rustup on Ubuntu 21.04.

I hit the `large_enum_variant` warning on an enum where one variant contains a bunch of `Option<String>`s. Here's a super simple example:

[code]

My actual code uses a lot of destructuring, and is extremely well suited to a "flat" kind of match where the big data is a kind of "primary" key, ie.

[code]

I don't think this is particularly uncommon, I

[2021-09-22 05:14] mikerite commented on #7681
Related issue: #4483

[2021-09-22 08:41] AlexApps99 opened #7701 "called `Option::unwrap()` on a `None` value, compiler/rustc_hir/src/definitions.rs:452"
### Code
I could not reproduce this error after `cargo clean`, so I can't create a minimum reproduction of the bug.
I can, however, provide the complete source, with `/target/`. I have zipped the directory while it's still reproducing the error.
I don't want to share my code unless necessary, so if this is not a duplicated error, or some sort of corruption from my end, let me know where to upload

[2021-09-22 09:15] #4546 closed

[2021-09-22 11:16] davidcole1340 opened #7702 "`len_without_is_empty` on type alias when both `len` and `is_empty` are implemented"
I tried this code:

[code]

I expected to see this happen: No clippy error.

Instead, this happened:
[code]

[Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=43514677e3a954b1f640cf8e21e7e6cc)

### Meta

**Rust version (`rustc -Vv`):**

[code]

Have also tried on `rustc 1.55.0` stable.

[2021-09-22 11:30] Qwaz opened #7703 "New Lint: `drop_non_send`"
### What it does

Warns about a field in a `Send` struct that is neither `Send` nor `Copy`.

Sending the struct to another thread and drops it there will also drop the field in the new thread. This effectively changes the ownership of the field type and breaks the non-`Send` requirement which is unsound.

This is one of the most common unsound bug patterns we observed during [Rudra](https://github

[2021-09-22 12:48] xFrednet commented on #7702
@rustbot label +I-false-positive

[2021-09-22 15:30] camsteffen commented on #7697
I actually prefer `Option::map` for this scenario since it does not require Some-wrapping the result. A strict preference for `?` would have to be a restriction lint IMO.

[2021-09-22 22:25] #7451 closed

[2021-09-23 03:19] kuviman opened #7706 "Vec<MaybeUninit<u8>> transmute to Vec<u8>"
Lint name: `unsound_collection_transmute`

I tried this code:

[code]

I expected to see this happen: assuming MaybeUninit has been initialized, this should be safe, since MaybeUninit should have same layout as inner type

Instead, this happened:

[code]

Btw, it seems strange, but if I instead make the function generic, everything is ok:

[code]

### Meta

Ran on [playground](https://play.rust-la

[2021-09-23 08:50] Qwaz opened #7708 "`upper_case_acronyms` does not accept allow lint on enum variants"
I ran Clippy on this code:

[code]

I expected to see this happen:
`ATTR` name is allowed

Instead, this happened:
Clippy still emits an error

It happens because `UpperCaseAcronyms` is visiting enum variants manually instead of using `check_variant()` that handles the attributes automatically.

https://github.com/rust-lang/rust-clippy/blob/ef2e2f0a0c61ac29986ac1cee5c06406783a89a2/clippy_lints/src

[2021-09-23 10:23] Qwaz commented on #7708
Can be fixed by swithing to `span_lint_hir()` or `span_lint_hir_and_then()` and providing the field's `HirId`

[2021-09-23 10:50] matthiasbeyer opened #7710 "map_collect_result_unit does not recognize for loop"
### What it does

This is a suggestion for the `map_collect_result_unit` lint.
I just refactored this piece of code:

[code]

into this:

[code]

And then the lint told me that I can do

[code]

But maybe it is possible that the lint also tells me that my first version can be written better?

I don't know whether this is possible, but it would be nice to catch the for-loop-version as well here.

#

[2021-09-23 16:26] #7650 closed

[2021-09-23 19:35] Luro02 commented on #7697
`Option::map` has the disadvantage that in some cases it causes an issue with lifetimes and is relatively difficult to understand by beginners, because it requires to understand both Traits and Closures.

[2021-09-23 19:50] alexander-jackson opened #7712 "failed to create span for type parameters, src/tools/clippy/clippy_lints/src/implicit_hasher.rs:175:34"
This originally failed in CI [here](https://github.com/alexander-jackson/blackboards/runs/3691782983?check_suite_focus=true), however it also fails locally with the same error.

**Meta**

[code]

**Error Output**

[code]

[2021-09-23 22:11] jhpratt commented on #7666
I'd be curious to know how many of the `#[allow]`s for cognitive complexity were on tests. Personally I have it silenced for integration tests but still warned for the implementation.

[2021-09-23 23:35] workingjubilee commented on #1576
The Builder pattern is a way to gradually build data, it is not necessarily useful to increase abstraction when all the data is known and already present.

I believe this can be changed in the following match: https://github.com/rust-lang/rust-clippy/blob/6ae0835df01f51c75b516b02ab2983576cf6b0b3/clippy_lints/src/functions/too_many_arguments.rs#L19-L37

For the FnKind::Method variant we can check t

[2021-09-23 23:36] workingjubilee commented on #7666
It is possible that Clippy should omit a set of lints entirely inside `#[test]` code.

[2021-09-23 23:43] jhpratt commented on #7666
Along with integration tests, that was my thinking. Cognitive complexity, too many lines, a number of performance lints, etc.

[2021-09-24 00:48] giraffate commented on #7712
Thanks for the report!

`async` seems to cause this like here: https://github.com/alexander-jackson/blackboards/blob/81f35cdb8af9b61830d5fdc0f9b15b4b6919b34a/src/api.rs#L264.

The minimal reproduction is here: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=90e5cebbeb4561b17cb17b9dc42403a8

[2021-09-24 02:00] dtolnay opened #7714 "Improve explanation of not_unsafe_ptr_arg_deref"
I pointed out in https://github.com/rust-lang/rust-clippy/issues/7666#issuecomment-919006725 that the use of `allow(clippy::not_unsafe_ptr_arg_deref)` on crates.io is shockingly high.

Here is the list: https://dtolnay.github.io/noisy-clippy/not_unsafe_ptr_arg_deref.html

I spot checked some of these and pretty much every case is unsound.

- https://github.com/dtn7/bp7-rs/issues/2
- https://github

[2021-09-24 14:35] urkle commented on #7271
This also is an issue even if the return doesn't use the lifetime bu a nested struct does.. for example
[code]

The compiler requires the 'a be there.

What is interesting is that clippy does not report a failure with this code.
[code]

clippy 0.1.54 (a178d032 2021-07-26)

rustc 1.54.0 (a178d0322 2021-07-26)
binary: rustc
commit-hash: a178d0322ce20e33eac124758e837cbd80a6f633
commit-date: 2021-07-2

[2021-09-24 14:56] #7645 closed

[2021-09-24 16:12] camsteffen opened #7716 "Manual assert_eq! (enhance `if_then_panic`)"
We just [added](https://github.com/rust-lang/rust-clippy/pull/7669) `if_then_panic`, but then I realized there's a possible enhancement for `assert_eq!`/`assert_ne!`:

[code]

I think a rename to `manual_assert` would be best. But we could also keep the current name (it still kinda makes sense) or create a new lint for this case.

[2021-09-24 16:32] xFrednet commented on #7716
Nice suggestion, and renaming the lint to `manual_assert` sounds like a good idea. We should try to do this, before the `if_then_panic` lint hit's stable, IMO :upside_down_face:

[2021-09-24 16:53] kangalio opened #7717 "Lint when not all trait methods are implemented"
### What it does

Detect when one or more trait methods were not implemented, i.e. delegated to their default implementation.

### Categories (optional)

- Kind: `clippy::restriction`

### Why

Useful for code that needs to exhaustively implement a trait for one reason or another.

For example, the serenity crate has an EventHandler trait with dozens of optional methods, and you usually implement

[2021-09-25 05:23] mikerite opened #7718 "Move `if_then_panic` to pedantic"
I ran this lint on a bunch of crates and it's firing a lot.

For readability, it's debatable whether it's recommendations are actually improvements. Especially where there are a lot of args or the condition is complicated.

I also think there is a semantic difference between an assert and if-panic. I see asserts as checking "my code". I'd never use asserts to check user input. I'd like to know if

[2021-09-25 05:35] Labelray commented on #7716
I am interested in implementing the enhancement. And I think it is better to use just one lint `manual_assert` for current `if_then_panic` and this new case, not new lint for this new case.

@rustbot claim

[2021-09-25 06:09] mikerite commented on #7718
Here is another example of the semantic difference between assert and if-panic.

If I understand this code, it's checking if the setting requires panicking and then panicking.  I don't think assert is appropriate here.

[code]

Below are the warning counts I got from testing around 1000 popular crates on crates.io. Just to make precise what I mean by "firing a lot".

<details>
  <summary>Warning c

[2021-09-25 09:28] xFrednet commented on #7716
Hey @Labelray, if you're working on this issue, you might also want to take a look at #7718. @mikerite suggested in the issue to move this lint to `pedantic` which seems reasonable to me. That might be an easy change to do along the way :upside_down_face:.

[2021-09-25 10:50] derekdreery commented on #1576
4 years down the line, I'd now disagree with myself, and say that constructors are sometimes better than builders.

[2021-09-25 13:35] camsteffen commented on #7716
Another thing I thought of - lint if-else-panic and **don't** lint if-panic-else-panic.

[2021-09-26 06:06] dtolnay opened #7721 "False positive in excessive_precision for floats that are already in shortest form"
[code]

[code]

Clippy's suggestion is the following diff:

[code]

It seems wrong to call this excessive precision when both representations have identical precision. Probably there is a reason that the one the human wrote is more meaningful in context and should be left as is.

<br>

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-09-26 06:32] mikerite opened #7723 "`if_then_panic` doesn't fire when edition is 2021"
Lint name: if_then_panic

I tried this code:

src/main.rs
[code]

Cargo.toml
[code]

I expected to see this happen: The lint to be triggered

Instead, this happened: Nothing. It's a false negative.

### Meta

**Rust version (`rustc -Vv`):**

[code]
### Comments
I think the problem is that rustc produces different HIR for `panic!` in the 2021 edition and `clippy_utils::higher` doesn't handle it. It

[2021-09-26 16:58] d-e-s-o opened #7724 "Lint to identify core symbols consumed through std"
### What it does

Personally, I think it would be helpful to have a lint that tells me that a symbol that I am using is available from the `core` crate, but I am importing it through `std`.

### Categories (optional)

- Kind: probably `clippy::pedantic`

*What is the advantage of the recommended code over the original code*

In embedded development or whenever there may be a reason to have `no_std

[2021-09-26 17:04] d-e-s-o commented on #7724
On that note, I'd be interested to hear if there is a good way to programmatically determine whether something is available from `core` without maintaining a list of all its symbols. I could envision invoking `rustc` on a file `use`ing the symbol that is otherwise empty, but that seems kind of excessive. I am not sure Rust would allow for other introspection like this.

[2021-09-26 21:04] dtolnay commented on #7486
I've hit an even simpler form of this, where the modulus is an integer literal. I believe that Clippy should be able to avoid triggering in the literal case at least.

[code]

[code]

[2021-09-26 21:46] dtolnay commented on #7666
For `cast_possible_truncation`: I think recognizing a fairly small group of correct idioms would make a huge difference in the number of suppressions necessary.

Someone will need to go through https://dtolnay.github.io/noisy-clippy/cast_possible_truncation.html and file obvious recognizable cases like https://github.com/rust-lang/rust-clippy/issues/7486.

[code]

[code]

[2021-09-27 01:02] #7721 closed

[2021-09-27 01:21] dtolnay opened #7725 "Consider downgrading float_cmp to restriction or nursery"
*Context: #7692 has already bumped the `float_cmp` lint from deny-by-default `correctness` to allow-by-default `pedantic`. This lint is by far the most suppressed `correctness` lint on crates.io with over triple the number of suppressions than the second place.*

Following up on https://github.com/rust-lang/rust-clippy/pull/7692#pullrequestreview-760208632 and @giraffate's next comment:

In my opi

[2021-09-27 08:33] dswij commented on #7702
@rustbot claim

[2021-09-27 13:12] smoelius opened #7729 "Redundant `to_string`?"
I was surprised that there does not seem to be a lint to catch the following. Is it possible that it exists and I am somehow not triggering it?
[code]

[2021-09-27 13:28] xFrednet commented on #7464
The PR has been closed due to inactivity. My understanding is that @LeSeulArtichaut will not continue to work on this for now. I'll therefore unassign him. The PR still looks like a good starting point if someone else wants to take over :upside_down_face:

[2021-09-27 14:37] Compro-Prasad commented on #4321
Any updates on this? Was looking for whether to use `Vec::extend` or `Vec::append` and landed here. Any reasons why I should prefer `Vec::extend`? The example you provided doesn't seem to explain what I was looking for.

[2021-09-27 18:45] camsteffen commented on #7729
Related to #7729. I'd call this `to_string_in_format_args`.

[2021-09-28 00:53] giraffate commented on #7701
Thanks for the report!

This might be duplicate as https://github.com/rust-lang/rust/issues/89260. And it seems to be rustc issue, not Clippy.

[2021-09-28 04:47] mikerite opened #7730 "`if-then-panic` suggestion discards comments"
I tried this code:

[code]

I expected to see this happen: The suggestion would preserve the comment somehow.

Instead, this happened: The suggestion discarded the comment.
[code]

### Meta

**Rust version (`rustc -Vv`):**

[code]
@rustbot label +L-suggestion

[2021-09-28 04:54] mikerite opened #7731 "`if-then-panic` suggestion is not equivalent for complex conditions"
I tried this code:

[code]

I expected to see this happen: The suggestion would be equivalent but use `assert` instead.

Instead, this happened:
[code]
The suggestion doesn't correctly negate the condition and so changes the logic of the code. My original code will never panic. The suggestion will always panic.

### Meta

**Rust version (`rustc -Vv`):**

[code]
@rustbot label +L-suggestion

[2021-09-28 06:05] sffc opened #7732 "missing_safety_doc should catch `unsafe impl`"
I tried this code:

[code]

I expected to see this happen: The `missing_safety_doc` should complain about the `unsafe impl` not having safety docs.

Instead, this happened: This code passes the clippy check.

### Meta

**Rust version (`rustc -Vv`):**

[code]

CC @Manishearth

[2021-09-28 11:42] xFrednet commented on #4321
Hey @Compro-Prasad, we now have a very similar lint called [`extend_with_drain`](https://rust-lang.github.io/rust-clippy/master/index.html#extend_with_drain) which basically checks for the same circumstances.

The difference between the functions is, that `extend` adds items one after another while, `append` adds all of them at once. This allows the destination data structure to decide how to add

[2021-09-28 13:22] Compro-Prasad commented on #4321
I simply want to append efficiently the whole list. I hope `append` would do the job.

[2021-09-28 15:17] Manishearth commented on #7732
`missing_safety_doc` is about documenting safety invariants for library types, _not_ for documenting `unsafe` code in comments. As such it's irrelevant when it comes to `unsafe impl`s (or `unsafe` blocks). However, it should absolutely warn on `unsafe trait` so we can fix that.

[2021-09-28 15:36] Manishearth commented on #7732
https://github.com/rust-lang/rust-clippy/pull/7734

[2021-09-28 17:22] #7732 closed

[2021-09-28 17:39] Milo123459 opened #7735 "thread 'rustc' panics"
I tried this code:

[code]

### Meta

https://github.com/serenity-rs/serenity/runs/3735636478?check_suite_focus=true

Here is a CI run, i sadly can't get that information.

[2021-09-28 17:40] Milo123459 commented on #7735
[code]
That's where it fails apparently.

[2021-09-28 17:44] Milo123459 commented on #7735
Started getting this locally:
[code]
`rustc -vV`
[code]

[2021-09-28 18:41] smoelius commented on #7667
@camsteffen If I were to implement this, would it be too invasive if I were to change `FormatExpn` to `FormatLikeExpn` so that it could handle things like `println!`.

Currently, it strictly handles `format!`: https://github.com/rust-lang/rust-clippy/blob/fb17671eb07fc9f68c17b7494e402591fe08b299/clippy_utils/src/higher.rs#L488

[2021-09-28 18:57] camsteffen commented on #7667
@smoelius I think I would add something like this, on top of what we already have:

[code]

so we still have the option of parsing a specific macro.

[2021-09-28 19:07] smoelius commented on #7667
OK. Thanks for your response. I'm going to play with this and see what makes sense.

[2021-09-29 00:15] giraffate commented on #7735
Thanks for the report!

I'm closing this because this is duplicate of https://github.com/rust-lang/rust-clippy/issues/7712.

[2021-09-29 00:15] #7735 closed

[2021-09-29 03:48] Serial-ATA commented on #7464
I'll try. @rustbot claim

[2021-09-29 05:55] Milo123459 commented on #7735
Ah I see, sorry

[2021-09-29 05:57] Milo123459 commented on #7712
I'd be happy to contribute to fix this, how can I go about fixing it?

[2021-09-29 11:00] Serial-ATA commented on #7464
Should this check all unsafe blocks or just those in safe functions?

[2021-09-29 11:06] xFrednet commented on #7464
It would make sense to have it on every unsafe block IMO. :upside_down_face:

[2021-09-29 12:28] DerDoni opened #7737 "Add functionality to automatically put variable names in markdown docs in ticks"
Wenn calling clippy with pedantic settings, it advises the user to put variables (and others) into ticks, like so:

I tried the following command to automatically fix this, but to no avail
`cargo clippy --fix -- --warn clippy::doc_markdown`

Following the advice manually and possibly searching for hundreds or thousands of places and in the code is cumbersome and should be automated.
@rustbot C-enh

[2021-09-30 00:29] Serial-ATA commented on #7464
I've got it working, but I can't figure out how to do the suggestion.

[code]

The newline breaks the snippet line.

[code]
Should I not be using `span_lint_and_sugg`?

[2021-09-30 00:35] waleedmebane commented on #2914
Are people still interested in this or is it obsolete now?
I have an idea. I think macros could be helpful.

Suppose there were a lint that checked that only variables that were either parameters of a closure or declared in let statements in its body were used in its body. Nothing about the surrounding environment needs to be known. The lint is set to "allow" by default but we manually set it to "

[2021-09-30 04:12] dtolnay opened #7738 "redundant_closure_for_method_calls suggests noncompilable slice syntax"
[code]

[code]

Clippy's suggestion says "replace the closure with `[T]::to_vec`", but that is not Rust syntax.

[code]

The correct syntax would be `<[u8]>::to_vec` or `<[_]>::to_vec`.

<br>

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-09-30 06:42] dtolnay opened #7739 "non_ascii_literal false positive: non-ascii in comment in test"
Surprisingly the following triggers `non_ascii_literal`.

[code]

[code]

This is unexpected because there are no literals in this code and non-ascii in comments should be totally fine.

<br>

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-09-30 07:16] CAD97 opened #7740 "clippy::match_ref_pats probably shouldn't fire for if let"
Lint name:

I tried this code:

[code]

I expected to see this happen: warning free

Instead, this happened: `clippy::match_ref_pats` matched

The point of `clippy::match_ref_pats` is that it's less notation to put a single deref on the matched value than a ref on every pattern, but with `if let` this doesn't apply, as there's only one pattern to begin with.

Either the description/help message sh

[2021-09-30 07:36] ShadowJonathan commented on #7464
Every one, yes, unconditionally. Unless it's explicitly opted out (`#[allow]`).

[2021-09-30 09:21] #7683 closed

[2021-09-30 09:34] xFrednet commented on #7464
For this lint you can just use `span_lint` as it was used in #7557. `span_lint_and_sugg` is usually better, but this lint requires the user to add some additional information anyway. If you want to give an example, you can use [`clippy_utils::source::indent_of`](https://github.com/rust-lang/rust-clippy/blob/ab99eec15f322eb06ddc0ff235e3c7fbac96e541/clippy_utils/src/source.rs#L57-L65) to get the ind

[2021-09-30 09:44] xFrednet commented on #7712
Hey @Milo123459, the thing with ICEs (Internal Compiler Errors) is, that it can be hard to determine where to start. If you want to dive into this, you can first look at the back trace to determine, where this originates inside Clippy. To then check if this is a mistake in our code, and illegal use of the rustc API (documented [here](https://doc.rust-lang.org/nightly/nightly-rustc/)) or an error i

[2021-09-30 09:44] xFrednet commented on #7712
Hey @Milo123459, the thing with ICEs (Internal Compiler Errors) is, that it can be hard to determine where to start. If you want to dive into this, you can first look at the back trace to determine, where this originates inside Clippy. To then check if this is a mistake in our code, and illegal use of the rustc API (documented [here](https://doc.rust-lang.org/nightly/nightly-rustc/)) or an error i

[2021-09-30 10:36] ShadowJonathan commented on #7464
One thing i'm not sure about is if the suggestion will clash with all-uppercase `SAFETY:` i've seen in some codebases and linting combinations, could that maybe also be taken into account?

[2021-09-30 10:51] Serial-ATA commented on #7464
Thanks, that had me confused for awhile.

What I have now doesn't care about case since I saw your examples used "Safety" and #7557 uses "SAFETY"

[2021-09-30 12:10] djc opened #7742 "New lint to validate that E in public Result<_, E> implements std::error::Error"
### What it does

For public functions that return a `Result<_, E>` where `E` is not `()`, it should warn if `E` does not implement `std::error::Error`. Inspired by https://github.com/rustls/rustls/pull/837.

When propagating errors across crate boundaries, you almost always want to be able to propagate errors, and usually this works best if the error type implements `Error`.

### Categories (opti

[2021-09-30 15:33] flip1995 commented on #6629
I think we can close this issue, since we have the triage dashboard working for quite some time now. @giraffate thanks for all the triage work you're doing in addition to reviewing and for implementing the triage dashboard!

[2021-09-30 15:33] #6629 closed

[2021-09-30 17:51] jplatte commented on #7716
Relatedly, `if !something { panic!(); }` should suggest `assert!(something);` instead of `assert!(!!something);`. (saw this in https://github.com/ruma/ruma/runs/3759040805?check_suite_focus=true#step:5:399, I'm *guessing* that the double negation would be happening without the binop which is also not being treated correctly (#7731).

[2021-09-30 19:18] #318 closed

[2021-09-30 19:18] #2890 closed

[2021-09-30 19:18] #6563 closed

[2021-09-30 19:18] #7588 closed

[2021-09-30 19:18] #7620 closed

[2021-10-01 01:11] Serial-ATA commented on #7464
I assume you'd also want to accept

[code]

over

[code]

but since I'm using `check_block` I can't figure out how to check if the `Block` is part of a `Local`. Is there a simple way to check for that, or should this just not be handled?

[2021-10-01 04:57] dtolnay opened #7744 "excessive_precision formats large negative exponent wrong"
[code]

[code]

Clippy's suggested diff is:

[code]

which has the floating point exponent written as `e-_308` rather than the more readable `e-308`.

I'm guessing something in the underscore insertion is indirectly based on `(-308).to_string().len() > 3`.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-10-01 05:04] dtolnay opened #7745 "Needless exponent in excessive_precision suggestion"
[code]

[code]

Clippy suggests `0e0_f64`, but this quantity is more conventionally written as `0_f64` or `0.0_f64`. I'm guessing clippy is simplistically doing "if there is `e` in the original, then use `e` in the suggestion" but this isn't great for the underflow case.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-10-01 10:15] #7731 closed

[2021-10-01 17:37] lopopolo opened #7746 "`clippy::redundant-closure-for-method-calls` suggestion does not surround `* mut T` with `<>`"
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=581dff623478876daa72c1b4c48a0012

The suggestion that is incorrect and also does not compile: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c690d5e30d2d595ade64eba599ac2ad7

The correct suggestion: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3eb69e14aa05f18c3f27f

[2021-10-01 17:50] lopopolo commented on #7746
the suggestion also suggests the wrong type parameter.

The 3rd argument has type: `mem_to_rcbox: impl FnOnce(*mut u8) -> *mut RcBox<T>,`

The correct suggestion to get this to compile and comply with the lint is: `<*mut u8>::cast,`

[2021-10-02 13:11] Thomasdezeeuw commented on #7731
Maybe I'm using an outdated version Clippy without the pr that closes this issue (`clippy 0.1.57 (c02371c4 2021-10-01)`), but there are more cases where the suggestion is wrong. For example:
`if n == 0 {` => `assert!(!n == 0)` (suggested)
`if thread_id as usize >= MAX_THREADS {` => `assert!(!id >= SYNC_WORKER_ID_END)`

[2021-10-02 13:48] geeklint opened #7749 "mut_from_ref and Pin<&mut>"
Lint name:  mut_from_ref

I tried this code:

[code]

I expected to see this happen: No errors

Instead, this happened: Clippy reported the `mut_from_ref` error level lint.

The lint documentation says

and the lint does not trigger if it is just `Pin<&mut Self>` by itself, only when it is used in conjunction with another immutable borrow.  If there is a reason this is not a false positive, can so

[2021-10-02 13:50] xFrednet commented on #7731
It always takes a while until changes from this repo get synced to the rust repo that the nightly Clippy version is build from. The fix should be available to you during the next week :upside_down_face:

[2021-10-02 16:24] #7744 closed

[2021-10-02 16:54] Serial-ATA commented on #7440
@rustbot claim

[2021-10-02 16:57] xFrednet commented on #7749
This looks like a false positive. From the example, I would be guessing that the logic only checks if `self` is `mut` and not what the type of self is (I can be wrong though)

[2021-10-02 20:24] mcobzarenco opened #7750 "`manual_str_repeat` false positive when repeating a char"
Lint name: `manual_str_repeat`

I tried this code:

[code]

Which trips up `manual_str_repeat`, although I don't think this is correct -- or at least the suggested fix, `"─".repeat(10)` doesn't work, as I'm repeating a `char`, not an `str`. Note
 - there's no `repeat` function defined on a char
 - repeating a `str` is not semantically the same; e.g. in my example it's not possible to collect it in

[2021-10-02 22:48] Milo123459 opened #7751 "Lint for using .copied"
### What it does

*What does this lint do?*

If you do `<iter>.map(|x| *x)` or anything like that, it'll suggest using `.copied()`

### Categories (optional)

- Kind: *See <https://github.com/rust-lang/rust-clippy/blob/master/README.md#clippy> for list of lint kinds*

*What is the advantage of the recommended code over the original code*

`clippy::style`

### Drawbacks

None.

### Example

[code]

[2021-10-03 00:26] sfackler opened #7752 "Interior mutable const lints trigger on HeaderValue constants"
Lint name:
declare_interior_mutable_const
borrow_interior_mutable_const

I tried this code:

[code]

I expected to see this happen:

The program should compile without warnings.

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-03 04:16] Nugine commented on #6249
I came into this bug and reproduced it by the code below.
I don't know whether it is a problem from [`tracing`](https://docs.rs/tracing/0.1.28/tracing/).

[code]

[code]

Versions:

[code]
[code]

[2021-10-03 06:27] Arnavion opened #7753 "derivable_impls wants derive(Default) on enum"
Lint name: [`derivable_impls`](https://rust-lang.github.io/rust-clippy/master/index.html#derivable_impls)

I tried [this code:](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4a7402ede26296690167908770a84331)

[code]

Clippy says:

[code]

This is incorrect because rustc cannot derive `Default` on enums (until [`feature(derive_enum_default)`](https://github.com/rust-lang/

[2021-10-03 06:39] HKalbasi commented on #7753
🤦‍♂️

@rustbot claim

[2021-10-03 07:15] avnerbarr opened #7754 "how to create project specific lints"
I'd like to create some lints for my team which are very specific to us. For instance I'd like all thread names to be styled in a specific manner and all log statements to start with a specific usage code.

How can I create these types of "custom" lints?

Thanks

[2021-10-03 08:55] #7703 closed

[2021-10-03 09:12] xFrednet opened #7756 "Move `non_send_fields_in_send_ty` to `suspicious` in Rust 1.58"
Clippy #7709 introduced [`non_send_fields_in_send_ty`](https://rust-lang.github.io/rust-clippy/master/index.html#non_send_fields_in_send_ty). It was decided to first keep it in the `nursery` group and then elevate it to warn-by-default in the next version (Rust 1.58). The goal is to get some early feedback.

I'll assign myself to this issue to not lose track of it. Anyone else can still create an

[2021-10-03 09:13] xFrednet commented on #7756
@rustbot claim

[2021-10-03 10:43] #7753 closed

[2021-10-03 11:31] ShadowJonathan commented on #7464
Yup, would make sense. Though i think it'd get complicated once it gets nested enough (think `let _ = run(|| run2(|| unsafe {}));`), just a thought.

[2021-10-03 12:40] extrawurst commented on #6249
@Nugine I have the same issue due to instruments, the weird part is, that it fails on our CI but not locally: https://github.com/gameroasters/atlasserver/runs/3779641152?check_suite_focus=true

[2021-10-03 12:41] extrawurst commented on #7024
sounds related to #6249

[2021-10-03 12:59] Nugine commented on #6249
Our [CI 166](https://github.com/datenlord/s3-server/actions/runs/1299415573) also failed today. But [CI 164](https://github.com/datenlord/s3-server/actions/runs/1274101810) succeeded.

There is no commit during this week. The CI toolchain is locked to `1.55.0`. `tracing-attributes 0.1.17` released yesterday. So I'm sure that the change of `tracing-attributes` triggers this bug.

Try to update your

[2021-10-03 13:27] mikerite commented on #7750
Replace the whole expression with `"─".repeat(10)`. You don't need to collect to `String` because `str::repeat` returns a `String`.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0e46543087441e297377c6a4e8bcf1ee)

[2021-10-03 14:08] extrawurst commented on #6249
@Nugine right on, I did not have the tracing-attributes update locally yet, thanks for the hint!

[2021-10-03 15:03] 7596ff opened #7757 "`let_unit_value` targeting entire function"
Lint name: `let_unit_value`

This is one of the functions being targeted:

[code]

I expected to see this happen: the lint to not be triggered

Instead, this happened:

<details>
<summary>clippy output</summary>

[code]
</details>

This only happens in our CI run, in one crate, on functions that are behind a feature flag. I don't know yet if it's due to run caching (it happens on separate cache ke

[2021-10-03 18:54] TheIronBorn opened #7758 "doc_markdown gives false positive on intra-doc link paths with bracket syntax"
Lint name: doc_markdown

I tried this code:

[code]

I expected to see this happen: no warning emitted

Instead, this happened:
[code]

This doesn't happen with `()` syntax:
[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-03 19:29] asomers opened #7759 "Bad order-of-operations for clippy::if_then_panic 's code suggestion"
I tried this code:

[code]

I expected to see this happen: Clippy should warn about "only a `panic!` in an `if`-then statement`, and suggest an alternative like:
[code]

Instead, this happened: Clippy warned and suggested the following alternative.  Notice the lack of parenthesis:
[code]

### Meta

**Rust version (`rustc -Vv`):**

[code]

@rustbot label +I-suggestion-causes-error

[2021-10-04 00:57] giraffate commented on #7759
This was fixed at https://github.com/rust-lang/rust-clippy/pull/7741, so I'm closing this.

[2021-10-04 00:57] #7759 closed

[2021-10-04 01:50] AlexApps99 commented on #7753
I found a similar bug with unions, I assume this may fix that too.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=617310465c57a719c089bb30374fb0f4

[2021-10-04 01:56] AlexApps99 commented on #7753
Here's another one I found:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=55789d00abff60aeba1fa92ff45de978

[2021-10-04 13:02] hotate29 opened #7760 "Warn suspicious_else_formatting when a function using "tracing crate" has a comment containing "else"."
Lint name: suspicious_else_formatting

I tried this code:

[code]

I expected to see this happen: No warning

Instead, this happened:
[code]

Same warning for func1 to func3.

With version ```0.1.28``` of ```tracing```.

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-04 14:13] hotate29 commented on #7760
May be the same as this
https://github.com/rust-lang/rust-clippy/issues/6249#issuecomment-932859813

[2021-10-04 16:35] camsteffen opened #7763 "New lint: map then unwrap"
### What it does

Detects usage of `map(..).unwrap()`

### Categories (optional)

Kind: style

*What is the advantage of the recommended code over the original code*

The `unwrap` effectively only applies to the value before `.map(..)`, so putting it after `.map(..)` needlessly complicates the semantics of the code.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

This sho

[2021-10-04 16:39] camsteffen commented on #7751
This is already linted by `map_clone`.

[2021-10-04 16:39] #7751 closed

[2021-10-04 17:20] #7712 closed

[2021-10-04 17:28] camsteffen commented on #7740
For that matter, we should probably not lint `match` if there is just one `&`.

[2021-10-04 17:31] camsteffen commented on #7724
Very reasonable as a restriction lint. Name idea: `std_instead_of_core`.

[2021-10-04 17:38] camsteffen commented on #7710
The for loop is idiomatic so we should not lint it with the allow-by-default lint. In this case it saved 3 lines of code, but that is not always the case.

[2021-10-04 20:08] matthiaskrgr opened #7764 "shadow_unrelated: entire match statement in warning instead of just var name"
In `cargo-cache` I have code like this
[code]

And clippy put the entire match statement into the warning, seems a bit excessive..?

[code]

`clippy 0.1.57 (da3b4b459 2021-10-02)`

[2021-10-04 20:13] matthiaskrgr commented on #7764
cc @camsteffen  ?

[2021-10-04 20:15] jonasbb opened #7765 "Support the `rust-version` field in `Cargo.toml` to specify the MSRV"
The first crates are starting to make use of the `rust-version` field in `Cargo.toml`, which gets stabilized with the 1.56 version of rust, see https://github.com/rust-lang/rust/issues/65262 and https://github.com/rust-lang/cargo/pull/9732.

So far it does not seem like Clippy is able to understand this field. It only supports specifying it in it's own config file and unstably as an inner attribut

[2021-10-04 20:24] camsteffen commented on #7764
I believe this aspect of the lint is unchanged with #7338. I'd be fine with making it less verbose.

[2021-10-04 21:04] stevenengler opened #7766 "`if_then_panic` causes "cannot apply unary operator `!` to type""
I tried this code:

[code]

I expected to see this happen: The `--fix` operation to be successful.

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-10-04 21:31] camsteffen commented on #7754
May want to check out [dylint](https://github.com/trailofbits/dylint).

[2021-10-04 21:32] zvavybir opened #7767 "`suspicious_map` ignores side effects"
`suspicious_map` ignores possible side effects of the map.  That was already mentioned [#5253](https://github.com/rust-lang/rust-clippy/issues/5253) and fixed, but only if it mutates something and not other kinds of side effects.

Lint name:
suspicious_map

I tried this code:

[code]

I expected to see this happen: No clippy warnings.

Instead, this happened: I got the following warning and wrong

[2021-10-04 23:16] F3real commented on #7545
@rustbot claim

[2021-10-05 00:01] giraffate commented on #7754
I'm closing this because it's duplicate of https://github.com/rust-lang/rust-clippy/issues/6872.

[2021-10-05 00:01] #7754 closed

[2021-10-05 00:06] giraffate commented on #7766
It was fixed at https://github.com/rust-lang/rust-clippy/pull/7741, so I'm closing this.

FYI suggestion will be improved in https://github.com/rust-lang/rust-clippy/issues/7716.

[2021-10-05 00:06] #7766 closed

[2021-10-05 03:23] dtolnay opened #7768 "Regression in semicolon_if_nothing_returned involving macros"
This is minimized from various callers of the `quote` crate's `quote` macro. This regression currently affects pretty much all crates that depend on the `quote` crate.

[code]

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-05 05:59] dswij commented on #7745
@rustbot claim

[2021-10-05 10:06] Schaeff opened #7769 "Following cmp_owned hint leads to different behaviour"
I have code which uses different PartialEq implementations, which is arguably not the best design, but clippy complains about unnecessary allocations and its suggestion ends up using another PartialEq implementation.

Lint name: cmp_owned

I tried this code, before the suggestion it prints `Strict!` which is the derived `PartialEq`, after it prints `Optimistic!` which is the more optimistic `Parti

[2021-10-05 17:48] xFrednet commented on #7767
I sadly don't see an easy way to fix this without creating a bunch of false negatives. I would also consider this lint to be correct here. Is there a reason why you used `map`? If you're only trying to interact/inspect each element, then it might be better to use [`inspect`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.inspect) instead. It might be good to reference `inspect()` in

[2021-10-05 18:54] zvavybir commented on #7767
I already thought that I might be missing a more appropriate method, but I figured it's still an issue since it should be mentioned.  So I agree that it can be just an documentation edit.  I'll open a pull request, or?

[2021-10-05 19:04] xFrednet commented on #7767
It would be awesome if you could create a PR. :upside_down_face:  The description can be found here:

https://github.com/rust-lang/rust-clippy/blob/abe551ecb7f0f6223f3d343a591eb34d0b332708/clippy_lints/src/methods/mod.rs#L1281-L1297

[2021-10-05 20:04] #7767 closed

[2021-10-05 22:02] crumblingstatue opened #7771 "New lint: Unnecessarily qualified path"
[code]

Lint kind: Style

[2021-10-06 14:02] giraffate commented on #7760
It seemed to be addressed by `tracing` at https://github.com/tokio-rs/tracing/pull/1617, and released in new version https://github.com/tokio-rs/tracing/pull/1621.

[2021-10-06 14:29] #7438 closed

[2021-10-06 16:16] #7760 closed

[2021-10-06 18:54] xFrednet commented on #6249
I might have an idea how to avoid FPs like these in exchange for some false negatives. :upside_down_face:

@rustbot claim one again ^^

[2021-10-06 19:27] #7758 closed

[2021-10-06 21:14] camsteffen commented on #7771
Duplicate of #4707

[2021-10-06 21:43] camsteffen opened #7778 "Associated functions of generic types are not static"
[code]

[code]

[2021-10-07 04:21] mikerite commented on #7750
@dswij It's not valid. Please give an actual code example where the (correctly applied) suggestion either gives a compiler error or a different result. The values returned are exactly the same.

[2021-10-07 05:36] mikerite opened #7781 "`equatable_if_let` should not expand macros in suggestion"
I tried this code:

[code]

I expected to see this happen: I would get recommendation `if "abc" == m1!(x)`

Instead, this happened:
[code]
The macro call is expanded. This code isn't equivalent depending on the macro.

### Meta
Run on clippy master - 01ea06acb730fea7cea41ff3dba414f41449af2f

@rustbot label +L-suggestion

[2021-10-07 08:52] dswij commented on #7738
@rustbot claim

[2021-10-07 20:11] camsteffen opened #7784 "Use `get_diagnostic_name`"
A new function `tcx.get_diagnostic_name` is available (after the next sync) and we should migrate existing code to use it in any case that multiple queries can be reduced to one.

For example (this is just one of a few different patterns that can be refactored):
[code]
Also look for `type_is_diagnotic_item` calls which can be refactored using `ty.ty_adt_def()?.did`.

[2021-10-07 23:38] Xaeroxe commented on #7749
Also I just realized this lint isn't recursing into tuples, slices, or arrays.

[2021-10-07 23:48] Xaeroxe commented on #7749
I found this: https://github.com/rust-lang/rust-clippy/blob/master/clippy_utils/src/ty.rs#L118 which seems useful. I also learned that walking a type returns lifetime information, now I just need to determine a way to make that lifetime information useful in this context.

[2021-10-08 07:43] #7464 closed

[2021-10-08 09:44] tsoutsman opened #7786 "New lint: unused dependencies"
### What it does

Detects unused dependencies.

### Categories

- Kind: `clippy::cargo`/`clippy::correctness`?

### Drawbacks/Concerns

Some library names differ from their import names. As far as I know, the only time this happens is when the name in Cargo.toml has a dash, the import has an underscore.

[2021-10-08 10:11] gilescope opened #7787 "pedantic doc_markdown should suggest `[` `]` potentially as well as backticks"
If we're going pedantic,

doc_markdown should also suggest `[` `]` potentially around the backticks?

Do we stand half a chance of figuring out when that would be most appropriate? (If not we could suggest both options)

[2021-10-08 12:46] #7786 closed, assigned to nobody

[2021-10-08 13:08] #7778 closed, assigned to nobody

[2021-10-08 13:09] #7769 closed

[2021-10-08 18:15] 1nF0rmed commented on #7740
So, would we be suggesting that for a single `&`, the `clippy::match_ref_pats` should be suppressed?

If so, are there any tests around this and what's the part of the code that I should be looking at for this?

[2021-10-08 18:38] JamesHinshelwood opened #7790 "New Lint: disallowed_macro"
### What it does

Disallows certain macros, as defined in clippy.toml.
Equivalent to the `disallowed_method` lint, but for macros instead of methods.

### Drawbacks

It may be cleaner to add support for macros to the existing `disallowed_method` lint.

### Example

[code]

[code]

results in a lint.

[2021-10-08 19:10] 1nF0rmed commented on #7740
Thank you for the pointers!
Just wanted to confirm my approach. Given we are passing the patterns here, should we add a check in the implementation https://github.com/rust-lang/rust-clippy/blob/78e73129baf65f4095002422303157d5e64e9479/clippy_lints/src/matches.rs#L1185

where we iterate through the patterns and count the number of occurrences of `PatKind::Ref(..)`.
If the count, in that case, is 1,

[2021-10-08 21:43] #7768 closed

[2021-10-08 23:22] aDotInTheVoid commented on #7790
@rustbot claim

[2021-10-08 23:34] PatchMixolydic opened #7792 "Calling a struct with a manual implementation of `FnOnce` trips `clippy::no_effect` despite having side effects"
Lint name: `clippy::no_effect`

I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ef0cf18168440a92810107cf8bc078c2)):

[code]

I expected to see this happen: Clippy succeeds with no warnings.

Instead, this happened:
[code]

This statement does have an effect, as removing it changes the program's output from this:
[code]

to this:
[code]

###

[2021-10-08 23:42] PatchMixolydic commented on #7792
This lint isn't tripped for closures with compiler-generated implementations of `FnOnce`. This code produces no warnings ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a20248006a73cac2ccbefe6ce76a3c37)):
[code]

[2021-10-09 00:36] PatchMixolydic commented on #7792
This only seems to happen with unit structs, [making `GreetStruct` a tuple struct](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d7dd00b920ef2d1d7b828f73e9ae5864) or <a aria-label="making GreetStruct a regular struct" href="https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c7dfd8d8751b232f636fb7ff5d270253">a regular struct</a> seems to have no effe

[2021-10-09 02:27] 1nF0rmed commented on #7740
Hey, thank you so much for the pointers. are we able to add this to hacktoberfest?

[2021-10-09 13:51] 1nF0rmed commented on #7740
Can I pick up this issue? @camsteffen

[2021-10-09 16:25] klensy opened #7796 "clippy::useless_format ignores format!("")"
Lint name: `clippy::useless_format`

I tried this code:

[code]

I expected to see this happen:
Warning from clippy about useless format! call, similar to:
[code]

Instead, this happened:
No warning.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-10-09 19:05] camsteffen commented on #7740
Yes just comment with `@rustbot claim`

[2021-10-09 20:51] klensy commented on #7796
Example shows how warning looks now, so it's simpler(?) to fix. Bonus points to `String::new()` :-)

[2021-10-09 22:53] camsteffen opened #7797 "Migrate to `span_clippy_lint`"
We have a handful of utils for emitting lints: `span_lint`, `span_lint_and_help`, etc. We'd like to replace these with one new util named `span_clippy_lint`. It was already implemented in #7668, but not yet merged.

**Goals**

- Be more consistent with rustc
- Potentially improve perf since allowed lints stop before computing output messages
- Enable trimmed paths (#7798)

**Question:** Should we

[2021-10-09 22:55] camsteffen opened #7798 "Enable trimmed paths"
Blocked on #7797.

This was initially attempted in #7668.

We probably should write an internal lint to detect trimmed path invocations that would ICE if a lint is not emitted (e.g. it is allowed). This would work by finding `Ty as Display` usages like `type.to_string()` or `tcx.def_path_str` calls that occur outside of `span_clippy_lint`.

[2021-10-09 23:05] camsteffen opened #7799 "`cargo dev rename_lint`"
The title says it all. I want it. Idea taken from https://github.com/rust-lang/rust-clippy/pull/7762#issuecomment-933714070.

[2021-10-10 01:47] 1nF0rmed commented on #7740
@rustbot claim

[2021-10-10 11:24] #7740 closed

[2021-10-10 22:32] aDotInTheVoid commented on #7790
I can't figure out how to do this. With an `EarlyLintPass`  the macro's have been resolved, but `LateLintPass` is after theyve been expanded, so I'm not sure if this is possible.

LMK if I've missed anything, and anyone wants to try this you might find [my attempt](https://github.com/aDotInTheVoid/rust-clippy/tree/disallowed_macro) usefull

@rustbot unclaim

[2021-10-11 04:00] LollipopFt opened #7802 "warn entire lint groups in clippy.toml"
in ```.rs``` files, ```pedantic``` clippy can be enabled by doing ```#![warn(clippy::pedantic)]``` for example. is there a way to implement this in ```clippy.toml```?

@rustbot label +C-question

[2021-10-11 09:39] aDotInTheVoid opened #7803 "New lint: transmute-num-to-bytes"
### What it does

Detect open coding of (primitive int/float).to_ne_bytes() with `transmute`

### Categories (optional)

- Kind: complexity

*What is the advantage of the recommended code over the original code*

Clearer, Removes `unsafe`

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-10-11 13:49] sbeyer commented on #407
Activity or mentions here in every year since 2015. Now let's add 2021 to the list: I stumbled over this issue yesterday and while checking if I could disable lints in macro expansions, I found this issue.

My case is very simple. The macro (from a crate that I use) calls `into()` on some input arguments. So `cargo clippy` brought up some [`useless conversion` warnings](https://rust-lang.github.io

[2021-10-11 13:55] sbeyer commented on #407
@oli-obk That would be the best solution (from my user perspective). I have no idea how hard that is to implement.

[2021-10-11 17:51] xpe opened #7804 "lint for bool::then (stabilized in Rust 1.50.0)"
### What it does

I'd suggest a new lint to suggest using [`bool::then`](https://doc.rust-lang.org/stable/std/primitive.bool.html#method.then) when appropriate.

Background: https://blog.rust-lang.org/2021/02/11/Rust-1.50.0.html mentions a new function: `bool::then`. See example at bottom.

### Categories

- Kind: `clippy::style` (code that should be written in a more idiomatic way)

The recommend

[2021-10-12 00:55] winterqt opened #7807 "trivially_copy_pass_by_ref not firing with code emitted from proc macro"
Lint name: `trivially_copy_pass_by_ref`

I tried this code:

[code]

I expected to see this happen: for the lint to fire, as it does for `a`.

Instead, this happened: the lint did not fire.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-10-12 11:50] Kixunil opened #7809 "New lint: loop with atomics without other side effects"
### What it does

The lint would check that a loop has no side effects other than atomic access and warn to park the thread or call `std::hint::spin_loop()`.

### Categories (optional)

- Kind: perf

*What is the advantage of the recommended code over the original code*

If the thread is parked it will stop consuming resources and avoid priority inversion.
If `spin_loop()` hint is used the code wi

[2021-10-12 13:30] #7804 closed

[2021-10-12 19:19] Bromeon opened #7812 "redundant_closure: false positive for never return type"
Lint name: `redundant_closure`

With this code:
[code]
Clippy emits the following warning:
[code]

---

However, I cannot inline the closure and use the function pointer directly -- this code:
[code]
fails to compile with:
[code]

---

### Meta

**Rust version (`rustc -Vv`):**
[code]

Related, but not identical issues ( `redundant_closure` false positives):
* https://github.com/rust-lang/rust-clip

[2021-10-12 23:35] winterqt commented on #7807
This would be why:

https://github.com/rust-lang/rust-clippy/blob/3d9c4a655b04e9616ded8374dc61cb9108f4ae06/clippy_lints/src/pass_by_ref_or_value.rs#L247

Unsure if this would be classified as a bug or not, as this was added with the initial(?) implementation of this lint back in 50419118b41b0723272517ef9be3baa3fb37dc3c.

[2021-10-13 09:50] jplatte opened #7814 "Extend unnecessary_lazy_evaluations to more combinators"
The current program currently doesn't trigger any warnings, but should trigger `unnecessary_lazy_evaluations` due to the use of `map_or_else` instead of `map_or`:

[code]

@rustbot label +C-enhancement

[2021-10-13 12:18] #7781 closed

[2021-10-13 19:52] #7803 closed, assigned to aDotInTheVoid

[2021-10-14 05:31] mikerite opened #7816 "`match_overlapping_arm` false negative when overlap after included range"
Lint name: match_overlapping_arm

I tried this code:

[code]

I expected to see this happen: The range `21..=30` would be linted in both match expressiona but it's only done in the second one.

Instead, this happened: Only the second match expression was linted.

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7838f01fa8c5e130c9c4790c0a41d258)

[2021-10-14 05:38] TennyZhuang opened #7817 "lint: needless_slice_from_ref"
### What it does

The builtin function [`slice::from_ref`](https://doc.rust-lang.org/std/slice/fn.from_ref.html) may be applied on a reference unnecessarily.

### Categories (optional)

- Kind: *See <https://github.com/rust-lang/rust-clippy/blob/master/README.md#clippy> for list of lint kinds*

clippy::style

*What is the advantage of the recommended code over the original code*

Readability

###

[2021-10-14 06:30] nhamovitz commented on #2868
Hi o/ — first-time contributor here. I'm interested in trying to fix this. I've been reading some of the Clippy PRs lately so I have some idea where to start but I'll probably be back with questions 😅.

@rustbot claim

[2021-10-14 09:01] Ben-PH opened #7818 "more than one redundant closure causes E0382: use of moved value"
Lint name: `redundant_closure

I tried this code:

[code]
I got this suggestion:

[code]
I expected to see this happen: apply the lint suggestion, and warning to go away

Instead, this happened:
[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

@ rustbot label +I-suggestion-causes-error

[2021-10-14 11:25] Ben-PH commented on #7818
The error from the suggested fix can be resolved with `&mut $fn` instead of just `$fn`

[2021-10-14 11:52] rodrigorc commented on #7686
I think this should be upgraded to a compiler warning, not a lint. References are `Clone` but also `Copy`, if you have a reference and want another you just copy it. I can't imagine any real code where cloning a reference is actually intended (other than cloning a generic that happens to be a reference, of course).

[2021-10-14 23:39] dtolnay opened #7820 "False positive in manual_map with unsafe fn"
[code]

[code]

Clippy's suggested replacement does not compile.

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-15 02:54] awused opened #7822 "`unnecessary_sort_by` false positive or wrong suggestion"
Lint name: unnecessary_sort_by

I tried this code:

[code]

I expected to see this happen: Nothing

Instead, this happened: clippy suggests

[code]

This does not build because Ord is not implemented for Ref<'_, T: Ord>.

### Meta

**Rust version (`rustc -Vv`):**
[code]

@rustbot label +I-suggestion-causes-error

[2021-10-15 11:29] #7822 closed, assigned to dswij

[2021-10-15 17:17] #7667 closed

[2021-10-15 18:25] camsteffen opened #7825 "New lint: `collapsible_guards`"
### What it does

Detects match guards that can be collapsed into the pattern.

### Categories (optional)

- Kind: complexity

*What is the advantage of the recommended code over the original code*

It is simpler.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

This lint can share some logic with `equatable_if_let`. @HKalbasi maybe you'd like to take this?