[2020-08-30 15:12] Veetaha opened #5987 "New lint: to_string() on a temporary Cow<'_, str>"
### What it does

The lint is meant to detect calling `.to_string()` on a temporary `Cow<'_, str>`.
This is not a rare case when a beginner makes such a mistake.

### Categories (optional)

- Kind: `clippy::perf`

*What is the advantage of the recommended code over the original code*:
- Avoid wasting a potentially owned string inside of the temporary `Cow<'_, str>`.

### Drawbacks

None.

### Exam

[2020-08-30 17:59] camelid commented on #5875
Correct me if I'm wrong, but this lint does not seem to working on the latest nightly. With this code:

[code]

When I run nightly clippy, I don't get any warnings:

[code]

Output of `cargo clippy --version`:

[code]

[2020-08-30 20:07] ebroto commented on #5875
@camelid if I'm not mistaken, the clippy component is built now from the `rust-lang/rust` repo copy and not from this repo. The latest sync was merged yesterday (see [here](https://github.com/rust-lang/rust/pull/76034)), so I think it should be available on the next nightly.

cc @flip1995 for any imprecision with the component release process, I don't want to lie to anyone :)

[2020-08-31 09:04] Luro02 opened #5989 "Suggest to replace impl Iterator return types with wrapper types"
### What it does

It suggests replacing `impl Iterator` with a wrapper type, if the function is public (other crates can call it).

The `impl Trait` syntax erases types completely, which makes it impossible to use them as struct fields. This can make the API of a crate less convenient, because you have to for example collect the returned `Iterator` into a `Vec` (`function_returns_impl_iterator().c

[2020-08-31 10:02] flip1995 commented on #5973
That is probably because the `redundant_clone` lint was riddled with FPs before the rewrite to a MIR lint, which got rid of even more annoying FPs than the ones that occur now.

[2020-08-31 10:14] flip1995 commented on #3971
borrowed_box doesn't trigger on the code anymore.

[2020-08-31 10:14] #3971 closed

[2020-08-31 10:18] flip1995 commented on #5975
Can you provide example code please?

[2020-08-31 10:41] flip1995 commented on #5658
Good question. @oli-obk can you give some insights here?

[2020-08-31 10:42] lzutao commented on #5658
@montrivo No, it is only guaranteed to evaluate at compile time in const item or static item.

[2020-08-31 10:44] adrianheine commented on #5975
Sure!

[code]

gives

[code]

[2020-08-31 10:47] flip1995 commented on #5986
I think the lint is correct here. In the ASCII table `"` is between ` ` and `~`, so the arms overlap. For me the question is rather if this lint should be warn-by-default :thinking:

A possible fix would be to write the second arm like this: `b' '..b'"' | b'<the sign after ">'..b'~'`. But I wouldn't consider this better style.

[2020-08-31 10:55] flip1995 commented on #5923
The problem with the name is, that it describes the code _after_ the lint is applied. This means `allow(more_concise_alternative)` (I think it's "more concise" instead of "conciser", not a native speaker though) doesn't really make sense, since this kind of code is already allowed.

[2020-08-31 11:05] #5693 closed

[2020-08-31 11:07] flip1995 commented on #5975
Thanks!

We should add a configuration option where the type depth can be specified. About the `PhantomData` case: This lint is `pedantic` and therefore meant to be opinionated, so I wouldn't change that.

[2020-08-31 11:25] Ploppz commented on #5986
I reported this issue because I have generally taken great advantage of the fact that any match arm implicitly excludes any patterns that comes before it. I use this a lot in other cases like
[code]
So according to my personal experience I don't see this as an anti-pattern, and I think indeed the proposed fix is not good style.

[2020-08-31 11:34] adrianheine opened #5990 "default_trait_access suggests invalid syntax"
[code]

clippy suggests `std::vec::Vec<u32>::default()`

[code]

[2020-08-31 12:35] taiki-e commented on #5975
I think the underlying problem is clippy suggests code with complete parameters, not clippy triggers this lint even for complex types. AFAIK, If code compiles with `Default::default`, it doesn't need to specify any parameters, as type inference is working. (So, in this case, `default_trait_access` should suggest `RefCell::default`.)

[2020-08-31 13:27] MrMuetze opened #5991 "needless_collect - false positive?"
Hey everyone, I stumbled over this issue while updating my version of clippy. I was able to reproduce the issue with a simplification of the original code in a rustlang playground and it looks something like this.

[code]

Please ignore the `filter_map` warning. It's due to my simplification of the code and does not appear in the original code base.

Here, clippy throws the `needless_collect` warn

[2020-08-31 14:05] adrianheine commented on #5975
That's a very good observation, thanks! See also #5990 about this.

I think the nicest would be to explicitly include all types that can be »empty«, i. e. whose `Default` implementation does not depend on some other non-optional type parameter being `Default`. In this case, that would be `RefCell<HashMap>::default()`, but that's not valid syntax. `RefCell::<HashMap<_, _>>::default()` looks ugly. A

[2020-08-31 15:41] taiki-e commented on #5975
This and #5990 will be fixed in #5993

[2020-08-31 19:24] montrivo commented on #5923
Correct, -er suffix only applies to [one-syllable](https://dictionary.cambridge.org/grammar/british-grammar/comparison-adjectives-bigger-biggest-more-interesting) adjectives. In German, would have been fine no? :sweat_smile:

The intent of `conciser_alternative` was `has_more_concise_alternative`. But it isn't that clear given your comment. I found the long form `has_more_concise_alternative` a bi

[2020-08-31 20:02] #5962 closed

[2020-08-31 20:30] montrivo commented on #5658
If so, then I don't think we should handle `const fn`s the way proposed in this issue's description, unless the const fn call is used in an expression assigned to a const variable.

Continuing on @oli-obk 's example:
[code]

[2020-08-31 21:08] JarredAllen commented on #5923
I think it might make more sense to make a lint to capture cases where a method that exists in the standard library is being reimplemented, and then call it `standard_library_reimplementation` or something like that, since all of the proposed cases to lint are the programmer writing out some function which already exists.

It is also worth pointing out that there already are several lints that han

[2020-08-31 23:20] giraffate commented on #5979
I will prepare a fix.

[2020-09-01 10:52] Nugine opened #5995 "false positive: unstable const fn"
I tried this code:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (04488af 2020-08-24)
- `rustc -Vv`:
[code]

[2020-09-01 14:05] giraffate commented on #5985
Hmm, it might be better not to emit a lint when the pushed item is the variable that introduced in loop, but what about? Of cource, while I think the above FP can be avoided FN will occur in the following cases.
https://github.com/rust-lang/rust-clippy/blob/f98ffa271d0112d04b482e1d61228d99bf006ccf/tests/ui/same_item_push.rs#L25-L29

[2020-09-01 15:24] #5975 closed

[2020-09-01 15:24] #5990 closed

[2020-09-01 15:56] ebroto commented on #5658
That's a good question, indeed, but I would say Clippy should be interested in if it *could* be evaluated at compile time.

If it can (even though not guaranteed), suggesting the `or_else` variants can be considered a false positive. In cases it's not evaluated at compile time, it's just a false negative.

[2020-09-01 21:38] ebroto commented on #17
Closing this, [redundant_clone](https://rust-lang.github.io/rust-clippy/master/#redundant_clone) has a bit of history already :)

[2020-09-01 21:38] #17 closed

[2020-09-01 22:49] #5959 closed

[2020-09-02 07:17] RalfJung opened #6001 "Incorrect suggestion in "unnecessary-sort-by""
[This code](https://github.com/rust-lang/crater/blob/07c807d9f236a59949ef38b8f0cd020b55477adb/src/report/mod.rs#L223) triggers the following suggestion:
[code]
However, the suggested code does not work: `&a` is rejected as a pattern, it says I "cannot move out of a shared reference". using just `a` for the closure argument works.

[2020-09-02 19:38] ebroto commented on #5658
[Relevant Zulip conversation](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Common.20misconception.3A.20.60const.20fn.60.20and.20its.20effect.20on.20codegen), IIUC @montrivo is on the right track. On my side, I was confused between constant evaluation and constant propagation, the latter has nothing to do with `const fn`.

[2020-09-02 21:18] ebroto commented on #5976
This was fixed in #5756 which will be available with Rust 1.47.

I put up a minimal reproduction with the types involved in your issue in the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0a7c6a3b9d453e4d9282e6d9212c7a69), which uses a more recent version of Clippy. You can check there that the lint does not trigger anymore in this case.

[2020-09-02 21:18] #5976 closed

[2020-09-02 21:36] bgurney-rh opened #6002 "Unable to allow same_item_push on beta and released Rust version"
As part of preparing devicemapper-rs in Stratis for the 1.46 release, I was addressing a lint error message from clippy that appears to be a false one, since it's on a non-constant value (which would correspond to issue #5902).

(Related pull request from devicemapper-rs: stratis-storage/devicemapper-rs#576)

[code]

As part of continuous integration testing, clippy is executed on both the beta, a

[2020-09-03 00:00] ebroto commented on #6001
I will work on this one

[2020-09-03 01:44] mulkieran commented on #6002
We, like to run clippy on beta on our CI for various reasons. The principle one is so that when we move up to the new stable version of Rust we will have already fixed all the lints. But, as the above illustrates if the lint is a false positive, we will not be able to fix it, and if it is new we will not be able to allow it on stable. We have chosen to use clippy::all, which allows this lint that

[2020-09-03 05:40] phansch commented on #5835
I'm going to close this issue as it seems like it has been fixed with rust-lang/rust#68730. Feel free to re-open it, if it still happens.

[2020-09-03 05:53] #5918 closed

[2020-09-03 12:49] ebroto commented on #6002
One option would be to allow the lint from the command line only for the beta pipeline:

[code]

See [here](https://github.com/rust-lang/rust-clippy#allowingdenying-lints) for the relevant documentation.

[2020-09-03 13:00] mulkieran commented on #6002
That is true (and would not require radical surgery on our CI). Thanks for the suggestion!

[2020-09-03 22:44] andrewbanchich commented on #2944
I believe I'm getting this as well for:

[code]

Using `'_` for any of these lifetimes just makes rustc yell at me.

[2020-09-03 22:55] ebroto commented on #2944
@andrewbanchich I think your case looks more like #4746 as you can't elide the lifetime here because it's not related to `self`.

[2020-09-03 22:59] andrewbanchich commented on #2944
@ebroto That makes sense. Thanks!

[2020-09-04 03:22] mikerite commented on #6002
Or allow `clippy::unknown-clippy-lints`

[2020-09-04 04:05] mulkieran commented on #6002
Thanks!

[2020-09-04 06:19] michaelsproul opened #6005 "False positive in invalid_regex with unicode class and bytes regex"
The `invalid_regex` lint incorrectly identifies a valid regular expression involving a unicode general category as invalid, when written as a raw string as the argument to `regex::bytes::Regex::new`.

Minimal example:

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b4cfb83fe8ffa625e5c5881b05a89dbc

Clippy produces this error:

[code]

Clippy seems

[2020-09-04 10:30] ebroto commented on #5976
To be fair, the aforementioned PR fixed the second problem you identified, which avoids triggering the lint in your case, but the first problem was still there and should be fixed now by #6006 :sweat_smile:

[2020-09-04 17:33] paridhi7 commented on #3770
Hi @kevincox I'm new to open source and would love to get started. Can I work on this issue?

[2020-09-04 18:22] kevincox commented on #3770
It's not my project. You would need to contact the maintainers. Hopefully they will see your interest and drop some starters here.

Of course it seems that maintainers think this is working as intended ao I'm not sure they are interested in a patch at this point.

[2020-09-04 20:10] ebroto commented on #6002
@bgurney-rh @mulkieran does the last suggestion solve your problem? Just asking in case we can close this issue :)

[2020-09-04 20:27] mulkieran commented on #6002
Please feel free to close. thx.

[2020-09-04 20:27] #6002 closed

[2020-09-04 20:39] ebroto commented on #3770
@paridhi7 this is indeed not a good first issue, the label was added when the fix was thought to be just a documentation change. I think you could start with #5849, I will leave some mentoring instructions there in case you wish to tackle it. Don't hesitate to ask for support there or in Discord (#clippy channel or private message) if you get stuck.

About this issue, just to give another opinion,

[2020-09-04 20:56] ebroto commented on #5849
To fix this issue, we can use the `utils::in_macro` function to check if we have to bail out. This lint is found in the `misc.rs` module.

For the tests, we should create two macros, and use them:
* one that generates a function using `ref` in parameter position. Example:
* another that generates a `let` binding using ref.

For example:
[code]
([playground](https://play.rust-lang.org/?version=stab

[2020-09-04 21:03] longlb commented on #5955
Can I give this one a try?

[2020-09-04 21:07] ebroto commented on #5955
Oh, I just saw that @sgrif offered themself to implement it. It would be better to hear from them first if they started to work on it already.

[2020-09-04 21:20] longlb commented on #5955
Not a problem, I'll wait for them to reply. By the way, is there a bug in the repo currently? I just forked it and the build won't compile due to a dependency struct being private.
[code]

I have 187 cases of this in my terminal.

[2020-09-04 21:35] ebroto commented on #5955
Thanks for the heads-up, a fix is in progress in #6007.

This happens when rustc breaks Clippy, we're working on trying to avoid this hassle to contributors :) After that PR passes the tests and is merged, the errors should be gone.

[2020-09-04 21:57] yaahc commented on #5991
Adding to this, I've also encountered a needless_collect false positive today here: https://github.com/ZcashFoundation/zebra/pull/1016/files/409a2289b57aa71cacbf19b17f6f5839890092e3#diff-94ae6030e39498920ff1ee31c52222efR319-R320

[2020-09-05 02:19] Daniel-B-Smith opened #6008 "Lint for using await while holding RefCell Ref/RefMut"
I'm explicitly creating the new issue at the suggestion of https://github.com/rust-lang/rust-clippy/issues/4226. My plan is to write this myself next week, and it seems like it won't be too hard based on https://github.com/rust-lang/rust-clippy/pull/5439. It is almost always a bug to hold onto a RefCell ref across an await point.

@glommer requests such a thing in this blog post: https://medium.co

[2020-09-05 04:15] pickfire opened #6010 "Recommend contains() for find().is_some()"
### What it does

Recommend `.contains()` if `find().is_some()` is used on a `&str` (including `String`) and `slice`.

### Categories (optional)

- Kind: complexity

*What is the advantage of the recommended code over the original code*

For example:
- Improve readibility

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2020-09-05 06:45] longlb commented on #5863
I'd like to tackle this one if no one else has.

[2020-09-05 07:24] flip1995 commented on #3770
Oh I thought I replied to this: I definitely see now that having this as a `correctness` lint might be the wrong categorization. What we might want to do is to just allow this lint, if there are comments in the arm bodies. But a good first step would be to downgrade this lint to `style` or `complexity`. I would vote for `style` since merging two arms is not always less complex.

[2020-09-05 13:44] lzutao commented on #5943
What is the consensus here ? Do we need something like FCP or MCP ?

[2020-09-05 20:47] #5979 closed

[2020-09-05 23:17] longlb commented on #5863
Is there a way to change the lint's level directly or do I have to change its lint group as well? And if its the lint group that has to change, should it be to style, complexity, or perf? This is to facilitate the change from deny to warn by default.

[2020-09-06 02:30] Manishearth opened #6011 "Write a "Clippy book"?"
Rustdoc has a really nice short book with a lot of the features explained: https://doc.rust-lang.org/rustdoc/

Perhaps we should do the same thing? We coudl then link it from the Rust website and might have fewer discoverability problems.

cc @rust-lang/clippy

[2020-09-06 05:16] jhpratt commented on #5369
IMO the lint shouldn't move out of the nursery until rust-lang/rust#74970 is fixed as well. Like it or not, behavior _is_ different currently.

Honestly, I'd prefer the lint be removed outright, but that's obviously my opinion.

[2020-09-06 07:01] ebroto commented on #5863
@longlb you need to change the group of the lint. I agree there is no clear candidate, but I guess `style` is the closer one.

I think we could have a `suspicious` (or something similar) category for this cases, but that would be another issue and there are plans to change how lints are categorized.

[2020-09-06 21:58] chrisduerr commented on #5985
Maybe an even simpler example using `const fn`s from STD.

[code]

[2020-09-06 23:02] RalfJung commented on #6001
Hm, that's not really a fix, is it? The lint was very useful here and helped improve the code. Just the auto-suggestions was wrong.

[2020-09-06 23:25] longlb commented on #6010
I'd like to tackle this one.

[2020-09-06 23:49] ebroto commented on #6001
The problem is that the lint suggests using [`Reverse`](https://doc.rust-lang.org/std/cmp/struct.Reverse.html) where applicable
[code]
For example in this case:
[code]
The suggestion ends up being:
[code]
If we don't destructure the referenced type, we hit https://github.com/rust-lang/rust/issues/34162
[code]

But after giving this a bit more thought I agree and this is too restrictive, we should

[2020-09-07 02:36] workingjubilee opened #6014 "Suggestion: lint against side-effectful map"
### What it does

Lint against side-effects in map, or at least println!

### Categories (optional)

- Kind: Correctness or Style

rustc already lints against unused iterators, but sometimes people "fix" this by marking the iterator as discarded. Clippy should be more suspicious: It is not very likely an experienced Rustacean really meant to use `map` and not `for_each` here.

### Drawbacks

Occas

[2020-09-07 04:27] pm100 opened #6015 "false positives and crazy suggestsiong for unit_arg lint"
I have this code:

[code]

ExcResult is Result<(), Exception>

 clippy says

[code]

which is clearly not right.

I have half a dozen similar errors when calling functions that return ()
### Meta

clippy 0.0.212 (04488afe3 2020-08-24)
cargo 1.46.0 (149022b1d 2020-07-17)
rustc 1.46.0 (04488afe3 2020-08-24)

[2020-09-07 05:48] mikerite commented on #6015
It looks like this lint is working as intended to me.

Are you saying that isn't `Ok(self.ram.set_word(addr, value))` equivalent to `self.ram.set_word(addr, value); Ok(())` ? Why not?

[2020-09-07 07:17] phansch commented on #3013
Update: It was decided at the time that `clippy.toml` should be unstable in the RFC: https://github.com/rust-lang/rfcs/pull/2476#issuecomment-428333483

However, I do fear that it might be too late to make it unstable now?

[2020-09-07 10:14] therocode commented on #5991
Also another false positive here:

[code]
clippy doesn't see that the double collect is needed to get the iterator to be a double ended iterator as required by .rev()

[2020-09-07 10:18] phansch commented on #6011
Seems like a good idea - We could even go as far as including the lint documentation in the book. If the book is then bundled with rustup, like the other books, the lint docs would be available offline as well.

[2020-09-07 17:05] longlb commented on #6010
@pickfire How would you call `find().is_some()` against a slice? Would it be something like `slice.iter().find().is_some()` or another way, because there is a currently a lint for the iter case that recommends `any()` be used in its place.

[2020-09-07 17:54] jyn514 opened #6017 "Suggest `vec.truncate(vec.len() - 1)` instead of `vec.pop;`"
### What it does

It suggests improving performance by turning a pop() into a truncate().

### Categories (optional)

- Kind: `clippy::perf`

*What is the advantage of the recommended code over the original code*

The first requires copying the element to the stack, the second does not. This lint should only warn when the popped value is unused.

[Playground](https://play.rust-lang.org/?version=st

[2020-09-07 17:55] jyn514 commented on #6017
This should probably go under `pedantic` too, I'd expect the performance difference to be pretty small in most cases.

[2020-09-07 18:02] taiki-e commented on #6017
The suggested code will panic if `vec` is empty...

[2020-09-07 18:07] jyn514 commented on #6017
Oh ... that's unfortunate there's not a way to do this. I guess just depend on LLVM for optimizations? :/

[2020-09-07 18:07] #6017 closed

[2020-09-07 18:10] seritools commented on #6017
Seems like LLVM does just fine: https://rust.godbolt.org/z/W9197s

(Although `pop` seems to have one more check still)

[2020-09-07 18:59] pm100 commented on #6015
ok i misundertood what it says, I read it as saying it could be reduced to Ok(()). THe text is not clear.

Having said that, I disagree with the lint. As the code stands the intent is very clear -> 'Okize' the result of calling this function. You dont have to look at set_word to see if it returns something that I am choosing to ignore, also the intent is 100% clear. And its very concise.

In clipp

[2020-09-07 20:17] ebroto commented on #6015
FYI there's a PR that will be merged soon that improves the suggestion (#5931).

About your use case, to be fair the lint help mentions functions, so the fact that enum constructors are included may be an oversight in the implementation and could be special cased.

I'm adding the "needs-discussion" tag to hopefully have more eyes on this, as I think it's debatable.

[2020-09-07 20:30] ebroto commented on #6011
I'm on board. I think we could also integrate the documentation about hacking on Clippy, maybe in a different book?

I'm not familiar with creating those books, but I guess we will need a test in CI to check that the book is generated correctly, so I'll add the infrastructure tag.

[2020-09-07 21:23] flip1995 commented on #6011
This should definitely be in a different book (clippy-dev-guide?). But since we already have the `doc` folder for this, this is lower prio.

Regarding infra: we kind of already have this in the `remark` check, but we need to add a CD pipeline to it (extending the deploy script?).

[2020-09-07 23:15] pm100 commented on #6015
also note that the message says line *475* should sat Ok(()) thats why its confusing

[2020-09-08 00:59] pickfire commented on #6010
What you said is correct but later when array comes out to have find we need to add it too.

[2020-09-08 21:54] #5985 closed

[2020-09-09 00:43] rail-rain commented on #5812
`Bytes` is very strange. It’s like a sliceable version of  `Arc<str>`, but it can also [point directly to the static slice without any allocation nor copying](https://docs.rs/bytes/0.5.6/bytes/struct.Bytes.html#method.from_static). It looks like, when constructed from a static slice, no code reach the `AtomicPtr`; and the `Hash` impl never touch the atomic too (what’s more, this `AtomicPtr` is not

[2020-09-09 04:05] mikerite commented on #5734
I started on this. I should have a pull request ready sometime soon.

[2020-09-09 10:51] Zenithsiz opened #6021 "`indexing_slicing` displays error when indexing reference to array"
I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5f28027ee7635de86747f6a2983beb4b)

I expected to see this happen:

No warning displayed, as `arr[0]` is known to exist, because `arr` has 2 elements.

Instead, this happened:

I got the warning:
[code]

At first I thought that perhaps `arr[0]` would use `<[u8]>::index` and so it could pa

[2020-09-09 12:37] matthiaskrgr opened #6022 "clippy fails to check project but no error shown, due to doc comment"
EDIT: reduced even further by  `@keiichiw`
[code]
----------------------
[code]
This throws an error on my machine but it does not say what the actual problem is, as if something was eating the error message:

[code]

I tried `cargo check` but that seems to work and does not throw any errors.

### Meta

[code]

[2020-09-10 11:43] matthiaskrgr opened #6026 "single-char-push-str: expand to catch insert_str(n, "x") and suggest insert()"
The `single-char-push-str` lint looks for single-char `&str`s added to `String`s via `push_str()` and suggests `push()`.

It should be extended to also catch `insert_str(n, "a")` with single char args and suggest `insert(n, 'a')`.

[2020-09-10 12:30] flip1995 commented on #3013
I mean we could make it unstable in an edition (if also tools can use editions for such things). But only if we replace it with something stable, like a `lints.toml` file (I want to write a RFC for this soon).

Or we just introduce a warning for the `clippy.toml` file and provide tooling to convert it to the new configuration and support both for a few releases.

[2020-09-10 14:34] #5823 closed

[2020-09-10 14:55] #5950 closed

[2020-09-10 15:05] Jake-Shadle commented on #5950
Thanks @matsujika!

[2020-09-10 18:21] pitiK3U commented on #5679
@siyopao Still working on it or can I give it a try?

[2020-09-10 21:18] rail-rain commented on #3128
I believe it's because of the lint now ignores every mutable references (#5491), and both of the two playground link uses mutable references. However, this issue is actually unrelated to mutability. It happens when the trait objects have auto traits or lifetime bounds.

[playground link that uses an immutable reference](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9af68d

[2020-09-10 21:24] rail-rain commented on #3128
@rust-lang/clippy. I think you'd better reopen this issue.

[2020-09-10 21:41] rail-rain commented on #1845
FYI, this problem doesn't occur at the moment as the lint ignores every mutable references (#5491). However, if someone implements the enhancement suggested here (https://github.com/rust-lang/rust-clippy/pull/5491#issuecomment-616158467), it will reappear.

[2020-09-10 22:55] siyopao commented on #5679
Hi @pitiK3U, sorry, yes, please go ahead.

[2020-09-11 13:03] matsujika commented on #5969
I'd love to work on this.

[2020-09-12 01:07] rail-rain commented on #5995
The underlying cause is that `rustc_mir::transform::qualify_min_const_fn::is_min_const_fn`, which is the lint's core, is not responsible to check whether const fns in stable crates call unstable const fns, `rustc_mir::transform::check_consts::validation::Validator` is; but `Validator` panics given a non-const fn. Unless the rework (https://github.com/rust-lang/rust/issues/76618) leaves something u

[2020-09-12 03:41] wpbrown commented on #6001
I ran in to failure with the suggestion applied to `snapshots.sort_unstable_by(|a, b| b.datetime().cmp(&a.datetime()))` where a and b are borrowed. I didn't know about `Reverse` :)

In my case I'm just taking the reference and giving `Reverse` an owned Copy type... `DateTime`, so it works fine `snapshots.sort_unstable_by_key(|b| Reverse(b.datetime()))`.

Thank you for working on this. This is a gr

[2020-09-12 13:49] flip1995 commented on #5943
Consensus is, that we don't want to have 2 channels. Regarding the move itself, some are in favor of it, none are completely against it. Many are pretty indifferent (including me).

In conclusion, I would say that we'll move to zulip and that we don't need a FCP. Someone has to take the wheel for this though.

1. Setting up a Zulip #clippy channel
2. announcing, that Clippy is moving to Zulip on t

[2020-09-12 18:30] Manishearth commented on #5943
Seems good to me!

[2020-09-13 03:48] Nugine commented on #5369
[code]

[2020-09-13 12:39] montrivo commented on #5658
@ebroto I think we should not treat nullary const fn specifically in `or_fun_call` and revert  #5889 and #5984.

[2020-09-13 13:00] montrivo commented on #5923
Is there a mechanism in clippy to deprecate lint names and advertise new names? In that case, we could rename these lints into a common name if that is deemed worthwhile.

`standard_library_reimplementation` doesn't describe well cases that don't verbatim duplicate implementation but rather encode a pattern in a less direct way than what a std method offers. `bind_instead_of_map` is such an exampl

[2020-09-13 16:24] #5633 closed

[2020-09-13 18:12] JarredAllen commented on #5923
There are some lints which have been deprecated and whose deprecation notices say that they were replaced by a new lint (`into_iter_on_array`, `invalid_ref`, and `unused_label`). All of those were deprecated because their functionality got moved into rustc lints, but I see no reason why we couldn't do the same thing but mention a different lint within clippy, instead. It would cause a bit of work

[2020-09-13 19:02] flip1995 commented on #5923
I'm hesitant on combining lints from the `methods` module into one lint, since some people might like the `map_unwrap_or` lint, but dislike the `filter_map` lint, so they only enable/disable one of them. This wouldn't be possible when they are combined into one lint.

[2020-09-13 19:35] ecstatic-morse commented on #5995
It would be fairly easy to add a "speculative" mode to const-checking. I'll look into this once rust-lang/rust#7661 is complete.

[2020-09-14 09:40] leonardo-m opened #6039 "Wrong similar code lint"
This is a very common type of bugs that I'd like Clippy to catch (clippy::correctness), I think it's too much to ask rustc to do this:

[code]

For C++ similar to that Rust code PVS-Studio gives the error:

V1013 Suspicious subexpression a.x == b.y in a sequence of similar comparisons. vec3.h 182

I predict that if you implement a similar lint in a reasonable way then people that use Clippy regula

[2020-09-14 10:52] phansch commented on #5943
I took the liberty to request a Clippy stream here: https://rust-lang.zulipchat.com/#narrow/stream/122653-zulip/topic/Clippy.20stream.3F

[2020-09-14 11:10] phansch commented on #5943
We have a stream now: https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy :tada:

[2020-09-14 14:07] giraffate commented on #5945
It seems to be same as https://github.com/rust-lang/rust-clippy/issues/1864.

[2020-09-14 14:18] flip1995 commented on #5943
Thanks @phansch! To finalize the move, we also have to adapt the documentation in the Clippy repo and remove every mention of `Discord` and replace it with `Zulip`.

[2020-09-14 15:30] fvsch opened #6040 "The word "error" in float_cmp can be confusing"
E.g. when following the "rustlings" exercise "clippy1":
https://github.com/rust-lang/rustlings/blob/4.0.0/exercises/clippy/clippy1.rs

The initial state shows this output:

[code]

It might just be my ignorance, but I was puzzled by what "error" means in those fragments:
- "consider comparing them within some error"
- `(y - x).abs() > error`
- note: `f32::EPSILON` and `f64::EPSILON` are available

[2020-09-14 17:53] flip1995 commented on #6040
This is a easy to fix issue: First the message has to be changed here: https://github.com/rust-lang/rust-clippy/blob/f253dd06f91a496580d30dea45b669beaa9e1def/clippy_lints/src/misc.rs#L414

After that the [test files need to be updated](https://github.com/rust-lang/rust-clippy/blob/master/doc/adding_lints.md#testing)

And that's it. A great (first) contribution.

[2020-09-14 18:30] mimoo opened #6041 "print_stdout should not look in build.rs"
The [print_stdout](https://rust-lang.github.io/rust-clippy/master/index.html#print_stdout) clippy rule is interesting, but it should not look in `build.rs` files as they can contain legitimate cargo directives as `println!("cargo:X")`.

[2020-09-14 22:51] HaramanJohal commented on #6040
Hi, first time contributor here :wave:
I have made this change and fixed the tests but cannot make a PR as I do not have the correct permissions to push my branch up with `git push -u origin margin_of_error`. Would I get appropriate permissions if this issue was assigned to me?

[2020-09-14 22:56] ebroto commented on #6040
Hey @HaramanJohal, you should fork this repo instead of cloning it.

See [this link](https://github.community/t/the-difference-between-forking-and-cloning-a-repository/10189) for an explanation of the difference, and [this other link](https://guides.github.com/introduction/flow/) for a guide on the Github flow.

[2020-09-14 23:01] HaramanJohal commented on #6040
thanks will do

[2020-09-15 00:44] giraffate commented on #5455
Hi, I have a question. Is this because it's implementing only `check_fn` for `LateLintPass`?
https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/shadow.rs#L99

[2020-09-15 10:07] lzutao opened #6047 "CI: Adding tests detects changed path in utils/paths.rs"
It caused hard-to-debug test fallings like this: https://github.com/rust-lang-ci/rust/runs/1116251535#step:23:9212
Would be better to catch this earlier before compiling or running tests.

[2020-09-15 10:19] lzutao commented on #5393
Could we use lang_items if possible ?

[2020-09-15 11:57] flip1995 commented on #5393
If there is a `LangItem` we should use it. But this issue is rather about adding `#[rustc_diagnostic_item(..)]` in rustc and then use it in Clippy. We can do this easier now that Clippy is a subtree in rustc.

[2020-09-15 12:04] flip1995 commented on #5455
Yes that is the reason. But I don't know if the lint can be implemented with another method, since we have to look at all nested scopes and the outermost scope (for local vars) in rust is a function.

[2020-09-15 15:03] giraffate commented on #5455
Ok, thanks for your comment!

[2020-09-15 17:20] vorner opened #6050 "Clippy wrongly suggest to replace `Vec<Box<T>>` with just `Vec<T>`"
I tried this code:

[code]

I have some unsafe code that relies on the instances not changing their address. The `Box` there makes sure that they don't, even if the vec reallocates or when I take them out of the vec and put somewhere else.

Clippy raises the `vec_box` lint and suggests to remove the box.

If I followed clippy's suggestion to replace it with just `Vec<DataThatShouldNotMove>`, the a

[2020-09-15 17:38] #6040 closed

[2020-09-15 17:44] flip1995 commented on #6050
I think you should rather use [`pin`](https://doc.rust-lang.org/std/pin/index.html) for this:

Anyway, Clippy can't possible detect that the intention behind `Vec<Box<Somthing>>` is, that `Somthing` should not move. For this special case, you should probably only `allow` this lint for that struct (and add a comment, why it is allowed). Or use `Pin`.

[2020-09-15 17:44] #6050 closed

[2020-09-15 17:54] vorner commented on #6050
Well, my point was, there are many possible reasons why one might use a Box and being on the heap is just one of them. But OK :shrug:

[2020-09-15 18:09] jyn514 opened #6051 "Clippy suggestions remove comments"
I tried this code:

[code]

I expected to see this happen: `cargo clippy --fix` converts the code, keeping the comments:

[code]

Instead, this happened: Clippy converted it, removing the comments:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (9911160 2020-09-11)
- `rustc -Vv`: rustc 1.48.0-nightly (99111606f 2020-09-11)
- I had `__CARGO_FIX_YOLO=1`, so it's possible this wasn't marked a

[2020-09-15 18:32] flip1995 commented on #6050
Yes, but the elements in the `Vec` are already stored on the heap. That is the point of this lint.

[2020-09-16 00:51] chrisduerr opened #6052 "Incorrect unnecessary_lazy_evaluations suggestion"
It seems like clippy has problems detecting if a lazy evaluation is unnecessary when calling a function inside the closure and accessing fields on that returned value. I'm pretty sure this is a new issue since CI hasn't caught it previously.

This example should show what's wrong:

[code]

This shouldn't be allowed since the `foo` and `bar` function could obviously be very expensive. So `unwrap_or

[2020-09-16 01:02] scottmcm opened #6053 "Lint for `fold` closure that never moves the accumulator"
### What it does

Lint when a `fold` closure always returns the accumulator from the input, having only used it by reference.  (As opposed to consuming the accumulator, or returning something else.)

### Categories (optional)

- Kind: `perf`

The compiler currently cannot always optimize away passing along the accumulator every time (see https://github.com/rust-lang/rust/issues/76725), so it's bet

[2020-09-16 03:24] lzutao opened #6054 "Update pulldown_cmark to v0.8"
The upgrade should be flawless and shouldn't have any breaking changes for us.

[2020-09-16 03:29] workingjubilee commented on #6053
The somewhat odd
[code]
is also an option over binding and rebinding.

[2020-09-16 05:47] #6054 closed

[2020-09-16 17:27] flip1995 commented on #6052
Maybe this is fixed with #5937. cc @montrivo

[2020-09-16 18:10] montrivo commented on #6052
The pr seems to correct this case. I checked by running `uitest` on the example.

[2020-09-16 18:13] #5455 closed

[2020-09-16 18:33] #5734 closed

[2020-09-16 19:38] flip1995 commented on #6052
Thanks for checking. Closing this, since #5937 doesn't auto-close it.

[2020-09-16 19:38] #6052 closed

[2020-09-16 20:22] matthiaskrgr opened #6058 "duplicate lints in rustc and clippy"
There are some allow-by-default rustc lints that seem to have warn-by-default clippy counterparts, namely:

https://doc.rust-lang.org/beta/rustc/lints/listing/allowed-by-default.html#variant-size-differences
and
https://rust-lang.github.io/rust-clippy/master/index.html#large_enum_variant

and

https://rust-lang.github.io/rust-clippy/master/index.html#extra_unused_lifetimes
and
https://doc.rust-lan

[2020-09-16 23:06] #6021 closed

[2020-09-16 23:20] giraffate commented on #5943
Hi, updating the documentation in the rust-lang/rust-clippy was finished at https://github.com/rust-lang/rust-clippy/pull/6057.
Also, the link to Discord in https://www.rust-lang.org/governance/teams/dev-tools looks like it needs to be fixed. Is there anything else we need to fix?

[2020-09-17 00:26] flip1995 commented on #5943
Good catch! We need the equivalent of https://github.com/rust-lang/team/commit/aea2ca51e8e83252831a43394fd9cea31b3626b0#diff-2e2a46b4746ad4454414ee9fb7640557 done in the clippy.toml in the rust-lang/team repo.

[2020-09-17 01:29] TopologicallySpeaking opened #6059 "Allow currency groupings in inconsistent_digit_grouping"
I'm writing a program which stores some amount of cents as an unsigned integer. It's basically a fixed-point decimal. So, it makes sense to place an underscore before the last two digits, but clippy flips out over this. For example, the following does not pass the lint:

[code]

I propose that the behavior should be changed so that literals with no fractional part can have a final grouping of two

[2020-09-17 02:00] giraffate commented on #5943
Thanks! I opened https://github.com/rust-lang/team/pull/428.

[2020-09-17 13:36] flip1995 commented on #6059
I think this is **really** specific to your use case. For such specific cases, where a lint doesn't make sense, because of some semantics that cannot be statically checked, `#[allow(..)]` exists.

You could also write this as

[code]

which would make the intention clearer IMO, without losing performance since the expression gets cost evaluated anyway.

To represent other values than `00` for cent

[2020-09-17 14:35] harrysarson opened #6060 "clippy::option_if_let_else recommends code that fails borrow check."
I tried this code:

[code]

Which gives the following cargo clippy output

[code]

But when I apply clippy's suggestion, borrow checking rightly rejects by code because both closures try to move the value of `b1` (and the compiler cannot know that only one closure will ever be called`.

### Meta

- `clippy 0.0.212 (2020-09-16 285fc7d)`: (from playground)
- `rustc 1.46.0 stable` or `1.48.0-nightly

[2020-09-17 14:37] harrysarson commented on #6060
Oops, duplicate of https://github.com/rust-lang/rust-clippy/issues/5822

[2020-09-17 14:37] #6060 closed

[2020-09-17 16:22] NoraCodes opened #6061 "Suggest replacing filter-for-some-and-unwrap with .flatten"
### What it does

Suggests replacing code that filters with `Option::is_some` and then maps `Option::unwrap` with `.flatten()` which does the same thing due to `Option` implementing `IntoIterator`.

### Categories (optional)

- Kind: clippy::style

### Advantage

It is one function call fewer and makes it clearer what is happening - one level of indirection is being removed. In addition, many code

[2020-09-17 20:53] piegamesde opened #6062 "New lint: prevent dopping Results (and other must_use types)"
### What it does

I just found the following code:

[code]

Basically someone got a warning on an unused `must_use` type (in this case a `Result`), and thus "used" it … by *dropping* it. Tada, the warning's gone :tada:.

### Categories (optional)

- Kind: `clippy::correctness`

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2020-09-17 21:56] lebensterben opened #6063 "Add a `missing_error_doc` to `clippy::style`"
### What it does

Checks for the doc comments of publicly visible functions that returns a `Result<T, E>` type and warns if there is no `# Errors` section.
Unsafe functions should document their safety preconditions, so that users can be sure they are using them safely.

### Categories (optional)

- Kind: `clippy::style`

### Why its this bad

Functions that returns a `Result<T, E>` type should do

[2020-09-17 22:09] lebensterben commented on #6062
This is related to the following lints:
- `clippy::correctness::drop_copy`
- `clippy::correctness::drop_ref`

I think these two shall take precedence over the proposed lint, because they are more important.

I think we should only implement the proposed new lint on non-Copy owned types, and call it `drop_must_use`, in `clippy::style` as I don't think this is "incorrect".

[2020-09-17 22:27] piegamesde commented on #6062
Sounds good. However, I'm think dropping a `Result` and thus not doing error handling is "incorrect" to me. I can't think of any use case where dropping a `Result` instead of handling it would be desired semantics. Note that I come from a pure `Result` perspective and don't know of similar situations with other `must_use` types.

[2020-09-18 01:21] TopologicallySpeaking commented on #6059
No.

[2020-09-18 01:21] #6059 closed

[2020-09-18 10:10] phansch commented on #5803
Using the rust-project.json will not be necessary once/if https://github.com/rust-lang/rust/pull/76856 lands and the rustc internals are included in the `rust-src` component.

[2020-09-18 13:42] Nemo157 opened #6064 "Lint default numeric type fallback"
### What it does

Lint any integer or floating point constants that have their type determined by the default fallback rather than inference

### Categories (optional)

- Kind: pedantic

*What is the advantage of the recommended code over the original code*

Avoids unintended use of the numeric default types, forcing the author to think about what type is appropriate.

### Drawbacks

Forcing the a

[2020-09-18 13:50] xfix opened #6065 "redundant_pattern_matching shouldn't complain about macro generated redundant patterns"
I tried this code:

[code]

Macro is external to the crate in actual code.

I expected to see this happen: No complaints

Instead, this happened:

[code]

I believe this is wrong as it's not always fixable in macros

### Meta

- `cargo clippy -V`: clippy 0.0.212 (f3c923a 2020-09-17)
- `rustc -Vv`:
[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-09-18 14:02] flip1995 commented on #6063
This lint already exists, see [`missing_errors_doc`](https://rust-lang.github.io/rust-clippy/master/index.html#missing_errors_doc)

[2020-09-18 14:02] #6063 closed

[2020-09-18 14:44] memoryruins commented on #6064
It could be helpful to know when under-constrained inference has used a default numeric type, and I agree that pedantic makes sense for the category. Users who want this lint can optionally enable it, while minimizing friction with users that enjoy the current `i32` and `f32` fallback. Considerations from [rfc #212](https://rust-lang.github.io/rfcs/0212-restore-int-fallback.html#experience-with-la

[2020-09-18 14:55] #5050 closed

[2020-09-18 16:42] lo48576 commented on #2025
Now it seems that `derive_ord_xor_partial_ord` (#1621, #5848) has the same false positive.

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=12f17e27712b221f20555aab95a51869

[code]

[2020-09-18 18:34] flip1995 commented on #5943
The discord server is now closed, the documentation is done and The Zulip channel is working. => We completed the move 🎉

[2020-09-18 18:34] #5943 closed

[2020-09-18 19:12] bbqbaron commented on #6061
Heyo, could I take a crack at this? New Rust user, but I certainly understand the intent here so hopefully should be able to suss it out.

[2020-09-18 20:06] mikerite commented on #6061
Shouldn't the recommendation itself be linted to use `filter_map`?

[2020-09-18 21:35] jpdoyle opened #6066 "`needless_collect` doesn't understand local borrows"
When running `clippy` (`0.0.212 (2020-09-17 f3c923a)`) on https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5b4bbd5f3b653c7d9d8a84d2a63903fa I get the suggestion:
[code]
However, the original `Iterator cannot be used, as demonstrated by https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=65b782dbf6cd1731a6906afcd9704e99
[code]

[2020-09-19 11:25] smmalis37 commented on #4864
+1 for promoting to `style`

[2020-09-19 14:07] bbqbaron commented on #6061
My (newbie) understanding is that `.filter_map` would require some closure arg `|x| x` to return the option `x`, whereas `.flatten` just converts the options to to iters, which automatically removes any empty ones. May be a matter of taste, but `.flatten` seems more direct.

[2020-09-19 22:20] CDirkx opened #6067 "redundant_pattern_matching: `Option` and `Result` methods stabilized as const"
With [rust#76135](https://github.com/rust-lang/rust/pull/76135) and [rust#76136](https://github.com/rust-lang/rust/pull/76136) the methods `is_some`, `is_none`, `is_ok` and `is_err` will be stabilized as const. This makes them valid replacement suggestions again for Clippy within a const context, which was disabled in #5724.

The tests `redundant_pattern_matching` and `redundant_pattern_matching_c

[2020-09-20 06:34] mikerite commented on #6061
I meant replacing the `map(..).flatten(..)` chain with `filter_map`. In fact we already have a pedantic lint, `clippy::map_flatten`, which triggers on the recommendation.

[Playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=51b00f56452393c6f7a4cee65b398f25)

[2020-09-20 07:26] RalfJung commented on #6067
In-tree changes to clippy are synced back periodically, so I am not sure this issue is even necessary (but maybe I am out of date wrt. clippy processes).

[2020-09-20 09:01] est31 opened #6068 "Manual Duration::{as_nanos,as_milis,as_secs_f64,as_secs_f32} implementation"
### What it does

Recognize cases of manual re-implementation of the builtin `as_nanos` and `as_secs_f64` and `as_secs_f32` functions on `Duration`.

### Categories

- Kind: complexity, sometimes also correctness

### Drawbacks

MSRV issues, implementing the suggestion might increase the MSRV.

### Example

[code]

Could be written as:

[code]

[2020-09-20 10:22] bbqbaron commented on #6061
Ah, that makes sense. I wonder if maybe this example is a red herring, since you might chain `filter` into `map` given any iterable of options, even one you didn't construct. Ie, the `map(odds_out)` could be seen as just a contrived part of the setup, not the "target code" being checked?

 I leave it to maintainers' judgment, since they know better than I what code people tend to write often enoug

[2020-09-20 14:28] est31 commented on #6068
Example encounters in the wild:

* https://github.com/rust-lang/cargo/pull/8721

* https://github.com/rust-lang/rust/pull/76958

[2020-09-21 12:33] taiki-e commented on #2850
This seems implemented as [`clippy::pattern_type_mismatch`](https://rust-lang.github.io/rust-clippy/master/index.html#pattern_type_mismatch).

[2020-09-21 13:39] flip1995 commented on #6067
Thanks for the heads up! Issues like this are not really necessary, since our CI currently already screams at us, if we haven't synced a Clippy change from rustc.

On bigger Clippy changes it is always nice to get pinged (`@rust-lang/clippy`), though.

cc #6071

[2020-09-21 13:39] #6067 closed

[2020-09-21 20:59] flip1995 commented on #5803
https://github.com/rust-lang/rust/pull/76856 landed. Does this mean we can remove the `ra_setup` command from `cargo dev`? cc @matthiaskrgr

[2020-09-21 21:44] matthiaskrgr commented on #5803
Mhh, it seems that `76856` did not help, RA does not automatically find rustc sources in clippy, at least when I tried.
cc https://github.com/rust-analyzer/rust-analyzer/issues/3517
I found compiler sources at `~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/rustc-src/rust/compiler`.

We could perhaps use that (and use master toolchain sources) instead of some kind of path to a l

[2020-09-21 21:58] matthiaskrgr commented on #5803
Hm, right now, ra is broke for me anyway, see https://rust-lang.zulipchat.com/#narrow/stream/185405-t-compiler.2Fwg-rls-2.2E0/topic/Fixing.20sysroot.20loading

[2020-09-21 22:29] matthiaskrgr opened #6072 "FP mut_range_bound: range bound modified inside enclosing loop"
In this code we first create the mut range bound, and mutate it in another loop which means the loop that actually uses the range is executed several times with different bounds (even if it is true that inside the usage of the range, changing the index has no effect on the inner loop.
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=30343889f1b8be663adb15c2d8184c2a

T

[2020-09-21 22:45] flip1995 commented on #5803
rust-analyzer works for me. But it doesn't find the rustc source because this isn't implmented in rust-analyzer yet :D Probably needs the same as this:

https://github.com/rust-analyzer/rust-analyzer/blob/96e988fcc3be11acc89dc2c1957bc14e8f39c911/crates/project_model/src/sysroot.rs#L108

[2020-09-21 23:34] ilknarf opened #6073 "New Lint: blacklisted_method"
### What it does
~~Blacklist Method~~ Disallowed Method (see https://github.com/rust-lang/rust-clippy/pull/5896)
*What does this lint do?*
Disallows certain methods, as defined in `clippy.toml`
### Categories (optional)

- Kind: Nursery

Checks for method calls of specified methods
For example:
- `SomeStruct::bad_method`
-  `SomeTrait::bad_method`

### Drawbacks
This might take some significant ov

[2020-09-22 00:48] flip1995 commented on #6073
Should only the usage be blacklisted or also the definition?

[2020-09-22 02:09] ilknarf commented on #6073
We were mostly looking at usage.

[2020-09-22 03:42] mikerite commented on #6068
I think [duration_subsec](https://rust-lang.github.io/rust-clippy/master/index.html) should be renamed to `manual_duration_calcs` and extended to handle cases.

I think the minimum supported rust version is an issue an that needs to be handled globally for this project. I wouldn't even think about it while implementing this.

[2020-09-22 03:47] mikerite commented on #6073
Apparently we don't use the term "blacklist" anymore - #5896 .  Maybe choose something else if you don't want someone to come along and rename it.

[2020-09-22 03:54] ilknarf commented on #6073
Ok I vibe with that. Would `banned_method` be appropriate nomenclature for the future?

[2020-09-22 04:03] mikerite commented on #6073
The other PR used the term 'disallowed' so maybe go with `disallowed_method`. I probably not the right person to answer this.

[2020-09-22 04:15] ilknarf commented on #6073
Many thanks! I will go with that, then.

[2020-09-22 08:48] matthiaskrgr opened #6074 "FP explicit_counter_loop: var incremented before usage"
I tried this code:

[code]
`explicit_counter_loop` will trigger here and suggest to use `.iter().enumerate()`.
The problem is that we increment BEFORE using (and not at the end of the loop) so the first iteration will print 1 and not `0` as it would with `.enumerate()`.
This newly suggested code is off by one as can be seen here:

[code]
[code]
`clippy 0.0.212 (fb1dc34 2020-09-21)`

[2020-09-22 09:15] leonardo-m opened #6075 "needless_range_loop intrusiveness"
This is a case where needless_range_loop probably gives a good suggestion:
[code]
Clippy says:
[code]

But in many many cases similar suggestions are not so good. I suspect that replacing a hundred regular range for loops with iter/iter_mut + enumerates increases the work (the time) the compiler (the back-end) has to do to optimize the code. And in many cases (most cases in my codebase) this sugge

[2020-09-22 11:42] ebroto commented on #6074
(I think `suggestion-causes-error` is intended for compiler errors and not semantic changes)

[2020-09-22 16:07] nahuakang commented on #5834
I'm completely new to the project but would like to sign up and give it a try if that's ok :)

[2020-09-22 16:25] #6065 closed

[2020-09-22 20:18] #2850 closed

[2020-09-22 23:05] ebroto commented on #5658
@montrivo I think you're right, I've opened #6077 to revert them.

Continuing with your example, IIUC none of the methods linted by `or_fun_call` can be called in a `const` or `static` initializer because they are not `const fn`s (so the first case will not compile) and the lint should treat `const fn`s like any other function, because it will never lint in const contexts.

[2020-09-22 23:11] ebroto commented on #5658
@mahkoh I'm going to close this issue as I think this is not a false positive, feel free to reopen in case you think otherwise.

[2020-09-22 23:11] #5658 closed

[2020-09-23 10:06] nahuakang commented on #5834
@flip1995 @Manishearth @phansch @yaahc Would anyone have time to point me in a direction here? :pray:

[2020-09-23 18:55] #2623 closed

[2020-09-24 08:32] leonardo-m commented on #6039
I read the PVS-Studio blog posts, and I think the lint I've shown here is among the few ones that catches more of the bugs that rustc/Clippy don't catch already.

[2020-09-24 14:05] #4677 closed

[2020-09-24 17:57] ecstatic-morse opened #6080 "`missing_const_for_fn` runs on optimized MIR"
Const-checking needs to run before optimizations, otherwise it might miss some invalid operations that get optimized away. Specifically, it should run on the result of the `mir_const` query. Until this is fixed, `missing_const_for_fn` will have false positives and/or ICE (due to some assertions about the state of the MIR at the point const-checking is run).

[2020-09-24 20:03] Ryan1729 commented on #6039
Okay, I think I'll give implementing this one a go. For a name, I think `suspicious_chained_operators` fits the naming conventions.

One thing I'm unsure of is whether the lint should be warn or deny by default. This is pretty clearly a correctness lint, and all the other correctness lints are deny by default, so I guess I'll start with deny. On the other hand this lint does technically have the p

[2020-09-24 23:22] thefallentree opened #6082 "catch `assert!` `assert_eq!` `assert_ne!` and variants in ResultFN"
### What it does

catch `assert!` `assert_eq!` `assert_ne!` and variants in ResultFN

in a function that returns result , it is very likely the use of these macros are plain wrong.

### Categories (optional)

similar to https://rust-lang.github.io/rust-clippy/master/#panic_in_result_fn

[2020-09-25 13:18] flip1995 commented on #5834
@nahuakang  I answered your e-mail. Welcome to Clippy!

[2020-09-25 15:03] programmerjake opened #6085 "Misleading Indentation Lint"
### What it does

Checks for misleading indentation kinda like GCC's [`-Wmisleading-indentation`](https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wmisleading-indentation).

### Categories (optional)

- Kind: style

Improves readability.

### Drawbacks

Can be annoying for generated code.

### Example

[code]

Could be written as:

[code]

[2020-09-25 15:52] ebroto commented on #6085
Clippy is not well-equipped for this kind of lints because most of the time it works with an AST where whitespace is irrelevant. That said, I *think* this should be doable by checking the text of the relevant spans.

I'm not sure if the quality of the resulting lint will deserve a deny-by-default status.

@rust-lang/clippy should we add these kind of lints?

[2020-09-25 15:54] Manishearth commented on #6085
I would rather not. This is in the purview of `rustfmt`.

[2020-09-25 16:15] oli-obk commented on #6085
Yea, this is almost impossible to do in a reasonable way and after running rustfmt there's either no more misleading formatting or there's a bug in rustfmt which should be fixed in rustfmt and not papered over by clippy

[2020-09-25 16:15] #6085 closed

[2020-09-25 18:43] programmerjake commented on #6085
What about the people who don't use rustfmt?

[2020-09-25 20:04] ebroto commented on #6074
Fixed by #6076

[2020-09-25 20:04] #6074 closed

[2020-09-25 20:14] ebroto commented on #6075
Could you please elaborate on which cases you find problematic and why? Ideally giving some examples :)

[2020-09-25 20:58] leonardo-m commented on #6075
In this loop:

[code]

Clippy has suggested me to write:

[code]

While this simplifies the code inside the loop slightly (replacing two primes[i] with *pi), the resulting code seems quite more complex than the original one (and I think this change also increases the pressure on the LLVM, because it has to optimize tons of stuff away. Try to look at the asm of rust generated without optimizations.

[2020-09-26 09:14] leonardo-m opened #6087 "Detect array_chunks/array_chunks_mut usage cases (and more)"
In this benchmark:
https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/mandelbrot-rust-6.html

There's code like:

[code]

If you take a look at the asm of `mand64` you see a `core::panicking::panic_bounds_check`.

If you replace the slicing of the main `&mut row[8*x..8*x + 8]` with a `slice::array_chunks_mut`, the panic vanishes and the code gets optimized better (and the benchmar

[2020-09-26 10:14] leonardo-m commented on #6039
Some examples where it could fire, they were real bugs in the code of very famous open source projects:

[code]

[2020-09-26 15:47] jyn514 opened #6088 "Lint on `const RUNTIME: tokio<Runtime>`"
### What it does

*What does this lint do?*

It errors on `const` tokio runtimes.

### Categories (optional)

- Kind: Correctness
- Deny by default

*What is the advantage of the recommended code over the original code*

It avoids errors like the following:

[code]

`const` creates a new copy of the runtime every time it's used, while `static` uses the same runtime each time.
I was using this as `

[2020-09-26 20:55] #6041 closed

[2020-09-26 21:16] #6073 closed

[2020-09-26 23:16] jyn514 opened #6089 "Clippy doesn't know how to fix `arbitrary_self_type` in some async functions"
I tried the code from https://github.com/tokio-rs/tracing/blob/9ae4676054067dcf99b55cb76fcee3997207de6d/tracing-attributes/tests/async_fn.rs. Here is my attempt at an MCVE, but it doesn't compile:

[code]

I expected to see this happen: `cargo +nightly clippy --fix -Zunstable-options` turns the code into `async fn call_with_mut_self(&mut self) {}`

Instead, this happened: Clippy replaces it with `

[2020-09-27 05:29] Ryan1729 commented on #6039
[code]
Since this is about if statements, I think this could be a separate lint. `suspicious_grouped_if_conditions`? It might make since for the same lint to handle matches as well.

[code]
I think this would already be caught by the [`logic_bug`](https://rust-lang.github.io/rust-clippy/master/index.html#logic_bug) lint.

[code]
I think this one should probably be a different lint. And that lint s

[2020-09-27 15:28] ebroto commented on #2072
Duplicate of #6075, leaving the new issue as it has more info.

[2020-09-27 15:28] #2072 closed

[2020-09-27 15:33] ebroto commented on #6075
Thanks for taking the time to come up with an example.

About the increase in compile time, I would say that the problem you point out would be general for iterators, right? Indexing would probably increase run time due to bounds checking, so IMO this seems like a trade-off that depends on each case (which Clippy can't detect/reason about) and should be left for the user to decide.

About splittin

[2020-09-27 15:38] ebroto commented on #6087
Note that until the potential stabilization of `array_chunks`, this should be suggested only to users that have opted in to the feature.

[2020-09-27 15:52] ebroto commented on #6088
@jyn514 would [const_item_mutation](https://github.com/rust-lang/rust/pull/75573) solve your use case? To be landed in 1.48.

[2020-09-27 16:04] jyn514 commented on #6088
Yes it would! Thank you :D https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5329dc009d37cefba58f5acaab8d4be7

[2020-09-27 16:04] #6088 closed

[2020-09-28 15:59] ebroto commented on #6089
I'm working on this one, should have a PR soon

[2020-09-28 20:09] leonardo-m commented on #6039
It's code like:

    if x != 1 || x != 2 {
        println!("*");
    }

It's always true ::-) So it could hide a bug.

[2020-09-28 21:25] longlb opened #6095 "rustc_driver::run_compiler needs 5 arguments rather than 4."
I had this error come up while I was trying to compile the base repo. I checked the online documentation as well and it still only shows a need for 4 arguments. Is this because of a compiler problem or am I missing some packages?

[code]

[2020-09-28 21:33] ebroto commented on #6095
Hey, thanks for the heads-up!  A fix is coming :) (#6094)

As Clippy is built against the master branch of rustc, whenever changes in rustc break Clippy, this happens.
Currently Clippy gets fixed in-tree in the rustc repo, but those changes have to be synced back to this repo. We are working on avoiding this hassle to contributors by pinning to a nightly; this will be unblocked with the next relea

[2020-09-28 21:33] #6095 closed

[2020-09-28 21:39] Ryan1729 commented on #6039
Aha! So the `(*(tcp_opt + 2) != 10))` was perhaps meant to be `(*(tcp_opt + 3) != 10))` then.

This kind of bug was discussed in https://github.com/rust-lang/rust-clippy/issues/853, and it was suggested that it could be rolled into `logic_bug`, but that hasn't happened yet.

[2020-09-29 00:15] iliekturtles opened #6096 "inconsistent_digit_grouping is inconsistent when a floating point exponent used"
The `inconsistent_digit_grouping` is inconsistent when a floating point exponent is used. e.g. `1.234E1`.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c4df1f0f3ccc3411adf952eba66cf300
[code]

I expected to see this happen: No warning is displayed for either literal.

Instead, this happened: A `inconsistent_digit_grouping` warning is displayed only for the literal assign

[2020-09-29 04:00] mikerite opened #6097 "Minimum supported version of Rust (MSVR) config and support"
Many lints suggest using new features in the std lib like `clippy::manual_strip`. I think these are great because they help people upgrade their code to take advantage of these features. However, there are many projects that support old versions of Rust that can't use these. These lints only make more work for those projects because they have to allows to fix their CI. See this [recent commit in s

[2020-09-29 09:01] #6089 closed

[2020-09-30 00:07] flip1995 commented on #2874
This should've been fixed here: https://github.com/rust-lang/rust-clippy/commit/f5db351a1d502cb65f8807ec2c84f44756099ef3

It is also tested by our CI, that `clippy-driver` and `rustc` always print the same sysroot.

[2020-09-30 00:07] #2874 closed

[2020-09-30 08:08] cschwan commented on #1685
I think it's a bit more complicated than this, for instance consider comparing two `Vec<f64>`; in this case I would like the linter to complain at the comparison site, but I agree that when a struct has non-generic float fields it's best linted on the struct definition.

[2020-09-30 20:05] Wilfred opened #6099 "if_same_then_else false positive on 'else if'"
I tried this code:

[code]

I wouldn't expect if_same_then_else to fire in this case. I'm explicitly documenting why the second case is a fallback. This is a reduced reproduction from [this original source code](https://github.com/Wilfred/bfc/blob/0b7cb0c0252fb7d871781d68ddacc4027e53f3d4/src/bounds.rs#L134).

It produces the following message:

[code]

Could the check be more conservative? Perhaps

[2020-10-01 05:54] mikerite commented on #6096
I'll fix this one.

[2020-10-01 14:05] #2944 closed

[2020-10-01 14:20] flip1995 commented on #6097
I think this makes sense. This should be possible by just adding a "lint configuration" and passing that to the relevant lint passes.

[2020-10-01 14:37] MTRNord commented on #6099
Can reproduce with this tree:

[code]

[2020-10-01 15:43] #6099 closed

[2020-10-01 16:50] #1864 closed

[2020-10-01 16:50] #5945 closed

[2020-10-01 17:24] euclio commented on #6039
For the case in the OP, it would be worthwhile to suggest `#[derive(PartialEq, Eq)]` as well.

[2020-10-01 21:39] Ryan1729 commented on #6039
For floats in particular that would run into the gotcha that floats are not `Eq` because of `NaN`. Also relevant for floats and `PartialEq` is [this suggested lint](https://github.com/rust-lang/rust-clippy/issues/1685), (not implemented as of this writing).

But this suggestion would make sense for structs/enumerated composed only of `Eq` types. Alternatively it could only suggest `PartialEq`. How

[2020-10-02 08:58] #6096 closed

[2020-10-02 11:19] iliekturtles commented on #6096
Thanks @mikerite!

[2020-10-02 14:34] flip1995 commented on #5834
After working on this issue together with @nahuakang, we found out that the issue is not with the lint, but with the doc comment itself. The reason this is linted is because you have `[ ]` brackets in your link text, which trip the parser.

I just tested this with `cargo doc` and also `rustdoc` fails to parse this link:
![image](https://user-images.githubusercontent.com/9744647/94934650-545aac00-0

[2020-10-02 16:32] yatesco opened #6106 "Clippy crashed the compiler"
Stack trace:

[code]

and verbose:

[code]

Let me know if I can help.

[2020-10-02 17:17] flip1995 commented on #6106
The best help would be, if you could provide a minimal example where this happens. Since this may be quite difficult, it would be helpful, if you could share the codebase where this happens. If you can't share the codebase, it'll be really hard to find out what the problem is. In that case, you could compile clippy from source in debug mode and run that on your code. This will give us the exact li

[2020-10-02 18:20] TheBlueMatt commented on #3837
What does this imply for non-rustup users who wish to use clippy?

[2020-10-02 19:34] flip1995 commented on #3837
Nothing, AFAICT.

[2020-10-02 21:43] #5863 closed

[2020-10-02 23:19] TheBlueMatt commented on #3837
To rephrase, does that imply clippy will (again) never be available on non-rustup installs (which seems to have been hinted at as a side-effect earlier in this issue).

[2020-10-02 23:52] flip1995 commented on #3837
I mean you can always clone the repo and run `cargo install --path .`. The changes talked about in this issue are only internal changes to Clippy and cargo, that shouldn't be noticable to the user (except that it fixes long standing issues).

What is your current setup now and how do you install Clippy right now?

[2020-10-03 00:20] rail-rain commented on #1831
I'm certain the PR #2021 fixed this issue; this can be closed now.

[2020-10-03 00:47] #1831 closed

[2020-10-03 03:18] TheBlueMatt commented on #3837
`apt-get install cargo (+rustc)` (cause its easy, always up-to-date within a week or two (on debian testing, at least), and cross-language LTO and even LLVM plugins Just Work (tm) cause its all linked again system LLVM. As for clippy, well, I have to spin up a VM with rustup to use clippy, which is somewhat annoying (afaict - is there some easier way that works - `cargo install clippy` hasn't work

[2020-10-03 06:26] Manishearth commented on #3837
No, there is no easier way for this to work. This is up to the package maintainers to provide.

We recommend the rustup method.

[2020-10-03 11:26] Suyash458 commented on #6097
@flip1995 I'd like to pick this up!

[2020-10-03 14:36] yatesco commented on #6106
hiya - it is closed source unfortunately, but I built and ran clippy in debug:

[code]

What else can I do?

[2020-10-03 15:22] ebroto commented on #6106
I believe Clippy is not able to find the sysroot crates, so it does not run. You can try with the following, from the Clippy repo root:
[code]
Then, you can run clippy from your crate root like this:
[code]
This will get you the latest *release* build, for now we can see if the problem is reproduced with the newest Clippy.

---

About your first backtrace, I believe the line that triggers the cras

[2020-10-03 15:38] yatesco commented on #6106
Thanks @ebroto. Here is the stack trace after the steps you provided:

[code]

which seems to fail in the same place.

To be honest, some of the earlier rust code I wrote is so nasty it should be part of the compiler's stress test ;-)

[2020-10-03 16:15] flip1995 commented on #6106
You have to add `--debug` to the install command, otherwise we won't get the line numbers.

[2020-10-03 16:21] yatesco commented on #6106
After ` rust-clippy git:(master) cargo +master install --debug --force --path .`, `RUST_BACKTRACE=1 cargo +master clippy --all-targets --all-features -- -W clippy::all` still doesn't show line numbers:

[code]

[2020-10-03 18:10] cauebs commented on #4520
Hasn't this been implemented? https://rust-lang.github.io/rust-clippy/master/index.html#large_stack_arrays

Or is something still missing?

[2020-10-03 18:18] cauebs commented on #4499
I think I'll give this one a go. I'm just now studying the codebase, and will probably need some pointers.

What should be the criteria for this? How to tell if a type is large enough? Just not being Copy is not enough, surely.

Maybe something like what's on [large_enum_variant](https://rust-lang.github.io/rust-clippy/master/index.html#large_enum_variant)?

[2020-10-03 20:52] ebroto commented on #4520
@cauebs only the "good first issue" part of [this comment](https://github.com/rust-lang/rust-clippy/issues/4520#issuecomment-529811333) was implemented.

[2020-10-03 21:16] cauebs commented on #4520
@ebroto Thanks! Missed that. Maybe the labels should be updated to reflect that, then. Or even close and open another issue to make it clearer.

[2020-10-03 22:03] ebroto commented on #4499
I think that would be a safe default. The value should be configurable, though.

Also, given the destiny of the opposite lint (#5410), I would make this lint pedantic.

[2020-10-04 00:07] cauebs commented on #4499
If someone is willing to help a newbie, I'm having trouble getting my lint to actually run.

I've generated it with `cargo dev new-lint`, files were created, all fine. But I've made it just output a lint unconditionally and the stderr still matches the empty `.stderr`, unless I add some garbage to it.

I'm running it with `env TESTNAME="pass_large_type_by_move" cargo uitest`, and I can see the cor

[2020-10-04 07:28] ebroto commented on #4499
@cauebs I think you may be missing registering your new pass here:
https://github.com/rust-lang/rust-clippy/blob/9408c68c1da55f8a47cb21e761953db30aea3d39/clippy_lints/src/lib.rs#L1130

A previous comment suggested that code from `trivially_copy_pass_by_ref` should be reused here, so you should probably put your new lint in that module, and rename the module accordingly.

[2020-10-04 12:30] yatesco commented on #6106
I've no idea if this is relevant but since installing the new toolchain I am getting the following error whilst building:
[code]

[2020-10-04 12:46] Gadiguibou commented on #5986
Hey, I'd like to contribute to this! I've had the same issue in the past and wonder if this really needs fixing as well or just shouldn't be warn-by-default. Is there anyone that could confirm if this is the way to go?

[2020-10-04 20:45] ebroto commented on #5986
Hey @Gadiguibou, I would say that the outcome of the discussion is still not clear :)

The example given in the issue that created this lint (#471) has more probability to be an error than to leverage the order of the arms:
[code]
IMO including `5..10` in the second arm is unnecessarily confusing.

What if the lint checked that the ranges overlap partially, but excluded cases where one pattern is

[2020-10-04 21:01] montrivo commented on #5923
I'll keep it to one name per case so the user can disable them independently. I'm going for `less_concise_than_option_ok_or` and `less_concise_than_option_unwrap_or`.

[2020-10-04 23:30] Gadiguibou commented on #5986
That sounds very nice indeed, the order of the arms would probably have to be considered as well. Or have an entirely new lint for cases where a match arm is unreachable because of overlap with a previous arm.

[2020-10-05 01:29] dvtkrlbs commented on #6061
I can take this issue

[2020-10-05 08:20] rsulli55 commented on #6010
I am interested on working on this, if @longlb has moved on.   I have a good start and should be able to submit a pull request tomorrow.

[2020-10-05 08:53] flip1995 commented on #6061
So on the one hand @mikerite is right, that `map(..).flatten(..)` gets linted by Clippy, so the suggested code in the above example would again get linted. But the `filter(is_some).map(unwrap)` construct doesn't have to follow a `.map(..)` call in the iterator chain. So suggesting to use `flatten(..)` in this case is valid, IMO.

But rather than implementing this as a new lint, I just would enhanc

[2020-10-05 08:59] flip1995 commented on #5986
The compiler will already complain about this ;) [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=760dc2d242e4048c6517dcb733cf75ff)

---

I like the suggestion by @ebroto. I think this is the way to go, instead of downgrading the lint :+1:

[2020-10-05 09:03] flip1995 commented on #5923
You can open a PR about this, but expect some discussion on that PR, if lints should _really_ get merged. I definitely think some lints can get merged, but wouldn't want to go through those lints myself. I'm happy to review your suggestion though!

[2020-10-05 09:05] flip1995 commented on #6106
I think this is a bug in the compiler. IIRC there was an issue about this in the rust-lang/rust repo flagged as `regression-from-stable-to-stable`. But I could be wrong.

About the line numbers: No idea why they don't display. But I think @ebroto is correct with his guess about the line that panics.

[2020-10-05 09:07] yatesco commented on #6106
Unfortunately I didn't manage to get a focused reproducible case but I'm happy to push buttons if you tell me what to type. Otherwise feel free to close this - happy to help either way.

[2020-10-05 09:17] flip1995 commented on #6039
Where this patter occurs doesn't really matter, so I wouldn't split this up.

Such a lint would be awesome, IMO. But definitely a different lint.

About your remarks referring to other lints: They're all correct, IMO

Yes this isn't really related to this issue.

[2020-10-05 09:29] flip1995 commented on #6106
We have a `DefId` that causes this panic. We can get the identified HIR with the compile flag `-Zunpretty=hir,identified` and the command `RUSTFLAGS="-Zunpretty=hir,identified" cargo check`. This will probably have a **huge** output, with `Defid`s for every item. Now you can search for `DefId(0:151 ~ dashboard_ui[289f]::db)` in the output and then trace it back to the code sinppet, that produced t

[2020-10-05 09:50] Luro02 opened #6113 "Suggest using Self::AssociatedType for trait implementations"
### What it does

Suggests replacing a concrete type like `State` with the associated type of the trait.

### Categories (optional)

- Kind: `clippy::style` or `clippy::pedantic`

*What is the advantage of the recommended code over the original code*

- the name of the associated type can be changed, without having to change the code that uses the associated type

### Drawbacks

Might make the cod

[2020-10-05 10:18] flip1995 commented on #6075
I don't think the argument against this lint, that it increases compile time isn't valid. One principle of the Rust Language is exactly this trade-off: sacrifice compile time for safe and efficient code. The efficient code comes from the zero-cost-abstractions Rust provides. Using iterators is one of those zero-cost-abstractions. In addition to that iterators over indices is idiomatic Rust style.

[2020-10-05 10:22] flip1995 commented on #6082
@nahuakang This seems like a good first issue to me.

A similar lint is already implemented and code can probably shared with that lint. So what you would have to do is to look at the `panic_in_result_fn` lint, understand how it works and implement the same (optimally sharing code) for `assert` macros. And obviously write tests for them.

[2020-10-05 10:33] flip1995 commented on #6072
I guess the only valid fix would be to check all parent expressions of the for loop if the range bound is used afterwards. This is a hard fix IMO?

[2020-10-05 10:35] nahuakang commented on #6082
Thanks Phil. I'll pick up on your hints!

[2020-10-05 10:47] flip1995 commented on #6066
So to generalize the problem: If something is borrowed in the `collect` expression, but later moved in the `Iterator` expression, this lint should not trigger. When attempting to fix this, a look at the [`let_and_return`](https://rust-lang.github.io/rust-clippy/master/index.html#let_and_return) lint might help to find out how to check for borrows in an expression (potentially the "borrow check" ca

[2020-10-05 10:52] flip1995 commented on #6064
I would rather categorize this lint as `restriction`.

[2020-10-05 12:40] DutchGhost commented on #5939
I hit this as well with pico_args for argument parsing,
[code]
Clippy suggest `PathBuf::try_from` over the closure, resulting in the same error as the post above

[2020-10-05 14:07] Ryan1729 commented on #6039
Fair enough. I suppose I can't think of a reason why someone would want to disable one the lint for only operators or only for if statements. I'm not sure what to call the lint though if it doesn't only pertain to operators. Although this issue probably occurs most often with conditionals that is not the only place it occurs, so a name that only mentions conditionals doesn't seem appropriate.

For

[2020-10-05 16:30] euclio opened #6116 "lint unnecessary literal casts"
### What it does

Lints unnecessary as-casts of literals when they could be written using literal syntax.

### Categories (optional)

- Kind: `clippy::style`

*What is the advantage of the recommended code over the original code*

- Avoids accidental truncation
- Uses syntax dedicated to this purpose

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2020-10-05 16:34] leonardo-m commented on #6116
Better to suggest: 1_u32

[2020-10-05 18:59] longlb commented on #6010
Go for it, I'd actually love to see how you did it because I've been unable to figure out a lot of the compiler stuff.

[2020-10-05 19:27] dtolnay commented on #1402
Just sharing a concrete repro for "doesn't work":

[code]

Suggestion by clippy:

[code]

So we change:

[code]

Resulting type error:

[code]

[2020-10-05 21:11] rsulli55 commented on #6010
Ok, great!

@pickfire So I made a new lint to do this (basically following the tutorial), but I am wondering if it would be better to instead add this as an extra case of `lint_search_is_some()` in `methods/mod.rs`

[2020-10-05 21:37] #4706 closed

[2020-10-06 01:40] pickfire commented on #6010
@rsulli55 Not quite sure but probably good. Maybe you can take inspiration from `find_map()` https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/methods/mod.rs#L2905?

[2020-10-06 04:55] rsulli55 commented on #6010
@pickfire Ok, thanks!  I opened a WIP PR for now with what I have but I will be happy to move the code around if it should be placed somewhere else.

[2020-10-06 07:21] #6001 closed

[2020-10-06 12:26] lnicola commented on #5385
`cargo clippy -- -W help` seems to run `clippy`, so it takes a while on a first build and, of course, it requires a project. Would it be possible to print the available lints and quit, similar to `rustc -W help`?

Context: in `rust-analyzer` we'd like to offer code completions for the various lints, but the only way to get them is to load http://rust-lang.github.io/rust-clippy/master/index.html.

[2020-10-06 12:44] flip1995 opened #6122 "`cargo clippy -- -W help` runs `clippy`"
_Originally posted by @lnicola in https://github.com/rust-lang/rust-clippy/issues/5385#issuecomment-704233618_

Even though the `-Whelp` thing is unstable, it shouldn't have to run Clippy on a crate to print out the help message with all lints.

[2020-10-06 12:59] ebroto commented on #6116
This would be currently linted by [`as_conversions`](https://rust-lang.github.io/rust-clippy/master/#as_conversions) ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=34e652df7a7dab2188a9923f0965ed90)). The docs imply it's allow-by-default because it has false positives.

The lint could be improved though to generate suggestions as the one you gave.

[2020-10-06 13:01] bnjjj commented on #6122
Will take a look to fix that as a first contribution to clippy :)

[2020-10-06 17:54] Ambroisie commented on #3661
I would like to work on this. Should I try using the previous PR as a basis?

[2020-10-06 23:37] flip1995 commented on #6122
@lnicola You can get the list of clippy lints with `clippy-driver -W help` (`-Whelp` w/o whitespace, just prints the rustc lints). Running `cargo clippy -- -W help` is like running `cargo rustc -- -W help`, except that Clippy has an (unwanted?) hack, that this works. So the current behavior is kind of intentional. Only the `clippy-driver -W help` version is expected to work.

@bnjjj asked about ad

[2020-10-07 00:24] ebroto commented on #6122
The problem I see with that approach is that it requires providing a crate, while the manual handling of `-W help` does not. It seems that the request to print all the lints is not processed until after parsing, see [here](https://github.com/rust-lang/rust/blob/98edd1fbf8a68977a2a7c1312eb1ebff80515a92/compiler/rustc_driver/src/lib.rs#L340-L343). This is probably related to the plugin interface, wh

[2020-10-07 01:41] flip1995 commented on #6122
Yeah, I wondered why and went investigating. Because from a UX perspective it doesn't make sense, that `clippy-driver -W help` prints rustc lints and `clippy-driver -W help main.rs` prints rustc *and* Clippy lints.

I found this code snippet, which is executed if `rustc` is called without an input file:
https://github.com/rust-lang/rust/blob/98edd1fbf8a68977a2a7c1312eb1ebff80515a92/compiler/rustc_

[2020-10-07 05:33] mikerite opened #6129 "`mistyped_literal_suffixes` false positive and bad suggestion"
[code]

I expected to see this happen: `mistyped_literal_suffixes` not to fire.

Instead, this happened:
[code]

[2020-10-07 11:02] retep998 commented on #1518
This also applies to `for foo in bar.iter()` when `bar: &Vec<T>`.

[2020-10-07 11:04] retep998 commented on #3063
`clippy::explicit_iter_loop` is currently a pedantic lint that is allow by default, so does that resolve this issue?

[2020-10-07 11:05] retep998 commented on #3343
The repo was moved to `rust-lang` but the `rust-` prefix was not dropped.

[2020-10-07 12:56] RalfJung commented on #3063
Oh wow I entirely forgot about this issue. Yeah if that lint is allow-by-default now, seems fine for me; I also am less opposed to these sigils now than I used to be.

[2020-10-07 12:56] #3063 closed

[2020-10-07 16:48] euclio commented on #6116
I think the lints serve different purposes. I `1 as u32` is almost certainly a mistake, while there are legitimate uses of as casts in general (which is why it's allow-by-default).

[2020-10-07 17:08] mimoo commented on #2691
any update here :) ? This would be an awesome lint!

[2020-10-08 00:34] cauebs commented on #4499
Would it be more appropriate to implement both in the same struct, or separately, just sharing some code from floating functions?

[2020-10-08 02:40] gonzur commented on #5209
Hello, I would like to tackle this issue if that's at all possible. Right now it is a little bit late where I am but I wish to begin looking at the code either today and tomorrow. Thank you!

[2020-10-08 07:25] ebroto commented on #5209
Sure, go ahead!

[2020-10-08 09:09] #6005 closed

[2020-10-08 14:19] lopopolo opened #6137 "option_if_let_else suggestion does not compile"
I tried this code:

[code]

Clippy made this suggestion:

[code]

Applying the fix results in code that does not compile:

[code]

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (18bf6b4f0 2020-10-07)
- `rustc -Vv`:
[code]

[2020-10-08 14:20] Luminoth opened #6139 "ICE escaping late-bound region during canonicalization"
### Code

Unfortunately I don't have a minimal example for this, I honestly have no idea what's triggering it so I'm not sure what would be safe to remove or not. The repo that's doing it however is here: https://github.com/Luminoth/amethyst-hello and it's occurring at the very end of the clippy process, after checking all of the dependencies.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (18bf6b

[2020-10-08 14:23] lopopolo commented on #6137
Despite this bug report, I am planning on disabling this lint since in every case clippy offered the correction, I found the explicit if let ... else more readable than the combinator soup I never remember the argument order for.

A particular suggestion I did not like was replacing an if let .. else that was part of an if else chain.

[code]

In this case, if this method were const, the suggestio

[2020-10-08 14:34] cmyr opened #6140 "ICE with wasm target"
Just updated rustc/clippy and have a crash in CI, running:

`cargo clippy --manifest-path=druid/Cargo.toml --all-targets --features=image,im --target wasm32-unknown-unknown`

against https://github.com/linebender/druid/commit/ac936c25a1ab8bc9556d41e06bded6df6e76c070

I do not see this crash against the native target (I'm running macOS 10.14.6)

let me know if I can be more helpful.

### Meta

- cl

[2020-10-08 14:50] lopopolo opened #6141 "shadow_unrelated is using idents from RHS of asignment"
Clippy outputs these warnings:

[code]

For this code:

[code]

and

[code]

I expected to see this happen: No errors, as in Rust 1.46.0
### Meta

- `cargo clippy -V`: clippy 0.0.212 (18bf6b4f0 2020-10-07)
- `rustc -Vv`:
[code]

[2020-10-08 15:23] cgm616 commented on #5581
I'd like to take this one!

[2020-10-08 16:38] jyn514 opened #6142 "clippy --fix does not preserve whether strings were raw string literals"
I tried this code:

[code]

I expected to see this happen: Clippy suggests turning it into `r#""hello"".to_string()`.

Instead, this happened: Clippy removes the raw string literal:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (91a79fb 2020-10-07)
- `rustc -Vv`:
[code]

[2020-10-08 19:38] tylerhawkes opened #6143 "ICE with 1.47"
### Code

[code]

I'm running into this bug via some bindgen generated code it appears. Its parent module allows `clippy::all` and `clippy::pedantic` so it appears that clippy 1.47 is unusable on my project until this is fixed.

### Meta

- `cargo clippy -V` clippy 0.0.212 (18bf6b4 2020-10-07)
- `rustc -Vv`:
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  <

[2020-10-08 21:05] ebroto commented on #6143
Thanks for your issue report!

This should be fixed in 1.48 (#5948), could you please confirm?

[2020-10-08 21:10] ebroto commented on #6140
[code]
I suspect this may be fixed by #5848. Could you try with beta 1.48?

[2020-10-08 21:45] tylerhawkes commented on #6143
This works on beta.

[2020-10-08 21:45] #6143 closed

[2020-10-08 22:16] cmyr commented on #6140
This works for me with the beta.

`cargo +beta -Vv`:

[code]

[2020-10-08 23:09] #5542 closed

[2020-10-09 06:48] ebroto commented on #6140
Thanks for testing it. I'm gonna go ahead and close this as solved.

[2020-10-09 06:48] #6140 closed

[2020-10-09 07:41] djc commented on #6097
This would be awesome to have. I know we have a bunch of these allows in the url crate already at least.

[2020-10-09 07:59] sdroege opened #6147 "panicked at 'index out of bounds: the len is 1 but the index is 1', src/tools/clippy/clippy_lints/src/repeat_once.rs:44:93"
This worked fine with 1.46 but not anymore after the update to 1.47 (clippy 0.0.212 (18bf6b4 2020-10-07))

Happens when running

[code]

in `gstreamer-sdp` at https://gitlab.freedesktop.org/gstreamer/gstreamer-rs/

Full backtrace:

[code]

[2020-10-09 08:03] sdroege commented on #6147
This was fixed by https://github.com/rust-lang/rust-clippy/pull/5948 but it unfortunately did not end up in 1.47.

[2020-10-09 08:13] flip1995 commented on #6147
Closing since it was already fixed, so nothing we can do here.

A Clippy ICE is not enough to do a point release of rust stable. But if there should be one, we'll try to get the fix in.

[2020-10-09 08:13] #6147 closed

[2020-10-09 08:15] flip1995 commented on #6097
@djc Can you post a list of them here, so we can apply this configuration option to those lints? That would be really helpful!

[2020-10-09 08:16] sdroege commented on #6147
Well, it's annoying because it prevents me from updating CI configurations to 1.47 :) And especially annoying because beta and nightly never failed with this.

[2020-10-09 08:23] djc commented on #6097
In url we have these:

[code]

The `matches!()` macro is also an important one that I ran into before.

[2020-10-09 08:28] flip1995 commented on #6137
One thing you could do to fix the compiler warning would be to use `Option::from` instead of `.into()`, which is admittedly worse code IMO.

That's totally fine, pedantic lints are meant to be really opinionated and to be `allow`ed more often.

[2020-10-09 09:01] sdroege commented on #6147
Just to be sure, I realize that doing a point release is a lot of work and it probably doesn't matter for such a thing but I'm probably also not the only one running into this. Sucks, but that's life :)

Is there a way to disable running that lint completely btw? `-A clippy::repeat_once` still runs it.

[2020-10-09 09:15] flip1995 commented on #6147
Yeah, this bug slipped through, but sadly now it's too late. I think there is a point release planned, since also a regression fix in the compiler is planned. But there isn't an ETA yet.

No sadly not. Renaming the `repeat` method fixes the issue, which would be a workaround. But I don't know if that is applicable for you. Sorry for the inconvenience!

[2020-10-09 09:41] sdroege commented on #6147
That's good to know, thanks :)

Unfortunately not as that would be an API change.

No worries, such things happen. Annoying for everybody involved but that's just how it is :)

[2020-10-09 11:38] flip1995 commented on #6147
I prepared a stable backport in https://github.com/rust-lang/rust/pull/77750. So if there is a point release, this should get backported :+1:

[2020-10-09 12:27] flip1995 commented on #2691
There is the [`to_string_in_display`](https://rust-lang.github.io/rust-clippy/master/index.html#to_string_in_display) lint, which already checks for one case. This lint could be enhanced to also check for things like using the formatting machinery inside the `Display` implementation.

[2020-10-09 12:30] flip1995 commented on #6116
Yes `as_conversions` is a restriction lint, with the design that it lints **all** `as` conversions, regardless what it converts.

[2020-10-09 12:35] flip1995 commented on #6129
I don't get this suggestion on [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=038d7b6083bf17c6c51c6602651319d7). Am I missing something?

[2020-10-09 13:37] flip1995 commented on #6039
`suspicious_operation_groupings` sounds best to me (as a non-native english speaker).

Do you think this lint should also apply when there is no grouping but only one expression, e.g. just `self.a == other.b`? I think we need context, that there is at least one `... self.x <op> other.x ...` in the grouping before or after `... self.y <op> other.z ...`. For example the [Cross product](https://en.wi

[2020-10-09 14:52] flip1995 commented on #6139
I reduced it to

[code]

I will try to reduce it more to not depend on `amethyst` later.

[2020-10-09 15:27] bofh69 commented on #6142
I can try to fix it

[2020-10-09 16:12] flip1995 commented on #6139
Minimal example:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=89e9bf7568ebbccc63116e41b184c1f8)

[2020-10-09 16:15] flip1995 commented on #6139
The ICE is caused by this `is_sized` call:https://github.com/rust-lang/rust-clippy/blob/fcf22d90bb9087f03e60c03ccccdc2f95668bf88/clippy_lints/src/types.rs#L543-L544

[2020-10-09 17:07] #3661 closed

[2020-10-09 21:00] #6139 closed

[2020-10-09 21:10] alex commented on #6097
`clippy::match-like-matches-macro` requires `matches!()` which is new in 1.42

[2020-10-09 22:36] geoffreycopin commented on #6116
Hi, I'd be glad to give this a shot !

[2020-10-09 23:36] #6142 closed

[2020-10-09 23:42] jyn514 commented on #6142
Wow, that was fast! Thanks everyone ❤️

[2020-10-10 00:58] Ryan1729 commented on #6039
Sounds fine to me, as a native English speaker.

I agree that we shouldn't lint single expressions without more context. In the course of writing my (currently in-progress) PR for this lint, I realized that I should skip empty lists of pairs of operations, and when that happened I also realized that single pairs would be likely false positives: [see here](https://github.com/rust-lang/rust-clippy/b

[2020-10-10 02:07] olson-sean-k commented on #5991
+1. I think I've also encountered a false positive [here](https://github.com/olson-sean-k/plexus/blob/06092528ce7b182c776f314c431631b6ea6fa19f/plexus/src/graph/mod.rs#L1273) (see [this CI failure log](https://github.com/olson-sean-k/plexus/runs/1234050764)).

[2020-10-10 06:53] #1670 closed

[2020-10-10 09:21] KillingSpark opened #6153 "Clippy triggers ICE but cargo build does not"
With the version `Clippy version: clippy 0.0.212 (18bf6b4 2020-10-07)` I hit a ICE when I run clippy on my project that I did not before. This suddenly made the CI fail, so I assume this was introduced in the new release for 0.0.212.

I am sorry I cant provide a minimal example but the project is hosted on github: https://github.com/KillingSpark/rustbus. If I can provide any additional info I'd be

[2020-10-10 09:45] #5834 closed

[2020-10-10 10:21] flip1995 commented on #6153
This looks really similar to #6139. I asked about this on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Clippy.20started.20ICEing.20in.20rustc_infer.2F.2E.2E.2Fcanonicalize/near/212909303).

I now also think, that this might be a compiler bug... cc @ebroto

[2020-10-10 11:26] KillingSpark commented on #6153
I agree that this looks similar. Unfortunately the the repo is a bit bigger, so reducing it to a minimal example is kinda hard.

I am just confused that clippy triggers this bug, but just building the project normally works without issues.

[2020-10-10 11:47] flip1995 commented on #6153
the compiler internals that are producing this bug are the same.

Clippy runs more checks, than `cargo build`, so there is more code, that con produce these bugs.

[2020-10-10 13:38] lzutao opened #6155 "[build] caching on Ubuntu builders of GH actions does nothing"
See this build log: <https://github.com/rust-lang/rust-clippy/pull/6154/checks?check_run_id=1235351421#step:6:1>

A solution is to cache only need files and subdirs: <https://doc.rust-lang.org/nightly/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci>.
We might also want to cache `.crates.toml` if we use `cargo install`.

[2020-10-10 13:49] #6153 closed

[2020-10-10 20:49] djc opened #6156 "Improve suggestions for same-item-push lint"
The suggestion to use `resize()` is not optimal because it needs calculation of the difference between current size of the collection and the desired size. The suggestion to use `vec![]` is not great because it will generally require an extra allocation. Instead, I've landed upon this solution. Maybe it could be suggested:

[code]

[2020-10-10 21:28] ebroto commented on #6156
That suggestion is intended to replace the statement that creates the vector, so the number of allocations should be potentially smaller because the size is known beforehand, as opposed to creating it with e.g. `Vec::new()` and reallocating as we push.

You can use the vector to get its current size, so the new size can be calculated using `vec.len() + x`, which I think is more concise than using

[2020-10-11 12:30] djc commented on #6156
Maybe `self.buffer.resize(self.buffer.len() + forward, 255)` might be better in this case. The other case I ran into was this:

[code]

Which is maybe a bit more complex.

[2020-10-11 15:06] WaffleLapkin opened #6159 "False positive with `clippy::needless-lifetimes` when lifetime is used in `where` clause with assoc type"
I tried this code:

[code]

I expected to see this happen: no warnings

Instead, this happened: needless lifetimes warning

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (38d911d 2020-10-09)
- `rustc -Vv`:
[code]

[2020-10-11 16:45] jonasmalacofilho commented on #4612
Knowing that the problem is the reuse of metadata from regular/other `check` runs, I found that running `clippy` with a different `--target-dir` is sufficient to work around the problem.

[code]

Note that I don't think this will necessarily do the right thing when workspaces are involved, particularly if `cargo clippy` is not invoked from the workspace root.

[2020-10-11 17:20] ebroto commented on #6159
Removing the lifetime will cause a compilation error if the returned value borrows from the closure parameter or is the closure parameter itself:
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b0a0c20c7a0a253cf64f2509f7733016))

cc @montrivo as you may have an idea of what the problem could be

[2020-10-11 21:00] #1721 closed

[2020-10-11 22:31] josephlr opened #6161 "Lint: enable empty_loop for no_std crates"
Right now, we have a style lint against the following code:
[code]
Note that this is no longer undefined behavior (since https://github.com/rust-lang/rust/pull/77972).

Currently, there is no way to have a `no_std` binary or library use the `empty_loop` lint.
Even adding `#![deny(clippy::empty_loop)]` to a crate does nothing. This is because #5086 (fixing #3746), made the lint essentially not exis

[2020-10-12 12:36] flip1995 commented on #6155
Yes, we're waiting for https://github.com/actions-rs/install/pull/5 to get through, so we can do this more cleanly.

[2020-10-12 19:47] roy-work opened #6164 "needless_collect: confusing suggestion & questionable transformation"
Take the following example:

[code]

(Note that in a real-world scenario, all of `mock_array`, the number of iterations of the `for` loop, and the input to `.contains()` might all be dynamic. Don't read too much into that things in the example are constant.)

Running `cargo clippy` on this gives the following output:

[code]

There are two issues with this:

### The suggestion is elided

The botto

[2020-10-12 20:57] flip1995 commented on #6164
So the things that should be improved here, are

1. The suggestion, so that it more clearly shows what should be done
2. The indirection should only apply when in the same scope.

(2.) would fix most of your problems. Also it kind of makes sense. When binding before opening a new scope (for loop / if-else / just a block), the author probably has a reason for that.

[2020-10-13 03:16] Suyash458 commented on #6097
@flip1995 do we need to add an `msrv` attribute to all the lints to denote the targeted Rust version?

[2020-10-13 04:44] achris commented on #6113
I can try to implement this

[2020-10-13 08:19] matthiaskrgr opened #6168 "FP same_functions_in_if_condition with cfg!() with macro as condition"
I tried this code:

[code]

This will boil down to something like `... if false { "macos" } else if false { "windows" } else { "linux" }` on linux, the lint should probably just ignore exprs that originate from macros?

current warning:
[code]
### Meta

`clippy 0.0.212 (8dae8cd 2020-10-12)`

[2020-10-13 09:10] PunitLodha commented on #5610
I would like to work on this. From what I can gather from the conversation, I have to add the two lints to the restriction lints. I found the PR #795 which deprecated the lints, but i can't find the lint files itself for both the lints. I also tried looking through git history for any file named str_to_string, but no success. Any way i can find those files, so that i can add them to the restrictio

[2020-10-13 12:37] sdroege opened #6170 "rc_buffer lint is dangerous as it changes runtime behaviour"
clippy wants if one tries to use a type like `Rc<Vec<T>>`, .e.g

[code]

This is dangerous as creating a `Rc<[T]>` causes a `memcpy` of the whole memory area with all the elements, while creating an `Rc<Vec<T>>` simply copies over the 3 pointers inside the `Vec` without copying all the elements.

A better suggestion would probably be `Rc<Box<[T]>>` as that has the same runtime behaviour, but even

[2020-10-13 16:22] #6168 closed

[2020-10-13 18:28] jonas-schievink commented on #6161
`core::sync::atomic::spin_loop_hint` does not help here, it is a no-op on most embedded platforms and never causes side-effects

[2020-10-13 21:41] geoffreycopin commented on #6116
When testing my implementation, I noticed that there is some overlap with a [https://github.com/rust-lang/rust-clippy/blob/master/tests/ui/unnecessary_cast_fixable.rs](previously existing_lint) that flags int literals that are casted to a float type.

Would it be suitable to just extend the aforementioned lint so that it become "casting number literal to <cast_to> is unnecessary" ? If not, what wo

[2020-10-13 22:44] jonas-schievink commented on #6161
IMO we should just fix the LLVM bugs instead. `spin_loop_hint` is not meant to do anything here, it's not meant to have a side-effect, it's just a hint to schedule another hyperthread.

[2020-10-13 22:48] ebroto commented on #6116
@geoffreycopin I think what you suggest makes sense as that lint was already extended in #3842 to add the float cases.

Even if later there's a decision to not enhance that lint, your code should go in that module to be able to handle the overlap.

[2020-10-13 23:27] josephlr commented on #6161
@jonas-schievink I talk a bit in https://github.com/rust-lang/rust/pull/77924 about why we might want `spin_loop_hint` to have a side-effect on all platforms. Basically, it makes our recommendations to users better, and makes the behavior more consistent across targets (as `spin_loop_hint` is a side-effect on x86 and (most) ARM targets).

[2020-10-14 01:12] jonas-schievink commented on #6161
It does not have side effects on any target. LLVM might treat it as such, but really it doesn't.

[2020-10-14 01:20] josephlr commented on #6161
I guess I'm confused, for the current implementation on x86, the hint emits calls the `pause` instruction, which is a side-effect for the purposes of optimization and the like.

[2020-10-14 07:35] yvonmanzi commented on #6164
Hi @flip1995 I've been learning Rust over the last few months and am looking for opportunities to contribute. I generally understand the issue here, and with you help, I can help solve it. Can I work on this?

[2020-10-14 23:08] mimoo commented on #2518
not sure why this was closed, it looks like you still can't run clippy on a specific package in your workspace

[2020-10-14 23:33] ebroto commented on #2518
@mimoo could you share an example of what does not work for you? `cargo clippy -p <package>` should work with both simple and virtual workspaces.

If you refer to the ability of running Clippy only on the package, excluding its dependencies (#3025), that will be fixed in a couple of days after rust-lang/cargo#8758 is merged.

[2020-10-15 00:15] ebroto commented on #5214
I can't reproduce the `RUSTFLAGS` problem anymore. Could you test it @matthiaskrgr?

This would be great news as it could help to solve the problem when Clippy does not re-run if flags passed after `--` change.

[2020-10-15 01:01] mimoo commented on #2518
Ah, indeed I was getting hits on its dependencies (which are other packages in my workspace) and didn't understand why

[2020-10-15 02:27] workingjubilee commented on #3722
Rust no longer supports using MMX intrinsics or emitting MMX instructions (except possibly via inline assembly).
This issue can be closed.

[2020-10-15 03:59] HMPerson1 commented on #5904
Instead of matching variable names, would be better to check for parameters whose only use is calling `.clone()`? I think it would be more precise and it would still catch this example.

[2020-10-15 16:10] matthiaskrgr commented on #5214
Yeah, looks like `RUSTFLAGS="-Aclippy::needless_return" cargo clippy` no longer throws errors! :tada:

[2020-10-16 05:50] josephlr commented on #5565
As a data point, with the patched `git subtree` https://github.com/rust-lang/rust-clippy/pull/6178 took 50 minutes to generate on my desktop. However, once it was generated everything just worked (modulo having to run `cargo dev fmt`). So _after_ the change gets merged, the current approach seems like a tradeoff between wall time and developer time.

[2020-10-16 07:53] mati865 commented on #2882
I think this is done.

[2020-10-16 07:53] #2882 closed

[2020-10-16 07:53] flip1995 commented on #5565
Only the first time. Once it is cached, it is a matter of seconds. Still not optimal though.

[2020-10-16 08:07] RalfJung commented on #5565
Cached where?

[2020-10-16 08:11] bjorn3 commented on #5565
`.git/subtree-cache`: https://github.com/gitgitgadget/git/blob/fe2e4819b869725f870cd3ce99f1f8150fe17dc1/contrib/subtree/git-subtree.sh#L218

[2020-10-16 08:26] josephlr commented on #5565
Yup, running again only took 20 seconds. The `.git/subtree-cache` is large (about 515 MiB for me), make sense why it took so long to generate (still seems like there has to be a better way).

[2020-10-16 11:46] ThibsG commented on #2882
Actually I am not sure it is totally done, unless these two rewriting have been dropped or done by other means?

[2020-10-16 17:42] mati865 commented on #2882
They seem to be used only on the CI so there is no portability issue for the developers.

[2020-10-16 18:58] llogiq commented on #2882
True, we don't have a clippy_dev subcommand to create the lints.json yet, right? lintlib shouldn't be needed anymore AFAIR.

[2020-10-16 23:32] briansmith commented on #1894
Unfortunately `cfg_if` is problematic in some cases. I had to remove all use s of `cfg_if` out of a project recently because of https://github.com/rust-lang/rustfmt/issues/3253. I actually am planning to have my CI/CD prevent use of `cfg_if`.

[2020-10-16 23:45] briansmith opened #6185 "`#![cfg(platform)]` causes clippy to ignore `#![allow(...)]` directives"
I tried this code:

[code]

I am invoking clippy as `cargo clippy -- --deny missing_docs`

I expected to see this happen:

On all targets/hosts, I expect clippy to report no problems.

Instead, this happened:

On Windows, clippy did the right thing.
On Linux, I got:

[code]

### Meta

clippy 0.0.212 (204bb9b 2020-03-17)
rustc 1.43.0 (4fb7144ed 2020-04-20)
binary: rustc
commit-hash: 4fb7144ed159f94

[2020-10-17 00:39] ebroto commented on #6185
FYI `missing_docs` is a rustc lint, not a Clippy lint.

`cargo check` yields the same error in Linux:
[code]

IIUC the whole crate should be omitted from compilation, so I'm not sure why it sees the function in the first place :thinking:

Maybe it's worth it to file an issue in rust-lang/rust?

[2020-10-17 00:39] #6185 closed

[2020-10-17 01:29] cgm616 commented on #1713
I think this already exists! Unless I'm misunderstanding the lints tested by `tests/ui/print.rs` and `tests/ui/print.stderr`.

[2020-10-17 02:58] clarfonthey commented on #1713
Potentially. This was filed 3 years ago and it's entirely possible that this was implemented and someone didn't notice to close this ticket.

If you can confirm that this already exists we can definitely close this.

[2020-10-17 06:45] ebroto commented on #1713
@cgm616 that test is for `use_debug` which is allow-by-default and lints on any use of debug formatting.

The suggested lint would trigger only in Display impls and would be warn-by-default.

[2020-10-17 12:34] GuillaumeGomez opened #6186 "match_like_matches_macro lint could be improved a bit more"
For example, this case doesn't warn:

[code]

But it could be improved using the `matches!` macro:

[code]

[2020-10-17 16:31] flip1995 commented on #6097
No, just the lints mentioned here. And then, we can iteratively add it to lints in the future, if a issue for them comes up.

[2020-10-17 16:32] flip1995 commented on #6164
Yeah sure, go ahead! If you have any questions, feel free to ask here, on Zulip or open a WIP PR.

[2020-10-17 16:34] flip1995 commented on #5610
You won't have much luck finding those files, since the repo was at least restructured 2 times since then. You will have to reimplement those lints.

[2020-10-17 16:36] flip1995 commented on #5214
Can we close this issue now that `RUSTFLAGS` works? Or should we document this somewhere first?

[2020-10-17 17:20] ebroto commented on #5214
I'm preparing a PR for the "no re-run" problem and I hit that error in the dogfood. I still have to debug it, could be a misuse on my side, but in the meantime I would keep this open.

[2020-10-17 17:59] llogiq commented on #6097
Just a heads up: `manual_range_contains` should have a msrv of 1.35.0.

[2020-10-18 16:41] boxdot commented on #4971
@Manish-Giri: Are you still working on this? Otherwise, I would like to try to fix it.

[2020-10-18 19:49] Kixunil commented on #6097
THIS! Just got bitten by `matches!()` being used in [`postgres-protocol`](https://github.com/sfackler/rust-postgres/commit/d1f9d6d8020843dbcd4fa6764b5abf33e56ade33) motivated by clippy.

Can we perhaps also add a lint that will suggest setting the `msrv` key for projects that don't have it? Explicit `latest` would turn it off. This would motivate people to at least think about supporting older ver

[2020-10-18 20:03] Kixunil commented on #6170
In the specific case of `[u8]`, one might want to use `bytes::BytesMut` instead of `Vec<u8>`.

[2020-10-18 23:30] ebroto commented on #6186
This case will overlap with [`match_same_arms`](https://rust-lang.github.io/rust-clippy/master/#match_same_arms). Since `match_like_matches_macro` is warn-by-default, it should have priority, so the former should not trigger.

[2020-10-19 08:56] khyperia opened #6196 "map_entry is incorrectly suggested when map is used between contains_key and insert"
Related issue: https://github.com/rust-lang/rust-clippy/issues/5696

Reproducing code:

[code]

produces

[code]

However, the commented-out code (which is what I believe clippy is suggesting) fails to compile with

[code]

I believe the correct behavior here is to not emit a suggestion at all.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (18bf6b4 2020-10-07)
- `rustc -Vv`:
[code]

[2020-10-19 08:57] alex-700 commented on #6186
Hi, I'd like to hack on this.

I think that every `match`, where every arm expression is a bool literal, is a good candidate for `matches!` (yeah, I remember about some special cases (where I need to suppress this), like [redundant_pattern_matching](https://rust-lang.github.io/rust-clippy/master/index.html#redundant_pattern_matching). But at the same time there are additional questions with exhaus

[2020-10-19 20:12] #3574 closed

[2020-10-19 20:12] #4694 closed

[2020-10-19 20:55] ebroto commented on #6186
I think you're right. The main problem I can see with targeting more than two arms where one is wildcard is that we can have multiple if guards that could be difficult to "merge" in order to be used in `matches!()`.

Not sure I got you here. You mean that in some cases `match` should be preferred because of the exhaustiveness check?

[2020-10-19 22:39] montrivo commented on #6159
This is a regression of #5978. I've prepared a fix.

[2020-10-19 22:53] montrivo commented on #6159
The lint bails out on named lifetimes found in the where clause predicates. The regression caused the lint to shortcircuit after the first predicate (`T: Deref,` in the example) and not walk the following ones (`F: FnOnce(&'a T::Target) -> R,`).

[2020-10-19 23:19] Manish-Giri commented on #4971
@boxdot Hello, sorry I thought this got re-assigned. I had already done some work on this earlier, so I'll get on it rightaway and finish it as soon as I can.

[2020-10-20 16:29] pickfire commented on #1230
Is this `E-hard`?

[2020-10-20 18:14] alex-700 commented on #6186
Yeap, patterns with `if` guards are evil for this lint.

Yeap, you got it right!

I thought more and came to an idea that there are some issues about an order of patterns too. And I need a hard machinery from rustc (to check that I can reorder some patterns), it's hard to use from clippy.

So the plan is triggering this lint for the following.
[code]
where `b0` and `b1` are different bool literals

[2020-10-20 23:13] mleonhard commented on #1209
I'm on macOS 10.15.6 x86 and clippy will not exit with non-zero status.
[code]

I'm trying to make my local dev tools work the same as [the project's continuous integration scripts on GitHub](https://github.com/leonhard-llc/fixed-buffer-rs/runs/1283797322?check_suite_focus=true).

I tried configuring CLion 2020.2.4 with a single run configuration that runs both `cargo clippy` and `cargo test`.  I

[2020-10-20 23:33] mleonhard commented on #1209
Strangely, the problem just went away:
[code]

And the `cargo test` CLion run config is now properly failing when `cargo clippy` fails.

Perhaps clippy is caching some results on disk and returning 0 in some strange edge case?

[2020-10-21 08:07] oli-obk commented on #1230
probably not, but it requires some gray matter wrangling. For this to be doable in a reasonable matter, we likely need to implement it on MIR and use dataflow to track mutable references.

[2020-10-21 20:10] ebroto commented on #6186
@alex-700 given that this is a warn-by-default lint, I think the safest approach for the moment would be a generalization of the initial comment in this issue:

[code]

What do you think?

[2020-10-22 20:19] workingjubilee commented on #1043
I came here to add to the lamentations because it is my experience that very often Clippy recommends the `!` on expressions like `ident.is_cond_true()` which is directly against the flow of the overall reading, and in general negative reasoning is harder for me.

[2020-10-22 21:30] pdolezal opened #6204 "Improve suggestions for option_map_unit_fn"
The suggestion for `option_map_unit_fn` could include more details and options for solving the lint.

Let's consider an invocation chain on `Option` which consumes the value, if any, at the end. Clippy issues the warning for such a piece of code.

[code]

The lint's suggestion in such situations does not look very appealing. Using `if let` on the whole statement does not improve readability, IMO.

[2020-10-22 23:10] Manishearth commented on #533
(Clippy was RFCd)

[2020-10-22 23:10] #533 closed

[2020-10-23 05:30] josephlr commented on #6161
I've updated the description for this issue to make it clear this is no longer about undefined behavior. Now, this issue just tracks re-enabling the style lint for `no_std` libraries. Even for `no_std` libraries, it's probably a good idea to for use to have a lint that says "hey, you should panic instead of deadlooping".

I think we should either:
  - Enable this lint for `no_std` libraries, disab

[2020-10-23 07:42] PunitLodha commented on #5610
I think i am missing something but I can't find any variant for String in `ty::TyKind`. There's a `Str` variant for string slice, but no variant for the String type. So is there any way to know if method is being called on a String?

[2020-10-23 13:40] korrat commented on #1641
Hi, I would like to take a shot at this.

[2020-10-23 13:48] ebroto commented on #1641
Hey @korrat, it's all yours!

If you have any question, don't hesitate to ask here, in Zulip, or open a draft PR.

[2020-10-23 16:39] HMPerson1 opened #6207 "Lint `assert!` without message"
### What it does

Lint `{debug_}assert{_eq,_ne}!` without a custom panic message. (inspired by [this tweet](https://twitter.com/myrrlyn/status/1319672781324324867))

### Categories (optional)

- Kind: pedantic

*What is the advantage of the recommended code over the original code*

If the assertion fails, it might be easier to diagnose why.

### Drawbacks

None.

### Example

[code]

Could be writ

[2020-10-23 17:56] camsteffen opened #6208 "Use try_for_each instead of map collect"
### What it does

Suggest using `try_for_each` instead of `map(...).collect()` whenever possible.

More specifically, detect code in the following form:

[code]

### Categories (optional)

- Kind: clippy::style

*What is the advantage of the recommended code over the original code*

It is easier to read and more idiomatic

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2020-10-23 20:56] camsteffen commented on #5987
Why only apply it to a temporary `Cow`?

Scanning the implementors of `ToOwned`, you could similarly lint on `OsStr::to_os_string` and `Path::to_path_buf`.

Another case is `(*cow).to_owned()`. But maybe that's too contrived?

[2020-10-23 22:43] mimoo opened #6209 "integer_arithmetic rule is too simplistic and is triggered even when arithmetic operations are applied to constants/literals that cannot cause overflow or panic"
Hello, the following code triggers the integer-arithmetic rule:

[code]

I'm not sure how useful it is, as there is no danger here IIUC. The only edge-case is division by 0 right?

[2020-10-23 22:59] ebroto commented on #6209
According to the [Reference](https://doc.rust-lang.org/reference/expressions/operator-expr.html#overflow)

So this will overflow
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=add4000ea3fbaf851f1d793fbd18a030))

We could special case though if the RHS of a binary operation `/` or `%` is a literal that is not `0` or `-1`, there should be no risk of over

[2020-10-24 00:44] camelid opened #6210 "Move the `clone_on_copy` lint from the complexity group to the style group?"
Right now, the [`clone_on_copy`](https://rust-lang.github.io/rust-clippy/master/index.html#clone_on_copy) lint is in the complexity lint group, but it seems like perhaps it should be in the style lint group. I think the same for [`char_lit_as_u8`](https://rust-lang.github.io/rust-clippy/master/index.html#char_lit_as_u8). Thoughts?

[2020-10-24 02:57] mimoo commented on #6209
yeah, I don't think it's a good idea to ask people to use checked_div and checked_rem when we know that there's no chance of bug there : o

[2020-10-24 07:47] ThibsG commented on #2768
@phansch I think we can close this, as like #2657, we can't reproduce this anymore.

[2020-10-24 08:01] ThibsG commented on #1404
It seems we cannot reproduce this ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=848a3f088ed42bce4139f56c22ca079b)).

I think that the code for `single_match` lint ([here](https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/matches.rs#L505) and [here](https://github.com/rust-lang/rust-clippy/blob/master/clippy_lints/src/matches.rs#L597)) pre

[2020-10-24 09:56] pgimalac opened #6213 "eq_op false positive with sub and div"
If you do something like
[code]
or
[code]
clippy will throw an eq_op error, while I think it shouldn't.

In my case x is a generic `<E: Sub<Output = E> + Add<Output = E> + Ord>` and I do `x - x > x` to check if x is lower than *zero*.

The same thing could happen with `/` and *one* I guess.

I avoided the error by writing `x > x + x` but I still think it shouldn't be considered an error when you d

[2020-10-24 10:18] enterprisey opened #6214 "Lint for iterator.chain(None)"
### What it does

Catches `.chain(None)` being called on an iterator, in which case the author probably meant `.chain(std::iter::once(None))`.

### Categories (optional)

- Kind: correctness, probably - `.chain(None)` is a no-op!

*What is the advantage of the recommended code over the original code*

Actually does what the user probably intended to.

### Drawbacks

Very, very specific lint. Maybe

[2020-10-24 10:36] llogiq commented on #6214
But sometimes folks might want to have types line up, and have multiple code paths where one path chains a `Some(value)` at the end. So the correct way to create a value off the same type without appended value would be `.chain(None)`.

[2020-10-24 10:50] llogiq commented on #6213
I think that this is a pretty niche thing to do, so using `#[allow(clippy::eq_op)]` should suffice, especially if the lint triggers only on a few isolated functions.

[2020-10-24 10:54] enterprisey commented on #6214
Never thought of that! I guess there's a use-case for most everything.

[2020-10-24 10:54] #6214 closed

[2020-10-24 11:21] pgimalac commented on #6213
Oh I didn't know you could ignore some lints like that, that's nice (I usually just run clippy and see where I messed up, it's the first time it was not a real error).

I agree that it probably is not a very common thing to do, and I'm sure this lint is usually useful.

I'm closing the issue, thanks for the answer.

[2020-10-24 11:21] #6213 closed

[2020-10-24 15:40] mlegner commented on #6209
This would also apply to other operations when both sides are literals/constants, right? For example, there are also no issues when writing `1+1` (which currently triggers the lint). So this issue could be rephrased to "integer-arithmetic rule is too simplistic and is triggered even when arithmetic operations are applied to constants/literals that cannot cause overflow or panic".

Ideally, the lin

[2020-10-24 16:19] Urcra opened #6217 "Use is_empty instead of comparing to empty slice/str"
### What it does

Suggest using `is_empty()` instead of checking for equality with an empty slice` == []` or `== ""` to be more consistent with similar lints such as `len_zero`

### Categories (optional)

- Kind: clippy::perf or clippy::style

*What is the advantage of the recommended code over the original code*

 - Consistency with similar lints such as `len_zero` so that we suggest lints for bo

[2020-10-24 16:27] Urcra commented on #6217
Bit unsure about with category it should be in. I would probably lean mostly towards style. Since it's a bit hard to evaluate the performance after optimization. Though the performance hit is quite evident in debug mode.

Also not sure if this lint should deal with the case of `arr != []` and suggest `!arr.is_empty()`?

I would like to try and hack on this lint if it seems like something that's us

[2020-10-24 20:28] hedonhermdev commented on #6209
Hello, can I work on this issue?

[2020-10-24 22:33] kangalioo opened #6219 "False alarm with derive_ord_xor_partial_ord"
In my application, I have a struct wrapping a `f32`, but guaranteeing non-NaN values. Therefore, this struct can have an Ord implementation.

I've implemented this using:
[code]

This triggers a deny-by-default warning, telling me that I'm making my Ord and PartialOrd implementation not match ([link](https://rust-lang.github.io/rust-clippy/master/index.html#derive_ord_xor_partial_ord)). However, a

[2020-10-24 22:52] #4499 closed

[2020-10-24 22:53] ebroto commented on #6209
Indeed, and we could improve that too, but I think it will be a bit more involved than the cases with division and remainder. I'm going to add the `E-medium` tag for this second potential enhancement.

[2020-10-24 23:54] ebroto commented on #6116
Fixed by #6187

[2020-10-24 23:54] #6116 closed

[2020-10-25 00:26] ebroto opened #6220 "Running `cargo dev ra-setup` multiple times duplicates information about dependencies"
We should check if it was already added and do nothing in case the path to the rust repo is the same, or update with the new path otherwise.

Alternatively, we could at least add a warning about this behavior in the documentation.

[2020-10-25 09:15] #6008 closed

[2020-10-25 09:37] #1540 closed

[2020-10-25 09:56] #5581 closed

[2020-10-25 10:00] flip1995 commented on #6097
Besides making this lint only configurable in the config file, we may want to also make it configurable with an attribute, like `#[clippy::msrv = "1.42.0"]`. This is also done in the `cognitive_complexity` lint.

This could be implemented once cargo supports setting it, aka once the bikeshedding in https://github.com/rust-lang/rust/issues/65262 is over and someone implements it ;)

Otherwise I don

[2020-10-25 10:06] flip1995 commented on #5610
See https://github.com/rust-lang/rust-clippy/blob/6b01c39e644dbe8b358e6c02a51169aa1fbef561/clippy_lints/src/methods/mod.rs#L1903

[2020-10-25 10:09] nipunG314 opened #6221 "use_self lint misidentifies Self simplification"
I tried clippy with this code:

[code]

It throws me the following warning:

[code]

However, core::intrinsics cannot be replaced by Self (which is f32 here). Doing so will result in an obvious compile error.

Any idea why this is happening?

### Meta

- `cargo clippy -V`: clippy 0.0.212 (7bade6e 2020-10-23)
- `rustc -Vv`:
[code]

[2020-10-25 10:31] timvisee commented on #2768
You seem to be right. Tested it on [playground](https://playground.rust-lang.org).

[2020-10-25 10:35] #1765 closed

[2020-10-25 10:56] #1110 closed

[2020-10-25 11:37] #6159 closed

[2020-10-25 11:58] #3973 closed

[2020-10-25 13:57] himajin2045 opened #6223 "False report on same item is being pushed into this Vec"
I tried this code:

[code]

I expected to see this happen:

No warnings.

Instead, this happened:

Clippy warns:
[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (7e6d6e5f5 2020-08-16)
- `rustc -Vv`:
[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-10-25 14:03] ebroto commented on #6223
Hey @himajin2045, thanks for your report!

I can't reproduce this false positive in the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f83f076cd3f15065ba219e96913c37a6).

This was fixed in #6016, and backported to 1.47 in rust-lang/rust#77403. Your Clippy version seems older (2020-08-16), so I think that if you update Clippy you will get rid of that false posi

[2020-10-25 14:03] #6223 closed

[2020-10-25 15:26] ThibsG commented on #2602
I think we can close this now, since we cannot reproduce this anymore.

[2020-10-25 15:29] ThibsG commented on #6129
Now the suggestion fires on playground.

[2020-10-25 15:36] #2602 closed

[2020-10-25 15:56] ThibsG commented on #5827
@rustbot modify labels: +T-async-await +L-enhancement

[2020-10-25 16:46] oli-obk commented on #1404
Ah great, thanks!

[2020-10-25 16:46] #1404 closed

[2020-10-25 17:00] #2538 closed

[2020-10-25 18:46] cauebs commented on #1136
@Manishearth That will still end up linting 15/39 of the current whitelist (`"GitHub", "GitLab", "ClojureScript", "CoffeeScript", "JavaScript", "PureScript", "TypeScript", "NaNs", "OpenStreetMap", "TensorFlow", "TrueType", "LaTeX", "BibTeX", "BibLaTeX", "CamelCase"`). It might be a step in the right direction, but what does it achieve effectively?

I could give this one a crack but I think first w

[2020-10-25 18:53] cauebs commented on #2394
Is there something left to be done here?

Maybe this?

I'm willing to work on it, just need to make sure it's wanted.

[2020-10-25 19:31] cauebs commented on #3812
Seems to me no one is working on this, so I'll give it a go today!

[2020-10-25 19:33] cauebs commented on #1657
I'll see if I can help with this one. Expect a PR this week, or a somewhat sad comment of me giving up. :rofl:

[2020-10-25 20:36] cauebs commented on #3812
I understand we don't have to suggest `unwrap_or_default` for `{Option,Result}.unwrap_or(Default::default())` because that is already covered by [or_fun_call](https://rust-lang.github.io/rust-clippy/master/index.html#or_fun_call), correct?

[2020-10-25 21:31] ebroto commented on #3812
Yes. FYI you can test this quickly in the playground, Clippy can be executed there.

This would not be linted though:
[code]
This could be improved to suggest `unwrap_or_default`, but may be the subject of another issue.

And about the maps
[code]
Is linted, but recommends `or_insert_with(Default::default)`, which is the subject of this issue. I think it's OK if the suggestion of one lint triggers

[2020-10-26 00:36] giraffate commented on #6221
related issue: https://github.com/rust-lang/rust-clippy/issues/4734

@rustbot modify labels: +L-suggestion-causes-error

[2020-10-26 04:27] mikerite commented on #6047
I'm working on an internal lint to do this. Should have a pull request soon.

[2020-10-26 05:25] giraffate commented on #6219
Repro: [playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=795aa41345c637200d89e17b133ad2b3)

@rustbot modify lables: +L-bug

[2020-10-26 20:32] himanoa commented on #6068
Hi, Can I give it a try?

[2020-10-26 22:09] llogiq commented on #6068
It's all yours!

[2020-10-26 23:12] jyn514 opened #6230 "`unused_unit` adds a space after function declarations"
I tried this code (https://github.com/rust-lang/stdarch/blob/598e632e8f62ff5054dfe0d0fabb2a03ecee0a3d/crates/core_arch/src/x86_64/xsave.rs#L8-L11):

[code]

I expected to see this happen: `cargo clippy --fix` converts it to `fn xsave64(p: *mut u8, hi: u32, lo: u32);`

Instead, this happened: `--fix` converts it to `fn xsave64(p: *mut u8, hi: u32, lo: u32) ;`

### Meta

- `cargo clippy -V`: clippy

[2020-10-26 23:16] jyn514 opened #6231 "`while_let_on_iterator` does not consider the borrow checker"
This output is from running clippy on https://github.com/rust-lang/stdarch/blob/598e632e8f62ff5054dfe0d0fabb2a03ecee0a3d/crates/stdarch-test/src/disassembly.rs#L102-L116. The relevant snippet is

[code]
[code]

[2020-10-26 23:58] jyn514 commented on #6230
@rustbot modify labels: +A-suggestion

[2020-10-27 00:12] giraffate commented on #6196
@rustbot modify labels: +L-suggestion-causes-error

[2020-10-27 00:18] giraffate commented on #6196
related issue: https://github.com/rust-lang/rust-clippy/issues/4674

[2020-10-27 00:33] jyn514 opened #6232 "`excessive_precision` adds underscores that weren't there before"
I tried this code:

[code]

I expected to see this happen: `excessive_precision` replaces it with `0.3333333333333333`.

Instead, this happened: `excessive_precision replaces it with `0.333_333_333_333_333_3`.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (ffa2e7a 2020-10-24)
- `rustc -Vv`:
[code]

[2020-10-27 00:33] jyn514 commented on #6232
@rustbot modify labels: +A-suggestion

[2020-10-27 02:34] jyn514 opened #6234 "`deref_addrof` expands macros before creating suggestions"
I tried this code:

[code]

I expected to see this happen: Clippy suggests turning `*&$visitor` to `$visitor`

Instead, this happened: Clippy suggests turning `*&$visitor` to `self`:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (ffa2e7a 2020-10-24)
- `rustc -Vv`:
[code]

[2020-10-27 02:35] jyn514 commented on #6234
@rustbot modify labels: +L-suggestion-causes-error +A-suggestion

[2020-10-27 02:36] jyn514 opened #6235 "Clippy reports warnings twice on suggestion errors"
I tried the code from https://github.com/rust-lang/rust-clippy/issues/6234.
I expected to see one error, from the incorrect 'fixed' code, and one warning from the original code.

Instead, this happened: I saw one error and two warnings:

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (ffa2e7a 2020-10-24)

[2020-10-27 02:37] jyn514 commented on #6235
@rustbot modify labels: +A-suggestion

[2020-10-27 02:58] jyn514 opened #6236 "`vec_box` doesn't take scopes into account"
I tried this code:

[code]

I expected to see this happen: Clippy suggests turning `Vec<Box<S>>` into `Vec<S>`

Instead, this happened: Clippy suggests turning it into `Vec<inner::S>`.

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (ffa2e7a 2020-10-24)
- `rustc -Vv`:
[code]

@rustbot modify labels: +A-suggestion +L-suggestion-causes-error

[2020-10-27 03:04] jyn514 opened #6237 "`try_err` replaces a macro invocation with a different macro invocation"
I'm going to stop making MCVEs for these in the interest of time; I'll link the original code so you can replicate.

I tried this code: https://github.com/rust-lang/rust/blob/a6ff925f8b5598a1f6d84964525baa1d4a08fd63/compiler/rustc_middle/src/mir/interpret/mod.rs#L72-L75

[code]

I expected to see this happen: Clippy only changes the relevant parts of the code

Instead, this happened: Clippy turns

[2020-10-27 03:08] jyn514 opened #6238 "`rc_buffer` expands type aliases, which breaks scoping"
I tried this code (https://github.com/rust-lang/rust/blob/a6ff925f8b5598a1f6d84964525baa1d4a08fd63/compiler/rustc_infer/src/infer/region_constraints/mod.rs#L545):

[code]

I expected to see this happen: Clippy suggests `Lrc<[ty::Region<'tcx>]>`

Instead, this happened: Clippy suggests `Rc<[ty::Region<'tcx>]>`

### Meta

- `cargo clippy -V`: clippy 0.0.212 (4760b8f 2020-10-25)

[2020-10-27 03:14] jyn514 opened #6239 "`map_clone` suggests removing clone altogether"
I tried this code (https://github.com/rust-lang/rust/blob/a6ff925f8b5598a1f6d84964525baa1d4a08fd63/compiler/rustc_codegen_ssa/src/back/write.rs#L1026):

[code]

I expected to see this happen: Not sure this lint should have fired in the first place? This is a `Ref`, not an iterator.

Instead, this happened: Clippy suggests removing the map altogether, giving a type error.

[code]

### Meta

- `carg

[2020-10-27 03:22] jyn514 opened #6240 "`unnecessary_lazy_evaluations` suggestions cause type inferrence errors"
I tried this code (https://github.com/rust-lang/rust/blob/0da6d42f297642a60f2640ec313b879b376b9ad8/compiler/rustc_trait_selection/src/traits/const_evaluatable.rs#L539):

[code]

I expected to see this happen: Not entirely sure ... maybe the lint shouldn't fire at all here, since there's an explicit type annotation for a unit struct?

Instead, this happened: Since `ErrorReported` is helping inferre

[2020-10-27 03:25] jyn514 opened #6241 "`rc_buffer` should not be marked as MachineApplicable"
I tried this code (https://github.com/rust-lang/rust/blob/0da6d42f297642a60f2640ec313b879b376b9ad8/compiler/rustc_passes/src/liveness.rs#L262):

[code]

I expected to see this happen: `rc_buffer` warns, but doesn't change the code since it would also have to change the type of `capture_info_map`.

Instead, this happened: `rc_buffer` tries and fails to substitute the types.

[code]

### Meta

- `ca

[2020-10-27 03:26] mikerite commented on #6232
This is intentional. Otherwise, the suggestion would trigger [unreadable_literal](https://rust-lang.github.io/rust-clippy/master/index.html#unreadable_literal). Generally the suggestions try not to trigger other lints.

[2020-10-27 03:30] jyn514 opened #6242 "`try_validation` unconditionally adds semicolons"
I tried this code (https://github.com/rust-lang/rust/blob/0da6d42f297642a60f2640ec313b879b376b9ad8/compiler/rustc_mir/src/interpret/validity.rs#L78-L96):

[code]

I expected to see this happen: The `Err(e)?` is replaced with `return Err(e)`.

Instead, this happened: It's replaced with `return Err(e);`, causing a syntax error since this is an expression context.

[code]

### Meta

- `cargo clippy -

[2020-10-27 03:34] jyn514 commented on #6232
@mikerite but that lint was already triggering before, and in fact I had `-A clippy::unreadable_literal` on at the time. I would prefer to be consistent with the existing code rather than have cascading changes from a single fix.

[2020-10-27 03:39] jyn514 opened #6243 "`redundant_allocation` should not be marked as machine applicable"
Same reasoning as https://github.com/rust-lang/rust-clippy/issues/6241; fixing this requires non-local changes which can't be done with span suggestions.

I tried this code (https://github.com/rust-lang/rust/blob/0da6d42f297642a60f2640ec313b879b376b9ad8/compiler/rustc_interface/src/queries.rs#L109-L111):

[code]

I expected to see this happen: Clippy warns, but doesn't try to fix the suggestion.

[2020-10-27 03:58] giraffate commented on #6204
@rustbot modify labels: +A-suggestion +L-enhancement

[2020-10-27 08:33] Luro02 opened #6246 "for loop with mutable binding"
### What it does

Suggest replacing
[code]
with
[code]

(I did not even know that this was possible, until I saw [this post](https://www.reddit.com/r/rust/comments/ji1vdr/what_is_the_meaning_of_for_loop_with_mut/) on reddit)

### Categories (optional)

- Kind: `clippy::style`

*What is the advantage of the recommended code over the original code*

less code -> easier to read

### Drawbacks

None.

[2020-10-27 11:05] flip1995 commented on #6232
Usually out policy is to suggest the best possible code (in Clippy's opinion), to prevent triggering another lint on fixed code. But it is  also ok if fixed code triggers a new lint, if the suggestion generation would otherwise be too hard.

I'm not sure, if we should change the suggestion behavior of this lint. We could hack, that it only suggests adding underscores, if the `unreadable_literal` l

[2020-10-27 13:07] jyn514 commented on #6242
Actually I think this is the same issue as https://github.com/rust-lang/rust-clippy/issues/6234, clippy is expanding `e` to `$e`. But that seems really weird because e is a variable and not a macro parameter.

[2020-10-27 15:05] matthiaskrgr commented on #6246
Hmm, I personally think that
[code]
is easier to understand because it conveys that the scope of the inner `i` stays inside the `for { }`-encapsulated block and that the inner `i` is reset to the outer `i` value at the end of each loop iteration. (just my 2 cents)

[2020-10-27 15:14] jplatte opened #6249 "Macro-generated code triggers suspicious-else-formatting"
I tried this code:

[code]

(added some context because indentation level might matter? or maybe it's just entirely unformatted macro output)

I expected to see this happen: No warnings

Instead, this happened:

[code]

### Meta

(will fill this in once I can reproduce on a local computer again, right now fails on CI, probably `clippy 0.0.212 (ffa2e7a 2020-10-24)`)

[2020-10-27 15:50] matthiaskrgr opened #6250 "ICE: glacier ./77218.rs : ice while adjusting.."
### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-10-27 15:52] matthiaskrgr opened #6251 "ICE: glacier ./77329.rs assertion failed: `(left == right)` DefId"
### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-10-27 15:56] matthiaskrgr opened #6252 "ICE glacier ./77919.rs: encountered errors resolving bounds after type-checking"
### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-10-27 21:58] camelid opened #6253 "Running `cargo check` after having run `cargo clippy` reports clippy errors"
`cargo check` reports clippy errors and warnings after having run `cargo clippy`.

### Steps to reproduce

1. Add some code that clippy will lint on but rustc will not
2. Run `cargo clippy` -- observe some errors and warnings
3. Run `cargo check` -- observe the errors and warnings produced by clippy!

Running `cargo clean` fixes this, but that's kind of unfortunate. I'm guessing this is related to

[2020-10-27 22:00] camelid commented on #6253
Likewise, and more concerning, running `cargo check` and then `cargo clippy` hides clippy errors.

[2020-10-27 22:03] ebroto commented on #6253
This is probably #4612

Can you check if the behavior disappears if using `cargo +nighly clippy -Z unstable-options` ?

[2020-10-27 22:05] camelid commented on #6253
### Example

#### Setup

1. Run `cargo new clippy-issue-6253`
2. Set **src/main.rs** to this:
[code]

#### clippy, then check, then clippy

[code]

#### check then clippy

I ran `cargo clean` after the previous step to clear the build cache.

[code]

[2020-10-27 22:05] mati865 commented on #6253
Yes, it's cargo issue that Clippy cannot fix.

[2020-10-27 22:07] camelid commented on #6253
@ebroto Yes, it works as expected with that command. Do you know how long it will be until that's stable?

[2020-10-27 22:14] ebroto commented on #6253
This is rust-lang/cargo#8143.

We're currently working towards stabilizing that. #6188 is one step forward, which I plan to finish after hacktoberfest is over and I can catch a break from reviewing :)

[2020-10-27 22:15] ebroto commented on #6253
I'm going to close this issue since it seems to be a duplicate.

Thanks for your report anyway!

[2020-10-27 22:15] #6253 closed

[2020-10-27 22:29] matthiaskrgr opened #6254 "ICE: assertion failed: rows.iter().all(|r| r.len() == v.len())"
from `./src/test/ui/pattern/usefulness/consts-opaque.rs`
### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-10-27 22:33] matthiaskrgr opened #6255 "ICE: inconsistent resolution for a macro"
### Code
code from `./src/test/ui/macros/issue-78325-inconsistent-resolution.rs`
[code]
`clippy 0.0.212 (ffa2e7a 2020-10-24)`
### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-10-27 22:35] matthiaskrgr opened #6256 "ICE: to get the signature of a closure, use ..."
### Code
code from `./src/test/ui/regions/issue-78262.rs`
[code]

### Meta

- `cargo clippy -V`: `clippy 0.0.212 (ffa2e7a 2020-10-24)`
- `rustc -Vv`:
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-10-27 22:38] ebroto commented on #6254
This seems to be crashing during the `analysis` pass of rustc, no? (so, before Clippy runs its late passes)

[2020-10-27 23:23] #6186 closed

[2020-10-27 23:28] khyperia commented on #6196
Looks like this (my issue) is a duplicate, feel free to close this if you'd like.

[2020-10-28 00:10] ebroto commented on #6256
It seems this one does not reproduce in current master nor in Clippy from ~2 days ago in the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c0c2dec7707ed4f80a1d6a1049f382a8)

[2020-10-28 00:11] ebroto commented on #6256
It breaks rustc though if you try to finish a build :)

[2020-10-28 00:18] ebroto commented on #6255
This one seems to affect the `Resolver`. It does not reproduce with the current master/nightly ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=03e39da56ecccc423e79b3649b8defaa))

[2020-10-28 00:20] ebroto commented on #6252
Does not seem to trigger in current nightly/master ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a97c5159ab59548e67b7eae51107bcca))

[2020-10-28 00:22] ebroto commented on #6251
Does not seem to reproduce in the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bd6a3fd7adb58f10a9c318db5e2eabbb) for the current Clippy.

[2020-10-28 00:25] ebroto commented on #6250
This one crashes in beta but not in nightly. Latest Clippy seems to work fine. [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=95aa57771aa7eccfe36a2a89fa768915)

[2020-10-28 05:38] #6196 closed

[2020-10-28 10:03] ebroto commented on #5265
Closing as it seems it can't be reproduced anymore. See this [Zulip conversation](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/nonminimal-bool/near/214739632).

[2020-10-28 10:03] #5265 closed

[2020-10-28 10:53] RalfJung opened #6259 "Lint against `panic!(format!(...))` and `assert!(..., format!(...))`"
### What it does

`assert!` and `panic!` have built-in support for formatting, but they also accept arguments of type `String`, so one could use `format!` instead.

Using `format!` here is entirely unnecessary, and yet [happens in the wild](https://github.com/clap-rs/clap/blob/0c7da9f5b32bcd6968a70258a4868d439fbc1fc3/src/app/parser.rs#L181-L184), so this seems like a useful target for a Clippy lin

[2020-10-28 11:06] m-ou-se commented on #6259
It will probably be very soon that rustc itself has a lint for `panic!(not-a-string-literal)` and `assert!(expr, not-a-string-literal)` (to warn about the potential upcoming edition change), so it might not be worth it to add this to Clippy now.

[2020-10-28 15:02] kangalioo opened #6261 "Warn on push_str(&format!())"
### What it does

Emits a warning on code like ```rust
some_string.push_str(&format!(...));
// or
some_string += &format!(...);
[code]

### Categories
- Kind: `Perf`

*What is the advantage of the recommended code over the original code*
It avoids one extra heap allocation by writing directly to the existing String instead of creating a new temporary String.

### Drawbacks
The user has to `use std

[2020-10-28 15:46] camsteffen opened #6262 "Use len() instead of iter().count()"
### What it does

Suggests using `collection.len()` instead of `collection.iter().count()`.

### Categories (optional)

- clippy::complexity

*What is the advantage of the recommended code over the original code*

Simpler, idiomatic.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

### Notes

* Should work with all collections in std, and slices
* Should also work with `in

[2020-10-28 16:40] memoryruins commented on #6064
Ah right, `restriction` ^^; it would definitely fit there.

[2020-10-29 00:59] giraffate commented on #6259
related issue: https://github.com/rust-lang/rust-clippy/issues/5013

[2020-10-29 07:49] emilk opened #6265 "Needless / unnecessary Result"
### What it does

[code]

Suggested clippy lint: "Needless use of `Result` (function never returns `Err`). Consider changing the return type to `i32` ."

(Unsure if it should be "needless" or "unnecessary", see https://github.com/rust-lang/rust-clippy/issues/2845)

### Categories (optional)

`clippy::complexity` (code that does something simple but in a complex way)

The use of this lint would mos

[2020-10-29 07:51] llogiq commented on #6265
Let's only lint this on non-exported `fn`s, as public items are part of the API and we don't want to have clippy suggest breaking changes.

[2020-10-29 08:12] #6220 closed

[2020-10-29 10:12] matthiaskrgr commented on #6265
Duplicate of https://github.com/rust-lang/rust-clippy/issues/5969

[2020-10-29 10:12] #6265 closed

[2020-10-29 10:26] emilk commented on #6265
@matthiaskrgr thanks - I searched for "unnecessary result" and "needless result", but not "unneeded result" 🤦‍♂️

Anyway, very happy to see this being worked on in https://github.com/rust-lang/rust-clippy/pull/6070 :)

[2020-10-29 14:02] lzutao opened #6266 "`or_fun_call` lint shouldn't ignore indexing to HashMap types"
*See also the perf improvement in rustc: <https://github.com/rust-lang/rust/pull/78508>*.

Currently, `or_fun_call` lint doesn't lint on indexing to HashMap types.

I tried this code:

[code]

I expected to see this happen: A warning to `unwrap_or` method call because
`map[&idx]` maybe expensive (indexing to a hashmap).

Instead, this happened: No warning at all.

### Meta

- `cargo clippy -V`: 0.

[2020-10-29 14:46] camsteffen commented on #6266
`map[&idx]` is syntactic sugar for `map.index(&idx)` (a function call). The specific type of `map` doesn't really matter.

[2020-10-29 14:51] #5849 closed

[2020-10-29 15:12] #578 closed

[2020-10-29 15:34] #6217 closed

[2020-10-29 15:54] #6208 closed

[2020-10-30 00:25] giraffate commented on #1442
[`useless_format`](https://rust-lang.github.io/rust-clippy/master/#useless_format) seems to fix this.

[2020-10-30 00:34] giraffate commented on #6239
`map_clone` works with not only `Iterator` but `Option` although not written in [doc](https://rust-lang.github.io/rust-clippy/master/#map_clone).

[2020-10-30 00:35] jyn514 commented on #6239
Gotcha, thanks. It should still suggest `cloned()` instead of removing the clone altogether, though.

[2020-10-30 00:36] jyn514 commented on #6239
@rustbot modify labels: +A-suggestion +L-suggestion-causes-error

[2020-10-30 00:37] jyn514 commented on #6239
Actually I think this is still wrong - `r.clone()` clones the _path_, not the `Ref`. So `.cloned()` wouldn't do anything here - it would leave you with an `Option<Ref<PathBuf>>` still. I think clippy isn't taking deref coercion into account.

[2020-10-30 00:48] camsteffen commented on #6239
I can fix this.

[2020-10-30 05:22] mikerite commented on #6266
Should all indexing be linted or specifically indexing HashMap types? Is it OK to index a Vec?

[2020-10-30 05:49] #1442 closed

[2020-10-30 07:05] piotr-d opened #6268 "cargo clippy gives me error as below"
error: internal compiler error: compiler/rustc_mir_build/src/thir/pattern/_match.rs:934:18: trying to compare incompatible constructors Single and Str(Const { ty: &str, val: Value(Slice { data: Allocation { bytes: [105, 115, 115, 117, 101], relocations: Relocations(SortedMap { data: [] }), init_mask: InitMask { blocks: [31], len: Size { raw: 5 } }, size: Size { raw: 5 }, align: Align { pow2: 0 },

[2020-10-30 07:52] matthiaskrgr commented on #6268
This is a rustc bug which is already tracked here: https://github.com/rust-lang/rust/issues/78549
Closing.

[2020-10-30 07:52] #6268 closed

[2020-10-30 09:14] lzutao commented on #6266
I would like to exclude Vec, slice and array types since indexing into those types
is usually just a pointer arithmetic and a dereference.

[2020-10-30 11:01] #3128 closed

[2020-10-30 13:50] camsteffen commented on #6266
Excluding slices seems arbitrary to me. If it is not const, why would you not defer it? Especially since the lambda will be inlined. Also indexing a slice includes a bounds check and is fallible.

However, the lint is named `or_fun_call` and not `or_non_const`. Perhaps that could be a separate lint? I think we need more input here.

[2020-10-30 21:16] Nadrieril opened #6273 "index out of bounds ICE in `repeat_once` lint"
Message:
[code]

<details>
<summary>Backtrace</summary>
thread 'rustc' panicked at 'index out of bounds: the len is 1 but the index is 1', src/tools/clippy/clippy_lints/src/repeat_once.rs:44:93
stack backtrace:
   0: rust_begin_unwind
             at /rustc/18bf6b4f01a6feaf7259ba7cdae58031af1b7b39/library/std/src/panicking.rs:475
   1: core::panicking::panic_fmt
             at /rustc/18bf6b4f01a6

[2020-10-30 21:25] ebroto commented on #6273
Thanks for your report!

This was fixed in #5948 but did not make it to 1.47. It should be fixed in the current beta.

There's rust-lang/rust#77750 so in case there is a point release, the fix for this would make it.

[2020-10-30 21:25] #6273 closed

[2020-10-30 22:40] #6250 closed

[2020-10-30 22:40] #6251 closed

[2020-10-30 22:40] #6252 closed

[2020-10-30 22:40] #6255 closed

[2020-10-30 22:40] #6256 closed

[2020-10-31 01:57] Aaron1011 opened #6274 "Detect when paths in `src/utils/path.rs` become outdated"
Clippy lists a lot of different paths in https://github.com/rust-lang/rust-clippy/blob/084b203988e04bcf89d3b2d6bbc77b65ecfab553/clippy_lints/src/utils/paths.rs, which are represented as strings. If one of these becomes invalid due to a compiler refactoring, Clippy will continue to compile - however, the behavior of lints may change, since the path will never match anything.

It would be useful to

[2020-10-31 02:45] Ryan1729 opened #6275 "Add support for if statements to suspicious_operation_groupings lint"
The suggestions made in #6039 lead to the `suspicious_operation_groupings` lint which was initially added in #6086, a PR I wrote.

As part of those suggestions, the idea of making the lint trigger on buggy groups of if statements came up. The PR #6086 took a long time, so I figured it would be a good idea to postpone adding the if statement portion, as well as a particular kind of buggy expression

[2020-10-31 08:51] ebroto commented on #6274
Duplicate of #6047

FYI #6244 partially addressed this, but the dogfood tests don't run in the rustc repo (I guess because it takes some time), so we need to find a way to check those paths, ideally without duplication.

[2020-10-31 08:51] #6274 closed

[2020-10-31 12:50] dp304 commented on #6082
@nahuakang are you still working on this issue?

[2020-10-31 12:53] nahuakang commented on #6082
@dp304 Yes I intend to. However if you are active and can send a PR in a few days, feel free to take it over.

[2020-10-31 19:33] camsteffen opened #6279 "Make needless_bool work on a single bool"
The needless_bool lint can be expanded to cover if/else statements where one of the two blocks is a literal bool.

In each pair of lines below, the first line can be replaced with the second. Even though the transformation may not be very obvious, I think the result is definitely more readable.

[code]

[2020-10-31 19:43] dp304 commented on #6082
@nahuakang I haven't noticed your comment edit, so I've made a PR. Sorry about that.

[2020-10-31 20:02] camsteffen commented on #6279
Implementation note:
[code]

[2020-10-31 20:05] nahuakang commented on #6082
Cool, then I'll read your PR and learn from you!

[2020-10-31 23:59] derekdreery opened #6281 "ICE: I'm not sure why"
### Code

 - Get the latest master of [`druid`](https://github.com/linebender/druid)
 - `cd druid`
 - `cargo clippy --manifest-path=druid/Cargo.toml --all-targets --features=image,im --target wasm32-unknown-unknown -- -D warnings`

### Meta

- `cargo clippy -V`: clippy 0.0.212 (18bf6b4 2020-10-07)
- `rustc -Vv`:
[code]

### Error output

<details>
<summary> error output </summary>

[code]
</detail

[2020-11-01 06:54] ebroto commented on #6281
Thanks for your report!

This was fixed in #5948 but did not make it to 1.47. It should be fixed in the current beta.

There's rust-lang/rust#77750 so in case there is a point release, the fix for this would make it.

[2020-11-01 06:54] #6281 closed

[2020-11-01 23:22] cauebs commented on #2997
Have you guys got anything done? I'm thinking of giving this one a go.

I checked the documentation and the intrinsics module is quite regularly documented, so I'll probably use a Python script to scrape the pages and check which functions have safe alternatives linked. Having that list, the rest should be quite easy, right? Just checking paths in expressions.

Let me know if anyone's working on t

[2020-11-01 23:25] cauebs commented on #758
Why do you say it's better? Because that way it won't accumulate the error over successive operations?

Is that always better? The code might get a bit uglier, and precision might not matter much.

[2020-11-01 23:32] giraffate commented on #6275
@rustbot modify labels: +L-enhancement

[2020-11-01 23:36] giraffate commented on #6279
@rustbot modify labels: +L-enhancement

[2020-11-01 23:42] giraffate commented on #6051
related discussion: https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/rustfix.20and.20comments

[2020-11-01 23:45] giraffate commented on #6266
@rustbot modify labels: +L-enhancement

[2020-11-02 08:06] pickfire commented on #2997
@cauebs I noticed that the link dtolnay pointed out is even pointing to the same link. Not sure if scraping from python side would be a good idea since it may be outdated later on. I wonder if the rustdoc team can help on this. Let me ping @jyn514 first. But if we want to make it easier, a macro to indicate stable alternative may be easier than scraping from html text I believe.

[2020-11-02 12:58] royster57 opened #6283 "Compiler unexpectedly panicked"
thread 'rustc' panicked at 'Box<Any>', compiler/rustc_errors/src/lib.rs:945:9
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust-clippy/issues/new

note: Clippy version: clippy 0.0.212 (ffa2e7a 2020-10-24)

query stack during panic:
#0 [typ

[2020-11-02 15:31] jyn514 commented on #2997
If you want this to be automated, you'll need an attribute on it anyway for rustdoc to understand it. At that point I think it makes more sense to just add `#[deprecated("use the stable wrapper instead")]`, which can be added one by one without special casing from either clippy or rustdoc.

[2020-11-03 09:19] Nevsden opened #6285 "If-same-then-else bug for chained inequality expression"
I tried this code:

[code]

I expected to see this happen: everything works fine. Clippy does need to not complain. Both inequality chains within the two if conditions are different from each other.

Instead, this happened:

[code]

### Meta

- `cargo clippy -V`: e.g. clippy 0.0.212 (18bf6b4f0 2020-10-07)
- `rustc -Vv`:
[code]
There is no need for a backtrace hence I omitted it.

[2020-11-03 15:59] #6026 closed

[2020-11-03 16:21] #5679 closed

[2020-11-03 17:23] NieDzejkob opened #6286 "Lint for use of operator's trait's method instead of the operator itself"
### What it does

If somebody calls `std::ops::Add::add(foo, bar)`, suggest `foo + bar`.

In my experience with Exercism, beginners often find the API they need in the trait, not realizing its relation to the operator. Naming the trait method requires an import and is usually unnecessarily verbose, so we might want to lint against it.

### Categories

- Kind: `clippy::style`

### Drawbacks

None.

[2020-11-03 23:34] giraffate commented on #6283
Could you provide a minimal example where this happen?

@rustbot modify labels: +L-crash

[2020-11-03 23:41] giraffate commented on #6285
related issue: https://github.com/rust-lang/rust-clippy/issues/3770

[2020-11-04 09:47] mlegner commented on #6061
@flip1995 So you suggest to check for both `.map(..).filter(is_some).map(unwrap)` and `.filter(is_some).map(unwrap)` and suggest `.filter_map(..)` and `.flatten()`, respectively? Currently, only chains of two methods are [considered in the lint](https://github.com/rust-lang/rust-clippy/blob/3a34bc017d2e9334ed2ee3513b248003c2d90a5c/clippy_lints/src/methods/mod.rs#L1467). So simply checking for `.fi

[2020-11-04 10:37] eddyp commented on #6161
In my view the second is the correct approach as on no_std you can customary use an empty `loop {}` only on unrecoverable errors. Main loops, even in an interrupt driven application, is expected to have a non-empty loop as it should contain at least some code to save power (e.g. `WFI` on ARMv7-M ISA).

[2020-11-04 10:45] bbqbaron commented on #6061
@mlegner I've been following the convo. I got a hacky implementation working when I first picked it up, just to get the project running, and then was waiting for this desired behavior question to shake out.

[2020-11-04 10:45] therealprof commented on #6161
`WFI` interacts badly with a debugger. At the moment there're legitimate reasons to want a truly empty loop, maybe there should be a `libcore` function providing such a functionality in a problem free manner?

[2020-11-04 15:14] matthiaskrgr opened #6289 "match_like_matches_macro ignores #[cfg()] attribute in suggestion"
Code from cargo

[code]

clippy will suggest
[code]

Note that it does not take the `#[cfg]` attributes into account, blindly applying the suggestion would alter semantics.

`clippy 0.0.212 (601c13c 2020-11-04)`

[2020-11-04 22:42] #568 closed

[2020-11-04 23:04] #6230 closed

[2020-11-05 09:25] ThibsG commented on #6237
This is the same error you reported in #6242, but this time the call site (from which the suggestion is built) is also from a macro.

[2020-11-05 15:04] vityafx opened #6297 "False-positive of needless_collect"
I tried this code:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fcce6c78cde42304eca00c54f85b1914)

I expected to see this happen: everything is fine as there is no other way to execute this code - you can't know in advance whether there are elements or not.

Instead, this happened: the lint says I can avoid collecting while I clearly can't.

### Meta

[2020-11-05 15:10] giraffate commented on #6297
related issue: https://github.com/rust-lang/rust-clippy/issues/5991

[2020-11-05 18:04] Urcra commented on #6261
I had actually thought this would be optimized away but seems like the slowdown is quite significant in release mode see example here https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=daed734101a8d8bc0c6a7bd811154504

There are some additional drawbacks in addition to the ones you mentioned however. `write!` returns a result so you would need to write it as:

[code]

Which

[2020-11-05 19:22] vityafx opened #6299 "False-positive map_clone"
I tried this code:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0c3e6baf62ceeb00f7e1ca7e7cedacfa)

I expected to see this happen: a doable suggestion.

Instead, this happened: the suggestion isn't possible to satisfy: the `cloned()` method on an iterator of mutable references can't produce a collection of cloned/owned objects:

[code]
[playground](ht

[2020-11-05 23:12] giraffate commented on #6299
@rustbot modify labels: +L-suggestion-causes-error

[2020-11-06 04:30] matsujika opened #6300 "New lint on capitalized acronym"
### What it does

Warns on uses of a capitalized acronym(e.g. `HTTP` not `Http`) in camel case idents.

### Categories (optional)

- Kind: `style`(?)

Though capitalized acronyms are against [naming convention](https://doc.rust-lang.org/1.0.0/style/style/naming/README.html) and might be mistakenly practiced by users, nor rustc and clippy doesn't have a lint for this.

### Drawbacks

None.

### Exa

[2020-11-06 05:19] giraffate commented on #6300
related issue: https://github.com/rust-lang/rust-clippy/issues/1335

[2020-11-06 08:24] ebroto commented on #6300
Thanks for taking the time to file the issue.

I'm closing this as duplicate of #1335 because that one has a bit more info about false positives.

[2020-11-06 08:24] #6300 closed

[2020-11-06 09:13] imeoer commented on #1209
Maybe we can try `RUSTFLAGS="-D warnings" cargo build`.

[2020-11-06 14:47] matthiaskrgr opened #6302 "ICE running clippy master on rustc master while checking libcore"
When running clippy from the master toolchain of dc06a36074f04c6a77b5834f2950011d49607898 on the rustc repo dc06a36074f04c6a77b5834f2950011d49607898 as part of "./x.py clippy"
[code]
clippy crashes:
[code]
https://github.com/rust-lang/rust-clippy/blob/b20d4c155d2fe3a8391f86dcf9a8c49e17188703/clippy_lints/src/methods/mod.rs#L3904

[2020-11-07 10:24] #6240 closed

[2020-11-07 16:12] #3825 closed

[2020-11-07 16:12] #3962 closed

[2020-11-07 17:26] #5487 closed

[2020-11-07 18:31] #6302 closed

[2020-11-08 01:11] matthiaskrgr commented on #6283
I'm closing this; with the little information given in the ticket we won't be able to do anything about this crash.

[2020-11-08 01:11] #6283 closed

[2020-11-08 01:50] #6299 closed

[2020-11-08 04:24] mikerite opened #6306 "Put internal lints behind a feature flag"
We shouldn't ship internal lints to end users. It's just wasted bytes and late passes. There is also the possibility that an internal lint "escapes from the the lab" and causes crashes or bad suggestions. We can put the lints behind a feature flag and only enable it when doing the `dogfood` test. That would ensure that the lints continue to check Clippy code without making it into a release.

[2020-11-08 12:02] #6161 closed

[2020-11-08 12:25] #6236 closed

[2020-11-08 12:39] stanislav-tkach opened #6307 "The `wrong_self_convention` lint should be applied to traits too"
In the following code the `wrong_self_convention` is triggered for the `S` struct only (the `to_a` method), but not for the trait declaration (the `to_b` method):

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (18bf6b4 2020-10-07)
- `rustc -Vv`:
[code]

[2020-11-08 14:53] flip1995 commented on #6061
Nope, I'm suggesting only linting `.filter(is_some).map(unwrap)` and let the other lint handle the `map()` case, if applicable. Linting applied suggestions is totally fine for Clippy.

[2020-11-08 22:25] #6266 closed

[2020-11-09 01:04] giraffate commented on #6307
@rustbot modify labels: +L-enhancement

[2020-11-09 05:47] #6234 closed

[2020-11-09 05:47] #6237 closed

[2020-11-09 05:47] #6242 closed

[2020-11-09 05:51] Fullstop000 opened #6312 "field_reassign_with_default could be false positive"
I tried this code:

[code]

I expected to see this happen:
Clippy reports ok as the `delay_data_sync` does not implement `Copy`

Instead, this happened:
Clippy complains about `field assignment outside of initializer for an instance created with Default::default()`. If refactor the codes as the suggestion clippy provides, `rustc` just throws the error:
[code]

### Meta

- `cargo clippy -V`: clippy

[2020-11-09 11:37] flip1995 commented on #6312
Can you provide an example on playground? I don't get this error after applying the lint: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fd91b8b2b9816020ea07f4751cefb99b)

[2020-11-09 17:16] MikailBag opened #6314 "If future returns Pending, it must store waker"
### What it does
If future returns Pending, it should use the provided waker to notify executor that it can be polled again.
If the waker is not stored, the future will be unable to notify it and therefore it will be never polled again. Such a future is probably incorrect.

### Categories (optional)

- Kind: correctness
### Drawbacks
False positive here is a future that sometimes diverges and some

[2020-11-10 04:19] Fullstop000 commented on #6312
@flip1995 Sorry I forgot to post the `Drop` part
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3f6e5e3e6ca7da0317fb753cf0d2a1bd

[2020-11-10 09:03] CGMossa opened #6315 "Manual RangeInclusive implementation needs a space when using floats."
Clippy gave me this message:

[code]

But this `!(0...=1.).contains(&p)` is not valid,
it needs a space i.e. `!(0. ..=1.).contains(&p)`.

I don't know how to report this in a better way, but here you go.

### Meta

- `cargo clippy -V`: e.g. clippy 0.0.212 (f455e46 2020-06-20)
- `rustc -Vv`:
[code]
I'm not including a backtrace, as there was no panic to trace.

Thanks!

[2020-11-10 13:14] giraffate commented on #6315
@rustbot modify labels: +L-suggestion-causes-error

[2020-11-10 18:43] xldenis commented on #5803
Is there any hope for a proper solution in Rust analyzer? I'm currently using the `NOT_A_PLATFORM` trick but it's not very portable or easy to share.

[2020-11-10 22:59] #4298 closed

[2020-11-10 23:46] ebroto commented on #6312
Indeed, the `Drop` part is important. We hit [E0509](https://doc.rust-lang.org/nightly/error-index.html#E0509) because [functional record update](https://doc.rust-lang.org/reference/expressions/struct-expr.html#functional-update-syntax) `moves or copies the remaining fields`. Since `Arc<AtomicBool>` does not implement `Copy` we are moving out of the struct that implements `Drop`.

To fix this, we

[2020-11-11 00:38] giraffate commented on #6315
I will prepare a fix.

[2020-11-11 01:09] #6239 closed

[2020-11-11 13:12] thombles commented on #4295
I want to add a +1 since I ran into this reviewing a PR the other day where the submitter defaulted to using `Relaxed`. Replacing `Mutex<bool>` with `AtomicBool` like it shows [in the example](https://rust-lang.github.io/rust-clippy/master/index.html#mutex_atomic) is easy, but now you need to reason correctly about `Ordering`. Speaking only for myself, I've read about three articles about memory o

[2020-11-11 17:48] mlegner commented on #6209
After looking into this some more, I noticed that `rustc` already raises errors whenever there is _definitely_ an overflow because the right operand (in case of division/remainder by 0 and left/right shift) or both operands (division by -1, addition, subtraction, multiplication) are constants/literals. So we could simply not trigger the lint in all these cases in addition to restricting it for div

[2020-11-11 18:03] mlegner opened #6321 "Lint for calculating remainder with divisor of -1"
While for remainder with 1 there is the [modulo_one](https://rust-lang.github.io/rust-clippy/master/index.html#modulo_one) lint, a remainder with -1 is only caught by the [integer_arithmetic](https://rust-lang.github.io/rust-clippy/master/index.html#integer_arithmetic) lint, which is disabled by default ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=46cc562db

[2020-11-11 20:31] camsteffen commented on #6261
If anyone asks about using `write!` with `String`, just change the subject to how amazing Rust's ownership system is or something like that.

[2020-11-11 21:41] cauebs opened #6322 "Keep the hacktoberfest topic in the repo for a while longer"
Last month I started contributing because of hacktoberfest and, besides having learned a lot, I also like to believe I was effectively helpful.

Some conditions for PRs to count towards the prize (a cool t-shirt that most of us like to collect) require the repo to be marked with the `hacktoberfest` topic, which it was. I'm hoping it could be brought back, just for this month while we wrap things u

[2020-11-11 21:46] cauebs commented on #6322
Actually, it seems it is not possible to undo this.

https://github.com/digitalocean/hacktoberfest/issues/724

[2020-11-11 23:23] giraffate commented on #6321
@rustbot modify labels: +L-enhancement

[2020-11-12 01:02] wchargin opened #6323 "`needless_update` can be good with `..T::default()` for compatibility"
Clippy’s `needless_update` lint [fires on the following code][play]:

[code]

[code]

This is reasonable and sensible. But there are cases where the above
code is what I want. Specifically: if I expect to add more fields to `S`
later with default values, then including `S::default()` means that I
won’t have to update this call site.

I understand that that kind of thing is not entirely Rustic: hav

[2020-11-12 06:14] kentfredric opened #6324 ""compat" lint category and related lints?"
### What it does

In general, most of the lints presently in clippy seem to promote "latest features" and "modern practices", which is fine for people who are developing end-of-the-dep chain apps.

However, there are those of us who would rather strive towards the broader goal of maximising source compatibility with a broad range of Rust's, or have a water mark MSRV they target.

My proposal is re

[2020-11-12 09:40] jasoncarr0 opened #6326 "mut_from_ref should not trigger on code which is fully safe"
The reason that is given for the lint is that "This is trivially unsound, as one can create two mutable references from the same (immutable!) source. This error actually lead to an interim Rust release 1.15.1." but this warning only makes sense when some of the code is unsafe.

This can occur without issue when using arenas, at least some of which follow the condition of producing an exclusive ref

[2020-11-12 10:34] mlegner commented on #6321
If maintainers agree that this is worthwhile, I'm happy to create a PR.

[2020-11-12 10:34] mlegner commented on #6209
@ebroto If you agree with my assessment and suggestions, I'm happy to raise a PR fixing this.

[2020-11-12 11:41] hamza1311 opened #6327 "Clippy fails for "unused imports" when imports are used in rustdoc"
Clippy fails for unused imports when imports are used in rustdoc. This feature is [documented](https://doc.rust-lang.org/beta/rustdoc/linking-to-items-by-name.html) and is available in beta and should be supported by clippy

I tried this code: https://github.com/hamza1311/clippy-bug-repro

### Expected results
clippy to succeed because `Second` is used in rustdoc

### Actual results
Fails with "er

[2020-11-12 11:55] flip1995 commented on #6327
`unused_imports` is a rustc lint, not a Clippy lint. Is the `use` statement necessary for rustdoc to correctly link to `Second`?

[2020-11-12 11:58] hamza1311 commented on #6327
Huh. I assumed clippy controls that when it is invoked. Is this not the right place for this bug report? If so, where should I report it?

Yes, without it, the following error shows up

[code]

[2020-11-12 12:05] flip1995 commented on #6327
The `use` statement is necessary, if you want to write ``[`Second`]``. But you can also write ``[`Second`][`crate::second::Second`]`` which works without an import.

I don't think this is a bug. If you still consider this as a bug, please report it in rust-lang/rust or ask on the [`rustdoc` Discord](https://discord.gg/SpZ8R2wK).

Nope, Clippy only adds lints to rustc. rustc itself also has lints.

[2020-11-12 12:05] #6327 closed

[2020-11-12 23:00] jrqc commented on #5557
Added a new lint called `not_exhaustive_enough`.
Opening a WIP PR now

[2020-11-12 23:38] giraffate commented on #6323
@rustbot modify labels: +L-enhancement

[2020-11-12 23:38] giraffate commented on #6326
@rustbot modify labels: +L-enhancement

[2020-11-13 16:07] ThibsG commented on #3986
Recently, improvements have been done with the use of `llvm-cov` (see https://github.com/rust-lang/rust/issues/34701).

[Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/Clippy.20code.20coverage) to see rendering work done by @flip1995.

To improve this rendering, one leftover question is how to exclude dependencies from the results (e.g. exclude results from `.carg

[2020-11-14 00:44] glandium opened #6331 "unnecessary_cast for u8 as c_char on some platforms"
On many platforms, c_char is an alias for i8. On some others, though, it's u8.

So when you have code like
[code]
which is necessary on those many platforms, clippy complains when run on one of those other platforms (e.g. aarch64 linux).

[2020-11-14 08:27] #6315 closed

[2020-11-14 13:23] matthiaskrgr opened #6332 "ICE: "already checked this is a reference" checking `rustc_ast_passes`"
### Code

EDIT:
[code]

### Meta
clippy is @ 408b615d3451d00c21b303fd8aeb74b77970a4a9

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-11-14 19:27] #6322 closed

[2020-11-14 21:42] flip1995 commented on #6322
Oh, sorry about that. I was told that PRs had to be accepted during October and then thought removing the hacktoberfest topic  was safe to do in November. I removed the topic 5 (?) days ago. Basically, everything that was said in this comment https://github.com/digitalocean/hacktoberfest/issues/724#issuecomment-721728367 is what I think about this situation.

Again, I'm really sorry for everyone w

[2020-11-14 22:03] cauebs commented on #6322
@flip1995 Totally not your fault. I expected it to be like that as well. But it's ok, let's not be mean to the people organizing this. It was an honest mistake and I believe it will work better next year.

The main objective, which was incentivizing people like me to contribute, was accomplished (even though I was tricked into it! hahah). Thanks for your work, and I hope I find the time to continu

[2020-11-14 22:05] flip1995 commented on #6322
Definitely not, those people are awesome for making this possible!

Let me know, how I can trick you into contributing even more 😜

[2020-11-15 01:38] matthiaskrgr commented on #6332
reduced:
[code]

[2020-11-15 13:30] HeroicKatora opened #6335 "False positive: print_literal with numeric literal arguments"
I tried this code:

[code]

I expected to see this happen: no warnings, the decimal conversion is printed.

Instead, this happened:

[code]

The same issue appears with float literals. The problem is that the source code representation need not equate the printed number in any obvious way. As hopefully shown by the example above, there are a number of conversion applied to literals that might make

[2020-11-16 09:07] #6010 closed

[2020-11-16 13:39] matthiaskrgr commented on #6332
cc @ThibsG

[2020-11-16 20:30] flip1995 commented on #6324
There's currently implementation work done, to specify the MSRV for Clippy, so Clippy doesn't suggest code that doesn't compile with the MSRV. #6201

IIUC, what you want is a step further: You want a lint, that checks functions/macros/... if they are also available in the specified MSRV? This might be possible, at least for things in `std`/`core`/`alloc`, which should cover most, if not all of the

[2020-11-17 03:26] kentfredric commented on #6324
Indeed. I mean, the "objective" is to make the best possible prediction, without needing to have the spare rustc lying around.

Yeah, its a pattern I've seen a few times:
* A given syntax is entirely ignored on old cargo/rustc and so nothing fails.
* A given syntax then is "added", but added "experimentally", and so, the existence of it fails due to "you're using an experimental feature, but you'r

[2020-11-17 18:04] eddyp commented on #6161
Is that something specific to Rust code? Or some specific boards/SoCs? Can you provide more details?

I am yet to encounter such issues with JTAG debuggers in C code I worked with, and have limited experience with non-play embedded Rust code that would contain the main loop (making power saving instructions needed).

BTW, the issue is closed now, so if you have issues, you might want to follow up,

[2020-11-17 18:18] #6332 closed

[2020-11-17 20:51] #5969 closed

[2020-11-18 00:07] EndilWayfare opened #6341 "`excessive_precision` inconsistency with exponential notation"
I love the idea of the `excessive_precision` lint. I'm working on a parser for a 3rd-party, closed-source file format, and they must have weird float-to-string serialization code. The value in the file doesn't match the one in the UI (e.g. 6.93 serialized to 6.9299999999999997E+00. I know floats are hard and weird, and 6.93 might not be an exact value, but to serialize out a string that's beyond d

[2020-11-18 00:17] EndilWayfare commented on #6341
OH WAIT. Maybe this is actually/additionally a documentation issue?

I used `rust-analyzer`'s auto-fix thing, and it just inserted underscores without truncating. As if it tripped `clippy::unreadable_literal` instead? `clippy` no longer complains.

[code]

The [documentation](https://rust-lang.github.io/rust-clippy/master/#excessive_precision) for `clippy::excessive_precision` doesn't say anything

[2020-11-18 08:20] digama0 opened #6343 "False positive for unnecessary_lazy_evaluations"
A minimal example:

[code]

When `clippy::unnecessary_lazy_evaluations` is on, you get:
[code]
The suggested fix is not well formed because it refers to variable `i`. A fix should check that the expression in the closure does not depend on any variables in the arguments. (This also arguably isn't a candidate for the lint, because the indexing expression has side effects and a possible computationa

[2020-11-18 16:57] krojew opened #6344 "field_reassign_with_default lint suggest invalid code"
I tried this code:

[code]

I expected to see this happen: *no field_reassign_with_default warning*

Instead, this happened:

`Field assignment outside of initializer for an instance created with Default::default()`

Suggestion implies the following:

[code]

This doesn't compile, since z is private and Foo cannot be initialized in this way.

### Meta

- `cargo clippy -V`: clippy 0.0.212 (5404efc2

[2020-11-18 21:44] jyn514 commented on #1788
See https://github.com/rust-lang/api-guidelines/issues/229 for more information about this.

[2020-11-19 00:10] giraffate commented on #6341
@rustbot modify labels: +L-documentation -L-bug

[2020-11-19 00:29] giraffate commented on #6343
@rustbot modify labels: +L-suggestion-causes-error

[2020-11-19 10:06] benmkw commented on #4804
I think this is another/ the same case where this lint may not be accurate https://github.com/probe-rs/probe-rs/pull/437/files#file-probe-rs-src-probe-mod-rs-L459. I tried to apply the suggestion at some point but I'm pretty convinced that its not possible.

[2020-11-19 10:22] kamulos opened #6346 "Small case left out by clippy::match_like_matches_macro"
Just a suggestion for a small improvement:

This code gets a suggestion from clippy::match_like_matches_macro
[code]

While this one does not, while it still benefits from being converted to the matches macro:

[code]

[2020-11-19 14:12] giraffate commented on #6346
Could you provide an example on playground? I tried [this on playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=14985f229428fa6d80ed34459529db28) but the lint was emitted.

[2020-11-19 14:18] giraffate commented on #6346
https://github.com/rust-lang/rust-clippy/pull/6216 may have fixed this case. I think this would be released at next beta release(Rust 1.49).

[2020-11-19 15:16] flip1995 commented on #6346
Yes, I remember putting this in the changelog for beta today. [This is linted in nightly (and soon on beta)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=030cc927b09fa6739c7beb7cf5e0be30)

[2020-11-19 15:17] #6346 closed

[2020-11-19 16:37] ryanavella commented on #1066
I'm seeing the same thing as @notoria. Am I missing something?

[code]

[2020-11-19 17:17] cmyr commented on #6170
Will second this, I think there are very reasonable cases to use `Rc<Vec<T>>` along with `Rc::make_mut`.

[2020-11-19 22:13] tobin-crypto opened #6348 "Add lint `print_stderr`, similarly to `print_stdout`"
### What it does

Checks for printing on stderr. The purpose of this lint is to catch debugging remnants.

### Categories (optional)

Restriction

### Drawbacks

None.

[2020-11-19 22:33] mulimoen opened #6349 "Lint suggestion for `Cow::to_ptr`"
### What it does

Checks for temporary `Cow` immediately dereferenced

### Categories (optional)

- Kind: `clippy::correctness`

*What is the advantage of the recommended code over the original code*

The original code will produce a dangling pointer on a `Cow::Owned` if created as a function argument. This is the same situation as for `CString` which will lead to a use-after-free.

### Drawbacks

[2020-11-20 00:21] giraffate commented on #6343
I will prepare a fix.

[2020-11-20 01:23] camsteffen commented on #6321
I'm not a maintainer but I say go for it. The `-1` case is very similar to the `1` case in terms of uselessness.

[2020-11-20 07:17] elpiel opened #6350 "panicked at 'Box<Any>'"
I will try to provide minimal verifiable example some time later and this error occurred on this function:

https://github.com/AdExNetwork/adex-validator-stack-rust/blob/dev/sentry/src/chain.rs#L11

### Code

[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (7eac88a 2020-11-16)
- `rustc -Vv`:
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</detai

[2020-11-20 09:18] djc commented on #6097
`manual_strip` depends on methods first added in 1.45.

[2020-11-20 10:19] taiki-e commented on #6097
Some have already been mentioned, but I have a list of 13 lints that requires newer compilers:

* `redundant_field_names` requires Rust 1.17 due to suggest feature stablized in that version.
* `redundant_static_lifetimes` requires Rust 1.17 due to suggest feature stablized in that version.
* `filter_map_next` requires Rust 1.30 due to suggest `Iterator::find_map`.
* `checked_conversions` requires

[2020-11-20 10:45] flip1995 commented on #6097
cc @Suyash458 ^

I would not add them in #6201. This PR is already big enough as it is. Let's add the remaining ones in a separate PR after #6201 is merged.

[2020-11-20 10:48] matthiaskrgr opened #6352 "false negative if_same_then_else / new lint catch wrongly ordered struct init shorthand"
Upstream rustc issue: https://github.com/rust-lang/rust/issues/79210

This is definitely also clippy territory!
We have the [if_same_than_else](https://rust-lang.github.io/rust-clippy/master/index.html#if_same_then_else) lint which probably should catch the upstream example, but I wonder if we could have a lint that catches the field ordering being suspicious.

I tried this code:

[code]

The prob

[2020-11-20 16:34] Daniel-B-Smith opened #6353 "False positive for `await_holding_refcell_ref`"
I tried this code:

[code]

I expected to see this happen: No error since the `RefMut` is explicitly dropped before the `await`

Instead, this happened: Brought up a warning

This happens in the recently promoted beta.

This should be pretty easy to fix. As a short term mitigation, I will downgrade the check from correctness and should hopefully be able to work on the fix next week.

[2020-11-20 17:42] mulimoen commented on #6349
Duplicate of #2637 and #5965

[2020-11-20 17:42] #6349 closed

[2020-11-20 21:39] digama0 opened #6356 "False positive for useless_transmute"
Source: ([SO question](https://stackoverflow.com/q/64902078/890016), [playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=32065895f3b4f7aabebb48d7a9eea3b6))

[code]

Result:
[code]

The transmute is not useless because without it the code does not compile. The comments make it a little clearer what's going on: the transmute is being used to change lifetimes, b

[2020-11-20 23:58] digama0 opened #6357 "`unreachable!()` *should* be present in production code"
This is just a wording suggestion:

https://github.com/rust-lang/rust-clippy/blob/8325d48d2de179490eba9e682ffaaea375d2e1c9/clippy_lints/src/panic_unimplemented.rs#L69

is too strong of a claim. While it is reasonable to argue that `unimplemented!` and `todo!` should not be present, `unreachable!` is a perfectly normal and preferred way to signal a dynamically unreachable code path, that can be imp

[2020-11-21 00:06] fanzeyi opened #6358 "Clippy fix produces incorrect code (`clippy::ref_in_deref`)"
The code in question ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9c9e51c790d4d203929dedc4a9abeea2)):

[code]

Clippy suggests:

[code]

which is invalid. It should suggest the following:

[code]

[2020-11-21 00:28] Fishrock123 opened #6359 "The "rc_buffer" lint is probably wrong for inner types which implement Clone"
I previously landed a clarification that this lint is not always correct, depending on the use-case: https://github.com/rust-lang/rust-clippy/pull/6090

Today I discovered that [`Rc::make_mut()`](https://doc.rust-lang.org/alloc/rc/struct.Rc.html#method.make_mut) and [`Arc::make_mut()`](https://doc.rust-lang.org/std/sync/struct.Arc.html#method.make_mut) exist for `Rc<T: Clone>` and `Arc<T: Clone>`

[2020-11-21 12:00] TrolledWoods commented on #3031
I had a similar problem however slightly different. I have some api types that are just wrappers around a reference, so they are both Copy and 8 bytes. Which means that taking a reference has no other effect than just adding another layer of indirection. This can of course be fixed by adding #[allow(clippy::needless_pass_by_value)] above the functions affected, but that would mean that these funct

[2020-11-21 12:26] piegamesde commented on #5787
I can reproduce this, even without `self`:

[code]

As far as I can tell, there is no possibility of eliding this, as the type system doesn't know from which of the arguments it should borrow without explicit lifetimes.

[2020-11-22 10:08] mlegner opened #6365 "Checking for (integer) constants in lints is inconsistent and does not handle all cases (e.g., static constants)"
Several lints such as the [integer_arithmetic](https://rust-lang.github.io/rust-clippy/master/index.html#integer_arithmetic) and [modulo_one](https://rust-lang.github.io/rust-clippy/master/index.html#modulo_one) lint check for specific integer constants, typically +/-1, 0, MIN, MAX. However, this is currently implemented inconsistently, sometimes only checking for (+/-) literals (`integer_arithmet

[2020-11-22 12:44] giraffate commented on #6358
@rustbot modify labels: +L-suggestion-causes-error

[2020-11-22 12:47] giraffate commented on #6357
@rustbot modify labels: +L-documentation

[2020-11-22 12:52] giraffate commented on #6365
@rustbot modify labels: +L-enhancement

[2020-11-22 14:25] llogiq opened #6366 "Missing lint categories?"
With my recent return to reviewing clippy PRs, I found that it is often hard to categorize lints.

For example, #6086 would warn about something that is *likely* incorrect, but doesn't warrant a `correctness` lint, because it is just a heuristic and could have false positives. For now, we chose `style`, but that seems wrong. Perhaps `consistency`?

[2020-11-22 15:23] flip1995 commented on #6366
I want to write a MCP about this for a long time now. My plan is basically to introduce more `pedantic` groups, e.g. `pedantic_correctness`, where we can put `correctness` lints, that might have FPs, we can't really avoid ([this is a good example for this](https://github.com/rust-lang/rust-clippy/issues/6353)).

The problem right now is, that when we put lints in an allow-by-default category, disc

[2020-11-22 22:29] iago-lito opened #6368 "False positive when not *yet* using map value?"
The following code
[code]
yields
[code]

But I disagree. I would agree if I had written `(key, _)` instead, but with `(key, _value)`, I explicitely opted in requesting values but not using them. Is this enough to consider this a false positive?

[2020-11-22 22:53] llogiq commented on #6366
I do want this to be warn by default. It's about *suspicious* code. *Really* suspicious. If that code was in Among Us, it'd be ejected immediately, it's so suspect. Still, there's nothing explicitly *wrong*, so deny by default / correctness is not what we want here. Also people will likely agree that even if there are false positives, those look fishy enough to warrant an explanation.

Furthermore

[2020-11-23 01:40] camsteffen commented on #6368
I think it is still more idiomatic to use `keys()` so this is not a false positive. And I think `_` and `_name` should be regarded as the same thing by Clippy in general.

[2020-11-23 08:24] iago-lito commented on #6368
@camsteffen Well, I'm curious then, what's the supposed use case for the `_name` syntax in Rust? If both `_` and `_name` are accepted, then they must be intended to address different uses, right?

I personally use `_` when I don't need the value when destructuring. On the other hand, I use `_name` when I *do* need the value but I haven't used it yet because I am still in the process of developping

[2020-11-23 10:48] flip1995 commented on #6366
So a `clippy::sus` group? :smile:

A "warn-by-default correctness group" came up now or then in the past. We could add such a group. The question is about naming.

I disagree. We have 3 groups, where one is basically for broken/unusable lints (`nursery`, 17 lints), and one for lints that are only useful for **really** specific use cases (`restriction`, 44 lints). And then there is `pedantic`, whic

[2020-11-23 14:34] ehuss commented on #1066
@ryanavella Use `cargo +nightly clippy -Zunstable-options`, see https://github.com/rust-lang/rust-clippy/issues/3837#issuecomment-617413116.

[2020-11-23 14:39] camsteffen commented on #6368
As I see it, the general usefulness of the `_name` syntax is to enhance readability. So it is also useful in completed code. But your way of using it perfectly valid. If your code is not fleshed out, then of course you will have warnings and you should not let them bother you. On the other hand, if you are working on code that is functional, I would not leave an unused binding around just for the

[2020-11-23 16:55] #6331 closed

[2020-11-23 20:29] iago-lito commented on #6368
Okay I think I get it. Clippy warnings are intended to refer to *completed code*. If my code is incomplete, then obviously I have warnings. If my code is complete, then clippy is right that I should use `.keys()` instead.

To conclude: not a false positive. Thank you for your patience @camsteffen :)

[2020-11-23 20:29] #6368 closed

[2020-11-23 22:47] #5991 closed

[2020-11-23 22:47] #6297 closed

[2020-11-24 06:21] wchargin opened #6372 "`transmute_ptr_to_ptr` doesn’t justify its existence"
The [`transmute_ptr_to_ptr`][lint] lint fires on `transmute<T, U>` when
both `T` and `U` are pointer types. The docs say:

But this doesn’t explan anything. These casts are just as unsafe as the
`transmute`. In fact, [`transmute` can be written in terms of such
casts:][play]

[code]

…so clearly they don’t bring any safety benefit.

[lint]: https://rust-lang.github.io/rust-clippy/master/index.html

[2020-11-24 06:21] wchargin commented on #6372
cc @taralx

[2020-11-24 13:46] tspiteri opened #6373 "manual_range_contains suggests breaking code constness"
[code]

Clippy says
[code]

But that would make the code fail to compile because `error[E0015]: calls in constant functions are limited to constant functions, tuple structs and tuple variants`.

### Meta

Clippy: 0.0.212 (2020-11-23 d9a105f)

[2020-11-24 20:41] Fishrock123 commented on #6359
Ok I have formulated some additional thoughts on this lint:

For slices `Rc<&[T]>` is always perfectly valid and should not warn. It can't be mutated anyways. `Rc<&mut [T]>` on the other hand should warn unless somehow `impl<T: SomeBounds + Clone> Clone for  &mut [T]` which I think is probably rare enough to ignore, unless it specifically comes up.

For `Vec`s, `Rc<Vec<T: Clone>>` and `Rc<Vec<T: C

[2020-11-24 21:04] rajcspsg commented on #6357
can I take this simple issue?

[2020-11-24 22:50] ebroto commented on #6357
@rajcspsg sure, go ahead!

[2020-11-24 23:26] ecton commented on #6359
I feel like `Arc<T>` shouldn't trip this warning, regardless of Clone, due to the pattern mentioned in [Known Problems](http://rust-lang.github.io/rust-clippy/master/index.html#rc_buffer) on the lint description. This lint triggered in multiple of my source-bases due to me using Arc to share pre-built data structures between threads. It seems like a common use case, but the reason it didn't trip i

[2020-11-25 01:02] lf- commented on #4612
By the way, if anyone is having annoying issues with rust-analyzer running `cargo check` on save so your clippy doesn't work, you can do `cargo clippy --release` without having to introduce a separate feature.

[2020-11-25 05:48] giraffate commented on #6373
@rustbot modify labels: +L-suggestion-causes-error

[2020-11-25 08:07] giraffate commented on #6373
I will prepare a fix.

[2020-11-25 09:26] Kixunil opened #6378 "inefficient_to_string should suggest to_owned()"
`inefficient_to_string` currently suggests dereferencing the string. However, I'd argue that `to_owned()` is better because of these reasons:

* Clearly conveys the intent in the code. `to_string()` is meant for displaying
* Does not change behavior in surprising ways when there are multiple references
* Does not depend on specialization to be efficient

I'd also suggest extending the lint to alwa

[2020-11-25 09:39] Kixunil commented on #5987
How about `into()` or `String::from()`? One advantage of such conversion is that it keeps working when the type changes a bit. Also useful for `Box<str>`.

Also why only temporary? I think doing the same when the `cow` is no longer used even when it's bound should be doable. (I realize this is kinda reimplementing part of borrow checking, but I hope it's simple enough.)

In general any conversion

[2020-11-25 11:43] flip1995 commented on #4612
Yes this is basically the same

[2020-11-25 13:56] Kixunil commented on #1553
Hit this right now. Yes the macro could be rewritten to do it differently but I believe that passing a closure to macro is the most readable way to write it.

This problem can be bypassed by writing `(($closure))(args)` (use double parentheses) but making the lint saner should still be considered.

[2020-11-25 14:05] giraffate commented on #6378
@rustbot modify labels: +L-enhancement

[2020-11-25 15:31] Kixunil commented on #6378
Just found that `format!("foo")` suggests `to_string()` as well. Would be nice to fix that as well.

[2020-11-25 16:23] #5610 closed

[2020-11-25 22:42] thomcc opened #6381 "Detect expressions where `size_of::<T>()` is an argument to ptr::copy/ptr::copy_nonoverlapping and `T` is the type of the pointee."
### What it does

*What does this lint do?*

Detects expressions where `size_of::<T>()` is used in the size argument to `ptr::copy` / `ptr::copy_nonoverlapping` / etc, where `T` is the type of the pointers passed in as arguments.

It should *not* fire if `T` is a different type, as it's common and correct to use this for byte copies.

*Note:*

This can happen because the [docs for this function](h

[2020-11-26 00:43] Nicholas-Baron opened #6383 "ICE While Checking the Rust Compiler"
### Code
Trying to run `./x.py clippy` on the `rust` repo leads to an ICE, due to some code in `library/core`. Isolating the specific example

### Meta

- `cargo clippy -V`: `clippy 0.0.212 (21dea46 2020-11-18)`
- `rustc -Vv`:
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2020-11-26 01:33] nico-abram commented on #6381
Should this also check for [std::mem::size_of_val](https://doc.rust-lang.org/std/mem/fn.size_of_val.html)?

[2020-11-26 02:10] taiki-e opened #6384 "unnecessary_wraps misses 'return'"
I tried this code:

[code]

I expected to see this happen: no warning

Instead, this happened:
`unnecessary_wraps` misses `return None` and emit warning.
[code]

### Meta

- `cargo clippy -V`: clippy 0.0.212 (1c389ffe 2020-11-24)
- `rustc -Vv`:
[code]

Mentioning @matsujika who implemented this lint in #6070.

[2020-11-26 02:38] nico-abram commented on #6381
Can I take this issue? I'm not sure how complex it is but I feel like I can probably do it

[2020-11-26 03:27] giraffate commented on #6384
@rustbot modify labels: +L-suggestion-causes-error

[2020-11-26 07:37] iago-lito opened #6385 "Don't prefix full path specification when suggesting changing & to &mut."
(moved (again) from https://github.com/rust-lang/rust/issues/79405)

With the following code:
[code]
I get a suggestion to "change this to a mutable reference", but if I do, I get:
[code]

That's a bit overkill, right? I would rather expect
[code]

It actually becomes worse. I've decided to file this bug report after my argument:
[code]
was changed to
[code]
instead of just
[code]

That's definite

[2020-11-26 08:32] ebroto commented on #6385
Clippy does not have the ability to add imports, so we generally suggest the fully-qualified path to avoid generating compile errors.

That being said, if I'm not mistaken rustc used to have a similar problem which was solved somehow (e.g. `Vec` is not fully-qualified anymore if not needed) so we could check how this was solved upstream.

If we manage to use the same solution, it should be applied