[2021-10-16 03:16] LollipopFt opened #7826 "will machine readable format be added? or is there already one?"
it would be much easier for linters.
@rustbot label +C-question

[2021-10-16 10:29] xFrednet commented on #7826
Clippy's lint messages are emitted with the use of rustc. Rustc supports a flag called `--error-formt` which can be configured to output the diagnostics as JSON. See [JSON output](https://doc.rust-lang.org/rustc/json.html)

[2021-10-16 10:58] divagant-martian commented on #5862
I'd like to start working on this, any tips?

[2021-10-16 22:46] asomers opened #7828 "Check for invalid target_arch"
### What it does

Checks if the value used with `#[cfg(target_arch = "XXX")]` is valid.

### Categories (optional)

- Kind: correctness

For example:
- Detects dead code that almost certainly shouldn't be dead

### Drawbacks

Might not be forwards-compatible with architectures added by future compilers.  For example, if Rust 1.75.0 adds support for itanium and a crate cfg-gates on that, Clippy 1.7

[2021-10-17 00:26] asomers commented on #7828
Also, checking for invalid `target_env` would be good.  I just discovered some code that was wrongly checking for `target_env = "newlibc"` instead of `target_env = "newlib"`.

[2021-10-17 05:16] mikerite commented on #7816
@rustbot claim

[2021-10-17 05:31] mikerite opened #7829 "`match_overlapping_arm` false positive when ranges have negative starts"
Lint name: match_overlapping_arm

I tried this code:

[code]

I expected to see this happen: No warning. Although it's not documented the lint should not warn when a range is 'completely included' in another one.

Instead, this happened:
[code]

### Meta
Clippy 0.1.57 (2021-10-15 c102653) on the playground

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1731d3

[2021-10-17 05:31] mikerite commented on #7829
@rustbot claim

[2021-10-17 10:45] jamesmcm opened #7830 "Warn when intended Deref is not triggered correctly"
### What it does

Aim would be to warn when intended Deref is not triggered correctly.

E.g. for https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c78429c73f85949bd3799a9fdcaa4d74

[code]

If we write:
[code]

or

[code]

Then the Deref to str is not triggered and we got a stack overflow due to recursively calling `Display::fmt`

At the moment there are no clippy or rustc war

[2021-10-17 10:58] xFrednet commented on #7828
Hey, thank you for the suggestion. In general, it could be nice to check for valid targets etc.

The current API of rustc(which Clippy uses) sadly doesn't really support lints that check code before the expansion of macros. At one point, we want to have some kind of interface to also lint macros, like in this example. For now, I'll add the *blocked* label until we find a good way to handle macros

[2021-10-17 13:53] narpfel opened #7831 "False positive for `implicit-saturating-sub` with `else` block"
Lint name: `clippy::implicit-saturating-sub`

I tried this code:

[code]

I expected to see this happen: This should not trigger `implicit-saturating-sub` because the `else` block performs side effects.

Instead, this happened:
[code]

Additionally, as the lint is `MachineApplicable`, `cargo clippy --fix` changes the behaviour:
[code]

If I understand the code correctly, the error is in https://gi

[2021-10-17 13:56] Dmitry-Borodin commented on #7633
Should this issue be implemented or it's doubtable?
I'm looking for a good first issue, and I would like to understand if this should be implemented as in original message and under which category it's better to place.

[2021-10-17 14:18] Dmitry-Borodin commented on #7651
Reproduced it in current latest stable toolchain (rustc 1.55.0)
I will try to solve it in a next few days.
@rustbot claim

[2021-10-17 16:22] Manishearth commented on #2868
Nah none of these should be linted imo

[2021-10-17 16:48] divagant-martian commented on #5862
@oli-obk saw you gave some comments on #3480. Would you know what's going on here? Tbh I can't differentiate between this case and one where the call to `as_mut` is truly useless

[2021-10-17 18:06] oli-obk commented on #5862
hmm... this reminds me a bit of our "useless clone" lint. Basically it is only useless, if the value being as_mut/as_ref'ed is ... uh... i don't know which word it is, but something-variant (co-, contra-, in-, ... I have to read up). Anyway, if you have a mutable reference or a struct containing a mutable reference, it's all the same, you need to reborrow, otherwise you'll be moving out of it. Now

[2021-10-17 18:29] DanielT opened #7834 "if_same_then_else should not trigger when one branch is "if let <pattern> = thing""
Lint name: if_same_then_else

I've simplified my code some, but it basically looks like this

[code]
Clippy generates the if_same_then_else diagnostic for this code.
As a matter of fact, I would love to unify the two identical branches, but as far as I know, I cannot add any other conditions to the "if let".

There should be no message from clippy here, since writing the code the way clippy sugges

[2021-10-17 19:51] wchargin commented on #7666
Random user here—this lint once singlehandedly sped up my application by
~30% end-to-end. I had an enum type that was being moved around in the
hot spot of the program, and boxing the expensive variant early on in
the pipeline reduced total memory usage and saved a lot of copies.

This kind of improvement definitely mattered for this program, so I have
something of a fondness for this lint now. No

[2021-10-17 21:49] PatchMixolydic commented on #7834
It's possible to rewrite this code like this:
[code]
It might be possible to emit a suggestion to this effect. Note that this will work even if a new binding is introduced since any block that explicitly uses the binding would be intrinsically different from blocks that do not have that binding available to them. I believe drop order should still be the same so long as any bindings created in the

[2021-10-18 01:30] AlexApps99 commented on #7701
I'll close this in favor of rust-lang/rust#89260

[2021-10-18 01:30] #7701 closed

[2021-10-18 12:09] nhamovitz commented on #2868
When linting struct definitions, is it convention to include any attributes on the definition in the pretty-printing? i.e.
[code]

or would we start at the `struct` line?

[2021-10-18 15:14] #7834 closed

[2021-10-18 16:41] Manishearth commented on #2868
Correct!

[2021-10-18 18:57] ghost opened #7836 "A lint to detect `///` comments unattached to anything"
### What it does

It checks for `///` documentation comments not attached to any function, type etc. I.e. it gives a warning when the comment wouldn't cause anything to be documented.
It tells the user to remove one slash to make it a normal comment or to attach it to something and maybe say something like "make sure there's no extra newline in between!".
Note that this lint should also catch code

[2021-10-18 19:27] r00ster91 opened #7837 "Replace `{assert, debug_assert}` using `==` or `!=` by the `_eq` or `_ne` variants"
### What it does

It checks for asserts like `assert!(1 == 1);` and suggests to replace it with `assert_eq!(1, 1);`.
As far as I know, this is more idiomatic.

### Categories (optional)

- Kind: most likely `clippy::style` or maybe `clippy::complexity`.

The advantage is idiomacy and consistency/consistent style.
It can also improve readability and the `_eq`/`_ne` variants make it much easier to s

[2021-10-18 19:47] r00ster91 commented on #7836
Just noticed there is a check like that in rustc but weirdely enough it does not fire for comments on the top level:
[code]
[code]
It doesn't complain about the first comment at all.

[2021-10-18 19:54] alex-700 commented on #7837
@r00ster91 there is a long story about [RFC-2011](https://github.com/rust-lang/rfcs/pull/2011). From the `clippy` side you can see #641 and #2090. IMHO, nothing happened to change the decision frpm #2090.

[2021-10-18 20:07] #7837 closed

[2021-10-19 08:38] VZout opened #7839 "`mismatched_target_os` false negative when using the `cfg` macro instead of the attribute."
Lint name: `mismatched_target_os `

I tried this code:

[code]

I expected to see the error `operating system used in target family position` here like you would see if you used the attribute `#[cfg(linux)]`

Instead, clippy doesn't give any error.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-10-19 11:29] jplatte opened #7841 "Enable disallowed-method and disallowed-type by default"
Could `disallowed-method` and `disallowed-type` be moved to `restriction` and made warn (or even deny) by default? I can't find any known issues with them and you need to configure them via `.clippy.toml` anyways before they do anything.

@rustbot label +C-enhancement

[2021-10-19 15:00] Manishearth opened #7842 "Upgrade UI tests to 2021"
We should upgrade our UI tests to Rust 2021

This mostly involves adding a `// edition:2021` up top and ensuring the test still passes.

It's worth splitting this task up.

[2021-10-19 15:02] m-ou-se opened #7843 "Clippy breaks when we change anything about the std macros"
Clippy recognizes macros like `panic!()` and `format_args!()` by its exact expansion, such as here:

https://github.com/rust-lang/rust-clippy/blob/389a74b31aabca4aac3289763eeb2eccedd1b988/clippy_utils/src/higher.rs#L719-L736

And here:

https://github.com/rust-lang/rust-clippy/blob/389a74b31aabca4aac3289763eeb2eccedd1b988/clippy_utils/src/higher.rs#L505-L675

This is very fragile, as it needs to b

[2021-10-19 15:31] #7836 closed, assigned to nobody

[2021-10-19 18:33] xfix opened #7845 "Clippy contains about useless .into() in macro generated code"
Lint name: `clippy::useless_conversion`

Using `rocket = "0.5.0-rc.1"` crate, I tried this code:

[code]

I expected to see this happen: no warning about 'useless conversion to the same type: \`bool\`'

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-19 19:10] Blaidd-Drwg opened #7846 "False positive in needless_option_as_deref if Option cannot be moved"
Lint name:
needless_option_as_deref

I tried this code:

[code]

Clippy complains:
[code]

However, when applying the suggestion, the build fails:
[code]
### Meta

**Rust version (`rustc -Vv`):**
[code]

@rustbot label +I-suggestion-causes-error

[2021-10-19 22:49] categulario commented on #4632
I'll try hard to write this lint

[2021-10-20 02:50] camsteffen commented on #7843
I think this can largely be fixed in Clippy by using a Visitor to scan the expanded HIR of a macro and collect all expressions that are not from expansion - these are the inputs. The format string details are more tricky, but we could also use a Visitor to skip to the interesting parts and not rely on the *exact* expansion. Also we have access to the DefId of the macro that was called so we should

[2021-10-20 13:37] giraffate commented on #7151
It looks like it's resolved now, so I'm closing this.

[2021-10-20 13:37] #7151 closed

[2021-10-20 14:33] Manishearth commented on #7842
Yeah @llogiq is working on that

(Sorry, I haven't been able to update issues well, I've been mostly on my phone)

[2021-10-20 14:39] Manishearth commented on #7842
https://github.com/Manishearth/compiletest-rs/pull/246

[2021-10-20 20:49] #2868 closed

[2021-10-21 00:09] giraffate commented on #7633
IMO it looks like a good idea to implement this, but the `restriction` category might be better.

[2021-10-21 04:10] nhamovitz commented on #7079
@rustbot claim

My plan at the moment:
- if using `None` explicitly, suggest `let var = Type::default()`
- otherwise, suggest `let var: Type = expr.unwrap_or_default()`
- change applicability to something more cautious bc I don't think we're ever gonna run out of edge cases on this one

Here's some testcases I've come up with over the past couple days: https://play.rust-lang.org/?version=nightly&m

[2021-10-21 14:27] DzenanJupic opened #7854 "let_underscore_lock does not trigger for `parking_lot` / non-std locks"
Lint name: let_underscore_lock

I tried this code:

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6de725febdb31b3b08d1bd505006c627)
[code]

I expected to see this happen:

Since `parking_lot` is widely used, and usually always the preferred alternative compared to the `std` locks, I expected `clippy` to know about it.

Instead, this happened:

`clippy` seems

[2021-10-22 00:18] pacak opened #7858 "clippy suggests std::foo with #[!no_std] being enabled"
Lint name: clippy::manual_swap

I tried this code:

[code]

I expected to see this happen: clippy sits quiet

Instead, this happened: got a "warning: this looks like you are swapping `self.0` and `self.1` manually"
Proposed change won't compile.

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-22 04:55] matthiaskrgr opened #7859 "false positive: question_mark when returning custom Error type"
Lint name: question_mark

I tried this code:

[code]

I expected to see this happen:
There should be no warning.
`Error::NoCWD` is my own error type (an enum) and it does not impl `std::convert::From<std::io::Error>` or anything like that. So I can't use `?` on it directly.

Instead, this happened:

[code]
### Meta

`clippy 0.1.58 (68a698b 2021-10-21)`

[code]

**Rust version (`rustc -Vv`):**
[cod

[2021-10-22 04:56] matthiaskrgr commented on #7859
[code]

[2021-10-22 08:24] Kobzol opened #7861 "False positive in `redundant_closure` with turbofish"
Lint name: `redundant_closure`

I tried this code:

[code]

I expected to see this happen:
No lint is emitted, because changing the corresponding code from `map(|v| Box::new(v))` to `map(Box::new)` breaks compilation.

Instead, this happened:
The following lint was emitted:
[code]

If the lint is applied, this error is produced during a build:
[code]

### Meta

**Rust version (`rustc -Vv`):**
[cod

[2021-10-22 22:38] ede1998 opened #7862 "clippy::redundant_pub_crate ignores glob export"
Lint name:
clippy::redundant_pub_crate

I tried this code:

[code]

I expected to see this happen:
`cargo clippy -- -W clippy::redundant_pub_crate` should not emit a warning for `pub(crate) struct in private module`. The `pub(crate)` visibility prevents `Bar` from becoming part of the public API. The suggestion to just use pub makes `Bar` publicly visible outside of the crate.

Instead, this happe

[2021-10-23 05:46] Herschel opened #7863 "False positive with numerals in match_str_case_mismatch"
Lint name:
match_str_case_mismatch

I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1efc4425e26da357ac3f0734bd11df1a

[code]

I expected to see this happen: No lints triggered.

Instead, this happened:
[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-23 07:00] Lokathor opened #7864 "expand "missing safety docs" to apply to function pointer type aliases."
Type alias declarations for unsafe function pointers don't have the "missing safety docs" lint applied to them. However, they probably should.

[2021-10-23 15:49] dylni opened #7868 "ICE with `clippy::undocumented_unsafe_blocks`"
### Code

main.rs:

[code]

zero.rs:

[code]

### Meta

**Rust version (`rustc -v`):**
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-10-24 06:09] lmjk opened #7869 "Non-ascii prefix in enum variant names causes compiler panic"
The following enum definition in src/main.rs causes panic when running cargo clippy:

[code]

Error message:

[code]

[2021-10-24 06:21] EFanZh opened #7870 "False positive with `clippy::if_then_some_else_none`"
Lint name:

`clippy::if_then_some_else_none`

I tried this code:

[code]

I expected to see this happen: Clippy does not warn `clippy::if_then_some_else_none`.

Instead, this happened: Clippy  warns that code can be simplified.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-10-25 05:04] ghost opened #7876 "Manual map 2021 false negative"
Lint name: manual_map

The 2021 edition made closure capturing smarter. We can now make some suggestions that previously wouldn't compile.
[Edition Docs](https://doc.rust-lang.org/edition-guide/rust-2021/disjoint-capture-in-closures.html)

I tried this code:

This is the test case for issue #6797

[code]

I expected to see this happen:
This recommendation if I'm using 2021.
[code]
Instead, this ha

[2021-10-25 16:29] saethlin opened #7879 "False positive/invalid suggestion from needless_pass_by_value when capturing Copy fields in 2021"
Lint name: needless_pass_by_value

This example is minimized from a real codebase where "Make `Options` `Copy`" is not possible. A non-`Copy` field makes the help message go away, but isn't required to reproduce this bug.

[code]

[code]
Following the suggestion leads to
[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

@rustbot label +I-suggestion-causes-error

[2021-10-25 19:33] #7869 closed, assigned to xFrednet

[2021-10-25 21:46] #7863 closed, assigned to nobody

[2021-10-25 21:57] SamRodri opened #7881 "`redundant_closure` false positive, extern fn"
Lint name: redundant_closure

I tried this code:

[code]

I expected no lints here, because `FnOnce` is not implemented for `extern fn`.

The suggestion causes a compile time error by passing `func` directly:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

@rustbot label +I-suggestion-causes-error

[2021-10-25 22:50] MinerSebas opened #7882 "False Positive from match_str_case_mismatch"
Lint name: match_str_case_mismatch

I tried this code:

[code]

I expected to see this happen: The Lint doesn't Trigger.

Instead, this happened: The Lint triggered:
[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-25 23:23] conradoplg opened #7883 "New lint suggestion: detect `HashMap/Set::iter()` followed by `take_while()/skip_while()/map_while()`."
### What it does

Detects usage of `HashMap/Set::iter()` (or other iterator) followed by `take_while()/skip_while()/map_while()`.

### Categories (optional)

- Kind: `suspicious`, maybe `correctness`?

*What is the advantage of the recommended code over the original code*

`iter()` in `HashMap/Set` iterates in arbitrary order, and `_while()` methods usually make sense where is there some kind of o

[2021-10-26 10:05] #7882 closed, assigned to nobody

[2021-10-26 18:53] crumblingstatue opened #7886 "New lint: Suggest stream_position for `self.seek(SeekFrom::Current(0))`"
### What it does

Suggests to use `stream_position()` over `seek(SeekFrom::Current(0))`.

### Categories (optional)

- Kind: clippy::style

Since Rust 1.51, the Seek trait has a stream_position method.
Using it makes the intent more clear over `seek`.

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-10-27 15:56] Marwes opened #7889 "manual_split_once lint causes a change in behaviour"
Lint name: manual_split_once

I tried this code:

[code]

I expected to see this happen: `cargo clippy` should not suggest I change it to `rsplit_once` as that changes the behaviour.

Instead, this happened:

[code]

`cargo clippy --fix` rewrote this to `path.rsplit_once('/').unwrap().1` which is not equivalent code as `rsplitn` will always return at least one item, whereas `rsplit_once` will retu

[2021-10-28 13:50] #7868 closed, assigned to nobody

[2021-10-28 13:57] dswij opened #7892 "`if_not_else` lints firing on `else-if`s"
Lint name: `if_not_else`

I tried this code:

[code]

I expected to see this happen: nothing

Instead, this happened: clippy suggests swapping the order of `else-if` and `else` block, which makes it less clear imo. There are scenarios where using not in `else-if`s makes it more readable like the one above - you would expect it to be written in order of priority/preference. (try `foo()`, then try `

[2021-10-28 18:53] samueltardieu opened #7893 "Lifetime cannot be elided"
Lint name: clippy::needless_lifetimes

I tried this code:

[code]

I expected to see this happen: no warning as the `'a` lifetime is needed. Moreover the lint does not trigger is the function is not marked as `async`.

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-10-29 19:57] #7699 closed

[2021-10-29 20:45] #7892 closed

[2021-10-30 08:08] ahmedkrmn commented on #7886
@rustbot claim

[2021-10-30 09:15] llogiq commented on #7666
@mikerite `eq_op` no longer triggers in test code after #7811.
@dtolnay I also did some work to reduce `cast_possible_truncation` FPs in #7819, though there are likely other cases, so the detection could be extended. I'll also be OK with moving `needless_doctest_main` to `restriction` or `pedantic`, as this is certainly a question of style preferences.

[2021-10-30 09:22] Dilshod070 opened #7900 "needless_collect warning, when it's actually needed"
Lint name:

I tried this code:

[code]

I expected to see no warnings:
Because If I want to read element as `index`, I need to first read all elements before and store them somewhere.
So I think collect is appropriate here.

Instead, this happened:

[code]
-----
What is more, suggested **changes do not compile**.
@rustbot label + I-suggestion-causes-error

If I write like this
[code]

I, expectedl

[2021-10-30 09:25] Dilshod070 commented on #7900
Oh, just created issue, and then found, that it is dublicate

https://github.com/rust-lang/rust-clippy/issues/7512
https://github.com/rust-lang/rust-clippy/issues/7512
https://github.com/rust-lang/rust-clippy/issues/6066

[2021-10-30 10:11] samueltardieu commented on #7893
@rustbot claim

[2021-10-30 10:11] Dilshod070 commented on #7513
The same problem for me.
@rustbot label +I-suggestion-causes-error

Here is my example of code. clippy suggests second variant, which panics with
`panicked at 'already borrowed: BorrowMutError'`

I'm nоt actually sure if this is bug in clippy or in rust compiler.

[code]

[2021-10-30 10:47] samueltardieu commented on #7893
@rustbot label +I-suggestion-causes-error

[2021-10-30 16:42] Mythra opened #7902 "Clippy: Wrongly suggests `Option::if_let_else` in const function"
Lint name: option_if_let_else

I tried this code:

[code]

Then clippy generated a warning:

[code]

 I'm generally not a fan of this lint anyone, but I do it to hopefully be consistent with the rest of the ecosystem and juggling lints is really hard to do. However, replacing this particular code results in a failure to compile on stable as you cannot call if_let_else in a constant function. Meani

[2021-10-30 16:53] xFrednet commented on #7902
@rustbot label +I-suggestion-causes-error

[2021-10-30 22:34] Arnavion opened #7903 "FormatArgsExpn::args() panics while parsing format string that uses named arg twice with different format modifiers"
### Code

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[code]

cc @smoelius since this code was added in https://github.com/rust-lang/rust-clippy/commit/c9599d79a3b741b7c42353dc45eab6f1c461891f#diff-fd2bc43d49c8eb65110d5ac1439fce94b0b59cff73c5802d202d65ae6e08a025R592

[2021-10-30 23:57] Serial-ATA commented on #7737
@rustbot claim

[2021-10-31 00:28] smoelius commented on #7903
Thanks, @Arnavion. I'll start looking into this right away.

[2021-10-31 02:59] Serial-ATA commented on #895
@rustbot claim

[2021-10-31 07:25] edward-shen opened #7905 "False positive occuring with `cognitive_complexity` on macros"
Lint name: `cognitive_complexity`

I tried this code ([playground](https://gist.github.com/4a43f83b3014f4a1580cee10cbd07db0)):

[code]

I expected to see this happen: To not get a cognitive complexity lint.

Instead, this happened: I receive the following lint:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

Looks like the lint is expanding the macros out before evaluating cognitive com

[2021-10-31 22:33] Kixunil opened #7908 "Needless call of to_vec() on temporary Vec"
### What it does

When `to_vec()` is called on temporary `Vec<_>` the lint should warn that `to_vec()` is not needed and causes extra allocation. (Suggesting removing it.)

### Categories

- Kind: performance

*What is the advantage of the recommended code over the original code*

- One less allocation
- More concise code (the returned value is already a `Vec<_>`)

### Drawbacks

None.

### Exampl

[2021-10-31 22:41] Kixunil commented on #2824
@spunit262 exactly, `to_string()` is meant to *display* stuff. When newbie sees:

[code]

"WTF, isn't it a string already?"

It's actually the other way around: use `to_string()` in generic code if you need to display stuff.

[2021-11-01 00:13] giraffate commented on #7902
The `option_if_let_else` was fixed not to warn in const function by https://github.com/rust-lang/rust-clippy/pull/7573. Can you try currently beta (1.57.0)?

[2021-11-01 09:01] BearOve commented on #7589
I noticed the same issue today in a slightly different scenario. My gut tells me the root cause is the same. If I follow the suggestion the code no longer compiles.

[code]

[2021-11-01 11:14] llogiq commented on #7589
@BearOve I cannot reproduce any clippy warning with your code using either current stable or nightly. Can you try with a newer toolchain?

[2021-11-01 11:50] BearOve commented on #7589
NOTE: When I run with `#![deny(clippy::all)]` on stable it includes `branches_sharing_code`, when I run the same on nightly it is not included and no warning is emitted. However, if I enable the lint explicitly it does not matter if it is stable or not.

Steps used:
1. I ran cargo new clippy-bug
2. I added the code to the top of main.rs
3. I enabled the clippy lint by adding `#![deny(clippy::branc

[2021-11-01 12:12] xFrednet commented on #7589
The `branches_sharing_code` lint has been moved to the `nursery` group due to this and other false positives. The plan is to fix them and then re-enable it by default :upside_down_face:

[2021-11-01 15:31] #7842 closed

[2021-11-01 19:28] nicholasbishop opened #7910 "False positive for question_mark lint with a pointer type"
Lint name:
clippy::question_mark

I tried this code:

[code]

I expected to see this happen: no warnings.

Instead, this happened:

[code]

If you try to follow the suggestion that clippy makes, compilation fails:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-11-02 01:05] Mythra commented on #7902
Thanks! Sorry I missed that I did try looking for already existing PRs or issues but I guess not thoroughly enough! Seems to work for me on beta, thanks for the help'

[2021-11-02 01:05] #7902 closed

[2021-11-02 05:57] dswij opened #7912 "`semicolon_if_nothing_returned` FP on `let-else` statements"
Lint name:`semicolon_if_nothing_returned`

I tried this code:

[code]

I expected to see this happen: nothing

Instead, this happened: `semicolon_if_nothing_returned` fires and suggests adding another colon after closing braces

[code]

### Meta
playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7dd2867755b28e12cad7ba9b01f67eae
related:  https://github.com/rust-la

[2021-11-02 07:50] xNxExOx opened #7913 "clippy::while_let_loop incorectly scope variable"
Lint name: clippy::while_let_loop

I tried this code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6e0c751f49cce697e1f06bcc1fed429e

I simplify it by changing instances to only 5, and "work" to just short `sleep` to run better on playground, but I have 32 core CPU, so using more than one core at time is important for me.

[code]

I expected to see this happen: no lint, o

[2021-11-02 10:09] #7658 closed

[2021-11-02 10:23] #7723 closed

[2021-11-02 10:36] #7893 closed

[2021-11-02 11:39] xFrednet opened #7914 "Enhance missing backtick detection for global identifiers `doc_markdown`"
The lint [`clippy::doc_markdown`](https://rust-lang.github.io/rust-clippy/master/index.html#doc_markdown) can detect missing backticks around identifiers. Global identifiers like `::a::global::item` are only detected after the first double colon `::`. It would be good if the suggestion also included the initial `::` for a global identifier.

**Test File**

https://github.com/rust-lang/rust-clippy/

[2021-11-02 13:29] samueltardieu commented on #7914
Looks interesting.

@rustbot claim

[2021-11-02 13:31] xFrednet commented on #7914
A heads-up that #7904 is also editing something on the lint. You might get some merge conflicts. Otherwise, have fun :+1:

[2021-11-02 13:45] c410-f3r opened #7915 "`shadow_same` is just plain wrong in an async context"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bb8b58e91b2a00d51cd67875ebce1da6

**Code**

[code]

**Output**

[code]

[2021-11-02 13:45] samueltardieu commented on #7914
Duly noted. I'll see what happens next, I'm about to open a PR.

[2021-11-02 14:16] camsteffen commented on #7830
Duplicate of #2691

[2021-11-02 14:16] #7830 closed

[2021-11-02 14:19] #7903 closed

[2021-11-02 16:49] Yuri6037 opened #7919 "cargo clippy --fix fail with large code base"
The code being very large I can't paste here however it's completely open source so you can refer to this link to find the entire cargo project: https://gitlab.com/bp3d/bpx/bpx-rs/-/tree/9-shader-package
If you prefer Github you can also refer to the read-only mirror: https://github.com/BlockProject3D/bpx-rs/tree/9-shader-package

- For a reproducible smaller code to achieve the second error pleas

[2021-11-02 17:16] #7914 closed

[2021-11-02 17:29] Yuri6037 opened #7920 "cargo clippy --fix fails fixing explicit_counter_loop"
I tried this code:

[code]

I expected to see this happen: Clippy fixing this explicit_counter_loop

Instead, this happened: I got a bug report from clippy:
[code]

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-11-02 17:33] Yuri6037 opened #7921 "cargo clippy --fix fails fixing redundant_pattern_matching"
I tried this code:

[code]

I expected to see this happen: Clippy fixing this redundant_pattern_matching

Instead, this happened: I got a bug report from clippy:
[code]

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-11-02 17:34] Yuri6037 commented on #7919
Closed in favor of:
- https://github.com/rust-lang/rust-clippy/issues/7921
- https://github.com/rust-lang/rust-clippy/issues/7920

[2021-11-02 17:34] #7919 closed

[2021-11-02 19:49] teor2345 commented on #7883
`rustc` has a similar internal-only lint: https://github.com/rust-lang/rust/pull/89558

[2021-11-02 21:19] #7737 closed

[2021-11-03 06:24] dswij commented on #7910
@rustbot claim

[2021-11-03 07:41] dswij commented on #7910
This is probably fixed by #7860, but the changes is not propagated to releases yet.

I tried the above snipppet in `question_mark` unit test in latest master, and it's not firing (as it should).

[2021-11-03 08:33] dswij commented on #7870
@rustbot claim

[2021-11-03 09:44] Kixunil opened #7922 "deprecated_cfg_attr hit in MSRV 1.29.0"
Lint name: deprecated_cfg_attr

The suggested code doesn't work in the configured MSRV.

I tried this code:

[code]

**with this configuration**

[code]

I expected to see this happen: Clippy should see that `#[rustfmt::skip]` is not available in 1.29 and ignore it

Instead, this happened: Clippy suggested `#[rustfmt::skip]`, which fails with old version of Rust.

### Meta

**Rust version (`rustc

[2021-11-03 09:58] xFrednet commented on #7922
@rustbot label +good-first-issue

[2021-11-03 11:00] SabrinaJewson opened #7923 "`single_component_path_imports` false positive for macros used in the same module"
Lint name: `single_component_path_imports`

I tried this code:

[code]

I expected to see this happen: Clippy would not warn

Instead, this happened: Clippy showed this warning:

[code]
### Meta

**Rust version (`rustc -Vv`):**
[code]

cc #7106

@rustbot label +I-suggestion-causes-error

[2021-11-03 11:11] louismrose opened #7924 "clippy::question_mark suggests code that is semantically different to the original"
Lint name:
`clippy::question_mark`

I tried this code:

[code]

I expected to see this happen: no recommendation

Instead, this happened:

[code]

The suggested replacement is not semantically equivalent to the original.

### Meta

**Rust version (`rustc -Vv`):**
[code]

[2021-11-03 11:31] klensy commented on #7924
Can you provide isolated, self working example? Code that you posted won't compile without additional work (that can affect clippy work).

[2021-11-03 11:37] xFrednet commented on #7924
Here is a minimal example:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6774bccbf7901de8be1b7896406b86ff). If you want to work on this, you can comment `@rustbot claim` :upside_down_face:

[2021-11-03 12:29] louismrose commented on #7924
This version *does not* exhibit the issue:

[code]

This version *does* exhibit the issue:
[code]

[2021-11-03 15:23] camsteffen commented on #7908
This can be an enhancement of `redundant_clone`. And it should share logic with `implicit_clone`.

[2021-11-04 08:00] gzp-crey opened #7927 "ICE during clippy"
I'm not sure what modification I had in the code, but compiler failed win an internal error (see below), but after a cargo clean all was working again.

(I don't know if it is relevant but my modification before the failure were marking a trait (and it's implementation) unsafe related  and adding a few panic related comments.)

[code]

[2021-11-04 10:11] EdJoPaTo commented on #3122
I am used to having this on JavaScript / TypeScript with [no-unused-disable](https://github.com/mysticatea/eslint-plugin-eslint-comments/blob/master/docs/rules/no-unused-disable.md)

unused is probably not a well chosen name for Rust / Clippy as it already has a different meaning. Still I think it could be inspiring.

[2021-11-04 10:11] EdJoPaTo commented on #6623
Something I think that would be helpful to deal with false positives would be #3122. In case false positives are found they will be allowed short term.
In the long term this false positive will be fixed and the allow comment shouldn't be there anymore.

[2021-11-04 10:37] hniksic commented on #7207
We hit this one on our code base. The insidious thing about this false positive is that a careless reviewer can apply the suggestion and get code that:

* compiles without warnings;
* "works", i.e. passes all tests;
* but is now much slower than intended because it's effectively sequential.

[2021-11-04 11:06] xFrednet commented on #3122
Implementing a lint for this is sadly rather difficult. [RFC 2383](https://rust-lang.github.io/rfcs/2383-lint-reasons.html) has proposed adding a `#[expect]` attribute that allows lints until they no longer are emitted. The implementation is sadly not trivial and held up on some implementation details. See rust-lang/rust#54503 and my implementation draft in rust-lang/rust#87835 if you want to know

[2021-11-04 11:40] flip1995 commented on #6623
Good news: @xFrednet is currently working on this: https://github.com/rust-lang/rust/pull/87835

[2021-11-04 14:26] giraffate commented on #7927
This seems to be a rustc issue, not clippy, and be related to https://github.com/rust-lang/rust/issues/89962.

[2021-11-04 17:52] Yuri6037 opened #7931 "Clippy finds less clear fix for manual_memcpy"
I tried this code:

[code]

I expected to see this happen: Clippy finding fix `block[24..40].copy_from_slice(&type_ext)`

Instead, this happened: Clippy suggests less clear form: `block[24..40].clone_from_slice(&type_ext[..(40 - 24)]);`

I suppose clippy did not find that type_ext is 16 u8 and not more.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-11-04 22:46] totikom opened #7932 "Type name inside its impl-block"
### What it does
All references to the type inside its `impl`-block should be changed to `Self`.

### Categories (optional)

- Kind: `clippy::style`

*What is the advantage of the recommended code over the original code*

- Remove the need to duplicate typename and (possibly) improve code readability

### Drawbacks

None.

### Example

[code]

Could be written as:
[code]

[2021-11-04 23:24] smoelius opened #7933 "Unnecessary call to `to_string` when the underlying type implements `AsRef<str>`"
### What it does

Checks for expressions of the form `&X.to_string()`, used in a position requiring a `&str`, where `X` implements `AsRef<str>`.

In such a case, the call to `to_string` is unnecessary.

Similar to `to_string`/`AsRef<str>`, there's also `to_path_buf`/`AsRef<Path>` and `to_vec`/`AsRef<[T]>`.

There are probably others.

I am happy to tackle this if we can agree on the check, and whe

[2021-11-05 00:09] giraffate commented on #7932
FYI we already have the `use_self` lint: https://rust-lang.github.io/rust-clippy/master/index.html#use_self

[2021-11-05 00:19] calebzulawski commented on #7868
I'm still getting this error when I use clippy on `portable-simd` after enabling this lint (https://github.com/rust-lang/portable-simd)

[2021-11-05 00:42] giraffate commented on #7868
This fix has just been synced to rustc at https://github.com/rust-lang/rust/pull/90564, so you may not get the latest one yet.

[2021-11-05 00:54] calebzulawski commented on #7868
Whoops--you are right.  I actually built from source, but I was accidentally using the wrong toolchain (not the rust-toolchain override).  Though I did find a new ICE, which I can report in a new issue...

[2021-11-05 01:45] calebzulawski opened #7934 "ICE with `clippy::undocumented_unsafe_blocks`"
### Code

I couldn't figure out how to reduce this (simple examples pass), but this occurs when running clippy on Portable SIMD (https://github.com/rust-lang/portable-simd, check out the `feature/safety` branch) after enabling this lint.  I'm pretty sure it has something to do with macros.

### Meta

**Rust version (`rustc -Vv`):**
[code]

Clippy version from master: `clippy 0.1.58 (84a4ab7f3 2021

[2021-11-05 01:46] calebzulawski commented on #7868
Opened #7934

[2021-11-05 02:49] dtolnay opened #7935 "Replacement suggested by manual_assert discards attributes"
[code]

[code]

Would it be possible to suggest the following?

[code]

In fact this may not be equivalent if the branch condition has side effects, so maybe we should even consider this a false positive and not lint at all.

### Meta

**Rust version (`rustc -Vv`):**

[code]

[2021-11-05 09:25] xfix opened #7936 "Recommend testing array sizes using type system rather than assertions"
### What it does

*What does this lint do?*

### Categories (optional)

- Kind: pedantic

*What is the advantage of the recommended code over the original code*

- Making illegal states unrepresentable.
- Removing unnecessary bound check at runtime.

### Drawbacks

Necessitates using `try_into()` when calling a function using a slice. Doing this change for a public API is a breaking change.

### E

[2021-11-05 12:00] totikom commented on #7932
Oh, yes...
`use_self` is in `clippy::nursery`, that's why I haven't found it.

[2021-11-05 12:00] #7932 closed

[2021-11-05 14:27] #7816 closed

[2021-11-05 17:52] llogiq commented on #7936
There is a possible perf downside to this lint: Say a `[u64; 256]` will be moved into the function via `memcpy`, whereas a slice is just two pointers wide and can fit into registers on most architectures. The data itself can reside wherever it was before.

[2021-11-05 20:32] c410-f3r commented on #7915
Is anyone willing to work on this issue? It shouldn't be too difficult to solve

[2021-11-06 02:02] dylni commented on #7934
MCVE for the same issue (add comment to #7868):

[code]

zero.rs:

[code]

[2021-11-06 06:56] Serial-ATA commented on #7934
@rustbot claim

[2021-11-06 09:16] Serial-ATA commented on #7922
@rustbot claim

[2021-11-06 09:49] Yuri6037 opened #7939 "clippy misses some unneeded_return"
Lint name:

I tried this code:

https://gitlab.com/bp3d/bpx/bpx-rs/-/blob/620854b1f47facfa4a4d7f2a6bd580f71dd3aaa0/src/variant/package/decoder.rs#L128
https://gitlab.com/bp3d/bpx/bpx-rs/-/blob/620854b1f47facfa4a4d7f2a6bd580f71dd3aaa0/src/variant/shader/decoder.rs#L146

I expected to see this happen: clippy reports unneeded_return

Instead, this happened: clippy doesn't find anything

### Meta

**R

[2021-11-06 16:34] llogiq commented on #7207
Yeah, I think having a whitelist would be the way to go for now. I think in the long run there would be value in having an annotation for handle types whose drop impls have special semantics, such as locks, processes, etc.

[2021-11-07 00:05] steffahn opened #7940 "New lint: Warn against lifetimes being the same, e.g. `'a: 'b, 'b: 'a`"
### What it does

Lint against lifetime arguments that come with bounds making them equal.

For example
[code]
could be written
[code]

Most notably this lint must also be able to take implied bound into consideration, e.g.
[code]

For some background: I came across [this question on URLO](https://users.rust-lang.org/t/lifetime-problem-with-traits/66953); I'm unhappy that neither the Rust compiler

[2021-11-07 10:19] Yuri6037 opened #7941 "write_fmt instead of write_str"
### What it does

I propose to add a lint to detect uses of `write_str(format!)` and suggest to replace them by `write_fmt(format_args!)`.

This would be usefull in all implementation of Display.

This proposal is motivated from one of my first projects where I've implemented Display for all of my error types using write_str where I could have used write_fmt. I've seen in some other project of min

[2021-11-07 10:57] skius commented on #7933
Hi, I believe your example works because `.to_string_lossy()` returns a `Deref<Target = str>`, not because it returns an `AsRef<str>`. If that's not a lint already, I agree that it would be a good addition!

[2021-11-07 11:40] smoelius commented on #7933
Thanks, @skius. I think you're right.

[2021-11-07 17:45] llogiq opened #7942 "Update tests/ui/match_wild_err_arm.rs to edition 2021"
This is one of the remaining tests still on edition 2015. We should either replace it outright (but risk that changes break older-edition code) or add another test file with the current edition. A good start is likely to copy the file, remove the `// edition: 2015` line and go from there.

@rustbot label +good-first-issue +E-needs-test

[2021-11-07 17:49] llogiq opened #7943 "tests/ui/wildcard_imports.rs is still on edition 2015"
This file is still on edition 2015 because the module system was changed in 2018. A good way to deal with this is likely to run rustfix with the new edition on a copy of the test file. It's likely a good idea to keep the old test to ensure even 2015 edition code is still linted correctly.

@rustbot label +good-first-issue +E-needs-test

[2021-11-08 08:18] xfix commented on #7941
This has a drawback of being slower for unbuffered writers. That said, writing text data into an unbuffered writer is almost certainly a bad idea, so this is more of an edge case.

[2021-11-08 09:33] #7826 closed

[2021-11-08 11:02] #7934 closed

[2021-11-08 16:53] H2CO3 opened #7946 "`pattern_type_mismatch` false positive when `&str` is matched against a `const _: &str`"
Lint name: `pattern_type_mismatch`

I tried this code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3a64e0312d5d6be65ffd24ecd00bb284)):

[code]

I expected to see this happen: the code should pass the lint, the type of the pattern is exactly the same as the type of the discriminant expression.

Instead, this happened: I got the "type of pattern does not matc

[2021-11-08 19:49] 5225225 opened #7947 "cast_lossless should lint about bool -> integer casts?"
Lint name: `cast_lossless`

I tried this code:

[code]

I expected to see this happen: Clippy to complain about the bool -> u8 cast, since it can be replaced with `u8::from(true)`.

Instead, this happened: No lint was triggered

---

The lint description does say it is a cast between *numeric* types which can be replaced with safe conversion functions, and `bool` isn't strictly a numeric type, but

[2021-11-08 19:51] xFrednet commented on #7947
@rustbot label +good-first-issue

[2021-11-08 20:11] 5225225 commented on #7947
alright, i'll have a shot at this

[2021-11-08 20:28] 5225225 commented on #7947
@rustbot claim

[2021-11-08 20:55] xFrednet commented on #7947
Looking at the issue description again, I can actually understand why this instance isn't linted, as boolean to integer casts are always lossless. Could you explain why you think this should be linted? :thinking: (Sorry, to only ask that now after I added the label :sweat_smile: )

[2021-11-08 21:18] 5225225 commented on #7947
I thought this lint was for casts that *are* always lossless (as written), which is why it's being linted about.

It comes from some places in my code where I was doing `some_bool as u8` which is *currently* lossless, but will become lossy if the type of `some_bool` changes to be a `u16`, for example. Whereas if you do `u8::from(bool)`, that's lossless because there are no `from/into` conversions

[2021-11-08 21:26] xFrednet commented on #7947
Okay, that makes sense, thanks for clarifying! I misunderstood the lint at first.

I agree that this is a false negative like you reported. The code example in the [lint documentation](https://rust-lang.github.io/rust-clippy/master/index.html#cast_lossless) also shows an example where `u8 as u64` is linted :upside_down_face:.

[2021-11-08 21:34] 5225225 commented on #7947
No worries, there's a *lot* of lints related to `as`. You were probably thinking of [cast_possible_truncation](https://rust-lang.github.io/rust-clippy/master/index.html#cast_possible_truncation)

The docs for `as_conversions` lists 11(!) casts related to it.

[2021-11-08 21:40] xFrednet commented on #7947
Yes, that was the behavior I was thinking about ^^. I always find new lint's in Clippy's collection, it's actually quite cool :)

[2021-11-08 22:15] Yuri6037 commented on #7941
Yeah probably that might be slower on File and TcpStream. It's true that I didn't think of this case as I intend this lint primarily for Display on error types. Usually you just print errors to standard error in some cases you might want to log. Even in the case of logging most loggers would rely on buffered backends. I hardly see a case you'd on purpose use an unbuffered writer to write error typ

[2021-11-08 23:14] Serial-ATA commented on #7921
@rustbot claim

[2021-11-09 00:22] Serial-ATA commented on #7920
@rustbot claim

[2021-11-09 01:12] #7922 closed

[2021-11-09 05:10] dswij commented on #7912
@rustbot claim

[2021-11-09 08:50] xfix commented on #7941
Definitely agreeing with you here :). As I said, "writing text data into an unbuffered writer is almost certainly a bad idea". It's just something that probably should be documented in lint implementation.

[2021-11-09 11:20] pro465 opened #7952 "ICE on running `cargo clippy`"
### Code

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-11-09 11:31] ojeda commented on #6880
This is a good idea; in fact, possibly for both `missing_safety_doc` and `undocumented_unsafe_blocks`.

The description is unclear which one it is referring to, though (it says "`SAFETY` comment" and "unsafe code", but the examples seem to imply safety contracts for unsafe functions).

[2021-11-09 12:49] #7921 closed

[2021-11-09 13:57] giraffate commented on #7952
Thanks for the report!

I can't reproduce that. Can you provide the backtrace with `RUST_BACKTRACE=full`, and try that in nightly?

[2021-11-09 18:21] alice-i-cecile commented on #6880
My apologies. I meant the latter, but I suspect both would be useful.

[2021-11-09 19:03] 6543 opened #7953 "deny publicated imports"
### What it does

It should detect if there is an import that exists multiple times (possible via import rename)

### Categories (optional)

- Kind: `clippy::correctness`?

*What is the advantage of the recommended code over the original code*

For example:
- It could lead in code publication
- Make code more readable
- ...

### Drawbacks

None.

### Example

[code]

Could be written as:

[code]

[2021-11-09 19:11] ojeda opened #7954 "New lint: reverse of `undocumented_unsafe_blocks`"
### What it does

Warns about unexpected `// SAFETY:` comments (i.e. the reverse of the `undocumented_unsafe_blocks` lint).

This lint is similar to https://github.com/rust-lang/rust-clippy/issues/6880, which is requesting the reverse of `missing_safety_docs`.

### Drawbacks

  - A project might also be using `// SAFETY:` comments to explain why safe code makes other unsafe code sound, e.g. within

[2021-11-09 19:12] ojeda commented on #6880
No need to apologize! And thanks for this idea and opening this issue. I have opened another one for the former, then: https://github.com/rust-lang/rust-clippy/issues/7954.

[2021-11-09 19:28] #7920 closed

[2021-11-09 20:45] llogiq commented on #7952
Interestingly the original report was on `armv7-linux-androideabi`, so someone is trying clippy on their tablet or mobile phone.

[2021-11-10 03:13] pro465 commented on #7952
<details>
<summary>Full backtrace</summary>

[code]

</details>

[2021-11-10 03:49] pro465 commented on #7952
@giraffate it works both in `cargo 1.55.0` and `cargo 1.58.0-nightly` only in `1.56.0` does it result in an ICE

[2021-11-10 03:59] giraffate commented on #7952
Oh, I'm not sure if it's because it's running on `armv7-linux-androideabi`, but the backtrace isn't showing anything.

Anyway, thanks for the detail!

[2021-11-10 04:12] pro465 commented on #7952
didnt expect to see a detective here lol! and you are right about the guess. The truth is im still in high school and my mom has told me she will get me a laptop once i have passed 10th, as laptops are expensive and she will not let me waste money uselessly

[2021-11-10 12:17] surechen commented on #7854
I am very happy to follow up on this issue

[2021-11-10 12:18] surechen commented on #7854
I am very happy to follow up on this issue
@rustbot claim

[2021-11-10 13:39] #7912 closed

[2021-11-10 18:36] camsteffen commented on #7940
You could also make a circle with 3 or more lifetimes.

[code]

I'd put this in `complexity`.

[2021-11-10 18:38] camsteffen commented on #7940
Name idea: `codependent_lifetimes`

[2021-11-10 20:47] stouset commented on #7207
Maybe the two are isomorphic to one another, but to me the issue with the threading example is that the loop iterations have side effects (thread creation) and thus we need to force them to execute at a specific point in time rather than allowing the loop bodies to be lazily run only when needed.

I haven't had enough coffee today, so maybe that's equivalent to drop impls having those kinds of spe

[2021-11-11 05:42] #7858 closed

[2021-11-11 09:08] SoCreat commented on #7952
so pass the 10th please，I came from china Zhihu

[2021-11-11 12:50] #6492 closed

[2021-11-11 13:27] xFrednet opened #7958 "Improve filtering options for Clippy's lint list"
[Clippy's lint list](https://rust-lang.github.io/rust-clippy/master/index.html) currently allows filtering by lint and group. It would be helpful to add more filters for the applicability and version values which are available. The filter design that is currently used is not set in stone, feel free to experiment a bit and make some design suggestions.

The HTML document of the page can be found un

[2021-11-11 13:36] xFrednet opened #7959 "Add copy lint name function to Clippy's lint list"
I often want to copy the lint name when searching for something on Clippy's lint list. It would be helpful to have a "copy lint name"-button next to the name, similar to the "link"-button that currently exist.

![image](https://user-images.githubusercontent.com/17087237/141307060-b5f795d7-d0a1-488e-8407-9b040f965b1f.png)

The HTML document of the page can be found under [`util/gh-pages/index.html`

[2021-11-11 14:01] giraffate opened #7960 "The suggested code by `option_map_or_none` is warned again in some case"
[code]
Clippy warns like below on this:
[code]
So I updated it according to the warning:
[code]
But, Clippy warns like below again:
[code]

In this case, I want `option_map_or_none` to suggest the last code suggested from the beginning.

[2021-11-11 14:23] flip1995 commented on #7958
Possible improvements for the current filters:

- Group filter:
    - Make drop-down menu
    - Add options to select all / none
- Lint levels:
    - Possibly the same as for groups?
- Search
    - Fuzzy search (for lint names)

Possible new lint groups:

- Version
    - greater
    - equal
    - less
- Applicability
    - Filter by applicability group
    - Same interface as the one suggested for

[2021-11-11 16:56] #7569 closed

[2021-11-11 22:24] matthiaskrgr opened #7961 "lint needless borrows in format args"
This could probably be its own lint rather than an extension of `needless_borrow`:

When passing args to `format!()` and and friends, we actually don't need to explicitly use a `&borrow` because we don't consume the object:
[code]
could as well be:
[code]

as this code sample demonstrates:
[code]

[2021-11-12 08:24] xfix opened #7964 "Warn about yen signs (¥) or won signs (₩) followed by an escape character"
### What it does

Warns about U+00A5, U+FFE5, U+20A9 or U+FFE6 followed by an escape character (`x`, `n`, `r`, `t`, `u`) or itself.

### Categories (optional)

- Kind: suspicious

Doing so suggests the intent to actually use U+005C (\\) instead. When using Windows in Japanese locale, U+005C is rendered as a Yen sign. When using Windows in Korean locale, U+005C is rendered as a won sign.

### Drawb

[2021-11-12 15:46] jonnius opened #7965 "collapsible_if suggestions are not safe"
Consider [this example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0431b0c55b2a2c090893089a8bbb7549) of using a tokio watch channel. Clippy suggests to collapse the nested `if` blocks into [this form](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=73aa10871243909595dcc739f65e3c65).

Following clippy's suggestion leads to a dead-lock. This is be

[2021-11-12 18:32] #7947 closed

[2021-11-12 18:46] #1019 closed

[2021-11-12 19:14] #1304 closed

[2021-11-12 19:15] camsteffen commented on #1874
Similar to #305

[2021-11-12 19:22] camsteffen commented on #18
Closing in favor of #305

[2021-11-12 19:22] #18 closed

[2021-11-12 19:25] camsteffen commented on #3155
Added in #7743

[2021-11-12 19:25] #3155 closed

[2021-11-12 19:26] camsteffen commented on #5013
Added in #7743

[2021-11-12 19:26] #5013 closed

[2021-11-12 19:26] camsteffen commented on #6259
Added in #7743

[2021-11-12 19:26] #6259 closed

[2021-11-12 19:29] camsteffen commented on #19
I would generalize this to `suspicious_panic_position` and lint anything weird like `Foo { field: panic!() }` or `any_function(.., panic!(), ..)`.

[2021-11-12 19:31] camsteffen commented on #21
We now have `needless_pass_by_value`

[2021-11-12 19:31] #21 closed

[2021-11-12 22:10] llogiq commented on #7952
@pro465 I have Termux installed on my mobile phone. While that will likely suffice to repro the issue, I'm unsure if I can learn more about it. Let's assume for now that the problem is indeed in some lint; perhaps we can at least bisect in which one? Start with -W `<`half of the perf lints`>`, and if it's in there, we can halve that, otherwise take half of the lints not checked until we have one o

[2021-11-13 00:09] kangalioo opened #7967 "clippy::question_mark shouldn't emit when return value isn't used."
Lint name: `clippy::question_mark`

I tried this code:

[code]
(for more context, see https://github.com/kangalioo/poise/blob/19bcc0afef2c77533a4e2f0a4aaffa4baea74f2a/src/prefix/track_edits.rs#L85-L92)

I expected to see this happen: no warning is emitted

Why: semantically, the `?` operator is meant for propagating exceptional values which the current function doesn't want to deal with. The seman

[2021-11-13 06:54] ekroon opened #7970 "thread 'rustc' panicked at 'Found unstable fingerprints for evaluate_obligation(6bba2fe2781ce34a-6081bcd845d1e7e1): Ok(EvaluatedToOk)'"
### Code

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

### Error output

[code]

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-11-13 07:11] ekroon commented on #7970
Seems to be fixed in `1.57.0-beta.3`

[2021-11-13 12:12] matthiaskrgr commented on #7970
Thanks for the ticket.
This is a rustc problem, there is nothing the clippy folks can do about that
https://github.com/rust-lang/rust/issues?q=is%3Aissue+%22Found+unstable+fingerprints%22+

I was not able to repro the rust crash though
[code]
closng.

[2021-11-13 12:12] #7970 closed

[2021-11-13 13:40] ekroon commented on #7970
I see, sorry for that. That is caused by a missing git dependency.

[2021-11-13 14:28] EdMcBane opened #7972 "False positive redundant_slicing report when slicing as immutable slice to invoke Read trait methods taking (&mut self)"
Lint name: redundant_slicing

I tried this code:

[code]

I expected no lint warnings, due to the fact that the slicing in the last line is needed to call read_to_end on the immutable slice src.

Instead clippy reports redundant slicing of the whole range
[code]

Consequently, `cargo clippy --fix` fails with:
[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

@rustbot label +I-suggestion-ca

[2021-11-13 18:08] sigaloid opened #7973 "Clippy recommending odd and broken (macro?) syntax in fix"
Running `cargo +nightly clippy` on my fork.

[code]
The fix that is given to me for this `if let Some`:
[code]
![image](https://user-images.githubusercontent.com/69441971/141654286-bf1c2edd-99c9-427d-a5e2-c20d91d3a013.png)

This fix doesn't compile at all, the syntax is just borked.

The original function:
![image](https://user-images.githubusercontent.com/69441971/141654320-0fab73af-7bad-4fac-a5d

[2021-11-13 19:09] camsteffen commented on #1076
Output looks quite different these days

[2021-11-13 19:09] #1076 closed

[2021-11-13 19:34] camsteffen commented on #627
Closing since I also can't figure out what is suggested here.

[2021-11-13 19:34] #627 closed

[2021-11-13 19:45] camsteffen commented on #684
The tweet is deleted so I think context is needed to keep this open.

[2021-11-13 19:59] camsteffen commented on #874
I'd generalize this as `coercible_deref_method` - using a method that derefs the value where the deref could be coerced implicitly. This would also apply to `Vec::as_slice` for example.

[2021-11-13 20:01] camsteffen commented on #893
This can be an enhancement of `derivable_impls`

[2021-11-13 20:04] camsteffen commented on #929
This is now covered by single_match_else

[2021-11-13 20:04] #929 closed

[2021-11-13 20:05] #932 closed

[2021-11-13 20:08] camsteffen commented on #965
I don't think this is actionable, `&array[..]` is not the same as `&array`.

[2021-11-13 20:08] #965 closed

[2021-11-13 20:13] camsteffen commented on #1010
Reusing the existing `PathBuf` is better perf so I don't think Clippy should ever suggest this. In fact, we could suggest the opposite as a perf lint.

[2021-11-13 20:13] #1010 closed

[2021-11-13 20:40] camsteffen commented on #1058
It seems the compiler does not allow such code anymore.

[2021-11-13 20:40] #1058 closed

[2021-11-13 20:46] camsteffen commented on #1077
I declare this issue to appear when I search for "question mark".

[2021-11-13 20:55] #1156 closed

[2021-11-13 21:01] camsteffen commented on #1155
I don't think suggesting crates is in scope for Clippy. Not to discourage further discussion but I'm going to go ahead and close this.

[2021-11-13 21:01] #1155 closed

[2021-11-13 21:05] camsteffen commented on #1175
Closing due to inactivity and since this isn't really actionable - there will always be the possibility of taking more lint ideas from other tools.

[2021-11-13 21:05] #1175 closed

[2021-11-13 21:08] camsteffen commented on #1161
Just a note: Changing to `impl Trait` is a breaking change, particularly when generic parameters are specified at the call site.

[2021-11-13 21:09] Manishearth commented on #1077
Yeah I'd say the question mark operator makes the original code nicer than this so we can close it

[2021-11-13 21:10] camsteffen commented on #1077
I think the original request is still relevant if you replace `try!` with `?`.

[2021-11-13 21:14] camsteffen commented on #1077
Well...I was thinking of the case where the error does not need conversion.

[2021-11-13 21:18] camsteffen commented on #1183
Closing, I don't see the "hack" in the current version.

[2021-11-13 21:18] #1183 closed

[2021-11-13 21:24] camsteffen commented on #1196
This can be done with `disallowed_method`. A dedicated lint would be restriction so I don't think that's any better.

[2021-11-13 21:24] #1196 closed

[2021-11-13 21:30] camsteffen commented on #1234
This is pretty well covered by `-Z unpretty` and `clippy::author`.

[2021-11-13 21:30] #1234 closed

[2021-11-13 21:38] camsteffen commented on #1330
I wasn't able to reproduce this.

[2021-11-13 21:38] #1330 closed

[2021-11-13 21:42] camsteffen commented on #1329
Closing as obsolete since much has changed

[2021-11-13 21:42] #1329 closed

[2021-11-13 21:46] camsteffen commented on #1354
Closing due to inactivity.

[2021-11-13 21:46] #1354 closed

[2021-11-13 21:50] camsteffen commented on #1358
I don't think there are any unresolved questions here. Clippy is distributed and versioned with the rust toolchain.

[2021-11-13 21:50] #1358 closed

[2021-11-13 21:56] camsteffen commented on #1365
I'm pretty sure this is fixed, and not a Clippy issue anyways.

[2021-11-13 21:56] #1365 closed

[2021-11-13 21:57] #1377 closed

[2021-11-13 22:00] camsteffen commented on #1388
This is `unnecessary_wraps`

[2021-11-13 22:00] #1388 closed

[2021-11-13 22:04] camsteffen commented on #1397
This is `needless_borrow`

[2021-11-13 22:13] matthiaskrgr commented on #7973
I think the problem is that the suggestion contains the expanded `vec![]` macro.

[2021-11-13 22:29] camsteffen commented on #1474
Just looking at the closures independently, you could lint that the (copy of the) array is modified and then dropped without ever observing the array after it was modified.

Otherwise, I don't think it is realistic to lint "accidental copy" because there is no reliable way of knowing if the copying is "accidental".

[2021-11-13 22:33] camsteffen commented on #1474
This is rust-lang/rust#65467

[2021-11-13 22:33] #1474 closed

[2021-11-13 22:45] camsteffen commented on #1630
I think we're pretty good about not unwrapping such things these days.

[2021-11-13 22:45] #1630 closed

[2021-11-13 22:47] camsteffen commented on #1635
I guess I'd call this `prefer_deref_methods` and make it a restriction lint.

[2021-11-13 22:52] #1746 closed

[2021-11-13 22:55] camsteffen commented on #1717
We now have `format_in_format_args` but it could be enhanced to work with variables.

[2021-11-13 22:57] #1716 closed

[2021-11-13 22:58] Manishearth commented on #1077
Yeah exactly

[2021-11-13 22:59] Manishearth commented on #1077
Also IME it's kinda normal to do this so you don't have to think about the error type and so you can easily move code around, so I'm not sure if we should lint for even the more restricted "types are the same" case

[2021-11-13 23:02] camsteffen commented on #1077
That makes sense. Preference for the question mark gives you "refactoring flexibility" at little cost. Closing again! (someone could create a new issue, but it would probably be restriction so meh)

[2021-11-13 23:02] #1077 closed

[2021-11-13 23:04] Blckbrry-Pi opened #7975 "`needless_collect` false positive around closures and mutable borrows."
Lint name:
`needless_collect`

Clippy emits a `needless_collect` warning, but after replacing the lint-failing code with the suggested code, it no longer compiles.

This is the offending code:
[code]

Clippy's suggestion:
[code]
This suggestion will not compile because both closures attempt to borrow the `&mut Vec<()>` as mutable at the same time.

**Expectation:** The code should not fail the lin

[2021-11-13 23:15] camsteffen commented on #1921
I don't see anything changing here. `unwrap` is perfectly sensible in certain cases and blanket warning by default would be too noisy.

[2021-11-13 23:15] #1921 closed

[2021-11-13 23:17] camsteffen commented on #1882
No longer reproducible

[2021-11-13 23:17] #1882 closed

[2021-11-13 23:18] camsteffen commented on #1854
Closing in favor of #7908

[2021-11-13 23:18] #1854 closed

[2021-11-13 23:29] camsteffen commented on #2094
I'd call this `deref_method_call_chain` - a method call that is equivalent to a deref followed by another chained method call can be removed.

[2021-11-13 23:29] #2001 closed

[2021-11-13 23:36] camsteffen commented on #2158
I think this should be a crate, not a Clippy feature: imagine - `cargo allowlints` adds `#![allow(warned_lint)]` to your `lib.rs`. Or something like that.

[2021-11-13 23:44] andersk commented on #1397
Cool. I think you mean `needless_borrowed_reference`? It only catches the first of my three examples though.

[2021-11-14 00:07] camsteffen commented on #1397
Ah you're right. Updated your post so that the examples compile.

[2021-11-14 20:12] camsteffen commented on #1242
The issue has been fixed

[2021-11-14 20:12] #1242 closed

[2021-11-14 20:15] camsteffen commented on #1309
This triggers `unused_mut` today.

[2021-11-14 20:15] #1309 closed

[2021-11-14 20:43] camsteffen commented on #1576
I can see how it might be deemed necessary to have a lot of args for a constructor. But it is still a code smell generally speaking, the lint is not "wrong", and so I don't think a special case should be added. You can `allow` on the constructor. You could also consider refactoring by grouping some fields into structs.

[2021-11-14 21:31] camsteffen commented on #2253
This seems misguided. Generic functions are not inlined or translated at *every* use site.

[2021-11-14 21:31] #2253 closed

[2021-11-14 23:14] Manishearth commented on #2253
I wouldn't say this is _misguided_, neither are `#[inline]` functions. I think there is legitimately no benefit to marking generic functions as  `#[inline]`; both include AST in the metadata and have a mild inlining hint. But I also don't think it's worth linting about it here.

[2021-11-15 00:44] camsteffen commented on #2353
Given that this hasn't received any "me too"s, I think people are generally satisfied with the current behavior. To me `is_some` easily carries its weight because Option is just so ubiquitous to Rust.

[2021-11-15 00:44] #2353 closed

[2021-11-15 00:47] camsteffen commented on #2369
This should trigger `needless_collect`. We just have to be careful there is not something like `map(...)` with side effects.

[2021-11-15 01:01] #7854 closed

[2021-11-15 01:05] camsteffen commented on #2870
In addition to reasons given above, the `clone()` call implicitly dereferences the value before cloning it. Without a method call, the deref has to be explicit. So your options are
1. Implicit deref + clone()
2. Explicit deref + implicit copy

[2021-11-15 01:05] #2870 closed

[2021-11-15 06:09] pro465 commented on #7952
@llogiq it seems the problem is with clippy itself, not some specific lint...

[2021-11-15 10:39] #7973 closed

[2021-11-15 14:54] camsteffen commented on #2901
Looks like this is completed by https://github.com/rust-lang/rustup/pull/1461?

[2021-11-15 15:34] #2901 closed

[2021-11-15 15:56] camsteffen commented on #2852
Related to if not the same as #7122

[2021-11-15 16:11] camsteffen commented on #2954
I'm not sure how to reproduce this. Probably obsolete. And pre-expansion passes are discouraged these days.

[2021-11-15 16:11] #2954 closed

[2021-11-15 16:16] camsteffen commented on #2915
Couldn't reproduce this today.

[2021-11-15 16:16] #2915 closed

[2021-11-15 16:27] camsteffen commented on #3031
The lint documentation says "Taking arguments by reference is more flexible...". I think this is sufficiently clear and Clippy is right to lint the case in the OP.

[2021-11-15 16:27] #3031 closed

[2021-11-15 16:41] camsteffen commented on #4468
`redunant_clone` is now in `perf` so this warns by default.

[2021-11-15 16:41] #4468 closed

[2021-11-15 16:45] camsteffen commented on #3236
Today this lints as expected.

[2021-11-15 16:45] #3236 closed

[2021-11-15 16:53] camsteffen commented on #3305
This applies to anything with a block: `if`, `if let`, `while`, `for`. I think it should be a separate lint `needless_semicolon_after_block`.

[2021-11-15 16:57] camsteffen commented on #3262
IMO this would have to be restriction. The `Err` adds clarity. I also like putting the error case (or the "unhappy path") first in general.

[2021-11-15 17:15] #3710 closed

[2021-11-15 17:17] camsteffen commented on #3713
I think it's quite unusual to use `_name @` just for code clarity rather than just doing `let name =`.

[2021-11-15 17:17] #3713 closed

[2021-11-15 17:28] camsteffen commented on #3695
I suggest not doing that because it erases the difference between warnings and errors. Use `deny(warnings)` instead.

There is `cfg_attr(condition, allow(lint))`, but I'm not sure if that's what you're looking for?

Attributes do not modify other attributes. Attributes modify the item or statement below.

Closing since I don't think this is actionable but feel free to comment further.

[2021-11-15 17:28] #3695 closed

[2021-11-15 17:32] #3896 closed

[2021-11-15 17:35] camsteffen commented on #3941
We now have `clippy::msrv`.

[2021-11-15 17:35] #3941 closed

[2021-11-15 17:41] camsteffen commented on #3156
Marking as pedantic for reasons discussed in #3753

[2021-11-15 17:41] camsteffen commented on #3753
Duplicate of #3156

[2021-11-15 17:41] #3753 closed

[2021-11-15 17:46] #3738 closed

[2021-11-15 18:04] camsteffen commented on #3770
How about we allow
[code]

[2021-11-15 18:27] camsteffen commented on #4864
I'd be in favor of `style`. When I see `from` I skim over it quickly because I know it's always safe. With `as`, I have to slow down and make sure it works as intended. If the type of the casted expression isn't plaininly obvious, I'll have to figure that out too.

[2021-11-15 18:33] camsteffen commented on #4756
I think the block on the LHS is more egregious than the one on the RHS.

[2021-11-15 19:25] llogiq commented on #4864
Note that casting bools to integers is also a form of `cast_lossless`.

[2021-11-15 23:28] kamalesh0406 commented on #7943
@rustbot claim

[2021-11-16 02:50] Jarcho commented on #7483
This will be partially fixed in #7639. `const` functions for which all arguments are constants will no longer suggest switching to or from a closure. In cases where the arguments are not constants a closure will still be suggested. e.g.

[code]

Will still suggest the use of `unwrap_or_else`

[2021-11-16 03:02] pymongo opened #7979 "ICE on undocumented_unsafe_blocks lint"
[code]

## step to reproduce
1. git clone https://github.com/pymongo/leetcode-rust
2. git checkout 5432649be7c7fb82e24c5eac83585fe4936e1b77
3. cargo clippy

### Meta

**Rust version (`rustc -Vv`):**

[code]

### If I apply some `// Safety: ...` line to solve undocumented_unsafe_blocks lint, then cause another ICE panic

[code]

[2021-11-16 03:03] pymongo commented on #7979
@ rustbot label +I-ICE

[2021-11-16 03:19] pymongo commented on #7979
I am trying to find a minimal reproduce code, but when I copy some unsafe code from my leetcode-rust repo to a single file cargo project, then this ICE was not reproduce. So I think currenly the only way to reproduce this bug/ICE is to clone my leetcode-rust repo

[2021-11-16 06:49] hellow554 opened #7981 "Lint possible octal escape sequence in string"
### What it does

There is [this question](https://stackoverflow.com/questions/69981449) on Stackoverflow which has the following code:

    println!("\033[93mError\033[0m");

and the person (coming with a python background) is confused why Rust doesn't print it colored.
The obvious solution would be to use a crate to do the the work ;)

### Categories (optional)

- Kind: `clippy::suspicious`

*Wh

[2021-11-16 06:59] hellow554 commented on #7979
Here's the MCVE:

[code]

[2021-11-16 07:03] hellow554 commented on #7979
Judging from the backtrace it is probably this line:

https://github.com/rust-lang/rust-clippy/blob/5b1b65b876b500e15de45155a04d055ff3cd126f/clippy_lints/src/undocumented_unsafe_blocks.rs#L147

[2021-11-16 15:21] flip1995 commented on #3770
Yeah, I think we can allow one-line similarities. We could use our `is_muliline_span` (or something like that) to determine if the statement is multiple lines long. And if it is a single expr/stmt that is only one line long, just don't lint.

[2021-11-17 01:21] jonhoo opened #7983 "redundant_closure: FnOnce is not general enough"
Lint name: `redundant_closure`

I tried this code:

[code]

Clippy recommended I rewrite it to:

[code]

I expected to see this happen: if I apply Clippy's suggestion, my code would compile.

Instead, this happened: applying Clippy's suggested edit causes the code to no longer compile, yielding:

[code]

FWIW, the actual function causing me this issue was [`cargo::util::restricted_names::is_glob_p

[2021-11-17 01:21] jonhoo commented on #7983
@rustbot label +I-suggestion-causes-error

[2021-11-17 02:00] #7889 closed

[2021-11-17 06:03] phansch commented on #7942
@llogiq The file doesn't have the `// edition: 2015` anymore. I suppose this can be closed then?

It only has annotations for 2018 and 2021 editions:
https://github.com/rust-lang/rust-clippy/blob/46687f1313454882df10609e12d47f997501962d/tests/ui/match_wild_err_arm.rs#L1-L3

[2021-11-17 06:33] #7975 closed

[2021-11-17 07:07] alice-i-cecile opened #7985 "Lint suggestion: explicit construction of tuple struct by named fields"
### What it does

*What does this lint do?*

Detects if someone has decided to create a tuple struct by its named (.0, .1 etc) fields.

See [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8006290eca4f50c8e6dd065b60ce0cb7) for proof that this actually works.

### Categories (optional)

- Kind: `clippy::style`

*What is the advantage of the recommended code

[2021-11-17 07:59] llogiq commented on #7942
Nice!

[2021-11-17 07:59] #7942 closed

[2021-11-17 09:12] ojeda opened #7987 "New lint: preferred case for hex digit literals"
### What it does

Warns if {upper,lower}case hex digits are used in a literal (i.e. forces a particular case). That is, it is stronger than the `mixed_case_hex_literals` lint.

This is a "preference lint pair", like the `{un,}separated_literal_suffix` and `inline_asm_x86_{att,intel}_syntax` ones.

### Categories (optional)

- Kind: style.

### Drawbacks

In general, it is arguable whether this sor

[2021-11-17 13:42] orhun commented on #6870
I think this should be a style lint too. I didn't know about this lint until I figure out I can use `and_then` instead of `map` & `flatten` so it would be good to be warned about this by `clippy`, as default.

[2021-11-17 14:24] #7792 closed

[2021-11-17 15:29] flip1995 commented on #7952
I can't reproduce this on playground (rustc version 1.56.1). So maybe  it is really a problem with `armv7-linux-androideabi`. Has this target a different `usize` maybe, so that some cast in Clippy goes wrong?

[2021-11-17 15:36] #7979 closed

[2021-11-17 15:53] Emerentius commented on #2915
Yeah, I don't see it either anymore with `clippy 0.1.56 (59eed8a 2021-11-01)`

[2021-11-17 16:14] pro465 commented on #7952
@flip1995 running ```rust
fn main() {
    println!("{}", usize::BITS);
}
[code]

[2021-11-17 16:14] #7960 closed

[2021-11-17 16:24] flip1995 commented on #7952
We even test clippy on 32-bit linux, so it should work on 32-bit archs. But I could imagine that it may have something to do with this.

[2021-11-17 16:30] pro465 commented on #7952
@flip1995 maybe `the len is 7` is the code reduced to 7 MIR tokens/instrs/(whatever that is called)? i think somebody must investigate what the mir output of the code is, as i think that is where the issue lies

[2021-11-17 16:33] #7820 closed

[2021-11-17 17:36] llogiq commented on #7952
It didn't appear with 1.53, which I still had on my mobile phone. I'm currently upgrading to 1.56 to see if I can reproduce it.

[2021-11-17 17:48] llogiq commented on #7952
Trying to emit MIR brought me a bit more info:

[code]

[2021-11-17 19:45] awused opened #7991 "`option_if_let_else` incorrect suggestion, ignores semantics of existing code"
I tried this code:

[code]

Expected: option_if_let_else should probably not suggest anything here, it can't be trivially replaced with a map or unwrap function.

Instead, clippy suggested replacing the if let with:

[code]

This is an incorrect suggestion that will compile but will change the behaviour of the code.

### Meta

**Rust version (`rustc -Vv`):**

[code]

I usually disable `option_if_l

[2021-11-18 05:50] pro465 commented on #7952
@flip1995 wait, why does clippy panics with `Box<dyn Any>` in your env but a `the len is x but the index is y` in mine? the case is getting more mysterious...

[2021-11-18 05:58] pro465 commented on #7952
@flip1995 oops sorry didn't mean to mention you,  i meant @llogiq, editing my previous comment...

[2021-11-18 09:09] llogiq commented on #7952
Could be differences in the release?

[code]

[2021-11-18 09:52] pro465 commented on #7952
@llogiq i just noticed two things:

1. `the len is x`- `x` changed from 7 to 6 when i changed the code from
[code]
to
[code]
meaning the len is something related to the mir of the code;
2. `the index is y` - the value of `y` seems to be garbage, changing with every run

[2021-11-18 23:47] #1212 closed

[2021-11-18 23:47] #1726 closed

[2021-11-18 23:47] #5327 closed

[2021-11-19 01:42] surechen commented on #7915
I am very happy to follow up on this issue.
@rustbot claim

[2021-11-19 02:24] Manishearth commented on #684
I think the context was that this is a stability hazard, but TBH I don't think the Rust community has settled on strong stability of serialization without additional effort.

[2021-11-19 02:24] #684 closed

[2021-11-19 05:30] pzheng1025 commented on #7946
I have faced the same issue.

[2021-11-19 09:08] c410-f3r commented on #7915
Thank you!

[2021-11-19 09:27] dswij commented on #7967
`question_mark` actually checks for these kind of cases, `if foo.is_none() { return None; }` [from the description here](https://github.com/rust-lang/rust-clippy/blob/0d283cc44c1ac9e0b61ccc66eb1544abed075dfb/clippy_lints/src/question_mark.rs#L44-L58).

Although I don't think it's accurate to say it's FP, I can see why one would prefer explicitly writing these out.

[2021-11-19 15:22] Munksgaard opened #7998 "`needless_collect` causes compiler overflow if followed"
Lint name: `needless_collect`

I tried this code which compiles fine and results in an (expected) panic:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3e4089484c082e09a8940b42977c83fb)

I then follow this suggestion from clippy:

[code]

And turn my code into the following

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mod

[2021-11-19 15:24] ralpha commented on #7275
I had the same problem with `dbg_macro`. (And maybe others.)
Even when using `#![deny(clippy::all)]` it did not report an error.
(rust: 1.56.1, Linux)

[2021-11-19 18:26] xFrednet commented on #7958
A *search only in lint name* function would also be nice.

[2021-11-19 20:51] orhun opened #7999 "Categorize `map_flatten` as a style lint instead of pedantic"
I recently learned that we can write `and_then()` for `Option`'s instead of `map().flatten()`. There is a lint for that which is called [`map_flatten`](https://rust-lang.github.io/rust-clippy/master/#map_flatten). Unfortunately, it is categorized as `clippy::pedantic` so I doubt I would ever hear about it if I didn't come to this repository to propose the exact same lint and see that it already ex

[2021-11-20 08:09] birkenfeld opened #8002 "doc_markdown: suggestion looks like double backticks needed"
For example:
[code]

Since all "try" hints are already enclosed in backticks, we end up with double backticks in the suggestion, which looks like it could be actual markup (especially if you also use ReST).

I suggest to omit the backticks in the hint, leading to ```try: `TwinCAT` ``` which together with the error text makes it obvious what is meant.

[2021-11-20 08:22] birkenfeld opened #8003 "let_underscore_drop complains about idiomatic `let _ = ignorable_result`;"
Lint name: let_underscore_drop

I tried this code:

[code]
I expected to see this happen: no clippy errors

Instead, this happened: clippy wants to keep the Result around until end of scope, while `let _ =` is the normally suggested way to deal with results where there is no useful Ok and the Err needs to be ignored.

[edit: this originally suggested that the Drop bound is wrongly inferred.]

###

[2021-11-20 08:40] birkenfeld commented on #7981
I think this is a very good idea.

Maybe not for strings, but for bytes literals (which should also be covered by this new lint) null bytes are quite common.

However this is easy to fix: `\x00` can be used instead in these cases, which is unambiguous.

[2021-11-20 09:40] leonardo-m opened #8004 "suboptimal_flops in const functions"
On this code:

[code]

Clippy gives me:

[code]

But currently mul_add doesn't work in const functions.

[2021-11-20 09:44] leonardo-m opened #8005 "redundant_pub_crate Vs unreachable-pub"
I am not sure if this is a false positive. On this code:

[code]

Clippy gives me:

[code]

But if I replace it with just "pub" and I compile the code with rustc using "-W unreachable-pub", I get:

[code]

So I am not sure who is wrong here.

[2021-11-20 10:44] birkenfeld commented on #2345
Should this not recommend `matches!(X, a | b | c)` instead of a `match` block?

[2021-11-20 10:47] birkenfeld opened #8008 "manual_range_contains: suggest `matches!(x, range)` instead of `range.contains(&x)`?"
The `matches` reads nicer (IMO, due to argument order and no borrowing needed) and is shorter.

For now only for inclusive ranges, where this is stable.  Exclusive ranges will come later.

[2021-11-20 12:36] xFrednet commented on #8002
Hey, the suggestion intentionally has two backticks to make the fix automatically applicable. Clippy suggests writing `` `TwinCAT` `` and rustc automatically adds the outer backtick. Maybe this could be improved by showing the suggestion with a single backtick in a help message, and then using [`span_suggestion_hidden()`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_errors/diagnostic/stru

[2021-11-20 12:45] xFrednet commented on #8004
@rustbot claim

[2021-11-20 12:46] birkenfeld commented on #8008
Dupe of #7563, sorry.

[2021-11-20 12:46] #8008 closed

[2021-11-20 12:46] birkenfeld commented on #7563
IMO the `matches reads nicer due to the argument order and no needed borrowing, and is also shorter.

[2021-11-20 16:20] birkenfeld commented on #8002
Thanks for the explanation, that makes sense.

I can try to do what you suggested. Is there a facility to test the automated update suggestions in addition to the compiler output uitests?

[2021-11-20 16:32] xFrednet commented on #8002
Sure, that would be wonderful. The lint is currently emitted here:

https://github.com/rust-lang/rust-clippy/blob/827fd501d0a132922e83ee4de2930c6743d201e6/clippy_lints/src/doc.rs#L773-L781

The `span_lint_and_sugg` would need to be replaced with an `span_lint_and_then` function. Clippy's uitest save the lint message in an `.stderr` file and create a `.fixed` file where the suggestions are applied.

[2021-11-20 16:54] dodomorandi opened #8010 "Missed `manual_filter_map` with `matches!`"
Lint name:
`manual_filter_map`

I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8a10a5c2d8647c8b3f93e8f64448c961)

I expected to see this happen: `manual_filter_map` lint should be triggered.

Instead, this happened: everything's fine for clippy.

### Meta

**Rust version (`rustc -Vv`):**

[code]

### Additional information
There are

[2021-11-20 18:04] #8002 closed

[2021-11-20 19:45] nicholasbishop commented on #7910
Confirmed that this lint is no longer incorrectly triggering in current nightly. Thanks!

[2021-11-20 19:45] #7910 closed

[2021-11-20 20:12] king-11 commented on #7763
Hey, @camsteffen I did like to work on it although am new to this project so can you point me somewhere I can look at how to work this out. Thanks!

[2021-11-20 20:45] king-11 opened #8012 "needless_range_loop suggestion improvement"
I encountered one suggestion from Clippy in context of `needless_range_loop` for a code as below
[code]
it currently suggests using
[code]
This is all good and works but in my opinion the iterator can take far lesser values than it's taking now. Am not sure if it has any performance impact which I think it should have given it's taking more values into consideration.

Based on the above doc I assu

[2021-11-20 20:46] king-11 commented on #8012
@rustbot C-enhancemet

[2021-11-20 20:48] king-11 commented on #8012
@rustbot label +C-enhancemet

[2021-11-20 20:49] king-11 commented on #8012
@rustbot label C-enhancement

[2021-11-20 22:22] camsteffen commented on #7763
Hi @king-11! For lints that detect a sequence of method calls like this one, the implementation starts in the `methods` module. So you can start by adding a line for `map` right here (the methods are detected in reverse order):
https://github.com/rust-lang/rust-clippy/blob/32048ebea3bfefd7bbe4d9f8e030a189c93122d5/clippy_lints/src/methods/mod.rs#L2315-L2319

Take a look at how some other lints in t

[2021-11-21 00:32] smoelius commented on #8003
Maybe this is correct? `Repr::Custom` wraps a `Box` and `Box` implements `Drop`.
https://doc.rust-lang.org/src/std/io/error.rs.html#74
https://doc.rust-lang.org/std/boxed/struct.Box.html#impl-Drop

[2021-11-21 00:41] zedseven opened #8013 "non_ascii_literal doesn't catch `char` literals in single-quotes"
Lint name: `non_ascii_literal`

I apologize if this has been reported before or this is the wrong issue category. I checked for pre-existing issues and this category seemed to fit best.

I tried this code:

[code]

This could be replaced with:

[code]

I expected to see Clippy warn about the non-ASCII literal within the single-quotes.

Instead, Clippy allowed it. I suspect Clippy only checks for n

[2021-11-21 06:14] king-11 commented on #7763
@rustbot claim

[2021-11-21 07:39] birkenfeld commented on #8003
You're right, the `Drop` bound doesn't work properly. `std::mem::needs_drop()` agrees with you.

However, I will then reformulate the issue: it is idiomatic (at least I thought so) to discard `Result`s that need not be handled with `let _ = result;` The semantics is also what's desired: no need to keep the Error around until end of scope.

So the lint should maybe just get an exception for the `Re

[2021-11-21 13:49] xFrednet commented on #8003
I am not convinced that `Result` should get a pass out of the box, there are probably cases where the error should be keep. We could introduce a configuration value for it. :thinking:

[2021-11-21 13:57] surechen commented on #7946
Hi, I'm interested in this issue and want to follow up on it.
@rustbot claim

[2021-11-21 14:52] birkenfeld commented on #8003
Sure it is only `pedantic`, but clippy directly contradicts idiomatic use here. And I'd be very interested to see an error with an intended scope-like effect :)

[2021-11-21 17:00] codybloemhard opened #8014 "Lint: useless/unidiomatic match statement on bool"
### What it does

Catch code that flips a boolean with a match statement, as well as code that applies the identity function over a boolean with a match statement.
Lints for code like this exists:

[code]
but there seems to be no lint for code like this:

[code]

I saw someone writing that piece of code, so it could be useful if there was a lint for it.

### Categories (optional)

- `clippy::style

[2021-11-21 17:19] 1Dragoon opened #8015 "Dangling pointer lint?"
I'm not entirely sure whether unsafe rust is in-scope for clippy, but if it is, I'd like to see a feature to detect (at least) the more obvious cases of a dangling pointer. Specifically, I had trouble figuring out what was causing my code to have bugs here:

https://github.com/microsoft/windows-rs/issues/1342

This is the offending bit:
[code]

I'm still new to programming in general, especially r

[2021-11-22 00:01] #7915 closed

[2021-11-22 00:14] #8004 closed

[2021-11-22 05:20] azzamsa opened #8016 "Add more information to the error in `needless_question_mark`"
Hi.

I got the `needless_question_mark` error in the code below:

[code]

[code]

Removing the question mark indeed breaks the program:

[code]

I am stuck here, so I asked in [Discord forum](https://discord.com/channels/273534239310479360/273541522815713281/912196533078863942), and they suggest to remove the `Ok` too.
With only the error message above, "remove the question mark" only, I would not

[2021-11-22 06:58] scottmcm opened #8017 "Suggest `.cast()` instead of `as` for pointer casts"
### What it does

Suggests using the more-scoped `cast` methods
https://doc.rust-lang.org/std/primitive.pointer.html#method.cast
https://doc.rust-lang.org/std/primitive.pointer.html#method.cast-1
for pointer casting instead of the more-general `as`.

### Categories (optional)

- Kind: style

(One could argue that this is more `pedantic`, as that's what https://rust-lang.github.io/rust-clippy/maste

[2021-11-22 08:32] clarfonthey commented on #2345
Definitely defends on preference. Not sure whether there are any existing lints to convert match blocks to ifs or the reverse.

[2021-11-22 09:41] bluenote10 opened #8018 "unnecessary_cast should ignore type aliases"
Lint name: `unnecessary_cast`

I tried this code:

[code]

Motivation of the code: Audio processing is typically done in `f32`. To allow for rare experiments with `f64`, the code is using a type alias to allow for easy switching (but full blown generic would be over-engineering).

**I expected to see this happen:** Clippy should not issue an `unnecessary_cast` when a type alias is involved. From a

[2021-11-22 14:17] ChrisJefferson opened #8019 "question_mark suggests using ? in a method which doesn't return result"
I tried this code on the latest nightly (reduced from large program):

[code]

I expected to see this happen: No suggestion

Instead, this happened:

[code]

### Meta

**Rust version (`rustc -Vv`):**

I run through cargo + rustup. cargo +nightly version is the following (I rustup updated just now)

```cargo 1.58.0-nightly (ad50d0d26 2021-11-17)```

[2021-11-22 14:18] PyroTechniac opened #8020 "Unknown ICE error"
Apologies if I'm doing any of this wrong, however I just ran into this ICE and have no idea why, as my code compiles normally.

[code]

This happened locally, on CI it returned an error with the https://github.com/starlite-project/starchart crate

[2021-11-22 16:20] kpreid opened #8021 "New lint: types which cannot be constructed in `const`"
Possible name: `missing_const_constructor`

### What it does

Flags types which cannot be constructed using any constant expression. That is, the type meets all of these criteria:

* Is public in a library crate.
* Cannot be constructed as a literal outside the crate (struct or union with private fields or `#[non_exhaustive]`).
* Does not have an associated nonmethod function `pub const fn <any na

[2021-11-22 17:43] xFrednet commented on #8003
Thinking about it more, I agree that it would make sense to allow this lint for the Result type, at least if only the Error type implements drop. Maybe we could still have a configuration value, but the default configuration could allow Result by default. :)

[2021-11-22 17:49] xFrednet commented on #8020
Hey, thanks for the report! This looks like an error originating from Clippy. Could you try to run Clippy with `RUST_BACKTRACE=1` set as an environment value? I think we also fixed one ICE in the past month, it might also be worth to update your nightly version, to see if that fixes it. :upside_down_face:

[2021-11-22 18:06] xFrednet commented on #8015
Hey, thanks for the suggestion! Clippy has some lints targeted towards unsafe code, this lint sounds reasonable. Could you try to clarify the example a bit, I'm not sure where the dangling pointer comes from.

[code]

Compiles fine on Rust's playground :)

[2021-11-22 18:10] MarijnS95 commented on #8015
@xFrednet that example compiles fine, but the `Vec` goes out of scope after that statement meaning `_new` is now a raw pointer to freed memory. Using/dereferencing it is UB and for that reason already `unsafe`, but that brings us back to the age-old discussion of discarding lifetime information (all the `as_*ptr` variants) needing to be `unsafe` in the first place.

(Note: the underlying issue is

[2021-11-22 18:15] xFrednet opened #8022 "New lint to minimize the unsafe block scope."
### What it does

Checks for `unsafe` blocks that contain safe code, which can be extracted to the outside safe code.

### Categories (optional)

- Kind: pedantic

Rust doesn't enforce memory safety guarantees in `unsafe` blocks. Having more code inside the unsafe block than necessary, might result in bugs which could be avoided by having the code in the save-code-scope. It also clearly indicates

[2021-11-22 18:28] xFrednet commented on #8015
I haven't worked with unsafe code that much, so please correct my if I'm wrong but does the `Vec` really go out of scope? I expected that as first as well, but the line compiles fine in safe code. Only writing to it afterwards requires unsafe code. Could you maybe provide a minimal Rust example?

My current understanding is that this lint should check for all instances where `.as_mut_ptr()` or som

[2021-11-22 18:37] MarijnS95 commented on #8015
Exactly. It's actually a backwards thing to do because that's why we have borrows with lifetimes in the first place. In most cases a borrow coerces into a raw pointer nicely, but that's not the case with slices (ie. `&mut [u16]` doesn't coerce into `*mut u16`, though a `&myslice[0]` may help out here).

And even then, in this example for https://github.com/microsoft/windows-rs/issues/1342, it's pr

[2021-11-22 18:56] jszwedko opened #8023 "Denying `print_stdout` lint in `src/lib.rs` does not catch `println!()`s in modules"
Lint name: `print_stdout`

I might be misunderstanding something, but usually I put lints in `src/lib.rs` to deny them for all modules. This works for other lints, but seems to not work for the `print_stdout` lint?

I tried this code:

https://gist.github.com/jszwedko/59e2fad1a7d4e0c36b96a802a99e25fc

I expected to see this happen: clippy output a warning for the `println!()` in `src/foo/mod.rs`

[2021-11-22 19:36] PyroTechniac commented on #8020
Updating to latest nightly didn't seem to help, here's that stacktrace

[code]

Command used was
[code]

[2021-11-22 19:52] xFrednet commented on #8015
Alright, thank you for the clarification, that helped a lot! The lint implementation will require some tinkering, but would be an interesting project. I'm happy to provide guidance if someone wants to try their hand on this one :upside_down_face:

---

@1Dragoon I think we can keep this issue as the lint suggestion. Would you mind updating the issue description to have "What it does" headline expl

[2021-11-22 20:40] #7981 closed

[2021-11-22 21:41] Zalathar commented on #2477
I ran into a similar issue with a backwards loop that modifies a vector:

[code]

The correct range is `(0..vec.len()).rev()`, which also conveniently avoids unsigned overflow when `vec` is empty.

[2021-11-23 01:05] Serial-ATA commented on #8020
It's caused by [this line](https://github.com/starlite-project/starchart/blob/c5209b8b97f95c6d4217a7ca463918aebd99b1a9/src/backend/mod.rs#L114), but has no issue with [this line](https://github.com/starlite-project/starchart/blob/c5209b8b97f95c6d4217a7ca463918aebd99b1a9/src/backend/json.rs#L188) 🤔.

[2021-11-23 03:02] destenson commented on #6930
I think if there's a suggestion that changes semantics, the suggestion should provide a warning that it does. Probably it should also have an increased severity or something designating that it fixes a bug. I think silently changing semantics is hostile, even under the best of intentions.

[2021-11-23 03:16] destenson opened #8024 "needless_range_loop makes questionable suggestion"
Pretty simple. Here is the code (I didn't write it):
[code]
`self.x` and `self.y` are `Vec<Vec<f64>>`.

Clippy says:
[code]

I get the suggestion, but is it really better in this case? Is it a zero-cost abstraction?

Regardless of whether it compiles to the same code (I doubt it does, but I haven't checked), it's definitely harder to reason about.

[2021-11-23 04:19] mikerite commented on #8024
Maybe use [Iterator::sum](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.sum) to replace the inner loops.

[2021-11-23 08:28] dswij commented on #8019
@rustbot claim

[2021-11-23 08:35] #7870 closed

[2021-11-23 10:20] PyroTechniac commented on #8020
This ICE does not occur when running
[code]

however it does occur when running with the `--tests` flag

[2021-11-23 12:11] dswij commented on #8016
I see nothing wrong with the suggestion, but I do think that the displayed message can be improved :slightly_smiling_face:

@rustbot claim

[2021-11-23 15:08] kamulos opened #8027 "`use_debug` does not work for `format_args!()`"
Lint name: `use_debug`

I tried this code:

[code]

I expected to see this happen: the lint should fail, because I am using debug formatting. Actually I am using the `log` crate and was surprised, that I do not get a warning from clippy. I am just guessing that fixing this for `format_args!()` also will fix the `log!()` macros that internally depend on it.

### Meta

**Rust version (`rustc -Vv`):*

[2021-11-23 15:58] flip1995 commented on #8023
Duplicate of #6610

This is because the `print_stdout` is a pre-expansion pass lint. We have to get rid of those lints at some point. The challenge with that is, that we have to rewrite those lints before we can do that.

[2021-11-23 15:58] #8023 closed

[2021-11-23 16:23] surechen commented on #7946
Hi, this issue has been fixed by [commit](https://github.com/rust-lang/rust-clippy/commit/8c1c763c2d5897c66f52bd5e7c16f48ae66c894c).

[2021-11-23 16:33] xFrednet commented on #7946
Hey @surechen, would you mind adding a test for this example to ensure that this never breaks again? Then we can close this for good :upside_down_face:

[2021-11-23 16:35] xFrednet commented on #8016
Oh, yes I misunderstood the description a bit, then this is only an enhancement. Thanks for pointing that out! :upside_down_face:

[2021-11-23 20:12] jszwedko commented on #6610
In case it helps others, as a work around I ended up adding these lints to `.cargo/config.toml`:

[code]

[2021-11-24 18:03] Diggsey commented on #1013
Yeah, I hit this as well, with the following associated type:

[code]

I think this lint should just not fire when already defining a type alias / associated type, since splitting it out is not necessarily an improvement.

[2021-11-25 01:21] ojeda opened #8029 "`rest_pat_in_fully_bound_structs` with `#[non_exhaustive]` items"
To match a `non_exhaustive` struct in a downstream crate, `..` is needed; but `rest_pat_in_fully_bound_structs` would complain about it.

Should `rest_pat_in_fully_bound_structs` take into account whether the match is happening on a `#[non_exhaustive]` struct?

[2021-11-25 08:23] #8016 closed

[2021-11-25 15:00] ojeda opened #8031 "New lint: generalize `exit`, `todo`, `mem_forget`, etc."
### What it does

The new lint(s) would be a generalization of other lints that check for usage of some functions, types, macros, etc.:

  - [x] [`exit`](https://rust-lang.github.io/rust-clippy/master/index.html#/exit) could be generalized to take a list of functions to check for (including those of the same project, not just the standard library).
    + Handled now by [`disallowed_methods`](https

[2021-11-25 17:13] xFrednet commented on #8031
We have the [`disallowed_methods`](https://rust-lang.github.io/rust-clippy/master/index.html#disallowed_methods) and [`disallowed_types`](https://rust-lang.github.io/rust-clippy/master/index.html#disallowed_types) lints. Having this for functions sounds reasonable. Macros can be a bit iffy but might be worth a try :upside_down_face:

[2021-11-25 17:52] PatchMixolydic opened #8033 "`clippy::no_effect` trips when instantiating an uninhabited type"
Lint name: `clippy::no_effect`

Continuing [the trend of *technically*-false positives that almost nobody will encounter](https://github.com/rust-lang/rust-clippy/issues/7792), I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f2103ed4bfc6ad99cf85bfc2601ff1ea)):

[code]

Running `cargo clippy` produces the following diagnostic:
[code]

However

[2021-11-25 18:57] ojeda commented on #8031
Thanks! I will add the links to the OP message.

[2021-11-25 18:59] llogiq commented on #8033
I don't think that UB should be seen as an "effect".

I guess the right thing to do here is to add a lint against instantiating uninhabitable types?

[2021-11-25 20:57] PatchMixolydic commented on #8033
That's probably the most sensible solution, since it could help people who may have forgotten/don't know the rules around uninhabited types. Such a lint could also be useful for generic code in rare cases, such as in this contrived generic function that can create any ZST ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e58f9b0b7301e31514b778cb352bb8b2)):
[cod

[2021-11-26 10:36] lnshi commented on #1209
@oli-obk the problem is that if i run with the option `--deny=warnings` **then it exit on the fist warning it encountered**, i would like clippy to still run until to the end to list down all the issues, and if there are some warnings then set the none-zero status code, **not fail fast**.

How can i achieve that? @mcarton @oli-obk

[2021-11-26 11:16] #8013 closed

[2021-11-26 11:50] ojeda opened #8035 "Can `clippy-driver` be always used as replacement of `rustc`?"
When invoking Clippy (via Cargo or `clippy-driver`), we get the usual `rustc` outputs + the extra lints. However, is it guaranteed that `clippy-driver` will work as if `rustc` was called? That is, can we rely on the generated objects or they should always be built without `clippy-driver` if they are intended for "production"?

A potential use case would be to always use `clippy-driver` instead of

[2021-11-26 14:18] oli-obk commented on #1209
You're in luck: https://github.com/rust-lang/rust/pull/87337 just got merged and should be in stable in 7 or 8 weeks, then this should just work exactly as you expect

[2021-11-26 23:08] not-my-profile opened #8036 "New lint: Optional dependency isn't actually optional"
### What it does

For the following `Cargo.toml` config:

[code]

Clippy would tell you: Are you sure that you want to mark the `tokio` dependency as optional? It isn't actually optional because your `reqwest` dependency depends on it.

### Categories (optional)

- Kind: cargo

Marking a dependency that isn't actually optional as optional is confusing.

### Drawbacks

None.

[2021-11-27 10:58] xFrednet commented on #8036
Hey, do I understand correctly that you're referring to transitive dependencies? In that case, I think that it can still be valuable to have this dependency marked as optional. Having it as a direct dependency means that it can be used directly inside the code, while transitive dependencies can't be imported with use statements. :upside_down_face:

[2021-11-27 11:23] xFrednet commented on #8035
Hey, I have not worked on `clippy-driver` directly, so take this with a grain of salt.

Rustc uses a query system for compilation, which enables incremental builds. Clippy reuses this infrastructure and only registers new lint passes for Clippy lints. The lexer, parser, type checker etc. are the same. Meaning that until then everything should be equal. `cargo clippy` basically works like `cargo ch

[2021-11-27 11:28] not-my-profile commented on #8036
Ah yeah ... my bad. I noticed that `cargo` was automatically enabling the optional feature and thought that was because of the transitive dependency.

As it turns out that was just because of a Cargo workspace situation: when you have two crates in a workspace with crate A depending on an optional feature of crate B and run `cargo test` in the workspace directory, Cargo automatically enables the o

[2021-11-27 11:28] #8036 closed

[2021-11-27 11:30] llogiq commented on #8036
Also I'd like to note that code is subject to change. If your dependency changes to no longer require the crate you depend on optionally, you now have a needless dependency for all users who don't depend on the feature in question.

I'd much rather have the inverse lint: Showing me that a dependency would be optional because it is only required for some set of features.

[2021-11-27 12:27] bjorn3 commented on #8035
`cargo clippy` runs `cargo check` with clippy-driver instead of rustc as compiler. You can also run clippy-driver instead of rustc for `cargo build` by setting the `RUSTC` env var. And you if you normally run rustc directly you can run clippy-driver directly to compile your code. The question is if this is something that will remain the case forever.

[2021-11-27 15:03] ojeda commented on #8035
Yeah, exactly what @bjorn3 says.

For context, I am asking this to see if, in the kernel, we can rely on `CLIPPY=1` builds or we should e.g. warn that they should not be used for "actual" builds of the kernel (e.g. intended to be distributed to users). Furthermore, if the answer is positive, then it would mean we could contemplate removing the option and always build with Clippy enabled.

For inst

[2021-11-27 15:41] bjorn3 commented on #8035
Yes. It will disable all optimizations done on the MIR. This means that LLVM has more work to do, but it also disables a couple of optimizations for patterns that LLVM is currently unable to optimize well.

[2021-11-27 16:18] ojeda commented on #8035
That is what I was afraid of... :(

Opened #8037 to document this -- please take a look. If later on the guarantee can be made, then it can be removed.

[2021-11-27 17:40] flip1995 commented on #8035
I was under the impression, that Clippy doesn't even do CG. It shouldn't be necessary, because Clippy has no lints (and probably won't have any in the future) that would trigger on a CG level. So I'm now wondering if it is  possible to disable CG completely for Clippy, like when running ``cargo check``?

[2021-11-28 00:33] camsteffen commented on #8035
The following is just my own opinion...

I think the short answer is no; clippy-driver is designed purely for linting with Clippy, not for actually compiling. Perhaps clippy-driver could handle this kind of usage with more care, but that's another discussion. The current guidance is "just use rustc to compile".

So I think the readme section on clippy-driver should communicate the above more clear

[2021-11-28 09:08] EFanZh opened #8038 "Lint against non-idiomatic use paths"
### What it does

Warn users about importing item other than modules, types, traits and derive macros.

### Categories (optional)

- Kind: `clippy::style`.

*What is the advantage of the recommended code over the original code*

From <https://doc.rust-lang.org/book/ch07-04-bringing-paths-into-scope-with-the-use-keyword.html#creating-idiomatic-use-paths>:

The book does not say about how to import

[2021-11-28 16:49] ojeda commented on #8035
Sounds good to me. Another alternative instead of silently disabling codegen is to error out if a contradicting option is requested, e.g. `--emit=link` or `obj`.

[2021-11-28 16:55] ojeda commented on #8035
...although someone out there may be using it for quick development cycles with lints enabled.

[2021-11-28 18:36] leonardo-m opened #8039 "Suggest array_chunks usage"
This function is part of a basic (reference) implementation of a crypto algorithm:

[code]

From:
https://github.com/BLAKE3-team/BLAKE3/blob/master/reference_impl/reference_impl.rs

Once array_chunks is stable I'd like Clippy to suggest better code like this:

[code]

Eventually another Clippy link should help write code like this, without the iter_mut:

[code]
In my opinion a better version of th

[2021-11-28 21:12] #6703 closed

[2021-11-29 00:54] giraffate commented on #2477
`reverse_range_loop` is now included in `reversed_empty_ranges`, so I changed this title.

[2021-11-29 01:16] #7436 closed

[2021-11-29 11:07] conradludgate opened #8041 "Inverse of `mod_module_files`"
### What it does

Checks that module layout uses only mod.rs files for consistency.

Rust now seems to suggest using the non-mod setup, but I haven't seen any meaningful effort to enforce the transition or deprecating it, and a lot of people I have asked seem to prefer the old mod style. It's more consistent with `lib.rs` and better known as an idea outside of rust (`index.html` files in websites,

[2021-11-29 18:11] jonas-schievink commented on #407
https://github.com/rust-lang/rust/pull/52467 has been merged a long time ago, but some Clippy lints still incorrectly fire for code generated by foreign macros (for example in https://github.com/rust-lang/rust-clippy/issues/4861 and https://github.com/knurling-rs/defmt/issues/642).

[2021-11-30 00:16] giraffate commented on #8018
It seems to be duplicate of https://github.com/rust-lang/rust-clippy/issues/8018.

[2021-11-30 00:22] giraffate commented on #8014
It would be better to enhance the `needless_bool` lint.

[2021-11-30 01:53] DjLogozzo opened #8043 "False positive for `enum_clike_unportable_variant` for values that are variable based on the width of a `usize`"
Lint name:
enum_clike_unportable_variant

I tried this code:

[code]

I expected to see this happen:
Since the value of `HIGH_BIT` is variable dependent on the size of `usize`, it should never overflow a `usize`.
That code is portable to 32-bit architectures because when compiled for a 32-bit arch, the value of `HIGH_BIT` would change to fit within a 32-width `usize`

Instead, this happened:
[code

[2021-11-30 02:07] DjLogozzo commented on #8043
Possibly related issue: #1134
The issue I'm having looks like its related to this issue, where the value computed for the enum value is not taking into account that the value might be different on other architectures

[2021-11-30 03:37] DjLogozzo commented on #8043
When running clippy with a 32-bit target triple, it no-longer errors out

64-bit Architecture
[code]
32-bit Architecture
[code]

[2021-11-30 08:13] llogiq commented on #8018
Agreed. Closing as duplicate.

[2021-11-30 08:13] #8018 closed

[2021-11-30 09:57] mvtec-bergdolll opened #8044 "Clippy has no --color option"
Similar to other cargo tooling and cargo itself there should be a --color=always/never option for clippy.

I have situation where I'd like to pipe clippy into other programs and preserve the colors. But I see no way of achieving that.

Example bash: `cargo test -- --color=always |& less` perverses colors but `cargo clippy -- --color=always |& less` fails and just cargo clippy |& less` strips color

[2021-11-30 10:36] bluenote10 commented on #8018
#8018 is this issue itself :wink: Do you perhaps mean #6923?

[2021-11-30 11:25] tspiteri opened #8045 "non_send_fields_in_send_ty seems to be misguided"
The non_send_fields_in_send_ty lint wrongly states that implementations of `Send` are unsound because some fields are `!Send`.

If the fields were `Send`, there would be no need to write `unsafe impl Send for S {}`, as `S` would be automatically `Send`. The only time you need to explicitly implement `Send` for a struct is when some fields aren't `Send`. That is why the code needs to be marked `uns

[2021-11-30 11:41] giraffate commented on #8018
Oh, yes, I mean #6923.

[2021-11-30 12:43] Avanta8 opened #8046 "Needless collect suggestion does not compile"
Lint name: `needless_collect`

I tried this code:

[code]
As iterators are lazy, I have to collect the iterator to avoid having multiple mutable references to `a`, as `a.foo()` is called within the loop. If this did compile, it could also change the logic of the code if `a.foo` actually did something.

Here is a playgound link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gis

[2021-11-30 13:46] sdroege opened #8047 "Beta/1.57: Wrong suggestion with `needless_option_as_deref` lint"
Lint name: needless_option_as_deref

I tried this code:

[code]

I expected to see this happen: no clippy warnings

Instead, this happened:

[code]

See playground link: https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=2a51686bfc1dd26539145888b18e8b09

Applying that suggestion causes compilation to fail:

[code]

### Meta

**Rust version (`rustc -Vv`):**
[code]

@rustbot label

[2021-11-30 15:51] poliorcetics opened #8048 "New lint suggestion: advise replacement of `map` + `take_while` + `map` by `map_while`"
*First suggestion for clippy lint, sorry if I missed something*

### What it does

Detects usages of this form ([link](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.map_while)):

### Categories (optional)

- Kind: once stable, either `style` or `complexity`, though similar lints are in `pedantic` (but they don't involve an extra `.unwrap()` in their to-fix form)

Advantages:

- One

[2021-11-30 17:16] tspiteri commented on #8045
And here's a reduced version of actual code which triggered the false positive for me.
[code]

[2021-11-30 19:51] roblabla commented on #4341
This already exists in rustc, in the form of the unused_crate_dependencies lint: https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#unused-crate-dependencies

This issue should probably be closed?

[2021-11-30 20:14] epompeii commented on #2001
@camsteffen was this resolved or just closed?
If resolved, would you be able to point me to the appropriate pull request?

[2021-11-30 20:22] est31 commented on #4341
@roblabla that lint is allow by default because it doesn't work well with how cargo offers crates to rustc. That is, each cargo *package* has multiple *crates*, and each crate can use different dependencies. One example is main.rs and lib.rs in the same package. Another one is crates used by dev dependencies, as a dev dependency can e.g. only be used by doctests. Giving good error messages in all

[2021-11-30 20:24] camsteffen commented on #2001
Sorry I don't know when it was fixed.

[2021-12-01 08:54] surechen commented on #7946
Sorry to reply so late, I'm happy to do that.

[2021-12-01 09:48] khyperia opened #8050 "`nonminimal_bool` reorders operands, changing behavior"
### Summary

In some cases (not sure if this is an actual minimal repro or if it's more complicated than needed, I don't really understand what's going on here), `nonminimal_bool` will reorder the operands to logical && and || operators, changing behavior if the operands have side effects. I hit this in real-world code, and got lucky that I noticed it after quickly applying clippy's fix - my code

[2021-12-01 10:13] #7946 closed

[2021-12-01 12:15] sfackler commented on #8045
I am also confused as to what the purpose of this lint is supposed to be - the entire point of `unsafe impl`s of `Send` is to implement `Send` for a type with `!Send` fields!

[2021-12-01 12:16] ssokolow opened #8051 "Spurious verbose_file_reads in one arm of an if/else"
### Summary

It's simplest to just look at the reproducer. but, in short, `verbose_file_reads` isn't taking into account that the `File::open` is outside an `if`/`else` block and the `File::read_to_string` is inside only one of the branches.

### Lint Name

verbose_file_reads

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Nothing. The use o

[2021-12-01 13:29] cristeigabriel opened #8052 "Clippy emitting wrong lint for unsafe"
### Summary

[code]

The produced expression above is not valid, the `& 1 != 0` should be inside the `unsafe` block.

### Reproducer

I tried this code:

[code]

I expected to see this happen:
Upon running `cargo clippy` I'd expect it to reduce state to `unsafe { no(4) & 1 != 0 }`

Instead, this happened:
It reduced state to `unsafe { no(4) } & 1 != 0 ` which is invalid syntax

### Version

[code]

[2021-12-01 13:32] leonardo-m opened #8053 "Recognize trailing_ones code patterns"
### What it does

Perhaps Clippy could spot code patterns like foo2() and suggest to replace that loop with trailing_ones() (and similar code for the other functions like trailing_zeros and leading_zeros):

[code]

In Rust code translated from C and C++ code I see many of such small loops (GCC has many functions like __builtin_clz(), but they are less portable so lot of people don't use them or do

[2021-12-01 13:39] cristeigabriel commented on #8052
It seems that the Rust lexer thinks that I want to do a borrow, when I want to do the AND operation. both `&1 != 0` and `& 1 !=
0` outside of `unsafe` don't work. is this a lexer bug, or intended?

[2021-12-01 15:05] llogiq commented on #8050
So the solution would be to avoid linting on detecting a combination of short-circuiting ops and (potential) side effects?

[2021-12-01 15:23] llogiq commented on #8052
The problem is that an `unsafe` block is still a block, so if I understand correctly it needs parentheses to be parsed as expression here.

[2021-12-01 16:42] jyn514 commented on #1209
Note that https://github.com/rust-lang/rust/pull/87337 only avoids failing fast *within the crate*; if you have multiple crates in a workspace, cargo will still stop after the first one with a denied warning.

[2021-12-01 16:55] khyperia commented on #8050
Hm? No, as described in the "reproducer"/"I expected to see" section, the solution would be to rewrite to an expression that does not change the behavior of the program, rather than one that does.

[2021-12-01 20:24] jsgf opened #8055 "needless_collect doesn't take into account side-effects"
### Summary

needless_collect does not take into account side effects of the iterator, and so spuriously reports a necessary collect as needless.

### Lint Name

needless_collect

### Reproducer

I tried this code:

[code]
playground https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=35738bf7ad2c8bcba6b8431afd61e527

I saw this happen:

[code]

I expected to see this happen: n

[2021-12-01 22:56] mathroc opened #8056 "type_repetition_in_bounds false positive with "fully-qualified-syntax""
### Summary

When using 2 fully qualified type in a where expression "based" on different types, such as :

* `<Sc::QueryT as juniper::GraphQLValue<Sc::S>>::TypeInfo: Send + Sync`
* and `<Sc::MutationT as juniper::GraphQLValue<Sc::S>>::TypeInfo: Send + Sync`

clippy triggers a type_repetition_in_bounds error. I think that's because the "base" types (`Sc::QueryT` & `Sc::MutationT`) are entirely rep

[2021-12-02 00:18] giraffate commented on #6420
Yes, I think so.

Many false positives have been reported for `needless_collect` in the indirect usage, but not for the direct usage. So, IMO it would be better that `needless_collect` is split into two and the indirect usage is downgraded to `nursery`.

[2021-12-02 01:07] lnshi commented on #1209
@jyn514 i see...., may i know what is the motivation of this design? I feel either make it configurable that totally not failing fast, or something like only after encountered certain number of denies then fail is better? Instead of like currently fail at 1st, then push then fail at another, so on and on, a bit annoying

[2021-12-02 02:31] jyn514 commented on #1209
@lnshi "it's hard" and no one has done the work to implement it.

[2021-12-02 03:38] surechen commented on #8050
Hi, I’m  interested in this issue and I’m trying to find out why this happened.

[2021-12-02 10:38] m1el opened #8058 "Suggest Rc<str> instead of Rc<String>"
### What it does

Recognizes a `Rc<String>` type and suggests to use `Rc<str>` instead.

### Lint Name

unneded-rc-string

### Category

complexity

### Advantage

- `Rc<str>` allows easier access to `HashMap/BTreeMap` collection items, using `&str` as key, unlike `&String` keys for `Rc<String>`.
- `Rc<String>` has no advantages over `Rc<str>`
- Using `Rc<str>` requires fewer indirections.
- `Rc<s

[2021-12-02 10:59] m1el commented on #8058
This lint is already covered by `rc-buffer`, but doesn't work for local variables for some reason.

[2021-12-02 11:06] m1el commented on #8058
Closing this one as it's a bad description

[2021-12-02 11:06] #8058 closed

[2021-12-02 11:18] m1el opened #8059 "rc-buffer doesn't recognize Rc<String> in some cases"
### Summary

rc-buffer doesn't recognize `Rc<Buffer>` when used in function body.

If a local function variable has `Rc<String>` type, the lint should trigger, but it does not.

### Lint Name

rc-buffer

### Reproducer

I tried this code:

[code]

I expected to see this happen:
clippy displays rc-buffer lint for lines 4 and 5 and suggests to use `Rc<str>` instead of `Rc<String>`.

Instead, this ha

[2021-12-02 15:00] llogiq commented on #8052
@rustbot claim

[2021-12-02 16:03] GuillaumeGomez commented on #8045
This is indeed very unhelpful...

[2021-12-02 16:11] sdroege commented on #8045
This was added in https://github.com/rust-lang/rust-clippy/pull/7709, FWIW. But the explanation there is also not very helpful, and also the example is arguably half-wrong (it shows two unsound uses, but the one concering the `Rc` is completely sound if the refcount of the `Rc` is 1).

[2021-12-02 16:21] kpreid commented on #8045
This is not about whether the lint is useful, but I just noticed that the documentation for it is also wrong — it says

which is not at all how Rust works (sending is not observable / does not run code, let alone `Drop`). The original proposal wrote

which is a more correct (s/and drops/and then dropping/)  description of the problem.

Thinking about whether there's any value at all, maybe this li

[2021-12-02 17:00] frobiac opened #8060 "clippy --fix fails to escape backslash when replacing r"\" into '\\' E0762"
### Summary

`clippy --fix` will not escape a backslash when replacing it in a single-character string constant.

### Reproducer

Minimal example:

[code]

But clippy did leave out the escaping backslash.

[code]

### Full log

[code]

### Version

[code]

### Additional Labels

_No response_

[2021-12-02 17:32] xFrednet opened #8062 "Make `search_is_some` suggestion `MachineApplicable` in `1.59.0` or `1.60.0`"
### Description

#7463 added a function to create closures where the argument type is dereferenced. In the PR, it was decided to have it as `MaybeIncorrect` for one or two releases. Afterwards, we want to have it as `MachineApplicable` if not major problems came up (if any). This issue just assures that this intention is not forgotten.

---

I'll claim this for now, anyone can feel free to make th

[2021-12-02 17:35] tspiteri commented on #8045
You can have a Rust struct wrapping an FFI struct that in turn contains a pointer. The Rust struct makes sure there is no aliasing so that it can be `Send` as it ensures the pointer is not aliased, but it needs `Drop` to free the pointer in the end.

[2021-12-02 17:35] SamRodri opened #8063 "`redundant_closure` suggestion ignores capture by reference"
The suggestion for `redundant_closure` lint ignores capture by reference, causing compile error if the referenced closure is reused.

I tried this code:

[code]

The suggestion `foo(bar)` causes the closure to move so it cannot be reused after, I expected either `foo(&bar)` suggestion or no warning.

### Meta

Rust version (`rustc -Vv`)

[code]

@rustbot label +I-suggestion-causes-error

[2021-12-02 17:42] #7392 closed

[2021-12-02 17:42] afetisov commented on #8022
Disagree. There is no reason to artificially make the scope smaller, the exact unsafe operations are already highlighted by every IDE, and there is nothing gained from duplicating that information in the block structure. On the other hand, unsafe code correctness depends on some invariants which are unknown to the compiler, and it makes sense, when possible, to enclose in `unsafe { }` the entire s

[2021-12-02 17:49] xFrednet commented on #8045
Even if it is completely safe in that case, I think that it is correct to mark this as suspicious.

Personally, I like the notion to only mark allow structs to be `Send` if all fields are also `Send` but that might be too restrictive in some applications. There is the `enable-raw-pointer-heuristic-for-send` configuration to allow the lint for raw pointers, we could maybe add a new configuration to

[2021-12-02 17:58] xFrednet commented on #8022
For the given reasons, the lint should, if ever created, be `restriction` rather than `pedantic` as some projects warn about `pedantic`. I'll leave this open for discussion and also think about it a bit more for now. Thank you very much for the comment, you mentioned some good reasons that I haven't thought about :upside_down_face:

[2021-12-02 18:08] kpreid commented on #8045
This is exactly what the automatic implementation of `Send` does already for all types.

Which is when you use `unsafe impl Send`. *All* uses of `unsafe impl Send` are either intentionally bypassing the restriction, or are redundant with the auto implementation.

[2021-12-02 21:22] scrabsha opened #8065 "`--tests` is not listed in the clippy options"
### Description

@yozhgoor and I discovered that the `--tests` option exists but is not listed in any of these commands:
  - `cargo clippy --help`,
  - `cargo clippy -- --help`,
  - `clippy-driver --help`.

Being able to lint on tests is an awesome feature IMO. I think it deserves to be listed in the `--help` output.

### Version

[code]

### Additional Labels

_No response_

[2021-12-02 21:29] frobiac commented on #8060
I'll give it a go...

[2021-12-02 22:19] Qwaz commented on #8045
Thanks for bringing this false positive to the attention.

**TL;DR** (1) This lint has a rule that handles `Copy` types and raw pointers, but unfortunaetly `NonNull` was not included. I'll work on that as soon as possible (hopefully upload a PR by the end of tomorrow EST). (2) Many people being confused about the purpose of the lint indicate that the current lint description needs an improvement.

[2021-12-02 22:50] kpreid commented on #8045
Given that clarification, I'd say the lint documentation has two problems:

1. Instead of “This lint has a heuristic to filter out false positives”, the documentation should be written to focus on the idea that it's distinguishing between likely unsound cases (such as `impl<T> for Wrapper<T>` as you mention) cases and likely sound cases (bare pointers), and warning about the former only. Without t

[2021-12-02 23:04] frobiac commented on #8060
#8067 should fix this.
What really tripped me off while digging into the codebase was the internal conversion into forward slashes :-)

[2021-12-02 23:11] Qwaz commented on #8045
That description is indeed incorrect and I'll include that in the fix

[2021-12-03 00:01] smoelius commented on #8065
It's a little hidden, but the Clippy's help message contains the following text:
[code]
I.e., Clippy accepts the same options `cargo check` does (`--package <SPEC>`, `--workspace`, etc.).

I agree it's an awesome feature, BTW. :)

[2021-12-03 00:37] #8060 closed

[2021-12-03 08:27] sdroege commented on #8045
Not exactly the same situation, but in gtk-rs we have helper structs around `NonNull<T>` that provide some additional functionality for the underlying raw pointers (including e.g. a `Drop` impl). These are never `Send` (or `Sync`), but the user-facing structs that are wrapping around them might be.

Currently this lint triggers for each of these user-facing structs that are actually `Send` because

[2021-12-03 09:15] tspiteri commented on #8045
I hit this in [Rug](https://gitlab.com/tspiteri/rug/-/blob/v1.14.0/src/integer/small.rs#L70-75). This is somehow similar to having a small vector which can be borrowed as a full vector, that is there is a way to get `&Vec` from `&SmallVec`. The small vector has two fields: one that mimics the `Vec` struct and one which is the data. The `Vec` itself contains a pointer to data, so the function that

[2021-12-03 09:45] hellow554 opened #8069 "`to_vec` on for loop expression"
### What it does

Warns about a `to_vec()` on a for loop expression.

There is this [real world example](https://github.com/breard-r/acmed/blob/1f0dcc32aadbc5e52de6d23b9703554c0f925113/acmed/src/storage.rs#L263) (please don't see as an offence!):

[code]

I know, that there are similar lints, e.g. for a String, that gets imediatly dereferenced to a `&str`, so maybe one could extend that lint?

###

[2021-12-03 12:09] llogiq commented on #8033
I think I'm going to try to create such a lint.

[2021-12-03 13:45] llogiq commented on #8069
Note that in `for i in &file_types`, `i` is not the same as in `for i in file_types.to_vec()`, the former borrows each item, while the latter consumes them.

[2021-12-03 13:59] hellow554 commented on #8069
Also `i` without `to_vec` is `&T`, while with it it's `T`.

But nevertheless it should be linted

[2021-12-03 14:25] llogiq commented on #8069
But then we should be careful while linting:

* If the items are only used by reference, we're likely OK with borrowck (e.g. calling methods that take `&self`), but note that with trait lookup, even then we may break compilation, as some traits may be available for `Item` but not `&Item`.
* Otherwise, we may use `.iter().cloned()` (or even `copied()`, depending on whether the type implements `Copy

[2021-12-03 15:54] s-cerevisiae commented on #7952
I'm running into the same error on Termux with rustc 1.56.1 and clippy 0.1.56.

[2021-12-03 18:34] jamesbornholt opened #8073 "`redundant_closure` false positive with `Rc<F>`/`Arc<F>`"
### Summary

It seems like something changed in 1.57 that causes Clippy to suggest removing a redundant closure involving an `Arc<F>` or `Rc<F>`, but the suggestion doesn't compile, and `rustc` explicitly suggests undoing the suggestion.

### Lint Name

redundant_closure

### Reproducer

I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6400a55

[2021-12-03 19:57] camsteffen commented on #8069
This can be covered by `unnecessary_to_owned`, currently in progress #7978

[2021-12-04 00:25] Qwaz commented on #8045
Thanks for sharing more false positive cases! It seems it's evident that we need a better heuristic to handle non-Send internal types. I can see two directions to approach this problem at high level. We can (1) focus specifically on incorrect Send impls related to generic types (Send/Sync variance bugs) or (2) try to invent a ruleset to allow internal structs similar to what we do for pointer-like

[2021-12-04 02:10] smoelius commented on #8069
Are we proposing that there be a code suggestion to rewrite the entire loop?

[2021-12-04 04:02] calebzulawski commented on #8020
Is this because #7945 is not yet upstream?  I'm still waiting for it for #7934.

[2021-12-04 05:03] rainliu opened #8076 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value',"
RUST_BACKTRACE=1 cargo clippy
    Checking sctp-proto v0.0.0 (/home/yliu/rust/webrtc-rs/webrtc/crates/sctp/sctp-proto)
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/compiler/rustc_hir/src/definitions.rs:452:14
stack backtrace:
   0: rust_begin_unwind
             at /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/library/s

[2021-12-04 05:05] rainliu commented on #8076
RUST_BACKTRACE=full cargo clippy
    Checking sctp-proto v0.0.0 (/home/yliu/rust/webrtc-rs/webrtc/crates/sctp/sctp-proto)
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/compiler/rustc_hir/src/definitions.rs:452:14
stack backtrace:
   0:     0x7ff751bc1a9c - std::backtrace_rs::backtrace::libunwind::trace::hf6a6dfd7da937cb0

[2021-12-04 08:33] AntonioLucibello commented on #7952
Can confirm this bug also occurs in version 1.57 and for aarch64 architecture.
I've pasted the error messages of a few of my projects, hopefully this can be of use: https://github.com/termux/termux-packages/issues/7870#issue-1037655245

[2021-12-04 08:49] surechen commented on #8050
I think because the `simplify` function in crate `quine-mc_cluskey` flipped the values on the left and right sides of `||` when processing !((a&&b)||(c&&d)). For some cases SuggestContext::recurse can flip it back , But for some mixed situation of multiple || and &&, it doesn't seem to work as expected. I don't konw how to fix at present.

[2021-12-04 13:39] giraffate commented on #8076
It's duplicate of https://github.com/rust-lang/rust/issues/90682, so I'm closing this.

[2021-12-04 13:39] #8076 closed

[2021-12-04 13:42] #7999 closed

[2021-12-04 20:37] llogiq commented on #8069
No. I would either add `.cloned` or `.copied` to the iterator if necessary.

[2021-12-04 21:50] smoelius commented on #8069
Please forgive me, @llogiq, but it sounds like you have some idea as to how you would make this determination. If that's right, could you please share? (If not, that's cool too.)

[2021-12-04 22:34] CraftSpider commented on #8020
Getting this same ICE myself. Don't have a nice minimal reproduction, it appears to be caused by something non-local in the file, and it's 'touchy' to me changing things.

[2021-12-05 08:46] llogiq commented on #8069
I was thinking about letting an `ExprUseVisitor` visit the loop body to determine what locals are used. Then compare that with the item pattern (the `i` in `for i in ..`), which notably may have multiple bindings. If there is at least one binding used by value, get its type and check if that type is `Copy`; if so, use `.copied()`, else `.cloned()`. Otherwise check if items are taken by mutable ref

[2021-12-05 08:46] hellow554 commented on #8069
In the specific example in my opening post it isn't necessary to make a copy or clone, because the elements are use as reference only.

[2021-12-05 11:22] smoelius commented on #8069
Thanks, @llogiq. I'll give this a shot.

[2021-12-05 18:19] zhiburt opened #8078 "Failed to recover key for crate_hash(7b325c0bcf1c8f7e-78e92a3d885642c8) with hash 7b325c0bcf1c8f7e-78e92a3d885642c8"
### Summary

Hi there,

Was doing `cargo clippy` in https://github.com/zhiburt/ptyprocess

And got this error.

`cargo clean` fixed this

But I guess it was necessary to report?

Thank you.

### Version

[code]

### Error output

<details><summary>Backtrace</summary>
  <p>

[code]

  </p>
</details>

[2021-12-06 00:01] giraffate commented on #8078
I can't reproduce it with `rustc 1.57.0 (f1edd0429 2021-11-29)`. Can you try the current stable?

Also, it doesn't seem to be a bug of Clippy.

[2021-12-06 07:35] zhiburt commented on #8078
It may not be.

After running cargo clean. I no longer can reproduce it as well .

But before I was constantly getting it.

On Mon, Dec 6, 2021, 3:01 AM Takayuki Nakata ***@***.***>
wrote:

[2021-12-06 09:31] khyperia opened #8079 "disallowed_method doesn't work for primitive types"
### Summary

When trying to add a method on `f32` to `disallowed-methods`, I can't seem to get it to trigger an error. The context here is [this rust-gpu issue](https://github.com/EmbarkStudios/rust-gpu/issues/796).

(as an aside, https://rust-lang.github.io/rust-clippy/master/ says it's spelled "disallowed_methods", in-code it's spelled `clippy::disallowed_method`, and in `clippy.toml` it's spell

[2021-12-06 10:22] Alumin112 opened #8081 "I ran cargo clippy and this showed up"
[code]

[2021-12-06 13:53] giraffate commented on #8081
It's duplicate of https://github.com/rust-lang/rust-clippy/issues/8076, so I'm closing this.

[2021-12-06 13:53] #8081 closed

[2021-12-06 14:56] djc opened #8082 "bind_instead_of_map ignores conditionally compiled contents"
### Summary

bind_instead_of_map seems to ignore conditionally compiled code in a closure passed to `Option::and_then()`, resulting in a removal of the call when automatically applying fixes.

### Lint Name

bind_instead_of_map

### Reproducer

`cargo clippy --fix` made this change:

[code]

Without `--fix`, it gives me this suggestion:

[code]

Which also ignores the real code:

[code]

### Versi

[2021-12-06 16:59] r00ster91 opened #8083 "Lint suggesting to replace `str::bytes().count()` with `str::len()`"
### What it does

It checks for `str::bytes().count()` and suggests replacing it with `str::len()` that does the same but shorter and possibly more performant.

Extra: can something like this be done for https://doc.rust-lang.org/std/io/trait.Read.html#method.bytes too?

### Lint Name

bytes_count_to_len

### Category

complexity

### Advantage

- Might be more performant
- Shorter
- Possibly easi

[2021-12-06 21:58] hahohihu commented on #7122
@rustbot claim

[2021-12-07 00:03] jqnatividad opened #8084 "`needless_lifetimes` typo"
### Summary

The first point in the Known Problems section has a typo.
"potenial" should be "potential"

We bail out if the function has a `where` clause where lifetimes are mentioned due to **potenial** false positives.

### Reproducer

_No response_

### Version

_No response_

### Additional Labels

_No response_

[2021-12-07 00:22] #8019 closed

[2021-12-07 00:58] #8084 closed

[2021-12-07 02:37] dswij commented on #7991
@rustbot claim

[2021-12-07 09:37] n47h4n13l opened #8087 "shadow_unrelated triggered instead of shadow_reuse for if-let-bindings"
### Summary

For a if-let-binding reusing a variable name, the lint shadow_reuse should be triggered. Instead, I get an error when denying shadow_unrelated.

### Lint Name

shadow_reuse, shadow_unrelated

### Reproducer

I tried this code:

[code]

I expected to see this happen:
An error in false_negative().

Instead, this happened:
An error in false_positive()

### Version

_No response_

[2021-12-07 12:15] leonardo-m opened #8088 "[ER] Useless str -> String allocation"
### What it does

Inspired also by:
https://github.com/rust-lang/rust/pull/91626

In this code:

[code]

I'd like Clippy to suggest to avoid the string allocation:

[code]

Similar suggestions are useful to HashMap, etc.

### Lint Name

useless_string_allocation

### Category

pedantic

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2021-12-07 12:46] leonardo-m opened #8089 "[ER] Useless slicing warning"
### What it does

Inspired by this issue:
https://github.com/rust-lang/rust/pull/91625

In code like this:

[code]

Clippy could suggest to write instead:

[code]

Or even:

[code]

### Lint Name

_No response_

### Category

_No response_

### Advantage

_No response_

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2021-12-07 13:14] tspiteri opened #8090 "enum_variant_names false positive when first word has common prefix as part of word"
### Summary

The lint warns if all variants have the same prefix word. If the first variant has the prefix word at the start of its first word, it wrongly triggers the lint even if the first word is longer than the prefix word. If this variant is not the first variant, the warning is not triggered.

### Lint Name

enum_variant_names

### Reproducer

I tried this code:

[code]

I saw this happen:

[2021-12-07 16:27] austinabell opened #8091 "`redundant_closure` FP when functions returns `!`"
### Summary

Unsure if directly related to https://github.com/rust-lang/rust-clippy/issues/8073 so I will open a separate issue. Feel free to close if it is handled in the same cases, just want to be sure this variant is handled as well. Clippy suggests removing the redundant closure but it cannot be removed because the closure return is different.

### Reproducer

I tried this code:

[code]

I ex

[2021-12-07 18:20] SeeSpring opened #8092 "not_unsafe_ptr_arg_deref does not trigger on type aliases and trait methods"
### Summary

If the raw pointer is used behind a `type` alias or the function is part of a trait, not_unsafe_ptr_arg_deref is not triggered.

### Lint Name

not_unsafe_ptr_arg_deref

### Reproducer

I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c52d2035d080cf0a95ae50757aa0c62e)

I expected to see this happen: Lint for `not_unsafe_pt

[2021-12-07 20:03] bugadani commented on #8088
Maybe this could be generalized to useless_allocation as well, for the `Vec<->slice` or similar cases?

[2021-12-07 20:11] bugadani commented on #19
This seems to boil down to seeing the never type (`!`) used basically anywhere except expression statements? I would call anything suspicious that doesn't return but gets assigned to something - `todo!()`, variations of `unreachable`, asserts?.

[2021-12-07 22:00] est31 commented on #8089
Another example where there should be a lint:

[code]

[2021-12-07 23:58] #7991 closed

[2021-12-07 23:59] giraffate commented on #8089
We have the [`redundant_slicing`](https://rust-lang.github.io/rust-clippy/master/index.html#redundant_slicing) lint, so it would be better to improve this.

[2021-12-08 00:02] giraffate commented on #8089
It causes a compile error with currently stable 1.57.0, not beta and nightly.

[2021-12-08 06:29] dtolnay opened #8093 "False positive unnecessary_cast on type alias to cfg-dependent type alias"
### Summary

Closely related to #6331:

[code]

[code]

Following the fix of #6331, Clippy is correctly no longer triggering `unnecessary_cast` on `0 as CfgDependent`. However the same lint is still triggered on `0 as AlsoCfgDependent` in which Clippy's suggested replacement is incorrect for exactly the same reason. It would be better to transitively look through type aliases when looking for the

[2021-12-08 11:31] nerosnm opened #8094 "`self_named_module_files` does not find self named module files"
### Summary

The `self_named_module_files` lint fails to trigger an error in a crate with this file structure:

[code]

I initially thought the issue might be related to the inner module being annotated with `#[cfg(test)]`, but that's not needed to cause the false negative.

### Lint Name

self_named_module_files

### Reproducer

I tried this code:

[code]

[code]

[code]

I expected to see this h

[2021-12-08 11:34] nerosnm commented on #8094
Here's the minimal reproduction described in the issue: https://github.com/nerosnm/clippy-mod-file-false-negative.

[2021-12-08 11:42] nerosnm commented on #8094
I should add that it doesn't fail in every case, for me. In the private repo where I initially noticed this, which is a workspace with 4 members, only one instance of a self named module file wasn't found, while 3 or so were. _But_, the weird thing about the ones that were found was that they were only found by dependent crates with the lint set to `deny`, and not the crate they actually live in.

[2021-12-08 12:07] #1013 closed

[2021-12-08 17:51] ens-scmeeu opened #8095 "Bug: Clippy Crash"
NOTE: Apologies that this is likely going to be a very unhelpful bug report. The codebase is a company proprietary one so I can't share much (I can probably share small snippets if helpful). Let me know what else you need and I will see what I'm allowed to share. Thanks for making these great tools.

Clippy crashed when used in conjunction with cargo watch (`cargo watch -x clippy`). It was working

[2021-12-08 18:28] smoelius commented on #8069
I am wondering if what we're describing should be two lints.

There's essentially two things going on here:
* the composition of `to_vec` with `IntoIterator::into_iter`
* `for x in iter.cloned()`/`copied() { ... }` where the `cloned()`/`copied()` call is unnecessary

Notionally, what we're saying is: notice the first bullet, transform it into the form of the second, and then determine whether the

[2021-12-08 21:51] jwannebo opened #8097 "Suggest `Vec::retain()` in cases of assigning a chain of `.filter().collect()` to the original variable."
### What it does

Guides users to use `Vec::retain()` over various permutations of `into_iter().filter().collect()` if used to assign over the original vector.

### Lint Name

vec_retain

### Category

style, complexity, perf, pedantic

### Advantage

Conciseness, readability, and reuses existing memory (in the `.iter()...copied()` case)

### Drawbacks

Difficulty parsing out particularly complex

[2021-12-08 22:13] guswynn opened #8098 "`redundant_closure` false positive when interacting with `FnMut` closures"
### Summary

This is related to https://github.com/rust-lang/rust-clippy/issues/8073 but I believe it is sufficiently different:

### Lint Name

redundant_closure

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

Clippy suggests this closure is a false positive, but if you take its suggestion, it fails to compile:
[code]

because *you are moving `logic` into the box, instead

[2021-12-08 22:29] c410-f3r opened #8099 "`blocks_in_if_conditions` shouldn't be triggered by a closure"
### Summary

Someway somehow a function closure parameter that returns `{}` triggers `blocks_in_if_conditions` if the function is wrapped inside an `if` condition.

### Reproducer

[code]

### Version

[code]

### Additional Labels

_No response_

[2021-12-08 23:19] est31 commented on #8089
FTR, this doesn't trigger the lint either:

[code]
And the version without the `[..]` compiles on stable.

[2021-12-08 23:44] c410-f3r opened #8101 "[Question] How do deal with `unseparated_literal_suffix` and `separated_literal_suffix` when using `-D clippy::restriction`?"
### Description

`unseparated_literal_suffix` and `separated_literal_suffix` are both market as `restriction` but they conflict with each other when using `-D clippy::restriction`.

[code]

[code]

I think it is clear that such conflict is pretty much wrong

### Version

_No response_

### Additional Labels

_No response_

[2021-12-08 23:57] giraffate commented on #8101
It's recommended that you only enable what you need in the `restriction` category. FYI we have the [`blanket_clippy_restriction_lints`](https://rust-lang.github.io/rust-clippy/master/index.html#blanket_clippy_restriction_lints) lint.

[2021-12-09 00:02] c410-f3r commented on #8101
Yet another use case of https://github.com/rust-lang/cargo/issues/5034

Closing since this situation looks more like a feature than a bug

[2021-12-09 00:02] #8101 closed

[2021-12-09 00:04] giraffate commented on #8095
Looks like the same issue as https://github.com/rust-lang/rust-clippy/issues/7927.

[2021-12-09 06:02] dswij commented on #8090
Huh 🤔 I can take a look on this

@rustbot claim

[2021-12-09 06:03] TonalidadeHidrica opened #8102 "internal compiler error: unexpected panic"
I'm reporting because an unexpected panic happened on running `cargo clippy`.
On the other hand, `cargo check` succeeds without a warning.

The problem is that, if I created a new git worktree (that is, made a exact copy of `src/`, `rust-toolchain`, `Cargo.{toml, lock}` but not of `target`), the error does not reproduce.  So I'm not sure what is the appropriate next action.
[Here](https://github.c

[2021-12-09 06:18] llogiq commented on #8069
I think both variants could be `unnecessary_to_owned` – it's just that with `.copied()`/`.cloned()` only the slice itself is needlessly converted to an owned instance (in this case a `Vec`) while in the reference-only case both the slice and its contents are needlessly converted.

[2021-12-09 06:21] llogiq commented on #8097
There should be a check whether the original `Vec` is used afterwards. Otherwise we'd create false positives.

[2021-12-09 07:40] Volker-Weissmann opened #8103 "`cmp_owned` provides a confusing suggestion"
### Description

Example:
[code]
Why does clippy suggest changing `"hello".to_owned()` into `*"hello"` instead of `"hello"`?

This created [confusion for beginners](https://www.reddit.com/r/learnrust/comments/rccdrz/why_does_clippy_check_for_this/) because dereferencing a string literal isn't something you normally do.

### Version

[code]

### Additional Labels

@rustbot label +C-enhancement

[2021-12-09 09:01] dswij commented on #8102
It looks like this is similar to #8095, happens on `compiler/rustc_hir/src/definitions.rs:452:14`

[2021-12-09 09:14] TonalidadeHidrica commented on #8102
@dswij It seems so, and #8095 seems to be similar to #7927, which in turn to rust-lang/rust#89962.  With so many similar issues, should I close this issue?

[2021-12-09 10:44] BartMassey commented on #8103
In addition, would suggest an addition to the [lint description](https://rust-lang.github.io/rust-clippy/master/index.html#cmp_owned) to point out that comparison operators are implicitly by-reference; this is part of the confusion with `*"hello"` I think.

[2021-12-09 11:13] medwards opened #8104 "`allow(clippy::all)` does not allow lints as expected"
### Summary

I am keeping some modules in my tree that I am not maintaining and don't want to touch. I'd like to add `#![allow(clippy::all)]` so I can use clippy and not see those modules, however I still get warnings unless I explicitly disable the lints. I've also tried allowing `rust-2018-idioms` to no effect.

### Reproducer

I tried this code:

[code]

I expected to see this happen:
Rust play

[2021-12-09 11:21] medwards commented on #8104
Actually, I now see this is working for `clippy::single_char_pattern`, so its a namespacing thing.

`#![allow(warnings)]` catches all the `rustc` lints.

I'm going to leave the bug open still since I think this is a documentation thing still.

"Allowing/denying lints" should explicitly reference [`rustc` Lint Groups](https://doc.rust-lang.org/rustc/lints/groups.html)

[2021-12-09 11:24] llogiq commented on #8104
`unused_mut` and `dead_code` are linted by rustc, not clippy. So you'll likely want to `allow` them in those modules in addition to `clippy::all`.

[2021-12-09 13:47] dhardy opened #8107 "internal compiler error: unexpected panic"

[2021-12-09 13:47] dswij commented on #8102
I think we can close this issue, but it's also good to know that the issue is common

[2021-12-09 13:47] #8104 closed

[2021-12-09 13:54] dhardy commented on #8107
This is probably not a Clippy bug: it happens with `cargo check` too.

[2021-12-09 14:50] jplatte opened #8109 "unnecessary_lazy_evaluations warns about `str::len`"
### Summary

`str::len` within an `unwrap_or_else` seems to cause `unnecessary_lazy_evaluations` to trigger even though it's a method call, not a constant which I assumed to be the only case where `unnecessary_lazy_evaluations` triggers.

### Reproducer

I tried this code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=87140e01d158f909514cd0b45b61a2db)):

[cod

[2021-12-09 14:51] #8102 closed

[2021-12-09 20:54] twanvl opened #8111 "single_char_pattern lint suggests performance regression for strip_prefix/suffix"
### Summary

The lint `single_char_pattern` suggest replacing a string with a char constant, but this actually results in significantly worse performance for wide Unicode characters in `strip_prefix`.

In some sense this is a rust standard library issue, but clippy shouldn't suggest this as an improvement and say "Performing these methods using a char is faster than using a str." when the opposite

[2021-12-09 21:03] Jarcho commented on #8109
This is working as intended. `str::len` is effectively the same as reading a field, which has no reason to be lazily evaluated here.

[2021-12-09 21:42] jplatte commented on #8109
Is `str::len` special-cased? Which other method calls are deemed "effectively the same as reading a field"?

[2021-12-09 22:29] Alexendoo opened #8113 "Incorrect suggestion in `while_let_on_iterator` if iterator cannot be moved"
### Summary

Same as #7846, but for `while_let_on_iterator`

### Lint Name

while_let_on_iterator

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

the suggestion causes the error

[code]

I expected to see this happen:

No lint emitted

### Version

[code]

### Additional Labels

@rustbot label +I-suggestion-causes-error

[2021-12-09 23:16] rail-rain commented on #7080
My apologies for a late reply. There were good arguments and interesting suggestions here. However, to my surprise, my original suggestion is implemented (#7811) independently from this issue. I think the current state is good enough, so I'm closing this issue for now.

[2021-12-09 23:16] #7080 closed

[2021-12-09 23:24] WaffleLapkin commented on #8113
I don't think it's false positive, as there can be correct suggestion:
[code]
i.e. if iterator can't be moved we should suggest using unique references to the said iterator

[2021-12-09 23:38] antonok-edm opened #8114 "Another let_and_return false positive"
### Summary

There are already a few issues involving `let_and_return` false positives with E0597, but all of them are closed. I've found another case that still reproduces on Nightly (very similar to the one fixed by https://github.com/rust-lang/rust-clippy/pull/5680).

### Lint Name

`let_and_return`

### Reproducer

I tried this code:

[code]

The code runs correctly, printing `true` to the con

[2021-12-09 23:46] rail-rain commented on #6635
Update: `eq_op` now ignores all test code (#7811), and therefore Clippy no longer emits an error on `it_works`. This issue can be closed.

[2021-12-09 23:52] Alexendoo commented on #8113
@rustbot label -I-suggestion-causes-error

[2021-12-09 23:53] giraffate commented on #6635
Thanks for letting us know!

[2021-12-09 23:53] #6635 closed

[2021-12-09 23:53] Alexendoo commented on #8113
Whoops, wrong one :eyes:

@rustbot label +I-suggestion-causes-error -I-false-positive

[2021-12-10 00:03] #8099 closed

[2021-12-10 11:11] dimpolo commented on #8043
Minimized:
[code]

[2021-12-10 11:23] sivchari commented on #8083
Can I try it ?

[2021-12-10 11:24] sivchari commented on #8083
@rustbot claim

[2021-12-10 12:28] WaffleLapkin commented on #7846
Also note that adding `as_ref`/`as_mut` is not correct in this case either, since it changes the output type to a double ref (see [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=91916b615c30ce37bec2e938872f6f93))

[2021-12-10 12:31] Pzixel commented on #7117
I think it may be worthwhile to implement as a hard error in rustc itself. I couldn't come with any valid scenario even for `Drop` types. And ever then it could be rewritten with temporary local
[code]

[2021-12-10 13:01] kpcyrd opened #8115 "neg_multiply should show a suggestion"
### Description

[code]

There's no suggestion how this should be done and the [docs](https://rust-lang.github.io/rust-clippy/master/index.html#neg_multiply) just say:

but don't show how this is supposed to be done.

I had to google "how to negate an integer" and clippy should just suggest this:

[code]

### Version

[code]

### Additional Labels

_No response_

[2021-12-10 13:42] hotate29 commented on #7320
I would like to work on this issue. I'm not very familiar with the internals of Clippy, so it may take some time...

[2021-12-10 13:42] hotate29 commented on #7320
@rustbot claim

[2021-12-10 14:25] llogiq commented on #7320
Ok, so I guess you should try checking for `ExprKind::Binary` and then invert the operation instead of surrounding with `!(..)`.

[2021-12-10 15:26] hotate29 commented on #7320
Thank you for the information! I've checked ``` ExprKind::Binary```.
I'm trying to rewrite the implementation of the ```Not``` trait in ```Sugg```.

For example
```<=``` to ```>``` and ```==``` to ```!=```.
For ```&&```, ```||```, etc., we'll still use ```! (..)```. is returned.
https://github.com/rust-lang/rust-clippy/blob/53059792e9a7b7adeff387ceb995a50a6c33b3fa/clippy_utils/src/sugg.rs#L394-L39

[2021-12-10 15:46] hotate29 commented on #7320
However, this measure may have an impact on other codes. In that case, I will implement a process to replace the comparison operator in ``clippy_lints/src/needless_bool.rs``.

https://github.com/rust-lang/rust-clippy/blob/48d939f5166a19529a9e4723ed3bf5bab2314563/clippy_lints/src/needless_bool.rs#L121-L123

[2021-12-10 20:12] Gh0stm4chine commented on #8115
@rustbot claim

[2021-12-11 06:15] mikerite commented on #7117
This looks like an issue with the rustc lint, [unused-assignments](https://doc.rust-lang.org/rustc/lints/listing/warn-by-default.html#unused-assignments), to me.

[2021-12-11 06:19] chorman0773 opened #8116 "clippy::needless_collect suggests rewriting to code that is semantically different"
### Summary

The needless_collect lint applied to `VecDeque::drain` diagnosed a call to collect, when the resulting vector was used in a subsequent iteration statement. However, it doesn't consider an intervening `pop_back` on the same VecDeque, which would alter the semantics of the program (removing the value from `pop_back` first, then draining the range, rather than draining the range, then us

[2021-12-11 09:37] Pzixel commented on #7117
Well you can always add explicit `drop(p)` in the end. It's a bit quircky I agree but how many times anyone would write this `mutate-and-call-drop-to-make-some-side-effect`? It something really weird and weird things deserve to be longer to make people think why they are doing this (hence long `unsafe` method names btw) and they also may be longer for sake of saving general case, which *is* the ca

[2021-12-12 01:49] smoelius commented on #8069
Consider this example (which is meant to be similar to the original example):
[code]
If you drop the `.to_vec()` in the for loop, the resulting code compiles, but `needless_borrow` triggers on `&t` in the call to `get_file_path`. Is that okay?

[2021-12-12 04:41] llogiq commented on #8069
Yes. Otherwise the lint would have to suggest both removing the `.to_vec()` and the borrows, but those suggestions fail in isolation.

[2021-12-12 11:48] smoelius commented on #8069
So, I guess I could add suggestions to remove those `&`, e.g., (typed by hand):
[code]
But that would be overkill?

[2021-12-12 11:55] hellow554 commented on #8069
I think doing two lints in one, could be error prone and sometimes not replicable because a lint is triggered from two different places. So, ... ?

[2021-12-12 12:43] smoelius commented on #8069
Sorry, @hellow554, I'm not sure what you're suggesting. What I wrote was probably unclear.

I meant the lint could suggest to change multiple lines. To elaborate, the error message would look something like this:
[code]

[2021-12-12 13:01] smoelius commented on #8069
So I think the question is: would it be too unruly to have a `remove this` for each relevant `&` in the loop body? Because, in principle, this number could be large.

[2021-12-12 13:38] llogiq commented on #8069
Either this or leave it to the `needless_ref` lint.

[2021-12-12 17:03] fee1-dead commented on #7238
Since #7748 was merged, I am closing this.

[2021-12-12 17:03] #7238 closed

[2021-12-12 20:23] Qwaz commented on #8109
The logic is determined by [`expr_eagerness()`](https://github.com/rust-lang/rust-clippy/blob/5b1b65b876b500e15de45155a04d055ff3cd126f/clippy_utils/src/eager_or_lazy.rs#L95) function. Method names with `len()`, `is_empty()`, and `as_*()` are [recognized](https://github.com/rust-lang/rust-clippy/blob/5b1b65b876b500e15de45155a04d055ff3cd126f/clippy_utils/src/eager_or_lazy.rs#L57).

[2021-12-13 07:49] cemoktra opened #8118 "`bool_assert_comparison`: assert_eq! with a literal bool"
### Description

Hi,

i have a macro which generated a function for use in unit tests which is:
[code]

Clippy indicates in this case that i should use `assert!` but this would mean that i have to write an if/else block to handle both cases.
While this makes sense if i have a hardcoded boolean literal, but in this case i have macro generated boolean literals.

### Version

[code]

### Additional L

[2021-12-13 12:28] smoelius commented on #8069
I think I have this working in #7978.

[2021-12-13 15:09] lopopolo opened #8119 "`unnecessary_cast` false negative on noop calls to `ptr::cast`"
### Summary

Calls to `<pointer>::cast` that do not change the type of the pointer contribute to code noise and are no-ops.

I'd like the complexity lint `unnecessary_cast` to warn on these.

### Lint Name

unnecessary_cast

### Reproducer

I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1498de6e26fef7e004530e792de6b56e

[code]

I expected to see this ha

[2021-12-13 15:27] lopopolo opened #8120 "`ptr_as_ptr` does not trigger inside macros"
### Summary

Casting a pointer with `as` does not trigger for code that comes from macro expansion even if that macro is local to the crate.

### Lint Name

ptr_as_ptr

### Reproducer

I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=62c639bef9acba6c027e0e027999e78e

[code]

I expected to see this happen: warning on the function call and on the function c

[2021-12-13 19:00] josepalafox opened #8121 "Add SARIF Support"
### Description

[SARIF is an OASIS](https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=sarif) standard for outputting Security Alerts in JSON.
GitHub has implemented a feature called[ Code Scanning](https://github.com/features/security), which can consume SARIF reports and display them as inline PR comments. This is available for free for any OSS project.

Would you be open to us adding

[2021-12-13 19:02] josepalafox opened #8122 "Create GitHub Action for Rust-Clippy"
### Description

If adding Sarif Support as outlined in #8121

Write GitHub Action and integration as described [here](https://partner.github.com/integration-resources/2021/03/09/pattern-integrating-with-code-scanning.html).

Result is a GH action that can trigger Rust-Clippy scans during CI and then upload the results to the Code Scanning interface via trivial one click install from the GH UI. Gi

[2021-12-13 19:13] llogiq commented on #8121
Since clippy is reusing the rustc lint machinery for its messages, the best way to go is likely to add this as another output format to the compiler. This would also cover the normal Rust lints.

To do that, you need to change rust, not clippy.

[2021-12-13 21:32] fanzeyi commented on #7839
Agree, I came here to report the same issue. It would be great if clippy can detect this. A very easy mistake to make :)

[2021-12-14 05:45] Enselic commented on #893
I can't reproduce this false positive. The latest code from petgraph is [here](https://github.com/petgraph/petgraph/blob/9ff688872b467d3e1b5adef19f5c52f519d3279c/src/graphmap.rs#L834-L841) and it matches the [original code](https://github.com/rust-lang/rust-clippy/issues/893#issue-152666088) for this issue. But clippy from latest stable Rust 1.57 does not complain:

[code]

So I think we can close

[2021-12-14 06:17] #893 closed

[2021-12-14 07:26] phi-fell opened #8123 "mod_module_files does nothing"
### Summary

TL;DR: clippy::mod_module_files seems to do absolutely nothing, whether as a crate attribute or as a command line arg.

I'm using clippy via rustup

This occurs both on my laptop (WSL, Ubuntu 18.04) as well as a remote server (Ubuntu 20.04), but most of this was done on my laptop, I just checked the command line option on the remote to rule out this being WSL related.

`cargo clippy -

[2021-12-14 07:33] fanzeyi commented on #7839
Hi all, I tried to take this on and I have a working draft. I still need to tidy up -- reducing duplicated code and write tests, but I think I got it mostly working :)

<img width="440" alt="image" src="https://user-images.githubusercontent.com/409951/145953051-805d4fe2-e8f6-42de-9133-44eb5096487e.png">

[2021-12-14 08:02] giraffate commented on #8118
Can you provide a minimal reproduction on the playground?

[2021-12-14 08:26] cemoktra commented on #8118
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d1294390d2e6e3e4a416c600ccbcb74b

[2021-12-14 11:14] matthiaskrgr commented on #8122
Like this?
https://github.com/actions-rs/clippy-check

[2021-12-14 17:17] josepalafox commented on #8122
Yes this integrates the linter into Actions CI, but the goal of this ticket
and the linked ticket would be to enhance it slightly so that it can send
off SARIF to GitHub. Rather than just triggering the scan we could trigger
the scan and send the results to the GH UI as an alert.

On Tue, Dec 14, 2021 at 3:15 AM Matthias Krüger ***@***.***>
wrote:

--
Jose Palafox
Technical Partnerships and Engine

[2021-12-14 20:11] phi-fell commented on #8123
After further investigation, I'm a bit confused.  In an attempt to debug this somewhat I cloned and edited clippy to put in some diagnostics, and followed the steps in basics.md (linked from CONTRIBUTING.md) to install clippy from source.

For some reason running `cargo clippy +nightly-2021-12-02` does not run the edited and recompiled clippy (I tested by editing various lint messages), however ru

[2021-12-14 21:28] doy opened #8124 "unwrap_used not triggered when chained from get() or get_mut()"
### Summary

it appears that the `unwrap_used` lint does not trigger for code of the form `foo.get(i).unwrap()` or `foo.get_mut(i).unwrap()`

### Lint Name

unwrap_used

### Reproducer

I tried this code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2ed9ce35f88fd2d4c16151aeed566134

I expected to see this happen:

all three functions should trigger the `unwrap_used` lint

[2021-12-14 21:37] doy commented on #8003
would it be possible to determine whether the only `Drop` implementation found is for `Box`, and just ignore that case? that feels like it would cover most issues here, and `Box::drop` seems irrelevant to the issue that this lint is trying to catch.

[2021-12-15 00:04] giraffate commented on #8124
We have the [`get_unwrap`](https://rust-lang.github.io/rust-clippy/master/index.html#get_unwrap) lint, so can you use this?

[2021-12-15 03:42] doy commented on #8124
i could, but this still feels like very surprising behavior

[2021-12-15 03:52] goffrie opened #8126 "Lint for named, but unused, futures"
### What it does

In some situations, such as [async-aware Mutexes](https://docs.rs/tokio/latest/tokio/sync/struct.Mutex.html), it is useful to call an async function and bind its result to a variable so that it drops at the end of the scope - e.g. `let _guard = mutex.lock().await`. However, it's probably a mistake to do so _without_ awaiting (or `block_on`, or otherwise consuming) the Future.

Th

[2021-12-15 08:36] giraffate commented on #8124
It might be better to merge `unwrap_used` and `get_unwrap` like [this](https://github.com/rust-lang/rust-clippy/pull/5563). It looks good to post on [the Clippy zulip channel](https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy) to get other's opinions.

[2021-12-15 11:01] #7933 closed

[2021-12-15 11:25] smoelius commented on #8069
@hellow554 #7978 was merged. Maybe we can close this?

[2021-12-15 11:49] hellow554 commented on #8069
@smoelius you could have added this issue to your close keyword so it would have been automatically closed ;)

thanks for the hard work! I really appreciate this! That's amazing work you have done.

[2021-12-15 11:49] #8069 closed

[2021-12-15 15:52] tslater2006 opened #8128 "skip(..).next() lint incorrectly suggest using nth() in some cases"
### Summary

Clippy incorrectly reports that I should switch to using `nth(..)` instead of the `skip(..).next()` but does not account for the fact that my variable is not mutable, and thus cannot use `nth(..)`. I found this while attempting a `cargo clippy --fix` and it applied this fix and caused compile error and prevented any further clippy fixes from being applied.

### Reproducer

I tried thi

[2021-12-15 16:24] kod-kristoff opened #8129 "Index out of bounds when building mir"
When running cargo clippy on kod-kristoff/json-streams-rs
on Termux (Android 7) rust version 1.56.1
[code]

[2021-12-15 17:12] oxalica commented on #7397
I think we should allow label-break usages in replacement of `label_break_value`, since it's not yet stabilized. My use case is almost exact the same as the example of [RFC 2046 lable_break_value](https://uta8a.github.io/rust-rfc-with-ja-dict/2046-label-break-value.html). I think it's acceptable at least.

[code]

[2021-12-15 17:32] kod-kristoff commented on #8129
And with rust 1.57.0 and Clippy 0.1.57
[code]

[2021-12-15 18:19] aeshirey opened #8130 "Clippy should detect opportunities for `into_` variants"
### What it does

Identify places where an `into_*` function variant might be more efficient than cases where a non-`into` plus a `clone` is being used.

### Lint Name

use_into_version

### Category

style, perf

### Advantage

- Removes unnecessary allocations of types by moving them
- Cleans up code

### Drawbacks

_No response_

### Example

[code]

Could be written as:

[code]

[2021-12-15 19:14] aeshirey commented on #8130
Not knowing the internals of clippy, this may be a tough nut to crack, as it would need to identify that an owned value that is being consumed isn't used subsequently used. For example:

[code]

[2021-12-15 23:21] xFrednet commented on #8128
Thank you for the report. I think a good solution would be to add a note that the iterator has to be set to mutable and use `Unspecified` as the `Applicability` if the iterator is immutable.

[2021-12-16 00:51] giraffate commented on #8129
Thanks for the report!

It's a duplicate of https://github.com/rust-lang/rust-clippy/issues/7952, so I'm closing this.

[2021-12-16 00:51] #8129 closed

[2021-12-16 02:02] surechen commented on #8128
Hi. I'm interested in this issue.
@rustbot claim

[2021-12-16 09:26] surechen commented on #8128
Hi, I have a problem, could you help me?

for example:
[code]

The way I can think of is to find stmt 1, then according to stmt -> local -> pat->binding to see if it is mut.
But I don't know how to find stmt 1 according to the hir_id of sp in 2. Is it feasible to find the block of main  through `parent_iter`?
 @xFrednet

[2021-12-16 09:29] cwhakes opened #8131 "Suggest casting bool to int instead of using if statement."
### What it does

Instead of using an if statement to convert a bool to an int, this lint suggests using a coercion or a `from()` function.

### Lint Name

bool_to_int_with_if

### Category

style

### Advantage

- Makes code more concise
- Makes this conversion more discoverable

### Drawbacks

- None

### Example

[code]

Could be written as:

[code]

or

[code]

[2021-12-16 10:08] xFrednet commented on #8128
Hey @surechen, you can get the parent block by using `parent_iter`. `clippy_utils` also has a function for this. However, I think it would be easier to call `path_to_local` on the `self` argument of `skip`. Then you get the `hir_id` of the `pat` which you can then use to retrieve the pattern. With that, you should be able to check the binding type :upside_down_face:

[2021-12-16 10:50] surechen commented on #8128
Thank you very much.

[2021-12-16 14:02] camsteffen commented on #7117
Agreed. This is maybe https://github.com/rust-lang/rust/issues/65467.

[2021-12-16 22:58] galop1n opened #8132 "Incorrect report of needless collect with the sequence from_fn().collect() follow by vec.into_iter().rev().collect()"
### Summary

The iterator in front of the first `collect` is not bi-directional. clippy fail at identify that the subsequent `rev()` would not accept it if the operation were chained as suggested.

### Lint Name

needless_collect

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

### Version

_No response_

### Additional Labels

l-suggestion-c

[2021-12-17 15:14] flip1995 commented on #8122
So the Clippy repo itself won't implement a GitHub action. I also don't see why such an action would be necessary. You can just add

[code]

as a step for your workflow will fail, if there is Clippy output.

IIUC, what you're missing is output in SARIF format? Clippy is able to output JSON with `cargo clippy --message-format=json`, if you use `cargo` and `clippy-driver --error-format=json` if you

[2021-12-18 01:14] fmease opened #8139 "False positive of `same_functions_in_if_condition` with const generics"
### Summary

When searching for instances of `same_functions_in_if_condition`, Clippy appears to treat two expressions (namely the conditions inside of if/else chains) as if they were the same even if they differ by const parameter.

In the example given below, Clippy wrongly assumes that `foo::<{ T::A }>(x) == 0` and `foo::<{ T::B }>(x) == 0` mean the same. Obviously, `T::A` ≠ `T::B` but also `fo

[2021-12-18 02:20] fmease opened #8140 "`return_self_not_must_use` contradicts `double_must_use` for `#[must_use]`-types"
### Summary

With `#![warn(clippy::return_self_not_must_use)]`, Clippy wants me to mark a method returning `Self` with `#[must_use]` even if `Self` is a `#[must_use]`-type.

A `#[must_use]`-type renders any methods returning `Self` `#[must_use]` already. Adding `#[must_use]` on the method is duplication (the method is transitively must-use). Doing so anyway rightly triggers the lint `double_must_u

[2021-12-18 02:46] fmease commented on #8140
cc @GuillaumeGomez #8071

[2021-12-18 05:34] vbkaisetsu opened #8141 "option_if_let_else suggests invalid code when using mut references in the else clause"
### Summary

There is a conditional branching code that uses `if let else` for the return value of `HashMap::get_mut()`.
Even though the else clause of this code uses a mutable reference of the HashMap, `option_if_let_else` suggests to use `map_or_else()`, but the suggested code causes an error in the borrow checker.

### Lint Name

option_if_let_else

### Reproducer

I tried this code:

[code]

I

[2021-12-18 10:15] GuillaumeGomez commented on #8140
Ah indeed, I'll add a check to ensure a `must_use` method doesn't emit this warning.

[2021-12-18 12:42] jendrikw opened #8142 "wrong_self_convention: FN with `is_*` taking `&mut self`"
### Summary

My interpretation of the table at https://rust-lang.github.io/rust-clippy/master/index.html#wrong_self_convention is that a method called `is_*` is allowed to take no self, or `&self`, but not `self` or `&mut self`. In reality, only `self` produces a warning. Is this intentional?

### Lint Name

wrong_self_convention

### Reproducer

I tried this code:

[code]

I expected to see this

[2021-12-18 12:49] jendrikw commented on #8142
This issue was files because intellij-rust warns for both `&mut self` and `self` and it wants to be consistent with clippy. See intellij-rust/intellij-rust#7557.

![image](https://user-images.githubusercontent.com/12938023/146641625-b6b9706c-0956-4e1c-8953-156ee7a53d0a.png)
(The yellow background is a warning from intellij-rust, the yellow underline is from clippy.)

[2021-12-18 15:20] #8140 closed

[2021-12-18 19:08] Kylebrown9 commented on #8055
As another example of this, I got the same warning when collecting join handles into a `Vec` from an iterator.

[code]

If I do not collect and simply use the iterator later, then the threads are not spawned when they should be.

[2021-12-19 05:16] mikerite commented on #8142
I agree. It should warn on `&mut self`.

[2021-12-19 11:19] Kage-Yami opened #8145 "`doc-valid-idents` in `clippy.toml` being ignored"
### Summary

I'm attempting to add a new element to `doc-valid-idents` in `clippy.toml` to ignore a GitHub username, but it doesn't seem to be taking any effect, as `clippy:doc_markdown` still flags it.

### Reproducer

I tried this code:

[code]

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

### Version

[code]

### Additional Labels

_No response_

[2021-12-19 11:24] Kage-Yami commented on #8145
Oh. It's working now after I nuked `./target`. So perhaps this could be a suggestion to tweak the README to add a comment that cached compilation artifacts can reuslt in this causing false positives if the config is added after the lint originally triggers?

[2021-12-19 17:26] Serial-ATA commented on #8020
Oops, I was using an older version when I testing. The latest nightly works, it was probably #7945.

[2021-12-19 17:44] CraftSpider commented on #8020
I made sure to update before posting, but a couple days after my post a nightly update fixed it, so probably same issue for me too.

[2021-12-19 18:53] xFrednet commented on #8145
Thanks for the report, caching currently sadly ignores changes to the configuration. This is the second issue I've seen on the topic. It might be good to document this in the readme until it is fixed :+1:. Would you like to do that?

I'll also add some labels related to fixing the actual underlying issue, of the cache ignoring configuration changes :upside_down_face:

[2021-12-19 22:00] codybloemhard opened #8147 "Clippy breaks when a struct was renamed in definition only."
### Summary

I wanted to rename a struct so I started by the definition and compiled, which in my case is always `cargo clippy --all-features`. It crashed after giving the errors. It does not crash with `cargo check`. I don't have time to reduce all the code but trying a very simple case does not crash so it's something more complicated than this:
[code]
I left a branch on my public repo that has

[2021-12-19 22:20] ocdy1001 commented on #8147
So, the struct was named `TraceKernelReal` and I wanted to name it `TraceKernelWhitted`. As described in the comment at `src/kernels.rs` at line 96, when I name it back to that it works again. I went back and forth to check it multiple times to check. But now that I went on with my work and renamed it `TraceKernelWhitted` and resolved the errors, it still crashes. `cargo check` compiles fine and t

[2021-12-20 00:05] giraffate commented on #8124
It was discussed here: https://rust-lang.zulipchat.com/#narrow/stream/257328-clippy/topic/Merge.20.60get_unwrap.60.20and.20.60unwrap_used.60

[2021-12-20 00:21] giraffate commented on #8020
It has been fixed in latest nightly, so I'm closing this. If you have any problem on this, feel free to open this or comment here. Thanks!

[2021-12-20 00:21] #8020 closed

[2021-12-20 01:15] teor2345 opened #8148 "`unnecessary_to_owned` suggestion causes error when iterator is re-borrowed mutably within a loop"
### Summary

When running:
[code]

On https://github.com/ZcashFoundation/zebra/tree/410133435e875336875aab32c338a284470ceab4/zebra-chain

I get an error:

### Lint Name

unnecessary_to_owned

### Reproducer

I tried this code:

[code]

https://github.com/ZcashFoundation/zebra/blob/410133435e875336875aab32c338a284470ceab4/zebra-chain/src/block/arbitrary.rs#L554-L578

I saw this happen:

[code]

I e

[2021-12-20 02:06] pmnoxx opened #8149 "Unnecessary copy for reference"
### What it does

https://github.com/near/nearcore/pull/5891#discussion_r771833909

Background:
I ran `cargo --fix` and it resulted in
[code]
being transformed into this.
[code]

`&(*hash)` Is just an unnecessary copy. I can be written as `&(*hash)` in this case.

### Lint Name

copy_for_reference

### Category

_No response_

### Advantage

- Readability
- Performance

### Drawbacks

- Uknown

##

[2021-12-20 19:06] josepalafox commented on #8122
Thank you for the infromation. I think what we can do is see if we can just make an intermediary action to munge the existing output into SARIF and upload it, then support does not need to be added to rustc. @michaelcfanning and @yongyan-gh does this approach make sense? Basically we use the existing action to run the linter, a second action to munge, and then a third to upload and string all of t

[2021-12-20 19:13] flip1995 commented on #8122
We don't have a logo right now. As for a text, just use the first sentence (and more, if you want) from the README:

[2021-12-20 19:57] yongyan-gh commented on #8122
@josepalafox pls confirm my understanding based on your proposal:
A new github action should be created includes 3 steps:
1. Calls existing rust clippy action (https://github.com/actions-rs/clippy-check) to generate JSON output.
2. Calls an action to convert clippy JSON output into SARIF format.
3. Upload SARIF file converted from clippy JSON using existing action (e.g. github/codeql-action/upload

[2021-12-20 20:00] josepalafox commented on #8122
Yes.

Ideally it lives in the Clippy repo if y'all are open to accepting the PR, @flip1995 & @matthiaskrgr ?

[2021-12-20 20:01] xNxExOx opened #8151 "almost_swapped with let"
### Summary

[code]
produces lint correctly, but adding `let` does not:
[code]

### Lint Name

almost_swapped

### Reproducer

I tried this code:

[code]

I expected to see this happen:

Instead, this happened:
[code]

### Version

[code]

[2021-12-20 22:58] xFrednet commented on #8122
The JSON output is handled by rustc. You can find the official documentation here: https://doc.rust-lang.org/rustc/json.html

[2021-12-20 23:37] flip1995 commented on #8122
@yongyan-gh

1. You don't necessary need to use the clippy-check action. You can just run ``cargo clippy`` without an action. It is pre-installed in GHA hosted runners.
2. An action / script / ... that converts the JSON output from Clippy / Rust to SARIF should be enough. As @xFrednet said, this is all handled and shared with rustc. So Clippy outputs the same format as rustc. You may want to make

[2021-12-21 00:19] smoelius commented on #8148
I'll get started on a fix right away.

[2021-12-21 00:54] giraffate commented on #8147
It seems to be duplicate of https://github.com/rust-lang/rust/issues/91511.

[2021-12-21 07:30] teor2345 commented on #8148
Thanks!

I'm not sure if this will help, but here's the workaround we ended up merging:
[code]

We felt it was clearer than the original code.

[2021-12-21 09:46] smoelius commented on #8148
That is helpful. Thank you, @teor2345.

[2021-12-21 12:09] Cypher1 commented on #5270
Can someone link me to the issue where it was decided to not ship to crates.io anymore? I used to be able to build from source using `cargo install` and rustup doesn't support my platform

[2021-12-21 12:28] flip1995 commented on #5270
You can still install Clippy from source. For this see our [documentation](https://github.com/rust-lang/rust-clippy/blob/master/doc/basics.md#install-from-source).

There's not a real issue about this. Since Clippy got distributed via rustup, publishing it on crates.io doesn't make sense for us. The PR where we stopped publishing is #3247

[2021-12-21 12:43] Cypher1 commented on #5270
Sure, but before it was easy, now I'm going to have to do a multistep process because having two ways to install it was a boy odd? There's probably more to it than that but it's annoying when something that used to work stops working without a clear reason for the lack of support

[2021-12-21 12:49] Cypher1 commented on #5270
It also looks like the rust-clippy build script only works with the nightly compiler, can you confirm this?

[2021-12-21 12:54] matthiaskrgr commented on #5270
Yes, but you were never able to build "any" version of clippy with "any" version of the compiler I think.
Nightly clippy builds used to break all the time back then.

The nighty version that the repo is guaranteed to build with is set via the `rust-toolchain` file.

[2021-12-21 13:40] danieleades commented on #6625
[arti](https://gitlab.torproject.org/tpo/core/arti) is doing something very similar to Embark, using a python script to find and replace compiler flags. There's got to be a better way...

[2021-12-21 14:06] Cypher1 commented on #5270
I've checked out rust-clippy's stable tag, removed the nightly only flags (as I don't have a nightly compiler), and now I'm directed to use rustup for get additional sources.
Is my only avenue forward (back to the workflow I had previously) to build significant chunks of rust from source?

Please don't understand me as saying it's wrong to tie clippy to rustup. I'm not, it might make sense for the

[2021-12-21 15:02] matthiaskrgr commented on #5270
Clippy is kind of tied to the compiler. Cippy asks the compiler for its representation of the code, runs some lints, returns the results back to the compiler and then rustc prints the lint warnings that we all love.

So clippy directly uses a bunch of rustcs compiler internal APIs/functions/data structures etc.
Since the compiler changes rapidly, this previously meant that clippys code needed to b

[2021-12-21 15:20] flip1995 commented on #5270
So IIUC you only have a stable `rustc` and no rustup? I assume you have access to cargo? On what target are you trying to build Clippy? With that information I may be able to give you a better suggestion on how to move forward.

[2021-12-21 16:47] kangalioo commented on #7271
Perhaps this issue should be added to the known problems in https://rust-lang.github.io/rust-clippy/master/index.html#needless_lifetimes?

[2021-12-21 23:25] Cypher1 commented on #5270
Thank you! That explains it and is really helpful to understand.

You're right, I have a stable rustc and cargo which are patched by the
Termux maintainers to run on 'aarch64-linux-android', but there's no
patched rustup at the moment. It seems like a big job to get rustup to
support a new arch, and though the generic aarch64 might work, I haven't
been able to get rustup to try to use it.

Thanks

[2021-12-21 23:43] giraffate commented on #8141
The reproduction on the playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0b7a467d0a5debdb45fbee8a74e34c81

[2021-12-22 06:52] lambda-fairy opened #8152 "new-without-default should not trigger on `#[doc(hidden)]` items"
### Summary

I have an `HtmlBuilder` type that can only be constructed by a macro (`html!`). It achieves this by marking its `new` method as `#[doc(hidden)]`.

Implementing `Default` would defeat the purpose of the `#[doc(hidden)]`, as users could bypass the intended macro API.

### Lint Name

new-without-default

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected t

[2021-12-22 11:05] jplatte opened #8153 "field_reassign_with_default triggers inside `macro_rules!` macro"
### Summary

For a macro, it might not always be practical to replace a field reassign after (default) initialization with a struct literal. In the case of [this test](https://docs.rs/assign/1.1.1/src/assign/lib.rs.html#142-145), the only purpose of the macro being tested is providing struct-update like syntax but using assignments under the hood.

### Lint Name

field_reassign_with_default

### R

[2021-12-22 12:23] flip1995 commented on #5270
Thanks for the information! `aarch64-linux-android` is a [Tier 2 platform without host tools](https://doc.rust-lang.org/nightly/rustc/platform-support.html#tier-2), which means, that the rust project currently doesn't ship any tools and with that also doesn't ship `rustc-dev`, which is required to compile Clippy. So the only way to natively compile Clippy for `aarch64-linux-android` is to compile

[2021-12-22 15:22] Cypher1 commented on #5270
Yes, I understand the tier situation.

Thanks for exploring the steps but I hope it's clear how distributing
things through anything other than cargo seems significantly worse for
users who aren't always on fully supported platforms.

I mean, that's kinda what being unsupported is, so it's a cost benefit
analysis thing. Totally understand if it's too costly to do, just galling
for me that it used

[2021-12-22 15:28] Luminoth opened #8154 "manual_swap suggests invalid multiple mutable borrow"
### Description

Given the following function:

[code]

Clippy is suggesting the following:

[code]

which produces the following error:

[code]

It looks like this may have been fixed in https://github.com/rust-lang/rust-clippy/issues/981 and then maybe reintroduced?

### Version

[code]

### Additional Labels

_No response_

[2021-12-22 16:19] jplatte commented on #4707
This is a rustc lint now, no need to add it to clippy: https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#unused-qualifications

[2021-12-22 16:44] flip1995 commented on #5270
Yeah, you could make the case to add host tool support to aarch64-linux-android in rust-lang/rust. Though I don't know how much work that would be.

It would surprise me if there would be any difference if we'd publish it on crates.io. "used to work so nicely" must be years ago, where all the rustc_* crates were still shipped in rust-std: https://github.com/rust-lang/rust/pull/64823.

Not at all!

[2021-12-22 23:30] 5225225 opened #8155 "`explicit_counter_loop` suggests .into_iter(), despite that triggering `into_iter_on_ref` in some cases"
### Summary

I'm not sure if this is worth doing in the general case, but if you manually have a loop counter over an iterator over a slice, you'll be told to use `slice.into_iter().enumerate()`, but following that and re-running clippy will have clippy tell you to turn that `into_iter` into an `iter`.

### Reproducer

I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&editi

[2021-12-22 23:41] giraffate commented on #4707
Thanks! I'm closing this because of https://github.com/rust-lang/rust-clippy/issues/4707#issuecomment-999700713.

[2021-12-22 23:41] #4707 closed

[2021-12-23 02:03] 1Dragoon commented on #8015
Sorry was away for a while, just updated it

[2021-12-23 03:09] rowan-sl opened #8156 "needless_return autofix does not remove semicolons when creating implicit returns, causing them to fail"
### Summary

In some cases in functions using match statements where it would make a lot of sense to use a implicit return, when clippy attempts to autofix this, it does not correctly remove the semicolons necessary to crate a implicit return, or in some cases thinks it has not, but actuality has.

possibly useful:
- Rust edition: 2021
- no dependancies

also this is my first bug report here, so p

[2021-12-23 03:32] bsimon12 commented on #8131
@rustbot claim

[2021-12-23 03:48] pmnoxx commented on #7250
+1, I see a lot of code in our code base that's like
`tmp.get(arg).cloned().unwrap_or(0u64)`
or
`dict.get(arg).unwrap_or(HashMap::new())`

[2021-12-23 07:12] humb1t opened #8158 "Clippy fails from time to time with `Option::unwrap` on None"
CI fails to pass clippy check sometimes (restart without code changes usually helps).
Error caused by unwrapping None in rustc:

[code]
Unfortunately can't share the codebase, but hope this information is useful.

[2021-12-23 07:18] humb1t commented on #8158
Found issue in rustc: https://github.com/rust-lang/rust/issues/91988

[2021-12-23 10:04] rukai opened #8159 "False positive `assertions_on_constants`"
### Summary

`assert!(true) will be optimized out by the compiler` is given when asserting on constants.
Asserting on constants is very important for ensuring various kinds of invariants are upheld.

The example given in the recent announcement for [panic in const contexts functionality](https://blog.rust-lang.org/2021/12/02/Rust-1.57.0.html#panic-in-const-contexts) doesn't reproduce the issue but

[2021-12-23 10:21] #8115 closed

[2021-12-23 10:28] MarcelCoding commented on #3971
It is doing it again. I updated the example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f1d0ac1aa9020c047580ac51061f1af5

[2021-12-23 10:38] flip1995 commented on #3971
What prevents you from just using `&dyn Whatever` in this example? According to the [lint documentation](https://rust-lang.github.io/rust-clippy/master/index.html#borrowed_box) this is exactly the case this lint was made for.

[2021-12-23 12:06] flip1995 commented on #5064
Duplicate of #8159 , which has some more details.

[2021-12-23 12:06] #5064 closed

[2021-12-23 12:08] flip1995 commented on #8159
Thanks for the report. This is currently expected behavior. The question is if it is the right behavior. I lean towards, that it isn't.

[2021-12-23 12:12] flip1995 commented on #8121
Since this can't be done in Clippy, but only in rustc, and there is already some discussion in #8122 about this, I'm closing this issue.

[2021-12-23 12:12] #8121 closed

[2021-12-23 12:29] kpcyrd commented on #8115
@Gh0stm4chine Thank you!

[2021-12-23 13:05] MarcelCoding commented on #3971
Whatever is a trait an at the point without a reference I have to box the trait.

[2021-12-23 14:18] xanathar commented on #3971
Can you do like `this_is_fine` in this example?

[code]

[2021-12-23 14:40] flip1995 commented on #3971
Alternatively `this_is_fine(wt.as_ref())`. The advantage of having it as just `&dyn _` is that if you have a concrete type that you want to pass to the function, you don't have to box it. So with `this_is_fine` you can just call `this_is_fine(&Something)`. But with `this_triggers_clippy` you have to box `Something` first: `this_triggers_clippy(&Box::new(Something))`. [Playground](https://play.rust

[2021-12-23 17:35] MarcelCoding commented on #3971
Thanks, with the help of your example I got it working. I think it would be helpful for others to include this conversation in the message provided by clippy.

[2021-12-23 19:41] Mirko-von-Leipzig opened #8160 "Bad suggestion to `clone_from_slice` from `VecDeque`"
### Summary

Copying items from `VecDeque` to an array using a for-loop triggers a `manual_memcpy` lint.

The suggested code does not work since `VecDeque` is not trivially sliceable i.e. `&vec_deque[..]` is not valid code.

### Lint Name

manual-memcpy

### Reproducer

I tried this code:

[code]

I saw this happen:

[code]

I expected to see this happen:

Probably no lint? Or one needs to do two

[2021-12-23 20:38] llogiq commented on #8160
@rustbot label +I-suggestion-causes-error

[2021-12-23 21:05] flip1995 commented on #3971
Hard to include all of this in the message, but we should improve the documentation a bit.

[2021-12-23 21:08] flip1995 opened #8161 "Improve documentation of `borrowed_box`"
### Description

This came up in #3971.

The documentation could need some improvement. It should mention, that by removing the Box from ``&Box<T>``, you no longer have to box the parameter when it is passed to the function. For more information, see the discussion in #3971.

### Version

_No response_

### Additional Labels

_No response_

[2021-12-23 21:11] jendrikw opened #8162 "`I::Item: Clone, J::Item: Clone` triggers FP"
### Summary

This only happens when using both `J::AssociatedType` and one the types is `Self`.

### Lint Name

type_repetition_in_bounds

### Reproducer

I tried this code [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=%23%5Bwarn(clippy%3A%3Atype_repetition_in_bounds)%5D%0A%0Atrait%20T%3A%20Iterator%20%7B%0A%20%20%20%20fn%20f%3CJ%3E(self%2C%20_%3A%20J)%0A%20%

[2021-12-23 22:23] MarcelCoding commented on #3971
Ether that, I rather thought about a link to this conversation.

[2021-12-24 00:50] giraffate commented on #7250
Oh, we've already have the [`unwrap_or_else_default`](https://rust-lang.github.io/rust-clippy/master/index.html#unwrap_or_else_default) lint.

[2021-12-24 01:56] pmnoxx commented on #7250
Yes, I saw that. Though it only works when used with `<TYPE>::default`.
Some values, like `0u64 == u64::default`, but the link will not work for them.

[2021-12-24 01:58] pmnoxx commented on #7250
@giraffate Maybe, there should be another int, let's call it

name: `use_default`.
Example:
[code]
Warnings message:
`0u64` could be replaced with `u64::default`

This way, we would convert values to default, and then `unwrap_or_else_default` would do the rest of the work.

[2021-12-24 02:13] giraffate commented on #7250
IMO [`or_fun_call`](https://rust-lang.github.io/rust-clippy/master/index.html#or_fun_call) should cover these cases.

I don't want to make Clippy run multiple times. I want it to suggest the desired code once.

[2021-12-24 02:32] pmnoxx commented on #7250
I'm wondering whenever something like this would work: https://github.com/rust-lang/rust-clippy/pull/8163

[2021-12-24 13:27] jendrikw commented on #8162
I've found another example: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=%23!%5Bwarn(clippy%3A%3Atype_repetition_in_bounds)%5D%0A%0Apub%20struct%20ZipAll%3CI%3A%20Iterator%2C%20J%3A%20Iterator%3E(I%2C%20J)%3B%0A%0Aimpl%3CI%3A%20Iterator%2C%20J%3A%20Iterator%3E%20ZipAll%3CI%2C%20J%3E%0Awhere%0A%20%20%20%20I%3A%3AItem%3A%20Clone%2C%0A%20%20%20%20J%3A%3AItem%3A

[2021-12-24 21:16] ammongit opened #8164 "Clippy fails to compute type ("failed to lookup `SourceFile` in new context")"
This [GitHub workflow is failing](https://github.com/scpwiki/wikijump/runs/4623778342?check_suite_focus=true) with the following:
[code]

The relevant type is [`/deepwell/src/web/ratelimit.rs`](https://github.com/scpwiki/wikijump/blob/develop/deepwell/src/web/ratelimit.rs#L51) (declared as `Arc<RateLimiter<IpAddr, DefaultKeyedStateStore<IpAddr>, DefaultClock>>`), which sources its internals from t

[2021-12-25 06:47] hackmad opened #8166 "Clippy crashes with unexpected panic"
**OS:** MacOS 12.1 (Intel)
**Rust version:** rustc 1.57.0 (f1edd0429 2021-11-29)
**Project Source:** https://github.com/hackmad/pbr_rust

[code]

[2021-12-25 12:09] llogiq commented on #8166
Very probably [clippy_lints/src/casts/unnecessary_cast.rs#L52](https://github.com/rust-lang/rust-clippy/blob/8529b2a0561dcee254ee1447aa6bd5d69812b697/clippy_lints/src/casts/unnecessary_cast.rs#L52). I'll push a PR to fix that by simply not linting if that's a `None`.

[2021-12-25 12:13] #8087 closed

[2021-12-25 13:00] jmg-duarte opened #8169 "Suggest extend over for_each for element insertion"
### What it does

The lint should detect/convert code which uses a `.for_each` containing a single `.insert` into an `.extend` call.

### Lint Name

for_each_insert_into_extend

### Category

style

### Advantage

The code becomes much cleaner and easier to understand.

Mentally, I read the first example as follows:
- Get all keys from `self.state_machine_info.det_states`
- For each key
  - Insert

[2021-12-25 13:52] #8166 closed

[2021-12-25 14:20] dswij commented on #8156
@rustbot claim

[2021-12-25 15:12] llogiq commented on #7985
@rustbot claim

[2021-12-25 19:37] Serial-ATA commented on #8164
https://github.com/rust-lang/rust/issues/92163

[2021-12-25 20:46] wtfsck opened #8171 "`cargo clippy` is sometimes >20x slower than `cargo check` (since `1.58.0`)"
### Summary

`cargo +beta check` takes ~1min to run but `cargo +beta clippy` takes ~23mins to run.

There's a Rust 1.57.0 issue ([maybe this one](https://github.com/rust-lang/rust/issues/91598)) that makes compiling some code really slow. However there's no problem with clippy 0.1.57, only with 0.1.58 so I think this is a clippy issue.

### `cargo check`

This is normal.

time | command
--|--
0m56

[2021-12-25 22:35] llogiq commented on #8171
Clippy isn't really optimized, however, it might be beneficial to try and collect a profile to see where the time is spent.

[2021-12-26 02:54] kangalioo opened #8172 "Warn if error message doesn't conform to style guideline"
### What it does

According to the [Rust API Guidelines](https://rust-lang.github.io/api-guidelines/interoperability.html#error-types-are-meaningful-and-well-behaved-c-good-err):

Clippy could make sure that error message are lowercase without trailing punctuation, by checking
- the `Display` impl on types that have an `Error` impl
- `.ok_or("error message")`, `.map_err(|_| "error message")` and s